@import 'variables';

/**
 * Span
 * ---
 * A component that sets the flex-basis and max-width of a flexed element.
 */

.span_auto {
  flex: 0 0 auto;
  max-width: none;
}

@for $i from 1 through $span-columns {
  .span_#{$i} {
    flex: 0 0 (100% * ($i/$span-columns));
    max-width: (100% * ($i/$span-columns));
  }
}

/**
 * Span breakpoints modifiers
 * ---
 * Adds a breakpoint to a specific span element.
 */

@each $name, $value in $breakpoints {
  @include media-min($name) {

    .span_auto_#{$name} {
      flex: 0 0 auto;
      max-width: none;
    }

    @for $i from 1 through $span-columns {
      .span_#{$i}_#{$name} {
        flex-basis: (100% * ($i/$span-columns));
        max-width: (100% * ($i/$span-columns));
      }
    }
  }
}
