@use "@vrembem/core";
@use "./variables" as var;

#{core.bem("icon", null, "size", "xs")} {
  stroke-width: var.$size-xs-stroke-width;
  font-size: var.$size-xs;
}

#{core.bem("icon", null, "size", "sm")} {
  stroke-width: var.$size-sm-stroke-width;
  font-size: var.$size-sm;
}

#{core.bem("icon", null, "size", "lg")} {
  stroke-width: var.$size-lg-stroke-width;
  font-size: var.$size-lg;
}

#{core.bem("icon", null, "size", "xl")} {
  stroke-width: var.$size-xl-stroke-width;
  font-size: var.$size-xl;
}
