@use "./variables" as var;
@use "./mixins" as mix;

$_b: #{var.$prefix-block};
$_m: #{var.$prefix-modifier};
$_v: #{var.$prefix-modifier-value};

.#{$_b}icon#{$_m}style#{$_v}stroke {
  @include mix.icon-style("stroke");
}

.#{$_b}icon#{$_m}style#{$_v}fill {
  @include mix.icon-style("fill");
}
