@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "./mixins" as mix;

#{core.bem("icon")} {
  @include mix.style(config.get("icon-style", "default"));

  box-sizing: content-box;
  display: inline-block;
  flex-shrink: 0;
  font-size: css.get("icon", "size", core.resolve-nth(config.get("icon-size", "default"), 1));
  height: 1em;
  vertical-align: top;
  width: 1em;
}
