@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;
@use "./mixins" as mix;

#{core.bem("icon")} {
  @include mix.icon-style(var.$style);

  box-sizing: content-box;
  display: inline-block;
  flex-shrink: 0;
  font-size: css.get("icon", "size");
  height: 1em;
  vertical-align: top;
  width: 1em;
}
