@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

/// Outputs the required properties for a specific icon style.
///
/// @param {string} $style
///   The name of the styles to apply. Can be either "stroke", "fill" or "both".
///
@mixin style($style) {
  @if $style == "stroke" {
    fill: none;
    stroke: css.get("icon", "color", currentcolor);
    stroke-width: css.get("icon", "stroke-width", core.resolve-nth(config.get("icon-size", "default"), 2));
  } @else if $style == "fill" {
    fill: css.get("icon", "color", currentcolor);
    stroke: none;
    stroke-width: 0;
  } @else if $style == "both" {
    fill: css.get("icon", "color", currentcolor);
    stroke: css.get("icon", "color", currentcolor);
    stroke-width: css.get("icon", "stroke-width", core.resolve-nth(config.get("icon-size", "default"), 2));
  } @else {
    @error 'Not a valid icon style: "#{$style}"';
  }
}
