@use "@vrembem/core";

@mixin icon-style($style) {
  @if ($style == "stroke") {
    stroke: core.css("icon-color");
    stroke-width: core.css("icon-stroke-width");
    fill: none;
  }

  @else if ($style == "fill") {
    stroke: none;
    stroke-width: 0;
    fill: core.css("icon-color");
  }

  @else {
    stroke: core.css("icon-color");
    stroke-width: core.css("icon-stroke-width");
    fill: core.css("icon-color");
  }
}
