@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$style: "stroke" !default;
$size: 1.25em !default;
$stroke-width: 2px !default;
$stroke-linecap: round !default;
$stroke-linejoin: round !default;
$vertical-align: top !default;

$size-xs: 0.75em !default;
$size-xs-stroke-width: null !default;

$size-sm: 1em !default;
$size-sm-stroke-width: null !default;

$size-lg: 1.75em !default;
$size-lg-stroke-width: null !default;

$size-xl: 2.25em !default;
$size-xl-stroke-width: null !default;
