@import "@vrembem/core";

$icon-style: "stroke" !default;
$icon-font-size: 1.25em !default;
$icon-stroke-width: 2px !default;
$icon-stroke-linecap: round !default;
$icon-stroke-linejoin: round !default;
$icon-vertical-align: top !default;
