$icon-font-size: 1.25em !default;
$icon-font-size-sm: 1em !default;
$icon-font-size-lg: 2em !default;
$icon-padding: null !default; // Example: 0.1em

$icon-fill: none !default;
$icon-stroke: currentColor !default;
$icon-stroke-linecap: round !default;
$icon-stroke-linejoin: round !default;
$icon-stroke-width: 2px !default;
