@import "./variables";

.icon {
  display: inline-block;
  box-sizing: content-box;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  padding: $icon-padding;
  stroke: $icon-stroke;
  stroke-width: $icon-stroke-width;
  stroke-linecap: $icon-stroke-linecap;
  fill: $icon-fill;
  font-size: $icon-font-size;
  vertical-align: middle;
  stroke-linejoin: $icon-stroke-linejoin;
}
