@import "variables";

.icon_size_sm {
  font-size: $icon-font-size-sm;

  &.icon_abs {
    font-size: strip-unit($icon-font-size-sm) * 1rem;
  }
}

.icon_size_lg {
  font-size: $icon-font-size-lg;

  &.icon_abs {
    font-size: strip-unit($icon-font-size-lg) * 1rem;
  }
}
