.badge_color_primary {
  color: $primary;
  background: rgba($primary, 0.1);

  &.badge_link:hover {
    background: rgba($primary, 0.2);
  }
}

.badge_color_dark {
  color: $white;
  background: $gray-800;

  &.badge_link:hover {
    background: darken($gray-800, 10%);
  }
}

.badge_color_light {
  color: $color;
  background: rgba($white, 0.6);

  &.badge_link:hover {
    background: rgba($white, 1);
  }
}

.badge_color_red {
  color: $white;
  background: $red;

  &.badge_link:hover {
    background: darken($red, 10%);
  }
}

.badge_color_pink {
  color: $white;
  background: $pink;

  &.badge_link:hover {
    background: darken($pink, 10%);
  }
}

.badge_color_purple {
  color: $white;
  background: $purple;

  &.badge_link:hover {
    background: darken($purple, 10%);
  }
}

.badge_color_deep-purple {
  color: $white;
  background: $deep-purple;

  &.badge_link:hover {
    background: darken($deep-purple, 10%);
  }
}

.badge_color_indigo {
  color: $white;
  background: $indigo;

  &.badge_link:hover {
    background: darken($indigo, 10%);
  }
}

.badge_color_blue {
  color: $white;
  background: $blue;

  &.badge_link:hover {
    background: darken($blue, 10%);
  }
}

.badge_color_light-blue {
  color: $white;
  background: $light-blue;

  &.badge_link:hover {
    background: darken($light-blue, 10%);
  }
}

.badge_color_cyan {
  color: $white;
  background: $cyan;

  &.badge_link:hover {
    background: darken($cyan, 10%);
  }
}

.badge_color_teal {
  color: $white;
  background: $teal;

  &.badge_link:hover {
    background: darken($teal, 10%);
  }
}

.badge_color_green {
  color: $white;
  background: $green;

  &.badge_link:hover {
    background: darken($green, 10%);
  }
}

.badge_color_light-green {
  color: $white;
  background: $light-green;

  &.badge_link:hover {
    background: darken($light-green, 10%);
  }
}

.badge_color_lime {
  color: $color;
  background: $lime;

  &.badge_link:hover {
    background: darken($lime, 10%);
  }
}

.badge_color_yellow {
  color: $color;
  background: $yellow;

  &.badge_link:hover {
    background: darken($yellow, 10%);
  }
}

.badge_color_amber {
  color: $color;
  background: $amber;

  &.badge_link:hover {
    background: darken($amber, 10%);
  }
}

.badge_color_orange {
  color: $white;
  background: $orange;

  &.badge_link:hover {
    background: darken($orange, 10%);
  }
}

.badge_color_deep-orange {
  color: $white;
  background: $deep-orange;

  &.badge_link:hover {
    background: darken($deep-orange, 10%);
  }
}
