$badge-color: $white !default;
$badge-color-hover: $white !default;

$badge-padding: 0 0.25rem !default;

$badge-font-size: 0.875em !default;
$badge-line-height: 1.325em !default;

$badge-inner-spacing: 0.5em !default;

$badge-background: $secondary !default;
$badge-background-hover: darken($secondary, 10%) !default;

$badge-border-radius: $border-radius !default;
$badge-border: 1px solid transparent !default;
$badge-border-hover: 1px solid transparent !default;

$badge__chip-padding: px-to-rem(2px) !default;
$badge__chip-font-size: px-to-rem(12px) !default;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $badge-padding;
  color: $badge-color;
  font-size: $badge-font-size;
  line-height: $badge-line-height;
  background: $badge-background;
  border: $badge-border;
  border-radius: $badge-border-radius;

  .badge__action {
    padding: $badge__chip-padding;
    font-size: $badge__chip-font-size;

    &:first-child {
      margin: 0 0.5rem 0 -0.25rem;
    }

    &:last-child {
      margin: 0 -0.25rem 0 0.5rem;
    }
  }

  > * + * {
    margin-left: $badge-inner-spacing;
  }
}
