$notice_type-font-weight: font-weight('semi-bold') !default;
$notice_type-border-color: null !default;

.notice_type_info {
  color: darken($primary, 10%);
  background: rgba($primary, 0.1);
  border-color: rgba($primary, 0.5);

  a {
    color: darken($primary, 10%);
    font-weight: $notice_type-font-weight;
    border-color: $notice_type-border-color;

    &:hover {
      color: darken($primary, 10%);
      border-color: darken($primary, 10%);
    }
  }
}

.notice_type_success {
  color: darken($success, 10%);
  background: rgba($success, 0.1);
  border-color: rgba($success, 0.5);

  a {
    color: darken($success, 10%);
    font-weight: $notice_type-font-weight;
    border-color: $notice_type-border-color;

    &:hover {
      color: darken($success, 10%);
      border-color: darken($success, 10%);
    }
  }
}

.notice_type_caution {
  color: darken($caution, 15%);
  background: rgba($caution, 0.1);
  border-color: rgba(darken($caution, 10%), 0.5);

  a {
    color: darken($caution, 15%);
    font-weight: $notice_type-font-weight;
    border-color: $notice_type-border-color;

    &:hover {
      color: darken($caution, 15%);
      border-color: darken($caution, 15%);
    }
  }
}

.notice_type_danger {
  color: darken($danger, 10%);
  background: rgba($danger, 0.1);
  border-color: rgba($danger, 0.5);

  a {
    color: darken($danger, 10%);
    font-weight: $notice_type-font-weight;
    border-color: $notice_type-border-color;

    &:hover {
      color: darken($danger, 10%);
      border-color: darken($danger, 10%);
    }
  }
}
