@import "./variables";

// TODO: Extract settings into variables
// TODO: Refactor size modifier so the text line-height aligns with other form elements

.choice {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: $choice-padding;
  overflow: hidden;
  transition: box-shadow $transition-duration $transition-timing-function;
  border: none;
  border-radius: $border-radius;
  background: $white;
  box-shadow: 0 0 0 1px $border-color;
  font-size: $choice-font-size;
  line-height: $choice-line-height;
  cursor: pointer;

  &:hover,
  &.is-focus {
    box-shadow: 0 0 0 1px $border-color-darker;
  }

  &.is-active {
    box-shadow: 0 0 0 2px $primary;
  }
}

.choice__input {
  @include size(13px);
  position: relative;
  top: 6px;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;

  &:first-child {
    margin-right: 1em;
  }

  &:last-child {
    margin-left: 1em;
  }
}

.choice__hidden {
  position: absolute;
  left: -9999px;
}

.choice__text {
  flex-grow: 1;
}

.choice_block {
  display: flex;
}

.choice_inline {
  display: inline-flex;
}
