@import "variables";

.choice {
  align-items: center;
  background: $white;
  border: 1px solid rgba($black, 0.2);
  border-radius: $border-radius;
  box-shadow: 0 0 0 rgba($black, 0);
  cursor: pointer;
  display: flex;
  font-size: $choice-font-size;
  line-height: $choice-line-height;
  padding: $choice-padding;

  > * + * {
    margin-left: 0.5em;
  }

  .checkbox,
  .radio {
    margin: -0.6em -0.6em -0.6em -0.8em;

    &:hover {
      background-color: none;
    }
  }

  &:hover {
    background: rgba($primary, 0.025);
    border-color: rgba($primary, 0.5);

    .checkbox:hover,
    .radio:hover {
      background: none;
    }

    .checkbox__background,
    .radio__background {
      border-color: $primary;
    }
  }

  &.is-active {
    background: rgba($primary, 0.025);
    border-color: rgba($primary, 0.5);

    &:hover {
      border-color: rgba($primary, 1);
      box-shadow: 0 0 0 3px rgba($primary, 0.1);
    }
  }
}

.choice_inline {
  display: inline-flex;
  padding-right: 1.5em;
}
