.choice {
  .radio {
    margin-bottom: -0.5em;
    margin-top: -0.5em;
    top: 0;

    &:first-child {
      margin-left: -0.75em;
    }

    &:last-child {
      margin-right: -0.75em;
    }
  }

  .radio__native {
    &:hover + .radio__background,
    &:focus + .radio__background,
    &:active + .radio__background,
    &:checked + .radio__background {
      background: transparent;
    }
  }
}
