@import "./variables";

// TODO: Extract settings into variables
// TODO: Refactor size modifier so the text line-height aligns with other form elements

.choice {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: $choice-padding;
  overflow: hidden;
  border: 1px solid rgba($black, 0.2);
  border-radius: $border-radius;
  background: $white;
  box-shadow: 0 0 0 rgba($black, 0);
  font-size: $choice-font-size;
  line-height: $choice-line-height;
  cursor: pointer;

  &:hover {
    border-color: rgba($black, 0.4);
  }

  &.is-focus {
    border-color: rgba($black, 0.4);
    background: rgba($yellow, 0.1);
    box-shadow: 0 0 0 3px rgba($black, 0.05);
  }

  &.is-active {
    border-color: rgba($primary, 1);
    background: rgba($primary, 0.05);

    &:hover,
    &.is-focus {
      box-shadow: 0 0 0 3px rgba($primary, 0.1);
    }
  }
}

.choice__input {
  @include size(13px);
  position: relative;
  top: 6px;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;

  &:first-child {
    margin-right: 1em;
  }

  &:last-child {
    margin-left: 1em;
  }
}

.choice__hidden {
  position: absolute;
  left: -9999px;
}

.choice__text {
  flex-grow: 1;
}

.choice_block {
  display: flex;
}

.choice_inline {
  display: inline-flex;
}
