@import "./variables";

.choice_size_sm {
  height: $choice_size_sm-height;
  padding: $choice_size_sm-padding;
  font-size: $choice_size_sm-font-size;
}

.choice_size_lg {
  height: $choice_size_lg-height;
  padding: $choice_size_lg-padding;
  font-size: $choice_size_lg-font-size;
}
