@use "./variables" as var;

.#{var.$prefix-block}button-group {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: (var.$gap * -1);
  margin-left: (var.$gap * -1);

  & + & {
    margin-top: 0;
  }

  #{var.$children-selector} {
    z-index: 1;
    flex: 0 0 auto;
    margin-top: var.$gap;
    margin-left: var.$gap;
    border-radius: var.$border-radius;

    &:hover {
      z-index: 2;
    }

    &:focus {
      z-index: 3;
    }

    &:active {
      z-index: 4;
    }

    &.is-active {
      z-index: 5;
    }
  }
}
