@use "@vrembem/core";
@use "./variables" as var;

.#{var.$prefix-block}button-group {
  @include core.flex-gap(var.$gap);
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  & + & {
    margin-top: 0;
  }

  > * {
    z-index: 1;
    flex: 0 0 auto;
    border-radius: var.$border-radius;

    &:hover {
      z-index: 2;
    }

    &:focus {
      z-index: 3;
    }

    &:active {
      z-index: 4;
    }

    &.is-active {
      z-index: 5;
    }
  }
}
