@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

@each $key, $value in var.$gap-map {
  .#{$_b}button-group#{$_m}gap#{$_v}#{$key} {
    margin-top: (-$value);
    margin-left: (-$value);

    #{var.$children-selector} {
      margin-top: $value;
      margin-left: $value;
    }
  }
}
