@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$breakpoints: core.$breakpoints !default;
$border-radius: core.$border-radius !default;
$gap: 0.5em !default;
$gap-map: core.$gap-map !default;
