@use "@vrembem/core";

$selector-children: "> *";
$border-radius: core.$border-radius !default;
$gap: 0.5rem !default;
$gap-join: -1px !default;
$gap-scale: (
  "xs": 1px,
  "sm": 0.25rem,
  "md": 0.5rem,
  "lg": 1rem,
  "xl": 1.5rem
) !default;
