@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$breakpoints: core.$breakpoints !default;
$border-radius: core.$border-radius !default;
$children-selector: "> *";
$gap: 0.5rem !default;
$gap-join: -1px !default;
$gap-scale: (
  "xs": 1px,
  "sm": 0.25rem,
  "md": 0.5rem,
  "lg": 1rem,
  "xl": 1.5rem
) !default;
