@use "@vrembem/core";
@use "./variables";

.button-group_full {
  display: flex;
  align-items: stretch;

  #{variables.$children-selector} {
    flex: 1 1 auto;
  }
}

@each $key, $value in core.$breakpoints {
  @include core.media-max($value) {
    .button-group_full_#{$key} {
      display: flex;
      align-items: stretch;

      #{variables.$children-selector} {
        flex: 1 1 auto;
      }
    }
  }
}
