@import "./variables";

.button-group {
  display: inline-flex;
  align-items: center;

  > .button {
    z-index: 1;
    flex: 0 0 auto;
    border-radius: $button-group-border-radius;

    + .button {
      margin: 0 0 0 $button-group-gap;
    }

    &:hover {
      z-index: 2;
    }

    &:focus {
      z-index: 3;
    }

    &:active {
      z-index: 4;
    }

    &.is-active {
      z-index: 5;
    }
  }
}
