@use "./variables";

.button-group {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: (variables.$gap * -1) 0 0 (variables.$gap * -1);

  #{variables.$selector-children} {
    z-index: 1;
    flex: 0 0 auto;
    margin: variables.$gap 0 0 variables.$gap;
    border-radius: variables.$border-radius;

    &:hover {
      z-index: 2;
    }

    &:focus {
      z-index: 3;
    }

    &:active {
      z-index: 4;
    }

    &.is-active {
      z-index: 5;
    }
  }
}
