@use "./variables";

.button-group_wrap {
  flex-wrap: wrap;
  margin: (variables.$gap * -1) 0 0 (variables.$gap * -1);

  > .button,
  > .button + .button {
    margin: variables.$gap 0 0 variables.$gap;
  }
}
