---
import Base from './Base.astro';

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
  <main class="section">
		<div class="section__container max-width-xs type gap-y">
      <a href="/">&larr; Back</a>
      <slot />
    </div>
  </main>
</Base>
