@import 'vrem-core';
@include add-comment('heading');

$heading-font-weight: font-weight('semi-bold') !default;
$heading-color: $color-dark !default;
$heading__anchor-color: $color-dark !default;
$heading__anchor-color_hover: $blue !default;

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 1rem 0;
  font-family: inherit;
  line-height: 1.25em;
  font-weight: $heading-font-weight;
  color: $heading-color;

  a {
    color: $heading__anchor-color;
    border: none;

    &:hover {
      color: $heading__anchor-color_hover;
    }
  }
}

h1,
.h1 {
  font-size: 2.5em;
}

h2,
.h2 {
  font-size: 2em;
}

h3,
.h3 {
  font-size: 1.75em;
}

h4,
.h4 {
  font-size: 1.5em;
}

h5,
.h5 {
  font-size: 1.25em;
}

h6,
.h6 {
  font-size: 1em;
}
