@import 'vrem-core';
@include add-comment('table');

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin: 1em 0;
  overflow: auto;
  border-top: 1px solid $border-color;

  tr {
    vertical-align: top;
  }

  th,
  td {
    padding: 0.5em;
    border-bottom: 1px solid $border-color;
  }

  th {
    color: $color-dark;
    font-weight: bold;
    text-align: left;
  }
}
