@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}span#{$_m}full {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}

@each $key, $value in var.$breakpoints {
  @include core.media-min($value) {
    .#{$_b}span#{$_m}full#{$_v}#{$key} {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
