@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;

@for $i from 1 through var.$columns {
  .#{$_b}span-#{$i} {
    flex: 0 0 (100% * ($i/var.$columns));
    width: (100% * ($i/var.$columns));
    max-width: (100% * ($i/var.$columns));
  }
}

@each $key, $value in var.$breakpoints {
  @include core.media-min($value) {
    @for $i from 1 through var.$columns {
      .#{$_b}span-#{$i}-#{$key} {
        flex-basis: (100% * ($i/var.$columns));
        width: (100% * ($i/var.$columns));
        max-width: (100% * ($i/var.$columns));
      }
    }
  }
}
