@import 'variables';

@for $i from 1 through $span-columns {
  .span_#{$i} {
    flex: 0 0 (100% * ($i/$span-columns));
    max-width: (100% * ($i/$span-columns));
    width: (100% * ($i/$span-columns));
  }
}

@each $key, $value in $breakpoints {
  @include media-min($key) {
    @for $i from 1 through $span-columns {
      .span_#{$i}_#{$key} {
        flex-basis: (100% * ($i/$span-columns));
        max-width: (100% * ($i/$span-columns));
        width: (100% * ($i/$span-columns));
      }
    }
  }
}
