@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

.#{$_b}breadcrumb {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  background: var.$background;
  color: var.$foreground;
  list-style: none;
}

.#{$_b}breadcrumb#{$_e}item {
  display: flex;
  align-items: center;
  margin: 0;

  > * + * {
    margin-left: 0.5em;
  }

  &::after {
    content: var.$delimiter;
    padding: var.$delimiter-padding;
    color: var.$delimiter-color;
  }

  @if (var.$delimiter-last != true) {
    &:last-child::after {
      content: none;
    }
  }
}

.#{$_b}breadcrumb#{$_e}link {
  color: var.$link-color;
  text-decoration: var.$link-decoration;

  &:hover {
    color: var.$link-color-hover;
    text-decoration: var.$link-decoration-hover;
  }

  &:focus {
    outline: var.$link-outline-focus;
    outline-offset: var.$link-outline-focus-offset;
    color: var.$link-color-hover;
    text-decoration: var.$link-decoration-hover;
  }
}
