@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_e: var.$prefix-element;

.#{$_b}breadcrumb#{$_m}invert {
  color: var.$invert-color;

  .#{$_b}breadcrumb#{$_e}item {
    &::after {
      color: var.$invert-delimiter-color;
    }
  }

  .#{$_b}breadcrumb#{$_e}link {
    border-bottom: var.$invert__link-border;
    color: var.$invert__link-color;

    &:focus,
    &:hover {
      border-bottom: var.$invert__link-border-hover;
      color: var.$invert__link-color-hover;
    }
  }
}
