@import "@vrembem/core/";
@import "@vrembem/base/src/variables";

$breadcrumb-color: $color-subtle !default;
$breadcrumb-delimiter: "/" !default;
$breadcrumb-delimiter-color: $border-color-dark !default;
$breadcrumb-delimiter-padding: 0 0.5em !default;
$breadcrumb-delimiter-last: false !default;

$breadcrumb__link-color: $link-color !default;
$breadcrumb__link-color-hover: $link-color-hover !default;
$breadcrumb__link-border: $border !default;
$breadcrumb__link-border-hover: 1px solid $link-color-hover !default;

$breadcrumb_invert-color: $color-invert-subtle !default;
$breadcrumb_invert-delimiter-color: $border-color-invert-dark !default;
$breadcrumb_invert__link-color: $link-invert-color !default;
$breadcrumb_invert__link-color-hover: $link-invert-color-hover !default;
$breadcrumb_invert__link-border: $border-invert !default;
$breadcrumb_invert__link-border-hover: 1px solid $white !default;
