@use "@vrembem/core";
@use "@vrembem/base/src/variables" as base;

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$color: core.theme-get('foreground-lighter') !default;
$delimiter: "/" !default;
$delimiter-color: core.theme-get('border-color-dark') !default;
$delimiter-padding: 0 0.5em !default;
$delimiter-last: false !default;

$link-color: base.$link-color !default;
$link-color-hover: base.$link-color-hover !default;
$link-border: core.$border !default;
$link-border-hover: 1px solid base.$link-color-hover !default;
