@use "@vrembem/core";
@use "@vrembem/core/theme";
@use "@vrembem/base/src/variables" as base;

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$background: null !default;
$foreground: theme.get("foreground-lighter") !default;

$delimiter: "/" !default;
$delimiter-color: theme.get("border-color-dark") !default;
$delimiter-padding: 0 0.5em !default;
$delimiter-last: false !default;

$link-color: base.$link-color !default;
$link-color-hover: base.$link-color-hover !default;
$link-decoration: base.$link-decoration !default;
$link-decoration-hover: base.$link-decoration-hover !default;
$link-outline-focus: base.$link-outline-focus !default;
$link-outline-focus-offset: base.$link-outline-focus-offset !default;
