@use "./variables";

.breadcrumb {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  color: variables.$color;
  list-style: none;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
  margin: 0;

  > * + * {
    margin-left: 0.5em;
  }

  &::after {
    content: variables.$delimiter;
    padding: variables.$delimiter-padding;
    color: variables.$delimiter-color;
  }

  @if (variables.$delimiter-last != true) {
    &:last-child::after {
      content: none;
    }
  }
}

.breadcrumb__link {
  border-bottom: variables.$link-border;
  color: variables.$link-color;

  &:focus,
  &:hover {
    border-bottom: variables.$link-border-hover;
    color: variables.$link-color-hover;
  }
}
