@use "./variables";

.breadcrumb_invert {
  color: variables.$invert-color;

  .breadcrumb__item {
    &::after {
      color: variables.$invert-delimiter-color;
    }
  }

  .breadcrumb__link {
    border-bottom: variables.$invert__link-border;
    color: variables.$invert__link-color;

    &:focus,
    &:hover {
      border-bottom: variables.$invert__link-border-hover;
      color: variables.$invert__link-color-hover;
    }
  }
}
