$menu-padding: $padding !default;
$menu-icon-padding: 0.1em !default;
$menu-inner-spacing: 0.5em !default;

$menu-font-size: 1em !default;
$menu-line-height: 1.5 !default;
$menu-color: $color !default;
$menu-color_hover: $color !default;
$menu-color_active: $primary !default;
$menu-color_disabled: $color-light !default;

$menu-border-width: 1px !default;
$menu-border-radius: $border-radius !default;
$menu-border-color: transparent !default;
$menu-border-color_hover: transparent !default;
$menu-border-color_active: transparent !default;
$menu-border-color_disabled: transparent !default;

$menu-background: none !default;
$menu-background_hover: rgba($black, 0.05) !default;
$menu-background_active: none !default;
$menu-background_disabled: none !default;

$menu__text-color: $color !default;

$menu__sep-spacing: 0.5em !default;
$menu__sep-width: 1px !default;
$menu__sep-background: rgba($black, 0.1) !default;

$menu_stack-indent: 1em !default;
$menu_stack__text-spacing: 1em !default;

$menu-spacing: 1px !default;
$menu-spacing-scale: (
  'xs': 1px,
  'sm': 0.25rem,
  'md': 0.5rem,
  'lg': 1rem,
  'xl': 1.5rem
) !default;
