@import 'variables';

/**
 * Menu stack modifiers
 * ---
 * A modifier for stacking menu items vertically.
 */

.menu_stack {
  flex-direction: column;
  align-items: stretch;
  overflow: visible;

  .menu__item + .menu__item {
    margin-left: 0;
    margin-top: $menu-spacing;
  }

  .menu__link {
    white-space: normal;
  }

  .menu__text {
    margin: 0 $menu_stack__text-spacing;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .menu__sep {
    margin: $menu__sep-spacing 0;
    width: auto;
    height: $menu__sep-width;
  }
}

/**
 * Menu stack breakpoint modifiers
 */

@each $name, $value in $breakpoints {
  .menu_stack_#{$name} {
    @extend .menu_stack;
  }

  @include media-min($name) {
    .menu_stack_#{$name} {
      flex-direction: row;
    }
  }
}
