@import 'variables';

/**
 * Menu spacing modifiers
 * ---
 * A modifier for changing the spacing between menu items.
 */

@each $menu_name, $menu_value in $menu-spacing-scale {

  .menu_spacing_#{$menu_name} {
    .menu__sep {
      margin: 0 $menu_value;
      width: $menu__sep-width;
      height: 0;
    }

    .menu__item + .menu__item {
      margin-left: $menu_value;
    }
  }

  .menu_spacing_#{$menu_name}.menu_wrap {
    margin: -($menu_value * 0.5);

    .menu__item,
    .menu__item + .menu__item {
      margin: ($menu_value * 0.5);
    }
  }

  .menu_spacing_#{$menu_name}.menu_stack {
    .menu__sep {
      margin: $menu_value 0;
      width: 0;
      height: $menu__sep-width;
    }

    .menu__item + .menu__item {
      margin-top: $menu_value;
      margin-left: 0;
    }
  }

  @each $name, $value in $breakpoints {

    .menu_spacing_#{$menu_name}.menu_stack_#{$name} {
      .menu__sep {
        margin: $menu_value 0;
        width: 0;
        height: $menu__sep-width;
      }

      .menu__item + .menu__item {
        margin-top: $menu_value;
        margin-left: 0;
      }
    }

    @include media-min($name) {
      .menu_spacing_#{$menu_name}.menu_stack_#{$name} {
        .menu__sep {
          margin: 0 $menu_value;
          width: $menu__sep-width;
          height: 0;
        }

        .menu__item + .menu__item {
          margin-top: 0;
          margin-left: $menu_value;
        }
      }
    }
  }
}
