@import 'variables';

.menu {
  display: flex;
  align-items: center;
  font-size: $menu-font-size;
  list-style: none;

  > * + * {
    margin-left: $menu__item-spacing;
  }
}

.menu__sep {
  align-self: stretch;
  margin: 0 $menu__sep-spacing;
  border-right: $menu__sep-border-width solid $menu__sep-border-color;
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: $menu-padding;
  color: $menu-color;
  white-space: nowrap;
  background: $menu-background;
  border: $menu-border-width solid $menu-border-color;
  border-radius: $menu-border-radius;

  &:hover,
  &:focus {
    color: $menu-color_hover;
    background: $menu-background_hover;
    border-color: $menu-border-color_hover;
  }

  > * + * {
    margin-left: $menu-inner-spacing;
  }

  &.is-active {
    color: $menu-color_active;
    background: $menu-background_active;

    &:hover,
    &:focus {
      color: $menu-color_active;
      background: $menu-background_active;
    }
  }

  &.is-disabled {
    cursor: default;
    color: $menu-color_disabled;
    background: $menu-background_disabled;

    &:hover,
    &:focus {
      color: $menu-color_disabled;
      background: $menu-background_disabled;
    }
  }
}

.menu__link_icon {
  padding: nth($menu-padding, 1);
}

.menu__text {
  position: relative;
  display: flex;
  align-items: center;
  padding: $menu-padding;
  color: $menu__text-color;
  white-space: nowrap;
  text-decoration: none;
  background: $menu-background;
  border: $menu-border-width solid $menu-border-color;
  border-radius: $menu-border-radius;

  > * + * {
    margin-left: $menu-inner-spacing;
  }
}
