@import 'variables';

/**
 * Menu size modifiers
 * ---
 * Size modifiers add different size variations to menus.
 */

.menu_size_sm {
  .menu__link {
    font-size: $font-size-sm;
    padding: $padding-sm;
  }
}

.menu_size_lg {
  .menu__link {
    padding: 1em;
  }
}
