@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

.#{$_b}dropdown {
  position: relative;
  display: inline-flex;
}

.#{$_b}dropdown#{$_e}target {
  position: absolute;
  z-index: var.$z-index;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
  display: none;
  width: var.$width;
  margin: var.$offset 0 0;
  padding: var.$padding;
  border: var.$border;
  border-radius: var.$border-radius;
  background: var.$background;
  background-clip: padding-box;
  box-shadow: var.$box-shadow;
  font-size: var.$font-size;
  line-height: var.$line-height;
  list-style: none;
  text-align: left;
  white-space: normal;

  &::before {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: var.$offset;
  }
}

/**
 * Active states
 */

.is-active > .#{$_b}dropdown#{$_e}target,
.#{$_b}dropdown:not(.on-click):hover > .#{$_b}dropdown#{$_e}target,
.#{$_b}dropdown:not(.on-click):focus > .#{$_b}dropdown#{$_e}target,
.#{$_b}dropdown:not(.on-click):focus-within > .#{$_b}dropdown#{$_e}target {
  display: block;
}

.is-active > .#{$_b}dropdown#{$_e}target {
  z-index: (var.$z-index + 1);
}

.#{$_b}dropdown:not(.on-click):focus > .#{$_b}dropdown#{$_e}target,
.#{$_b}dropdown:not(.on-click):focus-within > .#{$_b}dropdown#{$_e}target {
  z-index: (var.$z-index + 2);
}

.#{$_b}dropdown:not(.on-click):hover > .#{$_b}dropdown#{$_e}target {
  z-index: (var.$z-index + 3);
}
