@use "./variables" as var;

.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown__menu {
  position: absolute;
  z-index: var.$z-index;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
  display: none;
  width: var.$width;
  margin: var.$pos_spacing 0 0;
  padding: var.$spacing 0;
  border: var.$border;
  border-radius: var.$border-radius;
  background: var.$background;
  background-clip: padding-box;
  box-shadow: var.$box-shadow;
  font-size: var.$font-size;
  line-height: var.$line-height;
  list-style: none;
  text-align: left;
  white-space: normal;

  &::before {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: var.$pos_spacing;
  }
}

.dropdown__sep {
  margin: var.$spacing 0;
  border-bottom: var.$sep-border;
}

.dropdown__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: var.$link-padding;
  border: none;
  background: var.$link-background;
  color: var.$link-color;
  vertical-align: middle;

  > * + * {
    margin-left: var.$link-inner-spacing;
  }

  &:hover {
    background: var.$link-background-hover;
    color: var.$link-color-hover;
  }

  &:focus {
    background: var.$link-background-focus;
    color: var.$link-color-focus;
  }

  &:active {
    background: var.$link-background-active;
    color: var.$link-color-active;
  }

  &.is-active {
    background: var.$link-background-is-active;
    color: var.$link-color-is-active;

    &:hover,
    &:focus,
    &:active {
      background: var.$link-background-is-active;
      color: var.$link-color-is-active;
    }
  }

  &.is-disabled {
    background: var.$link-background-is-disabled;
    color: var.$link-color-is-disabled;
    cursor: auto;

    &:hover,
    &:focus,
    &:active {
      background: var.$link-background-is-disabled;
      color: var.$link-color-is-disabled;
    }
  }
}

.dropdown__content {
  display: block;
  padding: var.$link-padding;

  > * + * {
    margin-top: var.$spacing;
  }
}

.dropdown__title {
  font-size: var.$title-font-size;
  font-weight: var.$title-font-weight;
  line-height: var.$title-line-height;
}

.dropdown__item {
  position: relative;
  display: block;
  margin: var.$item-margin;
}

/**
 * Active states
 */

.is-active > .dropdown__menu,
.dropdown:not(.on-click):hover > .dropdown__menu,
.dropdown:not(.on-click):focus > .dropdown__menu,
.dropdown:not(.on-click):focus-within > .dropdown__menu {
  display: block;
}

.is-active > .dropdown__menu {
  z-index: (var.$z-index + 1);
}

.dropdown:not(.on-click):focus > .dropdown__menu,
.dropdown:not(.on-click):focus-within > .dropdown__menu {
  z-index: (var.$z-index + 2);
}

.dropdown:not(.on-click):hover > .dropdown__menu {
  z-index: (var.$z-index + 3);
}
