@use "./variables" as var;

.dropdown_pos_down-left .dropdown__menu,
.dropdown_pos_down-right .dropdown__menu,
.dropdown_pos_down .dropdown__menu {
  top: 100%;
  bottom: auto;
  margin: var.$pos_spacing 0 0;

  &::before {
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: var.$pos_spacing;
  }
}

.dropdown_pos_down-left .dropdown__menu {
  right: auto;
  left: 0;
}

.dropdown_pos_down-right .dropdown__menu {
  right: 0;
  left: auto;
}

.dropdown_pos_down .dropdown__menu {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown_pos_up-left .dropdown__menu,
.dropdown_pos_up-right .dropdown__menu,
.dropdown_pos_up .dropdown__menu {
  top: auto;
  bottom: 100%;
  margin: 0 0 var.$pos_spacing;

  &::before {
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: var.$pos_spacing;
  }
}

.dropdown_pos_up-left .dropdown__menu {
  right: auto;
  left: 0;
}

.dropdown_pos_up-right .dropdown__menu {
  right: 0;
  left: auto;
}

.dropdown_pos_up .dropdown__menu {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown_pos_right-down .dropdown__menu,
.dropdown_pos_right-up .dropdown__menu,
.dropdown_pos_right .dropdown__menu {
  right: auto;
  left: 100%;
  margin: 0 0 0 var.$pos_spacing;

  &::before {
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
    width: var.$pos_spacing;
    height: 100%;
  }
}

.dropdown_pos_right-down .dropdown__menu {
  top: 0;
  bottom: auto;
}

.dropdown_pos_right-up .dropdown__menu {
  top: auto;
  bottom: 0;
}

.dropdown_pos_right .dropdown__menu {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.dropdown_pos_left-down .dropdown__menu,
.dropdown_pos_left-up .dropdown__menu,
.dropdown_pos_left .dropdown__menu {
  right: 100%;
  left: auto;
  margin: 0 var.$pos_spacing 0 0;

  &::before {
    top: 0;
    right: auto;
    bottom: 0;
    left: 100%;
    width: var.$pos_spacing;
    height: 100%;
  }
}

.dropdown_pos_left-down .dropdown__menu {
  top: 0;
  bottom: auto;
}

.dropdown_pos_left-up .dropdown__menu {
  top: auto;
  bottom: 0;
}

.dropdown_pos_left .dropdown__menu {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
