@use "./variables" as var;

.dropdown_size_sm .dropdown__menu {
  width: var.$size_sm-width;
}

.dropdown_size_lg .dropdown__menu {
  width: var.$size_lg-width;
}

.dropdown_size_auto .dropdown__menu {
  width: auto;
}
