@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}dropdown#{$_m}size#{$_v}sm .#{$_b}dropdown#{$_e}menu {
  width: var.$size-sm-width;
}

.#{$_b}dropdown#{$_m}size#{$_v}lg .#{$_b}dropdown#{$_e}menu {
  width: var.$size-lg-width;
}

.#{$_b}dropdown#{$_m}size#{$_v}auto .#{$_b}dropdown#{$_e}menu {
  width: auto;
}
