@use "./variables";

.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown__menu {
  position: absolute;
  z-index: variables.$z-index;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
  display: none;
  width: variables.$width;
  margin: variables.$pos_spacing 0 0;
  padding: variables.$spacing 0;
  border: variables.$border;
  border-radius: variables.$border-radius;
  background: variables.$background;
  background-clip: padding-box;
  box-shadow: variables.$box-shadow;
  font-size: variables.$font-size;
  line-height: variables.$line-height;
  list-style: none;
  text-align: left;
  white-space: normal;

  &::before {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: variables.$pos_spacing;
  }
}

.dropdown__sep {
  margin: variables.$spacing 0;
  border-bottom: variables.$sep-border;
}

.dropdown__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: variables.$link-padding;
  border: none;
  background: variables.$link-background;
  color: variables.$link-color;
  vertical-align: middle;

  > * + * {
    margin-left: variables.$link-inner-spacing;
  }

  &:hover {
    background: variables.$link-background-hover;
    color: variables.$link-color-hover;
  }

  &:focus {
    background: variables.$link-background-focus;
    color: variables.$link-color-focus;
  }

  &:active {
    background: variables.$link-background-active;
    color: variables.$link-color-active;
  }

  &.is-active {
    background: variables.$link-background-is-active;
    color: variables.$link-color-is-active;

    &:hover,
    &:focus,
    &:active {
      background: variables.$link-background-is-active;
      color: variables.$link-color-is-active;
    }
  }

  &.is-disabled {
    background: variables.$link-background-is-disabled;
    color: variables.$link-color-is-disabled;
    cursor: auto;

    &:hover,
    &:focus,
    &:active {
      background: variables.$link-background-is-disabled;
      color: variables.$link-color-is-disabled;
    }
  }
}

.dropdown__content {
  display: block;
  padding: variables.$link-padding;

  > * + * {
    margin-top: variables.$spacing;
  }
}

.dropdown__title {
  font-size: variables.$title-font-size;
  font-weight: variables.$title-font-weight;
  line-height: variables.$title-line-height;
}

.dropdown__item {
  position: relative;
  display: block;
  margin: variables.$item-margin;
}

/**
 * Active states
 */

.is-active > .dropdown__menu,
.dropdown:not(.on-click):hover > .dropdown__menu,
.dropdown:not(.on-click):focus > .dropdown__menu,
.dropdown:not(.on-click):focus-within > .dropdown__menu {
  display: block;
}

.is-active > .dropdown__menu {
  z-index: (variables.$z-index + 1);
}

.dropdown:not(.on-click):focus > .dropdown__menu,
.dropdown:not(.on-click):focus-within > .dropdown__menu {
  z-index: (variables.$z-index + 2);
}

.dropdown:not(.on-click):hover > .dropdown__menu {
  z-index: (variables.$z-index + 3);
}
