@import "./variables";

.dropdown {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
  display: none;
  width: $dropdown-width;
  margin: $dropdown__menu_pos_spacing 0 0;
  padding: $dropdown-spacing 0;
  border: $dropdown-border;
  border-radius: $dropdown-border-radius;
  background: $dropdown-background;
  background-clip: padding-box;
  box-shadow: $dropdown-box-shadow;
  font-size: $dropdown-font-size;
  line-height: $dropdown-line-height;
  list-style: none;
  text-align: left;
  white-space: normal;

  &::before {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: $dropdown__menu_pos_spacing;
  }

  &.dropdown__menu_pos_switch {
    right: 0;
    left: auto;
  }
}

.dropdown__sep {
  margin: $dropdown-spacing 0;
  border-bottom: $dropdown__sep-border;
}

.dropdown__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: $dropdown__link-padding;
  border: none;
  background: $dropdown__link-background;
  color: $dropdown__link-color;
  vertical-align: middle;

  &:hover,
  &:focus {
    background: $dropdown__link-background-hover;
    color: $dropdown__link-color-hover;
  }

  > * + * {
    margin-left: $dropdown__link-inner-spacing;
  }

  &.is-active {
    background: $dropdown__link-background-active;
    color: $dropdown__link-color-active;

    &:hover,
    &:focus {
      background: $dropdown__link-background-active;
      color: $dropdown__link-color-active;
    }
  }

  &.is-disabled {
    background: $dropdown__link-background-disabled;
    color: $dropdown__link-color-disabled;
    cursor: auto;

    &:hover,
    &:focus {
      background: $dropdown__link-background-disabled;
      color: $dropdown__link-color-disabled;
    }
  }
}

.dropdown__link_stack {
  flex-direction: column;
  align-items: flex-start;

  > * + * {
    margin-top: $dropdown-spacing;
    margin-left: 0;
  }
}

.dropdown__content {
  display: block;
  padding: $dropdown__link-padding;

  > * + * {
    margin-top: $dropdown-spacing;
  }
}

.dropdown__title {
  font-size: $dropdown__title-font-size;
  font-weight: $dropdown__title-font-weight;
}

.dropdown__item {
  position: relative;
  display: block;
  margin: $dropdown__item-margin;

  > .dropdown__menu {
    top: -$dropdown-spacing;
    right: auto;
    left: 100%;
    margin: -1px 0 0 $dropdown__menu_pos_margin;

    &::before {
      top: 0;
      right: 100%;
      bottom: 0;
      left: auto;
      width: 1px;
      height: 100%;
    }
  }

  > .dropdown__menu_pos_switch {
    right: 100%;
    left: auto;
    margin: -1px $dropdown__menu_pos_margin 0 0;

    &::before {
      right: auto;
      left: 100%;
    }
  }
}

.is-active > .dropdown__menu {
  display: block;
}

.on-hover:hover > .dropdown__menu,
.dropdown__item:hover > .dropdown__menu,
.on-hover:focus-within > .dropdown__menu,
.dropdown__item:focus-within > .dropdown__menu,
.on-hover .dropdown__trigger:focus + .dropdown__menu,
.dropdown__item .dropdown__trigger:focus + .dropdown__menu {
  z-index: 12;
  display: block;
}
