@import "./variables";

.dropdown__menu_pos_down-left,
.dropdown__menu_pos_down-right,
.dropdown__menu_pos_down {
  top: 100%;
  bottom: auto;
  margin: $dropdown__menu_pos_spacing 0 0;

  &::before {
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: $dropdown__menu_pos_spacing;
  }
}

.dropdown__menu_pos_down-left {
  right: auto;
  left: 0;
}

.dropdown__menu_pos_down-right {
  right: 0;
  left: auto;
}

.dropdown__menu_pos_down {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown__menu_pos_up-left,
.dropdown__menu_pos_up-right,
.dropdown__menu_pos_up {
  top: auto;
  bottom: 100%;
  margin: 0 0 $dropdown__menu_pos_spacing;

  &::before {
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: $dropdown__menu_pos_spacing;
  }
}

.dropdown__menu_pos_up-left {
  right: auto;
  left: 0;
}

.dropdown__menu_pos_up-right {
  right: 0;
  left: auto;
}

.dropdown__menu_pos_up {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown__menu_pos_right-down,
.dropdown__menu_pos_right-up,
.dropdown__menu_pos_right {
  right: auto;
  left: 100%;
  margin: 0 0 0 $dropdown__menu_pos_spacing;

  &::before {
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
    width: $dropdown__menu_pos_spacing;
    height: 100%;
  }
}

.dropdown__menu_pos_right-down {
  top: 0;
  bottom: auto;
}

.dropdown__menu_pos_right-up {
  top: auto;
  bottom: 0;
}

.dropdown__menu_pos_right {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.dropdown__menu_pos_left-down,
.dropdown__menu_pos_left-up,
.dropdown__menu_pos_left {
  right: 100%;
  left: auto;
  margin: 0 $dropdown__menu_pos_spacing 0 0;

  &::before {
    top: 0;
    right: auto;
    bottom: 0;
    left: 100%;
    width: $dropdown__menu_pos_spacing;
    height: 100%;
  }
}

.dropdown__menu_pos_left-down {
  top: 0;
  bottom: auto;
}

.dropdown__menu_pos_left-up {
  top: auto;
  bottom: 0;
}

.dropdown__menu_pos_left {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
