@use "./variables";

.dropdown_size_sm .dropdown__menu {
  width: variables.$size_sm-width;
}

.dropdown_size_lg .dropdown__menu {
  width: variables.$size_lg-width;
}

.dropdown_size_auto .dropdown__menu {
  width: auto;
}
