<div class="arrow arrow--up"></div>
<div class="arrow arrow--right"></div>
<div class="arrow arrow--down"></div>
<div class="arrow arrow--left"></div>

<br />

<div class="keyboard">
  <button class="keyboard__key">
    A
  </button>
  <button class="keyboard__key keyboard__key--span-three">
    Space
  </button>
  <button class="keyboard__key">
    B
  </button>
  <button class="keyboard__key">
    C
  </button>
  
  <div class="keyboard__break"></div>
  
  <div class="keyboard__spacer"></div>
  <button class="keyboard__key">
    <span class="arrow arrow--up"></span>
  </button>
  <div class="keyboard__spacer"></div>
  <div class="keyboard__spacer"></div>
  <button class="keyboard__key">
    {% include content-icon.html icon="arrow-up" %}
  </button>
  <div class="keyboard__spacer"></div>
  
  <div class="keyboard__break"></div>
  
  <button class="keyboard__key" >
    <span class="arrow arrow--left"></span>
  </button>
  <button class="keyboard__key">
    <span class="arrow arrow--down"></span>
  </button>
  <button class="keyboard__key">
    <span class="arrow arrow--right"></span>
  </button>
  <button class="keyboard__key" >
    {% include content-icon.html icon="arrow-left" %}
  </button>
  <button class="keyboard__key">
    {% include content-icon.html icon="arrow-down" %}
  </button>
  <button class="keyboard__key">
    {% include content-icon.html icon="arrow-right" %}
  </button>
  
</div>

<br />
