<a href="#" class="badge badge--hover badge--color-light">Badge</a>
<a href="#" class="badge badge--hover badge--color-dark">Badge</a>
<a href="#" class="badge badge--hover badge--color-red">Badge</a>
<a href="#" class="badge badge--hover badge--color-pink">Badge</a>
<a href="#" class="badge badge--hover badge--color-purple">Badge</a>
<a href="#" class="badge badge--hover badge--color-deep-purple">Badge</a>
<a href="#" class="badge badge--hover badge--color-indigo">Badge</a>
<a href="#" class="badge badge--hover badge--color-blue">Badge</a>
<a href="#" class="badge badge--hover badge--color-light-blue">Badge</a>
<a href="#" class="badge badge--hover badge--color-cyan">Badge</a>
<a href="#" class="badge badge--hover badge--color-teal">Badge</a>
<a href="#" class="badge badge--hover badge--color-green">Badge</a>
<a href="#" class="badge badge--hover badge--color-light-green">Badge</a>
<a href="#" class="badge badge--hover badge--color-lime">Badge</a>
<a href="#" class="badge badge--hover badge--color-yellow">Badge</a>
<a href="#" class="badge badge--hover badge--color-amber">Badge</a>
<a href="#" class="badge badge--hover badge--color-orange">Badge</a>
<a href="#" class="badge badge--hover badge--color-deep-orange">Badge</a>

<br />

<div class="badge badge--color-red js-dismissible">
  <span class="badge__text">Badge</span>
  <a href="#" class="chip badge__chip js-dismiss">
    {% include content-icon.html icon="x" %}
  </a>
</div>
<div class="badge badge--color-purple js-dismissible">
  <span class="badge__text">Badge</span>
  <a href="#" class="chip badge__chip js-dismiss">
    {% include content-icon.html icon="x" %}
  </a>
</div>
<div class="badge badge--color-blue js-dismissible">
  <span class="badge__text">Badge</span>
  <a href="#" class="chip badge__chip js-dismiss">
    {% include content-icon.html icon="x" %}
  </a>
</div>
<div class="badge badge--color-cyan js-dismissible">
  <span class="badge__text">Badge</span>
  <a href="#" class="chip badge__chip js-dismiss">
    {% include content-icon.html icon="x" %}
  </a>
</div>
<div class="badge badge--color-green js-dismissible">
  <span class="badge__text">Badge</span>
  <a href="#" class="chip badge__chip js-dismiss">
    {% include content-icon.html icon="x" %}
  </a>
</div>
<div class="badge badge--color-yellow js-dismissible">
  <span class="badge__text">Badge</span>
  <a href="#" class="chip badge__chip js-dismiss">
    {% include content-icon.html icon="x" %}
  </a>
</div>
<div class="badge badge--color-orange js-dismissible">
  <span class="badge__text">Badge</span>
  <a href="#" class="chip badge__chip js-dismiss">
    {% include content-icon.html icon="x" %}
  </a>
</div>

<br />