<div>
  <div class="badge">Badge</div>
  <a class="badge badge--hover" href="#">Badge</a>
  <button class="badge badge--hover">Badge</button>
  <div class="badge"><span class="badge__text">Badge</span></div>
  <a class="badge badge--hover" href="#"><span class="badge__text">Badge</span></a>
  <button class="badge badge--hover"><span class="badge__text">Badge</span></button>
</div>

<br />

<div>
  <div class="badge badge--pill">Badge</div>
  <a class="badge badge--hover badge--pill" href="#">Badge</a>
  <button class="badge badge--hover badge--pill">Badge</button>
  <div class="badge badge--pill"><span class="badge__text">Badge</span></div>
  <a class="badge badge--hover badge--pill" href="#"><span class="badge__text">Badge</span></a>
  <button class="badge badge--hover badge--pill"><span class="badge__text">Badge</span></button>
</div>

<br />

<div>
  
  <div class="badge js-dismissible">
    <span class="badge__text">Badge</span>
    <a href="#" class="chip badge__chip js-dismiss">
      {% include content-icon.html icon="x" %}
    </a>
  </div>

  <div class="badge js-dismissible">
    <a href="#" class="chip badge__chip js-dismiss">
      {% include content-icon.html icon="x" %}
    </a>
    <span class="badge__text">Badge</span>
  </div>
  
  <div class="badge badge--pill js-dismissible">
    <span class="badge__text">Badge</span>
    <a href="#" class="chip badge__chip js-dismiss">
      {% include content-icon.html icon="x" %}
    </a>
  </div>

  <div class="badge badge--pill js-dismissible">
    <a href="#" class="chip badge__chip js-dismiss">
      {% include content-icon.html icon="x" %}
    </a>
    <span class="badge__text">Badge</span>
  </div>
  
</div>

<br />
