<!-- Buttons -->
<a class="button" href="#" role="button">Anchor Button</a>
<button class="button" type="submit">Button</button>
<input class="button" type="button" value="Input Button">
<input class="button" type="submit" value="Input Submit">

<br />

<!-- Button Size Mods -->
<button class="button button--color-primary button--size-large">Primary</button>
<button class="button button--color-primary">Primary</button>
<button class="button button--color-primary button--size-small">Primary</button>

<br />

<!-- Button Icon Mods -->
<div>
  <button class="button button--color-primary button--size-large">
    {% include content-icon.html icon="user" %}
    <span class="button__text">Button</span>
  </button>
  <button class="button button--color-primary button--icon button--size-large">
    {% include content-icon.html icon="user" %}
  </button>
  <button class="button button--color-primary">
    {% include content-icon.html icon="user" %}
    <span class="button__text">Button</span>
  </button>
  <button class="button button--color-primary button--icon">
    {% include content-icon.html icon="user" %}
  </button>
  <button class="button button--color-primary button--size-small">
    {% include content-icon.html icon="user" %}
    <span class="button__text">Button</span>
  </button>
  <button class="button button--color-primary button--icon button--size-small">
    {% include content-icon.html icon="user" %}
  </button>
  <br /><br />
  <button class="button button--color-primary button--size-large">
    <span class="button__text">Button</span>
    {% include content-icon.html icon="user" %}
  </button>
  <button class="button button--color-primary">
    <span class="button__text">Button</span>
    {% include content-icon.html icon="user" %}
  </button>
  <button class="button button--color-primary button--size-small">
    <span class="button__text">Button</span>
    {% include content-icon.html icon="user" %}
  </button>
  <br /><br />
  <button class="button button--color-primary button--icon button--size-large">
    {% include content-icon.html icon="user" %}
  </button>
  <button class="button button--color-primary button--icon">
    {% include content-icon.html icon="user" %}
  </button>
  <button class="button button--color-primary button--icon button--size-small">
    {% include content-icon.html icon="user" %}
  </button>
</div>

<br />