<button class="chip">{% include content-icon.html icon="x" %}</button>
<button class="chip">{% include content-icon.html icon="anchor" %}</button>
<button class="chip">{% include content-icon.html icon="bell" %}</button>
<button class="chip">{% include content-icon.html icon="command" %}</button>
<button class="chip">{% include content-icon.html icon="bluetooth" %}</button>
<button class="chip">{% include content-icon.html icon="edit-3" %}</button>
<button class="chip">{% include content-icon.html icon="heart" %}</button>
<button class="chip">{% include content-icon.html icon="arrow-up-left" %}</button>
<button class="chip">{% include content-icon.html icon="arrow-up" %}</button>
<button class="chip">{% include content-icon.html icon="arrow-up-right" %}</button>
<button class="chip">{% include content-icon.html icon="arrow-right" %}</button>
<button class="chip">{% include content-icon.html icon="arrow-down-right" %}</button>
<button class="chip">{% include content-icon.html icon="arrow-down" %}</button>
<button class="chip">{% include content-icon.html icon="arrow-down-left" %}</button>
<button class="chip">{% include content-icon.html icon="arrow-left" %}</button>

<br />

<button class="chip chip--size-large chip--color-danger">{% include content-icon.html icon="x" %}</button>
<button class="chip chip--size-large chip--color-caution">{% include content-icon.html icon="minus" %}</button>
<button class="chip chip--size-large chip--color-success">{% include content-icon.html icon="maximize-2" %}</button>
<button class="chip chip--size-large chip--color-light">{% include content-icon.html icon="command" %}</button>
<button class="chip chip--size-large chip--color-fade">{% include content-icon.html icon="command" %}</button>

<button class="chip chip--color-danger">{% include content-icon.html icon="x" %}</button>
<button class="chip chip--color-caution">{% include content-icon.html icon="minus" %}</button>
<button class="chip chip--color-success">{% include content-icon.html icon="maximize-2" %}</button>
<button class="chip chip--color-light">{% include content-icon.html icon="command" %}</button>
<button class="chip chip--color-fade">{% include content-icon.html icon="command" %}</button>

<button class="chip chip--size-small chip--color-danger">{% include content-icon.html icon="x" %}</button>
<button class="chip chip--size-small chip--color-caution">{% include content-icon.html icon="minus" %}</button>
<button class="chip chip--size-small chip--color-success">{% include content-icon.html icon="maximize-2" %}</button>
<button class="chip chip--size-small chip--color-light">{% include content-icon.html icon="command" %}</button>
<button class="chip chip--size-small chip--color-fade">{% include content-icon.html icon="command" %}</button>

<br />
