<ul class="menu">
  <li class="menu__title">Size</li>
  <li class="menu__sep"></li>
  <li class="menu__item">
    <a href="#" class="menu__link js-modal" data-target="modal-default">Default</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link js-modal" data-target="modal-small">Small</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link js-modal" data-target="modal-large">Large</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link js-modal" data-target="modal-full">Full</a>
  </li>
</ul>

<br />

<ul class="menu">
  <li class="menu__title">Align</li>
  <li class="menu__sep"></li>
  <li class="menu__item">
    <a href="#" class="menu__link js-modal" data-target="modal-small-top">Align Top</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link js-modal" data-target="modal-small-bot">Align Bottom</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link js-modal" data-target="aside-left">Aside Left</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link js-modal" data-target="aside-right">Aside Right</a>
  </li>
</ul>

<br />

<div class="flex flex--dark flex--padding">
  <div class="flex__item">
    <div class="dialog">
      <header class="dialog__header">
        <div class="dialog__toolbar">
          <button class="chip chip--color-fade">{% include content-icon.html icon="settings" %}</button>
        </div>
        <h2 class="dialog__title">Save Changes</h2>
        <div class="dialog__toolbar">
          <button class="chip chip--color-fade">{% include content-icon.html icon="minus" %}</button>
          <button class="chip chip--color-fade">{% include content-icon.html icon="minimize-2" %}</button>
          <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
        </div>
      </header>
      <div class="dialog__content dialog__content--expanded">
        Do you want to save changes made to this document? Any changes not saved will be lost.
      </div>
      <footer class="dialog__footer dialog__footer--split">
        <button class="button">Don't Save</button>
        <div class="dialog__action">
          <button class="button js-modal">Cancel</button>
          <button class="button button--color-primary">Save</button>
        </div>
      </footer>
    </div>
  </div>
  <div class="flex__item">
    <div class="dialog">
      <div class="dialog__content dialog__content--expanded">
        <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
        <h2 class="dialog__title">Save Changes</h2>
        <p>Do you want to save changes made to this document? Any changes not saved will be lost.</p>
      </div>
      <div class="dialog__action dialog__action--split">
        <button class="button">Don't Save</button>
        <div class="dialog__action-set">
          <button class="button js-modal">Cancel</button>
          <button class="button button--color-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="modal" id="modal-default">
  <div class="modal__dialog dialog">
    <header class="dialog__header">
      <h2 class="dialog__title">Modal Title</h2>
      <div class="dialog__toolbar">
        <button class="chip chip--color-fade">{% include content-icon.html icon="minus" %}</button>
        <button class="chip chip--color-fade">{% include content-icon.html icon="minimize-2" %}</button>
        <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
      </div>
    </header>
    <div class="dialog__content">
      ...
    </div>
    <footer class="dialog__footer dialog__footer--split">
      <a href="#" class="button button--color-fade">{% include content-icon.html icon="life-buoy" %} Need Help?</a>
      <div class="dialog__action">
        <button class="button js-modal">Disagree</button>
        <button class="button button--color-primary">Agree</button>
      </div>
    </footer>
  </div>
</div>

<div class="modal modal--size-small" id="modal-small">
  <div class="modal__dialog dialog">
    <header class="dialog__header">
      <h2 class="dialog__title">Modal Title</h2>
      <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
    </header>
    <div class="dialog__content">
      ...
    </div>
    <footer class="dialog__footer">
      <button class="button button--outline-primary button--block js-modal">Sure Thing!</button>
    </footer>
  </div>
</div>

<div class="modal modal--size-large" id="modal-large">
  <div class="modal__dialog dialog">
    <header class="dialog__header">
      <h2 class="dialog__title">Modal Title</h2>
      <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
    </header>
    <div class="dialog__content">
      ...
      <br />
      <br />
      <br />
      <br />
    </div>
    <footer class="dialog__footer">
      <div class="dialog__action">
        <button class="button js-modal">Cancel</button>
        <button class="button button--color-primary">Save Changes</button>
      </div>
    </footer>
  </div>
</div>

<div class="modal modal--full" id="modal-full">
  <div class="modal__dialog dialog">
    <header class="dialog__header">
      <h2 class="dialog__title">Modal Title</h2>
      <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
    </header>
    <div class="dialog__content">
      ...
    </div>
    <footer class="dialog__footer">
      <div class="dialog__action">
        <button class="button js-modal">Cancel</button>
        <button class="button button--color-primary">Save Changes</button>
      </div>
    </footer>
  </div>
</div>

<div class="modal modal--size-small modal--align-top" id="modal-small-top">
  <div class="modal__dialog dialog">
    <header class="dialog__header">
      <h2 class="dialog__title">Modal Title</h2>
      <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
    </header>
    <div class="dialog__content">
      ...
    </div>
    <footer class="dialog__footer">
      <button class="button button--outline-success button--block js-modal">Sure Thing!</button>
    </footer>
  </div>
</div>

<div class="modal modal--size-small modal--align-bottom" id="modal-small-bot">
  <div class="modal__dialog dialog">
    <header class="dialog__header">
      <h2 class="dialog__title">Modal Title</h2>
      <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
    </header>
    <div class="dialog__content">
      ...
    </div>
    <footer class="dialog__footer">
      <button class="button button--outline-caution button--block js-modal">Sure Thing!</button>
    </footer>
  </div>
</div>

<div class="modal modal--aside-left" id="aside-left">
  <div class="modal__dialog dialog">
    <header class="dialog__header">
      <h2 class="dialog__title">Modal Title</h2>
      <div class="dialog__toolbar">
        <button class="chip chip--color-fade">{% include content-icon.html icon="minus" %}</button>
        <button class="chip chip--color-fade">{% include content-icon.html icon="minimize-2" %}</button>
        <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
      </div>
    </header>
    <div class="dialog__content">
      ...
    </div>
    <footer class="dialog__footer">
      <button class="button button--block js-modal">Nevermind</button>
    </footer>
  </div>
</div>

<div class="modal modal--aside-right" id="aside-right">
  <div class="modal__dialog dialog">
    <header class="dialog__header">
      <h2 class="dialog__title">Modal Title</h2>
      <div class="dialog__toolbar">
        <button class="chip chip--color-fade">{% include content-icon.html icon="minus" %}</button>
        <button class="chip chip--color-fade">{% include content-icon.html icon="minimize-2" %}</button>
        <button class="dialog__close chip chip--color-fade js-modal">{% include content-icon.html icon="x" %}</button>
      </div>
    </header>
    <div class="dialog__content">
      ...
    </div>
    <footer class="dialog__footer">
      <button class="button button--block js-modal">Nevermind</button>
    </footer>
  </div>
</div>
