<div class="flex">
  <div class="flex__item">
    <ul class="menu menu--stack">
      <li class="menu__item"><a href="#" class="menu__link">Create</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Read</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Update</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Delete</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Profile</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Logout</a></li>
    </ul>
  </div>
  <div class="flex__item">
    <ul class="menu menu--stack menu--align-center">
      <li class="menu__item"><a href="#" class="menu__link">Create</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Read</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Update</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Delete</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Profile</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Logout</a></li>
    </ul>
  </div>
  <div class="flex__item">
    <ul class="menu menu--stack menu--align-right">
      <li class="menu__item"><a href="#" class="menu__link">Create</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Read</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Update</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Delete</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Profile</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Logout</a></li>
    </ul>
  </div>
</div>

<br>

{% capture menu__items %}
  <li class="menu__title">Menu Title</li>
  <li class="menu__item">
    <a href="#" class="menu__link">
      {% include icons/plus-circle.svg %}
      <span class="menu__text">Create</span>
    </a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link menu__link--active">
      {% include icons/eye.svg %}
      <span class="menu__text">Read</span>
    </a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link menu__link--disabled">
      {% include icons/rotate-cw.svg %}
      <span class="menu__text">Update</span>
    </a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link">
      {% include icons/delete.svg %}
      <span class="menu__text">Delete</span>
    </a>
  </li>
  <li class="menu__sep"></li>
  <li class="menu__item">
    <a href="#" class="menu__link">
      {% include icons/user.svg %}
      <span class="menu__text">Profile</span>
    </a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link">
      {% include icons/log-out.svg %}
      <span class="menu__text">Logout</span>
    </a>
  </li>
{% endcapture %}

<div class="flex">
  <div class="flex__item">
    <ul class="menu menu--stack">
      {{ menu__items }}
    </ul>
  </div>
  <div class="flex__item">
    <ul class="menu menu--stack menu--align-center">
      {{ menu__items }}
    </ul>
  </div>
  <div class="flex__item">
    <ul class="menu menu--stack menu--align-right">
      <li class="menu__title">Menu Title</li>
      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">Create</span>
          {% include icons/plus-circle.svg %}
        </a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link menu__link--active">
          <span class="menu__text">Read</span>
          {% include icons/eye.svg %}
        </a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link menu__link--disabled">
          <span class="menu__text">Update</span>
          {% include icons/rotate-cw.svg %}
        </a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">Delete</span>
          {% include icons/delete.svg %}
        </a>
      </li>
      <li class="menu__sep"></li>
      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">Profile</span>
          {% include icons/user.svg %}
        </a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">Logout</span>
          {% include icons/log-out.svg %}
        </a>
      </li>
    </ul>
  </div>
</div>

<br>
