<ul class="menu menu--tabs">
  <li class="menu__item"><a href="#" class="menu__link">Create</a></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--active">Read</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Update</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Delete</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Profile</a></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--disabled">Logout</a></li>
</ul>

<br>

<ul class="menu menu--tabs menu--align-center">
  <li class="menu__item"><a href="#" class="menu__link">Create</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Read</a></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--active">Update</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Delete</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Profile</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Logout</a></li>
</ul>

<br>

<ul class="menu menu--tabs menu--align-right">
  <li class="menu__item"><a href="#" class="menu__link">Create</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Read</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Update</a></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--active">Delete</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Profile</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Logout</a></li>
</ul>

<br>

<!-- Full Menu -->
<ul class="menu menu--tabs menu--full">
  <li class="menu__item menu__item--static"><a href="#" class="menu__link menu__link--icon">{% include icons/home.svg %}</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Create</a></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--active">Read</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Update</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Delete</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Profile</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Logout</a></li>
</ul>

<br>

<!-- Icon only menu -->
<ul class="menu menu--tabs">
  <li class="menu__item"><a href="#" class="menu__link menu__link--icon">{% include icons/arrow-left.svg %}</a></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--active menu__link--icon">{% include icons/arrow-right.svg %}</a></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--icon">{% include icons/rotate-cw.svg %}</a></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--icon">{% include icons/home.svg %}</a></li>
  <li class="menu__sep"></li>
  <li class="menu__item"><a href="#" class="menu__link menu__link--icon">{% include icons/more-vertical.svg %}</a></li>
</ul>

<br />