<div class="notice js-dismissible">
  <button class="notice__close chip chip--color-fade js-dismiss">{% include content-icon.html icon="x" %}</button>
  This is a notice...
</div>
<div class="notice notice--outline js-dismissible">
  <button class="notice__close chip chip--color-fade js-dismiss">{% include content-icon.html icon="x" %}</button>
  <div class="notice__content">
    <p>This is a notice...</p>
  </div>
</div>
<div class="notice notice--color-info js-dismissible">
  <button class="notice__close chip chip--color-fade js-dismiss">{% include content-icon.html icon="x" %}</button>
  <div class="notice__content">
    <p>This is a notice...</p>
  </div>
</div>
<div class="notice notice--color-success js-dismissible">
  <button class="notice__close chip chip--color-fade js-dismiss">{% include content-icon.html icon="x" %}</button>
  <div class="notice__content">
    <p>This is a notice...</p>
  </div>
</div>
<div class="notice notice--color-caution js-dismissible">
  <button class="notice__close chip chip--color-fade js-dismiss">{% include content-icon.html icon="x" %}</button>
  <div class="notice__content">
    <p>This is a notice...</p>
  </div>
</div>
<div class="notice notice--color-danger js-dismissible">
  <button class="notice__close chip chip--color-fade js-dismiss">{% include content-icon.html icon="x" %}</button>
  <div class="notice__content">
    <p>This is a notice...</p>
  </div>
</div>

<br />
