@import 'variables';

/**
 * Button-group wrap modifier
 * ---
 * Allows buttons to wrap if they no longer fit in their container. Requires
 * that you wrap this component with an empty <div>
 */

.button-group_wrap {
  flex-wrap: wrap;
  margin: -($button-group-gap * 0.5);

  > .button,
  > .button + .button {
    margin: ($button-group-gap * 0.5);
  }
}
