@import 'variables';

.button-group {
  display: inline-flex;
  align-items: center;

  > .button {
    border-radius: $button-group-bri;

    &:first-child {
      border-radius: $button-group-bro $button-group-bri $button-group-bri $button-group-bro;
    }

    &:last-child {
      border-radius: $button-group-bri $button-group-bro $button-group-bro $button-group-bri;
    }
  }
}

.button-group > .button {
  z-index: 1;
  flex: 1 1 auto;
  margin: 0;

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
  }

  &:active {
    z-index: 4;
  }

  &.is-active {
    z-index: 5;
  }

  + .button {
    margin: 0 0 0 $button-group-spacing;
  }
}

.button-group_gap > .button {
  + .button {
    margin: 0 0 0 $button-group_gap-spacing;
  }
}

.button-group > .button_equal {
  flex-basis: 0;
}

.button-group > .button_static {
  flex-grow: 0;
}
