@use "@vrembem/core/tokens";
@use "../functions" as fun;

@if fun.maybe-output("code") {
  @include tokens.register("code");

  #{fun.selector("code")} {
    padding: tokens.get("code", "padding", 0.125rem 0.375rem);
    border: tokens.get("code", "border", null);
    border-radius: tokens.get("code", "border-radius", tokens.get("border-radius"));
    font-family: tokens.get("font-family-mono");
    font-size: tokens.get("code", "font-size", tokens.get("font-size-sm"));
    color: tokens.get("code", "foreground", tokens.get("foreground-accent-alt"));
    overflow-wrap: break-word;
    background: tokens.get("code", "background", tokens.get("background-alt"));
  }
}
