@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";
@use "../functions" as fun;

@if fun.maybe-output("link") {
  @include tokens.register("link");

  #{fun.selector("link")} {
    color: tokens.get("link", "foreground", tokens.get("foreground-accent"));
    text-decoration: tokens.get("link", "decoration", underline);
    text-decoration-thickness: tokens.get("link", "decoration-thickness", 1px);
    text-underline-offset: tokens.get("link", "underline-offset", 2px);

    code {
      color: tokens.get("link", "foreground", tokens.get("foreground-accent"));
      background-color: tokens.get("background-alt");
    }

    // prettier-ignore
    &:hover,
    &:focus {
      color: tokens.get("link", "foreground-hover", light-dark(
        oklch(from tokens.get("foreground-accent") calc(l - 0.1) c h),
        oklch(from tokens.get("foreground-accent") calc(l + 0.1) c h),
      ));
      text-decoration: tokens.get("link", "decoration-hover", none);

      code {
        color: tokens.get("link", "foreground-hover", light-dark(
          oklch(from tokens.get("foreground-accent") calc(l - 0.1) c h),
          oklch(from tokens.get("foreground-accent") calc(l + 0.1) c h)
        ));
      }
    }

    &:focus {
      outline: tokens.get("link", "focus-ring", currentcolor dotted 1px);
      outline-offset: tokens.get("link", "focus-ring-offset", 0.125rem);
    }
  }
}
