@use "@vrembem/core/tokens";
@use "../functions" as fun;

@if fun.maybe-output("pre") {
  @include tokens.register("pre");

  #{fun.selector("pre")} {
    overflow: auto;
    padding: tokens.get("pre", "padding", tokens.get("spacing-md"));
    border: tokens.get("pre", "border", none);
    border-radius: tokens.get("pre", "border-radius", tokens.get("border-radius"));
    font-family: tokens.get("font-family-mono");
    color: tokens.get("pre", "foreground", tokens.get("foreground-strong"));
    background: tokens.get("pre", "background", tokens.get("background-alt"));

    code {
      padding: 0;
      border: none;
      font-size: tokens.get("pre", "font-size", tokens.get("font-size-sm"));
      color: inherit;
      background: none;
    }
  }
}
