@use "@vrembem/core/tokens";
@use "../functions" as fun;

@if fun.maybe-output("separator") {
  @include tokens.register("separator");

  #{fun.selector("separator")} {
    display: block;
    height: 0;
    border: none;
    border-top: tokens.get("separator", "border-width", tokens.get("border-width")) tokens.get("separator", "border-style", tokens.get("border-style")) tokens.get("separator", "border-color", tokens.get("border-color"));
  }
}
