$primary: $blue !default;
$secondary: $gray !default;
$success: $green !default;
$caution: $amber-600 !default;
$danger: $red !default;

$padding-small: 0.25em 0.5em !default;
$padding: 0.3125em 0.75em !default;
$padding-large: 0.5em 1.5em !default;

$spacing: 1rem !default;

$font-family-sans: BlinkMacSystemFont, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif !default;
$font-family-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !default;
$font-family-mono: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace !default;
$font-family: $font-family-sans !default;

$font-size-small: 0.875em !default;
$font-size: 16px !default;
$font-size-large: 1.25em !default;

$line-height: 1.5em !default;
$font-weight: font-weight('normal') !default;

$color: $gray-900 !default;
$color-light: $gray-400 !default;
$color-dark: $black !default;

$body-background: null !default;

$background-color: $gray-100 !default;
$border-color: rgba($black, 0.1) !default;
$border-radius: 3px !default;
$box-sizing: border-box !default;
$box-shadow: 0 1px 3px rgba($black, 0.1) !default;

$breakpoints: (
  'tiny': 480px,
  'small': 620px,
  'medium': 760px,
  'large': 990px,
  'huge': 1380px
) !default;

$anchor: (
  'color': $primary,
  'text-decoration': none,
  'background': null,
  'border': 1px solid $border-color,
  'hover': (
    'color': darken($primary, 10%),
    'text-decoration': null,
    'background': null,
    'border': 1px solid darken($primary, 10%)
  )
)!default;
