<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Demo catalog</title>
  <link rel="stylesheet" href="<%= site.baseurl %>assets/styles.css" />
</head>
<body>
  <div class="cover">
    <header class="header cover__header">
      <div class="cover__inner">
        <h1 class="cover__title">Vrembem</h1>
        <p class="cover__desc">&mdash;is a CSS component library based on the BEM methodology. You're viewing the component catalog where you can test all the available components.</p>
        <p class="cover__version">Version 0.2.0</p>
      </div>
    </header>
    <div class="content cover__content">
      <ul class="jumbo-menu">
        <% site.menu.forEach(function(item) { %>
          <li class="jumbo-menu__item">
            <a class="jumbo-menu__link" href=".<%= item.href %>"><%= item.text %></a>
          </li>
        <% }) %>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Animate</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Arrow</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Badge</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Breadcrumb</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Button-group</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Chip</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Container</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Dialog</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Dropdown</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Embed-wrap</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Hero</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Input</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Input-group</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Modal</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Navbar</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Notice</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Page</a>
        </li>
        <li class="jumbo-menu__item">
          <a class="jumbo-menu__link" href="#">Tooltip</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>