<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vrembem demo: <%= page.title %></title>
  <link rel="stylesheet" href="<%= site.baseurl %>assets/styles.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar__item">
      <a href="<%= site.baseurl %>index.html" class="button">Back</a>
    </div>

    <div class="navbar__item">
      <a href="https://github.com/sebnitu/vrembem" class="button">GitHub</a>
    </div>
  </header>
  <%- content %>
</body>
</html>