$input-padding: $padding !default;
$input-font-size: 1em !default;
$input-line-height: 1.5em !default;

$input_size_small-padding: $padding-small !default;
$input_size_small-font-size: $font-size-small !default;

$input_size_large-padding: nth($padding-large, 1) (nth($padding-large, 1) * 1.33) !default;
$input_size_large-font-size: $font-size-large !default;

$input-background: $white !default;
$input-background-focus: $white !default;
$input-box-shadow-values: 0 0 0 0 !default;
$input-box-shadow-color: rgba($blue, 0) !default;
$input-box-shadow-focus-values: 0 0 0 3px !default;
$input-box-shadow-focus-color: rgba($blue, 0.1) !default;

$input-border: 1px solid $gray-400 !default;
$input-border-focus: 1px solid $primary !default;

$input_type_select-image: 'data:image/svg+xml;utf8,<svg width="36px" height="10px" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke-width="2" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" points="15 4 18 7 21 4"></polyline></svg>' !default;
