@import 'variables';

/**
 * Input size modifiers
 * ---
 * Size modifiers add different size variations to input fields.
 */

.input_size_sm {
  padding: $input_size_sm-padding;
  font-size: $input_size_sm-font-size;
}

.input_size_lg {
  padding: $input_size_lg-padding;
  font-size: $input_size_lg-font-size;
}
