$hero-height: 500px !default;
$hero-padding: 1.5em !default;
$hero-background: null !default;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: $hero-padding;
  background: $hero-background;
}

.hero__container {
  position: relative;
  z-index: 2;
  padding: $hero-padding;
  text-align: center;
}

/**
 * Hero Content
 */

.hero__title {
  font-size: 1.5em;
  line-height: 1.5em;
}

.hero__desc {
  line-height: 1.6em;
}

.hero__action {
  margin-top: 2em;
}

@include media-min('medium') {
  .hero__title {
    font-size: 2.5em;
  }

  .hero__desc {
    font-size: 1.4em;
  }
}

/**
 * Background
 */

.hero__background,
.hero__canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero__background {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
