@import 'variables';

.badge_inverted {
  color: $badge_inverted-color;
  background: $badge_inverted-background;

  &.badge_link:hover {
    color: $badge_inverted-color-hover;
    background: $badge_inverted-background-hover;
  }
}
