---
import Root from "./Root.astro";
import Navibar from "../components/Navibar.astro";
import Toolbar from "../components/Toolbar.astro";
import Footer from "../components/Footer.astro";
import LayoutDrawer from "../components/LayoutDrawer.vue";
import LayoutAside from "../components/LayoutAside.vue";
import Icon from "../components/Icon.vue";

interface Props {
  title?: string;
  layout?: {
    hasAside?: boolean;
    hasDrawer?: boolean;
  };
}

const { title, layout = {} } = Astro.props;
---

<Root {title} {layout}>
  <Navibar />
  <Toolbar {layout} />
  <div class="layout">
    {
      layout.hasDrawer && (
        <div class="layout__drawer">
          <LayoutDrawer client:load>
            <slot name="drawer" />
          </LayoutDrawer>
        </div>
      )
    }
    <div class="layout__main">
      <div class="layout__grid">
        {
          layout.hasAside && (
            <div class="layout__aside">
              <LayoutAside client:load>
                <slot name="aside" />
              </LayoutAside>
            </div>
          )
        }
        <div class="layout__content">
          {
            layout.hasAside && (
              <div class="toolbar-mini">
                <button
                  data-drawer-open="layout-aside"
                  class="button button_icon"
                >
                  <Icon name="compass" />
                </button>
              </div>
            )
          }
          <div class="type gap-y">
            <slot />
          </div>
        </div>
        <Footer classes="layout__footer" />
      </div>
    </div>
  </div>
</Root>
