---
import Root from "@/layouts/Root.astro";
import Header from "@/components/Header.astro";
import Toolbar from "@/components/Toolbar.astro";
import Footer from "@/components/Footer.astro";
import Drawer from "@/components/Drawer.astro";
import Icon from "@/components/Icon.astro";

interface Props {
  title?: string;
  layout: {
    hasAside: boolean;
    hasSidebar: boolean;
  };
}

const { title, layout } = Astro.props;

const layoutClasses: string[] = [];
if (layout.hasSidebar) layoutClasses.push("has-sidebar");
if (layout.hasAside) layoutClasses.push("has-aside");
---

<Root {title}>
  <Header />
  <Toolbar {layout} />
  <div class={`layout ${layoutClasses.join(" ")}`.trim()}>
    {
      layout.hasSidebar && (
        <Drawer
          id="layout-sidebar"
          breakpoint="sidebar"
          classes="layout__sidebar"
        >
          <slot name="sidebar" />
        </Drawer>
      )
    }

    <main id="main" class="layout__main main" tabindex="-1">
      <div class="main__grid">
        {
          layout.hasAside && (
            <Drawer
              id="main-aside"
              breakpoint="aside"
              classes="drawer--switch main__aside"
            >
              <slot name="aside" />
            </Drawer>
          )
        }
        <div class="main__content">
          {
            layout.hasAside && (
              <div class="toolbar-mini">
                <button
                  type="button"
                  interestfor="popover-otp-menu"
                  data-drawer-open="main-aside"
                  aria-label="Open on this page menu"
                  class="button button--icon"
                >
                  <Icon name="map-pin" />
                </button>
                <div
                  id="popover-otp-menu"
                  popover="hint"
                  class="popover popover--tooltip popover--pos-bottom-end"
                >
                  On this page
                </div>
              </div>
            )
          }
          {
            Astro.slots.has("prepend") && (
              <div class="main__prepend">
                <slot name="prepend" />
              </div>
            )
          }
          <div class="content-container content em-spacing">
            <slot />
          </div>
          {
            Astro.slots.has("append") && (
              <div class="main__append">
                <slot name="append" />
              </div>
            )
          }
        </div>
      </div>
      <Footer classes="main__footer" />
    </main>
  </div>
</Root>
