---
import Root from "@/layouts/Root.astro";
import Navibar from "@/components/Navibar.astro";
import Toolbar from "@/components/Toolbar.astro";
import Footer from "@/components/Footer.astro";
import DrawerSidebar from "@/components/DrawerSidebar.astro";
import DrawerAside from "@/components/DrawerAside.astro";
import Icon from "@/components/Icon.astro";
import Popover from "@/components/Popover.astro";

interface Props {
  title?: string;
  layout: {
    hasAside: boolean;
    hasSidebar: boolean;
  };
}

const { title, layout } = Astro.props;

const layoutClasses = ["layout"];
if (layout.hasSidebar) {
  layoutClasses.push("has-sidebar");
}
if (layout.hasAside) {
  layoutClasses.push("has-aside");
}
---

<Root {title}>
  <Navibar />
  <Toolbar {layout} />
  <div class={layoutClasses.join(" ")}>
    {
      layout.hasSidebar && (
        <DrawerSidebar>
          <slot name="sidebar" />
        </DrawerSidebar>
      )
    }
    {
      layout.hasAside && (
        <DrawerAside>
          <slot name="aside" />
        </DrawerAside>
      )
    }
    <div id="main-content" class="layout__main" tabindex="-1">
      <div class="layout__container">
        <div class="content-container">
          {
            layout.hasAside && (
              <div class="toolbar-mini">
                <Popover
                  id="on-this-page-menu"
                  aria-label="Open on this page menu"
                  triggerClass="button button_icon"
                  tooltipClass="text-nowrap"
                  placement="bottom-end"
                  data-drawer-open="layout-aside"
                >
                  <Fragment slot="trigger">
                    <Icon name="compass" />
                  </Fragment>
                  <Fragment slot="tooltip">On this page</Fragment>
                </Popover>
              </div>
            )
          }
          {
            Astro.slots.has("prepend") && (
              <div class="content-container__prepend">
                <slot name="prepend" />
              </div>
            )
          }
          <div class="content spacing">
            <slot />
          </div>
          {
            Astro.slots.has("append") && (
              <div class="content-container__append">
                <slot name="append" />
              </div>
            )
          }
        </div>
        <Footer />
      </div>
    </div>
  </div>
</Root>
