---
import Base from './Base.astro';

const { title } = Astro.props;
---

<Base title={title}>
  <main class="section">
		<div class="section__container max-width-xs gap-y-lg">
      <slot />
    </div>
  </main>
</Base>
