---
import Base from "./Base.astro";
import Icon from "../components/Icon.vue";

const { title } = Astro.props;
---

<Base title={title}>
  <div class="section">
    <div class="section__container max-width-xs type gap-y">
      <a href="/" class="button button_icon">
        <Icon name="arrow-left" classes="icon_size_sm" />
      </a>
      <slot />
    </div>
  </div>
</Base>

<style is:global>
  .type > astro-island {
    display: block;
  }
</style>
