---
import Base from "./Base.astro";
import Menu from "../components/CollectionMenu.astro";
import OnThisPage from "../components/OnThisPage.astro";

const { headings } = Astro.props;
const { title, collection } = Astro.props.frontmatter || Astro.props;

const layout = {
  hasDrawer: !!collection,
  hasAside: !!headings.filter((item) => item.depth === 2).length,
};
---

<Base {title} {layout}>
  {
    layout.hasDrawer && (
      <div slot="drawer">
        <Menu collection={collection} menuClass="layout__menu" />
      </div>
    )
  }
  {
    layout.hasAside && (
      <div slot="aside">
        <OnThisPage {headings} menuClass="layout__menu" />
      </div>
    )
  }
  <slot />
</Base>

<script>
  import { headerAnchor } from "../modules/headerAnchor";
  headerAnchor().mount();
</script>
