---
import Base from "./Base.astro";
import Navibar from "../components/Navibar.astro";
import Footer from "../components/Footer.astro";
import LayoutDrawer from "../components/LayoutDrawer.vue";

interface Props {
  title?: string;
  drawer?: boolean;
  aside?: boolean;
}

const { title, drawer = true, aside = false } = Astro.props;

let layoutClasses = "layout";
layoutClasses += drawer ? " has-drawer" : "";
layoutClasses += aside ? " has-aside" : "";
---

<Base title={title}>
  <Navibar />
  <div class={layoutClasses}>
    {
      drawer && (
        <LayoutDrawer client:load>
          <slot name="drawer" />
        </LayoutDrawer>
      )
    }
    <div class="layout__content">
      <div class="content">
        <div class="content__container">
          {
            aside && (
              <aside class="gap-y">
                <h2>On this page</h2>
                <slot name="aside" />
              </aside>
            )
          }
          <div class="type gap-y">
            <button
              data-drawer-open="layout-drawer"
              class="link layout-drawer-open"
            >
              Menu
            </button>
            <slot />
          </div>
          <Footer classes="border-top padding-top-xl margin-top-xl" />
        </div>
      </div>
    </div>
  </div>
</Base>
