---
import Base from "./Base.astro";
import Navibar from "../components/Navibar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  drawer?: boolean;
  title?: string;
}

const { title, drawer = true } = Astro.props;
---

<Base title={title}>
  <Navibar />
  <div class="layout">
    {
      drawer && (
        <aside class="layout__drawer background-darker">
          <div class="spacer" />
          <slot name="drawer" />
        </aside>
      )
    }
    <div class="layout__content">
      <div class="content">
        <div class="content__container">
          <div class="type gap-y">
            <slot />
          </div>
          <Footer classes="border-top padding-top-xl margin-top-xl" />
        </div>
      </div>
    </div>
  </div>
</Base>
