---
import Structure from "../layouts/Structure.astro";
import Menu from "../components/CollectionMenu.astro";
import OnThisPage from "../components/OnThisPage.astro";

const { frontmatter, headings } = Astro.props;
const {
  title = fmd("title"),
  drawer = fmd("drawer", false),
  aside = fmd("aside", false),
} = Astro.props;

// Frontmatter Defaults
function fmd(attr: string, fallback: any = "") {
  const fm = frontmatter;
  return fm && fm[attr] != undefined ? fm[attr] : fallback;
}
---

<Structure {title} {drawer} {aside}>
  {
    drawer && (
      <div slot="drawer">
        <Menu collection="packages" />
      </div>
    )
  }
  {
    aside && (
      <div slot="aside">
        <OnThisPage {headings} />
      </div>
    )
  }
  <slot />
</Structure>
