---
import Base from "./Base.astro";
import Menu from "../components/CollectionMenu.astro";
import OnThisPage from "../components/OnThisPage.astro";
import { $collection } from "../modules/useLayoutStore";

const { headings } = Astro.props;
const { title, collection } = Astro.props.frontmatter || Astro.props;

$collection.set(collection);
---

<Base {title}>
  {
    $collection.get() && (
      <div slot="drawer">
        <Menu collection={$collection.get()} menuClass="layout__menu" />
      </div>
    )
  }
  <div slot="aside">
    <OnThisPage {headings} menuClass="layout__menu" />
  </div>
  <slot />
</Base>

<script>
  import { headerAnchor } from "../modules/headerAnchor";
  headerAnchor().mount();
</script>
