---
import Base from "./Base.astro";
import Navibar from "../components/Navibar.astro";

const { title } = Astro.props;
---

<Base title={title}>
  <Navibar />
  <div class="layout">
    <aside class="layout__drawer background-darker fold-shadow-right">
      <div class="spacer"></div>
      <slot name="drawer" />
    </aside>
    <div class="layout__content">
      <div class="content">
        <div class="content__container">
          <div class="type gap-y">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</Base>
