---
import Base from "./Base.astro";
import Navibar from "../components/Navibar.astro";
import Footer from "../components/Footer.astro";
import LayoutDrawer from "../components/LayoutDrawer.vue";

interface Props {
  title?: string;
  drawer?: boolean;
  aside?: boolean;
}

const { title, drawer = true, aside = false } = Astro.props;

let layoutClasses = "layout";
layoutClasses += drawer ? " has-drawer" : "";
layoutClasses += aside ? " has-aside" : "";
---

<Base title={title}>
  <Navibar />
  <div class={layoutClasses}>
    {
      drawer && (
        <LayoutDrawer client:load>
          <slot name="drawer" />
        </LayoutDrawer>
      )
    }
    <div class="layout__content">
      <div class="wrapper">
        {
          aside && (
            <aside class="aside">
              <div class="aside__container">
                <slot name="aside" />
              </div>
            </aside>
          )
        }
        <div class="content">
          <div class="content__container">
            <div class="toolbar level">
              <button
                data-drawer-open="layout-drawer"
                class="link layout-drawer-toggle"
              >
                Menu
              </button>
              <button class="link layout-aside-toggle">On this page</button>
            </div>
            <div class="type gap-y">
              <slot />
            </div>
          </div>
        </div>
        <Footer classes="span-full border-top padding-top-xl margin-top-xl" />
      </div>
    </div>
  </div>
</Base>
