---
import Base from "./Base.astro";

const { title } = Astro.props;
---

<Base title={title}>
  <div class="drawer-frame">
    <aside id="drawer-id" class="drawer is-opened">
      <div class="drawer__dialog">
        <slot name="sidebar" />
      </div>
    </aside>

    <div class="drawer-main">
      <a href="/" class="link">Back</a>
      <slot />
    </div>
  </div>
</Base>

<style>
  .drawer-frame {
    background-color: aquamarine;
  }

  .drawer__dialog {
    background-color: pink;
  }

  .drawer-main {
    background-color: beige;
  }
</style>
