---
import "../styles/global.scss";
import { layout } from "../modules/useLayoutStore";

interface Props {
  title?: string;
  bodyClass?: string;
}

const { title, bodyClass } = Astro.props;

let mainClasses = "main";
mainClasses += layout.hasDrawer ? " has-drawer" : "";
mainClasses += layout.hasAside ? " has-aside" : "";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Vrembem{title ? " | " + title : ""}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <script is:inline>
      (function () {
        // Make this script blocking to prevent flash of pre-themed content.
        const local = localStorage.getItem("VB:Profile");
        const store = local ? JSON.parse(local) : {};
        if (store.theme) {
          document.documentElement.classList.add(`theme-${store.theme}`);
        }
      })();
    </script>
  </head>
  <body class={bodyClass}>
    <main id="main" class={mainClasses} tabindex="-1">
      <slot />
    </main>
    <div class="modals"></div>
  </body>
</html>
