@import 'variables';

/**
 * Dropdown menu position
 */

/* Down */

.dropdown__menu_pos_down-left,
.dropdown__menu_pos_down-right,
.dropdown__menu_pos_down {
  top: 100%;
  bottom: auto;
  margin: $dropdown__menu_pos_spacing 0 0;

  &::before {
    width: 100%;
    height: $dropdown__menu_pos_spacing;
    top: auto;
    left: 0;
    right: 0;
    bottom: 100%;
  }
}

.dropdown__menu_pos_down-left {
  left: 0;
  right: auto;
}

.dropdown__menu_pos_down-right {
  left: auto;
  right: 0;
}

.dropdown__menu_pos_down {
  left: 50%;
  right: auto;
  transform: translate3d(-50%, 0, 0);
}

/* Up */

.dropdown__menu_pos_up-left,
.dropdown__menu_pos_up-right,
.dropdown__menu_pos_up {
  top: auto;
  bottom: 100%;
  margin: 0 0 $dropdown__menu_pos_spacing;

  &::before {
    width: 100%;
    height: $dropdown__menu_pos_spacing;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
  }
}

.dropdown__menu_pos_up-left {
  left: 0;
  right: auto;
}

.dropdown__menu_pos_up-right {
  left: auto;
  right: 0;
}

.dropdown__menu_pos_up {
  left: 50%;
  right: auto;
  transform: translate3d(-50%, 0, 0);
}

/* Right */

.dropdown__menu_pos_right-down,
.dropdown__menu_pos_right-up,
.dropdown__menu_pos_right {
  left: 100%;
  right: auto;
  margin: 0 0 0 $dropdown__menu_pos_spacing;

  &::before {
    width: $dropdown__menu_pos_spacing;
    height: 100%;
    top: 0;
    left: auto;
    right: 100%;
    bottom: 0;
  }
}

.dropdown__menu_pos_right-down {
  top: 0;
  bottom: auto;
}

.dropdown__menu_pos_right-up {
  top: auto;
  bottom: 0;
}

.dropdown__menu_pos_right {
  top: 50%;
  bottom: auto;
  transform: translate3d(0, -50%, 0);
}

/* Left */

.dropdown__menu_pos_left-down,
.dropdown__menu_pos_left-up,
.dropdown__menu_pos_left {
  left: auto;
  right: 100%;
  margin: 0 $dropdown__menu_pos_spacing 0 0;

  &::before {
    width: $dropdown__menu_pos_spacing;
    height: 100%;
    top: 0;
    left: 100%;
    right: auto;
    bottom: 0;
  }
}

.dropdown__menu_pos_left-down {
  top: 0;
  bottom: auto;
}

.dropdown__menu_pos_left-up {
  top: auto;
  bottom: 0;
}

.dropdown__menu_pos_left {
  top: 50%;
  bottom: auto;
  transform: translate3d(0, -50%, 0);
}
