@import 'variables';

/**
 * Dropdown menu size modifiers
 * ---
 * Used to change the size of the dropdown menu. Currently only modifies width.
 */

.dropdown__menu_size_sm {
  width: $dropdown_size_sm-width;
}

.dropdown__menu_size_lg {
  width: $dropdown_size_lg-width;
}

.dropdown__menu_size_auto {
  width: auto;
}
