@import 'variables';

/**
 * Dropdown size modifiers
 */

.dropdown__menu_size_small {
  width: $dropdown_size_small-width;
}

.dropdown__menu_size_large {
  width: $dropdown_size_large-width;
}

.dropdown__menu_size_auto {
  width: auto;
}
