$navbar-padding: 1em !default;
$navbar-background: $background-color !default;
$navbar-border: null !default;

$navbar__title-padding: 0 0.75rem !default;
$navbar__title-font-size: px-to-em(20px) !default;
$navbar__title-font-weight: font-weight('semi-bold') !default;
$navbar__title-color: $color-dark !default;
$navbar__title-color-hover: null !default;

$navbar__desc-color: $color-light !default;
