/**
 * Background
 */

.bg_white {
  background-color: $white;
}

.bg_black {
  background-color: $black;
}

/* Primary */

.bg_primary {
  background-color: $primary;
}

.bg_primary-light {
  background-color: $primary-light;
}

.bg_primary-dark {
  background-color: $primary-dark;
}

/* Secondary */

.bg_secondary {
  background-color: $secondary;
}

.bg_secondary-light {
  background-color: $secondary-light;
}

.bg_secondary-dark {
  background-color: $secondary-dark;
}

/* Shade */

.bg_shade {
  background-color: $shade;
}

.bg_shade-light {
  background-color: $shade-light;
}

.bg_shade-dark {
  background-color: $shade-dark;
}
