/**
 * Background
 */

.bg_white {
  background-color: $white !important;
}

.bg_black {
  background-color: $black !important;
}

/* Primary */

.bg_primary {
  background-color: $primary !important;
}

.bg_primary-light {
  background-color: $primary-light !important;
}

.bg_primary-dark {
  background-color: $primary-dark !important;
}

/* Secondary */

.bg_secondary {
  background-color: $secondary !important;
}

.bg_secondary-light {
  background-color: $secondary-light !important;
}

.bg_secondary-dark {
  background-color: $secondary-dark !important;
}

/* Shade */

.bg_shade {
  background-color: $shade !important;
}

.bg_shade-light {
  background-color: $shade-light !important;
}

.bg_shade-dark {
  background-color: $shade-dark !important;
}
