/**
 * Border Utility
 */

.b {
  border: $border !important;
}

.b_none {
  border: none !important;
}

/* Border Top */

.bt {
  border-top: $border !important;
}

/* Border Bottom */

.bb {
  border-bottom: $border !important;
}

/* Border Left */

.bl {
  border-left: $border !important;
}

/* Border Right */

.br {
  border-right: $border !important;
}

/* Border Y Axes */

.by {
  border-top: $border !important;
  border-bottom: $border !important;
}

/* Border X Axes */

.bx {
  border-left: $border !important;
  border-right: $border !important;
}
