/**
 * Color Utility
 */

.c {
  color: $color !important;
}

.c_white {
  color: $white !important;
}

.c_black {
  color: $black !important;
}

/* Primary */

.c_primary {
  color: $primary !important;
}

.c_primary-light {
  color: $primary-light !important;
}

.c_primary-dark {
  color: $primary-dark !important;
}

/* Secondary */

.c_secondary {
  color: $secondary !important;
}

.c_secondary-light {
  color: $secondary-light !important;
}

.c_secondary-dark {
  color: $secondary-dark !important;
}

/* Shade */

.c_shade {
  color: $shade !important;
}

.c_shade-light {
  color: $shade-light !important;
}

.c_shade-dark {
  color: $shade-dark !important;
}
