/**
 * Flex Utility
 * ---
 * Used to add specific styles to flexbox based components
 */

/**
 * Justify Content
 */

.justify_start {
  justify-content: flex-start !important;
}

.justify_center {
  justify-content: center !important;
}

.justify_end {
  justify-content: flex-end !important;
}

.justify_between {
  justify-content: space-between !important;
}

.justify_around {
  justify-content: space-around !important;
}

.justify_evenly {
  justify-content: space-evenly !important;
}

/**
 * Align Items
 */

.items_start {
  align-items: flex-start !important;
}

.items_center {
  align-items: center !important;
}

.items_end {
  align-items: flex-end !important;
}

.items_stretch {
  align-items: stretch !important;
}

.items_baseline {
  align-items: baseline !important;
}

/**
 * Align Self
 */

.self_auto {
  align-self: auto !important;
}

.self_start {
  align-self: flex-start !important;
}

.self_center {
  align-self: center !important;
}

.self_end {
  align-self: flex-end !important;
}

.self_stretch {
  align-self: stretch !important;
}

.self_baseline {
  align-self: baseline !important;
}

/**
 * Flex grow
 */

.grow_0 {
  flex-grow: 0 !important;
}

.grow_1 {
  flex-grow: 1 !important;
}

.grow_2 {
  flex-grow: 2 !important;
}

.grow_3 {
  flex-grow: 3 !important;
}

/**
 * Flex order
 */

.order_n1 {
  order: -1 !important;
}

.order_n2 {
  order: -2 !important;
}

.order_n3 {
  order: -3 !important;
}

.order_p1 {
  order: 1 !important;
}

.order_p2 {
  order: 2 !important;
}

.order_p3 {
  order: 3 !important;
}
