/**
 * Headings Utility
 */

.h,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.25;
  font-weight: $type-heading-font-weight;

  a {
    @include add-anchor();
  }

  code {
    padding: 0 0.25em;
    font-size: 1rem;
    word-break: break-word;
    background: rgba($yellow, 0.5);
  }
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.25em;
}

.h4 {
  font-size: 1em;
}

.h5 {
  font-size: 0.875em;
}

.h6 {
  font-size: 0.85em;
  color: $color-light;
}
