/**
 * Headings Utility
 */

.h,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: $heading-line-height;
  font-weight: $heading-font-weight;
  color: $heading-color;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.75em;
}

.h3 {
  font-size: 1.5em;
}

.h4 {
  font-size: 1.25em;
}

.h5 {
  font-size: 1em;
}

.h6 {
  font-size: 1em;
}

@include media-min('md') {

  .h1 {
    font-size: 2.5em;
  }

  .h2 {
    font-size: 2em;
  }

  .h3 {
    font-size: 1.75em;
  }

  .h4 {
    font-size: 1.5em;
  }

  .h5 {
    font-size: 1.25em;
  }

  .h6 {
    font-size: 1.25em;
  }
}
