/**
 * Link
 */

%link {
  color: $link-color;
  text-decoration: $link-text-decoration;
  border-bottom: $link-border;
  transition: $link-transition;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: $link-text-decoration-hover;
    border-bottom: $link-border-hover;
  }
}

.link,
.type .link {
  @extend %link;
}

/**
 * Link Invert
 */

%link_invert {
  color: $link-color-invert;
  border-bottom: $link-border-invert;

  &:hover,
  &:focus {
    color: $link-color-invert-hover;
    border-bottom: $link-border-invert-hover;
  }
}

.link_invert,
.type .link_invert {
  @extend %link_invert;
}

/**
 * Link Subtle
 */

%link_subtle {
  color: inherit;

  &:hover,
  &:focus {
    color: $link-color;
    border-color: $link-color;
  }
}

.link_subtle,
.type .link_subtle {
  @extend %link_subtle;
}
