/**
 * Margin utility
 */

@each $name, $value in $utility-spacing {
  .m_#{$name} {
    margin: $value !important;
  }
}

/* Margin Top */

@each $name, $value in $utility-spacing {
  .mt_#{$name} {
    margin-top: $value !important;
  }
}

/* Margin Bottom */

@each $name, $value in $utility-spacing {
  .mb_#{$name} {
    margin-bottom: $value !important;
  }
}

/* Margin Left */

@each $name, $value in $utility-spacing {
  .ml_#{$name} {
    margin-left: $value !important;
  }
}

/* Margin Right */

@each $name, $value in $utility-spacing {
  .mr_#{$name} {
    margin-right: $value !important;
  }
}

/* Margin X Axes */

@each $name, $value in $utility-spacing {
  .mx_#{$name} {
    margin-left: $value !important;
    margin-right: $value !important;
  }
}

/* Margin Y Axes */

@each $name, $value in $utility-spacing {
  .my_#{$name} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}

/* Margin Auto */

.mx_auto {
  margin-left: auto;
  margin-right: auto;
}
