/**
 * Margin utility
 */

@each $key, $value in $utility-spacing {
  .margin_#{$key} {
    margin: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .margin_top_#{$key} {
    margin-top: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .margin_bottom_#{$key} {
    margin-bottom: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .margin_left_#{$key} {
    margin-left: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .margin_right_#{$key} {
    margin-right: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .margin_hori_#{$key} {
    margin-left: $value !important;
    margin-right: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .margin_vert_#{$key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}

.margin_auto {
  margin-left: auto;
  margin-right: auto;
}
