/**
 * Padding Utility
 */

@each $name, $value in $utility-spacing {
  .p_#{$name} {
    padding: $value !important;
  }
}

/* Padding Top */

@each $name, $value in $utility-spacing {
  .pt_#{$name} {
    padding-top: $value !important;
  }
}

/* Padding Bottom */

@each $name, $value in $utility-spacing {
  .pb_#{$name} {
    padding-bottom: $value !important;
  }
}

/* Padding Left */

@each $name, $value in $utility-spacing {
  .pl_#{$name} {
    padding-left: $value !important;
  }
}

/* Padding Right */

@each $name, $value in $utility-spacing {
  .pr_#{$name} {
    padding-right: $value !important;
  }
}

/* Padding X Axes */

@each $name, $value in $utility-spacing {
  .px_#{$name} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
}

/* Padding Y Axes */

@each $name, $value in $utility-spacing {
  .py_#{$name} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}
