/**
 * Text Utility
 */

.text_lead {
  font-size: 1.25em;
  font-weight: font-weight('light');
}

@include media-min('md') {
  .text_lead {
    font-size: 1.5em;
  }
}

.text_subtle {
  color: $color-light !important;
}

.text_uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_wrap {
  white-space: normal !important;
}

/* Text Size */

.text_size_sm {
  font-size: $font-size-sm !important;
}

.text_size_lg {
  font-size: $font-size-lg !important;
}

.text_size_sm,
.text_size_lg {
  line-height: 1.5em;
}

/* Text Alignment */

.text_align_left {
  text-align: left !important;
}

.text_align_center {
  text-align: center !important;
}

.text_align_right {
  text-align: right !important;
}
