/**
 * Text Utility
 */

.text,
.p {
  a:not(.button) {
    @include add-anchor();
  }

  code {
    font-size: 0.9em;
    padding: 0 0.25em;
    background: rgba($yellow, 0.5);
    word-break: break-word;
  }
}

/* Text Modifiers */

.text_lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  font-weight: font-weight('light');
}

.text_subtle {
  color: $color-light !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_wrap {
  white-space: normal !important;
}

.text_uppercase {
  text-transform: uppercase!important;
}

/* Text Size */

.text_size_sm {
  font-size: $font-size-sm !important;
}

.text_size_lg {
  font-size: $font-size-lg !important;
}

.text_size_sm,
.text_size_lg {
  line-height: 1.5em;
}

/* Text Alignment */

.text_align_left {
  text-align: left !important;
}

.text_align_center {
  text-align: center !important;
}

.text_align_right {
  text-align: right !important;
}
