@import "./variables";

.type {
  @include add-clearfix();
  font-family: $type-font-family;
  font-size: $type-font-size;
  line-height: $type-line-height;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %h !optional;
    margin: ($type-spacing * 1.5) 0 $type-spacing;
  }

  h1 {
    @extend %h1 !optional;
  }

  h2 {
    @extend %h2 !optional;
  }

  h3 {
    @extend %h3 !optional;
  }

  h4 {
    @extend %h4 !optional;
  }

  h5 {
    @extend %h5 !optional;
  }

  h6 {
    @extend %h6 !optional;
  }

  p {
    margin: $type-spacing 0;
  }

  blockquote {
    margin: ($type-spacing * 1.5) 0;
    padding: ($type-spacing * 0.5) ($type-spacing * 1.5);
    border-radius: $blockquote-border-radius;
    background: $blockquote-background;
    color: $blockquote-color;
  }

  figure {
    padding: 1em;
    border: $border;

    img {
      width: 100%;
      height: auto;
    }
  }

  figcaption {
    margin: 1em 0.5em;
    color: $color-light;
    font-size: $font-size-sm;
    font-style: italic;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a:not(.button) {
    @extend %link !optional;
  }

  mark {
    padding: $mark-padding;
    background-color: $mark-background;
    color: $mark-color;
  }

  code {
    padding: $code-padding;
    background: $code-background;
    color: $code-color;
    font-size: 0.9em;
    word-break: break-word;
  }

  pre {
    margin: ($type-spacing * 1.5) 0;
    padding: ($type-spacing * 1.5);
    overflow: auto;
    border-radius: $pre-border-radius;
    background: $pre-background;

    code {
      padding: 0;
      background: none;
      color: inherit;
      font-size: 1em;
    }
  }

  hr {
    @extend %hr !optional;
    margin: $type-hr-margin;
  }

  ul,
  ol {
    margin: $type-spacing 0 $type-spacing ($type-spacing * 2);
    padding: 0;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  dl {
    margin: $type-spacing 0;

    dt {
      margin: $type-spacing 0 0;
      font-weight: bold;
    }

    dd {
      margin: 0 0 $type-spacing $type-spacing;
    }
  }

  table {
    @extend %table !optional;
    @extend %table_bordered !optional;
    @extend %table_zebra !optional;
    margin: ($type-spacing * 1.5) 0;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
