@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;

.#{$_b}card#{$_m}link {
  transform: translate(0, 0);
  box-shadow: var.$link-shadow;

  &:hover,
  &:focus,
  &:focus-within {
    transform: translate(0, -(var.$link-offset));
    box-shadow: var.$link-shadow-hover;
  }
}
