@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("card")} {
  background: css.get("card", "background");
  background-clip: padding-box;
  border: css.get("card", "border");
  border-radius: css.get("card", "border-radius");
  box-shadow: css.get("card", "box-shadow");
  color: css.get("card", "foreground");
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transition-duration: css.get("card", "transition-duration");
  transition-property: css.get("card", "transition-property");
  transition-timing-function: css.get("card", "transition-timing-function");
}

a#{core.bem("card")} {
  box-shadow: css.get("card", "link-box-shadow");
  transform: translate(0, 0);

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: css.get("card", "link-box-shadow-hover");
    transform: translate(0, css.get("card", "link-offset"));
  }
}

#{core.bem("card", "header")},
#{core.bem("card", "body")},
#{core.bem("card", "footer")},
#{core.bem("card", "image")} {
  position: relative;
  z-index: 3;

  &:first-child {
    border-top-left-radius: css.get("card", "border-radius");
    border-top-right-radius: css.get("card", "border-radius");
  }

  &:last-child {
    border-bottom-left-radius: css.get("card", "border-radius");
    border-bottom-right-radius: css.get("card", "border-radius");
  }
}

#{core.bem("card", "header")},
#{core.bem("card", "body")},
#{core.bem("card", "footer")} {
  padding: css.get("card", "padding");
}

#{core.bem("card", "body")} {
  flex: 1 1 auto;

  & + & {
    border-top: css.get("card", "sep-border");
  }
}

#{core.bem("card", "header")} {
  border-bottom: css.get("card", "sep-border");
}

#{core.bem("card", "footer")} {
  border-top: css.get("card", "sep-border");
}

#{core.bem("card", "image")} {
  flex: 0 1 auto;
  height: auto;
  width: 100%;
}

#{core.bem("card", "title")} {
  color: css.get("card", "title-color");
  flex-grow: 1;
  font-size: css.get("card", "title-font-size");
  font-weight: css.get("card", "title-font-weight");
  line-height: css.get("card", "title-line-height");
}

#{core.bem("card", "background")},
#{core.bem("card", "screen")} {
  @include core.size(100%);

  border-radius: css.get("card", "border-radius");
  inset: 0;
  position: absolute;
  transition-duration: css.get("card", "transition-duration");
  transition-property: css.get("card", "transition-property");
  transition-timing-function: css.get("card", "transition-timing-function");
}

#{core.bem("card", "background")} {
  object-fit: cover;
  z-index: 1;
}

#{core.bem("card", "screen")} {
  background: css.get("card", "screen-background");
  opacity: css.get("card", "screen-opacity");
  z-index: 2;
}
