@use "@vrembem/core";
@use "./variables" as var;

$_v: var.$prefix-variable;
$_b: var.$prefix-block;
$_e: var.$prefix-element;

.#{$_b}card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-property: var(--#{$_v}card-transition-property);
  transition-duration: var(--#{$_v}card-transition-duration);
  transition-timing-function: var(--#{$_v}card-transition-timing-function);
  border: var(--#{$_v}card-border);
  border-radius: var(--#{$_v}card-border-radius);
  background: var(--#{$_v}card-background);
  box-shadow: var(--#{$_v}card-box-shadow);
  color: var(--#{$_v}card-foreground);
}

.#{$_b}card#{$_e}header,
.#{$_b}card#{$_e}body,
.#{$_b}card#{$_e}footer,
.#{$_b}card#{$_e}image {
  position: relative;
  z-index: 3;
}

.#{$_b}card#{$_e}body,
.#{$_b}card#{$_e}header,
.#{$_b}card#{$_e}footer {
  padding: var(--#{$_v}card-padding);
}

.#{$_b}card#{$_e}body {
  flex: 1 1 auto;

  & + & {
    border-top: var(--#{$_v}card-sep-border);
  }
}

.#{$_b}card#{$_e}image {
  flex: 0 1 auto;
  width: 100%;
  height: auto;

  &:first-child {
    border-top-left-radius: var(--#{$_v}card-border-radius);
    border-top-right-radius: var(--#{$_v}card-border-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--#{$_v}card-border-radius);
    border-bottom-right-radius: var(--#{$_v}card-border-radius);
  }
}

.#{$_b}card#{$_e}header {
  border-bottom: var(--#{$_v}card-sep-border);

  &:first-child {
    border-top-left-radius: var(--#{$_v}card-border-radius);
    border-top-right-radius: var(--#{$_v}card-border-radius);
  }
}

.#{$_b}card#{$_e}footer {
  border-top: var(--#{$_v}card-sep-border);

  &:last-child {
    border-bottom-left-radius: var(--#{$_v}card-border-radius);
    border-bottom-right-radius: var(--#{$_v}card-border-radius);
  }
}

.#{$_b}card#{$_e}title {
  flex-grow: 1;
  font-size: var(--#{$_v}card-title-font-size);
  font-weight: var(--#{$_v}card-title-font-weight);
  line-height: var(--#{$_v}card-title-line-height);
}

.#{$_b}card#{$_e}background,
.#{$_b}card#{$_e}screen {
  @include core.size(100%);
  position: absolute;
  inset: 0;
  transition-property: var(--#{$_v}card-transition-property);
  transition-duration: var(--#{$_v}card-transition-duration);
  transition-timing-function: var(--#{$_v}card-transition-timing-function);
  border-radius: var(--#{$_v}card-border-radius);
}

.#{$_b}card#{$_e}background {
  object-fit: cover;
  z-index: 1;
}

.#{$_b}card#{$_e}screen {
  z-index: 2;
  background: var(--#{$_v}card-screen-background);
  opacity: var(--#{$_v}card-screen-opacity);
}
