@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;

.#{$_b}card#{$_m}invert {
  background: var.$invert-background;
  color: var.$invert-color;

  .#{$_b}card#{$_e}body,
  .#{$_b}card#{$_e}header,
  .#{$_b}card#{$_e}footer {
    border-color: var.$invert-sep-border-color;
  }

  .#{$_b}card#{$_e}screen {
    background: var.$invert-background;
  }
}
