@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

.#{$_b}card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-property: var.$transition-property;
  transition-duration: var.$transition-duration;
  transition-timing-function: var.$transition-timing-function;
  border: var.$border;
  border-radius: var.$border-radius;
  background: var.$background;
  box-shadow: var.$box-shadow;
  color: var.$color;
}

.#{$_b}card#{$_e}header,
.#{$_b}card#{$_e}body,
.#{$_b}card#{$_e}footer,
.#{$_b}card#{$_e}image {
  position: relative;
  z-index: 3;
}

.#{$_b}card#{$_e}body,
.#{$_b}card#{$_e}header,
.#{$_b}card#{$_e}footer {
  padding: var.$padding;
}

.#{$_b}card#{$_e}body {
  flex: 1 1 auto;

  & + & {
    border-top: var.$sep-border;
  }
}

.#{$_b}card#{$_e}image {
  flex: 0 1 auto;
  width: 100%;
  height: auto;

  &:first-child {
    border-top-left-radius: var.$border-radius;
    border-top-right-radius: var.$border-radius;
  }

  &:last-child {
    border-bottom-left-radius: var.$border-radius;
    border-bottom-right-radius: var.$border-radius;
  }
}

.#{$_b}card#{$_e}header {
  border-bottom: var.$sep-border;

  &:first-child {
    border-top-left-radius: var.$border-radius;
    border-top-right-radius: var.$border-radius;
  }
}

.#{$_b}card#{$_e}footer {
  border-top: var.$sep-border;

  &:last-child {
    border-bottom-left-radius: var.$border-radius;
    border-bottom-right-radius: var.$border-radius;
  }
}

.#{$_b}card#{$_e}title {
  flex-grow: 1;
  font-size: var.$title-font-size;
  font-weight: var.$title-font-weight;
  line-height: var.$title-line-height;
}

.#{$_b}card#{$_e}background,
.#{$_b}card#{$_e}screen {
  @include core.size(100%);
  position: absolute;
  inset: 0;
  transition-property: var.$transition-property;
  transition-duration: var.$transition-duration;
  transition-timing-function: var.$transition-timing-function;
  border-radius: var.$border-radius;
}

.#{$_b}card#{$_e}background {
  object-fit: cover;
  z-index: 1;
}

.#{$_b}card#{$_e}screen {
  z-index: 2;
  background: var.$screen-background;
  opacity: var.$screen-opacity;
}
