@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$padding: 1.25em !default;
$background: core.$white !default;
$border: null !default;
$sep-border: core.$border !default;
$border-radius: core.$border-radius !default;
$box-shadow: core.$box-shadow-1dp !default;
$color: null !default;
$transition-property: background-color, border-color, box-shadow, transform !default;
$transition-duration: core.$transition-duration !default;
$transition-timing-function: core.$transition-timing-function !default;

$title-font-size: core.$font-size-lg !default;
$title-line-height: core.$line-height-lg !default;
$title-font-weight: core.font-weight("semi-bold") !default;

$screen-opacity: 0.7 !default;
$screen-background: core.$night !default;

$invert-background: core.$night !default;
$invert-border-color: null !default;
$invert-sep-border-color: core.$border-color-invert !default;
$invert-color: core.$white !default;
$link-shadow: core.$box-shadow-4dp !default;
$link-shadow-hover: core.$box-shadow-8dp !default;
$link-offset: 0.25em !default;
