@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/theme";

$padding: 1.25em !default;
$background: null !default;
$foreground: null !default;
$border: null !default;
$sep-border: null !default;
$border-radius: css.get("border-radius") !default;
$box-shadow: css.get("box-shadow-1") !default;
$transition-property: background-color, border-color, box-shadow, transform !default;
$transition-duration: css.get("transition-duration") !default;
$transition-timing-function: css.get("transition-timing-function") !default;

// Screen
$screen-background: null !default;
$screen-opacity: null !default;

// Link
$link-box-shadow: css.get("box-shadow-2") !default;
$link-box-shadow-hover: css.get("box-shadow-3") !default;
$link-offset: -0.25em !default;

// Title
$title-color: null !default;
$title-font-size: css.get("font-size-lg") !default;
$title-line-height: null !default;
$title-font-weight: css.get("font-weight-semi-bold") !default;

// Custom properties
@include css.set("card", (
  "padding": $padding,
  "background": $background,
  "foreground": $foreground,
  "border": $border,
  "sep-border": $sep-border,
  "border-radius": $border-radius,
  "box-shadow": $box-shadow,
  "screen-background": $screen-background,
  "screen-opacity": $screen-opacity,
  "link-box-shadow": $link-box-shadow,
  "link-box-shadow-hover": $link-box-shadow-hover,
  "link-offset": $link-offset,
  "title-color": $title-color,
  "title-font-size": $title-font-size,
  "title-line-height": $title-line-height,
  "title-font-weight": $title-font-weight,
  "transition-property": $transition-property,
  "transition-duration": $transition-duration,
  "transition-timing-function": $transition-timing-function
));

// Themes
@include theme.set("card", "light", (
  "background": css.get("background"),
  "foreground": css.get("foreground-light"),
  "border": 1px solid css.get("border-color"),
  "sep-border": 1px solid css.get("border-color"),
  "title-color": css.get("foreground"),
  "screen-background": css.get("background"),
  "screen-opacity": 0.9
));

@include theme.set("card", "dark", (
  "background": css.get("background-darker"),
  "screen-background": css.get("background-darker"),
  "screen-opacity": 0.8
));
