@import "./variables";

.card_theme_dark {
  background: $dark;
  color: color-switch($dark);

  @if (is-dark($dark)) {
    .card__header,
    .card__footer {
      border-color: $border-color-invert;
    }
  }

  .card__screen {
    background: $dark;
  }
}
