@import "./variables";

.card_theme_dark {
  background: $night;
  color: color-switch($night);

  @if (is-dark($night)) {
    .card__header,
    .card__footer {
      border-color: $border-color-invert;
    }
  }

  .card__screen {
    background: $night;
  }
}
