@import "./variables";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-property: $card-transition-property;
  transition-duration: $card-transition-duration;
  transition-timing-function: $card-transition-timing-function;
  border: $card-border;
  border-radius: $card-border-radius;
  background: $card-background;
  box-shadow: $card-box-shadow;
  color: color-switch($card-background);
}

.card__header,
.card__body,
.card__footer,
.card__image {
  position: relative;
  z-index: 3;
}

.card__body,
.card__header,
.card__footer {
  padding: $card-padding;
}

.card__body {
  flex: 1 1 auto;
}

.card__image {
  flex: 0 1 auto;
  width: 100%;
  height: auto;

  &:first-child {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }
}

.card__header {
  border-bottom: $card-sep-border;

  &:first-child {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
}

.card__footer {
  border-top: $card-sep-border;

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }
}

.card__title {
  flex-grow: 1;
  font-size: $card__title-font-size;
  font-weight: $card__title-font-weight;
}

.card__background,
.card__screen {
  @include size(100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: $card-transition-property;
  transition-duration: $card-transition-duration;
  transition-timing-function: $card-transition-timing-function;
  border-radius: $card-border-radius;
}

.card__background {
  object-fit: cover;
  z-index: 1;
}

.card__screen {
  z-index: 2;
  background: $card__screen-background;
  opacity: $card__screen-opacity;
}
