@import "./variables";

$card_theme_bordered-background: rgba($shade, 0) !default;
$card_theme_bordered-border: 2px solid $shade !default;
$card_theme_bordered-box-shadow: none !default;

$card_theme_bordered-background-hover: rgba($shade, 0.75) !default;
$card_theme_bordered-border-color-hover: darken($shade, 5%) !default;
$card_theme_bordered-box-shadow-hover: none !default;

.card_theme_bordered {
  border: $card_theme_bordered-border;
  background: $card_theme_bordered-background;
  box-shadow: $card_theme_bordered-box-shadow;
  color: color-switch($card_theme_bordered-background);

  @if (is-dark($card_theme_bordered-background)) {
    .card__header,
    .card__footer {
      border-color: $border-color-invert;
    }
  }

  .card__screen {
    background: $card_theme_bordered-background;
  }

  &.card_link:hover,
  &.card_link:focus {
    border-color: $card_theme_bordered-border-color-hover;
    background: $card_theme_bordered-background-hover;
    box-shadow: $card_theme_bordered-box-shadow-hover;
  }
}
