@import "./variables";

@include media-min("md") {
  .card_fade {
    .card__header,
    .card__body,
    .card__footer,
    .card__screen {
      transition: $card-fade-transition;
      opacity: 0;
    }

    &:hover,
    &:focus {
      .card__header,
      .card__body,
      .card__footer {
        opacity: 1;
      }

      .card__screen {
        opacity: $card__screen-opacity;
      }
    }
  }
}
