@use "./variables";

.card_link {
  transform: translate(0, 0);
  box-shadow: variables.$link-shadow;

  &:hover,
  &:focus,
  &:focus-within {
    transform: translate(0, -(variables.$link-offset));
    box-shadow: variables.$link-shadow-hover;
  }
}
