@use "@vrembem/core";
@use "./variables";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-property: variables.$transition-property;
  transition-duration: variables.$transition-duration;
  transition-timing-function: variables.$transition-timing-function;
  border: variables.$border;
  border-radius: variables.$border-radius;
  background: variables.$background;
  box-shadow: variables.$box-shadow;
}

.card__header,
.card__body,
.card__footer,
.card__image {
  position: relative;
  z-index: 3;
}

.card__body,
.card__header,
.card__footer {
  padding: variables.$padding;
}

.card__body {
  flex: 1 1 auto;
}

.card__image {
  flex: 0 1 auto;
  width: 100%;
  height: auto;

  &:first-child {
    border-top-left-radius: variables.$border-radius;
    border-top-right-radius: variables.$border-radius;
  }

  &:last-child {
    border-bottom-left-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
  }
}

.card__header {
  border-bottom: variables.$sep-border;

  &:first-child {
    border-top-left-radius: variables.$border-radius;
    border-top-right-radius: variables.$border-radius;
  }
}

.card__footer {
  border-top: variables.$sep-border;

  &:last-child {
    border-bottom-left-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
  }
}

.card__title {
  flex-grow: 1;
  font-size: variables.$title-font-size;
  font-weight: variables.$title-font-weight;
  line-height: variables.$title-line-height;
}

.card__background,
.card__screen {
  @include core.size(100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: variables.$transition-property;
  transition-duration: variables.$transition-duration;
  transition-timing-function: variables.$transition-timing-function;
  border-radius: variables.$border-radius;
}

.card__background {
  object-fit: cover;
  z-index: 1;
}

.card__screen {
  z-index: 2;
  background: variables.$screen-background;
  opacity: variables.$screen-opacity;
}
