@import "./variables";

.card_invert {
  background: $card__screen-background;
  color: color-switch($card__screen-background);

  .card__header,
  .card__footer {
    @if (is-dark($card__screen-background)) {
      border-color: $border-color-invert;
    }
  }
}
