@import "./variables";

.card_tall {
  .card__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}

@include media-min("md") {
  .card_tall {
    min-height: $card-tall-min-height;
  }
}
