@import "./variables";

.card {
  background: $card-background;
  border: $card-border;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  color: color-switch($card-background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transition: $card-transition;
}

.card__header,
.card__body,
.card__footer,
.card__image {
  position: relative;
  z-index: 3;
}

.card__body,
.card__header,
.card__footer {
  padding: $card-padding;
}

.card__body {
  flex: 1 1 auto;
}

.card__image {
  flex: 0 1 auto;
  height: auto;
  width: 100%;

  &:first-child {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }
}

.card__header {
  border-bottom: $card-sep-border;

  &:first-child {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
}

.card__footer {
  border-top: $card-sep-border;

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }
}

.card__title {
  flex-grow: 1;
  font-size: $card__title-font-size;
  font-weight: $card__title-font-weight;
}

.card__background,
.card__screen {
  border-radius: $card-border-radius;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: $card-transition;
  width: 100%;
}

.card__background {
  object-fit: cover;
  z-index: 1;
}

.card__screen {
  background: $card__screen-background;
  opacity: $card__screen-opacity;
  z-index: 2;
}
