$dialog-zindex: 500 !default;

$dialog-spacing: $spacing !default;
$dialog-inner-spacing: 0.5em !default;
$dialog-padding: 1em !default;
$dialog-background: $white !default;
$dialog-border: $border !default;
$dialog-border-radius: $border-radius !default;
$dialog-box-shadow: 0 2px 6px rgba($black, 0.15) !default;

$dialog__title-font-size: 1.125em !default;
$dialog__title-line-height: 1.45em !default;
