@import 'variables';

.dialog {
  position: relative;
  z-index: 500;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: $dialog-background;
  background-clip: padding-box;
  border: $dialog-border;
  border-radius: $dialog-border-radius;
  box-shadow: $dialog-box-shadow;
  transition: all 0.5s;
}

.dialog__header,
.dialog__body,
.dialog__footer {
  padding: $dialog-padding;
}

.dialog__body_flush {
  padding: 0;
}

.dialog__body_expanded {
  padding: $dialog-padding-expanded;
}

.dialog__header,
.dialog__footer,
.dialog__group {
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: $dialog-inner-spacing;
  }
}

.dialog__header {
  border-bottom: $dialog-border;
}

.dialog__body {
  flex-grow: 1;

  > * + * {
    margin-top: $dialog-spacing;
  }

  + .dialog__body {
    border-top: $dialog-border;
  }
}

.dialog__footer {
  border-top: $dialog-border;
}

.dialog__header,
.dialog__group {
  .dialog__close {
    position: relative;
    top: auto;
    right: auto;
    flex-grow: 0;
  }
}

.dialog__footer_justify_split,
.dialog__group_justify_split {
  justify-content: space-between;
}

.dialog__footer_justify_center,
.dialog__group_justify_center {
  justify-content: center;
}

.dialog__footer_justify_right,
.dialog__group_justify_right {
  justify-content: flex-end;
}

.dialog__close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  + .dialog__body {
    padding-right: 3.5em;
  }
}

.dialog__title {
  flex: 1 1 0;
  font-size: $dialog__title-font-size;
  line-height: $dialog__title-line-height;
}
