@import 'variables';

/**
 * Dialog
 * ---
 * A component that facilitates a conversation between the system and the user.
 * They often request information or an action from the user.
 */

.dialog {
  position: relative;
  z-index: $dialog-zindex;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: $dialog-background;
  background-clip: padding-box;
  border: $dialog-border;
  border-radius: $dialog-border-radius;
  box-shadow: $dialog-box-shadow;
  transition: all $dialog-transition-duration $dialog-transition-timing-function;

  > .dialog__close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    + .dialog__body {
      padding-right: 3.5em;
    }
  }
}

.dialog__header,
.dialog__body,
.dialog__footer {
  padding: $dialog-padding;
}

.dialog__header,
.dialog__body,
.dialog__footer {
  flex: 0 0 auto;
}

.dialog__header,
.dialog__footer {
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: sticky;
  z-index: 1;
  background: $dialog-background;
}

.dialog__header {
  top: 0;
  border-bottom: $dialog-sep-border;
}

.dialog__body {
  flex-grow: 1;

  + .dialog__body {
    border-top: $dialog-sep-border;
  }
}

.dialog__footer {
  bottom: 0;
  border-top: $dialog-sep-border;
}

.dialog__title {
  flex-grow: 1;
  font-size: $dialog__title-font-size;
}
