$icon-font-size: 1.25em !default;
$icon_abs-font-size: 1.25rem !default;
$icon-font-size-sm: 1.0435em !default;
$icon-font-size-lg: 1.5625em !default;
$icon-padding: 0.1em !default;

$icon-fill: none !default;
$icon-stroke: currentColor !default;
$icon-stroke-linecap: round !default;
$icon-stroke-linejoin: round !default;
$icon-stroke-width: 2px !default;

$icon--loading-duration: 1.5s !default;
