@use "./variables";

.dialog {
  position: relative;
  z-index: variables.$zindex;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: variables.$border;
  border-radius: variables.$border-radius;
  background: variables.$background;
  background-clip: padding-box;
  box-shadow: variables.$box-shadow;
  -webkit-overflow-scrolling: touch;
}

.dialog__header,
.dialog__body,
.dialog__footer {
  flex: 0 0 auto;
  padding: variables.$padding;
}

.dialog__header,
.dialog__footer {
  position: sticky;
  z-index: 1;
  display: flex;
  align-items: center;
  background: variables.$background;
  vertical-align: middle;
}

.dialog__header {
  top: 0;
  border-bottom: variables.$sep-border;
}

.dialog__body {
  flex-grow: 1;

  & + & {
    border-top: variables.$sep-border;
  }
}

.dialog__footer {
  bottom: 0;
  border-top: variables.$sep-border;
}

.dialog__title {
  flex-grow: 1;
  font-size: variables.$title-font-size;
  font-weight: variables.$title-font-weight;
  line-height: variables.$title-line-height;
}

.dialog > .dialog__close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  + .dialog__body {
    padding-right: 3.5em;
  }
}
