@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

#{core.bem("dialog")} {
  @include core.focus-ring-base;

  background: css.get("dialog", "background", var.$background);
  background-clip: padding-box;
  border: css.get("dialog", "border", var.$border);
  border-radius: css.get("dialog", "border-radius", var.$border-radius);
  box-shadow: css.get("dialog", "box-shadow", var.$box-shadow);
  color: css.get("dialog", "foreground", var.$foreground);
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  transition-duration: css.get("dialog", "transition-duration", var.$transition-duration);
  transition-property: outline, border-color;
  transition-timing-function: css.get("dialog", "transition-timing-function", var.$transition-timing-function);

  &:focus-visible,
  &[role="alertdialog"] {
    @include core.focus-ring("dialog", var.$focus-ring-color, var.$focus-ring-opacity);

    border-color: core.focus-ring-color("dialog", var.$focus-ring-color);
  }

  &[role="alertdialog"] {
    @include css.override("dialog", "focus-ring-color", var.$focus-ring-color-alert);
  }
}

#{core.bem("dialog", "header")},
#{core.bem("dialog", "body")},
#{core.bem("dialog", "footer")} {
  flex: 0 0 auto;
  padding: css.get("dialog", "padding", var.$padding);
}

#{core.bem("dialog", "header")},
#{core.bem("dialog", "footer")} {
  align-items: center;
  background: css.get("dialog", "background", var.$background);
  display: flex;
  gap: css.get("dialog", "gap", var.$gap);
  position: sticky;
  vertical-align: middle;
  z-index: 1;
}

#{core.bem("dialog", "header")} {
  border-bottom: css.get("dialog", "sep-border", var.$sep-border);
  top: 0;
}

#{core.bem("dialog", "body")} {
  flex-grow: 1;

  & + & {
    border-top: css.get("dialog", "sep-border", var.$sep-border);
  }
}

#{core.bem("dialog", "footer")} {
  border-top: css.get("dialog", "sep-border", var.$sep-border);
  bottom: 0;
}

#{core.bem("dialog", "title")} {
  flex-grow: 1;
  font-size: css.get("dialog", "title-font-size", var.$title-font-size);
  font-weight: css.get("dialog", "title-font-weight", var.$title-font-weight);
  line-height: css.get("dialog", "title-line-height", var.$title-line-height);
}
