@use "@vrembem/core/theme";
@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$z-index: 500 !default;
$padding: 1em !default;
$spacing: 0.5em !default;
$foreground: theme.get("foreground") !default;
$background: theme.get("background") !default;
$border: null !default;
$sep-border: core.$border !default;
$border-radius: core.$border-radius !default;
$shadow: core.$shadow-4 !default;

$title-font-size: core.$font-size-lg !default;
$title-line-height: core.$line-height-lg !default;
$title-font-weight: core.$font-weight-semi-bold !default;
