@import "@vrembem/core/";

$dialog-zindex: 500 !default;
$dialog-padding: 1em !default;
$dialog-background: $white !default;
$dialog-border: null !default;
$dialog-sep-border: $border !default;
$dialog-border-radius: $border-radius !default;
$dialog-box-shadow: $box-shadow-16dp !default;

$dialog__title-font-size: $font-size-lg !default;
$dialog__title-line-height: $line-height-lg !default;
$dialog__title-font-weight: font-weight("semi-bold") !default;
