@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/theme";

$padding: 1em !default;
$gap: 0.5em !default;
$background: null !default;
$foreground: null !default;
$border: null !default;
$sep-border: null !default;
$border-radius: css.get("border-radius") !default;
$box-shadow: css.get("box-shadow-4") !default;
$title-font-size: css.get("font-size-lg") !default;
$title-line-height: css.get("line-height-lg") !default;
$title-font-weight: css.get("font-weight-semi-bold") !default;

// Custom properties
@include css.set("dialog", (
  "padding": $padding,
  "gap": $gap,
  "background": $background,
  "foreground": $foreground,
  "border": $border,
  "sep-border": $sep-border,
  "border-radius": $border-radius,
  "box-shadow": $box-shadow,
  "title": (
    "font-size": $title-font-size,
    "line-height": $title-line-height,
    "font-weight": $title-font-weight,
  )
));

// Themes
@include theme.set("dialog", "light", (
  "background": theme.get("background"),
  "foreground": theme.get("foreground"),
  "border": core.$border,
  "sep-border": core.$border
));
@include theme.set("dialog", "dark");
