// Icon-action
// ---
$icon-action-padding: px-to-rem(3px) !default;

$icon-action-font-size: px-to-rem(18px) !default;
$icon-action-color: $white !default;
$icon-action-color-invert: $color !default;

$icon-action-background: rgba($black, 0.3) !default;
$icon-action-background-hover: rgba($black, 0.6) !default;

$icon-action-border: 1px solid transparent !default;
$icon-action-border-hover: 1px solid transparent !default;
$icon-action-border-radius: 2em !default;

// Icon-action size modifiers
// ---
$icon-action_size_sm-padding: px-to-rem(2px) !default;
$icon-action_size_sm-font-size: px-to-em(12px) !default;

$icon-action_size_lg-padding: px-to-rem(7px) !default;
$icon-action_size_lg-font-size: px-to-em(22px) !default;
