$icon-action-color: $white !default;
$icon-action-padding: px-to-rem(3px) !default;
$icon-action-font-size: px-to-rem(18px) !default;
$icon-action-background: rgba($black, 0.25) !default;
$icon-action-background-hover: rgba($black, 0.5) !default;
$icon-action-border: 1px solid transparent !default;
$icon-action-border-hover: 1px solid transparent !default;
$icon-action-border-radius: 2em !default;

$icon-action_size_small-padding: px-to-rem(2px) !default;
$icon-action_size_small-font-size: px-to-em(12px) !default;

$icon-action_size_large-padding: px-to-rem(7px) !default;
$icon-action_size_large-font-size: px-to-em(22px) !default;
