@import 'variables';

/**
 * Icon-action color modifiers
 */

.icon-action_color_subtle {
  color: $icon-action-color-invert;
  background: none;

  &:hover,
  &:focus {
    color: $icon-action-color-invert;
    background: rgba($black, 0.1);
  }
}

.icon-action_color_invert {
  color: $icon-action-color-invert;
  background: rgba($white, 0.5);

  &:hover,
  &:focus {
    color: $icon-action-color-invert;
    background: rgba($white, 0.75);
  }
}

.icon-action_color_invert_subtle {
  color: $icon-action-color;
  background: none;

  &:hover,
  &:focus {
    color: $icon-action-color;
    background: rgba($white, 0.1);
  }
}

/**
 * Semantic
 */

.icon-action_color_danger {
  background: $danger;
  color: color-switch($danger, $icon-action-color-invert, $icon-action-color);

  &:hover,
  &:focus {
    background: darken($danger, 10%);
    color: color-switch($danger, $icon-action-color-invert, $icon-action-color);
  }
}

.icon-action_color_caution {
  background: $caution;
  color: color-switch($caution, $icon-action-color-invert, $icon-action-color);

  &:hover,
  &:focus {
    background: darken($caution, 10%);
    color: color-switch($caution, $icon-action-color-invert, $icon-action-color);
  }
}

.icon-action_color_success {
  background: $success;
  color: color-switch($success, $icon-action-color-invert, $icon-action-color);

  &:hover,
  &:focus {
    background: darken($success, 10%);
    color: color-switch($success, $icon-action-color-invert, $icon-action-color);
  }
}
