@import 'variables';

/**
 * Icon-action color modifiers
 */

.icon-action_color_fade {
  color: $black;
  background: none;
  opacity: 0.25;

  &:hover,
  &:focus {
    color: $black;
    background: none;
    opacity: 0.75;
  }
}

.icon-action_color_fade-invert {
  color: $white;
  background: none;
  opacity: 0.25;

  &:hover,
  &:focus {
    color: $white;
    background: none;
    opacity: 0.75;
  }
}

.icon-action_color_light {
  color: $color;
  background: rgba($white, 0.5);

  &:hover,
  &:focus {
    color: $color;
    background: rgba($white, 1);
  }
}

.icon-action_color_danger {
  background: $danger;

  &:hover,
  &:focus {
    background: darken($danger, 10%);
  }
}

.icon-action_color_caution {
  background: $caution;

  &:hover,
  &:focus {
    background: darken($caution, 10%);
  }
}

.icon-action_color_success {
  background: $success;

  &:hover,
  &:focus {
    background: darken($success, 10%);
  }
}
