/* @use "@vrembem/core" with (
  $prefix-block: "vb-",
  $prefix-element: "__",
  $prefix-modifier: "--",
  $prefix-modifier-value: "-"
); */

@use "vrembem";
@use "blocks/article";
@use "blocks/box";
@use "blocks/cover";
@use "blocks/debug";
@use "blocks/demo";
@use "blocks/filter";
@use "blocks/flag";
@use "blocks/highlight";
@use "blocks/menu_drawer";
@use "blocks/page";
@use "blocks/swatch";
@use "blocks/swatch-group";
@use "blocks/toolbar";
@use "blocks/version";
