@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "../utilities/debug-map" as *;
@use "../utilities/empty-map" as *;
@use "../utilities/filter-map" as *;
@use "../utilities/remove-nth" as *;

/// Stores all library wide configuration options.
/// @type map
/// @access private
$-config: ();

/// Stores the pre-load configuration strategy.
/// @type map
/// @access private
$-config-replace: ();

/// Stores config property watchers.
/// @type map
/// @access private
$-watchers: ();

/// Stores a list of flags that are allowed in `config.get` calls. These flags
/// enable custom processing for certain config options, even if they are not
/// direct keys in the config map.
/// @type list
/// @access private
$-flags: ("variants");

/// Run all property watchers of a specific property. Passes along the name of
/// the action to the applied mixin.
///
/// @param {string} $key
///   The name of the property that has been changed.
/// @param {string} $action
///   The name of the action taking place, e.g.: "set", "remove", etc.
///
/// @access private
///
@mixin -run-watchers($key, $action) {
  @if map.has-key($-watchers, $key) {
    $mixins: map.get($-watchers, $key);

    @each $key, $mixin in $mixins {
      @include meta.apply($mixin, $action);
    }
  }
}

/// Checks whether or not a flag exists within the provided keys.
///
/// @param {list} $keys...
///   The list of keys to check if a flag exists.
///
/// @return {boolean}
///
/// @access private
///
@function -has-flag($keys...) {
  @return list.index($-flags, list.nth($keys, -1)) != null;
}

/// Removes a flag if it exists within the provided keys.
///
/// @param {list} $keys...
///   The list of keys to remove a flag from.
///
/// @return {list}
///   The remaining keys list.
///
/// @access private
///
@function -remove-flag($keys...) {
  // Only remove the flag if the keys don't point to a real value
  @if -has-flag($keys...) and not map.has-key($-config, $keys...) {
    $keys: remove-nth($keys, -1);
  }

  @return $keys;
}

/// Set a watcher to a specific property of the configuration object.
///
/// @param {string} $prop
///   The name of the property to watch for changes.
/// @param {string} $id
///   A unique ID to store the watcher under.
/// @param {mixin} $mixin
///   The mixin reference to run when the watched property has changed.
///
@mixin watch($prop, $id, $mixin) {
  $-watchers: map.set($-watchers, $prop, $id, $mixin) !global;
}

/// Remove a watcher to a specific property of the configuration object.
///
/// @param {string} $prop
///   The name of the property to stop watching.
/// @param {string} $id
///   The unique ID of the watcher to remove.
///
@mixin unwatch($prop, $id) {
  $-watchers: map.deep-remove($-watchers, $prop, $id) !global;
}

/// Function to returns the value of an option in the configuration map.
///
/// @param {string} $keys...
///   A key or list of keys to follow in the configuration map and return.
///
@function get($keys...) {
  // Initialize the fallback value
  $fallback: null;

  // If $keys shape is "($list...), $fallback" extract parts before processing
  @if list.length($keys) == 2 and meta.type-of(list.nth($keys, 1)) == "list" {
    $fallback: list.nth($keys, 2);
    $keys: list.nth($keys, 1);
  }

  // Check if $keys value maps to something stored in config, or if it's a flag
  @if map.has-key($-config, $keys...) or -has-flag($keys...) {
    // Get the initial result without the flag in keys
    $result: map.get($-config, -remove-flag($keys...)...);

    // Store if this is a breakpoints string request
    $is-breakpoints-string: string.index(list.nth($keys, -1), "-breakpoints");

    // If multiple keys are provided, run them through conditional getters
    @if list.length($keys) > 1 or $is-breakpoints-string {
      // Breakpoints getter
      @if list.nth($keys, -1) == "breakpoints" or $is-breakpoints-string {
        @if $result == true {
          @return map.get($-config, "breakpoints");
        }

        @if $result == false {
          @return empty-map();
        }

        @if meta.type-of($result) == "list" or meta.type-of($result) == "string" {
          @return filter-map(map.get($-config, "breakpoints"), $result);
        }

        @if meta.type-of($result) == "map" {
          @return $result;
        }

        @error "#{$keys}: must be a boolean, list, or map. Received: #{$result}";
      }

      // Variants getter
      @if list.nth($keys, -1) == "variants" {
        $result: map.remove($result, "breakpoints", "default");
      }
    }

    // Return the final result
    @return $result;
  } @else {
    // Return the fallback if provided, otherwise throw
    @if $fallback {
      @return $fallback;
    } @else {
      @error "Config option has not been set: #{$keys}";
    }
  }
}

/// Set an option in the configuration map by providing a key and value to
/// store, or pass a map to store multiple key/value pairs.
///
/// @param {string} $key
///   The key in the map to set. Can be passed a map of key/value pairs.
///   - ("key": "value")
/// @param {any} $value (null)
///   The value to be stored.
///
@mixin set($key, $value: null) {
  $result: $-config;
  $keys: ();

  @if meta.type-of($key) == "map" {
    @each $key, $value in $key {
      $keys: list.append($keys, $key);
      $result: map.set($result, $key, $value);
    }
  } @else {
    $keys: list.append($keys, $key);
    $result: map.set($result, $key, $value);
  }

  $-config: $result !global;

  @each $key in $keys {
    $-config-replace: map.set($-config-replace, $key, true) !global;
  }

  @each $key in $keys {
    @include -run-watchers($key, "set");
  }
}

/// Merges a map value of the configuration object with a provided map value.
///
/// @param {string} $key
///   The name of the property to merge maps with.
/// @param {map} $map
///   The map to be merged with the existing map value.
///
@mixin merge($key, $map) {
  // Ensure that the key exists before trying to merge
  @if map.has-key($-config, $key) {
    $map: map.merge(map.get($-config, $key), $map);
  }

  // Add the map to the config key
  $-config: map.set($-config, $key, $map) !global;

  // Run the merge watchers
  @include -run-watchers($key, "merge");
}

/// Merges a configuration map to the config module based on the values in a
/// default map. This mixin is used to allow setting values in the config module
/// using the Sass `with` clause.
///
/// @param {map} $config
///   The config map to set in the global config object.
/// @param {map} $default
///   The default map that is also used as a map signature for `$config`.
/// @param {string} $namespace (null)
///   A package namespace to prefix all provided config and default keys. This
///   allows omitting the package name from config options in package imports.
///
@mixin merge-with-default($config, $default, $namespace: null) {
  @each $short-key, $default-value in $default {
    // Create and build the $full-key if a $namespace is provided
    $full-key: $short-key;

    @if $namespace and string.index($short-key, "#{$namespace}-") != 1 {
      $full-key: "#{$namespace}-#{$short-key}";
    }

    // Initialize the result with the provided default value
    $result: $default-value;

    // If key has already been set, either replace or merge with default
    @if map.has-key($-config, $full-key) {
      @if meta.type-of($result) == "map" and not map.has-key($-config-replace, $full-key) {
        $result: map.deep-merge($result, map.get($-config, $full-key));
      } @else {
        $result: map.get($-config, $full-key);
      }
    }

    // If provided config contains the full key, merge with the current result
    @if map.has-key($config, $full-key) {
      @if meta.type-of($result) == "map" {
        $result: map.deep-merge($result, map.get($config, $full-key));
      } @else {
        $result: map.get($config, $full-key);
      }
    }

    // If provided config contains the short key, merge with the current result
    @if map.has-key($config, $short-key) {
      @if meta.type-of($result) == "map" {
        $result: map.deep-merge($result, map.get($config, $short-key));
      } @else {
        $result: map.get($config, $short-key);
      }
    }

    // Apply the configuration option
    $-config: map.set($-config, $full-key, $result) !global;
    $-config-replace: map.remove($-config-replace, $full-key) !global;

    @include -run-watchers($full-key, "set");
  }
}

/// Remove an option from the configuration map.
///
/// @param {string} $key
///   The first key to follow or remove if no other keys are provided.
/// @param {string} $keys...
///   The list of keys to follow and remove from the configuration map.
///
@mixin remove($key, $keys...) {
  $-config: map.deep-remove($-config, $key, $keys...) !global;

  @include -run-watchers($key, "remove");
}

/// Log to console the entire configuration map or a specific value.
///
/// @param {string} $value ("*")
///   A specific value to log.
///
@mixin log($value: "*") {
  @if $value == "*" {
    @include debug-map($-config, "Config options map");
  } @else {
    @if map.has-key($-config, $value) {
      @include debug-map(map.get($-config, $value), "Config > #{$value}");
    } @else {
      @debug 'Config "#{$value}" has not been set!';
    }
  }
}
