@use "@vrembem/core";
@use "./variables";

.input_state_success {
  box-shadow: variables.$box-shadow-values rgba(core.$success, 1);

  &:hover {
    box-shadow: variables.$box-shadow-hover-values rgba(core.$success, 1);
  }

  &:focus {
    box-shadow: variables.$box-shadow-focus-values rgba(core.$success, 1);
  }
}

.input_state_caution {
  box-shadow: variables.$box-shadow-values rgba(core.$caution, 1);

  &:hover {
    box-shadow: variables.$box-shadow-hover-values rgba(core.$caution, 1);
  }

  &:focus {
    box-shadow: variables.$box-shadow-focus-values rgba(core.$caution, 1);
  }
}

.input_state_danger {
  box-shadow: variables.$box-shadow-values rgba(core.$danger, 1);

  &:hover {
    box-shadow: variables.$box-shadow-hover-values rgba(core.$danger, 1);
  }

  &:focus {
    box-shadow: variables.$box-shadow-focus-values rgba(core.$danger, 1);
  }
}
