@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("input", null, "type", "select")} {
  position: relative;
  padding-right: 2em;
  background-image: css.get("input", "select-icon");
  background-repeat: no-repeat;
  background-position: 100% center;
  cursor: pointer;

  &:read-only {
    background-color: css.get("input", "background");
  }

  &:disabled {
    background-color: css.get("input", "background-disabled");
  }
}

#{core.bem("input", null, "type", "textarea")} {
  min-width: 100%;
}
