@use "@vrembem/core";
@use "@vrembem/core/tokens";

#{core.bem("input", null, "type", "select")} {
  cursor: pointer;
  position: relative;
  padding-right: 2em;
  background-image: tokens.get("input", "select-icon");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75em) center;

  &:read-only {
    background-color: tokens.get("input", "background", tokens.get("background"));
  }

  &:disabled {
    background-color: tokens.get("input", "background-disabled", tokens.get("background-shift"));
  }
}

#{core.bem("input", null, "type", "textarea")} {
  min-width: 100%;
}
