@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}input#{$_m}color#{$_v}invert {
  border-color: rgba(core.$white, 0);
  background: rgba(core.$white, 0.1);
  box-shadow: none;
  color: core.$white;

  &:focus {
    border-color: rgba(core.$white, 0);
    background: rgba(core.$white, 0.2);
    box-shadow: none;
  }

  &::placeholder {
    color: rgba(core.$white, 0.5);
  }
}
