@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

#{core.bem("input")} {
  position: relative;
  display: block;
  width: 100%;
  min-width: css.get("input", "size", var.$size);
  max-width: 100%;
  min-height: css.get("input", "size", var.$size);
  padding: css.get("input", "padding", var.$padding);
  transition-property: css.get("input", "transition-property");
  transition-duration: css.get("input", "transition-duration");
  transition-timing-function: css.get("input", "transition-timing-function");
  outline: none;
  border: css.get("input", "border-width", var.$border-width) solid css.get("input", "border-color");
  border-radius: css.get("input", "border-radius", var.$border-radius);
  background: css.get("input", "background");
  box-shadow: 0 0 0 0 css.get("input", "box-shadow"), inset 0 0.1rem 0.2rem css.get("input", "box-shadow-inset");
  color: css.get("input", "foreground");
  font-family: css.get("font-family");
  font-size: css.get("input", "font-size", var.$font-size);
  line-height: css.get("input", "line-height", var.$line-height);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:hover {
    border-color: css.get("input", "border-color-hover", "border-color");
    background-color: css.get("input", "background-hover", "background");
    color: css.get("input", "foreground-hover", "foreground");
  }

  &:focus {
    border-color: css.get("input", "border-color-focus", "border-color-hover", "border-color");
    background-color: css.get("input", "background-focus", "background-hover", "background");
    box-shadow: 0 0 0 0.2rem css.get("input", "box-shadow-focus"), inset 0 0.1rem 0.2rem css.get("input", "box-shadow-inset-focus");
    color: css.get("input", "foreground-focus", "foreground-hover", "foreground");
  }

  &:read-only {
    background-color: css.get("input", "background-readonly");
  }

  &:disabled {
    background-color: css.get("input", "background-disabled");
    pointer-events: none;
  }

  &::placeholder {
    color: css.get("input", "foreground-placeholder");
  }
}
