@use "@vrembem/core";
@use "@vrembem/core/tokens";

#{core.bem("input", null, "type", "select")} {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: calc(tokens.get("form-control-padding-y") * 2);
  align-items: center;
  appearance: base-select;

  &::picker-icon {
    @include core.size(tokens.get("input", "select-icon-size", 0.8em));

    content: "";
    background-color: tokens.get("input", "select-icon-color", currentcolor);
    mask: url(core.svg("expand")) center center / 100% no-repeat;
  }

  &:read-only {
    background-color: tokens.get("input", "background", tokens.get("background"));
  }

  &:disabled {
    background-color: tokens.get("input", "background-disabled", tokens.get("background-shift"));
  }
}

#{core.bem("input", null, "type", "textarea")} {
  min-width: 100%;
}
