@use "./variables" as var;

@mixin input-variant(
  $border,
  $background: null,
  $box-shadow: null,
  $color: var.$color,
  $outline-color: $border,
  $outline-alpha: 0.5,
  $outline: rgba($outline-color, 0),
  $border-hover: $border,
  $border-focus: $border-hover,
  $background-hover: null,
  $background-focus: $background-hover,
  $box-shadow-hover: $box-shadow,
  $box-shadow-focus: $box-shadow-hover,
  $color-hover: null,
  $color-focus: $color-hover,
  $outline-hover: if(var.$outline-hover, rgba($outline-color, $outline-alpha), null),
  $outline-focus: if(var.$outline-focus, rgba($outline-color, $outline-alpha), null),
) {
  outline-color: $outline;
  border-color: $border;
  background-color: $background;
  box-shadow: $box-shadow;
  color: $color;

  &:hover {
    outline-color: $outline-hover;
    border-color: $border-hover;
    background-color: $background-hover;
    box-shadow: $box-shadow-hover;
    color: $color-hover;
  }

  &:focus {
    outline-color: $outline-focus;
    border-color: $border-focus;
    background-color: $background-focus;
    box-shadow: $box-shadow-focus;
    color: $color-focus;
  }
}
