@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

@include css.register("input");
$accent: css.get("input", "accent", css.get("form-control-accent")) !default;

// Appearance
$background: css.get("background") !default;
$background-hover: $background !default;
$background-focus: $background !default;

$foreground: css.get("foreground") !default;
$foreground-hover: $foreground !default;
$foreground-focus: $foreground !default;

$border-color: css.get("border-color-dark") !default;
$border-color-hover: css.get("border-color-darker") !default;
$border-color-focus: $accent !default;

$box-shadow: 0 0 0 0 hsl(from $accent h s l / 0%), inset 0 0.1rem 0.2rem rgb(0 0 0 / 10%) !default;
$box-shadow-hover: $box-shadow !default;
$box-shadow-focus: 0 0 0 0.25rem hsl(from $accent h s l / 50%), inset 0 0.1rem 0.2rem rgb(0 0 0 / 10%) !default;

// State: placeholder
$foreground-placeholder: null !default;

// State: readonly
$background-readonly: css.get("background-dark") !default;

// State: disabled
$background-disabled: css.get("background-darker") !default;

// Modifier: input_size_sm
$size-sm-font-size: css.get("form-control-font-size-sm") !default;

// Modifier: input_size_lg
$size-lg-font-size: css.get("form-control-font-size-lg") !default;

// Themes
@include theme.set("input", "light", (
  "select-icon": url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="12" fill="black"><polyline points="0 8 3.5 12 7 8"></polyline><polyline points="0 4 3.5 0 7 4"></polyline></svg>')
));

@include theme.set("input", "dark", (
  "select-icon": url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="12" fill="white"><polyline points="0 8 3.5 12 7 8"></polyline><polyline points="0 4 3.5 0 7 4"></polyline></svg>')
));
