@use "./variables";

.input_size_sm {
  padding: variables.$size_sm-padding;
  font-size: variables.$size_sm-font-size;
  line-height: variables.$size_sm-line-height;
}

.input_size_lg {
  padding: variables.$size_lg-padding;
  font-size: variables.$size_lg-font-size;
  line-height: variables.$size_lg-line-height;
}
