@import "variables";

.input_type_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url($input_type_select-image);
  background-position: 100% center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 2em;
}

.input_type_textarea {
  height: auto;
  max-width: 100%;
  min-height: 2.375em; // rows="1"
}
