@import "variables";

.input {
  appearance: none;
  background: $input-background;
  border: $input-border;
  border-radius: 3px;
  box-shadow: $input-box-shadow-values $input-box-shadow-color;
  color: $color;
  display: block;
  font-family: $font-family;
  font-size: $input-font-size;
  line-height: $input-line-height;
  padding: $input-padding;
  position: relative;
  transition: border-color 0.25s, background-color 0.25s, box-shadow 0.25s;
  width: 100%;

  &:focus {
    background-color: $input-background-focus;
    border: $input-border-focus;
    box-shadow: $input-box-shadow-focus-values $input-box-shadow-focus-color;
    outline: none;
  }

  &::placeholder {
    color: $color-light;
  }
}

.input_color_invert {
  background: rgba($white, 0.1);
  border-color: rgba($white, 0);
  box-shadow: none;
  color: $white;

  &:focus {
    background: rgba($white, 0.2);
    border-color: rgba($white, 0);
    box-shadow: none;
  }

  &::placeholder {
    color: rgba($white, 0.5);
  }
}
