@import "./variables";

.input {
  position: relative;
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: 3px;
  background: $input-background;
  box-shadow: $input-box-shadow-values $input-box-shadow-color;
  color: $color;
  font-family: $font-family;
  font-size: $input-font-size;
  line-height: $input-line-height;
  appearance: none;

  &:hover {
    border-color: $input-border-color-hover;
  }

  &:focus {
    outline: none;
    border-color: $input-border-color-focus;
    background-color: $input-background-focus;
    box-shadow: $input-box-shadow-focus-values $input-box-shadow-focus-color;
  }

  &::placeholder {
    color: $color-subtle;
  }
}

.input_auto {
  width: auto;
}

.input_color_invert {
  border-color: rgba($white, 0);
  background: rgba($white, 0.1);
  box-shadow: none;
  color: $white;

  &:focus {
    border-color: rgba($white, 0);
    background: rgba($white, 0.2);
    box-shadow: none;
  }

  &::placeholder {
    color: rgba($white, 0.5);
  }
}
