@import "./variables";

.input_size_sm {
  padding: $input_size_sm-padding;
  font-size: $input_size_sm-font-size;
  line-height: $input_size_sm-line-height;
}

.input_size_lg {
  padding: $input_size_lg-padding;
  font-size: $input_size_lg-font-size;
  line-height: $input_size_lg-line-height;
}
