@use "@vrembem/core";
@use "@vrembem/core/config";

$config: () !default;

// prettier-ignore
$default: (
  // Controls whether module styles are output. This can be overridden on a per 
  // module basis using the `output-exceptions` config option.
  // @type boolean
  "output": true,

  // Modules to exclude from the output rule set in `base-output`
  // @type list
  "output-exceptions": (),

  // A map containing module names as keys and their preferred class selectors
  // @type map
  "classes": (
    "separator": "sep"
  ),

  // Used to output the heading styles and their font-size/line-height CSS 
  // variables. Should contain a key of the heading level to output and the 
  // value of a font-size and optional line-height (space separated).
  // @type map
  "headings": (
    "h1": 2.75em,
    "h2": 2em,
    "h3": 1.75em,
    "h4": 1.5em,
    "h5": 1.25em,
    "h6": 1em
  ),

  // Map modules to their preferred type selectors
  // @type map
  "type-selectors": (
    "h1": "> h1",
    "h2": "> h2",
    "h3": "> h3",
    "h4": "> h4",
    "h5": "> h5",
    "h6": "> h6",
    "link": ":not(div) > a",
    "list": "> ul, > ol",
    "code": ":not(pre) > code",
    "pre": "> pre",
    "blockquote": "> blockquote",
    "separator": "> hr"
  )
);

@include config.apply("base", $config, $default);
