@use "@vrembem/core";
@use "@vrembem/core/config";
@include config.set-default(
  (
    "base-output": true,
    "base-output-exceptions": (),
    "base-classes": (
      "separator": "sep"
    ),
    "base-headings": (
      "h1": 2.75em,
      "h2": 2em,
      "h3": 1.75em,
      "h4": 1.5em,
      "h5": 1.25em,
      "h6": 1em
    ),
    "base-type-selectors": (
      "h1": "> h1",
      "h2": "> h2",
      "h3": "> h3",
      "h4": "> h4",
      "h5": "> h5",
      "h6": "> h6",
      "link": ":not(div) > a",
      "list": "> ul, > ol",
      "code": ":not(pre) > code",
      "pre": "> pre",
      "blockquote": "> blockquote",
      "separator": "> hr"
    )
  )
);
