@use "sass:list";
@use "sass:string";
@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/config";
@use "./variables" as var;

/// Generate a base module class selector with a core prefix and optional modifiers.
/// @param {string} $name
///   The base name of the module. Will search for a shorthand in `var.$classes`.
/// @param {string} $args...
///   Additional strings appended as modifiers to the class selector.
/// @return {selector}
///   A valid base module CSS selector.
@function selector($name, $args...) {
  // Check if there's a shortname for the provided module name.
  @if map.has-key(var.$classes, $name) {
    $name: map.get(var.$classes, $name);
  }

  // Setup the base module class name with prefix.
  $class: '#{config.get("prefix-block")}#{$name}';

  // Apply all the arguments to class.
  @each $arg in $args {
    // Convert arg to a string.
    $arg: "" + $arg;
    // Ensure that it's not an empty string.
    @if $arg != "" {
      // Append $arg to $class with a dash delimiter.
      $class: '#{$class}-#{$arg}';
    }
  }

  // Return the class.
  @return ".#{$class}";
}

/// Conditional logic for when to output a base module.
/// @param {string} $module
///   The module name to conditionally toggle output.
/// @return {boolean}
///   The resolved condition boolean.
@function maybe-output($module) {
  @if list.index(var.$output-exceptions, $module) {
    @return not var.$output;
  } @else {
    @return var.$output;
  }
}
