@use "sass:list";
@use "sass:string";
@use "sass:map";
@use "sass:meta";
@use "@vrembem/core/config";

/// Conditional logic for when to output a base module.
///
/// @param {string} $module
///   The module name to conditionally toggle output.
///
/// @return {boolean}
///   The resolved condition boolean.
///
@function maybe-output($module) {
  @if list.index(config.get("base-output-exceptions"), $module) {
    @return not config.get("base-output");
  } @else {
    @return config.get("base-output");
  }
}

/// Creates a type selector for a base module if configured in `$type-include`.
///
/// @param {string} $module
///   The base module to check if type selector should be included.
///
/// @return {selector}
///   A partial CSS selector starting with ", " meant to be appended to an
///   existing selector. Will return an empty string if not configured.
///
/// @access private
@function -get-type-selector($module) {
  // Initialize the type selector as an empty string
  $type-selector: "";

  // Check if we should include this module in type styles
  @if map.has-key(config.get("base-type-selectors"), $module) {
    // Initialize the type class selector
    $type: "type";

    // Check if there's a shortname for the type module
    @if map.has-key(config.get("base-classes"), "type") {
      $type: map.get(config.get("base-classes"), "type");
    }

    // Apply the block prefix to the root type class
    $type: '#{config.get("prefix-block")}#{$type}';

    // Create the type selector using the type module selector
    $list: string.split(map.get(config.get("base-type-selectors"), $module), ",");

    @each $item in $list {
      $type-selector: "#{$type-selector}, .#{$type} #{$item}";
    }
  }

  // Return the type selector
  @return $type-selector;
}

/// Generate a base module selector with a core prefix and optional modifiers.
///
/// @param {string} $module
///   The base module name.
/// @param {string} $args...
///   Additional strings appended as modifiers to the class selector.
///
/// @return {selector}
///   A valid base module CSS selector.
///
@function selector(
  $module,
  $args...
) {
  @if meta.type-of($module) == "map" or meta.type-of($module) == "list" {
    // If $module is a map or list, build a selector for each item/key
    $selectors: ();
    $items: $module;

    @if meta.type-of($module) == "map" {
      $items: map.keys($module);
    }

    @each $item in $items {
      $selectors: list.append(
        $selectors,
        selector(
          $item,
          $args...
        ),
        comma
      );
    }

    @return list.join($selectors, ", ");
  } @else {
    // Setup name var since we use `$module` later
    $name: $module;

    // Check if there's a shortname for the provided module name
    @if map.has-key(config.get("base-classes"), $name) {
      $name: map.get(config.get("base-classes"), $name);
    }

    $prefix: config.get("base-prefix");

    @if $prefix and $prefix != "" {
      $prefix: "#{$prefix}-";
    }

    // Setup the base module class name with prefix
    $class: "#{$prefix}#{$name}";

    // Apply all the arguments to class
    @each $arg in $args {
      // Convert arg to a string
      $arg: "" + $arg;

      // Ensure that it's not an empty string
      @if $arg != "" {
        // Append $arg to $class with a dash delimiter
        $class: "#{$class}-#{$arg}";
      }
    }

    // Get the type selector if one is required
    $type-selector: -get-type-selector($module);

    // Return the class
    @return ".#{$class}#{$type-selector}";
  }
}
