@use "./variables" as var;
@use "./mixins" as mix;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_c: var.$class-type;

.#{$_b}link {
  @include mix.link();
}

.#{$_b}link#{$_m}subtle {
  @include mix.link-modifier("subtle");
}

.#{$_b}link#{$_m}invert {
  @include mix.link-modifier("invert");
}

.#{$_b}link#{$_m}invert-subtle {
  @include mix.link-modifier("invert-subtle");
}

@if (var.$class-type) {
  .#{$_b}#{$_c} .#{$_b}link#{$_m}subtle {
    @include mix.link-modifier("subtle");
  }

  .#{$_b}#{$_c} .#{$_b}link#{$_m}invert {
    @include mix.link-modifier("invert");
  }

  .#{$_b}#{$_c} .#{$_b}link#{$_m}invert-subtle {
    @include mix.link-modifier("invert-subtle");
  }
}
