@use "sass:list";
@use "sass:meta";
@use "@vrembem/core/css";
@use "./variables" as var;

/// Output the styles for heading levels based on the values of `$map`.
///
/// @param {map} $map (var.$heading-scale)
///   The map of heading levels to loop through.
/// @param {string} $prefix (".")
///   The string to prefix each map key with.
///
@mixin heading-levels($map: var.$heading-scale, $prefix: ".") {
  @each $key, $value in $map {
    $font-size: $value;
    $line-height: null;

    @if meta.type-of($value) == list {
      $font-size: list.nth($value, 1);
      $line-height: list.nth($value, 2);
    }

    #{$prefix}#{$key} {
      @include css.override("heading", "font-size", $font-size);
      @include css.override("heading", "line-height", $line-height);
    }
  }
}
