@use "./variables" as var;

@if (var.$class-scroll-box) {
  .#{var.$prefix-block}#{var.$class-scroll-box} {
    display: block;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
