@use "./variables" as var;

@if (var.$class-symbols) {
  .#{var.$prefix-block}#{var.$class-symbols} {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
  }
}
