@use "./variables" as var;
@use "./mixins" as mix;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_c: var.$class-type;

.#{$_b}#{$_c} {
  @include mix.type();
}

.#{$_b}#{$_c}#{$_m}invert {
  @include mix.type-invert();
}
