@use "@vrembem/core";

// Prefixes
// ---

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

// Output options
// ---

$output: true !default;
$output-base: $output !default;
$output-blockquote: $output !default;
$output-code: $output !default;
$output-embed: $output !default;
$output-heading: $output !default;
$output-link: $output !default;
$output-list: $output !default;
$output-pre: $output !default;
$output-scroll-box: $output !default;
$output-separator: $output !default;
$output-spacing: $output !default;
$output-symbols: $output !default;
$output-type: $output !default;

// Base component classes
// ---

$class-embed: "embed" !default;
$class-scroll-box: "scroll-box" !default;
$class-separator: "sep" !default;
$class-spacing: "spacing" !default;
$class-symbols: "symbols" !default;
$class-type: "type" !default;

// Base settings
// ---

$box-sizing: border-box !default;
$body-background: null !default;

// Blockquote
// ---

$blockquote-padding: 1.5em !default;
$blockquote-spacing: 1em !default;
$blockquote-color: inherit !default;
$blockquote-background: null !default;
$blockquote-border: core.$border-light !default;
$blockquote-border-invert: core.$border-invert !default;
$blockquote-border-radius: null !default;
$blockquote-accent-width: 4px !default;
$blockquote-accent-offset: -1px !default;
$blockquote-accent-color: core.$primary !default;

// Code
// ---

$code-padding: null !default;
$code-background: null !default;
$code-border: null !default;
$code-border-radius: core.$border-radius !default;
$code-color: core.$pink !default;
$code-color-invert: core.$pink-300 !default;

// Embed
// ---

$embed-ratio: core.aspect-ratio(16, 9) !default;

// Heading
// ---

$heading-font-family: null !default;
$heading-line-height: 1.3 !default;
$heading-color: inherit !default;
$heading-color-invert: null !default;
$heading-font-weight: core.font-weight("semi-bold") !default;

// Link
// ---

$link-text-decoration: none !default;
$link-text-decoration-hover: null !default;
$link-transition: null !default;

$link-color: core.$primary !default;
$link-color-hover: core.$primary-dark !default;
$link-border: 1px solid core.$border-color !default;
$link-border-hover: 1px solid currentColor !default;

$link-subtle-color: core.$color-subtle !default;
$link-subtle-color-hover: $link-color-hover !default;
$link-subtle-border-color: core.$border-color !default;
$link-subtle-border-color-hover: currentColor !default;

$link-invert-color: core.$white !default;
$link-invert-color-hover: core.$white !default;
$link-invert-border-color: rgba(core.$white, 0.5) !default;
$link-invert-border-color-hover: currentColor !default;

$link-invert-subtle-color: core.$color-invert-subtle !default;
$link-invert-subtle-color-hover: core.$color-invert !default;
$link-invert-subtle-border-color: rgba(core.$white, 0.5) !default;
$link-invert-subtle-border-color-hover: currentColor !default;

// List
// ---

$list-spacing: 1.5em !default;
$list-item-spacing: 0.5em !default;

// Pre
// ---

$pre-padding: 1em !default;
$pre-background: core.$shade !default;
$pre-border: null !default;
$pre-border-radius: core.$border-radius !default;
$pre-color: core.$color !default;

// Separator
// ---

$separator-border: 1px solid core.$border-color !default;

// Spacing
// ---

$spacing: core.$spacing !default;
$spacing-map: core.$spacing-map !default;

// Type
// ---

$type-font-family: null !default;
$type-font-size: null !default;
$type-line-height: null !default;
$type-spacing: null !default;
