@import "@vrembem/core/index";

$class-embed: "embed" !default;
$class-separator: "sep" !default;
$class-symbols: "symbols" !default;
$class-type: "type" !default;

$box-sizing: border-box !default;
$font-size: $font-size !default;
$line-height: $line-height !default;
$color: $color !default;
$font-family: $font-family !default;
$body-background: null !default;

$embed-ratio: aspect-ratio(16, 9) !default;

$list-spacing: 1.5em !default;
$list-item-spacing: 0.5em !default;

$blockquote-padding: 1.5em !default;
$blockquote-spacing: 1em !default;
$blockquote-color: inherit !default;
$blockquote-background: null !default;
$blockquote-border: $border-light !default;
$blockquote-border-invert: $border-invert !default;
$blockquote-border-radius: null !default;
$blockquote-accent-width: 4px !default;
$blockquote-accent-offset: -1px !default;
$blockquote-accent-color: $primary !default;

$code-padding: null !default;
$code-background: null !default;
$code-border: null !default;
$code-color: $pink !default;
$code-color-invert: $pink-300 !default;

$pre-padding: 1em !default;
$pre-background: $shade !default;
$pre-border: null !default;
$pre-border-radius: $border-radius !default;
$pre-color: $color !default;

$type-font-family: null !default;
$type-font-size: null !default;
$type-line-height: null !default;
$type-spacing: 1rem !default;
$type-spacing-lg: 1.5rem !default;
