@use "@vrembem/core";
@use "@vrembem/core/css";
@include css.register("base");

$output: true !default;
$output-exceptions: () !default;
$classes: (
  "separator": "sep"
) !default;
$heading-scale: (
  "h1": 2.75em,
  "h2": 2em,
  "h3": 1.75em,
  "h4": 1.5em,
  "h5": 1.25em,
  "h6": 1em
) !default;
$type-selectors: (
  "h1": "> h1",
  "h2": "> h2",
  "h3": "> h3",
  "h4": "> h4",
  "h5": "> h5",
  "h6": "> h6",
  "blockquote": "> blockquote",
  "code": ":not(pre) > code",
  "link": ":not(div) > a",
  "list": "> ul, > ol",
  "pre": "> pre",
  "separator": "> hr"
) !default;
