html,
body {
  height: 100%;
}

html {
  box-sizing: $box-sizing;
  font-size: $font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $body-background;
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: $heading-font-weight;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-transform: inherit;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}

code,
pre {
  font-family: $font-family-mono;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}
