%hr {
  background: $border-color;
  border: none;
  display: block;
  height: 1px;
}

.hr,
.type .hr {
  @extend %hr;
}

%hr_invert {
  background-color: $border-color-invert;
}

.hr_invert,
.type .hr_invert {
  @extend %hr_invert;
}
