@mixin hr() {
  display: block;
  height: 1px;
  border: none;
  background: $border-color;
}

@mixin hr-invert() {
  background-color: $border-color-invert;
}

.hr {
  @include hr();
}

.hr_invert {
  @include hr-invert();
}
