@use "@vrembem/core";
@use "./variables";
@use "./mixins";

.#{variables.$class-separator} {
  @include mixins.separator();
}

.#{variables.$class-separator}_light {
  border-color: core.$border-color-light !important;
}

.#{variables.$class-separator}_dark {
  border-color: core.$border-color-dark !important;
}

.#{variables.$class-separator}_darker {
  border-color: core.$border-color-darker !important;
}

.#{variables.$class-separator}_invert {
  border-color: core.$border-color-invert !important;
}

.#{variables.$class-separator}_invert-light {
  border-color: core.$border-color-invert-light !important;
}

.#{variables.$class-separator}_invert-dark {
  border-color: core.$border-color-invert-dark !important;
}

.#{variables.$class-separator}_invert-darker {
  border-color: core.$border-color-invert-darker !important;
}
