.table {
  width: 100%;
  background-color: $table-background;
  text-align: left;

  tr {
    position: relative;
    z-index: 1;
    background-color: $table-row-background;
  }

  th,
  td {
    padding: $table-padding;
    vertical-align: top;
  }

  th {
    font-weight: $table-header-font-weight;
  }

  caption {
    padding: $table-padding;
    caption-side: bottom;
    color: $color-subtle;
    text-align: left;
  }
}

.table_rowed {
  tr {
    border-top: $table-border;
  }

  th,
  td {
    border: none;
  }
}

.table_bordered {
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: $table-border;

  tr {
    border-top: $table-border;
  }

  th {
    padding: $table-padding;
    border: $table-border;
  }

  td {
    padding: $table-padding;
    border: $table-border;
  }
}

.table_zebra {
  th {
    background-color: $table-row-background-alt;
  }

  tr:nth-child(even) {
    background-color: $table-row-background-alt;
  }
}

.table_hover {
  tr:hover {
    z-index: 2;

    td {
      background-color: $table-row-background-hover;
    }
  }
}
