%table {
  text-align: left;
  width: 100%;

  th,
  td {
    padding: 0.75em;
    vertical-align: top;
  }
}

.table,
.type .table {
  @extend %table;
}

%table_bordered {
  border-bottom: $table-border;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;

  tr {
    background-color: $table-background;
    border-top: $table-border;
  }

  th {
    border: $table-border;
    padding: $table-padding;
  }

  td {
    border: $table-border;
    padding: $table-padding;
  }
}

.table_bordered,
.type .table_bordered {
  @extend %table_bordered;
}

%table_rowed {
  tr {
    border-top: $table-border;
  }

  th,
  td {
    border: none;
  }
}

.table_rowed,
.type .table_rowed {
  @extend %table_rowed;
}

%table_zebra {
  tr:nth-child(even) {
    background-color: $table-background-alt;
  }

  thead tr {
    background-color: $table-background-alt;
  }
}

.table_zebra,
.type .table_zebra {
  @extend %table_zebra;
}

%table_zebra_remove {
  tr:nth-child(even) {
    background-color: $table-background;
  }

  thead tr {
    background-color: $table-background;
  }
}

.table_zebra_remove,
.type .table_zebra_remove {
  @extend %table_zebra_remove;
}

@include media-max('md') {
  %table_responsive {
    border-bottom: $table-border;
    display: block;
    text-align: left;

    > * {
      display: block;
    }

    tr {
      border-top: $table-border;
      display: block;
      padding: 0.5em;
    }

    th,
    td {
      border: none;
      border-top: 1px dashed $table-border-color;
      display: block;
      padding: 0.5em 0;
      width: 100%;

      &:first-child {
        border-top: none;
      }
    }
  }
}

.table_responsive,
.type .table_responsive {
  @extend %table_responsive;
}
