@import 'variables';

/**
 * Arrow
 */

.arrow {
  pointer-events: none;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 0;
  height: 0;
  border-top: $arrow-size solid $arrow-color;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  transform-origin: center;
}

.arrow_up {
  transform: rotate(180deg);
}

.arrow_left {
  transform: rotate(90deg);
}

.arrow_right {
  transform: rotate(-90deg);
}
