@use "../modules/css";
@include css.set(
  "core",
  (
    "border-width": 1px,
    "border-style": solid
  )
);
@include css.set(
  "core",
  (
    "border": css.get("border-width") css.get("border-style") css.get("border-color"),
    "border-dark": css.get("border-width") css.get("border-style") css.get("border-color-dark"),
    "border-darker": css.get("border-width") css.get("border-style") css.get("border-color-darker"),
    "border-radius": 0.25rem,
    "border-radius-lg": 0.5rem,
    "border-radius-circle": 9999px
  )
);
