@use "../modules/css";
@include css.set(
  "core",
  (
    "box-shadow": 0 2px 6px css.get("shadow-color"),
    "box-shadow-1": 0 1px 3px css.get("shadow-color"),
    "box-shadow-2": 0 2px 6px css.get("shadow-color"),
    "box-shadow-3": 0 4px 12px css.get("shadow-color"),
    "box-shadow-4": 0 8px 18px css.get("shadow-color"),
    "box-shadow-5": 0 12px 24px css.get("shadow-color")
  )
);
