@use "../modules/css";

$focus-ring-width: 3px !default;
$focus-ring-style: solid !default;
$focus-ring-offset: 0 !default;
$focus-ring-opacity: 40% !default;

@include css.set("core", "focus-ring", (
  "width": $focus-ring-width,
  "style": $focus-ring-style,
  "offset": $focus-ring-offset,
  "opacity": $focus-ring-opacity,
));
