@use "../modules/css";
@use "../modules/palette";
@use "../modules/theme";
@include css.set(
  "core",
  "form-control",
  (
    "font-size": css.get("font-size"),
    "font-size-sm": css.get("font-size-sm"),
    "font-size-lg": css.get("font-size-lg"),
    "line-height": css.get("line-height"),
    "border-width": css.get("border-width"),
    "border-radius": css.get("border-radius"),
    "padding-x": 1em,
    "padding-y": 0.5em,
    "accent": palette.get("primary"),
    "background": css.get("background"),
    "background-border-radius": css.get("border-radius-circle"),
    "background-opacity": 0%,
    "background-opacity-hover": 20%,
    "background-opacity-focus": 20%,
    "background-opacity-active": 30%,
    "transition-property": (
      box-shadow,
      outline
    ),
    "transition-duration": css.get("transition-duration-short"),
    "transition-timing-function": css.get("transition-timing-function")
  )
);
@include css.set(
  "core",
  "form-control",
  (
    "padding": css.get("form-control-padding-y") css.get("form-control-padding-x"),
    "size": calc(calc(1em * css.get("form-control-line-height")) + calc(calc(css.get("form-control-padding-y") + css.get("form-control-border-width")) * 2))
  )
);
@include theme.set("core", "light", "form-control-foreground", palette.get("neutral"));
@include theme.set("core", "dark", "form-control-foreground", palette.get("neutral", 80));
