@use "../modules/css";

@include css.set(
  "core",
  "transition",
  (
    "duration": 0.3s,
    "duration-short": 0.15s,
    "duration-long": 0.6s,
    "timing-function": cubic-bezier(0.4, 0, 0.2, 1)
  )
);

@include css.set(
  "core",
  "transition",
  (
    "": css.get("transition-duration") css.get("transition-timing-function"),
    "short": css.get("transition-duration-short") css.get("transition-timing-function"),
    "long": css.get("transition-duration-long") css.get("transition-timing-function")
  )
);
