@use "../modules/css";

$font-family-sans: blinkmacsystemfont, -apple-system, system-ui, "Segoe UI", "Roboto", "Helvetica Neue", arial, sans-serif !default;
$font-family-serif: constantia, "Lucida Bright", lucidabright, "Lucida Serif", lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", georgia, serif !default;
$font-family-mono: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family: $font-family-sans !default;
$font-size: 16px !default;
$font-size-sm: 0.875rem !default; // 14px
$font-size-lg: 1.125rem !default; // 18px
$line-height: 1.625 !default;    // Computed: 26px (based on 16px)
$line-height-sm: 1.5 !default;   // Computed: 22px (based on 16px) TODO: This needs to be based on `$font-size-sm` not `16px`.
$line-height-lg: 1.875 !default; // Computed: 30px (based on 16px) TODO: This needs to be based on `$font-size-lg` not `16px`.
$font-weight-map: (
  "thin": 100,
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900,
) !default;

@include css.set("core", (
  "font-family": $font-family,
  "font-family-sans": $font-family-sans,
  "font-family-serif": $font-family-serif,
  "font-family-mono": $font-family-mono,
  "font-size": $font-size,
  "font-size-sm": $font-size-sm,
  "font-size-lg": $font-size-lg,
  "line-height": $line-height,
  "line-height-sm": $line-height-sm,
  "line-height-lg": $line-height-lg,
  "font-weight": $font-weight-map
));
