@use "../modules/css";

@include css.set(
  "core",
  (
    "font-family-sans": (
      blinkmacsystemfont,
      -apple-system,
      system-ui,
      "Segoe UI",
      "Roboto",
      "Helvetica Neue",
      arial,
      sans-serif
    ),
    "font-family-serif": (
      constantia,
      "Lucida Bright",
      lucidabright,
      "Lucida Serif",
      lucida,
      "DejaVu Serif",
      "Bitstream Vera Serif",
      "Liberation Serif",
      georgia,
      serif
    ),
    "font-family-mono": (
      sfmono-regular,
      menlo,
      monaco,
      consolas,
      "Liberation Mono",
      "Courier New",
      monospace
    ),
    "font-size": 1rem,
    "font-size-sm": 0.875rem,
    "font-size-lg": 1.125rem,
    "line-height": 1.5,
    "font-weight": (
      "thin": 100,
      "extra-light": 200,
      "light": 300,
      "regular": 400,
      "medium": 500,
      "semi-bold": 600,
      "bold": 700,
      "extra-bold": 800,
      "black": 900
    )
  )
);

@include css.set("core", "font-family", css.get("font-family-sans"));
