$_spacing: 1px;

.swatch-group {
  display: flex;
  flex-wrap: wrap;
  margin: -$_spacing 0 0 -$_spacing;

  > * {
    margin: $_spacing 0 0 $_spacing;
  }

  .swatch-group {
    flex-wrap: nowrap;

    > * {
      margin: 0;
    }
  }
}
