@use "vrembem" as *;
@use "../variables" as var;

.toolbar {
  --vb-foreground: #{$core-white};
  position: fixed;
  z-index: 600;
  top: 0;
  right: 0;
  left: 0;
  flex-grow: 0;
  padding: 0.5em;
  background: var.$background-gradient;
  background-color: var.$background-color;
  box-shadow: $core-shadow-1;
  color: var(--vb-foreground);
}

@include core-media-min('md') {
  .toolbar {
    padding: 1em;
  }
}
