/**
 * Cover
 * ---
 * Creates styles for the cover component which is the layout for the home page.
 */

.cover {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

@include media-min('md') {
  .cover {
    flex-direction: row;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/**
 * Header and Content
 */

.cover__hero,
.cover__aside {
  position: relative;
}

.cover__hero {
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  display: flex;
  overflow: hidden;
  color: $white;
  background: linear-gradient(
    to right,
    #09273F 0,
    #124064 100%
  );
  z-index: 1;
}

.cover__aside {
  position: relative;
  flex: 1 1 auto;
  z-index: 2;
  background: $shade;
}

@include media-min('md') {
  .cover__hero,
  .cover__aside {
    flex: 1 0 0;
  }

  .cover__hero {
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
  }
}

/**
 * Cover hero content
 */

.cover__inner {
  padding: 1.5em;
}

@include media-min('xs') {
  .cover__inner {
    padding: 2em;
  }
}

@include media-min('md') {
  .cover__inner {
    max-width: 46em;
    padding: 4em;
  }
}

/**
 * Cover menu content
 */

.cover__header,
.cover__content {
  padding: 0.5em;
  background: $shade;
}

.cover__header {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba($black, 0.05);
}

.cover__content {
  position: relative;
  z-index: 1;
}

@include media-min('lg') {
  .cover__header,
  .cover__content {
    padding: 1em;
  }
}

/**
 * Title, description and version
 */

.cover__title {
  font-size: 2.5em;
  line-height: 1.325em;
  font-weight: font-weight('semi-bold');
  font-style: italic;
  margin-bottom: 1rem;
}

.cover__desc {
  line-height: 1.6em;
  margin-bottom: 1.5rem;
}

.cover__version {
  color: rgba($white, 0.5);

  &:hover span {
    color: rgba($white, 1);
  }
}

@include media-min('md') {
  .cover__title {
    font-size: 5em;
  }

  .cover__desc {
    font-size: 1.4em;
  }
}
