/**
 * Cover
 */

.cover {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

@include media-min('md') {
  .cover {
    flex-direction: row;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/**
 * Header and Content
 */

.cover__header,
.cover__content {
  position: relative;
}

.cover__header {
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  display: flex;
  color: $white;
  background: $primary-dark;
}

.cover__content {
  position: relative;
  flex: 1 1 auto;
}

@include media-min('md') {
  .cover__header,
  .cover__content {
    flex: 1 0 0;
  }

  .cover__header {
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
  }
}

/**
 * Inner
 */

.cover__inner {
  padding: 1.5em;
}

@include media-min('xs') {
  .cover__inner {
    padding: 2em;
  }
}

@include media-min('md') {
  .cover__inner {
    max-width: 46em;
    padding: 4em;
  }
}

/**
 * Title, description and version
 */

.cover__title {
  font-size: 2.5em;
  line-height: 1.325em;
  font-weight: font-weight('semi-bold');
  font-style: italic;
  margin-bottom: 1rem;
}

.cover__desc {
  line-height: 1.6em;
  margin-bottom: 1rem;
}

.cover__version a {
  color: rgba($white, 0.5);

  &:hover span {
    color: rgba($white, 1);
  }
}

@include media-min('md') {
  .cover__title {
    font-size: 5em;
  }

  .cover__desc {
    font-size: 1.4em;
  }
}
