/**
 * Demo
 */

.demo .grid__item {
  display: flex;

  > * {
    width: 100%;
  }
}

.demo__render {

  &.invert {
    padding: $type-spacing;
    background: $gray-800;
    border-radius: $border-radius;
  }
}

.demo__code {
  overflow: auto;
  padding: $type-spacing;
  background: $pre-background;
  border-radius: $pre-border-radius;
}

@include media-min('md') {
  .demo__render.invert,
  .demo__code {
    padding: ($type-spacing * 1.5);
  }
}

/**
 * Swatches
 */

.swatch {
  background: $white;
  width: 160px;
  height: 160px;
}

.shadow-1 {
  box-shadow: $box-shadow-1dp;
}

.shadow-2 {
  box-shadow: $box-shadow-4dp;
}

.shadow-3 {
  box-shadow: $box-shadow-8dp;
}

.shadow-4 {
  box-shadow: $box-shadow-16dp;
}

.shadow-5 {
  box-shadow: $box-shadow-24dp;
}

/**
 * Box
 */

.box {
  padding: 1em;
  background: rgba($green, 0.2);
  border-radius: $border-radius;
}
