/**
 * Demo
 * ---
 * Styles demos with both the code and rendered examples.
 */

.demo .grid__item {
  display: flex;

  > * {
    width: 100%;
  }
}

.demo__render.invert,
.demo__group.invert {
  background: $dark;
}

.demo__code {
  overflow: auto;
  background: $pre-background;
}

.demo__render.invert,
.demo__group.invert,
.demo__code {
  padding: 1em;
  border-radius: $border-radius;
}

@include media-min('md') {
  .demo__render.invert,
  .demo__group.invert,
  .demo__code {
    padding: 1.5em;
  }
}
