/**
 * Demo
 * ---
 * Styles demos with both the code and rendered examples.
 */

.demo > .grid__item {
  display: flex;
}

.grid__item > .demo__render,
.grid__item > .demo__code {
  flex: 1 0 100%;
  max-width: 100%;
}

.demo__group + .demo__group {
  margin-top: 1em;
}

.demo__render.invert,
.demo__group.invert {
  background: $dark;
}

.demo__code {
  overflow: auto;
  background: $pre-background;
}

.demo__render.invert,
.demo__group.invert,
.demo__code {
  padding: 1em;
  border-radius: $border-radius;
}

@include media-min('md') {
  .demo__render.invert,
  .demo__group.invert,
  .demo__code {
    padding: 1.5em;
  }
}
