/**
 * Menu Filter
 * ---
 * Handles the styles of the search filter displayed above the jumbo list.
 */

.filter {
  position: relative;
  z-index: 4;
  background: $shade;

  &.is-active {
    border-color: $primary;
  }

  .search {
    padding: 0.75em 1.5em;
    background: $white;
    border-radius: $border-radius;
    border: none;
    box-shadow: none;

    &:focus,
    &.is-active {
      color: $primary;
      background: $white;
      box-shadow: none;
    }
  }

  .search_label,
  .search_clear {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
  }

  .search_label {
    display: flex;
    left: 1em;
  }

  .search_clear {
    right: 1em;
  }
}

@include media-min('xs') {
  .filter {
    .search {
      padding: 1em 3.25em;
    }

    .search_label {
      left: 1em;
    }

    .search_clear {
      right: 1em;
    }
  }
}
