/**
 * Flag
 * ---
 * Creates an emphasized heading that clearly labels following content.
 */

.flag,
.type .flag {
  margin: 4em 0 2em;
  border-top: 1px solid rgba($black, 0.1);

  > * {
    display: block;
    margin: 0;
    padding: 0.25em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: font-weight('semi-bold');
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
