.jumbo-list {
  position: relative;
  list-style: none;
}

.jumbo-list__item {
  position: relative;
}

.jumbo-list__link {
  display: flex;
  padding: 1.25em 1.5em;
  line-height: 1.325em;
  background-color: $white;
  transition: background-color 0.5s linear;

  > * + * {
    margin-left: 0.5em;
  }

  .name {
    flex-grow: 1;
  }

  .tag {
    flex-grow: 0;
    color: $color-light;
    transition: color 0.5s linear;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba($blue, 0.1);
    transition: background-color 0s linear;

    .tag {
      color: $primary;
      transition: color 0s linear;
    }
  }
}

@include media-min('xs') {
  .jumbo-list__link {
    padding: 1.5em 2em;
  }
}
