@import 'core/all';

.jumbo-filter {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0.5em;
  background: $white;
  border-bottom: $border;

  > * + * {
    margin-top: 0.25em;
  }
}

@include media-min('xs') {
  .jumbo-filter {
    padding: 1em;

    > * + * {
      margin-top: 0.5em;
    }
  }
}
