/**
 * Jumbo Filter
 * ---
 * Handles the styles of the search filter displayed above the jumbo list.
 */

.jumbo-filter {
  position: sticky;
  z-index: 1;
  top: 0;
  background: $white;
  border-bottom: 3px solid $shade;

  &.is-active {
    border-color: $primary;
  }

  .search {
    padding: 1.25em 3em;
    // background: lighten($shade, 2%);
    background: $white;
    border: none;
    border-radius: 0;
    box-shadow: none;

    &:focus,
    &.is-active {
      color: $primary;
      background: $white;
      box-shadow: none;
    }
  }

  .search_label,
  .search_clear {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
  }

  .search_label {
    display: flex;
    left: 1em;
  }

  .search_clear {
    right: 1.125em;
  }
}

@include media-min('xs') {
  .jumbo-filter {
    .search {
      padding: 1.5em 4em;
    }

    .search_label {
      left: 1.5em;
    }

    .search_clear {
      right: 1.65em;
    }
  }
}
