/**
 * Page
 * ---
 * The page component which handles layout for a general page document.
 */

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page__header {
  @extend .section;
  @extend .section_size_lg;
}

.page__title {
  @extend %h1;
  font-weight: normal;
}

.page__content {
  @extend .section;

  .type {
    max-width: 544px;
  }
}

.page__main {
  flex-grow: 1;
}

.page__section {
  padding: 1.5em;
}

.page__footer {
  @extend .section;
  border-top: $border;
}
