/**
 * Page
 * ---
 * The page component handles general layout for the application.
 */

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__toolbar {
  flex-grow: 0;
}

.page__main {
  position: relative;
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.page__aside {
  flex-grow: 0;
  overflow: auto;
}

.page__article {
  flex-grow: 1;
  overflow: auto;
}

/**
 * Toolbar spacing
 */

.page__toolbar + .page__main {
  margin-top: 56px;
  height: calc(100vh - 56px);
}

@include media-min('md') {
  .page__toolbar + .page__main {
    margin-top: 72px;
    height: calc(100vh - 72px);
  }
}

/**
 * Custom modal styles
 */

.page__aside {
  .dialog__header,
  .dialog__footer {
    background: $shade;
    border-color: $border-color-light;
  }

  .dialog__body {
    background: $shade;
  }
}
