/**
 * Toolbar
 * ---
 * A toolbar component that sits at the top of a page. Contains important
 * information and navigational tools.
 */

.toolbar {
  z-index: 600;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  flex-grow: 0;
  background-color: #09273F;
  background: linear-gradient(
    148deg,
    #124064 0,
    #09273F 100%
  );
  color: $white;
  box-shadow: $box-shadow-4dp;
}

@include media-min('md') {
  .toolbar {
    padding: 1em;
  }
}
