/**
 * Toolbar
 * ---
 * A toolbar component that sits at the top of a page. Contains important
 * information and navigational tools.
 */

.toolbar {
  z-index: 600;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  flex-grow: 0;
  background: linear-gradient(
    to right,
    #09273F 0,
    #124064 100%
  );
  color: $white;
  box-shadow: $box-shadow-4dp;
}

.toolbar + .page {
  padding-top: 3.5em;
}

@include media-min('md') {
  .toolbar {
    padding: 1em;
  }

  .toolbar + .page {
    padding-top: 4.5em;
  }
}
