@use "@vrembem/core";
@use "./variables" as var;

$_thumb-size: calc(core.css("switch-track-size") - calc(core.css("switch-border-width") * 2));

#{core.bem("switch")} {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  padding-right: calc(core.css("switch-size") * 0.25);
  padding-left: calc(core.css("switch-size") * 0.25);
  vertical-align: middle;
}

#{core.bem("switch", "background")} {
  @include core.size(core.css("switch-size"));
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    @include core.size(core.css("switch-size"));
    content: "";
    position: absolute;
    top: 0;
    left: calc(calc(core.css("switch-size") * 0.25) * -1);
    transition: left core.css("switch-transition-duration") core.css("switch-transition-timing-function");
    border-radius: core.css("switch-background-border-radius");
    background-color: hsl(from core.css("switch-color") h s l / core.css("switch-background-opacity"));
  }
}

#{core.bem("switch", "track")} {
  @include core.size(100%, core.css("switch-track-size"));
  position: relative;
  display: block;
  border: core.css("switch-border-width") solid core.css("switch-border-color");
  border-radius: core.css("switch-border-radius");
  background-color: core.css("switch-track-fill");
}

#{core.bem("switch", "thumb")} {
  @include core.size($_thumb-size);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  transition: left core.css("switch-transition-duration") core.css("switch-transition-timing-function");
  border-radius: core.css("switch-border-radius");
  background-color: core.css("switch-thumb-fill");
  box-shadow: 0 0 0 core.css("switch-border-width") core.css("switch-border-color");
}

#{core.bem("switch", "native")} {
  @include core.size(100%);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;

  &:hover + #{core.bem("switch", "background")} {
    &::after {
      background-color: hsl(from core.css("switch-color") h s l / core.css("switch-background-opacity-hover"));
    }

    #{core.bem("switch", "track")} {
      border-color: core.css("switch-border-color");
      background-color: core.css("switch-track-fill");
    }

    #{core.bem("switch", "thumb")} {
      box-shadow: 0 0 0 core.css("switch-border-width") core.css("switch-color");
    }
  }

  &:focus + #{core.bem("switch", "background")} {
    &::after {
      background-color: hsl(from core.css("switch-color") h s l / core.css("switch-background-opacity-focus"));
    }

    #{core.bem("switch", "track")} {
      border-color: core.css("switch-border-color");
      background-color: core.css("switch-track-fill");
    }

    #{core.bem("switch", "thumb")} {
      box-shadow: 0 0 0 core.css("switch-border-width") core.css("switch-color");
    }
  }

  &:focus-visible + #{core.bem("switch", "background")},
  &:active + #{core.bem("switch", "background")} {
    &::after {
      background-color: hsl(from core.css("switch-color") h s l / core.css("switch-background-opacity-active"));
    }

    #{core.bem("switch", "track")} {
      border-color: core.css("switch-border-color");
      background-color: core.css("switch-track-fill");
    }

    #{core.bem("switch", "thumb")} {
      box-shadow: 0 0 0 core.css("switch-border-width") core.css("switch-color");
    }
  }

  &:checked + #{core.bem("switch", "background")} {
    &::after {
      left: calc(100% - calc(core.css("switch-size") * 0.75));
    }

    #{core.bem("switch", "track")} {
      border-color: core.css("switch-color");
      background-color: core.css("switch-color");
    }

    #{core.bem("switch", "thumb")} {
      left: calc(100% - #{$_thumb-size});
      box-shadow: 0 0 0 core.css("switch-border-width") core.css("switch-color");
    }
  }
}
