@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$color: core.$primary !default;
$size: 2.5em !default;
$transition-duration: core.$transition-duration !default;
$transition-timing-function: core.$transition-timing-function !default;

$background: transparent !default;
$background-hover: rgba(core.$black, 0.03) !default;
$background-focus: rgba(core.$black, 0.03) !default;
$background-active: rgba(core.$black, 0.06) !default;
$background-checked: null !default;
$background-border-radius: core.$border-radius-circle !default;

$track-size: 20px !default;
$track-background: core.$gray-200 !default;
$track-background-hover: null !default;
$track-background-focus: null !default;
$track-background-active: null !default;
$track-background-checked: core.$primary-lighter !default;
$track-border-color: core.$gray-400 !default;
$track-border-color-hover: null !default;
$track-border-color-focus: null !default;
$track-border-color-active: null !default;
$track-border-color-checked: $color !default;
$track-border-width: 2px !default;
$track-border-radius: core.$border-radius-circle !default;

$thumb-size: 16px !default;
$thumb-background: core.$white !default;
$thumb-background-hover: null !default;
$thumb-background-focus: null !default;
$thumb-background-active: null !default;
$thumb-background-checked: null !default;
$thumb-box-shadow: 0 0 0 2px core.$gray-400 !default;
$thumb-box-shadow-hover: 0 0 0 2px $color !default;
$thumb-box-shadow-focus: 0 0 0 2px $color !default;
$thumb-box-shadow-active: 0 0 0 2px $color !default;
$thumb-box-shadow-checked: 0 0 0 2px $color !default;
