@use "@vrembem/core";
@use "@vrembem/core/css";

@include css.register("switch");
$accent: css.get("switch", "accent", css.get("form-control-accent")) !default;
$background: css.get("switch", "background", css.get("form-control-background")) !default;
$foreground: css.get("switch", "foreground", css.get("form-control-foreground")) !default;

$track-size: 1.25em !default;
$border-width: 2px !default;
$border-radius: css.get("border-radius-circle") !default;

// Modifier: switch_size_sm
$size-sm-font-size: css.get("form-control-font-size-sm") !default;

// Modifier: switch_size_lg
$size-lg-font-size: css.get("form-control-font-size-lg") !default;
