@use "@vrembem/core";
@use "@vrembem/core/palette";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$color: palette.get("primary") !default;
$size: core.$form-control-size !default;
$border-width: 2px !default;
$transition-duration: core.$transition-duration-short !default;
$transition-timing-function: core.$transition-timing-function !default;

$background: transparent !default;
$background-hover: palette.get("primary", 50%, 20%) !default;
$background-focus: palette.get("primary", 50%, 20%) !default;
$background-active: palette.get("primary", 50%, 30%) !default;
$background-checked: null !default;
$background-border-radius: core.$border-radius-circle !default;

$track-size: 20px !default;
$track-background: palette.get("neutral", 60%, 30%) !default;
$track-background-hover: null !default;
$track-background-focus: null !default;
$track-background-active: null !default;
$track-background-checked: $color !default;
$track-border-color: palette.get("neutral") !default;
$track-border-color-hover: null !default;
$track-border-color-focus: null !default;
$track-border-color-active: null !default;
$track-border-color-checked: $color !default;
$track-border-radius: core.$border-radius-circle !default;

$thumb-background: palette.get("neutral", 100) !default;
$thumb-background-hover: null !default;
$thumb-background-focus: null !default;
$thumb-background-active: null !default;
$thumb-background-checked: null !default;
$thumb-box-shadow-color: palette.get("neutral") !default;
$thumb-box-shadow-color-hover: $color !default;
$thumb-box-shadow-color-focus: $color !default;
$thumb-box-shadow-color-active: $color !default;
$thumb-box-shadow-color-checked: $color !default;

$size-sm: core.$form-control-size-sm !default;
$size-sm-border-width: 2px !default;
$size-sm-track: 16px !default;
$size-lg: core.$form-control-size-lg !default;
$size-lg-border-width: 2.5px !default;
$size-lg-track: 26px !default;
