@import "./variables";

.switch {
  @include size($switch-size);
  position: relative;
  top: -2px;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.switch__background {
  @include size(100%);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $switch__background-border-radius;
  background: $switch__background;
}

.switch__track {
  @include size(100%, 20px);
  position: relative;
  display: block;
  border: 2px solid $gray-400;
  border-radius: $border-radius-circle;
  background: $gray-200;
}

.switch__thumb {
  @include size(16px);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: $transition-duration-short;
  transition-timing-function: $transition-timing-function;
  border-radius: $border-radius-circle;
  background: $white;
  box-shadow: 0 0 0 2px $gray-400;
}

.switch__native {
  @include size(100%);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;

  &:hover + .switch__background {
    .switch__track {
      border-color: $gray-400;
    }

    .switch__thumb {
      box-shadow: 0 0 0 2px $primary;
    }
  }

  &:focus + .switch__background {
    .switch__track {
      border-color: $gray-400;
    }

    .switch__thumb {
      box-shadow: 0 0 0 2px $primary;
    }
  }

  &:active + .switch__background {
    .switch__track {
      background: $gray-200;
    }
  }

  &:checked + .switch__background {
    .switch__track {
      border-color: $primary;
      background: $primary-lighter;
    }

    .switch__thumb {
      transform: translateX(20px);
      box-shadow: 0 0 0 2px $primary;
    }
  }
}
