@use "@vrembem/core";
@use "./variables";

.radio {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.radio__background {
  @include core.size(variables.$size);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: variables.$background-border-radius;
  background-color: variables.$background;
}

.radio__circle {
  @include core.size(variables.$circle-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: variables.$circle-border-width solid variables.$circle-border-color;
  border-radius: variables.$circle-size;
  background-color: variables.$circle-background;
  color: transparent;
}

.radio__dot {
  @include core.size(0);
  border-radius: variables.$dot-size;
  background-color: variables.$dot-color;
  opacity: 0;
}

.radio__native {
  @include core.size(100%);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;

  &:hover + .radio__background {
    background-color: variables.$background-hover;

    .radio__circle {
      border-color: variables.$circle-border-color-hover;
      background-color: variables.$circle-background-hover;
    }
  }

  &:focus + .radio__background {
    background-color: variables.$background-focus;

    .radio__circle {
      border-color: variables.$circle-border-color-focus;
      background-color: variables.$circle-background-focus;
    }
  }

  &:active + .radio__background {
    background-color: variables.$background-active;

    .radio__circle {
      border-color: variables.$circle-border-color-active;
      background-color: variables.$circle-background-active;
    }
  }

  &:checked + .radio__background {
    background-color: variables.$background-checked;

    .radio__circle {
      border-color: variables.$circle-border-color-checked;
      background-color: variables.$circle-background-checked;
    }

    .radio__dot {
      @include core.size(variables.$dot-size);
      transition-property: opacity, width, height;
      transition-duration: variables.$transition-duration;
      transition-timing-function: variables.$transition-timing-function;
      background-position: center center;
      opacity: 1;
    }
  }
}
