@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("radio")} {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#{core.bem("radio", "background")} {
  @include core.size(css.get("radio", "size"));
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: css.get("radio", "background-border-radius");
  background-color: hsl(from css.get("radio", "color") h s l / css.get("radio", "background-opacity"));
}

#{core.bem("radio", "circle")} {
  @include core.size(css.get("radio", "circle-size"));
  display: flex;
  align-items: center;
  justify-content: center;
  border: css.get("radio", "border-width") solid css.get("radio", "border-color");
  border-radius: css.get("radio", "circle-size");
  background-color: css.get("radio", "fill");
  color: transparent;
}

#{core.bem("radio", "dot")} {
  @include core.size(0);
  border-radius: css.get("radio", "dot-size");
  background-color: css.get("radio", "dot-color");
  opacity: 0;
}

#{core.bem("radio", "native")} {
  @include core.size(100%);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;

  &:hover + #{core.bem("radio", "background")} {
    background-color: hsl(from css.get("radio", "color") h s l / css.get("radio", "background-opacity-hover"));

    #{core.bem("radio", "circle")} {
      border-color: css.get("radio", "color");
      background-color: css.get("radio", "fill");
    }
  }

  &:focus + #{core.bem("radio", "background")} {
    background-color: hsl(from css.get("radio", "color") h s l / css.get("radio", "background-opacity-focus"));

    #{core.bem("radio", "circle")} {
      border-color: css.get("radio", "color");
      background-color: css.get("radio", "fill");
    }
  }

  &:focus-visible + #{core.bem("radio", "background")},
  &:active + #{core.bem("radio", "background")} {
    background-color: hsl(from css.get("radio", "color") h s l / css.get("radio", "background-opacity-active"));

    #{core.bem("radio", "circle")} {
      border-color: css.get("radio", "color");
      background-color: css.get("radio", "fill");
    }
  }

  &:checked + #{core.bem("radio", "background")} {
    #{core.bem("radio", "circle")} {
      border-color: css.get("radio", "color");
      background-color: css.get("radio", "color");
    }

    #{core.bem("radio", "dot")} {
      @include core.size(css.get("radio", "dot-size"));
      transition-property: opacity, width, height;
      transition-duration: css.get("radio", "transition-duration");
      transition-timing-function: css.get("radio", "transition-timing-function");
      background-position: center center;
      opacity: 1;
    }
  }
}
