@use "@vrembem/core";
@use "@vrembem/core/palette";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$color: palette.get("primary") !default;
$size: core.$form-control-size !default;
$border-width: 2px !default;
$transition-duration: core.$transition-duration-short !default;
$transition-timing-function: core.$transition-timing-function !default;

$background: transparent !default;
$background-hover: palette.get("primary", 50%, 20%) !default;
$background-focus: palette.get("primary", 50%, 20%) !default;
$background-active: palette.get("primary", 50%, 30%) !default;
$background-checked: null !default;
$background-border-radius: core.$border-radius-circle !default;

$circle-size: 20px !default;
$circle-background: palette.get("neutral", 100) !default;
$circle-background-hover: null !default;
$circle-background-focus: null !default;
$circle-background-active: null !default;
$circle-background-checked: $color !default;
$circle-border-color: palette.get("neutral") !default;
$circle-border-color-hover: $color !default;
$circle-border-color-focus: $color !default;
$circle-border-color-active: $color !default;
$circle-border-color-checked: $color !default;
$circle-border-radius: core.$border-radius !default;

$dot-size: 8px !default;
$dot-color: palette.get("neutral", 100) !default;

$size-sm: core.$form-control-size-sm !default;
$size-sm-border-width: 2px !default;
$size-sm-circle: 16px !default;
$size-sm-dot: 6px !default;
$size-lg: core.$form-control-size-lg !default;
$size-lg-border-width: 2.5px !default;
$size-lg-circle: 26px !default;
$size-lg-dot: 10px !default;
