@use "@vrembem/core";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

// Radio properties
$size: core.$form-control-size !default;
$circle-size: 20px !default;
$color: palette.get("primary") !default;
$fill: null !default;
$border-color: null !default;
$border-width: 2px !default;
$background-border-radius: core.$border-radius-circle !default;
$background-opacity: 0% !default;
$background-opacity-hover: 20% !default;
$background-opacity-focus: 20% !default;
$background-opacity-active: 30% !default;

// Transition properties
$transition-duration: core.$transition-duration-short !default;
$transition-timing-function: core.$transition-timing-function !default;

// Dot properties
$dot-size: 8px !default;
$dot-color: null !default;

// Size modifier properties
$size-sm: core.$form-control-size-sm !default;
$size-sm-border-width: 2px !default;
$size-sm-circle: 16px !default;
$size-sm-dot: 6px !default;
$size-lg: core.$form-control-size-lg !default;
$size-lg-border-width: 2.5px !default;
$size-lg-circle: 26px !default;
$size-lg-dot: 10px !default;

// Theme properties
$theme-light: (
  "fill": white,
  "border-color": palette.get("neutral"),
  "dot-color": white
) !default;

$theme-dark: (
  "fill": palette.get("neutral", 10),
  "border-color": palette.get("neutral", 80),
  "dot-color": palette.get("neutral", 10)
) !default;

@include theme.set("light", "radio", $theme-light);
@include theme.set("dark", "radio", $theme-dark);
