@import "./variables";

.radio {
  border-radius: 2em;
  display: inline-block;
  flex-grow: 0;
  padding: 0.625em;
  position: relative;

  &:hover,
  &:focus {
    background: rgba($black, 0.03);
  }

  &:active {
    background: rgba($black, 0.06);
  }
}

.radio__native {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.radio__background {
  align-items: center;
  background: transparent;
  border: 2px solid rgba($black, 0.2);
  border-radius: 2em;
  color: transparent;
  display: flex;
  height: 21px;
  justify-content: center;
  width: 21px;

  &:hover {
    background-color: $radio-color;
  }

  .radio__circle {
    background-color: transparent;
    border-radius: 2em;
    height: 8px;
    width: 8px;
  }

  .radio:hover &,
  .radio:focus &,
  .radio__native:focus + & {
    border-color: $radio-color;
  }

  .radio__native:checked + & {
    background-color: $radio-color;
    border-color: $radio-color;

    .radio__circle {
      background-color: $white;
    }
  }
}
