@import 'vrembem';

// Demo home components
@import 'blocks/cover';
@import 'blocks/jumbo-filter';
@import 'blocks/jumbo-list';

// Demo page components
@import 'blocks/demo';
@import 'blocks/highlight';
@import 'blocks/page';

body {
  min-height: 100vh;
}

.svg-symbols {
  display: none;
}

.box {
  padding: 1em;
  background: rgba($blue, 0.2);
  border-radius: $border-radius;
}
