.table {
  width: 100%;
  background-color: $table-background;
  color: $table-color;
  text-align: left;

  th,
  td,
  caption {
    padding: $table-padding;
    vertical-align: top;
  }

  th {
    background-color: $table-th-background;
    font-weight: $table-th-font-weight;
  }

  td {
    background-color: $table-td-background;
  }
}

.col_auto {
  width: 0;
  white-space: nowrap;
}
