html {
  box-sizing: $box-sizing;
  font-size: $font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: $font-family;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
  background: $body-background;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
