@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

#{core.bem("drawer", null, "modal")} {
  @include css.override("drawer", "z-index", 950);

  inset: 0;
  max-width: none;
  position: fixed;
  visibility: hidden;
  width: auto;

  #{core.bem("drawer", "dialog")} {
    @include css.override("dialog", config.get("drawer-modal-dialog-override"));

    inset: 0 auto 0 0;
    max-width: css.get("drawer", "max-width", config.get("drawer-max-width"));
    width: css.get("drawer", "width", config.get("drawer-width"));
  }

  &#{core.bem("drawer", null, "switch")} #{core.bem("drawer", "dialog")} {
    inset: 0 0 0 auto;
  }

  &::before {
    @include core.backdrop("drawer");
  }
}

#{core.bem("drawer", null, "modal")}.is-opening,
#{core.bem("drawer", null, "modal")}.is-closing {
  &::before {
    transition: opacity css.get("drawer", "transition-duration", css.get("transition-duration")) css.get("drawer", "transition-timing-function", css.get("transition-timing-function"));
  }
}

#{core.bem("drawer", null, "modal")}.is-opening,
#{core.bem("drawer", null, "modal")}.is-opened {
  &::before {
    opacity: css.get("drawer", "backdrop-opacity", css.get("backdrop-opacity"));
  }
}
