@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

#{core.bem("drawer", null, "switch")} {
  left: auto;
  right: 0;
  transform: translateX(100%);

  &.is-closing,
  &.is-closed {
    transform: translateX(100%);
  }
}

// IS .drawer NOT .drawer_switch OR .drawer_modal
#{core.bem("drawer")}:not(#{core.bem("drawer", null, "switch")}, #{core.bem("drawer", null, "modal")}) {
  &.is-opening ~ #{core.bem(config.get("drawer-classes", "main"))},
  &.is-opened ~ #{core.bem(config.get("drawer-classes", "main"))} {
    margin-left: css.get("drawer", "width", config.get("drawer-width"));
  }
}

// IS .drawer AND .drawer_switch NOT .drawer_modal
#{core.bem("drawer")}#{core.bem("drawer", null, "switch")}:not(#{core.bem("drawer", null, "modal")}) {
  &.is-opening ~ #{core.bem(config.get("drawer-classes", "main"))},
  &.is-opened ~ #{core.bem(config.get("drawer-classes", "main"))} {
    margin-right: css.get("drawer", "width", config.get("drawer-width"));
  }
}
