@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/tokens";

#{core.bem("drawer", null, "modal")} {
  position: fixed;
  inset: 0;
  width: auto;
  max-width: none;
  visibility: hidden;

  &::before {
    @include core.backdrop("drawer");
  }

  #{core.bem("drawer", "dialog")} {
    @include tokens.override("dialog", config.get("drawer-modal-dialog-override"));

    inset: 0 auto 0 0;
    width: tokens.get("drawer", "width", 18em);
    max-width: tokens.get("drawer", "max-width", 80%);
  }

  &#{core.bem("drawer", null, "switch")} #{core.bem("drawer", "dialog")} {
    inset: 0 0 0 auto;
  }

  @include tokens.override("drawer", "z-index", 950);
}

#{core.bem("drawer", null, "modal")}.is-opening,
#{core.bem("drawer", null, "modal")}.is-closing {
  &::before {
    transition: opacity tokens.get("drawer", "transition-duration", tokens.get("transition-duration")) tokens.get("drawer", "transition-timing-function", tokens.get("transition-timing-function"));
  }
}

#{core.bem("drawer", null, "modal")}.is-opening,
#{core.bem("drawer", null, "modal")}.is-opened {
  &::before {
    opacity: tokens.get("drawer", "backdrop-opacity", tokens.get("backdrop-opacity"));
  }
}
