@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

/**
 * Drawer slide transition
 */

#{core.bem("drawer")} {
  left: 0;
  transform: translateX(-100%);
}

#{core.bem("drawer")}.is-opening,
#{core.bem("drawer")}.is-opened {
  transform: translateX(0);
}

#{core.bem("drawer")}.is-closing {
  transform: translateX(-100%);
}

/**
 * Drawer switched slide transition
 */

#{core.bem("drawer", null, "switch")} {
  right: 0;
  left: auto;
  transform: translateX(100%);
}

#{core.bem("drawer", null, "switch")}.is-closing {
  transform: translateX(100%);
}

/**
 * Drawer main margins
 */

// IS .drawer NOT .drawer_modal .drawer_switch
#{core.bem("drawer")}:not(#{core.bem("drawer", null, "modal")}, #{core.bem("drawer", null, "switch")}) {
  &.is-opening ~ #{core.bem(var.$class-main)},
  &.is-opened ~ #{core.bem(var.$class-main)} {
    margin-left: css.get("drawer", "width", var.$width);
  }
}

// IS .drawer .drawer_switch NOT .drawer_modal
#{core.bem("drawer")}#{core.bem("drawer", null, "switch")}:not(#{core.bem("drawer", null, "modal")}) {
  &.is-opening ~ #{core.bem(var.$class-main)},
  &.is-opened ~ #{core.bem(var.$class-main)} {
    margin-right: css.get("drawer", "width", var.$width);
  }
}
