@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

#{core.bem(config.get("drawer-classes", "frame"))} {
  position: relative;
  overflow: hidden auto;
  display: flex;
  height: css.get("drawer", "frame-height", 100vh);
}

#{core.bem(config.get("drawer-classes", "main"))} {
  position: relative;
  overflow: auto;
  flex: 1 1 auto;
  height: 100%;
}

#{core.bem("drawer")} {
  position: absolute;
  z-index: css.get("drawer", "z-index", 900);
  inset: 0 auto 0 0;
  width: css.get("drawer", "width", 18em);
  max-width: css.get("drawer", "max-width", 80%);
}

#{core.bem("drawer", "dialog")} {
  @include css.override("dialog", config.get("drawer-dialog-override"));

  position: absolute;
  inset: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}

#{core.bem("drawer", "container")} {
  @include core.scroll-flex;
}

#{core.bem("drawer")}:not(#{core.bem("drawer", null, "modal")}) #{core.bem("drawer", "dialog")} {
  @include css.override("dialog", config.get("drawer-inline-dialog-override"));
}

#{core.bem("drawer")}.is-closed {
  visibility: hidden;
}

#{core.bem("drawer")}.is-opening,
#{core.bem("drawer")}.is-opened,
#{core.bem("drawer")}.is-closing {
  visibility: visible;
}

#{core.bem("drawer")}.is-opening,
#{core.bem("drawer")}.is-closing {
  transition: opacity css.get("drawer", "transition-duration", css.get("transition-duration")) css.get("drawer", "transition-timing-function", css.get("transition-timing-function"));

  #{core.bem("drawer", "dialog")} {
    transition: transform css.get("drawer", "transition-duration", css.get("transition-duration")) css.get("drawer", "transition-timing-function", css.get("transition-timing-function"));
  }
}

#{core.bem("drawer")}.is-opening,
#{core.bem("drawer")}.is-opened {
  opacity: 1;

  #{core.bem("drawer", "dialog")} {
    transform: translateX(0);
  }
}

#{core.bem("drawer")}.is-closing,
#{core.bem("drawer")}.is-closed {
  opacity: 0;

  #{core.bem("drawer", "dialog")} {
    transform: translateX(-100%);
  }
}
