@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

/**
 * Required structure styles
 */

#{core.bem(var.$class-frame)} {
  position: relative;
  display: flex;
  height: css.get("drawer", "frame-height", var.$frame-height);
  overflow: hidden auto;
}

#{core.bem(var.$class-main)} {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/**
 * Drawer
 */

#{core.bem("drawer")} {
  position: absolute;
  z-index: css.get("drawer", "z-index", var.$z-index);
  top: 0;
  bottom: 0;
  visibility: hidden;
  flex: 0 0 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

#{core.bem("drawer", "dialog")} {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: css.get("drawer", "width", var.$width);
  max-width: 100%;
  height: 100%;
  overflow: auto;
  transition-duration: css.get("drawer", "transition-duration", var.$transition-duration);
  transition-timing-function: css.get("drawer", "transition-timing-function", var.$transition-timing-function);
  border-radius: 0;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
}

/**
 * State classes
 */

#{core.bem("drawer")}.is-closed {
  visibility: hidden;
}

#{core.bem("drawer")}.is-opening,
#{core.bem("drawer")}.is-opened,
#{core.bem("drawer")}.is-closing {
  visibility: visible;
  flex: 0 0 auto;
  width: css.get("drawer", "width", var.$width);
  max-width: css.get("drawer", "max-width", var.$max-width);
  height: 100%;
  overflow: visible;
}

#{core.bem("drawer")}.is-opening,
#{core.bem("drawer")}.is-closing {
  transition-property: background-color, opacity, transform;
  transition-duration: css.get("drawer", "transition-duration", var.$transition-duration);
  transition-timing-function: css.get("drawer", "transition-timing-function", var.$transition-timing-function);

  #{core.bem("drawer", "dialog")} {
    transition-property: opacity, transform;
  }
}

#{core.bem("drawer")}.is-opening,
#{core.bem("drawer")}.is-opened {
  #{core.bem("drawer", "dialog")} {
    opacity: 1;
  }
}

#{core.bem("drawer")}.is-opened {
  #{core.bem("drawer", "dialog")} {
    opacity: 1;
  }
}

#{core.bem("drawer")}.is-closing {
  #{core.bem("drawer", "dialog")} {
    opacity: 0;
  }
}
