@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

/**
 * Drawer slide transition
 */

.#{$_b}drawer {
  left: 0;
  transform: translateX(-100%);

  .#{$_b}drawer#{$_e}dialog {
    border-right: var.$border;
  }
}

.#{$_b}drawer.is-opening,
.#{$_b}drawer.is-opened {
  transform: translateX(0);
}

.#{$_b}drawer.is-closing {
  transform: translateX(-100%);
}

/**
 * Drawer switched slide transition
 */

.#{$_b}drawer#{$_m}switch {
  right: 0;
  left: auto;
  transform: translateX(100%);

  .#{$_b}drawer#{$_e}dialog {
    @if (var.$border) {
      border-right: none;
    }
    border-left: var.$border;
  }
}

.#{$_b}drawer#{$_m}switch.is-closing {
  transform: translateX(100%);
}

/**
 * Drawer main margins
 */

// IS .drawer NOT .drawer_modal .drawer_switch
.#{$_b}drawer:not(.#{$_b}drawer#{$_m}modal, .#{$_b}drawer#{$_m}switch) {
  &.is-opening ~ .#{var.$class-main},
  &.is-opened ~ .#{var.$class-main} {
    margin-left: var.$width;
  }
}

// IS .drawer .drawer_switch NOT .drawer_modal
.#{$_b}drawer.#{$_b}drawer#{$_m}switch:not(.#{$_b}drawer#{$_m}modal) {
  &.is-opening ~ .#{var.$class-main},
  &.is-opened ~ .#{var.$class-main} {
    margin-right: var.$width;
  }
}
