@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

/**
 * Required structure styles
 */

.#{var.$class-frame} {
  position: relative;
  display: flex;
  height: var.$frame-height;
  overflow: hidden auto;
}

.#{var.$class-main} {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/**
 * Drawer
 */

.#{$_b}drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  visibility: hidden;
  flex: 0 0 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.#{$_b}drawer#{$_e}dialog {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: var.$width;
  max-width: var.$max-width;
  height: 100%;
  overflow: auto;
  border-radius: 0;
  background: var.$background;
  box-shadow: var.$shadow;
  opacity: 0;
  -webkit-overflow-scrolling: touch;

  .#{$_b}dialog#{$_e}header,
  .#{$_b}dialog#{$_e}footer {
    border-color: var.$sep-border;
    background: var.$background;
  }

  .#{$_b}dialog#{$_e}body {
    background: var.$background;
  }
}

/**
 * State classes
 */

.#{$_b}drawer.is-closed {
  visibility: hidden;
}

.#{$_b}drawer.is-opening,
.#{$_b}drawer.is-opened,
.#{$_b}drawer.is-closing {
  visibility: visible;
  flex: 0 0 auto;
  width: var.$width;
  max-width: var.$max-width;
  height: 100%;
  overflow: visible;
}

.#{$_b}drawer.is-opening,
.#{$_b}drawer.is-closing {
  .#{$_b}drawer#{$_e}dialog {
    transition-property: opacity, transform;
    transition-duration: var.$transition-duration;
    transition-timing-function: var.$transition-timing-function;
  }
}

.#{$_b}drawer.is-opening,
.#{$_b}drawer.is-opened {
  .#{$_b}drawer#{$_e}dialog {
    opacity: 1;
  }
}

.#{$_b}drawer.is-opened {
  .#{$_b}drawer#{$_e}dialog {
    opacity: 1;
  }
}

.#{$_b}drawer.is-closing {
  .#{$_b}drawer#{$_e}dialog {
    opacity: 0;
  }
}
