@use "@vrembem/core";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

$prefix-variable: core.$prefix-variable !default;
$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$_v: $prefix-variable;

$class-frame: "#{$prefix-block}drawer-frame" !default;
$class-main: "#{$prefix-block}drawer-main" !default;

$width: 18em !default;
$max-width: 100% !default;
$border: null !default;
$sep-border: null !default;
$background: theme.get("background-darker") !default;
$shadow: none !default;
$transition-duration: var(--#{$_v}transition-duration, #{core.$transition-duration}) !default;
$transition-timing-function: var(--#{$_v}transition-timing-function, #{core.$transition-timing-function}) !default;

$frame-height: 100vh !default;

$modal-z-index: 900 !default;
$modal-width: $width !default;
$modal-max-width: 80% !default;
$modal-sep-border: null !default;
$modal-background: white !default;
$modal-shadow: core.css("box-shadow-5") !default;
$modal-screen-background: palette.get("neutral", 10) !default;
$modal-screen-opacity: 0.8 !default;
