@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/usage";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

// Register the dialog component since we will be providing overrides.
@include css.register("dialog");

$class-frame: "drawer-frame" !default;
$class-main: "drawer-main" !default;

$frame-height: 100vh !default;

$z-index: 900 !default;
$width: 18em !default;
$max-width: 80% !default;
$transition-duration: css.get(
  "dialog",
  "transition-duration",
  css.get("transition-duration")
) !default;
$transition-timing-function: css.get(
  "dialog",
  "transition-timing-function",
  css.get("transition-timing-function")
) !default;

// Dialog override map
// This is used to override `dialog` custom properties.
// Applies to both inline and modal drawer dialogs.
$dialog-override: () !default;

// Only applies to inline drawer dialogs.
$inline-dialog-override: (
  "background": css.get("background-darker"),
  "box-shadow": none
) !default;

// Only applies to modal drawer dialogs.
$modal-dialog-override: () !default;

// drawer_modal
$modal-z-index: 950 !default;

// Custom properties
@include css.set(
  "drawer",
  (
    "transition-duration": $transition-duration,
    "transition-timing-function": $transition-timing-function
  ),
  "required"
);

// Required custom properties for JavaScript.
@include usage.set("core", "prefix", "required");
@each $key, $value in core.$breakpoints {
  @include usage.set("core", "breakpoint-#{$key}", "required");
}
