@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/usage";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

$class-frame: "drawer-frame" !default;
$class-main: "drawer-main" !default;

$frame-height: 100vh !default;

$width: 18em !default;
$max-width: 100% !default;
$background: css.get("background-darker") !default;
$foreground: css.get("foreground") !default;
$border: none !default;
$sep-border-color: css.get("border-color") !default;
$box-shadow: none !default;
$transition-duration: css.get("transition-duration") !default;
$transition-timing-function: css.get("transition-timing-function") !default;

$modal-z-index: 900 !default;
$modal-width: $width !default;
$modal-max-width: 80% !default;
$modal-background: css.get("background") !default;
$modal-foreground: css.get("foreground") !default;
$modal-border: none !default;
$modal-sep-border-color: css.get("border-color") !default;
$modal-box-shadow: css.get("box-shadow-5") !default;

@include css.set("drawer", (
  "transition-duration": $transition-duration,
  "transition-timing-function": $transition-timing-function
), "required");

// Required custom properties for JavaScript.
@include usage.set("core", "prefix", "required");
@each $key, $value in core.$breakpoints {
  @include usage.set("core", "breakpoint-#{$key}", "required");
}
