@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/usage";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

$prefix-variable: config.get("prefix-variables") !default;
$prefix-block: config.get("prefix-blocks") !default;
$prefix-element: config.get("prefix-elements") !default;
$prefix-modifier: config.get("prefix-modifiers") !default;
$prefix-modifier-value: config.get("prefix-modifier-values") !default;

$class-frame: "#{$prefix-block}drawer-frame" !default;
$class-main: "#{$prefix-block}drawer-main" !default;

$width: 18em !default;
$max-width: 100% !default;
$border: null !default;
$sep-border: null !default;
$background: theme.get("background-darker") !default;
$shadow: none !default;
$transition-duration: css.get("transition-duration") !default;
$transition-timing-function: css.get("transition-timing-function") !default;

$frame-height: 100vh !default;

$modal-z-index: 900 !default;
$modal-width: $width !default;
$modal-max-width: 80% !default;
$modal-sep-border: null !default;
$modal-background: white !default;
$modal-shadow: css.get("box-shadow-5") !default;
$modal-screen-background: palette.get("neutral", 10) !default;
$modal-screen-opacity: 0.8 !default;

@include css.set("drawer", (
  "transition-duration": $transition-duration,
  "transition-timing-function": $transition-timing-function
), "required");

// Required custom properties for JavaScript.
@include usage.set("core", "prefix", "required");
@each $key, $value in core.$breakpoints {
  @include usage.set("core", "breakpoint-#{$key}", "required");
}
