$section-padding: 1em !default;
$section-background: $background-color !default;
$section-border: 1px solid $border-color !default;

.section {
  padding: $section-padding;
  background: $section-background;
}
