.section_border {
  border-top: $section-border;
  border-bottom: $section-border;
}

.section_border_top {
  border-top: $section-border;
}

.section_border_bottom {
  border-bottom: $section-border;
}
