
.jumbo-menu {
  padding: 1em;
  list-style: none;
}

.jumbo-menu__link {
  display: block;
  padding: 1.5em;
  background-color: $white;
  transition: background-color 0.5s linear;

  &:hover {
    background-color: $blue-50;
    transition: background-color 0.25s linear;
  }
}
