////
/// Global mixins passed to all files
/// @author Sebastian Nitu
/// @access public
////

// sass-lint:disable no-empty-rulesets, indentation, no-vendor-prefixes

/// Output a comment to flag sections
/// @param {String} $hook
/// @param {Boolean} $details - Whether or not to add project name and version
@mixin add-comment($hook, $details: true) {
@if ($details) {
/*==============================================================================
  @#{$hook} - #{$project} #{$version}
==============================================================================*/
} @else {
/*==============================================================================
  @#{$hook}
==============================================================================*/
}
}

/// Output a colophone comment for the top of packages
/// @param {String} $hook
@mixin add-colophon($hook) {
/*!
 * #{$project} - #{$description}
 * @version #{$version}
 * @bundle #{$hook}
 *
 * @author #{$author}
 * @repo #{$repo}
 * @url #{$url}
 *
 * Copyright (c) #{$year} Sebastian Nitu (MIT Licensed)
 */
}

/// Allows you to apply a clearfix to an element that contains floats.
@mixin add-clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/// Removes the clearfix styles from an element. This is typically used when a
/// clearfix is inherited on an element and you'd like it removed.
@mixin remove-clearfix() {
  &::after {
    content: none;
    display: none;
    clear: none;
  }
}

/// Makes touch devices use momentum-based scrolling for the given element.
@mixin add-scrollable() {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: top linear 0.2s, bottom linear 0.2s;
}
