$button-group-spacing: -1px !default;
$button-group_gap-spacing: 1px !default;

// border-radius outer
$button-group-bro: $border-radius !default;
// border-radius inner
$button-group-bri: 0 !default;
