.button-group_stack {
  flex-direction: column;

  > .button {
    &:first-child {
      border-radius: $button-group-bro $button-group-bro $button-group-bri $button-group-bri;
    }

    &:last-child {
      border-radius: $button-group-bri $button-group-bri $button-group-bro $button-group-bro;
    }

    + .button {
      margin: $button-group-spacing 0 0;
    }
  }
}
