$button-group-spacing: -1px !default;

// border-radius outer
$button-group-bro: $border-radius !default;
// border-radius inner
$button-group-bri: 0 !default;

.button-group {
  display: inline-flex;
  align-items: center;

  .button-group__item {
    border-radius: $button-group-bri;

    &:first-child {
      border-radius: $button-group-bro $button-group-bri $button-group-bri $button-group-bro;
    }

    &:last-child {
      border-radius: $button-group-bri $button-group-bro $button-group-bro $button-group-bri;
    }
  }
}

.button-group__item {
  z-index: 1;
  flex: 1 1 auto;
  margin: 0;

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
  }

  &:active {
    z-index: 4;
  }

  &.is-active {
    z-index: 5;
  }

  + .button-group__item {
    margin: 0 0 0 $button-group-spacing;
  }
}

.button-group__item_equal {
  flex-basis: 0;
}

.button-group__item_static {
  flex-grow: 0;
}

.button-group_full {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.button-group_stack {
  flex-direction: column;

  .button-group__item {
    &:first-child {
      border-radius: $button-group-bro $button-group-bro $button-group-bri $button-group-bri;
    }

    &:last-child {
      border-radius: $button-group-bri $button-group-bri $button-group-bro $button-group-bro;
    }

    + .button-group__item {
      margin: $button-group-spacing 0 0;
    }
  }
}


