@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;
@use "./functions" as fun;

#{core.bem("checkbox")} {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: css.get("checkbox", "font-size", css.get("form-control-font-size"));
  justify-content: center;
  position: relative;
  vertical-align: middle;
}

#{core.bem("checkbox", "background")} {
  @include core.form-control-size("checkbox");

  align-items: center;
  background-color: hsl(from var.$accent h s l / css.get("checkbox", "background-opacity", css.get("form-control-background-opacity")));
  border-radius: css.get("checkbox", "background-border-radius", css.get("form-control-background-border-radius"));
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

#{core.bem("checkbox", "box")} {
  @include core.size(css.get("checkbox", "box-size", var.$box-size));

  align-items: center;
  background-color: css.get("checkbox", "background", var.$background);
  border: css.get("checkbox", "border-width", var.$border-width) solid var.$foreground;
  border-radius: css.get("checkbox", "border-radius", var.$border-radius);
  color: transparent;
  display: flex;
  justify-content: center;
}

#{core.bem("checkbox", "icon")} {
  @include core.size(css.get("checkbox", "icon-size", var.$icon-size));

  background-color: css.get("checkbox", "background", var.$background);
  mask-image: url("#{fun.icon-check(var.$icon-size, var.$icon-stroke)}");
  mask-position: center calc(css.get("checkbox", "icon-size", var.$icon-size) * -1);
  mask-repeat: no-repeat;
  mask-size: 100%;
  opacity: 0;
}

#{core.bem("checkbox", "native")} {
  @include core.size(100%);

  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 2;

  &:hover + #{core.bem("checkbox", "background")} {
    background-color: hsl(from var.$accent h s l / css.get("checkbox", "background-opacity-hover", css.get("form-control-background-opacity-hover")));

    #{core.bem("checkbox", "box")} {
      background-color: css.get("checkbox", "background", var.$background);
      border-color: var.$accent;
    }
  }

  &:focus + #{core.bem("checkbox", "background")} {
    background-color: hsl(from var.$accent h s l / css.get("checkbox", "background-opacity-focus", css.get("form-control-background-opacity-focus")));

    #{core.bem("checkbox", "box")} {
      background-color: css.get("checkbox", "background", var.$background);
      border-color: var.$accent;
    }
  }

  &:focus-visible + #{core.bem("checkbox", "background")},
  &:active + #{core.bem("checkbox", "background")} {
    background-color: hsl(from var.$accent h s l / css.get("checkbox", "background-opacity-active", css.get("form-control-background-opacity-active")));

    #{core.bem("checkbox", "box")} {
      background-color: css.get("checkbox", "background", var.$background);
      border-color: var.$accent;
    }
  }

  &:checked + #{core.bem("checkbox", "background")} {
    #{core.bem("checkbox", "box")} {
      background-color: var.$accent;
      border-color: var.$accent;
    }

    #{core.bem("checkbox", "icon")} {
      mask-position: center center;
      opacity: 1;
      transition-duration: css.get("checkbox", "transition-duration", css.get("form-control-transition-duration"));
      transition-property: opacity, mask-position;
      transition-timing-function: css.get("checkbox", "transition-timing-function", css.get("form-control-transition-timing-function"));
    }
  }

  &:indeterminate + #{core.bem("checkbox", "background")} {
    #{core.bem("checkbox", "box")} {
      background-color: var.$accent;
      border-color: var.$accent;
    }

    #{core.bem("checkbox", "icon")} {
      background-color: css.get("checkbox", "background", var.$background);
      mask-image: url("#{fun.icon-minus(var.$icon-size, var.$icon-stroke)}");
      mask-position: center center;
      opacity: 1;
      transition-duration: css.get("checkbox", "transition-duration", css.get("form-control-transition-duration"));
      transition-property: opacity, mask-position;
      transition-timing-function: css.get("checkbox", "transition-timing-function", css.get("form-control-transition-timing-function"));
    }
  }
}
