@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

$-accent: css.get("checkbox", "accent", css.get("form-control-accent"));
$-background: css.get("checkbox", "background", css.get("form-control-background"));
$-foreground: css.get("checkbox", "foreground", css.get("form-control-foreground"));

#{core.bem("checkbox")} {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  font-size: css.get("checkbox", "size", config.get("checkbox-size", "default"));
  vertical-align: middle;
}

#{core.bem("checkbox", "background")} {
  @include core.form-control-size;

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: css.get("checkbox", "background-border-radius", css.get("form-control-background-border-radius"));
  background-color: hsl(from $-accent h s l / css.get("checkbox", "background-opacity", css.get("form-control-background-opacity")));
}

#{core.bem("checkbox", "box")} {
  @include core.size(css.get("checkbox", "box-size", 1.2em));

  display: flex;
  align-items: center;
  justify-content: center;
  border: css.get("checkbox", "border-width", 2px) solid $-foreground;
  border-radius: css.get("checkbox", "border-radius", css.get("border-radius"));
  color: transparent;
  background-color: $-background;
}

#{core.bem("checkbox", "icon")} {
  @include core.size(css.get("checkbox", "icon-size", 0.8em));

  opacity: 0;
  background-color: $-background;
  mask-image: url(core.svg("check"));
  mask-repeat: no-repeat;
  mask-position: center calc(css.get("checkbox", "icon-size", 0.8em) * -1);
  mask-size: 100%;
}

#{core.bem("checkbox", "native")} {
  @include core.size(100%);

  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;

  &:hover + #{core.bem("checkbox", "background")} {
    background-color: hsl(from $-accent h s l / css.get("checkbox", "background-opacity-hover", css.get("form-control-background-opacity-hover")));

    #{core.bem("checkbox", "box")} {
      border-color: $-accent;
      background-color: $-background;
    }
  }

  &:focus + #{core.bem("checkbox", "background")} {
    background-color: hsl(from $-accent h s l / css.get("checkbox", "background-opacity-focus", css.get("form-control-background-opacity-focus")));

    #{core.bem("checkbox", "box")} {
      border-color: $-accent;
      background-color: $-background;
    }
  }

  &:focus-visible + #{core.bem("checkbox", "background")},
  &:active + #{core.bem("checkbox", "background")} {
    background-color: hsl(from $-accent h s l / css.get("checkbox", "background-opacity-active", css.get("form-control-background-opacity-active")));

    #{core.bem("checkbox", "box")} {
      border-color: $-accent;
      background-color: $-background;
    }
  }

  &:checked + #{core.bem("checkbox", "background")},
  &:indeterminate + #{core.bem("checkbox", "background")} {
    #{core.bem("checkbox", "box")} {
      border-color: $-accent;
      background-color: $-accent;
    }

    #{core.bem("checkbox", "icon")} {
      opacity: 1;
      mask-position: center center;
      transition-timing-function: css.get("checkbox", "transition-timing-function", css.get("form-control-transition-timing-function"));
      transition-duration: css.get("checkbox", "transition-duration", css.get("form-control-transition-duration"));
      transition-property: opacity, mask-position;
    }
  }

  &:indeterminate + #{core.bem("checkbox", "background")} #{core.bem("checkbox", "icon")} {
    mask-image: url(core.svg("-"));
  }
}
