@use "@vrembem/core";
@use "@vrembem/core/css";
@include css.register("checkbox");

$accent: css.get("checkbox", "accent", css.get("form-control-accent")) !default;
$background: css.get("checkbox", "background", css.get("form-control-background")) !default;
$foreground: css.get("checkbox", "foreground", css.get("form-control-foreground")) !default;
$box-size: 1.2em !default;
$icon-size: 0.8em !default;
$icon-stroke: 2.5 !default;
$border-width: 2px !default;
$border-radius: css.get("border-radius") !default;

// Modifier: checkbox_size_sm
$size-sm-font-size: css.get("form-control-font-size-sm") !default;

// Modifier: checkbox_size_lg
$size-lg-font-size: css.get("form-control-font-size-lg") !default;
