@use "@vrembem/core";
@use "@vrembem/core/palette";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$color: palette.get("primary") !default;
$size: core.$form-control-size !default;
$border-width: 2px !default;
$transition-duration: core.$transition-duration-short !default;
$transition-timing-function: core.$transition-timing-function !default;

$background: transparent !default;
$background-hover: hsl(palette.get("primary", "var"), 50%, 20%) !default;
$background-focus: hsl(palette.get("primary", "var"), 50%, 20%) !default;
$background-active: hsl(palette.get("primary", "var"), 50%, 30%) !default;
$background-checked: null !default;
$background-border-radius: core.$border-radius-circle !default;

$box-size: 18px !default;
$box-background: white !default;
$box-background-hover: null !default;
$box-background-focus: null !default;
$box-background-active: null !default;
$box-background-checked: $color !default;
$box-border-color: palette.get("neutral") !default;
$box-border-color-hover: $color !default;
$box-border-color-focus: $color !default;
$box-border-color-active: $color !default;
$box-border-color-checked: $color !default;
$box-border-radius: core.$border-radius !default;

$icon-size: 12px !default;
$icon-color: white !default;
$icon-stroke: 2.5 !default;

$size-sm: core.$form-control-size-sm !default;
$size-sm-border-width: 2px !default;
$size-sm-box: 14px !default;
$size-sm-icon: 10px !default;
$size-sm-icon-stroke: 2.5 !default;
$size-lg: core.$form-control-size-lg !default;
$size-lg-border-width: 2.5px !default;
$size-lg-box: 24px !default;
$size-lg-icon: 18px !default;
$size-lg-icon-stroke: 2 !default;
