@import "./variables";

.checkbox {
  @include size($checkbox-size);
  position: relative;
  top: -2px;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.checkbox__background {
  @include size(100%);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $checkbox__background-border-radius;
  background: $checkbox__background;
}

.checkbox__box {
  @include size($checkbox__box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: $checkbox__box-border-width solid $checkbox__box-border-color;
  border-radius: $checkbox__box-border-radius;
  background: $checkbox__box-background;
  color: transparent;
}

.checkbox__icon {
  @include size($checkbox__icon-size);
  background-image: url($checkbox__icon-image);
  background-repeat: no-repeat;
  background-position: center ($checkbox__icon-size * -1);
  background-size: 100%;
  opacity: 0;
}

.checkbox__native {
  @include size(100%);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;

  &:hover + .checkbox__background {
    background: $checkbox__background-hover;

    .checkbox__box {
      border-color: $checkbox__box-border-color-hover;
      background-color: $checkbox__box-background-hover;
    }
  }

  &:focus + .checkbox__background {
    background: $checkbox__background-focus;

    .checkbox__box {
      border-color: $checkbox__box-border-color-focus;
      background-color: $checkbox__box-background-focus;
    }
  }

  &:active + .checkbox__background {
    background: $checkbox__background-active;

    .checkbox__box {
      border-color: $checkbox__box-border-color-active;
      background-color: $checkbox__box-background-active;
    }
  }

  &:checked + .checkbox__background {
    background: $checkbox__background-checked;

    .checkbox__box {
      border-color: $checkbox__box-border-color-checked;
      background-color: $checkbox__box-background-checked;
    }

    .checkbox__icon {
      transition-property: opacity, background-position;
      transition-duration: $checkbox__icon-transition-duration;
      transition-timing-function: $checkbox__icon-transition-timing-function;
      background-position: center center;
      opacity: 1;
    }
  }
}
