@use "@vrembem/core/tokens";

.list--type-pros,
.list--type-cons {
  margin-left: 0;
  list-style: none;

  li {
    position: relative;
    margin: 0.5em 0;
    padding-left: 1.75em;

    &::before {
      content: "";
      position: absolute;
      inset: 0 auto auto 0;
      display: block;
      width: 1em;
      height: 1em;
      margin: 0.35em 0;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100%;
    }
  }
}

.list--type-pros li::before {
  background-color: tokens.get("palette", "primary");
  mask-image: url("/src/assets/icons/check-bold.svg");
}

.list--type-cons li::before {
  background-color: tokens.get("palette", "important");
  mask-image: url("/src/assets/icons/x-bold.svg");
}
