// Breadcrumb delimiter
// ---
$breadcrumb-delimiter: '/' !default;
$breadcrumb-delimiter-padding: 0 0.5em !default;
$breadcrumb-delimiter-last: true !default;

// Breadcrumb colors
// ---
$breadcrumb-color: $color-light !default;
$breadcrumb-delimiter-color: $color-light !default;
$breadcrumb__link-color: $link-color !default;
$breadcrumb__link-color-hover: $link-color-hover !default;
$breadcrumb__link-border-color: rgba($black, 0.1) !default;
$breadcrumb__link-border-color-hover: $link-color-hover !default;

// Breadcrumb invert modifier
// ---
$breadcrumb-color-invert: rgba($white, 0.5) !default;
$breadcrumb-delimiter-color-invert: rgba($white, 0.25) !default;
$breadcrumb__link-color-invert: rgba($white, 0.75) !default;
$breadcrumb__link-color-invert-hover: rgba($white, 1) !default;
$breadcrumb__link-border-color-invert: rgba($white, 0.2) !default;
$breadcrumb__link-border-color-invert-hover: rgba($white, 1) !default;
