@import 'variables';

// Breadcrumb theme invert variables
// ---
$breadcrumb_theme_invert-color: rgba($white, 0.5) !default;
$breadcrumb_theme_invert-delimiter-color: rgba($white, 0.25) !default;
$breadcrumb_theme_invert__link-color: rgba($white, 0.75) !default;
$breadcrumb_theme_invert__link-color-hover: rgba($white, 1) !default;
$breadcrumb_theme_invert__link-border-color: rgba($white, 0.2) !default;
$breadcrumb_theme_invert__link-border-color-hover: rgba($white, 1) !default;

/**
 * Breadcrumb invert modifier
 * ---
 * A modifier for displaying this component on a dark background.
 */

.breadcrumb_invert {
  color: $breadcrumb_theme_invert-color;

  .breadcrumb__item {
    &::after {
      color: $breadcrumb_theme_invert-delimiter-color;
    }
  }

  .breadcrumb__link {
    color: $breadcrumb_theme_invert__link-color;
    border-bottom: 1px solid $breadcrumb_theme_invert__link-border-color;

    &:focus,
    &:hover {
      color: $breadcrumb_theme_invert__link-color-hover;
      border-bottom: 1px solid $breadcrumb_theme_invert__link-border-color-hover;
    }
  }
}
