@import 'variables';

/**
 * Breadcrumb
 * ---
 * The breadcrumb component is a navigation component that shows the
 * hierarchical path to a users current location.
 */

.breadcrumb {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  color: $breadcrumb-color;
}

.breadcrumb__item {
  margin: 0;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 0.5em;
  }

  &::after {
    content: $breadcrumb-delimiter;
    padding: $breadcrumb-delimiter-padding;
    color: $breadcrumb-delimiter-color;
  }

  @if ($breadcrumb-delimiter-last != true) {
    &:last-child::after {
      content: none;
    }
  }
}

.breadcrumb__link {
  color: $breadcrumb__link-color;
  border-bottom: 1px solid $breadcrumb__link-border-color;

  &:focus,
  &:hover {
    color: $breadcrumb__link-color-hover;
    border-bottom: 1px solid $breadcrumb__link-border-color-hover;
  }
}
