@import 'variables';

/**
 * Breadcrumb
 */

.breadcrumb {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  color: $color;
}

.breadcrumb__item {
  margin: 0;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 0.5em;
  }

  &::after {
    content: $breadcrumb-delimiter;
    padding: $breadcrumb-delimiter-padding;
    color: $breadcrumb-delimiter-color;
  }

  &:last-child::after {
    content: none;
  }
}

.breadcrumb__link {
  @include add-anchor();
}
