---
const packages = await Astro.glob('../pages/packages/*.md');
---

<ul class="list">
{
  packages.map((item) => (
    <li><a class="link" href={item.url}>{item.frontmatter.title}</a></li>
  ))
}
</ul>
