---
import Path from 'node:path';

const packages = await Astro.glob('../packages/*+(.md|.mdx)');
---

<ul class="list">
{
  packages.map((item) => (
    <li>
      <a class="link" href={`packages/${Path.parse(item.file).name}`}>
        {item.frontmatter.title}
      </a>
    </li>
  ))
}
</ul>
