@import 'variables';

/**
 * Grid flush modifier
 * ---
 * Removes the spacing between grid items.
 */

.grid_flush {
  margin: 0;

  > .grid__item {
    padding: 0;
  }
}

.grid_flush.grid_flatten {
  margin: 0;
}
