@import 'variables';

/**
 * Grid Size Modifiers
 * ---
 * Size modifiers add different size variations to grids.
 */

@each $key, $value in $grid-spacing-scale {
  .grid_size_#{$key} {
    margin: 0 (-($value * 0.5));

    > .grid__item {
      padding: ($value * 0.5);
    }
  }

  .grid_size_#{$key}.grid_flatten {
    margin: (-($value * 0.5));
  }
}
