////////////////////////////////////////////////////////////////////////////////
// @animate classes
////////////////////////////////////////////////////////////////////////////////
//
//  .animate (
//    .animate--fade-in
//  )
//
////////////////////////////////////////////////////////////////////////////////
// @animate settings
////////////////////////////////////////////////////////////////////////////////

$animate-duration: 5s !default;

/*==============================================================================
  @animate
==============================================================================*/

.animate {
  animation-duration: $animate-duration;
}

.animate--fade-in {
  animation-name: animate--fade-in;
}
@keyframes animate--fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
