////////////////////////////////////////////////////////////////////////////////
// @button--outline classes
////////////////////////////////////////////////////////////////////////////////
//
//  extends .button
//    .button--outline
//    .button--outline-primary
//    .button--outline-secondary
//    .button--outline-success
//    .button--outline-caution
//    .button--outline-danger
//    .button--outline-light
//    .button--outline-dark
//    .button--outline-fade
//
////////////////////////////////////////////////////////////////////////////////
// @button--outline settings
////////////////////////////////////////////////////////////////////////////////

$button--outline-border-width: 1px !default;

/*==============================================================================
  @button--outline
==============================================================================*/

.button--outline {
  background: none;
  border: $button--outline-border-width solid $gray-300;
  &:hover,
  &:focus {
    background: $white;
    border-color: $color;
  }
}

.button--outline-primary {
  color: $primary;
  background: none;
  border: $button--outline-border-width solid $primary;
  &:hover,
  &:focus {
    color: $white;
    background: $primary;
    border-color: $primary;
  }
}

.button--outline-secondary {
  color: $secondary;
  background: none;
  border: $button--outline-border-width solid $secondary;
  &:hover,
  &:focus {
    color: $white;
    background: $secondary;
    border-color: $secondary;
  }
}

.button--outline-success {
  color: $success;
  background: none;
  border: $button--outline-border-width solid $success;
  &:hover,
  &:focus {
    color: $white;
    background: $success;
    border-color: $success;
  }
}

.button--outline-caution {
  color: $caution;
  background: none;
  border: $button--outline-border-width solid $caution;
  &:hover,
  &:focus {
    color: $white;
    background: $caution;
    border-color: $caution;
  }
}

.button--outline-danger {
  color: $danger;
  background: none;
  border: $button--outline-border-width solid $danger;
  &:hover,
  &:focus {
    color: $white;
    background: $danger;
    border-color: $danger;
  }
}

.button--outline-light {
  color: $white;
  background: none;
  border: $button--outline-border-width solid $white;
  &:hover,
  &:focus {
    color: $color;
    background: $white;
    border-color: $white;
  }
}

.button--outline-dark {
  color: $gray-800;
  background: none;
  border: $button--outline-border-width solid $gray-800;
  &:hover,
  &:focus {
    color: $white;
    background: $gray-800;
    border-color: $gray-800;
  }
}

.button--outline-fade {
  color: $color-light;
  background: none;
  border: $button--outline-border-width solid $gray-300;
  &:hover,
  &:focus {
    color: $color;
    background: none;
    border-color: $color;
  }
}
