////////////////////////////////////////////////////////////////////////////////
// @button--color classes
////////////////////////////////////////////////////////////////////////////////
//
//  extends .button
//    .button--color-primary
//    .button--color-secondary
//    .button--color-success
//    .button--color-caution
//    .button--color-danger
//    .button--color-light
//    .button--color-dark
//    .button--color-fade
//
////////////////////////////////////////////////////////////////////////////////
// @button--color settings
////////////////////////////////////////////////////////////////////////////////

/*==============================================================================
  @button--color
==============================================================================*/

.button--color-primary {
  color: $white;
  background: $primary;
  &:hover,
  &:focus {
    color: $white;
    background: darken($primary, 10%);
  }
}

.button--color-secondary {
  color: $white;
  background: $secondary;
  &:hover,
  &:focus {
    color: $white;
    background: darken($secondary, 10%);
  }
}

.button--color-success {
  color: $white;
  background: $success;
  &:hover,
  &:focus {
    color: $white;
    background: darken($success, 10%);
  }
}

.button--color-caution {
  color: $white;
  background: $caution;
  &:hover,
  &:focus {
    color: $white;
    background: darken($caution, 5%);
  }
}

.button--color-danger {
  color: $white;
  background: $danger;
  &:hover,
  &:focus {
    color: $white;
    background: darken($danger, 10%);
  }
}

.button--color-light {
  color: $color;
  background: rgba($white, 0.7);
  &:hover,
  &:focus {
    color: $color;
    background: $white;
  }
}

.button--color-dark {
  color: $white;
  background: $gray-800;
  &:hover,
  &:focus {
    color: $white;
    background: $gray-700;
  }
}

.button--color-fade {
  color: $color-light;
  background: none;
  &:hover,
  &:focus {
    color: $color;
    background: rgba($black, 0.05);
  }
}
