////////////////////////////////////////////////////////////////////////////////
// @dialog classes
////////////////////////////////////////////////////////////////////////////////
//
//  .dialog
//    .dialog__header
//    .dialog__title
//    .dialog__toolbar
//    .dialog__close
//    .dialog__content (
//      .dialog__content--expanded
//    )
//    .dialog__footer (
//      .dialog__footer--split
//    )
//    .dialog__action (
//      .dialog__action--split
//    )
//    .dialog__action-set
//
////////////////////////////////////////////////////////////////////////////////
// @dialog settings
////////////////////////////////////////////////////////////////////////////////

$dialog-spacing: 1em !default;
$dialog-padding: 1em !default;
$dialog-padding-expanded: 1em 1.5em !default;
$dialog-background: $white !default;
$dialog-border: 1px solid rgba($black, 0.1) !default;
$dialog-border-radius: $border-radius !default;
$dialog-box-shadow: 0 2px 6px rgba($black, 0.1) !default;

$dialog__title-font-size: 1.125em !default;
$dialog__title-line-height: 1.45em !default;

$dialog__toolbar-spacing: 0.25em !default;
$dialog__action-spacing: 0.5em !default;

/*==============================================================================
  @modal
==============================================================================*/

.dialog {
  position: relative;
  z-index: 500;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0;
  background: $dialog-background;
  border-radius: $dialog-border-radius;
  box-shadow: $dialog-box-shadow;
  transition: all 0.5s;
}

.dialog__header,
.dialog__footer {
  flex: 0 0 auto;
  padding: $dialog-padding;
}

.dialog__header {
  display: flex;
  align-items: top;
  justify-content: space-between;
  border-bottom: $dialog-border;
  
  > * + * {
    margin-left: $dialog-spacing;
  }
}

.dialog__toolbar {
  > * + * {
    margin-left: $dialog__toolbar-spacing;
  }
}

.dialog__close {
  flex-grow: 0;
}

.dialog__title {
  flex: 1 1 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: $dialog__title-font-size;
  line-height: $dialog__title-line-height;
}

.dialog__content {
  flex-grow: 1;
  padding: $dialog-padding;
  
  .dialog__close {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0;
  }
  .dialog__title {
    margin: 0;
  }
  > * {
    margin: 0;
  }
  > * + * {
    margin: $dialog-spacing 0 0;
  }
}
.dialog__content--expanded {
  padding: $dialog-padding-expanded;
}

.dialog__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $dialog-padding;
  padding-top: 0;
  
  > * + * {
    margin-left: $dialog__action-spacing;
  }
}
.dialog__action--split {
  justify-content: space-between;
}

.dialog__action-set {
  > * + * {
    margin-left: $dialog__action-spacing;
  }
}

.dialog__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: $dialog-border;
  
  .dialog__action {
    padding: 0;
  }
  
  > * + * {
    margin-left: $dialog-spacing;
  }
}
.dialog__footer--split {
  justify-content: space-between;
}
