////////////////////////////////////////////////////////////////////////////////
// @dropdown--pos classes
////////////////////////////////////////////////////////////////////////////////
//
//  extends .dropdown
//    .dropdown--pos-down
//    .dropdown--pos-down-left
//    .dropdown--pos-down-right
//    .dropdown--pos-up
//    .dropdown--pos-up-left
//    .dropdown--pos-up-right
//    .dropdown--pos-left
//    .dropdown--pos-left-up
//    .dropdown--pos-left-down
//    .dropdown--pos-right
//    .dropdown--pos-right-up
//    .dropdown--pos-right-down
//
////////////////////////////////////////////////////////////////////////////////
// @dropdown--pos settings
////////////////////////////////////////////////////////////////////////////////

$dropdown--pos-spacing: 0.5em !default;

/*==============================================================================
  @dropdown--pos
==============================================================================*/

.dropdown--pos-down-left,
.dropdown--pos-down-right,
.dropdown--pos-down  {
  top: 100%;
  bottom: auto;
  margin: $dropdown--pos-spacing 0 0;
  
  &:before {
    width: 100%;
    height: $dropdown--pos-spacing;
    top: auto;
    left: 0;
    right: 0;
    bottom: 100%;
  }
}
.dropdown--pos-down-left {
  left: 0;
  right: auto;
}
.dropdown--pos-down-right {
  left: auto;
  right: 0;
}
.dropdown--pos-down {
  left: 50%;
  right: auto;
  transform: translate3d(-50%, 0, 0);
}

.dropdown--pos-up-left,
.dropdown--pos-up-right,
.dropdown--pos-up {
  top: auto;
  bottom: 100%;
  margin: 0 0 $dropdown--pos-spacing;
  
  &:before {
    width: 100%;
    height: $dropdown--pos-spacing;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
  }
}
.dropdown--pos-up-left {
  left: 0;
  right: auto;
}
.dropdown--pos-up-right {
  left: auto;
  right: 0;
}
.dropdown--pos-up {
  left: 50%;
  right: auto;
  transform: translate3d(-50%, 0, 0);
}

.dropdown--pos-right-down,
.dropdown--pos-right-up,
.dropdown--pos-right {
  left: 100%;
  right: auto;
  margin: 0 0 0 $dropdown--pos-spacing;
  
  &:before {
    width: $dropdown--pos-spacing;
    height: 100%;
    top: 0;
    left: auto;
    right: 100%;
    bottom: 0;
  }
}
.dropdown--pos-right-down {
  top: 0;
  bottom: auto;
}
.dropdown--pos-right-up {
  top: auto;
  bottom: 0;
}
.dropdown--pos-right {
  top: 50%;
  bottom: auto;
  transform: translate3d(0, -50%, 0);
}

.dropdown--pos-left-down,
.dropdown--pos-left-up,
.dropdown--pos-left {
  left: auto;
  right: 100%;
  margin: 0 $dropdown--pos-spacing 0 0;
  
  &:before {
    width: $dropdown--pos-spacing;
    height: 100%;
    top: 0;
    left: 100%;
    right: auto;
    bottom: 0;
  }
}
.dropdown--pos-left-down {
  top: 0;
  bottom: auto;
}
.dropdown--pos-left-up {
  top: auto;
  bottom: 0;
}
.dropdown--pos-left {
  top: 50%;
  bottom: auto;
  transform: translate3d(0, -50%, 0);
}
