////////////////////////////////////////////////////////////////////////////////
// @flex classes
////////////////////////////////////////////////////////////////////////////////
//
//  .flex
//    .flex__item
//
////////////////////////////////////////////////////////////////////////////////
// @flex settings
////////////////////////////////////////////////////////////////////////////////

$flex-spacing: 3em;

/*==============================================================================
  @flex
==============================================================================*/

.flex {
  display: flex;
  margin: 0 (-$flex-spacing * 0.5);
}

.flex__item {
  position: relative;
  flex: 1 1 0;
  margin: 0 ($flex-spacing * 0.5);
}

.flex--padding {
  padding: $flex-spacing 0;
}

.flex--dark {
  background: $gray;
}
