////////////////////////////////////////////////////////////////////////////////
// @icon classes
////////////////////////////////////////////////////////////////////////////////
//
//  .icon (
//    .icon--loading
//  )
//  .svg-symbols
//
////////////////////////////////////////////////////////////////////////////////
// @icon settings
////////////////////////////////////////////////////////////////////////////////

$icon-margin: 0.1em !default;
$icon-font-size: 1.25em !default;
$icon-fill: none !default;
$icon-stroke: currentColor !default;
$icon-stroke-width: 2px !default;

$icon--loading-duration: 1.5s !default;

$icon-symbols-class: 'svg-symbols' !default;

/*==============================================================================
  @icon
==============================================================================*/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: $icon-margin;
  fill: $icon-fill;
  stroke: $icon-stroke;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: $icon-stroke-width;
  font-size: $icon-font-size;
}

.icon--loading {
  animation: rotate $icon--loading-duration linear infinite;
}

@keyframes rotate { 
  100% { 
    transform: rotate(360deg); 
  }
}

.#{$icon-symbols-class} {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
