////////////////////////////////////////////////////////////////////////////////
// @input classes
////////////////////////////////////////////////////////////////////////////////
//
//  .input (
//    .input--type-select
//    .input--type-textarea
//    .input--type-textarea-auto
//    .input--disabled
//    .input--readonly
//  )
//
////////////////////////////////////////////////////////////////////////////////
// @input settings
////////////////////////////////////////////////////////////////////////////////

$input-font-size: 1em !default;
$input-line-height: 1.5em !default;

$input-background: $white !default;
$input-background-focus: $white !default;
$input-box-shadow: 0 0 0 0 rgba($blue, 0) !default;
$input-box-shadow-focus: 0 0 0 3px rgba($blue, 0.1) !default;

$input-border: 1px solid rgba($black, 0.2) !default;
$input-border-focus: 1px solid rgba($blue, 1) !default;

$input--type-select-image: 'data:image/svg+xml;utf8,<svg width="36px" height="10px" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke-width="2" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" points="15 4 18 7 21 4"></polyline></svg>' !default;

/*==============================================================================
  @input
==============================================================================*/

.input {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.375em .5em;
  color: $color;
  font-family: $font-family;
  font-size: $input-font-size;
  line-height: $input-line-height;
  background: $input-background;
  border: $input-border;
  box-shadow: $input-box-shadow;
  border-radius: 3px;
  transition: border-color 0.25s, background-color 0.25s, box-shadow 0.25s;

  &:focus {
    outline: none;
    background-color: $input-background-focus;
    border: $input-border-focus;
    box-shadow: $input-box-shadow-focus;
  }

  &::placeholder {
    color: $color-light;
  }
}

.input--type-select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url($input--type-select-image);
  background-position: 100% center;
  background-repeat: no-repeat;
  padding-right: 2em;
}

.input--type-textarea {
  max-width: 100%;
  min-height: 2.375em; // row="1"
  height: 5.375em; // rows="3"
}

.input--type-textarea-auto {
  max-width: 100%;
  min-height: 2.375em; // row="1"
}

.input--disabled,
.input--readonly,
.input[readonly],
.input[disabled] {
  opacity: 0.5;
}
