////////////////////////////////////////////////////////////////////////////////
// @menu--tabs classes
////////////////////////////////////////////////////////////////////////////////
//
//  .menu--tabs
//
////////////////////////////////////////////////////////////////////////////////
// @menu--tabs settings
////////////////////////////////////////////////////////////////////////////////

$menu--tabs-border-color: rgba($black, 0.1) !default;

/*==============================================================================
  @menu--tabs
==============================================================================*/

.menu--tabs {
  padding: 0;
  border-bottom: 1px solid $gray-300;
  
  .menu__item {}
  .menu__item + .menu__item {
    margin-left: 0.25em;
  }
  .menu__link {
    position: relative;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .menu__link--active {
    background: $white;
    border: 1px solid $gray-300;
    border-bottom: 1px solid transparent;
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      top: 100%;
      left: 0;
      right: 0;
      background: $white;
    }
    
    &:hover {
      background: none;
    }
  }
  
}
