////////////////////////////////////////////////////////////////////////////////
// @utility classes
////////////////////////////////////////////////////////////////////////////////
//
//  .text--lead
//  .text--align-left
//  .text--align-center
//  .text--align-right
//  .show
//  .hide
//
////////////////////////////////////////////////////////////////////////////////
// @utility settings
////////////////////////////////////////////////////////////////////////////////

$lead-font-size: 1.5em !default;
$lead-line-height: 1.4em !default;

/*==============================================================================
  @utility
==============================================================================*/

/**
 * Text Styles
 */
.text--lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  color: $color-dark;
  font-weight: font-weight('light');
}

/**
 * Text Alignment Classes
 */
.text--align-left {
  text-align: left;
}
.text--align-center {
  text-align: center;
}
.text--align-right {
  text-align: right;
}

/**
 * Show and Hide classes
 */
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.show--inline-block {
  display: inline-block !important;
}
.show--flex {
  display: flex !important;
}
.show--inline-flex {
  display: inline-flex !important;
}
.show--inherit {
  display: inherit !important;
}

// Responsive Show and Hide Classes
@each $name, $value in $breakpoints {
  @include media-min($name) {
    .show--#{$name}-down {
      display: none !important;
    }
    .hide--#{$name}-up {
      display: none !important;
    }
  }
  @include media-max($name) {
    .hide--#{$name}-down {
      display: none !important;
    }
    .show--#{$name}-up {
      display: none !important;
    }
  }
}
