@import 'vrem-core';
@include add-comment('menu');

$menu-font-size: 1em !default;
$menu-indent: 1em !default;

$menu__item-spacing: 1px !default;

$menu__link-padding: $padding !default;

$menu__link-color: $color !default;
$menu__link-color_hover: $color !default;
$menu__link-color_active: $blue !default;
$menu__link-color_disabled: $color-light !default;

$menu__link-border-width: 1px !default;
$menu__link-border-color: transparent !default;
$menu__link-border-color_hover: transparent !default;
$menu__link-border-radius: $border-radius !default;

$menu__link-background: none !default;
$menu__link-background_hover: rgba($black, 0.05) !default;
$menu__link-background_active: none !default;
$menu__link-background_disabled: none !default;

$menu__text-spacing: 0.5em !default;

$menu__title-font-size: 0.9em !default;

$menu__sep-spacing: 0.5em !default;
$menu__sep-border-width: 1px !default;
$menu__sep-border-color: rgba($black, 0.1) !default;

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: $menu-font-size;
  list-style: none;
}

.menu__item {
  margin: 0;

  + .menu__item {
    margin-left: $menu__item-spacing;
  }
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: $menu__link-padding;
  color: $menu__link-color;
  white-space: nowrap;
  text-decoration: none;
  background: $menu__link-background;
  border: $menu__link-border-width solid $menu__link-border-color;
  border-radius: $menu__link-border-radius;

  &:hover,
  &:focus {
    outline: none;
    color: $menu__link-color_hover;
    background: $menu__link-background_hover;
    border-color: $menu__link-border-color_hover;
  }
}

.menu__link_active {
  background: $menu__link-background_active;
  color: $menu__link-color_active;

  &:hover,
  &:focus {
    background: $menu__link-background_active;
    color: $menu__link-color_active;
  }
}

.menu__link_disabled {
  background: $menu__link-background_disabled;
  color: $menu__link-color_disabled;

  &:hover,
  &:focus {
    background: $menu__link-background_disabled;
    color: $menu__link-color_disabled;
  }
}

.menu__text {
  margin: 0 $menu__text-spacing;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__title {
  display: block;
  padding: $menu__link-padding;
  font-size: $menu__title-font-size;
  font-weight: font-weight('semi-bold');
  text-transform: uppercase;
  color: $color-light;
  white-space: nowrap;
}

.menu__title-link {
  display: block;
  padding: 0.375rem 0.75rem;
  border-radius: $menu__link-border-radius;
  color: $color-light;
  border: none;

  &:hover {
    background: $menu__link-background_hover;
    color: $menu__link-color_hover;
  }
}

.menu__sep {
  align-self: stretch;
  margin: 0 $menu__sep-spacing;
  border-right: $menu__sep-border-width solid $menu__sep-border-color;
}

.menu_full {
  justify-content: space-between;

  .menu__item {
    flex: 1 1 auto;
  }

  .menu__item_static {
    flex-grow: 0;
  }

  .menu__link {
    justify-content: center;
  }
}

.menu_a-left {
  justify-content: flex-start;
}

.menu_a-center {
  justify-content: center;
}

.menu_a-right {
  justify-content: flex-end;
}

/**
 * menu_inverted
 */

$menu_inverted__link-color: $white !default;
$menu_inverted__link-color-hover: $white !default;

$menu_inverted__link-background: null !default;
$menu_inverted__link-background-hover: rgba($white, 0.05) !default;

$menu_inverted__link_active-color: $blue-400 !default;
$menu_inverted__link_active-color-hover: $blue-400 !default;

$menu_inverted__link_active-background: none !default;
$menu_inverted__link_active-background-hover: none !default;

$menu_inverted__sep-border-color: rgba($white, 0.1) !default;

.menu_inverted {
  .menu__link {
    color: $menu_inverted__link-color;
    background: $menu_inverted__link-background;

    &:hover {
      color: $menu_inverted__link-color-hover;
      background: $menu_inverted__link-background-hover;
    }
  }

  .menu__link_active {
    color: $menu_inverted__link_active-color;
    background: $menu_inverted__link_active-background;

    &:hover,
    &:focus {
      color: $menu_inverted__link_active-color-hover;
      background: $menu_inverted__link_active-background-hover;
    }
  }

  .menu__sep {
    border-color: $menu_inverted__sep-border-color;
  }
}

/**
 * menu_stack
 */

$menu_stack__text-spacing: 1em !default;

.menu_stack {
  flex-direction: column;
  align-items: stretch;
  overflow: visible;

  .menu_stack {
    margin-left: $menu-indent;
  }

  .menu__item + .menu__item {
    margin-left: 0;
    margin-top: $menu__item-spacing;
  }

  .menu__text {
    margin: 0 $menu_stack__text-spacing;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .menu__sep {
    margin: $menu__sep-spacing 0;
    border-right: none;
    border-top: $menu__sep-border-width solid $menu__sep-border-color;
  }
}

.menu_stack.menu_a-left {
  .menu__title {
    text-align: left;
  }

  .menu__link {
    justify-content: flex-start;
  }
}

.menu_stack.menu_a-center {
  .menu__title {
    text-align: center;
  }

  .menu__link {
    justify-content: center;
  }
}

.menu_stack.menu_a-right {
  .menu__title {
    text-align: right;
  }

  .menu__link {
    justify-content: flex-end;
  }
}


/**
 * menu_tabs
 */

$menu_tabs-border-color: rgba($black, 0.1) !default;

.menu_tabs {
  padding: 0;
  border-bottom: 1px solid $gray-300;

  .menu__item + .menu__item {
    margin-left: 0.25em;
  }

  .menu__link {
    position: relative;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .menu__link.is-active {
    background: $white;
    border: 1px solid $gray-300;
    border-bottom: 1px solid transparent;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      top: 100%;
      left: 0;
      right: 0;
      background: $white;
    }

    &:hover {
      background: none;
    }
  }
}
