@import 'vrem-core';
@include add-comment('modal');

$modal-width: 600px !default;
$modal-travel: 100% !default;
$modal-background: $gray !default;

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba($modal-background, 0);
  backdrop-filter: blur(4px);
  transition: background-color 0.5s, width 0.1s 0.5s, height 0.1s 0.5s, padding 0.1s 0.5s;
}

.modal__dialog {
  z-index: 1001;
  width: $modal-width;
  max-width: 100%;
  transform: translate3d(0, -$modal-travel, 0);
  opacity: 0;
  visibility: hidden;
}

.modal_size_small .modal__dialog {
  width: ($modal-width * 0.5);
}

.modal_size_large .modal__dialog {
  width: ($modal-width * 1.5);
}

.modal_pos_top {
  justify-content: flex-start;
}

.modal_pos_bottom {
  justify-content: flex-end;

  .modal__dialog {
    transform: translate3d(0, $modal-travel, 0);
  }
}

.modal_full .modal__dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  transform: translate3d(0, -($modal-travel * 0.25), 0);
}

.modal_pos_left,
.modal_pos_right {
  .modal__dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 280px;
    height: 100%;
    margin: 0;
    border-radius: 0;
    opacity: 1;
  }
}

.modal_pos_left .modal__dialog {
  left: 0;
  transform: translate3d(-$modal-travel, 0, 0);
}

.modal_pos_right .modal__dialog {
  right: 0;
  transform: translate3d($modal-travel, 0, 0);
}

.modal.is-active {
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: rgba($modal-background, 0.75);
  transition: background-color 0.5s;

  .modal__dialog {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}

@include media-min('medium') {
  .modal.is-active {
    padding: 2em;
  }
}
