@import 'variables';

/**
 * Media
 */

.media {
  display: flex;
  align-items: flex-start;

  > * + * {
    margin-left: $media-spacing;
  }
}

.media__body {
  flex: 1 1 auto;

  > * + * {
    margin-top: $media__body-spacing;
  }
}

.media__image {
  border-radius: $media-border-radius;
}
