/*==============================================================================
  @Media
==============================================================================*/

.media {
  display: flex;

  + .media {
    margin-top: 1em;
  }

  > * + * {
    margin-left: 1em;
  }
}

.media__content {

  > * + * {
    margin-top: 0.5rem;
  }
}
