@import 'variables';

/**
 * Media stack modifier
 */

.media_stack {
  flex-direction: column;

  .media__image {
    margin-right: 0;
    margin-left: 0;

    &:first-child {
      margin-bottom: $media-spacing;
    }

    &:last-child {
      margin-top: $media-spacing;
    }
  }
}

@each $name, $value in $breakpoints {

  .media_stack_#{$name} {
    flex-direction: column;
  }

  @include media-min($name) {
    .media_stack_#{$name} {
      flex-direction: row;

      &.media_reverse {
        flex-direction: row-reverse;
      }
    }
  }

  @include media-max($name) {
    .media_stack_#{$name} {
      .media__image {
        margin-right: 0;
        margin-left: 0;

        &:first-child {
          margin-top: $media-spacing;
          margin-bottom: 0;
        }

        &:last-child {
          margin-top: 0;
          margin-bottom: $media-spacing;
        }
      }
    }
  }

}
