@import 'variables';

/**
 * Media
 */

.media {
  display: flex;
  align-items: flex-start;

  > * + * {
    margin-left: $media-spacing;
  }
}

.media__image {
  border-radius: $media-border-radius;
}
