// Drawer
// ---
$drawer-width: 16em !default;
$drawer-parent: '.drawer-parent';
$drawer-sibling: '.drawer-sibling';

// Drawer item
// ---
$drawer-travel: 5em !default;
$drawer-transition-duration: 0.5s !default;

// Drawer dialog
// ---
$drawer__dialog-background: $shade !default;
$drawer__dialog-box-shadow: none !default;
$drawer__dialog-sep-border-color: $border-color-light !default;
