@import 'variables';

/**
 * Drawer
 * ---
 * The navigation drawer slides in from the left and contains the navigation
 * destinations for your app.
 */

.drawer {
  position: relative;
  width: $drawer-width;
  background: $shade;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
  flex: 0 0 $drawer-width;
  display: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.drawer__header,
.drawer__content {
  padding: 1em;
  background: $shade;
}

.drawer__header {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba($black, 0.05);
}

.drawer__content {
  position: relative;
  z-index: 1;
}

.drawer_dismissible {

}

.drawer_dismissible.drawer_open {
  display: flex;
}
