@import 'variables';

/**
 * Drawer
 * ---
 * A container component that slides in from the left or right. It typically
 * contains menus, search or other content for your app.
 */

.drawer {
  display: flex;
  position: relative;
}

.drawer__item {
  position: relative;
  width: 0;
  display: flex;
  flex: 0 0 0;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
  transition: width 0s $drawer-transition-duration;
}

.drawer__main {
  flex-grow: 1;
}

/**
 * Drawer dialog
 */

.drawer__dialog {
  width: $drawer-width;
  transform: translate3d(0, -$drawer-travel, 0);
  opacity: 0;
  visibility: hidden;
  background: $drawer__dialog-background;
  box-shadow: $drawer__dialog-box-shadow;
  border-radius: 0;
  min-height: 100%;

  .dialog__header,
  .dialog__footer {
    background: $drawer__dialog-background;
    border-color: $drawer__dialog-sep-border-color;
  }

  .dialog__body {
    background: $drawer__dialog-background;
  }
}

/**
 * Drawer active state
 */

.drawer__item.is-active {
  width: $drawer-width;
  flex: 0 0 $drawer-width;
  transition: none;

  .drawer__dialog {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
