@use "./variables";

.arrow {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 0;
  height: 0;
  transform-origin: center;
  border-top: variables.$size-pointer solid variables.$color;
  border-right: variables.$size solid transparent;
  border-left: variables.$size solid transparent;
  border-radius: variables.$radius;
  pointer-events: none;
}

.arrow_up {
  transform: rotate(180deg);
}

.arrow_left {
  transform: rotate(90deg);
}

.arrow_right {
  transform: rotate(-90deg);
}
