// Card padding
// ---
$card-padding: 1.25em !default;
$card-padding-lg: 2em !default;
$card-padding-xl: 4em 2em !default;

// Card box styles
// ---
$card-background: $white !default;
$card-border: null !default;
$card-sep-border: $border !default;
$card-border-radius: $border-radius !default;
$card-box-shadow: $box-shadow-1dp !default;
$card-transition: all $transition-duration $transition-timing-function !default;

// Card screen
// ---
$card__screen-opacity: 0.7 !default;
$card__screen-background: $blue-gray-800 !default;
