$card-padding: 1.25em !default;
$card-padding-lg: 2em !default;
$card-padding-xl: 4em 2em !default;
$card-background: $white !default;
$card-border: $border !default;
$card-border-radius: $border-radius !default;
$card-max-width: 20rem !default;

$card__screen-opacity: 0.6 !default;
$card__screen-background: $black !default;
