@import 'variables';

/**
 * Card Fade
 * ---
 * Adds styles for card link which hides elements only to reveal them when
 * hovered or focused. Based used with card__background and card__screen.
 */

@include media-min('md') {

  .card_fade {
    .card__header,
    .card__body,
    .card__footer,
    .card__screen {
      opacity: 0;
      transition: $card-fade-transition;
    }

    &:hover,
    &:focus {
      .card__header,
      .card__body,
      .card__footer {
        opacity: 1;
      }
      .card__screen {
        opacity: $card__screen-opacity;
      }
    }
  }

}
