/**
 * Card Theme: Dark
 */

.card_theme_dark {
  background: $dark;
  color: color-switch($dark);

  .card__header,
  .card__footer {
    @if (is-dark($dark)) {
      border-color: $border-color-invert;
    }
  }

  .card__screen {
    background: $dark;
  }
}

