$card_theme_bordered-border: $border !default;
$card_theme_bordered-box-shadow: none !default;

/**
 * Card Theme: Bordered
 */

.card_theme_bordered {
  border: $card_theme_bordered-border;
  box-shadow: $card_theme_bordered-box-shadow;
}

