@use "@vrembem/core";

.content {
  > h2,
  > h3 {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  > h2 {
    margin: 4em 0 2em;
    padding: 0.25em 0;
    border-top: 1px solid rgba(core.$black, 0.1);
    font-weight: core.font-weight('semi-bold');
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  > h3 {
    margin: 2em 0;
    font-size: 1.2em;
    font-weight: core.font-weight('normal');
  }
}
