@use "@vrembem/core";

.menu_drawer {
  .menu__link {
    justify-content: space-between;
    padding: 0.75em 1em;
  }

  .menu__link:hover {
    background: core.$white;
  }

  .menu__icon {
    display: flex;
    margin: -0.5em;
    padding: 0.5em;
    color: core.$gray-400;
  }

  .menu__link.is-active {
    margin-right: -2rem;
    padding-right: 3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: core.$white;
  }

  .menu__link:hover,
  .menu__link.is-active {
    .menu__icon {
      color: core.$primary;
    }
  }
}
