.article__section {
  padding: 1.5em;
}

.article__intro {
  @extend .section;
  @extend .section_size_lg;
}

.article__title {
  @include heading-base();
  @include heading(1);
}

.article__body {
  @extend .section;
}

.article__footer {
  @extend .section;
  border-top: $border;
}

@include media-min('md') {
  .article__intro,
  .article__body,
  .article__footer {
    padding-right: 3em;
    padding-left: 3em;
  }
}
