/**
 * Code
 * ---
 * Adds a few simple components for displaying code examples such as:
 *  - labels
 *  - output
 */

/**
 * Code Label
 */

.code-label,
.type .code-label {
  padding: 0.5rem 1rem;
  margin: 1.5rem 0 -1.5rem;
  background: linear-gradient(to right, darken($pre-background, 4%), darken($pre-background, 1%));
  border-top-left-radius: $pre-border-radius;
  border-top-right-radius: $pre-border-radius;
  font-size: $font-size-sm;
  font-family: $font-family-mono;
  color: $code-color;
}

.code-label + div pre,
.code-label + .code-output {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

/**
 * Code Output
 */

.type pre,
.code-output {
  padding: 1rem;
}

.type pre {
  font-size: $font-size-sm;
}

.code-output {
  margin: 1.5rem 0;
  border: 2px solid darken($pre-background, 1%);
  border-radius: 3px;
}

@include media-min('md') {
  .type pre,
  .code-output {
    padding: 1.5rem;
  }

  .type pre {
    font-size: $font-size;
  }
}
