/**
 * Demo
 * ---
 * Styles demos with both the code and rendered examples.
 */

.demo__render,
.demo__code {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.demo__code {
  @include pre();
}

.demo__render {
  .drawer__wrapper {
    height: 100%;
  }
}
