/**
 * Demo
 * ---
 * Styles demos with both the code and rendered examples.
 */

.demo > .grid__item {
  display: flex;
}

.demo__code {
  @include pre();
}

.demo__render {
  .drawer {
    height: 100%;
  }
}

.demo__render.invert,
.demo__group.invert {
  padding: 1em;
  border-radius: $border-radius;
  background: $night;
}

.grid__item > .demo__render,
.grid__item > .demo__code {
  flex: 1 0 100%;
  max-width: 100%;
}

.demo__group + .demo__group {
  margin-top: 1em;
}
