@use "@vrembem/core";

.flag,
.type .flag {
  margin: 4em 0 2em;
  border-top: 1px solid rgba(core.$black, 0.1);

  > * {
    display: block;
    margin: 0;
    padding: 0.25em 0;
    font-weight: core.font-weight('semi-bold');
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
