.version {
  &.loading {
    position: relative;
    display: inline-block;
    min-width: 1.5em;
    min-height: 1.5em;

    &::after {
      @include size(1.25em);
      content: "";
      position: absolute;
      top: calc(50% - (1.25em * 0.5));
      left: calc(50% - (1.25em * 0.5));
      animation: spin 0.6s infinite linear;
      border: 2px solid;
      border-radius: $border-radius-circle;
      border-color:
        rgba($white, 0.15)
        rgba($white, 0.15)
        rgba($white, 0.15)
        $white;
    }
  }

  &.error {
    color: $red;
  }
}
