@import 'variables';

.navbar,
.navbar__container,
.navbar__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * + * {
    margin-left: 1em;
  }
}

.navbar {
  padding: $navbar-padding;
  background: $navbar-background;
  border-bottom: $navbar-border;
}

.navbar__container {
  flex: 1 0 0;
}

.navbar__title {
  padding: $navbar__title-padding;
  font-size: $navbar__title-font-size;
  font-weight: $navbar__title-font-weight;
  color: $navbar__title-color;
  border: none;

  &:hover {
    color: $navbar__title-color-hover;
    border: none;
  }
}

.navbar__desc {
  color: $navbar__desc-color;
}
