@use "@vrembem/core";

$max-width: 20em !default;
$padding: 0.334em 0.75em !default;
$font-size: core.px-to-em(12px) !default;
$color: core.$white !default;
$background: rgba(core.$color, 0.9) !default;
$border-radius: core.$border-radius !default;
$offset: 1px !default;
$scale: 0.75 !default;
$distance: 5px !default;
