@import "./variables";

[data-tooltip-pos="up"] {
  &::after {
    bottom: 100%;
    left: 50%;
    right: auto;
    top: auto;
    transform: translate(-50%, 0) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate(-50%, -$tooltip-distance) scale(1);
  }
}

[data-tooltip-pos="up-left"] {
  &::after {
    bottom: 100%;
    left: 0;
    right: auto;
    top: auto;
    transform: translate(-$tooltip-offset, 0) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate(-$tooltip-offset, -$tooltip-distance) scale(1);
  }
}

[data-tooltip-pos="up-right"] {
  &::after {
    bottom: 100%;
    left: auto;
    right: 0;
    top: auto;
    transform: translate($tooltip-offset, 0) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate($tooltip-offset, -$tooltip-distance) scale(1);
  }
}

[data-tooltip-pos="left"] {
  &::after {
    bottom: auto;
    left: auto;
    right: 100%;
    top: 50%;
    transform: translate(0, -50%) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    transform: translate(-$tooltip-distance, -50%) scale(1);
  }
}

[data-tooltip-pos="left-up"] {
  &::after {
    bottom: auto;
    left: auto;
    right: 100%;
    top: 0;
    transform: translate(0, -$tooltip-offset) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    transform: translate(-$tooltip-distance, -$tooltip-offset) scale(1);
  }
}

[data-tooltip-pos="left-down"] {
  &::after {
    bottom: 0;
    left: auto;
    right: 100%;
    top: auto;
    transform: translate(0, $tooltip-offset) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    transform: translate(-$tooltip-distance, $tooltip-offset) scale(1);
  }
}

[data-tooltip-pos="right"] {
  &::after {
    bottom: 50%;
    left: 100%;
    right: auto;
    top: auto;
    transform: translate(0, 50%) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    transform: translate($tooltip-distance, 50%) scale(1);
  }
}

[data-tooltip-pos="right-up"] {
  &::after {
    bottom: auto;
    left: 100%;
    right: auto;
    top: 0;
    transform: translate(0, -$tooltip-offset) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    transform: translate($tooltip-distance, -$tooltip-offset) scale(1);
  }
}

[data-tooltip-pos="right-down"] {
  &::after {
    bottom: 0;
    left: 100%;
    right: auto;
    top: auto;
    transform: translate(0, $tooltip-offset) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    transform: translate($tooltip-distance, $tooltip-offset) scale(1);
  }
}

[data-tooltip-pos="down"] {
  &::after {
    bottom: auto;
    left: auto;
    right: 50%;
    top: 100%;
    transform: translate(50%, 0) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate(50%, $tooltip-distance) scale(1);
  }
}

[data-tooltip-pos="down-left"] {
  &::after {
    bottom: auto;
    left: 0;
    right: auto;
    top: 100%;
    transform: translate(-$tooltip-offset, 0) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate(-$tooltip-offset, $tooltip-distance) scale(1);
  }
}

[data-tooltip-pos="down-right"] {
  &::after {
    bottom: auto;
    left: auto;
    right: 0;
    top: 100%;
    transform: translate($tooltip-offset, 0) scale($tooltip-scale);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate($tooltip-offset, $tooltip-distance) scale(1);
  }
}
