@import "variables";

[data-tooltip] {
  position: relative;

  &::after {
    background: $tooltip-background;
    border-radius: $tooltip-border-radius;
    bottom: 100%;
    color: $tooltip-color;
    content: attr(data-tooltip);
    display: block;
    font-size: $tooltip-font-size;
    left: 50%;
    margin: 0;
    max-width: $tooltip-max-width;
    opacity: 0;
    overflow: hidden;
    padding: $tooltip-padding;
    pointer-events: none;
    position: absolute;
    right: auto;
    text-overflow: ellipsis;
    top: auto;
    transform: translate(-50%, 0) scale($tooltip-scale);
    transition:
      opacity $transition-duration $transition-timing-function,
      transform $transition-duration $transition-timing-function;
    white-space: nowrap;
    z-index: 100;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate(-50%, -$tooltip-distance) scale(1);
  }
}
