@import "./variables";

[data-tooltip] {
  position: relative;

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    z-index: 100;
    top: auto;
    right: auto;
    bottom: 100%;
    left: 50%;
    display: block;
    max-width: $tooltip-max-width;
    margin: 0;
    padding: $tooltip-padding;
    overflow: hidden;
    transform: translate(-50%, 0) scale($tooltip-scale);
    transition-property: opacity, transform;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    border-radius: $tooltip-border-radius;
    background: $tooltip-background;
    opacity: 0;
    color: $tooltip-color;
    font-size: $tooltip-font-size;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
  }

  &:hover::after,
  &:focus::after {
    transform: translate(-50%, -$tooltip-distance) scale(1);
    opacity: 1;
  }
}
