.button_size_small {
  padding: $button_small-padding;
  font-size: $button_small-font-size;
}

.button_size_large {
  padding: $button_large-padding;
  font-size: $button_large-font-size;

  &:not(.button_icon) .icon:first-child {
    margin-left: -0.25em;
  }

  &:not(.button_icon) .icon:last-child {
    margin-right: -0.25em;
  }
}
