.button_color_inverted {
  color: $white;
  background: rgba($white, 0);
  background-clip: border-box;
  border: $button-border-width solid $button-border-color;

  &:hover,
  &:focus {
    color: $white;
    background-color: rgba($white, 0.05);
    border-color: $button-border-color-hover;
  }
}

.button_color_primary {
  color: $white;
  background: $primary;

  &:hover,
  &:focus {
    color: $white;
    background: darken($primary, 10%);
  }
}

.button_color_secondary {
  color: $white;
  background: $secondary;

  &:hover,
  &:focus {
    color: $white;
    background: darken($secondary, 10%);
  }
}

.button_color_success {
  color: $white;
  background: $success;

  &:hover,
  &:focus {
    color: $white;
    background: darken($success, 10%);
  }
}

.button_color_caution {
  color: $white;
  background: $caution;

  &:hover,
  &:focus {
    color: $white;
    background: darken($caution, 5%);
  }
}

.button_color_danger {
  color: $white;
  background: $danger;

  &:hover,
  &:focus {
    color: $white;
    background: darken($danger, 10%);
  }
}

.button_color_light {
  color: $color;
  background: rgba($white, 0.7);

  &:hover,
  &:focus {
    color: $color;
    background: $white;
  }
}

.button_color_dark {
  color: $white;
  background: $gray-800;

  &:hover,
  &:focus {
    color: $white;
    background: $gray-700;
  }
}

.button_color_fade {
  color: $color-light;
  background: none;

  &:hover,
  &:focus {
    color: $color;
    background: rgba($black, 0.05);
  }
}
