@import 'variables';

// TODO: Add nested component styles for checkbox and choice

.todo {
  position: relative;
}

.todo__list {
  position: relative;
  list-style: none;
}

.todo__item {
  transition: opacity $transition-duration, transform $transition-duration;
  transition-timing-function: $transition-timing-function;

  &.is-animating {
    transform: translateY($todo-travel);
    opacity: 0;
  }
}

.todo__control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todo__list_done {
  .todo__item {
    transform: translateY(0);
    opacity: 1;

    &.is-animating {
      transform: translateY(-$todo-travel);
      opacity: 0;
    }
  }

  .todo__control {
    color: $color-subtle;
  }
}

.todo__empty {
  display: none;
  transform: translateY(-$todo-travel);
  transition:
    opacity $transition-duration,
    transform $transition-duration;
  transition-timing-function: $transition-timing-function;
  opacity: 0;

  &.is-animating {
    display: block;
    transform: translateY(-$todo-travel);
    opacity: 0;
  }

  &.is-active {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }
}
