@import 'variables';

.todo {}
.todo__list {}

/*
Default state:
Closed

---

Step 1:
--open

Step 2:
--open
--closing

Step 3:
empty

---

Step 1: (fast)
--open
--animate

Step 2:
--open
--animate
--opening

Step 3:
--open

*/

.todo__item {
  align-items: center;
  border: 1px solid rgba($black, 0.1);
  border-radius: $border-radius;
  display: flex;
  padding: 1em;
  transition: opacity $transition-duration, transform $transition-duration;
  transition-timing-function: $transition-timing-function;

  * + * {
    margin-left: 1em;
  }

  & + & {
    margin-top: 0.5em;
  }

  &.is-animating {
    opacity: 0;
    transform: translateY(1em);
  }
}

.todo__list_done {
  .todo__item {
    background: rgba($black, 0.025);
    color: $color-light;
    opacity: 1;
    transform: translateY(0);

    &.is-animating {
      opacity: 0;
      transform: translateY(-1em);
    }
  }
}

.todo__notice {
  display: none;
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity $transition-duration, transform $transition-duration;
  transition-timing-function: $transition-timing-function;

  &.is-block {
    display: block;
  }

  &.is-active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
