@use "sass:color";
@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "sass:string";

/// Encodes a color for use in data-uri
/// @param {String} $string - The color to encode.
/// @return {String} - Encoded color.
@function encodecolor($string) {
  @if meta.type-of($string) == "color" {
    $hex: string.slice(color.ie-hex-str($string), 4);
    $string: string.unquote("#{$hex}");
  }
  $string: "%23" + $string;
  @return $string;
}

/// Replacing values from list.
/// @param {List} $list
/// @param {Value} $old-value
/// @param {Value} $new-value
/// @param {Boolean} $recursive [false]
/// @return {List} - List with replaced values.
@function replace($list, $old-value, $new-value, $recursive: false) {
  $result: ();
  @for $i from 1 through list.length($list) {
    @if meta.type-of(list.nth($list, $i)) == "list" and $recursive {
      $result: list.append(
        $result,
        replace(list.nth($list, $i), $old-value, $new-value, $recursive)
      );
    }
    @else {
      @if list.nth($list, $i) == $old-value {
        $result: list.append($result, $new-value);
      }
      @else {
        $result: list.append($result, list.nth($list, $i));
      }
    }
  }
  @return $result;
}

/// Replaces a boolean list template with two values.
/// @param {List} $tpl - A boolean list template.
/// @param {Color} $color-1 - Color to replace 1 from template.
/// @param {Color} $color-0 [transparent] - Color to replace 0 from template.
/// @return {List} - New list with replaced values.
@function set-border-color($tpl, $color-1, $color-0: transparent) {
  $result: replace($tpl, 0, $color-0);
  $result: replace($result, 1, $color-1);
  @return $result;
}

/// Output the hue and saturation values of a provided color.
/// @param {Color} $color - The color variable to pull hue and saturation values from.
/// @return {List} - The hue and saturation values of the provided color.
@function get-hs($color) {
  @return math.round(color.hue($color)), math.round(color.saturation($color));
}

/// Removes the item of $list at index $n. If $n is negative, it counts from the
/// end of $list.
/// @param {List} $list - The list to have an item removed from.
/// @param {Number} $n - The position (index) in the list to have removed.
/// @return {List} - A new list with the item removed.
@function remove-nth($list, $n) {
  $result: ();
  $n: if($n < 0, list.length($list) + $n + 1, $n);
  $bracketed: list.is-bracketed($list);
  $separator: list.separator($list);
  @for $i from 1 through length($list){
    @if $i != $n { $result: list.append($result, list.nth($list, $i)); }
  }
  @return join((), $result, $separator, $bracketed);
}
