/// A gap mixin that creates spacing between inline or block level elements.
/// Spacing is added using the `> * + *` selector and can either be applied
/// horizontally or vertically by passing $dir "x" or "y" respectively.
/// @param {Number} $val - Number unit to apply.
/// @param {String} $dir ["y"]- Direction to apply gap ("x", "y").
/// @param {Boolean} $imp [false] - Whether or not to add `!important` flag.
@mixin gap($val, $dir: "y", $imp: false) {
  @if ($imp) {
    $imp: "!important";
  }
  @else if ($imp == false) {
    $imp: null;
  }

  @if ($dir == "x") {
    > * + * {
      margin-left: $val #{$imp};
    }
  }
  @else if ($dir == "y") {
    > * + * {
      margin-top: $val #{$imp};
    }
  }
}
