@import 'variables';

/**
 * Modal full modifier
 */

.modal_full .modal__dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
  transform: translate3d(0, -($modal-travel * 0.25), 0);
}
