@import 'variables';

/**
 * Modal
 */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba($modal-background, 0);
  backdrop-filter: blur(4px);
  transition: background-color 0.5s, width 0.1s 0.5s, height 0.1s 0.5s, padding 0.1s 0.5s;
}

.modal__dialog {
  z-index: 1001;
  width: $modal-width;
  max-width: 100%;
  transform: translate3d(0, -$modal-travel, 0);
  opacity: 0;
  visibility: hidden;
}

// Remove outline on focused items with tabindex of "-1"
[tabindex="-1"]:focus {
  outline: 0!important;
}

/**
 * Active State
 */
.modal.is-active {
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: rgba($modal-background, 0.75);
  transition: background-color 0.5s;

  .modal__dialog {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}

@include media-min('medium') {
  .modal.is-active {
    padding: 2em;
  }
}
