$breadcrumb-delimiter: '/' !default;
$breadcrumb-delimiter-padding: 0 0.5em !default;
$breadcrumb-delimiter-color: $color-light !default;

$breadcrumb_size_small-font-size: $font-size-small !default;
$breadcrumb_size_large-font-size: $font-size-large !default;

.breadcrumb {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  list-style: none;
  color: $color;
}

.breadcrumb__item {
  margin: 0;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 0.5em;
  }

  &::after {
    content: $breadcrumb-delimiter;
    padding: $breadcrumb-delimiter-padding;
    color: $breadcrumb-delimiter-color;
  }

  &:last-child::after {
    content: none;
  }
}

.breadcrumb__link {
  @include add-anchor();
}
