$container-scale: (
  'xs': 45rem,
  'sm': 60rem,
  'lg': 80rem,
  'xl': 90rem
) !default;
$container-max-width: 70rem !default;
$container-margin: 0 auto !default;

/**
 * Container
 */

.container {
  max-width: $container-max-width;
  margin: $container-margin;
}

/* Container size modifiers */

@each $key, $value in $container-scale {
  .container_size_#{$key} {
    max-width: $value;
  }
}
