$grid-spacing: 2rem !default;
$grid-scale: (
  'xs': 0.5rem,
  'sm': 1rem,
  'lg': 2.5rem,
  'xl': 3rem,
) !default;

/**
 * Grid
 */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-($grid-spacing * 0.5));
}

.grid_flatten {
  margin: (-($grid-spacing * 0.5));
}

.grid__item {
  flex: 1 1 0;
  padding: ($grid-spacing * 0.5);
}

.grid__item_fill {
  display: flex;

  > * {
    flex: 1 0 0;
  }
}

.grid__break {
  flex: none;
  width: 100%;
}

/**
 * Grid Breakpoints Modifiers
 */

@each $name, $value in $breakpoints {
  .grid_#{$name} {
    flex-direction: column;
  }

  @include media-min($name) {
    .grid_#{$name} {
      flex-direction: row;
    }
  }

  @include media-max($name) {
    .grid_#{$name} > .grid__item {
      flex: none;
      width: 100%;
    }
  }
}

/**
 * Grid Size Modifiers
 */

@each $key, $value in $grid-scale {
  .grid_size_#{$key} {
    margin: 0 (-($value * 0.5));

    > .grid__item {
      padding: ($value * 0.5);
    }
  }

  .grid_size_#{$key}.grid_flatten {
    margin: (-($value * 0.5));
  }
}

/**
 * Grid Flush Modifier
 */

.grid_flush {
  margin: 0;

  > .grid__item {
    padding: 0;
  }
}

.grid_flush.grid_flatten {
  margin: 0;
}
