$grid-spacing: 2rem !default;

/**
 * Grid
 */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -($grid-spacing * 0.5);
}

.grid__item {
  flex: 1 1 0;
  padding: ($grid-spacing * 0.5);
}

.grid__break {
  flex: none;
  width: 100%;
}

/**
 * Grid Breakpoints Modifiers
 */

@each $name, $value in $breakpoints {

  .grid_#{$name} {
    flex-direction: column;
  }

  @include media-min($name) {
    .grid_#{$name} {
      flex-direction: row;
    }
  }

  @include media-max($name) {
    .grid_#{$name} .grid__item {
      width: 100%;
    }
  }

}
