/**
 * Level
 */

.level {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  > * + * {
    margin-left: $spacing;
  }
}

.level_block {
  display: flex;
}

.level_wrap {
  margin-top: (-$spacing);
  margin-left: (-$spacing);
  flex-wrap: wrap;

  > * {
    margin-top: $spacing;
    margin-left: $spacing;
  }
}

/* Level Spacing Modifiers */

@each $key, $value in $spacing-scale {
  .level_spacing_#{$key} {
    > * + * {
      margin-left: $value;
    }

    &.level_wrap {
      margin-top: (-$value);
      margin-left: (-$value);

      > * {
        margin-top: $value;
        margin-left: $value;
      }
    }
  }
}
