/**
 * Level
 */

.level {
  display: flex;
  align-items: center;
  vertical-align: middle;

  > * + * {
    margin-left: $spacing;
  }
}

.level_wrap {
  flex-wrap: wrap;
  margin: (-$spacing * 0.5);

  > * {
    margin: ($spacing * 0.5);
  }
}

/* Level Spacing Modifiers */

@each $key, $value in $spacing-scale {
  .level_spacing_#{$key} {
    > * + * {
      margin-left: $value;
    }

    &.level_wrap {
      margin-top: ($value * 0.5);

      > * {
        margin: ($value * 0.5);
      }
    }
  }
}
