$section-scale: (
  'default': (
    'base': 1.5em,
    'md': 2em 1.5em,
    'lg': 3em 1.5em
  ),
  'xs': (
    'base': 0,
    'md': 0,
    'lg': 0
  ),
  'sm': (
    'base': 1em,
    'md': 1em,
    'lg': 1em
  ),
  'lg': (
    'base': 1.5em,
    'md': 4em 1em,
    'lg': 6em 1em
  ),
  'xl': (
    'base': 3em 1.5em,
    'md': 8em 2em,
    'lg': 12em 2em
  )
) !default;

$section__intro-max-width: 45rem !default;
$section__screen-opacity: 0.6 !default;
$section__screen-background: $dark !default;

/**
 * Section
 */

.section {
  position: relative;
}

/* Section Scale */

@each $name, $group in $section-scale {

  @if ($name == 'default') {
    $name: '.section';
  } @else {
    $name: '.section_size_#{$name}';
  }

  @each $bp, $value in $group {

    @if ($bp == 'base') {
      #{$name} {
        padding: $value;
      }
    } @else {
      @include media-min($bp) {
        #{$name} {
          padding: $value;
        }
      }
    }

  }
}

/* Section Container */

.section__container {
  position: relative;
  z-index: 3;
}

/* Section Intro */

.section__intro {
  text-align: center;
  margin: 0 auto;
  max-width: $section__intro-max-width;
}

/* Section Background and Screens */

.section__background,
.section__screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.section__background {
  z-index: 1;
  object-fit: cover;
}

.section__screen {
  z-index: 2;
  opacity: $section__screen-opacity;
  background: $section__screen-background;
}
