/**
 * Section
 */

.section {
  position: relative;
  padding: 1em;
}

@include media-min('md') {
  .section {
    padding: 2em 1em;
  }
}

@include media-min('lg') {
  .section {
    padding: 3em 1em;
  }
}

/**
 * Section Container
 */

.section__container {
  position: relative;
  z-index: 3;
}

/**
 * Section Intro
 */

.section__intro {
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
}

/**
 * Section Background and Screens
 */

.section__background,
.section__screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.section__background {
  z-index: 1;
  object-fit: cover;
}

.section__screen {
  z-index: 2;
  background: rgba($black, 0.6);
}

/**
 * Size Modifiers
 */

.section_size_small {
  padding: 1em;
}

.section_size_large {
  padding: 1em;
}

.section_size_huge {
  padding: 3em 1em;
}

@include media-min('md') {
  .section_size_small {
    padding: 1em;
  }

  .section_size_large {
    padding: 4em 1em;
  }

  .section_size_huge {
    padding: 8em 2em;
  }
}

@include media-min('lg') {
  .section_size_small {
    padding: 1em;
  }

  .section_size_large {
    padding: 6em 1em;
  }

  .section_size_huge {
    padding: 12em 2em;
  }
}
