$spacing-margin: 1em !default;
$spacing_spacing_small-margin: 0.5em !default;
$spacing_spacing_large-margin: 1.5em !default;

.spacing {
  > * + * {
    margin-top: $spacing-margin;
  }
}

.spacing_spacing_small {
  > * + * {
    margin-top: $spacing_spacing_small-margin;
  }
}

.spacing_spacing_large {
  > * + * {
    margin-top: $spacing_spacing_large-margin;
  }
}
