$icon-padding: 0.1em !default;
$icon-font-size: 1.25em !default;
$icon-fill: none !default;
$icon-stroke: currentColor !default;
$icon-stroke-linecap: round !default;
$icon-stroke-linejoin: round !default;
$icon-stroke-width: 2px !default;

$icon--loading-duration: 1.5s !default;

.icon {
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  padding: $icon-padding;
  fill: $icon-fill;
  stroke: $icon-stroke;
  stroke-linecap: $icon-stroke-linecap;
  stroke-linejoin: $icon-stroke-linejoin;
  stroke-width: $icon-stroke-width;
  font-size: $icon-font-size;
  box-sizing: content-box;
}

.icon_size_small {
  font-size: 1.0435em;
}

.icon_size_large {
  font-size: 1.5625em;
}
