@use "@vrembem/core";
@use "./variables" as var;

$_selector: #{core.bem("media", null, "stack")};

@each $key, $value in var.$breakpoints {
  $_selector: $_selector + ', #{core.bem("media", null, "stack", $key)}';
}

#{$_selector} {
  flex-direction: column;
}

@each $key, $value in var.$breakpoints {
  @include core.media-min($value) {
    #{core.bem("media", null, "stack", $key)} {
      flex-direction: row;
    }
  }
}
