@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}media#{$_m}stack {
  flex-direction: column;

  > * + * {
    margin-top: var.$gap;
    margin-left: 0;
  }
}

@each $key, $value in var.$breakpoints {
  .#{$_b}media#{$_m}stack#{$_v}#{$key} {
    flex-direction: column;
  }

  @include core.media-min($value) {
    .#{$_b}media#{$_m}stack#{$_v}#{$key} {
      flex-direction: row;
    }
  }

  @include core.media-max($value) {
    .#{$_b}media#{$_m}stack#{$_v}#{$key} {
      > * + * {
        margin-top: var.$gap;
        margin-left: 0;
      }
    }
  }
}
