@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("media")} {
  display: flex;
  align-items: flex-start;
  gap: css.get("media", "gap-y", "gap") css.get("media", "gap-x", "gap");
}

#{core.bem("media", "body")} {
  flex: 1 1 auto;
}

#{core.bem("media", "obj")} {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-width: css.get("media", "max-width");
  min-height: css.get("media", "min-height");
}
