@use "@vrembem/core";
@use "./variables" as var;

#{core.bem("media")} {
  display: flex;
  align-items: flex-start;
  gap: core.css("media-gap-y", "media-gap") core.css("media-gap-x", "media-gap");
}

#{core.bem("media", "body")} {
  flex: 1 1 auto;
}

#{core.bem("media", "obj")} {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-width: core.css("media-max-width");
  min-height: core.css("media-min-height");
}
