@use "@vrembem/core";
@use "./variables";

.media_stack {
  flex-direction: column;

  > * + * {
    margin-top: variables.$spacing;
    margin-right: 0;
    margin-left: 0;
  }
}

@each $key, $value in core.$breakpoints {
  .media_stack_#{$key} {
    flex-direction: column;
  }

  @include core.media-min($key) {
    .media_stack_#{$key} {
      flex-direction: row;

      &.media_reverse {
        flex-direction: row-reverse;
      }
    }
  }

  @include core.media-max($key) {
    .media_stack_#{$key} {
      > * + * {
        margin-top: variables.$spacing;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
