@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

@each $key, $value in var.$gap-scale {
  .#{$_b}media#{$_m}gap-y#{$_v}#{$key} {
    &.#{$_b}media#{$_m}stack {
      > * + * {
        margin-top: $value;
        margin-left: 0;
      }
    }
  }

  @each $bpKey, $bpValue in var.$breakpoints {
    @include core.media-max($bpValue) {
      .#{$_b}media#{$_m}gap-y#{$_v}#{$key} {
        &.#{$_b}media#{$_m}stack#{$_v}#{$bpKey} {
          > * + * {
            margin-top: $value;
            margin-left: 0;
          }
        }
      }
    }
  }
}
