@use "./variables";

.media {
  display: flex;
  align-items: flex-start;

  > * + * {
    margin-left: variables.$spacing;
  }
}

.media__body {
  flex: 1 1 auto;
}

.media__obj {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-width: variables.$max-width;
  min-height: variables.$min-height;
}
