@import "@vrembem/core/index";

$media__icon-spacing: 0.75rem !default;
$media__icon-height: ($line-height * 1em) !default;

$media__image-spacing: 1.5rem !default;
$media__image-max-width: 30% !default;
