@use "@vrembem/core";

$min-height: (core.$line-height * 1rem) !default;
$max-width: 30% !default;
$spacing: 1.5rem !default;
$spacing-map: (
  "0": 0,
  "xs": 0.5rem,
  "sm": 1rem,
  "md": $spacing,
  "lg": 2rem,
  "xl": 3rem
) !default;
