@use "@vrembem/core";

$breakpoints: core.$breakpoints !default;
$min-height: (core.$line-height * 1em) !default;
$max-width: 30% !default;
$gap: 1.5em !default;
$gap-map: (
  "none": 0,
  "xs": 0.5em,
  "sm": 1em,
  "md": 1.5em,
  "lg": 2em,
  "xl": 3em
) !default;
