@import "./variables";

.media {
  display: flex;
  align-items: flex-start;

  > * + * {
    margin-left: $media-spacing;
  }
}

.media__body {
  flex: 1 1 auto;
}

.media__obj {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-width: $media-max-width;
  min-height: $media-min-height;
}
