@use "variables" as media;

.media {
  display: flex;
  align-items: flex-start;
}

.media__body {
  flex: 1 1 auto;
}

.media__icon,
.media__image {
  flex: 0 0 auto;
}

.media__icon {
  display: flex;
  align-items: center;
  min-height: media.$icon-height;

  &:first-child {
    margin: 0 media.$icon-spacing 0 0;
  }

  &:last-child {
    margin: 0 0 0 media.$icon-spacing;
  }
}

.media__image {
  max-width: media.$image-max-width;

  &:first-child {
    margin: 0 media.$image-spacing 0 0;
  }

  &:last-child {
    margin: 0 0 0 media.$image-spacing;
  }
}
