@import "./variables";

.media_reverse {
  flex-direction: row-reverse;

  .media__image {
    &:first-child {
      margin-right: 0;
      margin-left: $media-spacing;
    }

    &:last-child {
      margin-right: $media-spacing;
      margin-left: 0;
    }
  }
}
