@use "variables" as media;

.media_reverse {
  flex-direction: row-reverse;

  .media__icon {
    &:first-child {
      margin: 0 0 0 media.$icon-spacing;
    }

    &:last-child {
      margin: 0 media.$icon-spacing 0 0;
    }
  }

  .media__image {
    &:first-child {
      margin: 0 0 0 media.$image-spacing;
    }

    &:last-child {
      margin: 0 media.$image-spacing 0 0;
    }
  }
}
