@use "./variables" as media;

// TODO: Add media_gap modifiers to spacing here

.media_reverse {
  flex-direction: row-reverse;

  > * + * {
    margin-right: media.$spacing;
    margin-left: 0;
  }
}
