@import "./variables";

.media {
  display: flex;
  align-items: flex-start;
}

.media__body {
  flex: 1 1 auto;
}

.media__obj {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-width: $media__max-width;
  min-height: $media__min-height;

  &:first-child {
    margin: 0 $media__spacing 0 0;
  }

  &:last-child {
    margin: 0 0 0 $media__spacing;
  }
}
