@import "./variables";

.media_stack {
  flex-direction: column;

  .media__icon {
    &:first-child {
      margin: 0 0 $media__icon-spacing 0;
    }

    &:last-child {
      margin: $media__icon-spacing 0 0 0;
    }
  }

  .media__image {
    &:first-child {
      margin: 0 0 $media__image-spacing 0;
    }

    &:last-child {
      margin: $media__image-spacing 0 0 0;
    }
  }
}

@each $key, $value in $breakpoints {
  .media_stack_#{$key} {
    flex-direction: column;
  }

  @include media-min($key) {
    .media_stack_#{$key} {
      flex-direction: row;

      &.media_reverse {
        flex-direction: row-reverse;
      }
    }
  }

  @include media-max($key) {
    .media_stack_#{$key} {
      .media__icon {
        &:first-child {
          margin: 0 0 $media__icon-spacing 0;
        }

        &:last-child {
          margin: $media__icon-spacing 0 0 0;
        }
      }

      .media__image {
        &:first-child {
          margin: 0 0 $media__image-spacing 0;
        }

        &:last-child {
          margin: $media__image-spacing 0 0 0;
        }
      }
    }
  }
}
