@import "variables";

.media_stack {
  flex-direction: column;

  .media__image {
    margin-right: 0;
    margin-left: 0;

    &:first-child {
      margin-bottom: $media-spacing;
    }

    &:last-child {
      margin-top: $media-spacing;
    }
  }
}

@each $key, $value in $breakpoints {

  .media_stack_#{$key} {
    flex-direction: column;
  }

  @include media-min($key) {
    .media_stack_#{$key} {
      flex-direction: row;

      &.media_reverse {
        flex-direction: row-reverse;
      }
    }
  }

  @include media-max($key) {
    .media_stack_#{$key} {
      .media__image {
        margin-right: 0;
        margin-left: 0;

        &:first-child {
          margin-top: 0;
          margin-bottom: $media-spacing;
        }

        &:last-child {
          margin-top: $media-spacing;
          margin-bottom: 0;
        }
      }
    }
  }
}
