@use "../modules/tokens";
@use "./size" as *;
@use "./focus-ring" as *;

/// Output the shared form-control base styles with component specific CSS
/// variables and the form-control CSS variables as fallbacks.
///
/// @param {string} $component
///   The component value to prefix CSS variable references
///
@mixin form-control-base($component) {
  min-width: tokens.get($component, "size", tokens.get("form-control-size"));
  max-width: 100%;
  min-height: tokens.get($component, "size", tokens.get("form-control-size"));
  border-width: tokens.get($component, "border-width", tokens.get("form-control-border-width"));
  border-radius: tokens.get($component, "border-radius", tokens.get("form-control-border-radius"));
  font-size: tokens.get($component, "font-size", tokens.get("form-control-font-size"));
  line-height: tokens.get($component, "line-height", tokens.get("form-control-line-height"));
  transition-timing-function: tokens.get("form-control-transition-timing-function");
  transition-duration: tokens.get("form-control-transition-duration");
  transition-property: tokens.get("form-control-transition-property");

  @if $component == "input" {
    padding: tokens.get($component, "padding", tokens.get("form-control-padding-y"));
  } @else {
    padding: tokens.get($component, "padding-y", tokens.get("form-control-padding-y")) tokens.get($component, "padding-x", tokens.get("form-control-padding-x"));
  }
}

/// Output the shared form-control base styles of choice components (checkbox,
/// radio and switch) with component specific CSS variable and the form-control
/// CSS variables as fallbacks.
///
/// @param {string} $component
///   The component value to prefix CSS variable references
///
@mixin form-control-choice-base($component) {
  $-size: tokens.get($component, "size", tokens.get("form-control-choice-size"));

  @if $component == "switch" {
    @include size(calc($-size * 2), $-size);
  } @else {
    @include size($-size);
  }

  @include focus-ring-base;

  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: tokens.get($component, "font-size", tokens.get("form-control-font-size"));
  vertical-align: middle;
  appearance: none;
  transition-timing-function: tokens.get("form-control-transition-timing-function");
  transition-duration: tokens.get("form-control-transition-duration");
  transition-property: tokens.get("form-control-choice-transition-property");

  @content;

  &:focus-visible {
    @include focus-ring-color(tokens.get($component, "accent", tokens.get("form-control-choice-accent")));
  }

  @include form-control-invalid($component);
}

/// Applies token overrides for the invalid state of form-control components.
///
/// @param {string} $component
///   The component value to add invalid styles for
///
@mixin form-control-invalid($component) {
  &:user-invalid,
  &[aria-invalid="true"],
  &.is-invalid {
    @include tokens.override($component, "accent", tokens.get("palette", "important"));

    @if $component == "input" or $component == "select" {
      @include tokens.override($component, "border-color", tokens.get("palette", "important"));
    }

    @if $component == "checkbox" or $component == "radio" or $component == "switch" {
      @include tokens.override($component, "color", tokens.get("palette", "important"));
    }
  }
}

/// Applies token overrides for form-control size token variants
///
/// @param {string} $component
///   The component value to scope tokens overrides for
/// @param {string} $variant
///   The variant of size tokens to apply (e.g: "sm", "lg")
///
@mixin form-control-size($component, $variant: null) {
  $suffix: if(sass($variant): "-#{$variant}"; else: "");

  @include tokens.override(
    $component,
    (
      "size": tokens.get("form-control-size#{$suffix}"),
      "font-size": tokens.get("form-control-font-size#{$suffix}"),
      "padding-y": tokens.get("form-control-padding-y#{$suffix}"),
      "padding-x": tokens.get("form-control-padding-x#{$suffix}")
    )
  );
}
