@use "../modules/tokens";
@use "./size" as *;

$-output-spin-animation: true;

@include tokens.register("loading");

/// Output the styles for a loading spinner. If a position argument is provided
/// with a value of "absolute" or "fixed" the spinner will be centered to its
/// nearest relative parent.
///
/// @param {keyword} $position (absolute)
///   The value of the position property to use.
///
@mixin loading-spinner($position: absolute) {
  @include size(tokens.get("loading", "size", 1em));

  @if $position == absolute or $position == fixed {
    top: calc(50% - calc(tokens.get("loading", "size", 1em) * 0.5));
    left: calc(50% - calc(tokens.get("loading", "size", 1em) * 0.5));
  }

  position: $position;
  display: inline-block;
  border: tokens.get("loading", "border", 2px solid);
  border-color: tokens.get("loading", "color", currentcolor) tokens.get("loading", "color", currentcolor) transparent transparent;
  border-radius: tokens.get("border-radius-circle");
  animation: spin tokens.get("loading", "duration", 0.6s) infinite linear;

  // Only output the spin animation once
  @if $-output-spin-animation {
    $-output-spin-animation: false !global;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}
