@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

#{core.bem("col-auto")} {
  grid-column: auto;
}

#{core.bem("col-full")} {
  grid-column: span css.get("grid", "cols", 1);
}

@for $i from 1 through config.get("grid-cols") {
  #{core.bem("col-#{$i}")} {
    grid-column: span $i;
  }
}

@for $i from 1 through (config.get("grid-cols") + 1) {
  #{core.bem("col-start-#{$i}")} {
    grid-column-start: $i;
  }

  #{core.bem("col-end-#{$i}")} {
    grid-column-end: $i;
  }
}

@each $bp, $value in config.get("breakpoints") {
  @include core.media-min($value) {
    #{core.bem("col-auto", $bp: $bp)} {
      grid-column: auto;
    }

    #{core.bem("col-full", $bp: $bp)} {
      grid-column: span css.get("grid", "cols", 1);
    }

    @for $i from 1 through config.get("grid-cols") {
      #{core.bem("col-full-#{$i}", $bp: $bp)} {
        grid-column: span $i;
      }
    }

    @for $i from 1 through (config.get("grid-cols") + 1) {
      #{core.bem("col-start-#{$i}", $bp: $bp)} {
        grid-column-start: $i;
      }

      #{core.bem("col-end-#{$i}", $bp: $bp)} {
        grid-column-end: $i;
      }
    }
  }
}
