@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

@each $key, $value in var.$gap-scale {
  .#{$_b}grid#{$_m}gap-y#{$_v}#{$key} {
    margin-top: ($value * -1);

    > .#{$_b}grid#{$_e}item {
      padding-top: $value;
    }
  }
}
