@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

@for $i from 1 through config.get("grid-cols") {
  #{core.bem("grid", null, "cols", $i)} {
    @include css.override("grid", "cols", $i);
  }
}

@each $bp, $value in config.get("breakpoints") {
  @include core.media-min($value) {
    @for $i from 1 through config.get("grid-cols") {
      #{core.bem("grid", null, "cols", $i, $bp)} {
        @include css.override("grid", "cols", $i);
      }
    }
  }
}
