@use "@vrembem/core";

#{core.bem("grid", null, "fill")} > #{core.bem("grid", "item")},
#{core.bem("grid", "item", "fill")} {
  display: flex;
  flex-direction: column;

  > * {
    flex-basis: 100%;
  }
}
