@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

@each $key, $value in config.get("grid-gap") {
  #{core.bem("grid", null, "gap", $key)} {
    @include css.override("grid", "gap", $value);
  }
}

@each $key, $value in config.get("grid-gap") {
  #{core.bem("grid", null, "gap-x", $key)} {
    @include css.override("grid", "gap-x", $value);
  }

  #{core.bem("grid", null, "gap-y", $key)} {
    @include css.override("grid", "gap-y", $value);
  }
}

@each $bp, $value in config.get("breakpoints") {
  @include core.media-min($value) {
    @each $key, $value in config.get("grid-gap") {
      #{core.bem("grid", null, "gap", $key, $bp)} {
        @include css.override("grid", "gap", $value);
      }
    }

    @each $key, $value in config.get("grid-gap") {
      #{core.bem("grid", null, "gap-x", $key, $bp)} {
        @include css.override("grid", "gap-x", $value);
      }

      #{core.bem("grid", null, "gap-y", $key, $bp)} {
        @include css.override("grid", "gap-y", $value);
      }
    }
  }
}
