@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}grid#{$_m}break {
  flex-direction: column;

  > .#{$_b}grid#{$_e}item {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%;
  }
}

@each $key, $value in core.$breakpoints {
  .#{$_b}grid#{$_m}break#{$_v}#{$key} {
    flex-direction: column;
  }

  @include core.media-min($key) {
    .#{$_b}grid#{$_m}break#{$_v}#{$key} {
      flex-direction: row;
    }
  }

  @include core.media-max($key) {
    .#{$_b}grid#{$_m}break#{$_v}#{$key} > .#{$_b}grid#{$_e}item {
      flex: 1 0 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
