@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}grid#{$_m}stack {
  flex-direction: column;

  > .#{$_b}grid#{$_e}item {
    flex: none;
    width: 100%;
  }
}

@each $key, $value in var.$breakpoints {
  .#{$_b}grid#{$_m}stack#{$_v}#{$key} {
    flex-direction: column;
  }

  @include core.media-min($value) {
    .#{$_b}grid#{$_m}stack#{$_v}#{$key} {
      flex-direction: row;
    }
  }

  @include core.media-max($value) {
    .#{$_b}grid#{$_m}stack#{$_v}#{$key} > .#{$_b}grid#{$_e}item {
      flex: none;
      width: 100%;
    }
  }
}
