@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

.grid-span-auto {
  grid-column: auto;
}

.grid-span-full {
  grid-column: span css.get("grid", "columns");
}

@for $i from 1 through var.$columns {
  .grid-span-#{$i} {
    grid-column: span $i;
  }
}

@each $key, $value in var.$breakpoints {
  @include core.media-min($value) {
    .#{$key}\:grid-span-auto {
      grid-column: auto;
    }

    .#{$key}\:grid-span-full {
      grid-column: span css.get("grid", "columns");
    }

    @for $i from 1 through var.$columns {
      .#{$key}\:grid-span-#{$i} {
        grid-column: span $i;
      }
    }
  }
}
