@use "@vrembem/core";
@use "./variables" as var;

#{core.bem("grid", null, "stack")} {
  flex-direction: column;

  > #{core.bem("grid", "item")} {
    flex: none;
    width: 100%;
  }
}

@each $key, $value in var.$breakpoints {
  #{core.bem("grid", null, "stack", $key)} {
    flex-direction: column;
  }

  @include core.media-min($value) {
    #{core.bem("grid", null, "stack", $key)} {
      flex-direction: row;
    }
  }

  @include core.media-max($value) {
    #{core.bem("grid", null, "stack", $key)} > #{core.bem("grid", "item")} {
      flex: none;
      width: 100%;
    }
  }
}
