@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;

.#{$_b}grid#{$_m}auto > .#{$_b}grid#{$_e}item,
.#{$_b}grid#{$_e}item#{$_m}auto {
  flex: 0 0 auto;
}
