@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

#{core.bem("row-auto")} {
  grid-row: auto;
}

#{core.bem("row-full")} {
  grid-row: span css.get("grid", "rows", 1);
}

@for $i from 1 through config.get("grid-rows") {
  #{core.bem("row-#{$i}")} {
    grid-row: span $i;
  }
}

@for $i from 1 through (config.get("grid-rows") + 1) {
  #{core.bem("row-start-#{$i}")} {
    grid-row-start: $i;
  }

  #{core.bem("row-end-#{$i}")} {
    grid-row-end: $i;
  }
}

@each $bp, $value in config.get("breakpoints") {
  @include core.media-min($value) {
    #{core.bem("row-auto", $bp: $bp)} {
      grid-row: auto;
    }

    #{core.bem("row-full", $bp: $bp)} {
      grid-row: span css.get("grid", "rows", 1);
    }

    @for $i from 1 through config.get("grid-rows") {
      #{core.bem("row-#{$i}", $bp: $bp)} {
        grid-row: span $i;
      }
    }

    @for $i from 1 through (config.get("grid-rows") + 1) {
      #{core.bem("row-start-#{$i}", $bp: $bp)} {
        grid-row-start: $i;
      }

      #{core.bem("row-end-#{$i}", $bp: $bp)} {
        grid-row-end: $i;
      }
    }
  }
}
