@use "sass:math";
@use "@vrembem/core";
@use "./variables" as var;

@if (var.$span and var.$span != 0) {
  .#{var.$span-class}-auto {
    flex: 0 0 auto;
  }

  @for $i from 1 through var.$span {
    $_s: ".#{var.$span-class}-#{$i}";
    @if ($i == var.$span) {
      $_s: "#{$_s}, .#{var.$span-class}-full";
    }
    #{$_s} {
      flex: none;
      width: (100% * (math.div($i, var.$span)));
    }
  }

  @each $key, $value in var.$breakpoints {
    @include core.media-min($value) {
      .#{var.$span-class}-auto-#{$key} {
        flex: 0 0 auto;
      }

      @for $i from 1 through var.$span {
        $_s: ".#{var.$span-class}-#{$i}-#{$key}";
        @if ($i == var.$span) {
          $_s: "#{$_s}, .#{var.$span-class}-full-#{$key}";
        }
        #{$_s} {
          flex: none;
          width: (100% * (math.div($i, var.$span)));
        }
      }
    }
  }
}
