@use "@vrembem/core";
@use "@vrembem/core/css";

$breakpoints: core.$breakpoints !default;
$columns: 6 !default;
$flow: dense !default;
$gap: 2em !default;
$gap-map: (
  "none": 0,
  "xs": 0.5em,
  "sm": 1em,
  "md": 2em,
  "lg": 3em,
  "xl": 4em
) !default;

@include css.set("grid", (
  "columns": 1,
  "flow": $flow,
  "gap": $gap,
  "gap-x": null,
  "gap-y": null,
));
