@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

$breakpoints: config.get("breakpoints") !default;
$cols: 6 !default;
$rows: 6 !default;
$flow: dense !default;
$gap: 2em !default;
$gap-map: (
  "none": 0,
  "xs": 0.5em,
  "sm": 1em,
  "md": 2em,
  "lg": 3em,
  "xl": 4em
) !default;

@include css.set(
  "grid",
  (
    "cols": 1,
    "rows": 1,
    "flow": $flow,
    "gap": $gap,
    "gap-x": null,
    "gap-y": null
  )
);
