@use "@vrembem/core";

$breakpoints: core.$breakpoints !default;
$gap: 2em !default;
$gap-map: (
  "none": 0,
  "xs": 0.5em,
  "sm": 1em,
  "md": 2em,
  "lg": 3em,
  "xl": 4em
) !default;

$span: 12 !default;
$span-class: "span" !default;
