@import "./variables";

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: ($grid-gap * -1);
  margin-top: ($grid-gap * -1);
  padding: 0;

  & + & {
    margin-top: 0;
  }
}

.grid__item {
  flex: 1 1 0;
  max-width: 100%;
  padding-left: $grid-gap;
  padding-top: $grid-gap;
  width: auto;

  &_fill {
    display: flex;
    flex-direction: column;

    > * {
      flex-basis: 100%;
    }
  }
}

.grid__clear {
  flex: 1 0 100%;
}
