@use "./variables";

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: (variables.$gap * -1);
  margin-left: (variables.$gap * -1);

  & + & {
    margin-top: 0;
  }
}

.grid__item {
  flex: 1 1 0;
  width: auto;
  max-width: 100%;
  padding-top: variables.$gap;
  padding-left: variables.$gap;
}

.grid__clear {
  flex: 1 0 100%;
}
