$button-padding: $padding !default;
$button-font-size: 1em !default;
$button-line-height: 1.5em !default;
$button-color: $color !default;
$button-inner-spacing: 0.5em !default;
$button-background: rgba($black, 0.05) !default;
$button-background-hover: rgba($black, 0.1) !default;
$button-border-width: 1px !default;
$button-border-color: transparent !default;
$button-border-color-hover: transparent !default;
$button-border-radius: $border-radius !default;

$button_size_sm-padding: $padding-sm !default;
$button_size_sm-font-size: $font-size-sm !default;

$button_size_lg-padding: $padding-lg !default;
$button_size_lg-font-size: $font-size !default;

$button_min-width: 110px !default;

$button_outline_border-width: 1px !default;
