@import 'variables';

/**
 * Button
 */

.button {
  cursor: pointer;
  position: relative;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $button-padding;
  color: $button-color;
  font-family: inherit;
  font-size: $button-font-size;
  font-weight: inherit;
  line-height: $button-line-height;
  text-decoration: none;
  white-space: nowrap;
  background: $button-background;
  background-clip: border-box;
  border: $button-border-width solid $button-border-color;
  border-radius: $button-border-radius;

  &:hover,
  &:focus {
    color: $color;
    background-color: $button-background-hover;
    border-color: $button-border-color-hover;
  }

  > * + *,
  .button__item {
    margin-left: $button-inner-spacing;
  }
}
