@import 'variables';

/**
 * Colors
 */

.button_color_primary {
  color: color-switch($primary, $button-color, $button-color-invert);
  background: $primary;

  &:hover,
  &:focus {
    color: color-switch($primary, $button-color, $button-color-invert);
    background: darken($primary, 5%);
  }
}

.button_color_secondary {
  color: color-switch($secondary, $button-color, $button-color-invert);
  background: $secondary;

  &:hover,
  &:focus {
    color: color-switch($secondary, $button-color, $button-color-invert);
    background: darken($secondary, 5%);
  }
}

.button_color_accent {
  color: color-switch($accent, $button-color, $button-color-invert);
  background: $accent;

  &:hover,
  &:focus {
    color: color-switch($accent, $button-color, $button-color-invert);
    background: darken($accent, 5%);
  }
}

/**
 * Shade & Dark
 */

.button_color_shade {
  color: color-switch($shade, $button-color, $button-color-invert);
  background: $shade;

  &:hover,
  &:focus {
    color: color-switch($shade, $button-color, $button-color-invert);
    background: darken($shade, 5%);
  }
}

.button_color_dark {
  color: color-switch($dark, $button-color, $button-color-invert);
  background: $dark;

  &:hover,
  &:focus {
    color: color-switch($dark, $button-color, $button-color-invert);
    background: lighten($dark, 5%);
  }
}

/**
 * Utility
 */

.button_color_subtle {
  color: $color-light;
  background: none;

  &:hover,
  &:focus {
    color: $color;
    background: rgba($black, 0.05);
  }
}

.button_color_invert {
  color: $white;
  background: none;
  border-color: rgba($white, 0);

  &:hover,
  &:focus {
    color: $white;
    background: rgba($white, 0.1);
    border-color: rgba($white, 0);
  }
}

.button_color_invert_subtle {
  color: rgba($white, 0.5);
  background: none;

  &:hover,
  &:focus {
    color: $white;
    background: rgba($white, 0.1);
    border-color: rgba($white, 0);
  }
}
