@import 'variables';

/**
 * Button block modifier
 * ---
 * A modifier that makes a button span the full width of it's container.
 */

.button_block {
  display: flex;
  width: 100%;
}

@each $key, $value in $breakpoints {
  .button_block_#{$key} {
    display: flex;
    width: 100%;
  }

  @include media-min($key) {
    .button_block_#{$key} {
      display: inline-flex;
      width: auto;
    }
  }
}
