@import 'variables';

/**
 * Colors
 */

.button_color_primary {
  color: button-color($primary);
  background: $primary;

  &:hover,
  &:focus {
    color: button-color($primary);
    background: darken($primary, 5%);
  }
}

.button_color_secondary {
  color: button-color($secondary);
  background: $secondary;

  &:hover,
  &:focus {
    color: button-color($secondary);
    background: darken($secondary, 5%);
  }
}

.button_color_accent {
  color: button-color($accent);
  background: $accent;

  &:hover,
  &:focus {
    color: button-color($accent);
    background: darken($accent, 5%);
  }
}

/**
 * Shade & Dark
 */

.button_color_shade {
  color: button-color($shade);
  background: $shade;

  &:hover,
  &:focus {
    color: button-color($shade);
    background: darken($shade, 5%);
  }
}

.button_color_dark {
  color: $white;
  background: $dark;

  &:hover,
  &:focus {
    color: $white;
    background: lighten($dark, 5%);
  }
}

/**
 * Utility
 */

.button_color_subtle {
  background: none;
  border-color: rgba($white, 0);

  &:hover,
  &:focus {
    background: rgba($black, 0.05);
    border-color: rgba($white, 0);
  }
}

.button_color_fade {
  color: $color-light;
  background: none;

  &:hover,
  &:focus {
    color: $color;
    background: rgba($black, 0.05);
  }
}

/**
 * Inverts
 */

.button_color_invert {
  color: $white;
  background: rgba($white, 0.1);
  border-color: rgba($white, 0);

  &:hover,
  &:focus {
    color: $white;
    background: rgba($white, 0.2);
    border-color: rgba($white, 0);
  }
}

.button_color_invert_subtle {
  color: $white;
  background: none;
  border-color: rgba($white, 0);

  &:hover,
  &:focus {
    color: $white;
    background: rgba($white, 0.1);
    border-color: rgba($white, 0);
  }
}

.button_color_invert_fade {
  color: rgba($white, 0.5);
  background: none;

  &:hover,
  &:focus {
    color: $white;
    background: rgba($white, 0.1);
    border-color: rgba($white, 0);
  }
}
