@import 'variables';

/**
 * Button block modifier
 * ---
 * A modifier that makes a button span the full width of it's container.
 */

.button_block {
  display: flex;
  width: 100%;
}

@each $name, $value in $breakpoints {
  .button_block_#{$name} {
    display: flex;
    width: 100%;
  }

  @include media-min($name) {
    .button_block_#{$name} {
      display: inline-flex;
      width: auto;
    }
  }
}
