@use "sass:meta";
@use "sass:list";

/// Recursive helper for debug-map
@function -debug-map-recursive($map, $indent: "  ", $output: "", $n: "\A") {
  @each $key, $value in $map {
    $current-indent: $indent;
    @if meta.type-of($value) == "map" {
      $output: '#{$output}#{$n}#{$current-indent}"#{$key}": (';
      $output: -debug-map-recursive($value, $current-indent + $indent, $output, $n);
      $output: "#{$output}#{$n}#{$current-indent}),";
    } @else if meta.type-of($value) == "list" {
      @if list.length($value) == 0 {
        $output: '#{$output}#{$n}#{$current-indent}"#{$key}": (),';
      } @else {
        $output: '#{$output}#{$n}#{$current-indent}"#{$key}": (#{$value}),';
      }
    } @else {
      @if $value {
        $output: '#{$output}#{$n}#{$current-indent}"#{$key}": #{$value},';
      } @else {
        $output: '#{$output}#{$n}#{$current-indent}"#{$key}",';
      }
    }
  }
  @return $output;
}

/// Debug output a more readable version of a scss map in the console.
/// Currently this mixin only supports debugging maps up to 3 levels deep.
///
/// @param {map} $map
///   The map to output using @debug.
/// @param {string} $label
///   A label to add before the map contents.
///
@mixin debug-map($map, $label: "Debug Map") {
  $n: "\A";
  $indent: "  ";
  $output: "#{$n}#{$label}: (";
  $output: -debug-map-recursive($map, $indent, $output, $n);
  $output: "#{$output}#{$n})";
  @debug $output;
}
