@use "sass:map";

/// Prefix all map keys with a provided string value.
///
/// @param {string} $string - The string to prefix all map keys with
/// @param {map} $map - The map to be modified
///
/// @return {map} The modified map with new prefixed key values
///
@function prefix-map($string, $map) {
  $result: ();

  @each $key, $value in $map {
    $result: map.set($result, "#{$string}-#{$key}", $value);
  }

  @return $result;
}
