@use "sass:map";
@use "sass:meta";

/// Prefix all map keys with a provided string value.
///
/// @param {string} $prefix ("") - The string to prefix all map keys with
/// @param {map} $map - The map to be modified
///
/// @return {map} A new map with prefixed key values
///
@function prefix-map($prefix, $map) {
  $result: ();

  @each $key, $value in $map {
    $new-key: "#{$prefix}-#{$key}";

    @if $prefix == "" {
      $new-key: $key;
    } @else if $key == "" {
      $new-key: $prefix;
    }

    $result: map.set($result, $new-key, $value);
  }

  @return $result;
}
