@use "sass:map";

/// Prefix all map keys with a provided string value.
///
/// @param {string} $prefix - The string to prefix all map keys with
/// @param {map} $map - The map to be modified
///
/// @return {map} The modified map with new prefixed key values
///
@function prefix-map($prefix, $map) {
  $result: ();

  @each $key, $value in $map {
    $new-key: $prefix;

    @if ($key != "") {
      $new-key: "#{$new-key}-#{$key}";
    }

    $result: map.set($result, $new-key, $value);
  }

  @return $result;
}
