@use "@vrembem/core";
@use "@vrembem/core/theme";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

.#{$_b}notice {
  @include core.gap(var.$gap, "y");
  padding: var.$padding;
  border: theme.get("notice", "border");
  border-radius: var.$border-radius;
  background: theme.get("notice", "background");
  box-shadow: theme.get("notice", "shadow");
  color: theme.get("notice", "foreground");
}

.#{$_b}notice#{$_e}title {
  font-size: var.$title-font-size;
  font-weight: var.$title-font-weight;
  line-height: var.$title-line-height;
}
