@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("notice")} {
  background: css.get("notice", "background");
  border: css.get("notice", "border");
  border-radius: css.get("notice", "border-radius");
  box-shadow: css.get("notice", "box-shadow");
  color: css.get("notice", "foreground");
  padding: css.get("notice", "padding");

  > * + * {
    margin-top: css.get("notice", "gap");
  }
}

#{core.bem("notice", "title")} {
  font-size: css.get("notice", "title-font-size");
  font-weight: css.get("notice", "title-font-weight");
  line-height: css.get("notice", "title-line-height");
}
