@use "@vrembem/core";
@use "@vrembem/base/src/mixins" as base;
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}notice#{$_m}type#{$_v}info {
  background-color: core.$info-lighter;
  color: core.$info-darker;
}

.#{$_b}notice#{$_m}type#{$_v}info-bold {
  @include base.type-invert(core.$info);
  background-color: core.$info;
}

.#{$_b}notice#{$_m}type#{$_v}success {
  background-color: core.$success-lighter;
  color: core.$success-darker;
}

.#{$_b}notice#{$_m}type#{$_v}success-bold {
  @include base.type-invert(core.$success);
  background-color: core.$success;
}

.#{$_b}notice#{$_m}type#{$_v}caution {
  background-color: core.$caution-lighter;
  color: core.$caution-darker;
}

.#{$_b}notice#{$_m}type#{$_v}caution-bold {
  @include base.type-invert(core.$caution);
  background-color: core.$caution;
}

.#{$_b}notice#{$_m}type#{$_v}danger {
  background-color: core.$danger-lighter;
  color: core.$danger-darker;
}

.#{$_b}notice#{$_m}type#{$_v}danger-bold {
  @include base.type-invert(core.$danger);
  background-color: core.$danger;
}
