@use "@vrembem/core/palette";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}notice#{$_m}theme#{$_v}primary {
  background-color: palette.get("primary", 90);
  color: palette.get("primary", 30);
}

.#{$_b}notice#{$_m}theme#{$_v}secondary {
  background-color: palette.get("secondary", 90);
  color: palette.get("secondary", 30);
}

.#{$_b}notice#{$_m}theme#{$_v}neutral {
  background-color: palette.get("neutral", 90);
  color: palette.get("neutral", 30);
}

.#{$_b}notice#{$_m}theme#{$_v}important {
  background-color: palette.get("important", 90);
  color: palette.get("important", 30);
}
