@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/tokens";

#{core.bem("notice")} {
  padding: tokens.get("notice", "padding", 1em 1.25em);
  border: tokens.get("notice", "border", none);
  border-radius: tokens.get("notice", "border-radius", tokens.get("border-radius"));
  color: tokens.get("notice", "foreground", tokens.get("foreground-strong"));
  background: tokens.get("notice", "background", tokens.get("background-shift"));
  box-shadow: tokens.get("notice", "box-shadow", none);

  > * + * {
    margin-top: tokens.get("notice", "spacing", 0.5em);
  }
}

#{core.bem("notice", "title")} {
  font-size: tokens.get("notice", "title-font-size", tokens.get("font-size-lg"));
  font-weight: tokens.get("notice", "title-font-weight", tokens.get("font-weight-semi-bold"));
  line-height: tokens.get("notice", "title-line-height", inherit);
}
