@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/theme";
@use "@vrembem/core/palette";

$gap: 0.5em !default;
$padding: 1em !default;
$background: null !default;
$foreground: null !default;
$border: null !default;
$border-radius: css.get("border-radius") !default;
$box-shadow: null !default;
$title-font-size: css.get("font-size-lg") !default;
$title-line-height: css.get("line-height-lg") !default;
$title-font-weight: css.get("font-weight-semi-bold") !default;

@include css.set("notice", (
  "gap": $gap,
  "padding": $padding,
  "background": $background,
  "foreground": $foreground,
  "border": $border,
  "border-radius": $border-radius,
  "box-shadow": $box-shadow,
  "title": (
    "font-size": $title-font-size,
    "line-height": $title-line-height,
    "font-weight": $title-font-weight,
  ),
));

@include theme.set("notice", "light", (
  "background": palette.get("neutral", 95),
  "foreground": palette.get("neutral", 20),
  "border": null,
  "box-shadow": null
));

@include theme.set("notice", "dark", (
  "background": palette.get("neutral", 20),
  "foreground": palette.get("neutral", 95)
));
