$notice-padding: 1.5em !default;
$notice-spacing: 1rem !default;
$notice-background: $background !default;
$notice-box-shadow: 0 0 20px rgba($black, 0.1) !default;
$notice-border: null !default;
$notice-border-radius: null !default;
$notice-color: $color !default;
$notice-color-invert: $white !default;

$notice__title-font-size: 1.2em !default;
$notice__title-font-weight: font-weight("semi-bold") !default;
