$notice-padding: 1em !default;
$notice-spacing: 0.5em !default;
$notice-background: $shade !default;
$notice-box-shadow: null !default;
$notice-border: null !default;
$notice-border-radius: $border-radius !default;

$notice__label-font-size: 1em !default;
$notice__label-font-weight: font-weight("semi-bold") !default;

$notice__body-spacing: 1rem !default;
$notice__actions-spacing: 0.5rem !default;
