@use "@vrembem/core";
@use "@vrembem/base/src/mixins" as base;

.notice_color_primary {
  @include base.type-invert(core.$primary);
  background-color: core.$primary;
}

.notice_color_secondary {
  @include base.type-invert(core.$secondary);
  background-color: core.$secondary;
}

.notice_color_dark {
  @include base.type-invert(core.$night);
  background-color: core.$night;
}
