@import "./variables";

.notice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $notice-padding;
  border: $notice-border;
  border-radius: $notice-border-radius;
  background: $notice-background;
  box-shadow: $notice-box-shadow;
}

.notice__body {
  flex: 1 1 auto;
  margin-right: $notice__body-spacing;
  margin-left: $notice__body-spacing;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.notice__actions {
  display: flex;
  flex: 0 0 auto;

  > * + * {
    margin-left: $notice__actions-spacing;
  }
}

.notice__label {
  font-size: $notice__label-font-size;
  font-weight: $notice__label-font-weight;
}
