@use "./variables";

.notice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: variables.$padding;
  border: variables.$border;
  border-radius: variables.$border-radius;
  background: variables.$background;
  box-shadow: variables.$box-shadow;
}

.notice__body {
  flex: 1 1 auto;
  margin-right: variables.$body-spacing;
  margin-left: variables.$body-spacing;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.notice__actions {
  display: flex;
  flex: 0 0 auto;

  > * + * {
    margin-left: variables.$actions-spacing;
  }
}

.notice__title {
  font-size: variables.$title-font-size;
  font-weight: variables.$title-font-weight;
  line-height: variables.$title-line-height;
}
