@import "./variables";

.notice_state_info {
  background-color: $info-lighter;
  color: $info-darker;

  &.notice_bold {
    @include type-invert($info);
    background-color: $info;
  }
}

.notice_state_success {
  background-color: $success-lighter;
  color: $success-darker;

  &.notice_bold {
    @include type-invert($success);
    background-color: $success;
  }
}

.notice_state_caution {
  background-color: $caution-lighter;
  color: $caution-darker;

  &.notice_bold {
    @include type-invert($caution);
    background-color: $caution;
  }
}

.notice_state_danger {
  background-color: $danger-lighter;
  color: $danger-darker;

  &.notice_bold {
    @include type-invert($danger);
    background-color: $danger;
  }
}
