@import "./variables";

.notice_stack {
  flex-direction: column;
  align-items: flex-end;

  .notice__body {
    width: 100%;
    margin-right: 0;
    margin-bottom: $notice__body-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
