@import "variables";

.notice {
  background: $notice-background;
  border: $notice-border;
  border-radius: $notice-border-radius;
  display: block;
  padding: $notice-padding;
  position: relative;

  > * {
    margin-bottom: $notice-spacing;
    margin-top: $notice-spacing;
  }

  > .notice__close + *,
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.notice__close {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  float: right;
  justify-content: center;
  margin: 0 0 0.5rem 1rem;
}

.notice__group {
  align-items: center;
  display: flex;
  justify-content: space-between;

  > *:nth-child(1n + 1) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.notice__title,
.type .notice__title {
  flex-grow: 1;
  font-size: $notice__title-font-size;
  font-weight: $notice__title-font-weight;
}

.type .notice {
  margin: 1.5em 0;
}
