@import "./variables";

.notice_type_primary {
  background-color: $primary;
  @if (lightness($primary) < $lightness-threshold) {
    @extend .type_invert !optional;
  }
}

.notice_type_secondary {
  background-color: $secondary;
  @if (lightness($secondary) < $lightness-threshold) {
    @extend .type_invert !optional;
  }
}

.notice_type_accent {
  background-color: $accent;
  @if (lightness($accent) < $lightness-threshold) {
    @extend .type_invert !optional;
  }
}

.notice_type_shade {
  background-color: $shade;
  @if (lightness($shade) < $lightness-threshold) {
    @extend .type_invert !optional;
  }
}

.notice_type_dark {
  background-color: $night;
  @if (lightness($night) < $lightness-threshold) {
    @extend .type_invert !optional;
  }
}

.notice_type_info {
  background-color: rgba($info, 0.1);
  color: darken($info, 25%);
}

.notice_type_success {
  background-color: rgba($success, 0.1);
  color: darken($success, 25%);
}

.notice_type_caution {
  background-color: rgba($caution, 0.1);
  color: darken($caution, 25%);
}

.notice_type_danger {
  background-color: rgba($danger, 0.1);
  color: darken($danger, 25%);
}
