@import "./variables";

.notice_size_sm {
  padding: $notice_size_sm-padding;
  font-size: $notice_size_sm-font-size;
}

.notice_size_lg {
  padding: $notice_size_lg-padding;
  font-size: $notice_size_lg-font-size;
}
