---
import Home from "../layouts/Home.astro";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";
import Navibar from "../components/Navibar.astro";
import Icon from "../components/Icon.vue";
---

<Home>
  <Navibar classes="background fold-shadow" />
  <div class="section section_size_xl fold-shadow-top type">
    <div class="section__container text-align-center">
      <h1>
        <Logo />
      </h1>
      <p class="font-size-lg margin-bottom-xl">
        A component library based on the BEM methodology.
      </p>
      <div class="level flex-justify-center">
        <a
          href="/getting-started"
          class="button button_size_lg button_block_sm button_color_primary"
        >
          Get Started
        </a>
        <a
          href="/packages"
          class="button button_size_lg button_block_sm button_color_secondary"
        >
          Documentation
        </a>
        <button class="button button_size_lg button_block_sm">
          <span class="code margin-right-sm">
            <span class="foreground-lighter">$</span>
            <span class="foreground">npm install vrembem</span>
          </span>
          <Icon name="copy" classes="icon_size_sm foreground-primary" />
        </button>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section__container">
      <div class="grid">
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="database" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">BEM Methodoloy</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="box" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">CSS Variables</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="zap" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Modular</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="award" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Accessible</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="command" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Portable</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="search" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Customizable</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section__container border-top padding-top-xl">
      <Footer />
    </div>
  </div>
</Home>
