---
import Home from '../layouts/Home.astro';
import Menu from '../components/Menu.astro';
---

<Home>
	<header class="type">
		<h1>Vrembem</h1>
		<p>A component library based on the BEM methodology.</p>
	</header>
	<Menu />
</Home>
