---
import Home from "../layouts/Home.astro";
import Logo from "../components/Logo.astro";
import LogoIcon from "../components/LogoIcon.astro";
---

<Home>
  <div class="section section_size_sm background">
    <div class="section__container">
      <div class="level">
        <a class="flex-grow-1" href="#">
          <strong>Vrembem</strong>
          <span class="foreground-lighter">v4.0.0</span>
        </a>
        <ul class="menu menu_inline">
          <li class="menu__item">
            <a class="menu__action" href="#">Get Started</a>
          </li>
          <li class="menu__item"><a class="menu__action" href="#">Docs</a></li>
          <li class="menu__item">
            <a class="menu__action" href="#">GitHub</a>
          </li>
          <li class="menu__item">
            <a class="menu__action" href="#">Sponsor</a>
          </li>
          <li class="menu__sep"></li>
          <li class="menu__item">
            <button class="menu__action">Dark Mode</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <header class="section section_size_xl type">
    <div class="section__container text-align-center">
      <h1>
        <Logo />
      </h1>
      <p class="font-size-lg margin-bottom-xl">
        A component library based on the BEM methodology.
      </p>
      <div class="level flex-justify-center">
        <button class="button button_color_primary">Get Started</button>
        <button class="button button_color_secondary">Documentation</button>
        <button class="button">
          <span class="code">$ npm install vrembem</span>
        </button>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="section__container">
      <div class="grid">
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <h2 class="font-size-lg">BEM Methodoloy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus sit amet urna vel tincidunt.</p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <h2 class="font-size-lg">CSS Variables</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus sit amet urna vel tincidunt.</p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <h2 class="font-size-lg">Modular</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus sit amet urna vel tincidunt.</p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <h2 class="font-size-lg">Accessible</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus sit amet urna vel tincidunt.</p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <h2 class="font-size-lg">Portable</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus sit amet urna vel tincidunt.</p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <h2 class="font-size-lg">Customizable</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus sit amet urna vel tincidunt.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="section">
    <div class="section__container border-top padding-top-xl">
      <div class="level">
        <p class="foreground-lighter flex-grow-1">
          Vrembem is released under the MIT License.<br>
          Copyright 2023 Sebastian Nitu.
        </p>
        <a class="foreground-primary" href="#">
          <LogoIcon />
        </a>
      </div>
    </div>
  </footer>
</Home>
