---
import Root from "../layouts/Root.astro";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";
import Navibar from "../components/Navibar.astro";
import CodeBlock from "../components/CodeBlock.astro";
import Icon from "../components/Icon.astro";
---

<Root bodyClass="background-darker">
  <Navibar classes="fold-shadow" />
  <div class="navibar-spacer"></div>
  <div id="main-content" class="section section_size_xl fold-shadow-top type" tabindex="-1">
    <div class="section__container text-align-center">
      <h1 class="foreground">
        <Logo />
      </h1>
      <p class="font-size-lg margin-bottom-xl">
        A component library based on the BEM methodology.
      </p>
      <div class="level flex-justify-center">
        <a
          href="/getting-started"
          class="button button_size_lg button_color_primary"
        >
          Get Started
        </a>
        <a
          href="/packages"
          class="button button_size_lg button_color_secondary"
        >
          Documentation
        </a>
        <CodeBlock inline>npm install vrembem</CodeBlock>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section__container">
      <div class="grid">
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="database" iconClass="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">BEM Methodoloy</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="box" iconClass="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">CSS Variables</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="zap" iconClass="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Modular</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="award" iconClass="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Accessible</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="command" iconClass="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Portable</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="search" iconClass="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Customizable</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section__container border-top padding-top-xl">
      <Footer />
    </div>
  </div>
</Root>
