---
import Home from "../layouts/Home.astro";
import Logo from "../components/Logo.astro";
import LogoIcon from "../components/LogoIcon.astro";
import Navi from "../components/Navi.astro";
import Icon from "../components/Icon.vue";
import Modal from "../components/Modal.vue";
import Popover from "../components/Popover.vue";
---

<Home>
  <header class="header section section_size_sm background fold-shadow">
    <div class="section__container">
      <div class="level">
        <div class="flex-grow-1">
          <a href="/" class="flex-inline gap-x">
            <strong>Vrembem</strong>
            <span class="foreground-lighter">v4.0.0</span>
          </a>
        </div>

        <Navi classes="menu_inline display-none display-flex-md" />

        <button
          data-modal-open="modal-navi"
          class="button button_icon display-block display-none-md"
        >
          <Icon name="menu" />
        </button>

        <Modal client:only id="modal-navi" modalClass="modal_full">
          <div class="dialog__header">
            <h2 class="dialog__title">Menu</h2>
            <button data-modal-close class="button button_icon dialog__close">
              <Icon name="x" />
            </button>
          </div>
          <div class="dialog__body">
            <Navi />
          </div>
        </Modal>

        <!--
        <Popover
          client:only
          id="popover-navi"
          triggerClass="button button_icon display-block display-none-md"
        >
          <div slot="trigger">
            <Icon name="menu" />
          </div>
          <div slot="content">
            <Navi />
          </div>
        </Popover>
        -->
      </div>
    </div>
  </header>
  <section class="section section_size_xl type">
    <div class="section__container text-align-center">
      <h1>
        <Logo />
      </h1>
      <p class="font-size-lg margin-bottom-xl">
        A component library based on the BEM methodology.
      </p>
      <div class="level flex-justify-center">
        <a
          href="/getting-started"
          class="button button_size_lg button_block_sm button_color_primary"
        >
          Get Started
        </a>
        <a
          href="/packages"
          class="button button_size_lg button_block_sm button_color_secondary"
        >
          Documentation
        </a>
        <button class="button button_size_lg button_block_sm">
          <span class="code margin-right-sm">
            <span class="foreground-lighter">$</span>
            <span class="foreground">npm install vrembem</span>
          </span>
          <Icon name="copy" classes="icon_size_sm foreground-primary" />
        </button>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section__container">
      <div class="grid">
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="database" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">BEM Methodoloy</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="box" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">CSS Variables</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="zap" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Modular</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="award" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Accessible</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="command" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Portable</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
        <div class="grid__item span-12 span-6-sm span-4-lg">
          <div class="background radius-lg padding-xl gap-y-sm">
            <Icon name="search" classes="icon_size_lg foreground-primary" />
            <h2 class="font-size-lg">Customizable</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              cursus sit amet urna vel tincidunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="section">
    <div class="section__container border-top padding-top-xl">
      <div class="level">
        <p class="foreground-lighter flex-grow-1">
          Vrembem is released under the MIT License.<br />
          Copyright 2023 Sebastian Nitu.
        </p>
        <a href="/" class="foreground-primary">
          <LogoIcon />
        </a>
      </div>
    </div>
  </footer>
</Home>
