---
import Home from '../layouts/Home.astro';
import Menu from '../components/Menu.astro';
---

<Home>
	<div>
		<h1 class="h1">Vrembem</h1>
		<p>A component library based on the BEM methodology.</p>
	</div>
	<Menu />
</Home>
