@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

:root {
  @if (var.$arrow-padding) {
    --popover-arrow-padding: #{var.$arrow-padding};
  }
}

.#{$_b}popover#{$_e}arrow,
.#{$_b}popover#{$_e}arrow::after {
  @include core.size(var.$arrow-size);
  position: absolute;
  z-index: -1;
  visibility: hidden;
  background-color: inherit;
}

.#{$_b}popover#{$_e}arrow::after {
  content: '';
  visibility: visible;
  transform: rotate(45deg);
  border: var.$arrow-border;
  border-right-color: transparent;
  border-bottom-color: transparent;
  background-clip: padding-box;
}

[data-popper-placement^="top"] > .#{$_b}popover#{$_e}arrow {
  bottom: -(var.$arrow-size * 0.5);

  &::after {
    transform: rotate(-135deg);
  }
}

[data-popper-placement^="bottom"] > .#{$_b}popover#{$_e}arrow {
  top: -(var.$arrow-size * 0.5);

  &::after {
    transform: rotate(45deg);
  }
}

[data-popper-placement^="left"] > .#{$_b}popover#{$_e}arrow {
  right: -(var.$arrow-size * 0.5);

  &::after {
    transform: rotate(135deg);
  }
}

[data-popper-placement^="right"] > .#{$_b}popover#{$_e}arrow {
  left: -(var.$arrow-size * 0.5);

  &::after {
    transform: rotate(-45deg);
  }
}
