@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

.#{$_b}popover#{$_e}arrow,
.#{$_b}popover#{$_e}arrow::before,
.#{$_b}popover#{$_e}arrow::after {
  position: absolute;
  visibility: hidden;
  width: 8px;
  height: 8px;
  background-color: inherit;
}

.#{$_b}popover#{$_e}arrow::before,
.#{$_b}popover#{$_e}arrow::after {
  content: '';
  visibility: visible;
  transform: rotate(45deg);
}

[data-popper-placement] > .#{$_b}popover#{$_e}arrow::before {
  background-color: rgba(core.$black, 0.1);
}

[data-popper-placement^="top"] > .#{$_b}popover#{$_e}arrow {
  bottom: -4px;

  &::before {
    margin: 1px 0 0 0;
  }
}

[data-popper-placement^="bottom"] > .#{$_b}popover#{$_e}arrow {
  top: -4px;

  &::before {
    margin: -1px 0 0 0;
  }
}

[data-popper-placement^="left"] > .#{$_b}popover#{$_e}arrow {
  right: -4px;

  &::before {
    margin: 0 0 0 1px;
  }
}

[data-popper-placement^="right"] > .#{$_b}popover#{$_e}arrow {
  left: -4px;

  &::before {
    margin: 0 0 0 -1px;
  }
}
