@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}popover#{$_m}size#{$_v}auto {
  min-width: 0;
}

.#{$_b}popover#{$_m}size#{$_v}sm {
  min-width: var.$size-sm-width;
}

.#{$_b}popover#{$_m}size#{$_v}lg {
  min-width: var.$size-lg-width;
}
