@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

#{core.bem("section")} {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: css.get("section", "padding", 1.5em);
  color: css.get("section", "foreground", css.get("foreground"));
  background: css.get("section", "background", transparent);

  @include core.css-query("section", "padding", config.get("section-padding", "default"), config.get("section-padding", "breakpoints"));
}

#{core.bem("section", "container")} {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: css.get("section", "max-width", 70rem);
  margin: auto;
}

#{core.bem("section", "background")},
#{core.bem("section", "screen")} {
  @include core.size(100%);

  position: absolute;
  inset: 0;
}

#{core.bem("section", "background")} {
  z-index: 1;
  object-fit: cover;
}

#{core.bem("section", "screen")} {
  z-index: 2;
  opacity: css.get("section", "screen-opacity", 0.8);
  background: css.get("section", "screen-background", css.get("background"));
}
