@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

#{core.bem("section")} {
  @include core.css-query("section", "padding", var.$padding, var.$breakpoints);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: css.get("section", "padding");
  background: css.get("section", "background");
  color: css.get("section", "foreground");
}

#{core.bem("section", "container")} {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: css.get("section", "max-width");
  margin: auto;
}

#{core.bem("section", "image")},
#{core.bem("section", "screen")} {
  @include core.size(100%);
  position: absolute;
  inset: 0;
}

#{core.bem("section", "image")} {
  object-fit: cover;
  z-index: 1;
  opacity: css.get("section", "image-opacity");
}

#{core.bem("section", "screen")} {
  z-index: 2;
  background: css.get("section", "screen-background");
  opacity: css.get("section", "screen-opacity");
}
