@use "@vrembem/core";
@use "@vrembem/core/palette";

$max-width: 70rem !default;
$screen-background: palette.get("neutral", 10) !default;
$screen-opacity: 0.7 !default;

$padding: (
  "base": 1.5em,
  "md": 2em 1.5em,
  "lg": 3em 1.5em
) !default;

$padding-scale: (
  "xs": (
    "base": 0,
    "md": 0,
    "lg": 0
  ),
  "sm": (
    "base": 1em,
    "md": 1em,
    "lg": 1em
  ),
  "md": (
    "base": 1.5em,
    "md": 2em 1.5em,
    "lg": 3em 1.5em
  ),
  "lg": (
    "base": 1.5em,
    "md": 4em 1.5em,
    "lg": 6em 1.5em
  ),
  "xl": (
    "base": 3em 1.5em,
    "md": 8em 2em,
    "lg": 12em 2em
  )
) !default;
