@import 'variables';

.section {
  position: relative;
  padding: map-get($section-padding, 'base');
}

.section__container {
  position: relative;
  z-index: 3;
}

.section__intro {
  text-align: center;
  margin: 0 auto;
  max-width: $section__intro-max-width;
}

@each $bp, $value in $section-padding {
  @if ($bp != 'base') {
    @include media-min($bp) {
      .section {
        padding: $value;
      }
    }
  }
}

.section__background,
.section__screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.section__background {
  z-index: 1;
  object-fit: cover;
}

.section__screen {
  z-index: 2;
  opacity: $section__screen-opacity;
  background: $section__screen-background;
}
