@import "./variables";

.section {
  padding: map-get($section-padding, 'base');
  position: relative;
}

.section__container {
  position: relative;
  z-index: 3;
}

.section__intro {
  margin: 0 auto;
  max-width: $section__intro-max-width;
  text-align: center;
}

@each $bp, $value in $section-padding {
  @if ($bp != 'base') {
    @include media-min($bp) {
      .section {
        padding: $value;
      }
    }
  }
}

.section__background,
.section__screen {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.section__background {
  object-fit: cover;
  z-index: 1;
}

.section__screen {
  background: $section__screen-background;
  opacity: $section__screen-opacity;
  z-index: 2;
}
