@use "@vrembem/core";
@use "./variables";

.section {
  position: relative;
  padding: map-get(variables.$padding, 'base');
}

.section__container {
  position: relative;
  z-index: 3;
}

.section__intro {
  max-width: variables.$intro-max-width;
  margin: 0 auto;
  text-align: center;
}

@each $bp, $value in variables.$padding {
  @if ($bp != 'base') {
    @include core.media-min($bp) {
      .section {
        padding: $value;
      }
    }
  }
}

.section__background,
.section__screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section__background {
  object-fit: cover;
  z-index: 1;
}

.section__screen {
  z-index: 2;
  background: variables.$screen-background;
  opacity: variables.$screen-opacity;
}
