// Colors
// ---

$primary: $blue-500 !default;
$primary-light: lighten($primary, 15%) !default;
$primary-dark: darken($primary, 15%) !default;

$secondary: $blue-gray !default;
$secondary-light: lighten($secondary, 15%) !default;
$secondary-dark: darken($secondary, 15%) !default;

$accent: $yellow-400 !default;
$accent-light: lighten($accent, 15%) !default;
$accent-dark: darken($accent, 15%) !default;

$shade: $blue-gray-50 !default;
$dark: $blue-gray-800 !default;

// Semantic type colors

$info: $cyan !default;
$info-light: lighten($info, 50%) !default;

$success: $green !default;
$success-light: lighten($success, 40%) !default;

$caution: $yellow-800 !default;
$caution-light: lighten($caution, 35%) !default;

$danger: $red !default;
$danger-light: lighten($danger, 35%) !default;

$error: $red !default;
$error-light: lighten($error, 35%) !default;

// Global Properties
// ---

// Padding
$padding-sm: 0.1375em 0.5em !default;
$padding: 0.438em 0.75em !default;
$padding-lg: 0.75em 1.75em !default;

// Height
$height-sm: 2rem !default;
$height: 2.5rem !default;
$height-lg: 3rem !default;

// Size
$width-sm: 2rem !default;
$width: 2.5rem !default;
$width-lg: 3rem !default;

// Fonts
$font-family-sans: BlinkMacSystemFont, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !default;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family: $font-family-sans !default;

// Front Size
$font-size-sm: 0.875em !default;
$font-size: 16px !default;
$font-size-lg: 1.25em !default;

// Typography
$line-height: 1.5 !default;
$font-weight: font-weight("normal") !default;

// Color
$color: $gray-900 !default;
$color-light: $gray-400 !default;
$color-dark: $black !default;
$color-invert: $white !default;

// Box styles
$background: $gray-100 !default;
$background-invert: $dark !default;
$border-radius: 3px !default;
$box-sizing: border-box !default;

// Box Shadow
// offset-x | offset-y | blur-radius | spread-radius | color
// https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
$box-shadow-color: $black !default;

$box-shadow-shade-1: rgba($box-shadow-color, 0.1) !default;
$box-shadow-shade-2: rgba($box-shadow-color, 0.07) !default;
$box-shadow-shade-3: rgba($box-shadow-color, 0.06) !default;

$box-shadow-1dp:
  0 2px 1px -1px $box-shadow-shade-1,
  0 1px 1px 0 $box-shadow-shade-2,
  0 1px 3px 0 $box-shadow-shade-3 !default;
$box-shadow-4dp:
  0 2px 4px -1px $box-shadow-shade-1,
  0 4px 5px 0 $box-shadow-shade-2,
  0 1px 10px 0 $box-shadow-shade-3 !default;
$box-shadow-8dp:
  0 5px 5px -3px $box-shadow-shade-1,
  0 8px 10px 1px $box-shadow-shade-2,
  0 3px 14px 2px $box-shadow-shade-3 !default;
$box-shadow-16dp:
  0 8px 10px -5px $box-shadow-shade-1,
  0 16px 24px 2px $box-shadow-shade-2,
  0 6px 30px 5px $box-shadow-shade-3 !default;
$box-shadow-24dp:
  0 11px 15px -7px $box-shadow-shade-1,
  0 24px 38px 3px $box-shadow-shade-2,
  0 9px 46px 8px $box-shadow-shade-3 !default;

$box-shadow: $box-shadow-4dp !default;
$box-shadow-flat: 0 0 0 0 rgba($white, 0) !default;

// Transition
// property | duration | timing-function | delay
$transition-duration: 0.3s !default;
$transition-duration-short: 0.15s !default;
$transition-duration-long: 0.6s !default;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$transition-timing-function-deceleration: cubic-bezier(0, 0, 0.2, 1) !default;
$transition-timing-function-acceleration: cubic-bezier(0.4, 0, 1, 1) !default;
$transition-timing-function-sharp: cubic-bezier(0.4, 0, 0.6, 1) !default;

// Border
$border-width: 1px !default;
$border-style: solid !default;
$border-color: rgba($black, 0.1) !default;
$border-color-invert: rgba($white, 0.1) !default;
$border: 1px solid rgba($black, 0.1) !default;
$border-invert: 1px solid rgba($white, 0.1) !default;
$border-color-light: rgba($black, 0.05);
$border-color-dark: rgba($black, 0.2);
$border-light: 1px solid rgba($black, 0.05);
$border-dark: 1px solid rgba($black, 0.2);

// Headings
$heading-font-family: null !default;
$heading-line-height: null !default;
$heading-color: inherit !default;
$heading-font-weight: font-weight("semi-bold") !default;

// Mark
$mark-color: $color-dark !default;
$mark-background: $yellow-200 !default;
$mark-padding: null !default;

// Code
$code-color: $pink !default;
$code-background: null !default;
$code-padding: null !default;

// Pre
$pre-color: $color-dark !default;
$pre-background: $background !default;
$pre-border-radius: $border-radius !default;

// Blockquotes
$blockquote-color: $color-dark !default;
$blockquote-background: $shade !default;
$blockquote-border-radius: $border-radius !default;

// Tables
$table-color: $color !default;
$table-border-color: $gray-300 !default;
$table-border: 1px solid $table-border-color !default;
$table-background: $white !default;
$table-background-alt: $background !default;
$table-padding: $padding !default;

// Body
$body-background: null !default;

// Link
// ---

$link-color: $primary !default;
$link-color-hover: darken($link-color, 10%) !default;
$link-border: 1px solid rgba($black, 0.1) !default;
$link-border-hover: 1px solid darken($primary, 10%) !default;
$link-text-decoration: none !default;
$link-text-decoration-hover: null !default;
$link-transition: null !default;

// Invert
$link-color-invert: $white !default;
$link-color-invert-hover: $white !default;
$link-border-invert: 1px solid rgba($white, 0.5) !default;
$link-border-invert-hover: 1px solid rgba($white, 1) !default;

// Breakpoints
// ---

$breakpoints: (
  "xs": 480px,
  "sm": 620px,
  "md": 760px,
  "lg": 990px,
  "xl": 1380px
) !default;

// Utility
// ---

$utility-display: (
  inline,
  flex,
  inline-flex,
  block,
  inline-block,
  none
) !default;

$utility-spacing: (
  "0": 0,
  "xs": 0.5rem,
  "sm": 1rem,
  "md": 2rem,
  "lg": 3rem,
  "xl": 6rem
) !default;

$vertical-spacing: 1rem !default;

$vertical-spacing-scale: (
  'xs': 0.5rem,
  'sm': 1rem,
  'md': 1.5rem,
  'lg': 2rem,
  'xl': 3rem
) !default;

$lightness-threshold: 60 !default;

// Variable Dependent Functions
// ---

@function color-switch(
  $base,
  $dark: $color,
  $light: $color-invert
) {
  // Checkout base color to lightness threshold
  @if (lightness($base) > $lightness-threshold) {
    // Lighter backgorund, return dark color
    @return $dark;
  } @else {
    // Darker background, return light color
    @return $light;
  }
}

@function is-dark($base) {
  @return (lightness($base) < $lightness-threshold);
}

@function is-light($base) {
  @return (lightness($base) > $lightness-threshold);
}
