<div class="code-expander">
  <button
    type="button"
    class="button button_color_primary button_size_sm code-expander__toggle"
  >
    Expand
  </button>
  <slot />
</div>

<script>
  const btns = document.querySelectorAll(".code-expander__toggle");
  btns.forEach((btn) => {
    btn.addEventListener("click", () => {
      // Get the elements
      const parent = btn.closest(".code-expander") as HTMLElement;
      const code = parent.querySelector("code") as HTMLElement;

      // Get the height variable
      const padding = 42; // Kind of a magic number atm
      const height = code.offsetHeight + padding;

      // Toggle the expand state
      parent.classList.toggle("is-expanded");

      // Update the state
      if (parent.classList.contains("is-expanded")) {
        btn.innerHTML = "Collapse";
        parent.style.setProperty(
          "--vb-code-expander-max-height",
          `${height}px`
        );
      } else {
        btn.innerHTML = "Expand";
        parent.style.setProperty("--vb-code-expander-max-height", null);
      }
    });
  });
</script>
