---
import Icon from "@/components/Icon.astro";
import type feather from "feather-icons";

interface Props {
  nopre?: boolean;
  inline?: string;
  icon?: keyof typeof feather.icons;
}

const { inline, nopre, icon } = Astro.props;
const uid = `${Math.floor(Math.random() * Date.now())}`;
const classes = ["code-block"];
if (inline) classes.push("code-block--inline");
if (icon) classes.push("has-icon");
---

<div class={classes.join(" ")}>
  {
    icon && (
      <span class="code-block__icon">
        <Icon name={icon} classes="icon--size-sm" />
      </span>
    )
  }
  {
    nopre ? (
      <slot />
    ) : inline ? (
      // prettier-ignore
      <pre tabindex="0" class="pre"><code set:html={inline} /></pre>
    ) : (
      // prettier-ignore
      <pre tabindex="0" class="pre"><slot /></pre>
    )
  }
  <button
    type="button"
    popovertarget={`popover-${uid}`}
    class="code-block__copy-button"
    aria-label="Copy code example to clipboard"
  >
    <Icon name="copy" classes="icon--size-sm" />
    <Icon
      name="check"
      classes="icon--size-sm foreground-primary display-none"
    />
  </button>
  <div
    id={`popover-${uid}`}
    class="popover popover--tooltip popover--arrow-bottom"
    popover="hint"
  >
    Copied!
  </div>
</div>

<script>
  const btns = document.querySelectorAll(".code-block__copy-button");
  btns.forEach((btn: HTMLButtonElement) => {
    btn.addEventListener("click", () => {
      const code = btn
        .closest(".code-block")
        .querySelector("pre code") as HTMLElement;
      const text = code.innerText;
      const icons = btn.querySelectorAll(".icon");
      const popover = document.getElementById(
        btn.getAttribute("popovertarget")
      );
      navigator.clipboard
        .writeText(text)
        .then(() => {
          btn.disabled = true;
          btn.classList.add("is-copied");
          icons.forEach((icon) => icon.classList.toggle("display-none"));
          setTimeout(() => {
            btn.disabled = false;
            btn.classList.remove("is-copied");
            icons.forEach((icon) => icon.classList.toggle("display-none"));
            popover?.hidePopover();
          }, 2000);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
  });
</script>
