---
import Icon from "../components/Icon.astro";
---

<div class="code-expander is-scroll-locked">
  <div class="code-expander__tools">
    <button
      type="button"
      class="button button_size_sm code-expander__unlock-scroll background-white"
    >
      <Icon name="unlock" classes="icon_size_sm" />
      <span>Unlock scroll</span>
    </button>
    <button
      type="button"
      class="button button_color_primary button_size_sm code-expander__toggle"
    >
      Expand
    </button>
  </div>
  <div class="code-expander__screen"></div>
  <slot />
</div>

<script>
  const btns = document.querySelectorAll(".code-expander__toggle");
  btns.forEach((btn) => {
    btn.addEventListener("click", () => {
      // Get the elements
      const parent = btn.closest(".code-expander") as HTMLElement;
      const code = parent.querySelector("code") as HTMLElement;

      // Get the height variable
      const padding = 42; // Kind of a magic number atm
      const height = code.offsetHeight + padding;

      // Toggle the expand state
      parent.classList.toggle("is-expanded");

      // Update the state
      if (parent.classList.contains("is-expanded")) {
        btn.innerHTML = "Collapse";
        parent.style.setProperty(
          "--vb-code-expander-max-height",
          `${height}px`
        );
      } else {
        btn.innerHTML = "Expand";
        parent.style.setProperty("--vb-code-expander-max-height", null);
      }
    });
  });

  const screens = document.querySelectorAll(".code-expander");
  screens.forEach((screen) => {
    screen.addEventListener("click", () => {
      screen.classList.remove("is-scroll-locked");
    });
  });
</script>
