---
import { getCollection } from "astro:content";

const { collection } = Astro.props;

const packages = await getCollection(collection);
const title = collection.charAt(0).toUpperCase() + collection.slice(1);
---

<nav>
  <h2 class="padding padding-y-sm">{title}</h2>
  <ul class="menu">
    {
      packages.map((entry) => (
        <li class="menu__item">
          <a class="menu__action" href={`/${collection}/${entry.slug}`}>
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
