---
import { getCollection } from "astro:content";

const { collection } = Astro.props;

const packages = await getCollection(collection);
---

<div class="gap-y">
  <ol class="menu">
    {
      packages.map((entry) => (
        <li class="menu__item">
          <a class="menu__action" href={`/${collection}/${entry.slug}`}>
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</div>
