---
import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";
import { filterCollection } from "@/helpers/filterCollection";
import { getCollectionPath } from "@/helpers/getCollectionPath";
import { byCategory, byTitle, byOrder } from "@/helpers/sortCollectionBy";

interface Props {
  entry: CollectionEntry<CollectionKey>;
}

const { entry } = Astro.props;

// Get all the collection entries of the current page
const entries = await getCollection(entry.collection, filterCollection(entry));

// Sort packages by category, otherwise sort by title/order
if (entry.collection === "packages") {
  entries.sort(
    byCategory(["core", "modules", "layout", "form-control", "component"])
  );
} else {
  entries.sort(byTitle).sort(byOrder);
}

// Setup pagi object to store prev and next entries
const pagi: {
  prev?: CollectionEntry<CollectionKey>;
  next?: CollectionEntry<CollectionKey>;
} = {};

// Populate the prev and next entries if they exist
entries.find((entry, index) => {
  if (getCollectionPath(entry) === Astro.url.pathname) {
    pagi.prev = entries[index - 1];
    pagi.next = entries[index + 1];
  }
});
---

<div class="pagi">
  <div class="pagi_prev">
    {
      pagi.prev && (
        <a class="pagi_link" href={getCollectionPath(pagi.prev)}>
          <div class="pagi_label">Previous</div>
          <div class="pagi_title">{pagi.prev.data.title}</div>
        </a>
      )
    }
  </div>
  <div class="pagi_next">
    {
      pagi.next && (
        <a class="pagi_link" href={getCollectionPath(pagi.next)}>
          <div class="pagi_label">Next</div>
          <div class="pagi_title">{pagi.next.data.title}</div>
        </a>
      )
    }
  </div>
</div>
