---
import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";
import ModulesMenu from "@/components/ModulesMenu.astro";
import CategoryIcon from "@/components/CategoryIcon.astro";
import { currentPage } from "@/modules/currentPage";
import { getModuleMeta } from "@/helpers/getModuleMeta";
import { getCollectionPath } from "@/helpers/getCollectionPath";
import { byCategory, byOrder, byTitle } from "@/helpers/sortCollectionBy";
import { filterCollection } from "@/helpers/filterCollection";

interface Props {
  collection: CollectionKey;
  entry?: CollectionEntry<CollectionKey>;
}

const { collection, entry } = Astro.props;

// Store the module if that's what entry is
const module = entry?.collection === "modules" ? entry : undefined;

// Set the base entry and collection. Modules are always rendered as submenus
// of a package, so we never want to render them as the base collection navi.
const baseEntry = module ? undefined : entry;
const baseCollection = module ? "packages" : collection;

// Get all the collection entries of the current page
const entries = await getCollection(
  baseCollection,
  filterCollection(baseEntry)
);

// Sort packages by category, otherwise sort by title/order
if (baseCollection === "packages") {
  entries.sort(
    byCategory(["core", "modules", "layout", "form-control", "component"])
  );
} else {
  entries.sort(byTitle).sort(byOrder);
}

// Get the module meta if a module was provided
const moduleMeta = module ? getModuleMeta(module) : undefined;

// Setup the current page instance
const cp = currentPage(Astro.url.pathname, {
  classBase: "menu__action",
  classCurrent: "is-active"
});
---

<nav>
  <ul class="menu menu_collection">
    {
      entries.map((entry) => (
        <li class="menu__item">
          <a
            class={cp.classes(getCollectionPath(entry))}
            href={getCollectionPath(entry, moduleMeta?.group)}
          >
            <span class="flex-grow">{entry.data.title}</span>
            {"category" in entry.data && entry.data.category && (
              <CategoryIcon
                name={entry.data.category}
                tooltip="left"
                classes="icon_size_sm foreground-primary"
              />
            )}
          </a>
          {module && moduleMeta?.parent === entry.id && (
            <ModulesMenu {module} />
          )}
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import { drawers } from "../modules/useDrawer";

  document.querySelectorAll(".menu_collection .is-active").forEach((anchor) => {
    // Handles a navi click when we're already on the current page
    anchor.addEventListener("click", (event) => {
      event.preventDefault();

      // Clear the hash if one has been set
      if (window.location.hash) {
        const url = window.location.pathname + window.location.search;
        history.pushState({}, "", url);
        window.dispatchEvent(new Event("hashchange", { bubbles: true }));
      }

      // Scroll to the top of the page
      window.scrollTo(0, 0);

      // Close the modal drawer if open
      if (drawers?.activeModal?.id === "layout-sidebar") {
        drawers.activeModal.close();
      }
    });
  });
</script>
