<aside
  id="layout-aside"
  class="drawer drawer_aside drawer_switch"
  data-breakpoint="aside"
>
  <div class="drawer__dialog">
    <div class="drawer__container">
      <slot />
    </div>
  </div>
</aside>
