---
interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;
---

<aside
  id="layout-sidebar"
  class={`drawer drawer_sidebar ${classes}`.trim()}
  data-breakpoint="sidebar"
>
  <div class="drawer__dialog">
    <div class="drawer__container">
      <div class="drawer__mask"></div>
      <slot />
    </div>
  </div>
</aside>
