<div
  id="layout-sidebar"
  class="drawer drawer_sidebar"
  data-breakpoint="sidebar"
>
  <div class="drawer__dialog">
    <div class="drawer__container">
      <div class="drawer__mask"></div>
      <slot />
    </div>
  </div>
</div>
