---
import LogoIcon from "./LogoIcon.astro";

interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

---

<footer class={`footer ${classes}`.trim()}>
  <div class="flex flex-gap flex-wrap flex-align-center">
    <p class="flex-grow foreground-lighter">
      Vrembem is released under the MIT License.<br />
      Copyright 2024 Sebastian Nitu.
    </p>
    <a href="/" class="flex-none foreground-primary">
      <LogoIcon />
    </a>
  </div>
</footer>
