---
import LogoIcon from "@/components/LogoIcon.astro";

interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;
---

<footer class={`footer ${classes}`.trim()}>
  <div class="footer__content">
    <p>
      Vrembem is released under the MIT License.<br />
      Copyright 2026 Sebastian Nitu.
    </p>
  </div>
  <div class="footer__logo">
    <a href="/">
      <LogoIcon />
    </a>
  </div>
</footer>
