---
import LogoIcon from "./LogoIcon.astro";

interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

---

<footer class={`footer${classes ? " " + classes : ""}`}>
  <div class="grid grid_stack_xs">
    <div class="grid__item">
      <p class="foreground-lighter flex-grow-1">
        Vrembem is released under the MIT License.<br />
        Copyright 2024 Sebastian Nitu.
      </p>
    </div>
    <div class="grid__item span-auto">
      <a href="/" class="foreground-primary">
        <LogoIcon />
      </a>
    </div>
  </div>
</footer>
