---
import Navi from "@/components/Navi.astro";
import LogoIcon from "@/components/LogoIcon.astro";
import Modal from "@/components/Modal.astro";
import Popover from "@/components/Popover.astro";
import Icon from "@/components/Icon.astro";

interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;
---

<header class={`header ${classes}`.trim()}>
  <div class="header__container">
    <div class="header__title">
      <a class="skip-link button button--color-primary" href="#main">
        Skip to content
      </a>
      <a href="/" class="brand">
        <LogoIcon width={24} height={24} classes="brand__icon" />
        <strong class="brand__name">Vrembem</strong>
        <span class="brand__version">v4.0.0</span>
      </a>
    </div>
    <div class="header__menu">
      <Navi classes="display-none md:display-flex" inline />
      <Popover
        placement="left"
        triggerClass="button button--icon display-block md:display-none"
        data-modal-open="modal-navi"
      >
        <Fragment slot="trigger">
          <Icon name="menu" />
        </Fragment>
        <Fragment slot="tooltip">Menu</Fragment>
      </Popover>
    </div>
  </div>
</header>

<Modal id="modal-navi" classes="modal--pos-top modal--size-sm">
  <div class="panel__header">
    <h2 class="panel__title">Menu</h2>
    <button
      class="button button--size-sm padding-xs"
      data-modal-close=""
      type="button"
      aria-label="Close menu"
    >
      <Icon name="x" />
    </button>
  </div>
  <div class="panel__body">
    <Navi />
  </div>
</Modal>
