<aside
  id="layout-aside"
  class="drawer drawer_switch layout-aside"
  data-breakpoint="aside"
>
  <div class="drawer__dialog layout-aside__content">
    <slot />
  </div>
</aside>

<script>
  import { drawer } from "../modules/useDrawer";
  await drawer.register(await drawer.createEntry("layout-aside"));
</script>
