<div
  id="layout-sidebar"
  class="drawer layout-sidebar"
  data-breakpoint="sidebar"
>
  <div class="drawer__dialog layout-sidebar__content">
    <div class="layout-sidebar__mask"></div>
    <slot />
  </div>
</div>
