<aside
  id="layout-aside"
  class="layout-aside"
  data-breakpoint="76rem"
  data-config="{'classModal': 'is-modal'}"
>
  <div class="layout-aside__content">
    <slot />
  </div>
</aside>
<div class="layout-aside-screen" data-drawer-close="layout-aside"></div>

<script>
  import { drawer } from "../modules/useDrawer";
  await drawer.register(await drawer.createEntry("layout-aside"));
</script>
