<aside
  id="layout-drawer"
  class="layout-drawer"
  data-breakpoint="60rem"
  data-config="{'classModal': 'is-modal', 'store': false}"
>
  <div class="layout-drawer__mask"></div>
  <div class="layout-drawer__content">
    <slot />
  </div>
</aside>
<div class="layout__screen" data-drawer-close="layout-drawer"></div>

<script>
  import { drawer } from "../modules/useDrawer";
  const drawerElement = document.getElementById("layout-drawer");
  if (drawerElement) {
    const entry = await drawer.createEntry(drawerElement);
    const drawerItem = await drawer.register(entry);
    if (drawerItem.mode == "inline") {
      const active = drawerItem.dialog.querySelector(".is-active");
      if (active) {
        const space = window.innerHeight - active.offsetTop;
        if (space < 80) {
          active.scrollIntoView({ behavior: "instant", block: "center" });
        }
      }
    }
  }
</script>
