---
import { getCollection } from "astro:content";

const packages = await getCollection("packages");
---

<div class="gap-y">
  <h2>Components</h2>
  <ol class="menu">
    {
      packages.map((entry) => (
        <li class="menu__item">
          <a class="menu__action" href={`/packages/${entry.slug}`}>
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</div>
