---
import { getCollection } from "astro:content";

const packages = await getCollection("packages");
---

<ol class="menu">
  {
    packages.map((entry) => (
      <li class="menu__item">
        <a class="menu__action" href={`/packages/${entry.slug}`}>
          {entry.data.title}
        </a>
      </li>
    ))
  }
</ol>
