---
interface Props {
  id?: string;
  modalClass?: string;
  dialogClass?: string;
}

const { id, modalClass, dialogClass = 'dialog' } = Astro.props;
---

<div id={id} class={`modal ${modalClass}`.trim()}>
  <div class={`modal__dialog ${dialogClass}`.trim()} role="dialog" aria-modal="true">
    <slot />
  </div>
</div>

<script>
import '../modules/useModal';
</script>
