---
interface Props {
  id?: string;
  classes?: string;
  dialogClasses?: string;
}

const { id, classes, dialogClasses = "dialog" } = Astro.props;

---

<div id={id} class={`modal ${classes}`.trim()}>
  <div class={`modal__dialog ${dialogClasses}`.trim()} role="dialog" aria-modal="true">
    <slot />
  </div>
</div>

<script>
  import "../modules/useModal";
</script>
