---
import { currentPage } from "../modules/currentPage";
import ThemeSwitcherPopover from "./ThemeSwitcherPopover.astro";
import ThemeSwitcherMenu from "../components/ThemeSwitcherMenu.astro";
import Icon from "./Icon.astro";

interface Props {
  classes?: string;
  inline?: boolean;
}

const { classes = "", inline = false } = Astro.props;

let menuClasses = "menu";
menuClasses += inline ? " menu_inline" : "";
menuClasses += classes ? " " + classes : "";

const cp = currentPage(new URL(Astro.request.url).pathname, {
  classBase: "menu__action",
  classCurrent: "is-active",
  classParent: "is-active",
});
---

<ul class={menuClasses}>
  <li class="menu__item">
    <a class={cp.classes("/getting-started")} href="/getting-started"
      >Get Started</a
    >
  </li>
  <li class="menu__item">
    <a class={cp.classes("/packages")} href="/packages">Docs</a>
  </li>
  <li class="menu__item">
    <a
      class="menu__action"
      href="https://github.com/sebnitu/vrembem"
      target="_blank"
    >
      GitHub
      <Icon
        name="arrow-up-right"
        iconClass="icon_external"
      />
    </a>
  </li>
  <li class="menu__item">
    <a class="menu__action" href="#" target="_blank">
      Sponsor
      <Icon
        name="arrow-up-right"
        iconClass="icon_external"
      />
    </a>
  </li>
  {
    inline && (
      <li class={"menu__item margin-left-md"}>
        <ThemeSwitcherPopover />
      </li>
    )
  }
  {
    !inline && (
      <>
        <li class="menu__sep" />
        <li class="menu__item padding-x-md padding-y-sm font-weight-semi-bold">
          Switch Theme
        </li>
        <li class="menu__item">
          <ThemeSwitcherMenu />
        </li>
      </>
    )
  }
</ul>
