---
import ThemeSwitcherPopover from "@/components/ThemeSwitcherPopover.astro";
import ThemeSwitcherMenu from "@/components/ThemeSwitcherMenu.astro";
import Icon from "@/components/Icon.astro";

interface Props {
  classes?: string;
  inline?: boolean;
}

const { classes = "", inline = false } = Astro.props;

function actionClasses(path: string) {
  const classes = ["menu__action"];
  const pathname = Astro.url.pathname;
  if (pathname === path || pathname.startsWith(path)) classes.push("is-active");
  return classes.join(" ");
}
---

<ul class={`menu ${inline ? "menu--inline" : ""} ${classes}`.trim()}>
  <li class="menu__item">
    <a class={actionClasses("/guide")} href="/guide">Guide</a>
  </li>
  <li class="menu__item">
    <a class={actionClasses("/packages")} href="/packages/vrembem">Packages</a>
  </li>
  <li class="menu__item">
    <a
      class="menu__action gap-x-xs"
      href="https://github.com/sebnitu/vrembem"
      target="_blank"
    >
      GitHub
      <Icon name="arrow-up-right" classes="icon_external" />
    </a>
  </li>
  <li class="menu__item">
    <a class="menu__action gap-x-xs" href="#" target="_blank">
      Sponsor
      <Icon name="arrow-up-right" classes="icon_external" />
    </a>
  </li>
  <li class="menu__sep"></li>
  {
    inline ? (
      <li class="menu__item">
        <ThemeSwitcherPopover />
      </li>
    ) : (
      <li class="menu__item">
        <h3 class="menu__label padding-y-sm">Switch Theme</h3>
        <ThemeSwitcherMenu />
      </li>
    )
  }
</ul>
