---
import Icon from "../components/Icon.vue";

interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;
---

<ul class={`menu${classes ? " " + classes : ""}`}>
  <li class="menu__item">
    <a class="menu__action" href="/getting-started">Get Started</a>
  </li>
  <li class="menu__item"><a class="menu__action" href="/packages">Docs</a></li>
  <li class="menu__item">
    <a
      class="menu__action"
      href="https://github.com/sebnitu/vrembem"
      target="_blank"
    >
      GitHub
      <Icon
        name="arrow-up-right"
        rootClass="display-inline"
        iconClass="icon_external"
      />
    </a>
  </li>
  <li class="menu__item">
    <a class="menu__action" href="#" target="_blank">
      Sponsor
      <Icon
        name="arrow-up-right"
        rootClass="display-inline"
        iconClass="icon_external"
      />
    </a>
  </li>
  <li class="menu__sep"></li>
  <li class="menu__item">
    <button class="menu__action menu__action_icon">
      <Icon name="moon" />
    </button>
  </li>
</ul>
