---
import { currentPage } from "../modules/currentPage";
import ThemeSwitcherPopover from "./ThemeSwitcherPopover.astro";
import ThemeSwitcherMenu from "../components/ThemeSwitcherMenu.astro";
import Icon from "./Icon.astro";

interface Props {
  classes?: string;
  inline?: boolean;
}

const { classes = "", inline = false } = Astro.props;

const cp = currentPage(Astro.url.pathname, {
  classBase: "menu__action",
  classCurrent: "is-active",
  classParent: "is-active"
});
---

<ul class={`menu ${inline ? "menu_inline" : ""} ${classes}`.trim()}>
  <li class="menu__item">
    <a class={cp.classes("/getting-started")} href="/getting-started"
      >Get Started</a
    >
  </li>
  <li class="menu__item">
    <a class={cp.classes("/packages")} href="/packages">Packages</a>
  </li>
  <li class="menu__item">
    <a
      class="menu__action gap-x-xs"
      href="https://github.com/sebnitu/vrembem"
      target="_blank"
    >
      GitHub
      <Icon name="arrow-up-right" classes="icon_external" />
    </a>
  </li>
  <li class="menu__item">
    <a class="menu__action gap-x-xs" href="#" target="_blank">
      Sponsor
      <Icon name="arrow-up-right" classes="icon_external" />
    </a>
  </li>
  {
    inline && (
      <li class={"menu__item margin-left-md"}>
        <ThemeSwitcherPopover />
      </li>
    )
  }
  {
    !inline && (
      <>
        <li class="menu__sep" />
        <li class="menu__item padding-x-md padding-y-sm font-weight-semi-bold">
          Switch Theme
        </li>
        <li class="menu__item">
          <ThemeSwitcherMenu />
        </li>
      </>
    )
  }
</ul>
