---
import Navi from "../components/Navi.astro";
import LogoIcon from "./LogoIcon.astro";
import Modal from "./Modal.astro";
import Icon from "./Icon.astro";

interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

---

<header class={`navibar${classes ? " " + classes : ""}`}>
  <div class="navibar__container">
    <div class="navibar__title">
      <a href="/" class="brand">
        <LogoIcon width={24} height={24} classes="brand__icon" />
        <strong class="brand__name">Vrembem</strong>
        <span class="brand__version">v4.0.0</span>
      </a>
    </div>
    <div class="navibar__menu">
      <Navi classes="display-none display-flex-md" inline={true} />
      <button
        data-modal-open="modal-navi"
        class="button button_icon display-block display-none-md"
      >
        <Icon name="menu" />
      </button>
    </div>
  </div>
</header>

<Modal id="modal-navi" modalClass="modal_pos_top">
  <div class="dialog__header">
    <h2 class="dialog__title">Menu</h2>
    <button data-modal-close class="button button_icon dialog__close">
      <Icon name="x" />
    </button>
  </div>
  <div class="dialog__body">
    <Navi />
  </div>
</Modal>
