---
import OnThisPageList from "./OnThisPageList.astro";
const { headings } = Astro.props;

// Filter out the h1 and pass the filtered headings array to build.
const otp = build(headings.filter((item) => item.depth != 1));

function build(headings) {
  const otp = [];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    // Change depth to 1 if your markdown includes your <h1>, else set to 2.
    const depth = 2;
    if (heading.depth === depth) {
      otp.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });
  return otp;
}
---

<nav class="otp">
  { 
    !!otp.length && (
      <h2 class="otp__heading">On this page</h2>
      <ul class="otp__list">
        {otp.map((item) => <OnThisPageList {item} />)}
      </ul>
    )
  }
</nav>
