---
import OnThisPageList from "./OnThisPageList.astro";

const { headings, menuClass } = Astro.props;

// Filter the headings to only display the ones we want.
const otp = build(headings.filter((item) => item.depth === 2));

function build(headings) {
  const otp = [];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    // Change depth to 1 if your markdown includes your <h1>, else set to 2.
    const depth = 2;
    if (heading.depth === depth) {
      otp.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });
  return otp;
}
---

<nav>
  { 
    !!otp.length && (
      <h2 class="padding padding-y-sm">On this page</h2>
      <ul class={`menu${menuClass ? " " + menuClass : ""}`}>
        {otp.map((item) => <OnThisPageList {item} />)}
      </ul>
    )
  }
</nav>
