---
import { config } from "@/navi.config";
import { buildNaviFromConfig } from "@/modules/navigation";

const { prev, next } = await buildNaviFromConfig(
  config.sidebar,
  Astro.url.pathname
);
---

{
  (prev || next) && (
    <div class="pagi">
      <div class="pagi__prev">
        {prev && (
          <a class="pagi__link" href={prev.link}>
            <div class="pagi__label">Previous</div>
            <div class="pagi__title">{prev.label}</div>
          </a>
        )}
      </div>
      <div class="pagi__next">
        {next && (
          <a class="pagi__link" href={next.link}>
            <div class="pagi__label">Next</div>
            <div class="pagi__title">{next.label}</div>
          </a>
        )}
      </div>
    </div>
  )
}
