---
interface Props {
  type: string;
  defaults?: string;
}

const {type, defaults} = Astro.props;
---

<div class="flex justify-content-between align-items-center">
  <p>
    <strong>Type:</strong>
    <code class="margin-left-sm">{type}</code>
  </p>
  {
    defaults && (
      <p>
        <strong>Default:</strong>
        <code class="margin-left-sm">{defaults}</code>
      </p>
    )
  }
</div>
