---
interface Props {
  type?: string;
  returns?: string;
  defaults?: string;
  selector?: string;
  readonly?: boolean;
}

const { type, defaults, returns, readonly, selector } = Astro.props;
---

<div class="flex justify-content-between align-items-center">
  {
    type && (
      <p>
        <strong>Type:</strong>
        <span class="margin-left-sm">
          {readonly && <span>readonly</span>}
          <code>{type}</code>
        </span>
      </p>
    )
  }
  {
    selector && (
      <p>
        <strong>Selector:</strong>
        <span class="margin-left-sm">
          <code>{selector}</code>
        </span>
      </p>
    )
  }
  {
    returns && (
      <p>
        <strong>Returns:</strong>
        <span class="margin-left-sm">
          <code>{returns}</code>
        </span>
      </p>
    )
  }
  {
    defaults && (
      <p>
        <strong>Default:</strong>
        <span class="margin-left-sm">
          <code>{defaults}</code>
        </span>
      </p>
    )
  }
  <slot />
</div>
