---
import Icon from "@/components/Icon.astro";
---

<ul class="menu menu_themes">
  <li class="menu__item">
    <button type="button" data-set-theme="auto" class="menu__action">
      <svg
        class="icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="12" cy="12" r="9" stroke="currentcolor" stroke-width="1.75"
        ></circle>
        <path
          d="M3 12C3 16.9706 7.02944 21 12 21V3C7.02944 3 3 7.02944 3 12Z"
          fill="currentcolor"></path>
      </svg>
      <span>OS Default</span>
    </button>
  </li>
  <li class="menu__item">
    <button type="button" data-set-theme="light" class="menu__action">
      <Icon name="sun" />
      <span>Light</span>
    </button>
  </li>
  <li class="menu__item">
    <button type="button" data-set-theme="dark" class="menu__action">
      <Icon name="moon" />
      <span>Dark</span>
    </button>
  </li>
</ul>

<script>
  import { themeStore } from "@vrembem/core";
  import { popovers } from "../modules/usePopover";

  const btns: NodeListOf<HTMLButtonElement> =
    document.querySelectorAll("[data-set-theme]");

  themeStore({
    onInit() {
      btns.forEach((btn) => {
        toggleState.call(this, btn);
        btn.addEventListener("click", () => {
          this.theme = btn.getAttribute("data-set-theme");
          popovers.close("popover-theme-switcher");
        });
      });
    },
    onChange() {
      btns.forEach((btn) => {
        toggleState.call(this, btn);
      });
    }
  });

  function toggleState(btn: HTMLButtonElement) {
    btn.getAttribute("data-set-theme") === this.theme
      ? btn.classList.add("is-active")
      : btn.classList.remove("is-active");
  }
</script>
