---
import Icon from "./Icon.astro";
---

<ul class="menu menu_themes">
  <li class="menu__item">
    <button type="button" data-set-theme="root" class="menu__action">
      <svg class="icon icon_style_fill" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 12C21 7.36745 17.5 3.55237 13 3.05493L13 20.9451C17.4999 20.4476 21 16.6326 21 12ZM12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 0.999999 18.0751 1 12C1 5.92487 5.92487 0.999999 12 1Z" fill="currentColor" />
      </svg>
      <span>OS Default</span>
    </button>
  </li>
  <li class="menu__item">
    <button type="button" data-set-theme="light" class="menu__action">
      <Icon name="sun" />
      <span>Light</span>
    </button>
  </li>
  <li class="menu__item">
    <button type="button" data-set-theme="dark" class="menu__action">
      <Icon name="moon" />
      <span>Dark</span>
    </button>
  </li>
</ul>

<script>
  import { themeStore } from "@vrembem/core";
  import { popover } from "../modules/usePopover";

  const btns = document.querySelectorAll("[data-set-theme]");

  themeStore({
    onInit() {
      btns.forEach((btn) => {
        toggleState.call(this, btn);
        btn.addEventListener("click", () => {
          this.theme = btn.getAttribute("data-set-theme");
          popover.close("popover-theme-switcher");
        });
      });
    },
    onChange() {
      btns.forEach((btn) => {
        toggleState.call(this, btn);
      });
    }
  });

  function toggleState(btn) {
    btn.getAttribute("data-set-theme") === this.theme
      ? btn.classList.add("is-active")
      : btn.classList.remove("is-active");
  }

</script>
