---
import Icon from "../components/Icon.vue";

interface Props {
  drawer?: boolean;
  aside?: boolean;
}

const { drawer = false, aside = false } = Astro.props;
---

{
  (drawer || aside) && (
    <div class="toolbar">
      <div class="clearfix">
        {drawer && (
          <button
            data-drawer-open="layout-drawer"
            class="button padding-left-sm float-left"
          >
            <Icon name="arrow-left" iconClass="icon_size_sm" />
            <span>Menu</span>
          </button>
        )}
        {aside && (
          <button
            data-drawer-open="layout-aside"
            class="button button_icon float-right"
          >
            <Icon name="compass" />
          </button>
        )}
      </div>
    </div>
  )
}
