---
import Icon from "@/components/Icon.astro";

interface Props {
  layout: {
    hasSidebar: boolean;
    hasAside: boolean;
  };
}

const { layout } = Astro.props;
---

{
  (layout.hasSidebar || layout.hasAside) && (
    <div class="toolbar">
      <div class="clearfix">
        {layout.hasSidebar && (
          <button
            data-drawer-open="layout-sidebar"
            class="button padding-left-sm float-left"
          >
            <Icon name="package" />
            <span>Packages</span>
          </button>
        )}
        {layout.hasAside && (
          <button
            data-drawer-open="layout-aside"
            class="button padding-right-sm float-right"
          >
            <span>On this page</span>
            <Icon name="compass" />
          </button>
        )}
      </div>
    </div>
  )
}
