---
import Icon from "./Icon.astro";

interface Props {
  layout?: {
    hasAside?: boolean;
    hasDrawer?: boolean;
  };
}

const { layout } = Astro.props;

const hasAsideOrDrawer = layout.hasAside || layout.hasDrawer;
---

{
  hasAsideOrDrawer && (
    <div class="toolbar">
      <div class="clearfix">
        {layout.hasDrawer && (
          <button
            data-drawer-open="layout-drawer"
            class="button padding-left-sm float-left"
          >
            <Icon name="package" />
            <span>Packages</span>
          </button>
        )}
        {layout.hasAside && (
          <button
            data-drawer-open="layout-aside"
            class="button padding-right-sm float-right"
          >
            <span>On this page</span>
            <Icon name="compass" />
          </button>
        )}
      </div>
    </div>
  )
}
