---
import Icon from "@/components/Icon.astro";

interface Props {
  layout: {
    hasAside: boolean;
    hasSidebar: boolean;
  };
}

const { layout } = Astro.props;
---

{
  (layout.hasSidebar || layout.hasAside) && (
    <div class="toolbar">
      {layout.hasSidebar && (
        <button data-drawer-open="layout-sidebar" class="button">
          <Icon name="sidebar" classes="icon--size-sm" />
          <span class="text-capitalize">Sidebar</span>
        </button>
      )}
      {layout.hasAside && (
        <button data-drawer-open="main-aside" class="button margin-left-auto">
          <span>On this page</span>
          <Icon name="map-pin" classes="icon--size-sm" />
        </button>
      )}
    </div>
  )
}
