---
import Icon from "../components/Icon.vue";
import { $layout } from "../modules/useLayoutStore";

const hasAsideOrDrawer = $layout.get().hasDrawer || $layout.get().hasAside;
---

{
  hasAsideOrDrawer && (
    <div class="toolbar">
      <div class="clearfix">
        {$layout.get().hasDrawer && (
          <button
            data-drawer-open="layout-drawer"
            class="button padding-left-sm float-left"
          >
            <Icon name="package" />
            <span>Packages</span>
          </button>
        )}
        {$layout.get().hasAside && (
          <button
            data-drawer-open="layout-aside"
            class="button padding-right-sm float-right"
          >
            <span>On this page</span>
            <Icon name="compass" />
          </button>
        )}
      </div>
    </div>
  )
}
