---
const { name, value, type = "string", description } = Astro.props;
---

<div class="card">
  <div class="card__body gap-y-xs">
    <p class="card__title"><code>{name}</code></p>
    {description && <p>{description}</p>}
    {type && <p>Type: {type}</p>}
    {value && <p>Default: {value}</p>}
    {
      Astro.slots.has("default") && (
        <>
          <p>Default:</p>
          <div class="margin-top-md">
            <slot />
          </div>
        </>
      )
    }
  </div>
</div>
