<!-- Modifier classes: demo_row demo_medium_row -->
<div class="demo">
  <div class="demo__render">
    <!-- RENDER EXAMPLE -->
  </div><!-- .demo__render -->
  <div class="demo__code">
    <!-- CODE EXAMPLE -->
  </div><!-- .demo__code -->
</div><!-- .demo -->
