<div class="navbar__container container">
  <div class="navbar__item">
    <ul class="menu menu_theme_inverted">
      <li class="menu__item">
        <a href="<%= baseurl %>index.html" class="page__button menu__link menu__link_icon">
          <svg role="img" class="icon"><use xlink:href="#arrow-left"></use></svg>
        </a>
      </li>
      <li class="menu__sep"></li>
      <li class="menu__item">
        <span class="menu__text"><%= title %></span>
      </li>
    </ul>
  </div>
  <div class="navbar__item">
    <a href="https://github.com/sebnitu/vrembem" class="page__button button button_icon button_color_inverted">
      <svg role="img" class="icon"><use xlink:href="#github"></use></svg>
    </a>
  </div>
</div>
