@use "@vrembem/core";
@use "./variables" as var;

.#{var.$prefix-block}level {
  @include core.flex-gap(var.$gap);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & + & {
    margin-top: 0;
  }

  > * {
    flex: 0 0 auto;
    max-width: 100%;
  }
}
