@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

@each $key, $value in var.$gap-map {
  .#{$_b}level#{$_m}gap#{$_v}#{$key} {
    @include core.flex-gap($value);

    > * {
      @if ($value > 0) {
        max-width: calc(100% - #{$value});
      } @else {
        max-width: 100%;
      }
    }
  }

  .#{$_b}level#{$_m}gap-x#{$_v}#{$key} {
    @include core.flex-gap($value, 'x');

    > * {
      @if ($value > 0) {
        max-width: calc(100% - #{$value});
      } @else {
        max-width: 100%;
      }
    }
  }

  .#{$_b}level#{$_m}gap-y#{$_v}#{$key} {
    @include core.flex-gap($value, 'y');
  }
}
