@use "@vrembem/core";
@use "./variables" as var;

@each $key, $value in var.$gap-map {
  #{core.bem("level", null, "gap", $key)} {
    gap: $value;
  }

  #{core.bem("level", null, "gap-x", $key)} {
    column-gap: $value;
  }

  #{core.bem("level", null, "gap-y", $key)} {
    row-gap: $value;
  }
}
