@use "./variables";

.level {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: (variables.$gap * -1);
  margin-left: (variables.$gap * -1);

  > * {
    flex: 0 0 auto;
    margin-top: variables.$gap;
    margin-left: variables.$gap;
  }
}
