@import 'variables';

.section_flush_top {
  padding-top: 0;
}

.section_flush_left {
  padding-left: 0;
}

.section_flush_right {
  padding-right: 0;
}

.section_flush_bottom {
  padding-bottom: 0;
}
