@import "@vrembem/core/index";

$modal-zindex: 1000 !default;
$modal-width: 38em !default;
$modal-width-sm: 18em !default;
$modal-width-lg: 56em !default;
$modal-travel: 5em !default;
$modal-background: $night !default;
$modal-transition-duration: $transition-duration !default;
$modal-transition-timing-function: $transition-timing-function !default;

$modal_aside-width: 16em !default;
$modal_aside-max-width: 90% !default;
$modal__dialog-box-shadow: $box-shadow-24dp !default;
