$modal-zindex: 1000 !default;
$modal-width: 38em !default;
$modal-width-sm: 18em !default;
$modal-width-lg: 56em !default;
$modal-travel: 5em !default;
$modal-background: $dark !default;
$modal-transition-duration: 0.5s !default;
$modal-width-aside: 16em !default;
$modal-max-width-aside: 90% !default;

$modal__dialog-box-shadow: $box-shadow-24dp !default;
