@import "variables";

.modal_pos_top {
  justify-content: flex-start;
}

.modal_pos_bottom {
  justify-content: flex-end;

  .modal__dialog {
    transform: translateY($modal-travel);
  }
}

.modal_pos_left,
.modal_pos_right {
  .modal__dialog {
    border: none;
    border-radius: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    max-width: $modal-max-width-aside;
    opacity: 1;
    position: absolute;
    top: 0;
    width: $modal-width-aside;
  }
}

.modal_pos_left .modal__dialog {
  left: 0;
  transform: translateX(-100%);
}

.modal_pos_right .modal__dialog {
  right: 0;
  transform: translateX(100%);
}
