@import "variables";

.modal {
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: rgba($modal-background, 0);
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color $modal-transition-duration, width 0s $modal-transition-duration, height 0s $modal-transition-duration, padding 0s $modal-transition-duration;
  width: 0;
  z-index: $modal-zindex;
}

.modal__dialog {
  box-shadow: $box-shadow-flat;
  max-width: 100%;
  opacity: 0;
  transform: translateY(-$modal-travel);
  visibility: hidden;
  width: $modal-width;
  z-index: 1001;
}

// Remove outline on focused items with tabindex of "-1"
[tabindex="-1"]:focus {
  outline: 0 !important;
}

.modal.is-active {
  background-color: rgba($modal-background, 0.75);
  height: 100%;
  padding: 1em;
  transition: background-color $modal-transition-duration;
  width: 100%;

  .modal__dialog {
    box-shadow: $modal__dialog-box-shadow;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@include media-min("medium") {
  .modal.is-active {
    padding: 2em;
  }
}
