@import "./variables";

.modal_full {
  .modal__dialog {
    width: 100%;
    height: 100%;
    transform: scale(0.75);
  }

  &.is-open .modal__dialog,
  &.is-opening .modal__dialog {
    transform: scale(1);
  }

  &.is-closing .modal__dialog {
    transform: scale(0.7);
  }
}
