@import "./variables";

.modal {
  position: fixed;
  z-index: $modal-zindex;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: background-color $modal-transition-duration $modal-transition-timing-function;
  background-color: rgba($modal-background, 0);
}

.modal__dialog {
  width: $modal-width;
  max-width: 100%;
  transform: translateY(-$modal-travel);
  box-shadow: $modal__dialog-box-shadow;
  opacity: 0;
}

.modal.is-opening,
.modal.is-open,
.modal.is-closing {
  width: 100%;
  height: 100%;
  padding: 1em;

  @include media-min("medium") {
    padding: 2em;
  }
}

.modal.is-opening {
  z-index: ($modal-zindex + 1);
  background-color: rgba($modal-background, 0.75);

  .modal__dialog {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal.is-open {
  z-index: $modal-zindex;
  background-color: rgba($modal-background, 0.75);

  .modal__dialog {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal.is-closing {
  z-index: ($modal-zindex - 1);

  .modal__dialog {
    transform: translateY(-$modal-travel);
  }
}
