@import "variables";

.modal_full .modal__dialog {
  border: none;
  border-radius: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-$modal-travel);
  width: 100%;
}
