@use "@vrembem/core";
@use "./variables";

.modal {
  position: fixed;
  z-index: variables.$zindex;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(variables.$background, 0);
}

.modal__dialog {
  width: variables.$width;
  max-width: 100%;
  transform: translateY(-(variables.$travel));
  box-shadow: variables.$dialog-box-shadow;
  opacity: 0;
}

/**
 * Modal state classes
 */

.modal.is-opening,
.modal.is-open,
.modal.is-closing {
  width: 100%;
  height: 100%;
  padding: 1em;

  @include core.media-min("medium") {
    padding: 2em;
  }
}

.modal.is-opening,
.modal.is-closing {
  transition: background-color variables.$transition-duration variables.$transition-timing-function;

  .modal__dialog {
    transition-property: opacity, transform;
    transition-duration: variables.$transition-duration;
    transition-timing-function: variables.$transition-timing-function;
  }
}

.modal.is-opening,
.modal.is-open {
  background-color: rgba(variables.$background, variables.$background-alpha);

  .modal__dialog {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal.is-opening {
  z-index: (variables.$zindex + 1);
}

.modal.is-open {
  z-index: variables.$zindex;
}

.modal.is-closing {
  z-index: (variables.$zindex - 1);

  .modal__dialog {
    transform: translateY(-(variables.$travel));
  }
}
