@use "sass:map";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "./variables" as var;

$_v: var.$prefix-variable;
$_u: var.$prefix-utility;
$_c: var.$class-background;

@if (var.$output-background) {
  .#{$_u}#{$_c}-clip-border {
    background-clip: border-box !important;
  }

  .#{$_u}#{$_c}-clip-content {
    background-clip: content-box !important;
  }

  .#{$_u}#{$_c}-clip-padding {
    background-clip: padding-box !important;
  }

  .#{$_u}#{$_c} {
    background-color: css.get("background") !important;
  }

  .#{$_u}#{$_c}-dark {
    background-color: css.get("background-dark") !important;
  }

  .#{$_u}#{$_c}-darker {
    background-color: css.get("background-darker") !important;
  }

  .#{$_u}#{$_c}-black {
    background-color: black !important;
  }

  .#{$_u}#{$_c}-white {
    background-color: white !important;
  }

  .#{$_u}#{$_c}-transparent {
    background-color: transparent !important;
  }

  @each $name in map.keys(palette.get("seeds")) {
    .#{$_u}#{$_c}-#{$name} {
      background-color: palette.get($name) !important;
    }
    @each $value in palette.$lightness-range {
      .#{$_u}#{$_c}-#{$name}-#{$value} {
        background-color: palette.get($name, $value) !important;
      }
    }
  }
}
