@use "@vrembem/core";
@use "./variables" as var;

$_v: var.$prefix-variable;
$_u: var.$prefix-utility;
$_c: var.$class-background;

@if (var.$output-background) {
  .#{$_u}#{$_c} {
    background-color: core.$background !important;
  }

  .#{$_u}#{$_c}-dark {
    background-color: core.$background-dark !important;
  }

  .#{$_u}#{$_c}-darker {
    background-color: core.$background-darker !important;
  }

  .#{$_u}#{$_c}-black {
    background-color: core.$black !important;
  }

  .#{$_u}#{$_c}-white {
    background-color: core.$white !important;
  }

  @each $key, $map in core.$color-map {
    @each $num, $value in $map {
      .#{$_u}#{$_c}-#{$key}-#{$num} {
        background-color: $value !important;
      }
    }
    .#{$_u}#{$_c}-#{$key} {
      background-color: var(--#{$_v}#{$key}) !important;
    }
  }

  .#{$_u}#{$_c}-clip-border {
    background-clip: border-box !important;
  }

  .#{$_u}#{$_c}-clip-content {
    background-clip: content-box !important;
  }

  .#{$_u}#{$_c}-clip-padding {
    background-clip: padding-box !important;
  }
}
