@use "@vrembem/core/css";
@use "./variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-border;

@if (var.$output-border) {
  .#{$_u}#{$_c} {
    border: css.get("border") !important;
  }

  .#{$_u}#{$_c}-top {
    border-top: css.get("border") !important;
  }

  .#{$_u}#{$_c}-bottom {
    border-bottom: css.get("border") !important;
  }

  .#{$_u}#{$_c}-left {
    border-left: css.get("border") !important;
  }

  .#{$_u}#{$_c}-right {
    border-right: css.get("border") !important;
  }

  .#{$_u}#{$_c}-none {
    border: 0 !important;
  }

  .#{$_u}#{$_c}-top-none {
    border-top: 0 !important;
  }

  .#{$_u}#{$_c}-bottom-none {
    border-bottom: 0 !important;
  }

  .#{$_u}#{$_c}-left-none {
    border-left: 0 !important;
  }

  .#{$_u}#{$_c}-right-none {
    border-right: 0 !important;
  }

  .#{$_u}#{$_c}-color-dark {
    border-color: css.get("border-color-dark") !important;
  }

  .#{$_u}#{$_c}-color-darker {
    border-color: css.get("border-color-darker") !important;
  }

  .#{$_u}#{$_c}-color-transparent {
    border-color: transparent !important;
  }
}
