@use "@vrembem/core";
@use "./variables";

.#{variables.$class-border-radius} {
  border-radius: core.$border-radius !important;
}

.#{variables.$class-border-radius}_square {
  border-radius: 0 !important;
}

.#{variables.$class-border-radius}_circle {
  border-radius: core.$border-radius-circle !important;
}
