@use "@vrembem/core";
@use "./variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-border-radius;

@if (var.$class-border-radius) {
  .#{$_u}#{$_c} {
    border-radius: core.$border-radius !important;
  }

  .#{$_u}#{$_c}-square {
    border-radius: 0 !important;
  }

  .#{$_u}#{$_c}-circle {
    border-radius: core.$border-radius-circle !important;
  }
}
