@use "@vrembem/core";
@use "./variables" as var;

.#{var.$class-border-radius} {
  border-radius: core.$border-radius !important;
}

.#{var.$class-border-radius}_square {
  border-radius: 0 !important;
}

.#{var.$class-border-radius}_circle {
  border-radius: core.$border-radius-circle !important;
}
