@use "@vrembem/core";
@use "./variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-box-shadow;

@if (var.$output-box-shadow) {
  .#{$_u}#{$_c} {
    box-shadow: core.$shadow !important;
  }

  .#{$_u}#{$_c}-1 {
    box-shadow: core.$shadow-1 !important;
  }

  .#{$_u}#{$_c}-2 {
    box-shadow: core.$shadow-2 !important;
  }

  .#{$_u}#{$_c}-3 {
    box-shadow: core.$shadow-3 !important;
  }

  .#{$_u}#{$_c}-4 {
    box-shadow: core.$shadow-4 !important;
  }

  .#{$_u}#{$_c}-5 {
    box-shadow: core.$shadow-5 !important;
  }
}
