@use "@vrembem/core";
@use "./variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-color;

@if (var.$output-color) {
  .#{$_u}#{$_c} {
    color: core.$color !important;
  }

  .#{$_u}#{$_c}-subtle {
    color: core.$color-subtle !important;
  }

  .#{$_u}#{$_c}-invert {
    color: core.$color-invert !important;
  }

  .#{$_u}#{$_c}-invert-subtle {
    color: core.$color-invert-subtle !important;
  }

  .#{$_u}#{$_c}-black {
    color: core.$black !important;
  }

  .#{$_u}#{$_c}-white {
    color: core.$white !important;
  }

  .#{$_u}#{$_c}-transparent {
    color: transparent !important;
  }

  .#{$_u}#{$_c}-primary-lighter {
    color: core.$primary-lighter !important;
  }

  .#{$_u}#{$_c}-primary-light {
    color: core.$primary-light !important;
  }

  .#{$_u}#{$_c}-primary {
    color: core.$primary !important;
  }

  .#{$_u}#{$_c}-primary-dark {
    color: core.$primary-dark !important;
  }

  .#{$_u}#{$_c}-primary-darker {
    color: core.$primary-darker !important;
  }

  .#{$_u}#{$_c}-secondary-lighter {
    color: core.$secondary-lighter !important;
  }

  .#{$_u}#{$_c}-secondary-light {
    color: core.$secondary-light !important;
  }

  .#{$_u}#{$_c}-secondary {
    color: core.$secondary !important;
  }

  .#{$_u}#{$_c}-secondary-dark {
    color: core.$secondary-dark !important;
  }

  .#{$_u}#{$_c}-secondary-darker {
    color: core.$secondary-darker !important;
  }

  .#{$_u}#{$_c}-shade-light {
    color: core.$shade_light !important;
  }

  .#{$_u}#{$_c}-shade {
    color: core.$shade !important;
  }

  .#{$_u}#{$_c}-shade-dark {
    color: core.$shade_dark !important;
  }

  .#{$_u}#{$_c}-night-light {
    color: core.$night_light !important;
  }

  .#{$_u}#{$_c}-night {
    color: core.$night !important;
  }

  .#{$_u}#{$_c}-night-dark {
    color: core.$night_dark !important;
  }

  .#{$_u}#{$_c}-info-lighter {
    color: core.$info-lighter !important;
  }

  .#{$_u}#{$_c}-info-light {
    color: core.$info-light !important;
  }

  .#{$_u}#{$_c}-info {
    color: core.$info !important;
  }

  .#{$_u}#{$_c}-info-dark {
    color: core.$info-dark !important;
  }

  .#{$_u}#{$_c}-info-darker {
    color: core.$info-darker !important;
  }

  .#{$_u}#{$_c}-success-lighter {
    color: core.$success-lighter !important;
  }

  .#{$_u}#{$_c}-success-light {
    color: core.$success-light !important;
  }

  .#{$_u}#{$_c}-success {
    color: core.$success !important;
  }

  .#{$_u}#{$_c}-success-dark {
    color: core.$success-dark !important;
  }

  .#{$_u}#{$_c}-success-darker {
    color: core.$success-darker !important;
  }

  .#{$_u}#{$_c}-caution-lighter {
    color: core.$caution-lighter !important;
  }

  .#{$_u}#{$_c}-caution-light {
    color: core.$caution-light !important;
  }

  .#{$_u}#{$_c}-caution {
    color: core.$caution !important;
  }

  .#{$_u}#{$_c}-caution-dark {
    color: core.$caution-dark !important;
  }

  .#{$_u}#{$_c}-caution-darker {
    color: core.$caution-darker !important;
  }

  .#{$_u}#{$_c}-danger-lighter {
    color: core.$danger-lighter !important;
  }

  .#{$_u}#{$_c}-danger-light {
    color: core.$danger-light !important;
  }

  .#{$_u}#{$_c}-danger {
    color: core.$danger !important;
  }

  .#{$_u}#{$_c}-danger-dark {
    color: core.$danger-dark !important;
  }

  .#{$_u}#{$_c}-danger-darker {
    color: core.$danger-darker !important;
  }
}
