@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;
$_c: var.$class-display;

@each $property in var.$display-properties {
  .#{$_b}#{$_c}#{$_m}#{$property} {
    display: $property !important;
  }
}

@each $key, $value in core.$breakpoints {
  @include core.media-min($key) {
    @each $property in var.$display-properties {
      .#{$_b}#{$_c}#{$_m}#{$property}#{$_v}#{$key} {
        display: $property !important;
      }
    }
  }
}
