@use "./variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-flex;

@if (var.$output-flex) {
  .#{$_u}#{$_c} {
    display: flex !important;
  }

  .#{$_u}#{$_c}-inline {
    display: inline-flex !important;
  }

  // flex-direction-[key]

  .#{$_u}#{$_c}-direction-row {
    flex-direction: row !important;
  }

  .#{$_u}#{$_c}-direction-row-reverse {
    flex-direction: row-reverse !important;
  }

  .#{$_u}#{$_c}-direction-column {
    flex-direction: column !important;
  }

  .#{$_u}#{$_c}-direction-column-reverse {
    flex-direction: column-reverse !important;
  }

  // flex-wrap

  .#{$_u}#{$_c}-nowrap {
    flex-wrap: nowrap !important;
  }

  .#{$_u}#{$_c}-wrap {
    flex-wrap: wrap !important;
  }

  .#{$_u}#{$_c}-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  // flex-justify-[key]

  .#{$_u}#{$_c}-justify-start {
    justify-content: flex-start !important;
  }

  .#{$_u}#{$_c}-justify-center {
    justify-content: center !important;
  }

  .#{$_u}#{$_c}-justify-end {
    justify-content: flex-end !important;
  }

  .#{$_u}#{$_c}-justify-between {
    justify-content: space-between !important;
  }

  .#{$_u}#{$_c}-justify-around {
    justify-content: space-around !important;
  }

  .#{$_u}#{$_c}-justify-evenly {
    justify-content: space-evenly !important;
  }

  // flex-align-[key]

  .#{$_u}#{$_c}-align-start {
    align-items: flex-start !important;
  }

  .#{$_u}#{$_c}-align-center {
    align-items: center !important;
  }

  .#{$_u}#{$_c}-align-end {
    align-items: flex-end !important;
  }

  .#{$_u}#{$_c}-align-stretch {
    align-items: stretch !important;
  }

  .#{$_u}#{$_c}-align-baseline {
    align-items: baseline !important;
  }

  // flex-items-[key]

  .#{$_u}#{$_c}-items-equal {
    > * {
      flex: 1 1 0 !important;
    }
  }

  .#{$_u}#{$_c}-items-auto {
    > * {
      flex: 0 0 auto !important;
    }
  }

  .#{$_u}#{$_c}-items-fill {
    > * {
      flex: 1 0 auto !important;
    }
  }

  // flex-order-[key]

  @for $i from 1 through var.$flex-order-count {
    .#{$_u}#{$_c}-order-#{$i} {
      order: $i !important;
    }
  }

  // flex-grow-[key]

  @for $i from 0 through var.$flex-grow-count {
    .#{$_u}#{$_c}-grow-#{$i} {
      flex-grow: $i !important;
    }
  }

  // flex-shrink-[key]

  @for $i from 0 through var.$flex-shrink-count {
    .#{$_u}#{$_c}-shrink-#{$i} {
      flex-shrink: $i !important;
    }
  }

  // flex-basis-[key]

  .#{$_u}#{$_c}-basis-0 {
    flex-basis: 0 !important;
  }

  .#{$_u}#{$_c}-basis-auto {
    flex-basis: auto !important;
  }

  // flex-self-[key]

  .#{$_u}#{$_c}-self-auto {
    align-self: auto !important;
  }

  .#{$_u}#{$_c}-self-start {
    align-self: flex-start !important;
  }

  .#{$_u}#{$_c}-self-center {
    align-self: center !important;
  }

  .#{$_u}#{$_c}-self-end {
    align-self: flex-end !important;
  }

  .#{$_u}#{$_c}-self-stretch {
    align-self: stretch !important;
  }

  .#{$_u}#{$_c}-self-baseline {
    align-self: baseline !important;
  }
}
