@use "./variables" as var;

.#{var.$class-flex} {
  display: flex !important;
}

.#{var.$class-flex}_justify_start {
  justify-content: flex-start !important;
}

.#{var.$class-flex}_justify_center {
  justify-content: center !important;
}

.#{var.$class-flex}_justify_end {
  justify-content: flex-end !important;
}

.#{var.$class-flex}_justify_between {
  justify-content: space-between !important;
}

.#{var.$class-flex}_justify_around {
  justify-content: space-around !important;
}

.#{var.$class-flex}_justify_evenly {
  justify-content: space-evenly !important;
}

.#{var.$class-flex}_align_start {
  align-items: flex-start !important;
}

.#{var.$class-flex}_align_center {
  align-items: center !important;
}

.#{var.$class-flex}_align_end {
  align-items: flex-end !important;
}

.#{var.$class-flex}_align_stretch {
  align-items: stretch !important;
}

.#{var.$class-flex}_align_baseline {
  align-items: baseline !important;
}

.#{var.$class-flex}_wrap {
  flex-wrap: wrap !important;
}

.#{var.$class-flex}_nowrap {
  flex-wrap: nowrap !important;
}

.#{var.$class-flex}_items_equal {
  > * {
    flex: 1 1 0 !important;
  }
}

.#{var.$class-flex}_items_auto {
  > * {
    flex: 0 0 auto !important;
  }
}

.#{var.$class-flex}_grow_0 {
  flex-grow: 0 !important;
}

.#{var.$class-flex}_grow_1 {
  flex-grow: 1 !important;
}

.#{var.$class-flex}_grow_2 {
  flex-grow: 2 !important;
}

.#{var.$class-flex}_shrink_0 {
  flex-shrink: 0 !important;
}

.#{var.$class-flex}_shrink_1 {
  flex-shrink: 1 !important;
}

.#{var.$class-flex}_shrink_2 {
  flex-shrink: 2 !important;
}

.#{var.$class-flex}_basis_0 {
  flex-basis: 0 !important;
}

.#{var.$class-flex}_basis_auto {
  flex-basis: auto !important;
}
