@use "./variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-flex-gap;
$_cx: var.$class-flex-gap-x;
$_cy: var.$class-flex-gap-y;

@if (var.$output-flex-gap) {
  .#{$_u}#{$_c} {
    gap: var.$gap !important;
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_c}-#{$key} {
      gap: $value !important;
    }
  }
}

@if (var.$output-flex-gap-x) {
  .#{$_u}#{$_cx} {
    column-gap: var.$gap !important;
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_cx}-#{$key} {
      column-gap: $value !important;
    }
  }
}

@if (var.$output-flex-gap-y) {
  .#{$_u}#{$_cy} {
    row-gap: var.$gap !important;
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_cy}-#{$key} {
      row-gap: $value !important;
    }
  }
}
