@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "./variables" as var;

@if (var.$output-foreground) {
  #{core.utility(var.$class-foreground, "black")} {
    color: black !important;
  }

  #{core.utility(var.$class-foreground, "white")} {
    color: white !important;
  }

  #{core.utility(var.$class-foreground, "transparent")} {
    color: transparent !important;
  }

  // Theme CSS Variable output.
  
  #{core.utility(var.$class-foreground)} {
    color: css.get("foreground") !important;
  }

  #{core.utility(var.$class-foreground, "light")} {
    color: css.get("foreground-light") !important;
  }

  #{core.utility(var.$class-foreground, "lighter")} {
    color: css.get("foreground-lighter") !important;
  }

  // Palette CSS Variable output.

  @each $name in map.keys(palette.get("seeds")) {
    #{core.utility(var.$class-foreground, $name)} {
      color: palette.get($name) !important;
    }
    @each $value in palette.$lightness-range {
      #{core.utility(var.$class-foreground, $name, $value)} {
        color: palette.get($name, $value) !important;
      }
    }
  }
}
