@use "sass:list";
@use "sass:string";
@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/config";

/// Conditional logic for when to output the utilities of a specific module.
///
/// @param {string} $module
///   The module name to conditionally toggle output.
///
/// @return {boolean}
///   The resolved condition boolean.
///
@function maybe-output($module) {
  @if list.index(config.get("utility-output-exceptions"), $module) {
    @return not config.get("utility-output");
  } @else {
    @return config.get("utility-output");
  }
}

/// Generate a utility class selector with a core prefix and optional modifiers.
///
/// @param {string} $name
///   Name of the utility. Will search for a shorthand in `config.get("utility-classes")`.
/// @param {string} $args...
///   Additional strings appended as modifiers to the class name. Add a ":" for
///   a prepended modifier such as breakpoints, e.g., "md:".
///
/// @return {selector}
///   A valid utility CSS selector.
///
@function utility($name, $args...) {
  // Check if there's a shortname for the class name
  @if map.has-key(config.get("utility-classes"), $name) {
    $name: map.get(config.get("utility-classes"), $name);
  }

  // Setup the base utility class name with prefix
  $class: '#{config.get("utility-prefix")}#{$name}';

  // Apply all the arguments to class
  @each $arg in $args {
    // Convert arg to a string
    $arg: "" + $arg;

    // Ensure that it's not an empty string
    @if $arg != "" {
      // If $arg contains a colon, escape it and prepend it to $class
      @if string.index($arg, ":") {
        $arg: core.escape-colon($arg);
        $class: "#{$arg}#{$class}";
      }

      // Otherwise, append $arg to $class with a dash delimiter
      @else {
        $class: "#{$class}-#{$arg}";
      }
    }
  }

  // Return the class
  @return ".#{$class}";
}
