@use "sass:string";
@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/config";
@use "./variables" as var;

/// Generate a utility class selector with a core prefix and optional modifiers.
/// @param {string} $name
///   The base name of the utility. Will search for a shorthand in `var.$classes`.
/// @param {string} $args...
///   Additional strings appended as modifiers to the class name.
/// @return {selector}
///   A valid utility CSS selector.
@function utility($name, $args...) {
  // Check if there's a shortname for the class name.
  @if map.has-key(var.$classes, $name) {
    $name: map.get(var.$classes, $name);
  }

  // Setup the base utility class name with prefix.
  $class: '#{config.get("prefix-utility")}#{$name}';

  // Apply all the arguments to class.
  @each $arg in $args {
    // Convert arg to a string.
    $arg: "" + $arg;
    // Ensure that it's not an empty string.
    @if $arg != "" {
      // If $arg contains a colon, escape it and prepend it to $class.
      @if string.index($arg, ":") {
        $arg: core.escape-colon($arg);
        $class: '#{$arg}#{$class}';
      }
      // Otherwise, append $arg to $class with a dash delimiter.
      @else {
        $class: '#{$class}-#{$arg}';
      }
    }
  }

  // Return the class.
  @return ".#{$class}";
}
