@use "@vrembem/core";
@use "./variables" as var;

$_u: var.$prefix-utility;
$_cx: var.$class-gap-x;
$_cy: var.$class-gap-y;

@if (var.$output-gap-x) {
  .#{$_u}#{$_cx} {
    > * + * {
      margin-left: var.$gap !important;
    }
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_cx}-#{$key} {
      > * + * {
        margin-left: $value !important;
      }
    }
  }
}

@if (var.$output-gap-y) {
  .#{$_u}#{$_cy} {
    > * + * {
      margin-top: var.$gap !important;
    }
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_cy}-#{$key} {
      > * + * {
        margin-top: $value !important;
      }
    }
  }
}
