@use "./variables";

.#{variables.$class-margin} {
  margin: variables.$spacing;
}

@each $key, $value in variables.$spacing-map {
  .#{variables.$class-margin}_#{$key} {
    margin: $value !important;
  }
}

@each $key, $value in variables.$spacing-map {
  .#{variables.$class-margin}_top_#{$key} {
    margin-top: $value !important;
  }
}

@each $key, $value in variables.$spacing-map {
  .#{variables.$class-margin}_bottom_#{$key} {
    margin-bottom: $value !important;
  }
}

@each $key, $value in variables.$spacing-map {
  .#{variables.$class-margin}_left_#{$key} {
    margin-left: $value !important;
  }
}

@each $key, $value in variables.$spacing-map {
  .#{variables.$class-margin}_right_#{$key} {
    margin-right: $value !important;
  }
}

@each $key, $value in variables.$spacing-map {
  .#{variables.$class-margin}_hori_#{$key} {
    margin-right: $value !important;
    margin-left: $value !important;
  }
}

@each $key, $value in variables.$spacing-map {
  .#{variables.$class-margin}_vert_#{$key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}

.#{variables.$class-margin}_auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
