@use "@vrembem/core";

@mixin spacing($spacing, $imp: null) {
  @if ($imp) {
    $imp: "!important";
  }
  @if ($spacing) {
    margin-top: $spacing #{$imp};
    margin-bottom: $spacing #{$imp};

    &:first-child {
      margin-top: 0 #{$imp};
    }

    &:last-child {
      margin-bottom: 0 #{$imp};
    }
  }
}
