@use "./variables" as var;

$_b: var.$prefix-block;
$_c: var.$class-padding;

.#{$_b}#{$_c} {
  padding: var.$spacing;
}

@each $key, $value in var.$spacing-map {
  .#{$_b}#{$_c}-#{$key} {
    padding: $value !important;
  }
}

@each $key, $value in var.$spacing-map {
  .#{$_b}#{$_c}-top-#{$key} {
    padding-top: $value !important;
  }
}

@each $key, $value in var.$spacing-map {
  .#{$_b}#{$_c}-bottom-#{$key} {
    padding-bottom: $value !important;
  }
}

@each $key, $value in var.$spacing-map {
  .#{$_b}#{$_c}-left-#{$key} {
    padding-left: $value !important;
  }
}

@each $key, $value in var.$spacing-map {
  .#{$_b}#{$_c}-right-#{$key} {
    padding-right: $value !important;
  }
}

@each $key, $value in var.$spacing-map {
  .#{$_b}#{$_c}-hori-#{$key} {
    padding-right: $value !important;
    padding-left: $value !important;
  }
}

@each $key, $value in var.$spacing-map {
  .#{$_b}#{$_c}-vert-#{$key} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}
