@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_c: var.$class-spacing;

.#{$_b}#{$_c} {
  > * + * {
    margin-top: var.$spacing !important;
  }
}

@each $key, $value in var.$spacing-map {
  .#{$_b}#{$_c}-#{$key} {
    > * + * {
      margin-top: $value !important;
    }
  }
}
