@use "@vrembem/core";
@use "./variables" as var;

.#{var.$class-text}_size_sm {
  font-size: core.$font-size-sm !important;
}

.#{var.$class-text}_size_lg {
  font-size: core.$font-size-lg !important;
}

.#{var.$class-text}_capitalize {
  text-transform: capitalize !important;
}

.#{var.$class-text}_lowercase {
  text-transform: lowercase !important;
}

.#{var.$class-text}_uppercase {
  text-transform: uppercase !important;
}

.#{var.$class-text}_align_left {
  text-align: left !important;
}

.#{var.$class-text}_align_center {
  text-align: center !important;
}

.#{var.$class-text}_align_right {
  text-align: right !important;
}

.#{var.$class-text}_bold {
  font-weight: core.font-weight("bold") !important;
}

.#{var.$class-text}_normal {
  font-weight: core.font-weight("normal") !important;
}

.#{var.$class-text}_italic {
  font-style: italic !important;
}

.#{var.$class-text}_strike {
  text-decoration: line-through !important;
}

.#{var.$class-text}_underline {
  text-decoration: underline !important;
}

.#{var.$class-text}_underline_dotted {
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
}

.#{var.$class-text}_underline_dashed {
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
}

.#{var.$class-text}_wrap {
  white-space: normal !important;
}

.#{var.$class-text}_nowrap {
  white-space: nowrap !important;
}

.#{var.$class-text}_overflow_ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.#{var.$class-text}_lead {
  font-size: 1.2em !important;
  font-weight: core.font-weight("light") !important;
}
