@use "@vrembem/core/css";
@use "./variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-transition;

@if (var.$output-transition) {
  .#{$_u}#{$_c}-none {
    transition: none !important;
  }

  .#{$_u}#{$_c}-all {
    transition: all css.get("transition-duration") css.get("transition-timing-function") !important;
  }
}
