@use "@vrembem/core";
@use "@vrembem/core/config";

$output: true !default;
$output-exceptions: () !default;

$classes: (
  "border-radius": "radius",
  "box-shadow": "shadow",
) !default;

$breakpoints: core.$breakpoints !default;

// TODO: Use CSS variables for the values of border-radius.
$border-radius-map: (
  "": core.$border-radius,
  "lg": core.$border-radius-lg,
  "circle": core.$border-radius-circle,
  "square": 0
) !default;

$display-properties: (
  inline,
  flex,
  inline-flex,
  grid,
  inline-grid,
  block,
  inline-block,
  none
) !default;

$max-width: 70rem !default;
$max-width-scale: (
  "none": none,
  "xs": 45rem,
  "sm": 60rem,
  "md": 70rem,
  "lg": 80rem,
  "xl": 90rem,
  "full": 100%
) !default;

$order-count: 6 !default;

$overflow-properties: (
  visible,
  hidden,
  clip,
  scroll,
  auto
) !default;

$gap: core.$gap !default;
$gap-map: core.$gap-map !default;
