@use "@vrembem/core";
@use "@vrembem/core/config";

// TODO: Delete these once `utility()` is fully implemented.
$prefix-variable: config.get("prefix-variables") !default;
$prefix-utility: null !default;

// TODO: Refactor this to be similar to `$classes` and where the `$output`
// essentially toggles between whitelist and blacklist modes.
$output: true !default;
$output-background: $output !default;
$output-foreground: $output !default;
$output-border: $output !default;
$output-border-radius: $output !default;
$output-shadow: $output !default;
$output-display: $output !default;
$output-font: $output !default;
$output-margin: $output !default;
$output-max-width: $output !default;
$output-overflow: $output !default;
$output-padding: $output !default;
$output-position: $output !default;
$output-spacing: $output !default;
$output-text: $output !default;
$output-transition: $output !default;

$classes: () !default;

// TODO: Delete these once `$classes` is fully implemented.
$class-background: "background" !default;
$class-foreground: "foreground" !default;
$class-border: "border" !default;
$class-border-radius: "radius" !default;
$class-shadow: "shadow" !default;
$class-display: "display" !default;
$class-font: "font" !default;
$class-margin: "margin" !default;
$class-max-width: "max-width" !default;
$class-overflow: "overflow" !default;
$class-padding: "padding" !default;
$class-position: "position" !default;
$class-text: "text" !default;
$class-transition: "transition" !default;

$breakpoints: core.$breakpoints !default;

$border-radius-map: (
  "": core.$border-radius,
  "lg": core.$border-radius-lg,
  "circle": core.$border-radius-circle,
  "square": 0
) !default;

$display-properties: (
  inline,
  flex,
  inline-flex,
  grid,
  inline-grid,
  block,
  inline-block,
  none
) !default;

$max-width: 70rem !default;
$max-width-scale: (
  "none": none,
  "xs": 45rem,
  "sm": 60rem,
  "md": 70rem,
  "lg": 80rem,
  "xl": 90rem,
  "full": 100%
) !default;

$order-count: 6 !default;

$overflow-properties: (
  visible,
  hidden,
  clip,
  scroll,
  auto
) !default;

$gap: core.$gap !default;
$gap-map: core.$gap-map !default;
