@use "@vrembem/core";

$prefix-variable: core.$prefix-variable !default;
$prefix-utility: null !default;

$output: true !default;
$output-background: $output !default;
$output-foreground: $output !default;
$output-border: $output !default;
$output-border-radius: $output !default;
$output-shadow: $output !default;
$output-display: $output !default;
$output-font: $output !default;
$output-gap-x: $output !default;
$output-gap-y: $output !default;
$output-margin: $output !default;
$output-max-width: $output !default;
$output-overflow: $output !default;
$output-padding: $output !default;
$output-position: $output !default;
$output-text: $output !default;

$class-background: "background" !default;
$class-foreground: "foreground" !default;
$class-border: "border" !default;
$class-border-radius: "radius" !default;
$class-shadow: "shadow" !default;
$class-display: "display" !default;
$class-font: "font" !default;
$class-gap-x: "gap-x" !default;
$class-gap-y: "gap-y" !default;
$class-margin: "margin" !default;
$class-max-width: "max-width" !default;
$class-overflow: "overflow" !default;
$class-padding: "padding" !default;
$class-position: "position" !default;
$class-text: "text" !default;

$breakpoints: core.$breakpoints !default;

$border-radius-map: (
  "": core.$border-radius,
  "lg": core.$border-radius-lg,
  "circle": core.$border-radius-circle,
  "square": 0
) !default;

$display-properties: (
  inline,
  flex,
  inline-flex,
  grid,
  inline-grid,
  block,
  inline-block,
  none
) !default;

$gap: core.$gap !default;
$gap-map: core.$gap-map !default;

$max-width: 70rem !default;
$max-width-scale: (
  "none": none,
  "xs": 45rem,
  "sm": 60rem,
  "md": 70rem,
  "lg": 80rem,
  "xl": 90rem,
  "full": 100%
) !default;

$overflow-properties: (
  visible,
  hidden,
  clip,
  scroll,
  auto
) !default;
