@import "./variables";

.#{$class-border} {
  border: $border;
}

.#{$class-border}_top {
  border-top: $border;
}

.#{$class-border}_bottom {
  border-bottom: $border;
}

.#{$class-border}_left {
  border-left: $border;
}

.#{$class-border}_right {
  border-right: $border;
}
