@import "./variables";

.#{$class-border} {
  border: $border !important;
}

.#{$class-border}_top {
  border-top: $border !important;
}

.#{$class-border}_bottom {
  border-bottom: $border !important;
}

.#{$class-border}_left {
  border-left: $border !important;
}

.#{$class-border}_right {
  border-right: $border !important;
}

.#{$class-border}_0 {
  border: 0 !important;
}

.#{$class-border}_top_0 {
  border-top: 0 !important;
}

.#{$class-border}_bottom_0 {
  border-bottom: 0 !important;
}

.#{$class-border}_left_0 {
  border-left: 0 !important;
}

.#{$class-border}_right_0 {
  border-right: 0 !important;
}

.#{$class-border}_color_light {
  border-color: $border-color-light !important;
}

.#{$class-border}_color_dark {
  border-color: $border-color-dark !important;
}

.#{$class-border}_color_darker {
  border-color: $border-color-darker !important;
}

.#{$class-border}_color_invert {
  border-color: $border-color-invert !important;
}

.#{$class-border}_color_invert-light {
  border-color: $border-color-invert-light !important;
}

.#{$class-border}_color_invert-dark {
  border-color: $border-color-invert-dark !important;
}

.#{$class-border}_color_invert-darker {
  border-color: $border-color-invert-darker !important;
}
