.bs {
  box-shadow: $box-shadow !important;
}

.bs_flat {
  box-shadow: $box-shadow-flat !important;
}

.bs_1dp {
  box-shadow: $box-shadow-1dp !important;
}

.bs_4dp {
  box-shadow: $box-shadow-4dp !important;
}

.bs_8dp {
  box-shadow: $box-shadow-8dp !important;
}

.bs_16dp {
  box-shadow: $box-shadow-16dp !important;
}

.bs_24dp {
  box-shadow: $box-shadow-24dp !important;
}
