@import "./variables";

.#{$class-color} {
  color: $color !important;
}

.#{$class-color}_subtle {
  color: $color-subtle !important;
}

.#{$class-color}_invert {
  color: $color-invert !important;
}

.#{$class-color}_invert_subtle {
  color: $color-invert-subtle !important;
}

.#{$class-color}_black {
  color: $black !important;
}

.#{$class-color}_white {
  color: $white !important;
}

.#{$class-color}_transparent {
  color: transparent !important;
}

.#{$class-color}_primary {
  color: $primary !important;
}

.#{$class-color}_primary_light {
  color: $primary-light !important;
}

.#{$class-color}_primary_dark {
  color: $primary-dark !important;
}

.#{$class-color}_secondary {
  color: $secondary !important;
}

.#{$class-color}_secondary_light {
  color: $secondary-light !important;
}

.#{$class-color}_secondary_dark {
  color: $secondary-dark !important;
}

.#{$class-color}_accent {
  color: $accent !important;
}

.#{$class-color}_accent_light {
  color: $accent-light !important;
}

.#{$class-color}_accent_dark {
  color: $accent-dark !important;
}

.#{$class-color}_shade {
  color: $shade !important;
}

.#{$class-color}_shade_light {
  color: $shade_light !important;
}

.#{$class-color}_shade_dark {
  color: $shade_dark !important;
}

.#{$class-color}_night {
  color: $night !important;
}

.#{$class-color}_night_light {
  color: $night_light !important;
}

.#{$class-color}_night_dark {
  color: $night_dark !important;
}

.#{$class-color}_info {
  color: $info !important;
}

.#{$class-color}_info_light {
  color: $info-light !important;
}

.#{$class-color}_info_dark {
  color: $info-dark !important;
}

.#{$class-color}_success {
  color: $success !important;
}

.#{$class-color}_success_light {
  color: $success-light !important;
}

.#{$class-color}_success_dark {
  color: $success-dark !important;
}

.#{$class-color}_caution {
  color: $caution !important;
}

.#{$class-color}_caution_light {
  color: $caution-light !important;
}

.#{$class-color}_caution_dark {
  color: $caution-dark !important;
}

.#{$class-color}_danger {
  color: $danger !important;
}

.#{$class-color}_danger_light {
  color: $danger-light !important;
}

.#{$class-color}_danger_dark {
  color: $danger-dark !important;
}

.#{$class-color}_error {
  color: $error !important;
}

.#{$class-color}_error_light {
  color: $error-light !important;
}

.#{$class-color}_error_dark {
  color: $error-dark !important;
}
