.flex_hori_start {
  justify-content: flex-start !important;
}

.flex_hori_center {
  justify-content: center !important;
}

.flex_hori_end {
  justify-content: flex-end !important;
}

.flex_hori_between {
  justify-content: space-between !important;
}

.flex_hori_around {
  justify-content: space-around !important;
}

.flex_hori_evenly {
  justify-content: space-evenly !important;
}

.flex_vert_start {
  align-items: flex-start !important;
}

.flex_vert_center {
  align-items: center !important;
}

.flex_vert_end {
  align-items: flex-end !important;
}

.flex_vert_stretch {
  align-items: stretch !important;
}

.flex_vert_baseline {
  align-items: baseline !important;
}
