.f_wrap {
  flex-wrap: wrap !important;
}

.f_justify_start {
  justify-content: flex-start !important;
}

.f_justify_center {
  justify-content: center !important;
}

.f_justify_end {
  justify-content: flex-end !important;
}

.f_justify_between {
  justify-content: space-between !important;
}

.f_justify_around {
  justify-content: space-around !important;
}

.f_justify_evenly {
  justify-content: space-evenly !important;
}

.f_align_start {
  align-items: flex-start !important;
}

.f_align_center {
  align-items: center !important;
}

.f_align_end {
  align-items: flex-end !important;
}

.f_align_stretch {
  align-items: stretch !important;
}

.f_align_baseline {
  align-items: baseline !important;
}
