@import "./variables";

.#{$class-margin} {
  margin: $utility-spacing;
}

@each $key, $value in $utility-spacing-map {
  .#{$class-margin}_#{$key} {
    margin: $value !important;
  }
}

@each $key, $value in $utility-spacing-map {
  .#{$class-margin}_top_#{$key} {
    margin-top: $value !important;
  }
}

@each $key, $value in $utility-spacing-map {
  .#{$class-margin}_bottom_#{$key} {
    margin-bottom: $value !important;
  }
}

@each $key, $value in $utility-spacing-map {
  .#{$class-margin}_left_#{$key} {
    margin-left: $value !important;
  }
}

@each $key, $value in $utility-spacing-map {
  .#{$class-margin}_right_#{$key} {
    margin-right: $value !important;
  }
}

@each $key, $value in $utility-spacing-map {
  .#{$class-margin}_hori_#{$key} {
    margin-right: $value !important;
    margin-left: $value !important;
  }
}

@each $key, $value in $utility-spacing-map {
  .#{$class-margin}_vert_#{$key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}

.#{$class-margin}_auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
