@each $key, $value in $utility-spacing {
  .m_#{$key} {
    margin: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .m_top_#{$key} {
    margin-top: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .m_bottom_#{$key} {
    margin-bottom: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .m_left_#{$key} {
    margin-left: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .m_right_#{$key} {
    margin-right: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .m_hori_#{$key} {
    margin-left: $value !important;
    margin-right: $value !important;
  }
}

@each $key, $value in $utility-spacing {
  .m_vert_#{$key} {
    margin-bottom: $value !important;
    margin-top: $value !important;
  }
}

.m_auto {
  margin-left: auto;
  margin-right: auto;
}
