@import "./variables";

.#{$class-text}_size_sm {
  font-size: $font-size-sm !important;
}

.#{$class-text}_size_lg {
  font-size: $font-size-lg !important;
}

.#{$class-text}_capitalize {
  text-transform: capitalize !important;
}

.#{$class-text}_lowercase {
  text-transform: lowercase !important;
}

.#{$class-text}_uppercase {
  text-transform: uppercase !important;
}

.#{$class-text}_align_left {
  text-align: left !important;
}

.#{$class-text}_align_center {
  text-align: center !important;
}

.#{$class-text}_align_right {
  text-align: right !important;
}

.#{$class-text}_bold {
  font-weight: font-weight("bold") !important;
}

.#{$class-text}_italic {
  font-style: italic !important;
}

.#{$class-text}_strike {
  text-decoration: line-through !important;
}

.#{$class-text}_underline {
  text-decoration: underline !important;
}

.#{$class-text}_wrap {
  white-space: normal !important;
}

.#{$class-text}_nowrap {
  white-space: nowrap !important;
}

.#{$class-text}_overflow_ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.#{$class-text}_lead {
  font-size: 1.2em !important;
  font-weight: font-weight("light") !important;
}
