@use "@vrembem/core";

.icon-action_color_danger {
  background: core.$danger;
  color: color-switch(core.$danger);

  &:hover {
    background: darken(core.$danger, 10%);
  }

  &:focus {
    background: darken(core.$danger, 20%);
  }

  &:active {
    background: darken(core.$danger, 20%);
  }
}

.icon-action_color_caution {
  background: core.$caution;
  color: color-switch(core.$caution);

  &:hover {
    background: darken(core.$caution, 5%);
  }

  &:focus {
    background: darken(core.$caution, 10%);
  }

  &:active {
    background: darken(core.$caution, 10%);
  }
}

.icon-action_color_success {
  background: core.$success;
  color: color-switch(core.$success);

  &:hover {
    background: darken(core.$success, 10%);
  }

  &:focus {
    background: darken(core.$success, 20%);
  }

  &:active {
    background: darken(core.$success, 20%);
  }
}
