@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;

.#{$_b}icon-action#{$_m}subtle {
  background: none;
  color: core.$color;

  &:hover,
  &:focus {
    background: rgba(core.$black, 0.06);
  }

  &:active {
    background: rgba(core.$black, 0.12);
  }

  &.#{$_b}icon-action#{$_m}invert {
    background: none;
    color: core.$color-invert;

    &:hover,
    &:focus {
      background: rgba(core.$white, 0.06);
    }

    &:active {
      background: rgba(core.$white, 0.12);
    }
  }
}
