@use "@vrembem/core";
@use "./variables" as var;
@use "./mixins" as mix;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}icon-action#{$_m}state#{$_v}info {
  @include mix.icon-action-variant(core.$color-invert, core.$info);
}

.#{$_b}icon-action#{$_m}state#{$_v}success {
  @include mix.icon-action-variant(core.$color-invert, core.$success);
}

.#{$_b}icon-action#{$_m}state#{$_v}caution {
  @include mix.icon-action-variant(core.$color-invert, core.$caution);
}

.#{$_b}icon-action#{$_m}state#{$_v}danger {
  @include mix.icon-action-variant(core.$color-invert, core.$danger);
}
