@use "@vrembem/core";
@use "./variables" as var;
@use "./mixins" as mix;

.#{var.$prefix-block}icon-action#{var.$prefix-modifier}invert {
  @include mix.icon-action-variant(
    $color: core.$color,
    $background: rgba(core.$color-invert, 0.4),
    $background-hover: rgba(core.$color-invert, 0.5),
    $background-active: rgba(core.$color-invert, 0.6),
    $outline-focus-visible: rgba(core.$color-invert, 0.5)
  );
}
