@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}icon-action#{$_m}state#{$_v}info {
  background: core.$info;
  color: core.color-switch(core.$info);

  &:hover {
    background: darken(core.$info, 10%);
  }

  &:focus {
    background: darken(core.$info, 20%);
  }

  &:active {
    background: darken(core.$info, 20%);
  }
}

.#{$_b}icon-action#{$_m}state#{$_v}success {
  background: core.$success;
  color: core.color-switch(core.$success);

  &:hover {
    background: darken(core.$success, 10%);
  }

  &:focus {
    background: darken(core.$success, 20%);
  }

  &:active {
    background: darken(core.$success, 20%);
  }
}

.#{$_b}icon-action#{$_m}state#{$_v}caution {
  background: core.$caution;
  color: core.color-switch(core.$caution);

  &:hover {
    background: darken(core.$caution, 5%);
  }

  &:focus {
    background: darken(core.$caution, 10%);
  }

  &:active {
    background: darken(core.$caution, 10%);
  }
}

.#{$_b}icon-action#{$_m}state#{$_v}danger {
  background: core.$danger;
  color: core.color-switch(core.$danger);

  &:hover {
    background: darken(core.$danger, 10%);
  }

  &:focus {
    background: darken(core.$danger, 20%);
  }

  &:active {
    background: darken(core.$danger, 20%);
  }
}
