@use "@vrembem/core";
@use "./variables" as var;

.#{var.$prefix-block}icon-action#{var.$prefix-modifier}invert {
  background: rgba(core.$white, 0.4);
  color: core.$color;

  &:hover,
  &:focus {
    background: rgba(core.$white, 0.5);
  }

  &:focus-visible {
    outline-color: rgba(core.$white, 0.5);
  }

  &:active {
    background: rgba(core.$white, 0.6);
  }
}
