@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$size: (core.$font-size * core.$line-height) !default;
$border-radius: core.$border-radius-circle !default;

$border: null !default;
$border-color-hover: null !default;
$border-color-focus: null !default;
$border-color-active: null !default;

$background: rgba(core.$black, 0.3) !default;
$background-hover: rgba(core.$black, 0.4) !default;
$background-focus: rgba(core.$black, 0.4) !default;
$background-active: rgba(core.$black, 0.5) !default;

$box-shadow: none !default;
$box-shadow-hover: null !default;
$box-shadow-focus: null !default;
$box-shadow-active: null !default;

$color: core.$color !default;
$color-hover: null !default;
$color-focus: null !default;
$color-active: null !default;

$outline: rgba(core.$black, 0) solid 0 !default;
$outline-hover: null !default;
$outline-focus: null !default;
$outline-focus-visible: rgba(core.$black, 0.4) solid 0.15rem !default;
$outline-active: null !default;

$outline-offset: 0.1rem !default;
$outline-offset-hover: null !default;
$outline-offset-focus: null !default;
$outline-offset-focus-visible: null !default;
$outline-offset-active: null !default;

$icon-stroke-width: 2.5px !default;
$icon-font-size: core.$font-size-sm !default;
