@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$size: (core.$font-size * core.$line-height) !default;
$transition-property: box-shadow, outline, outline-offset !default;
$transition-duration: core.$transition-duration-short !default;
$transition-timing-function: core.$transition-timing-function !default;
$border-radius: core.$border-radius-circle !default;

$border: null !default;
$border-color-hover: null !default;
$border-color-focus: null !default;
$border-color-active: null !default;

$background: rgba(black, 0.4) !default;
$background-hover: rgba(black, 0.5) !default;
$background-focus: rgba(black, 0.5) !default;
$background-active: rgba(black, 0.6) !default;

$foreground: core.theme-get("foreground") !default;
$foreground-hover: null !default;
$foreground-focus: null !default;
$foreground-active: null !default;

$shadow: 0 0 0 0 rgba(black, 0) !default;
$shadow-hover: null !default;
$shadow-focus: 0 0 0 0.2rem rgba(black, 0.2) !default;
$shadow-active: null !default;

// > icon
$icon-stroke-width: 2.5px !default;
$icon-font-size: core.$font-size-sm !default;

// disabled
$disabled-opacity: 0.6 !default;

// is-loading
$loading-size: 0.7em !default;
$loading-animation-duration: 0.6s !default;
$loading-border-color: core.theme-get("foreground") !default;
$loading-border: 2px solid !default;
$loading-border-tpl: 1 1 0 0;
