@import "./variables";

.icon-action {
  @include size($icon-action-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: $icon-action-border;
  border-radius: $icon-action-border-radius;
  background: $icon-action-background;
  color: $white;
  vertical-align: top;
  cursor: pointer;

  &:hover,
  &:focus {
    border: $icon-action-border-hover;
    background: $icon-action-background-hover;
    color: $white;
    cursor: pointer;
  }

  .icon {
    stroke-width: $icon-action_icon-stroke-width;
    font-size: $icon-action_icon-font-size;
  }
}
