@import "./variables";

.icon-action_color_danger {
  background: $danger;
  color: color-switch($danger);

  &:hover {
    background: darken($danger, 10%);
  }

  &:focus {
    background: darken($danger, 20%);
  }

  &:active {
    background: darken($danger, 20%);
  }
}

.icon-action_color_caution {
  background: $caution;
  color: color-switch($caution);

  &:hover {
    background: darken($caution, 5%);
  }

  &:focus {
    background: darken($caution, 10%);
  }

  &:active {
    background: darken($caution, 10%);
  }
}

.icon-action_color_success {
  background: $success;
  color: color-switch($success);

  &:hover {
    background: darken($success, 10%);
  }

  &:focus {
    background: darken($success, 20%);
  }

  &:active {
    background: darken($success, 20%);
  }
}
