@import "./variables";

.icon-action_size_sm {
  padding: $icon-action_size_sm-padding;
  font-size: $icon-action_size_sm-font-size;

  .icon {
    stroke-width: 3px;
  }
}

.icon-action_size_lg {
  padding: $icon-action_size_lg-padding;
  font-size: $icon-action_size_lg-font-size;
}
