.text_lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  font-weight: font-weight('light');
}

.text_nowrap {
  white-space: nowrap;
}

.text_subtle {
  color: $color-light;
}

.text_link {
  color: $primary;
  text-decoration: none;
  border-bottom: 1px solid $border-color;

  &:hover {
    color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

.text_size_small {
  font-size: $font-size-small;
}

.text_size_large {
  font-size: $font-size-large;
}

.text_align_left {
  text-align: left;
}

.text_align_center {
  text-align: center;
}

.text_align_right {
  text-align: right;
}
