$type-font-family: null !default;
$type-font-size: null !default;
$type-line-height: null !default;

$type-spacing: 1em !default;

$type-heading-color: inherit !default;
$type-heading-font-weight: font-weight('semi-bold') !default;

$type-blockquote-padding: 0.5em 0 0.5em 1.5em !default;
$type-blockquote-background: null !default;
$type-blockquote-border: 3px solid $primary !default;

$lead-font-size: 1.4em !default;
$lead-line-height: 1.6em !default;

$type-hr-margin: 2em 0 !default;
