// Type
// ---
$type-font-family: null !default;
$type-font-size: null !default;
$type-line-height: null !default;

// Type spacing
// ---
$type-spacing: 1rem !default;
$type-hr-margin: 2rem 0 !default;
