@import 'variables';

/**
 * Type
 * ---
 * A component that applies general typographic styles to semantic markup.
 */

.type {
  @include add-clearfix();
  font-family: $type-font-family;
  font-size: $type-font-size;
  line-height: $type-line-height;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  // Headings

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %h;
    margin: ($type-spacing * 1.5) 0 $type-spacing;
  }

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4 {
    @extend %h4;
  }

  h5 {
    @extend %h5;
  }

  h6 {
    @extend %h6;
  }

  // Block elements

  p {
    margin: $type-spacing 0;
  }

  blockquote {
    padding: ($type-spacing * 0.5) ($type-spacing * 1.5);
    margin: ($type-spacing * 1.5) 0;
    background: $blockquote-background;
    border-radius: $blockquote-border-radius;
    color: $blockquote-color;

    > * + * {
      margin-top: $type-spacing;
    }
  }

  figure {
    padding: 1em;
    border: $border;

    img {
      width: 100%;
      height: auto;
    }
  }

  figcaption {
    margin: 1em 0.5em;
    font-size: $font-size-sm;
    color: $color-light;
    font-style: italic;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Inline elements

  a:not(.button) {
    @extend %link;
  }

  mark {
    padding: $mark-padding;
    background-color: $mark-background;
    color: $mark-color;
  }

  // Code

  code {
    padding: $code-padding;
    background: $code-background;
    font-size: 0.9em;
    color: $code-color;
    word-break: break-word;
  }

  pre {
    overflow: auto;
    margin: ($type-spacing * 1.5) 0;
    padding: ($type-spacing * 1.5);
    background: $pre-background;
    border-radius: $pre-border-radius;

    code {
      padding: 0;
      background: none;
      font-size: 1em;
      color: inherit;
    }
  }

  // Horizontal Rule

  hr {
    @extend %hr;
    margin: $type-hr-margin;
  }

  // Lists

  ul, ol {
    margin: $type-spacing 0 $type-spacing ($type-spacing * 2);
    padding: 0;

    ul, ol, li {
      margin-top: ($type-spacing * 0.5);
      margin-bottom: ($type-spacing * 0.5);
    }
  }

  ul, ul ul ul ul {
    list-style: disc;
  }

  ul ul {
    list-style: circle;
  }

  ul ul ul {
    list-style: disc;
  }

  ol, ol ol ol ol {
    list-style: decimal;
  }

  ol ol {
    list-style: lower-alpha;
  }

  ol ol ol {
    list-style: lower-roman;
  }

  dl {
    margin: $type-spacing 0;

    dt {
      margin: $type-spacing 0 0;
      font-weight: bold;
    }

    dd {
      margin: 0 0 $type-spacing $type-spacing;
    }
  }

  // Tables

  table {
    @extend %table;
    @extend %table_bordered;
    @extend %table_zebra;
    margin: ($type-spacing * 1.5) 0;
  }

}
