@import 'variables';

/**
 * Type invert modifier
 * ---
 * Adds styles to the component for better fitting a dark background.
 */

.type_invert {
  color: $white;

  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  // Inline elements
  a:not(.button) {
    @extend %link_invert;
  }

  // Horizontal Rule
  hr {
    @extend %hr_invert;
  }

}
