@import 'variables';

/**
 * Type
 */

.type {
  @include add-clearfix();
  font-family: $type-font-family;
  font-size: $type-font-size;
  line-height: $type-line-height;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  // Headings

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    color: $heading-color;
    margin: ($type-spacing * 1.5) 0 $type-spacing;
  }

  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }

  // Misc elements

  a:not(.button) {
    @extend .link;
  }

  p {
    margin: $type-spacing 0;
  }

  pre,
  blockquote {
    margin: ($type-spacing * 1.5) 0;
  }

  code {
    padding: $code-padding;
    background: $code-background;
    font-size: 0.9em;
    color: $code-color;
    word-break: break-word;
  }

  mark {
    padding: $mark-padding;
    background-color: $mark-background;
    color: $mark-color;
  }

  pre {
    overflow: auto;
    padding: ($type-spacing * 1.5);
    background: $pre-background;
    border-radius: $pre-border-radius;

    code {
      padding: 0;
      background: none;
      font-size: 1em;
      color: inherit;
    }
  }

  blockquote {
    padding: ($type-spacing * 0.5) ($type-spacing * 1.5);
    background: $blockquote-background;
    border-radius: $blockquote-border-radius;
    color: $blockquote-color;

    > * + * {
      margin-top: $type-spacing;
    }
  }

  figure {
    padding: 1em;
    border: $border;
  }

  figcaption {
    margin: 1em 0.5em;
    font-size: $font-size-sm;
    color: $color-light;
    font-style: italic;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Horizontal Rule

  hr {
    @extend .hr;
    margin: $type-hr-margin;
  }

  // Lists

  ul, ol {
    margin: $type-spacing 0 $type-spacing ($type-spacing * 2);
    padding: 0;

    ul, ol, li {
      margin-top: ($type-spacing * 0.5);
      margin-bottom: ($type-spacing * 0.5);
    }
  }

  ul, ul ul ul ul {
    list-style: disc;
  }

  ul ul {
    list-style: circle;
  }

  ul ul ul {
    list-style: disc;
  }

  ol, ol ol ol ol {
    list-style: decimal;
  }

  ol ol {
    list-style: lower-alpha;
  }

  ol ol ol {
    list-style: lower-roman;
  }

  dl {
    margin: $type-spacing 0;

    dt {
      margin: $type-spacing 0 0;
      font-weight: bold;
    }

    dd {
      margin: 0 0 $type-spacing $type-spacing;
    }
  }

  // Tables

  table {
    overflow: auto;
    width: 100%;
    margin: ($type-spacing * 1.5) 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;

    tr {
      background-color: $table-background;
      border-top: $table-border;
    }

    th {
      padding: $table-padding;
      border: $table-border;
    }

    td {
      padding: $table-padding;
      border: $table-border;
    }

    // Zebra Stripes

    tr:nth-child(2n + 1) {
      background-color: $table-background-alt;
    }

    thead tr:nth-child(2n + 1) {
      background-color: $table-background;
    }
  }

}
