@use "@vrembem/core";
@use "./variables";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: variables.$min-size;
  min-height: variables.$min-size;
  padding: variables.$padding;
  border: variables.$border;
  border-radius: variables.$border-radius;
  background: variables.$background;
  background-clip: border-box;
  box-shadow: variables.$box-shadow;
  color: variables.$color;
  font-family: inherit;
  font-size: variables.$font-size;
  font-weight: variables.$font-weight;
  letter-spacing: variables.$letter-spacing;
  line-height: variables.$line-height;
  text-decoration: none;
  text-transform: variables.$text-transform;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;

  &[disabled] {
    opacity: variables.$disabled-opacity;
    pointer-events: none;
  }

  > * + * {
    margin-left: variables.$inner-spacing;
  }

  &:hover {
    border-color: variables.$border-color-hover;
    background-color: variables.$background-hover;
    box-shadow: variables.$box-shadow-hover;
    color: variables.$color-hover;
  }

  &:focus {
    outline: variables.$outline-focus;
    outline-offset: variables.$outline-focus-offset;
    border-color: variables.$border-color-focus;
    background-color: variables.$background-focus;
    box-shadow: variables.$box-shadow-focus;
    color: variables.$color-focus;
  }

  &:active {
    border-color: variables.$border-color-active;
    background-color: variables.$background-active;
    box-shadow: variables.$box-shadow-active;
    color: variables.$color-active;
  }

  &.is-loading {
    color: transparent !important;
    pointer-events: none;

    &::after {
      @include core.size(variables.$loading-size);
      content: "";
      position: absolute;
      top: calc(50% - (#{variables.$loading-size} * 0.5));
      left: calc(50% - (#{variables.$loading-size} * 0.5));
      animation: spin variables.$loading-animation-duration infinite linear;
      border: variables.$loading-border;
      border-radius: core.$border-radius-circle;
      border-color: set-border-color(variables.$loading-border-tpl, variables.$loading-border-color);
    }
  }
}
