@use "@vrembem/core";
@use "./variables" as var;

.#{var.$prefix-block}button#{var.$prefix-modifier}block {
  display: flex;
  width: 100%;
}

@each $key, $value in core.$breakpoints {
  .#{var.$prefix-block}button#{var.$prefix-modifier}block#{var.$prefix-modifier-value}#{$key} {
    display: flex;
    width: 100%;
  }

  @include core.media-min($key) {
    .#{var.$prefix-block}button#{var.$prefix-modifier}block#{var.$prefix-modifier-value}#{$key} {
      display: inline-flex;
      width: auto;
    }
  }
}
