@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

// TODO: Move this into core library.
$loading-size: 1em !default;
$loading-border: 2px solid !default;
$loading-color: css.get("foreground") !default;
$loading-animation-duration: 0.5s !default;

// TODO: Maybe add a second param for placement strategy.
@mixin loading-spinner($module) {
  @include core.size(css.get($module, "loading-size", $loading-size));
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - calc(css.get($module, "loading-size", $loading-size) * 0.5));
  left: calc(50% - calc(css.get($module, "loading-size", $loading-size) * 0.5));
  animation: spin css.get($module, "loading-animation-duration", $loading-animation-duration) infinite linear;
  border: css.get($module, "loading-border", $loading-border);
  border-radius: core.$border-radius-circle;
  border-color: css.get($module, "loading-color", $loading-color) css.get("button", "loading-color", $loading-color) transparent transparent;
}

// TODO: Ensure that this is only included once when moved to core.
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// TODO: Move this into core library.
@mixin form-control-properties($module) {
  min-width: css.get($module, "size", css.get("form-control-size"));
  min-height: css.get($module, "size", css.get("form-control-size"));
  padding: css.get($module, "padding", core.minus-border-width(core.$form-control-padding, css.get($module, "border-width", css.get("form-control-border-width"))));
  transition-property: css.get($module, "transition-property", css.get("form-control-transition-property"));
  transition-duration: css.get($module, "transition-duration", css.get("form-control-transition-duration"));
  transition-timing-function: css.get($module, "transition-timing-function", css.get("form-control-transition-timing-function"));
  border-width: css.get($module, "border-width", css.get("form-control-border-width"));
  border-radius: css.get($module, "border-radius", css.get("form-control-border-radius"));
  font-size: css.get($module, "font-size", css.get("form-control-font-size"));
  line-height: css.get($module, "line-height", css.get("form-control-line-height"));
}

@mixin button-base() {
  position: relative;
  display: inline-flex;
  gap: css.get("button", "gap", var.$gap);
  align-items: center;
  justify-content: center;
  outline: none;
  border-style: solid;
  background-clip: border-box;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

@mixin button-color() {
  border-color: css.get("button", "border-color", var.$border-color);
  background: css.get("button", "background", var.$background);
  color: css.get("button", "foreground", var.$foreground);
  box-shadow: 0 0 0 0 css.get("button", "box-shadow", var.$box-shadow);
}

#{core.bem("button")} {
  @include form-control-properties("button");
  @include button-base();
  @include button-color();
  
  &:hover {
    border-color: css.get("button", "border-color-hover", "border-color", var.$border-color-hover);
    background: css.get("button", "background-hover", "background", var.$background-hover);
    color: css.get("button", "foreground-hover", "foreground", var.$foreground-hover);
    box-shadow: css.get("button", "box-shadow-hover", "box-shadow", var.$box-shadow-hover);
  }

  &:focus {
    border-color: css.get("button", "border-color-focus", "border-color-hover", "border-color", var.$border-color-focus);
    background: css.get("button", "background-focus", "background-hover", "background", var.$background-focus);
    color: css.get("button", "foreground-focus", "foreground-hover", "foreground", var.$foreground-focus);
    box-shadow: css.get("button", "box-shadow-focus", "box-shadow-hover", "box-shadow", var.$box-shadow-focus);
  }

  &:focus-visible {
    border-color: css.get("button", "border-color-focus-visible", "border-color-focus", "border-color-hover", "border-color", var.$border-color-focus-visible);
    background: css.get("button", "background-focus-visible", "background-focus", "background-hover", "background", var.$background-focus-visible);
    color: css.get("button", "foreground-focus-visible", "foreground-focus", "foreground-hover", "foreground", var.$foreground-focus-visible);
    box-shadow: css.get("button", "box-shadow-focus-visible", "box-shadow-focus", "box-shadow-hover", "box-shadow", var.$box-shadow-focus-visible);
  }

  &:active {
    border-color: css.get("button", "border-color-active", "border-color", var.$border-color-active);
    background: css.get("button", "background-active", "background", var.$background-active);
    color: css.get("button", "foreground-active", "foreground", var.$foreground-active);
    box-shadow: css.get("button", "box-shadow-active", "box-shadow", var.$box-shadow-active);
  }

  &:disabled:not(.is-loading) {
    opacity: css.get("button", "disabled-opacity", var.$disabled-opacity);
    pointer-events: none;
  }

  &.is-loading {
    color: transparent !important;
    pointer-events: none;

    &::after {
      @include loading-spinner("button");
    }
  }
}
