@use "sass:list";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}button#{$_m}icon {
  padding: var.$icon-padding;

  &.#{$_b}button#{$_m}size#{$_v}sm {
    padding: var.$icon-padding-sm;
  }

  &.#{$_b}button#{$_m}size#{$_v}lg {
    padding: var.$icon-padding-lg;
  }
}
