@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}button#{$_m}color#{$_v}subtle {
  background: none;

  &:hover {
    background: rgba(core.$black, 0.06);
  }

  &:focus {
    background: rgba(core.$black, 0.09);
  }

  &:active {
    background: rgba(core.$black, 0.12);
  }

  &.is-loading::after {
    border-color: core.set-border-color(var.$loading-border-tpl, core.$color-subtle);
  }

  &.#{var.$prefix-block}button#{var.$prefix-modifier}invert {
    background: none;
    color: core.$white;

    &:hover {
      background: rgba(core.$white, 0.06);
    }

    &:focus {
      background: rgba(core.$white, 0.09);
    }

    &:active {
      background: rgba(core.$white, 0.12);
    }

    &.is-loading::after {
      border-color: core.set-border-color(var.$loading-border-tpl, core.$color-invert-subtle);
    }
  }
}

.#{var.$prefix-block}button#{var.$prefix-modifier}color#{var.$prefix-modifier-value}primary {
  background: core.$primary;
  color: core.$white;

  &:hover {
    background: darken(core.$primary, 6%);
  }

  &:focus {
    background: darken(core.$primary, 9%);
  }

  &:active {
    background: darken(core.$primary, 12%);
  }

  &.is-loading::after {
    border-color: core.set-border-color(var.$loading-border-tpl, core.$white);
  }
}

.#{var.$prefix-block}button#{var.$prefix-modifier}color#{var.$prefix-modifier-value}secondary {
  background: core.$secondary;
  color: core.$white;

  &:hover {
    background: darken(core.$secondary, 6%);
  }

  &:focus {
    background: darken(core.$secondary, 9%);
  }

  &:active {
    background: darken(core.$secondary, 12%);
  }

  &.is-loading::after {
    border-color: core.set-border-color(var.$loading-border-tpl, core.$white);
  }
}
