@use "@vrembem/core";
@use "./variables" as var;
@use "./mixins" as mix;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;

.#{$_b}button#{$_m}subtle {
  @include mix.button-variant(
    $color: core.$color-subtle,
    $color-hover: core.$color,
    $color-focus: core.$color,
    $background: transparent,
    $border: transparent,
    $border-focus: core.$border-color-dark,
    $border-active: core.$border-color-darker,
    $outline-color: core.$color,
    $outline-alpha: 0.05,
  );

  &.#{$_b}button#{$_m}invert {
    @include mix.button-variant(
      $color: core.$color-invert-subtle,
      $color-hover: core.$color-invert,
      $color-focus: core.$color-invert,
      $background: transparent,
      $border: transparent,
      $border-focus: core.$border-color-invert-dark,
      $border-active: core.$border-color-invert-darker,
      $outline-color: core.$color-invert,
      $outline-alpha: 0.05,
    );
  }
}
