@use "@vrembem/core";
@use "@vrembem/core/config";
@use "./variables" as var;

#{core.bem("button", null, "block")} {
  display: flex;
  width: 100%;
}

@each $bp, $value in config.get("button-block", "breakpoints") {
  @include core.media-max($value) {
    #{core.bem("button", null, "block", $bp: $bp)} {
      display: flex;
      width: 100%;
    }
  }
}
