@use "@vrembem/core";
@use "./variables";

.button_color_subtle {
  background: none;

  &:hover {
    background: rgba(core.$black, 0.06);
  }

  &:focus {
    background: rgba(core.$black, 0.09);
  }

  &:active {
    background: rgba(core.$black, 0.12);
  }

  &.is-loading::after {
    border-color: set-border-color(variables.$loading-border-tpl, core.$color-subtle);
  }

  &.button_invert {
    background: none;
    color: core.$white;

    &:hover {
      background: rgba(core.$white, 0.06);
    }

    &:focus {
      background: rgba(core.$white, 0.09);
    }

    &:active {
      background: rgba(core.$white, 0.12);
    }

    &.is-loading::after {
      border-color: set-border-color(variables.$loading-border-tpl, core.$color-invert-subtle);
    }
  }
}

.button_color_primary {
  background: core.$primary;
  color: core.$white;

  &:hover {
    background: darken(core.$primary, 6%);
  }

  &:focus {
    background: darken(core.$primary, 9%);
  }

  &:active {
    background: darken(core.$primary, 12%);
  }

  &.is-loading::after {
    border-color: set-border-color(variables.$loading-border-tpl, core.$white);
  }
}

.button_color_secondary {
  background: core.$secondary;
  color: core.$white;

  &:hover {
    background: darken(core.$secondary, 6%);
  }

  &:focus {
    background: darken(core.$secondary, 9%);
  }

  &:active {
    background: darken(core.$secondary, 12%);
  }

  &.is-loading::after {
    border-color: set-border-color(variables.$loading-border-tpl, core.$white);
  }
}
