@use "sass:color";
@use "@vrembem/core";
@use "./variables" as var;
@use "./mixins" as mix;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;

.#{$_b}button#{$_m}subtle {
  @include mix.button-variant(
    $color: core.$color-subtle,
    $color-hover: core.$color,
    $background: transparent,
    $border: transparent,
    $border-focus: core.$border-color-dark,
    $border-active: core.$border-color-darker,
    $box-shadow: 0 0 0 0 rgba(core.$color, 0),
    $box-shadow-focus: 0 0 0 3px rgba(core.$color, 0.1),
  );

  &.#{$_b}button#{$_m}invert {
    @include mix.button-variant(
      $color: core.$color-invert-subtle,
      $color-hover: core.$color-invert,
      $background: transparent,
      $border: transparent,
      $border-focus: core.$border-color-invert-dark,
      $border-active: core.$border-color-invert-darker,
      $box-shadow: 0 0 0 0 rgba(core.$color-invert, 0),
      $box-shadow-focus: 0 0 0 3px rgba(core.$color-invert, 0.1),
    );
  }
}
