@use "@vrembem/core";
@use "./variables" as var;
@use "./mixins" as mix;

.#{var.$prefix-block}button#{var.$prefix-modifier}invert {
  @include mix.button-variant(
    $color: core.$color-invert,
    $background: transparent,
    $background-active: rgba(core.$white, 0.05),
    $border: core.$border-color-invert-dark,
    $border-hover: core.$border-color-invert-darker,
    $outline-color: core.$color-invert,
    $outline-alpha: 0.15,
  );
}
