@use "sass:list";
@use "./variables" as var;

$_v: var.$prefix-variable;
$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_mv: var.$prefix-modifier-value;

.#{$_b}button#{$_m}icon {
  --#{$_v}button-padding: #{var.$icon-padding};

  &.#{$_b}button#{$_m}size#{$_mv}sm {
    --#{$_v}button-padding: #{var.$icon-padding-sm};
  }

  &.#{$_b}button#{$_m}size#{$_mv}lg {
    --#{$_v}button-padding: #{var.$icon-padding-lg};
  }
}
