@use "sass:meta";
@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/tokens";

$-button-size: config.get("button-size", "variants");

@each $key, $value in $-button-size {
  #{core.bem("button", null, "size", $key)} {
    @if meta.type-of($value) != "map" {
      $value: (
        "font-size": $value
      );
    }

    @include tokens.override("button", $value);
  }
}

@each $bp, $value in config.get("button-size", "breakpoints") {
  @include core.media-min($value) {
    @each $key, $value in $-button-size {
      #{core.bem("button", null, "size", $key, $bp)} {
        @if meta.type-of($value) != "map" {
          $value: (
            "font-size": $value
          );
        }

        @include tokens.override("button", $value);
      }
    }
  }
}
