@use "sass:map";
@use "sass:meta";
@use "@vrembem/core";
@use "@vrembem/core/css";

/// Output the base styles for a button component.
@mixin button-base() {
  @include core.focus-ring-base;

  align-items: center;
  background-clip: border-box;
  border-style: solid;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-weight: inherit;
  gap: css.get("button", "gap", css.get("spacing-sm"));
  justify-content: center;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

/// Creates a button variant using custom properties and hsl relative values.
///
/// @param {color | map} $background
///   The color to use as the button background. Also accepts a map that defines
///   multiple override properties.
/// @param {color} $foreground (white)
///   The color to use as the foreground override.
/// @param {string} $operator ("-")
///   The operator to use on the lightness value. Can either be "-" to darken or
///   "+" to lighten the base lightness value.
///
/// @output Override button custom properties using the provided color values.
///
@mixin button-variant($background, $foreground: white, $operator: "-") {
  // Initialize the default overrides map
  $overrides: (
    "background": $background,
    "foreground": $foreground,
    "border-color": transparent,
    "box-shadow": none
  );

  // If background is a map, merge it with the default overrides
  @if meta.type-of($background) == "map" {
    // Create the new overrides map just to make it easier to read
    $new-overrides: $background;

    // If the new overrides has provided the operator key, update the $operator
    // argument variable and remove it from the new overrides map.
    @if map.has-key($new-overrides, "operator") {
      $operator: map.get($new-overrides, "operator");
      $new-overrides: map.remove($new-overrides, "operator");
    }

    // Merge the default overrides with the new overrides
    $overrides: map.merge($overrides, $new-overrides);
  }

  // Set the default accent value if it was not provided
  @if not map.has-key($overrides, "accent") {
    $overrides: map.set($overrides, "accent", map.get($overrides, "background"));
  }

  // Set the default background-hover value if it was not provided
  @if not map.has-key($overrides, "background-hover") {
    $color: map.get($overrides, "background");
    $overrides: map.set($overrides, "background-hover", hsl(from $color h s calc(l #{$operator} 5)));
  }

  // Set the default background-active value if it was not provided
  @if not map.has-key($overrides, "background-active") {
    $color: map.get($overrides, "background");
    $overrides: map.set($overrides, "background-active", hsl(from $color h s calc(l #{$operator} 10)));
  }

  // Define the overrides CSS variables
  @include css.override("button", $overrides);
}
