@use "sass:color";
@use "@vrembem/core";
@use "./variables" as var;

@mixin button-variant(
  $color,
  $background,
  $border: transparent,
  $box-shadow: 0 0 0 0 rgba($background, 0),
  $color-hover: null,
  $color-focus: $color-hover,
  $color-active: $color-focus,
  $background-hover: if($background == transparent, transparent, color.scale($background, $lightness: -10%)),
  $background-focus: if($background == transparent, transparent, color.scale($background, $lightness: -10%)),
  $background-active: if($background == transparent, transparent, color.scale($background, $lightness: -20%)),
  $border-hover: $border,
  $border-focus: $border-hover,
  $border-active: $border-focus,
  $box-shadow-hover: $box-shadow,
  $box-shadow-focus: 0 0 0 3px rgba($background, 0.4),
  $box-shadow-active: $box-shadow-focus,
) {
  border-color: $border;
  background-color: $background;
  box-shadow: $box-shadow;
  color: $color;

  &:hover {
    border-color: $border-hover;
    background-color: $background-hover;
    box-shadow: $box-shadow-hover;
    color: $color-hover;
  }

  &:focus {
    border-color: $border-focus;
    background-color: $background-focus;
    box-shadow: $box-shadow-focus;
    color: $color-focus;
  }

  &:active {
    border-color: $border-active;
    background-color: $background-active;
    box-shadow: $box-shadow-active;
    color: $color-active;
  }

  &.is-loading::after {
    border-color: core.set-border-color(var.$loading-border-tpl, $color);
  }
}
