@use "sass:color";
@use "@vrembem/core";
@use "./variables" as var;

@mixin button-variant(
  $foreground,
  $background,
  $border: transparent,
  $box-shadow: 0 0 0 0 rgba($background, 0),
  $outline: null,
  $foreground-hover: if(var.$foreground-hover, $foreground, null),
  $foreground-focus: if(var.$foreground-focus, $foreground, null),
  $foreground-active: if(var.$foreground-active, $foreground, null),
  $background-hover: if($background == transparent, transparent, color.scale($background, $lightness: -10%)),
  $background-focus: $background-hover,
  $background-active: if($background == transparent, transparent, color.scale($background, $lightness: -20%)),
  $border-hover: $border,
  $border-focus: $border-hover,
  $border-active: $border-focus,
  $box-shadow-hover: null,
  $box-shadow-focus: 0 0 0 0.2rem rgba($background, 0.5),
  $box-shadow-active: null,
  $outline-hover: null,
  $outline-focus: null,
  $outline-active: null,
) {
  outline-color: $outline;
  border-color: $border;
  background-color: $background;
  box-shadow: $box-shadow;
  color: $foreground;

  &:hover {
    outline-color: $outline-hover;
    border-color: $border-hover;
    background-color: $background-hover;
    box-shadow: $box-shadow-hover;
    color: $foreground-hover;
  }

  &:focus {
    outline-color: $outline-focus;
    border-color: $border-focus;
    background-color: $background-focus;
    box-shadow: $box-shadow-focus;
    color: $foreground-focus;
  }

  &:active {
    outline-color: $outline-active;
    border-color: $border-active;
    background-color: $background-active;
    box-shadow: $box-shadow-active;
    color: $foreground-active;
  }

  &.is-loading::after {
    border-color: core.set-border-color(var.$loading-border-tpl, $foreground);
  }
}
