@use "sass:list";
@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

$gap: 0.5rem !default;
$accent: palette.get("primary") !default;
@include css.set("button", "accent", $accent);

// Appearance
$background: transparent !default;
$background-hover: $background !default;
$background-focus: $background !default;
$background-focus-visible: $background !default;
$background-active: $background !default;

$foreground: css.get("foreground") !default;
$foreground-hover: $foreground !default;
$foreground-focus: $foreground !default;
$foreground-focus-visible: $foreground !default;
$foreground-active: $foreground !default;

$border-color: css.get("border-color-dark") !default;
$border-color-hover: css.get("border-color-darker") !default;
$border-color-focus: $border-color-hover !default;
$border-color-focus-visible: css.get("button", "accent") !default;
$border-color-active: $foreground-active !default;

$box-shadow: 0 0 0 0 hsl(from css.get("button", "accent") h s l / 0%) !default;
$box-shadow-hover: $box-shadow !default;
$box-shadow-focus: $box-shadow !default;
$box-shadow-focus-visible: 0 0 0 0.25rem hsl(from css.get("button", "accent") h s l / 50%) !default;
$box-shadow-active: $box-shadow !default;

// State: disabled
$disabled-opacity: 0.6 !default;

// Modifier: button_icon
$icon-padding: core.minus-border-width(core.$form-control-padding-y, css.get("form-control-border-width"));

// Modifier: button_size_sm
$size-sm-font-size: css.get("form-control-font-size-sm") !default;

// Modifier: button_size_lg
$size-lg-font-size: css.get("form-control-font-size-lg") !default;
