@use "@vrembem/core";
@use "@vrembem/core/css";
@include css.register("button");

$breakpoints: core.$breakpoints !default;
$accent: css.get("button", "accent", css.get("form-control-accent")) !default;
$gap: 0.5rem !default;

// Appearance
$background: transparent !default;
$background-hover: $background !default;
$background-focus: $background !default;
$background-focus-visible: $background !default;
$background-active: $background !default;
$foreground: css.get("foreground") !default;
$foreground-hover: $foreground !default;
$foreground-focus: $foreground !default;
$foreground-focus-visible: $foreground !default;
$foreground-active: $foreground !default;
$border-color: css.get("border-color-dark") !default;
$border-color-hover: css.get("border-color-darker") !default;
$border-color-focus: $border-color-hover !default;
$border-color-focus-visible: $accent !default;
$border-color-active: $foreground-active !default;
$box-shadow: none !default;
$box-shadow-hover: $box-shadow !default;
$box-shadow-focus: $box-shadow !default;
$box-shadow-focus-visible: $box-shadow !default;
$box-shadow-active: $box-shadow !default;

// State: disabled
$disabled-opacity: 0.6 !default;

// Modifier: button_icon
$icon-padding: css.get("form-control-padding-y");

// Modifier: button_size_sm
$size-sm-font-size: css.get("form-control-font-size-sm") !default;

// Modifier: button_size_lg
$size-lg-font-size: css.get("form-control-font-size-lg") !default;
