@use "sass:list";
@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/theme";

$breakpoints: core.$breakpoints !default;
$size: css.get("form-control-size") !default;
$padding: calc(#{list.nth(core.$form-control-padding, 1)} - 1px) list.nth(core.$form-control-padding, 2) !default;
$gap: 0.5rem !default;
$background: null !default;
$background-hover: null !default;
$background-active: null !default;
$foreground: null !default;
$foreground-hover: null !default;
$foreground-active: null !default;
$border-color: null !default;
$border-color-hover: null !default;
$border-color-active: null !default;
$border-width: 1px !default;
$border-radius: css.get("border-radius") !default;
$box-shadow: null !default;
$box-shadow-focus: null !default;
$font-size: 1em !default;
$font-weight: inherit !default;
$line-height: 1.6 !default;
$transition-property: background, color, border-color, box-shadow !default;
$transition-duration: css.get("transition-duration") !default;
$transition-timing-function: css.get("transition-timing-function") !default;

// Disabled
$disabled-opacity: 0.6 !default;

// is-loading
$loading-size: 1em !default;
$loading-border: 2px solid !default;
$loading-border-color: null !default;
$loading-animation-duration: 0.6s !default;
$loading-animation-timing-function: linear !default;

// button_icon
$icon-padding: calc(#{list.nth(core.$form-control-padding, 1)} - 1px);
$icon-padding-sm: calc(#{list.nth(core.$form-control-padding-sm, 1)} - 1px);
$icon-padding-lg: calc(#{list.nth(core.$form-control-padding-lg, 1)} - 1px);

// button_size_sm
$size-sm: css.get("form-control-size-sm") !default;
$size-sm-padding: calc(#{list.nth(core.$form-control-padding-sm, 1)} - 1px) list.nth(core.$form-control-padding-sm, 2) !default;
$size-sm-font-size: css.get("font-size-sm") !default;
$size-sm-line-height: css.get("line-height-sm") !default;

// button_size_lg
$size-lg: css.get("form-control-size-lg") !default;
$size-lg-padding: calc(#{list.nth(core.$form-control-padding-lg, 1)} - 1px) list.nth(core.$form-control-padding-lg, 2) !default;
$size-lg-font-size: css.get("font-size-lg") !default;
$size-lg-line-height: css.get("line-height-lg") !default;

// Custom properties
@include css.set("button", (
  "size": $size,
  "padding": $padding,
  "gap": $gap,
  "background": $background,
  "background-hover": $background-hover,
  "background-active": $background-active,
  "foreground": $foreground,
  "foreground-hover": $foreground-hover,
  "foreground-active": $foreground-active,
  "border-color": $border-color,
  "border-color-hover": $border-color-hover,
  "border-color-active": $border-color-active,
  "border-width": $border-width,
  "border-radius": $border-radius,
  "box-shadow": $box-shadow,
  "box-shadow-focus": $box-shadow-focus,
  "font-size": $font-size,
  "font-weight": $font-weight,
  "line-height": $line-height,
  "disabled-opacity": $disabled-opacity,
  "transition": (
    "property": $transition-property,
    "duration": $transition-duration,
    "timing-function": $transition-timing-function,
  ),
  "loading": (
    "size": $loading-size,
    "border": $loading-border,
    "border-color": $loading-border-color,
    "animation-duration": $loading-animation-duration,
    "animation-timing-function": $loading-animation-timing-function,
  )
));

// Themes
@include theme.set("button", "light", (
  "background": transparent,
  "background-hover": transparent,
  "background-focus": transparent,
  "foreground": css.get("foreground"),
  "foreground-hover": css.get("foreground"),
  "foreground-focus": css.get("foreground"),
  "border-color": css.get("border-color-dark"),
  "border-color-hover": css.get("border-color-darker"),
  "border-color-focus": css.get("border-color-darker"),
  "loading-border-color": css.get("foreground"),
  "box-shadow": 0 0 0 0 rgb(0 0 0 / 0%),
  "box-shadow-focus": 0 0 0 0.2rem rgb(0 0 0 / 15%)
));

@include theme.set("button", "dark", (
  "box-shadow": 0 0 0 0 rgb(255 255 255 / 0%),
  "box-shadow-focus": 0 0 0 0.2rem rgb(255 255 255 / 15%),
));
