@import "variables";

.button_size_sm {
  font-size: $button_size_sm-font-size;
  line-height: 1.6;
  padding: $button_size_sm-padding;

  .icon {
    padding: 0.129em;
  }
}

.button_size_lg {
  font-size: $button_size_lg-font-size;
  padding: $button_size_lg-padding;

  &:not(.button_icon) .icon:first-child {
    margin-left: -0.25em;
  }

  &:not(.button_icon) .icon:last-child {
    margin-right: -0.25em;
  }
}
