@import "variables";

.button {
  align-items: center;
  background: $button-background;
  background-clip: border-box;
  border: $button-border-width solid $button-border-color;
  border-radius: $button-border-radius;
  color: $button-color;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  justify-content: center;
  letter-spacing: $button-letter-spacing;
  line-height: $button-line-height;
  padding: $button-padding;
  position: relative;
  text-decoration: none;
  text-transform: $button-text-transform;
  vertical-align: top;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $button-background-hover;
    border-color: $button-border-color-hover;
    color: $button-color-hover;
  }

  &:focus {
    outline: $button-focus-outline;
  }

  > * + * {
    margin-left: $button-inner-spacing;
  }

  .icon {
    padding: $button-icon-padding;
  }
}
