@import "./variables";

.button_size_sm {
  height: $button_size_sm-height;
  padding: $button_size_sm-padding;
  font-size: $button_size_sm-font-size;

  .icon {
    padding: 0.129em;
  }
}

.button_size_lg {
  height: $button_size_lg-height;
  padding: $button_size_lg-padding;
  font-size: $button_size_lg-font-size;

  &:not(.button_icon) .icon:first-child {
    margin-left: -0.25em;
  }

  &:not(.button_icon) .icon:last-child {
    margin-right: -0.25em;
  }
}
