@use "@vrembem/core";

.button_block {
  display: flex;
  width: 100%;
}

@each $key, $value in core.$breakpoints {
  .button_block_#{$key} {
    display: flex;
    width: 100%;
  }

  @include core.media-min($key) {
    .button_block_#{$key} {
      display: inline-flex;
      width: auto;
    }
  }
}
