@import "./variables";

.button_color_subtle {
  background: none;

  &:hover,
  &:focus {
    background: rgba($black, 0.05);
  }

  &:active {
    background: rgba($black, 0.1);
  }

  &.is-loading::after {
    border-color: transparent transparent $color-light $color-light;
  }

  &.button_invert {
    background: none;
    color: $white;

    &:hover,
    &:focus {
      background: rgba($white, 0.05);
    }

    &:active {
      background: rgba($white, 0.1);
    }

    &.is-loading::after {
      border-color: transparent transparent $color-invert-subtle $color-invert-subtle;
    }
  }
}

.button_color_primary {
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($primary, 5%);
    color: $white;
  }

  &:active {
    background-color: darken($primary, 10%);
    color: $white;
  }

  &.is-loading::after {
    border-color: transparent transparent $white $white;
  }
}

.button_color_secondary {
  background-color: $secondary;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($secondary, 5%);
    color: $white;
  }

  &:active {
    background-color: darken($secondary, 10%);
    color: $white;
  }

  &.is-loading::after {
    border-color: transparent transparent $white $white;
  }
}

.button_color_accent {
  background-color: $accent;
  color: $color;

  &:hover,
  &:focus {
    background-color: darken($accent, 10%);
    color: $color;
  }

  &:active {
    background-color: darken($accent, 20%);
    color: $color;
  }
}
