@import "./variables";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $button-height;
  padding: $button-padding;
  border: $button-border-width solid $button-border-color;
  border-radius: $button-border-radius;
  background: $button-background;
  background-clip: border-box;
  box-shadow: $button-box-shadow;
  color: $button-color;
  font-family: inherit;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  line-height: $button-line-height;
  text-decoration: none;
  text-transform: $button-text-transform;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    border-color: $button-border-color-hover;
    background-color: $button-background-hover;
    box-shadow: $button-box-shadow-hover;
    color: $button-color-hover;
  }

  &:focus {
    outline: $button-focus-outline;
    outline-offset: $button-focus-outline-offset;
    border-color: $button-border-color-focus;
    background-color: $button-background-focus;
    box-shadow: $button-box-shadow-focus;
    color: $button-color-focus;
  }

  &:active {
    border-color: $button-border-color-active;
    background-color: $button-background-active;
    box-shadow: $button-box-shadow-active;
    color: $button-color-active;
  }

  &.is-loading {
    color: transparent !important;
    pointer-events: none;

    &::after {
      @include size(1em);
      content: "";
      position: absolute;
      top: calc(50% - (1em * 0.5));
      left: calc(50% - (1em * 0.5));
      animation: spin 0.6s infinite linear;
      border: 2px solid $button-color;
      border-radius: 9999px;
      border-color: transparent transparent $button-color $button-color;
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  > * + * {
    margin-left: $button-inner-spacing;
  }
}
