@import "./variables";

.button_color_subtle {
  background: none;

  &:hover {
    background: rgba($black, 0.05);
  }

  &:focus,
  &:active {
    background: rgba($black, 0.1);
  }

  &.is-loading::after {
    border-color: set-border-color($button-loading-border-tpl, $color-light);
  }

  &.button_invert {
    background: none;
    color: $white;

    &:hover {
      background: rgba($white, 0.05);
    }

    &:focus,
    &:active {
      background: rgba($white, 0.1);
    }

    &.is-loading::after {
      border-color: set-border-color($button-loading-border-tpl, $color-invert-light);
    }
  }
}

.button_color_primary {
  background-color: $primary;
  color: $white;

  &:hover {
    background-color: darken($primary, 5%);
    color: $white;
  }

  &:focus,
  &:active {
    background-color: darken($primary, 10%);
    color: $white;
  }

  &.is-loading::after {
    border-color: set-border-color($button-loading-border-tpl, $white);
  }
}

.button_color_secondary {
  background-color: $secondary;
  color: $white;

  &:hover {
    background-color: darken($secondary, 5%);
    color: $white;
  }

  &:focus,
  &:active {
    background-color: darken($secondary, 10%);
    color: $white;
  }

  &.is-loading::after {
    border-color: set-border-color($button-loading-border-tpl, $white);
  }
}
