@import "variables";

.button_icon {
  padding: nth($button-padding, 1);

  &.button_size_sm {
    padding: nth($button_size_sm-padding, 1);
  }

  &.button_size_lg {
    padding: nth($button_size_lg-padding, 1);
  }
}
