@import "./variables";

.button_outline {
  border: $button_outline-border-width solid rgba($color, 0.1);
  background: none;

  &:hover {
    border-color: rgba($color, 0.2);
    background: none;
  }

  &:focus,
  &:active {
    border-color: $color;
    background: none;
  }

  &.button_invert {
    border-color: rgba($white, 0.15);

    &:hover {
      border-color: rgba($white, 0.25);
    }

    &:focus,
    &:active {
      border-color: $white;
    }
  }
}

.button_outline_primary {
  border: $button_outline-border-width solid rgba($primary, 0.5);
  background: none;
  color: $primary;

  &:hover {
    border-color: $primary;
    background: none;
    color: $primary;
  }

  &:focus,
  &:active {
    border-color: $primary;
    background: $primary;
    color: $white;
  }

  &.is-loading::after {
    border-color: set-border-color($button-loading-border-tpl, $primary);
  }

  &.is-loading:focus::after {
    border-color: set-border-color($button-loading-border-tpl, $white);
  }
}

.button_outline_secondary {
  border: $button_outline-border-width solid rgba($secondary, 0.5);
  background: none;
  color: $secondary;

  &:hover {
    border-color: $secondary;
    background: none;
    color: $secondary;
  }

  &:focus,
  &:active {
    border-color: $secondary;
    background: $secondary;
    color: $white;
  }

  &.is-loading::after {
    border-color: set-border-color($button-loading-border-tpl, $secondary);
  }

  &.is-loading:focus::after {
    border-color: set-border-color($button-loading-border-tpl, $white);
  }

  &.button_invert {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}
