@use "./variables";

.button_icon {
  padding: nth(variables.$padding, 1);

  &.button_size_sm {
    padding: nth(variables.$size_sm-padding, 1);
  }

  &.button_size_lg {
    padding: nth(variables.$size_lg-padding, 1);
  }
}
