@import "./variables";

.button_invert {
  background: rgba($white, 0.05);
  color: $white;

  &:hover,
  &:focus {
    background: rgba($white, 0.1);
    color: $white;
  }

  &:active {
    background: rgba($white, 0.15);
    color: $white;
  }

  &.is-loading::after {
    border-color: transparent transparent $white $white;
  }
}
