@use "@vrembem/core";
@use "./variables";

.button_outline {
  border: variables.$outline-border-width solid core.$border-color-dark;
  background: none;

  &:hover {
    border-color: core.$border-color-darker;
    background: none;
  }

  &:focus,
  &:active {
    border-color: core.$color;
    background: none;
  }

  &.button_invert {
    border-color: core.$border-color-invert-dark;

    &:hover {
      border-color: core.$border-color-invert-darker;
    }

    &:focus,
    &:active {
      border-color: core.$white;
    }
  }
}

.button_outline_primary {
  border: variables.$outline-border-width solid rgba(core.$primary, 0.5);
  background: none;
  color: core.$primary;

  &:hover {
    border-color: core.$primary;
    background: none;
    color: core.$primary;
  }

  &:focus,
  &:active {
    border-color: core.$primary;
    background: core.$primary;
    color: core.$white;
  }

  &.is-loading::after {
    border-color: set-border-color(variables.$loading-border-tpl, core.$primary);
  }

  &.is-loading:focus::after {
    border-color: set-border-color(variables.$loading-border-tpl, core.$white);
  }

  &.button_invert {
    border-color: core.$primary-light;
    color: core.$primary-light;

    &:hover {
      color: core.$white;
    }

    &:focus,
    &:active {
      border-color: core.$primary;
      background-color: core.$primary;
      color: core.$white;
    }
  }
}

.button_outline_secondary {
  border: variables.$outline-border-width solid rgba(core.$secondary, 0.5);
  background: none;
  color: core.$secondary;

  &:hover {
    border-color: core.$secondary;
    background: none;
    color: core.$secondary;
  }

  &:focus,
  &:active {
    border-color: core.$secondary;
    background: core.$secondary;
    color: core.$white;
  }

  &.is-loading::after {
    border-color: set-border-color(variables.$loading-border-tpl, core.$secondary);
  }

  &.is-loading:focus::after {
    border-color: set-border-color(variables.$loading-border-tpl, core.$white);
  }

  &.button_invert {
    border-color: core.$secondary-light;
    color: core.$secondary-light;

    &:hover {
      color: core.$white;
    }

    &:focus,
    &:active {
      border-color: core.$secondary;
      background-color: core.$secondary;
      color: core.$white;
    }
  }
}
