@import 'vrem-core';
@include add-comment('button');

$button-padding: $padding !default;
$button-font-size: 1em !default;
$button-line-height: 1.5em !default;

$button_small-padding: 0.25em 0.5em !default;
$button_small-font-size: 0.875em !default;

$button_large-padding: 0.5em 1.5em !default;
$button_large-font-size: 1.25em !default;

$button-background: rgba($black, 0.05) !default;
$button-background-hover: rgba($black, 0.1) !default;
$button-border-width: 1px !default;
$button-border-color: transparent !default;
$button-border-color-hover: transparent !default;
$button-border-radius: $border-radius !default;

$button__text-spacing: 0.5em !default;

$button__icon-size: 1.25em !default;
$button__icon-margin: 0.1em !default;

$button_outline_border-width: 1px !default;

.button {
  cursor: pointer;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: $button-padding;
  color: $color;
  font-family: inherit;
  font-size: $button-font-size;
  font-weight: inherit;
  line-height: $button-line-height;
  text-decoration: none;
  background: $button-background;
  background-clip: border-box;
  border: $button-border-width solid $button-border-color;
  border-radius: $button-border-radius;

  &:hover,
  &:focus {
    color: $color;
    background-color: $button-background-hover;
    border-color: $button-border-color-hover;
  }

  &:focus {
    outline: none;
  }

  > * {
    flex-shrink: 0;
  }
}

.button__text {
  margin: 0 $button__text-spacing;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

/**
 * button_size
 */

.button_size_small {
  padding: $button_small-padding;
  font-size: $button_small-font-size;
}

.button_size_large {
  padding: $button_large-padding;
  font-size: $button_large-font-size;
}

/**
 * button_block
 */

.button_block {
  display: flex;
  width: 100%;
}

/**
 * button_icon
 */

.button_icon {
  padding: nth($button-padding, 1);
  justify-content: center;

  &.button_size_small {
    padding: nth($button_small-padding, 1);
  }

  &.button_size_large {
    padding: nth($button_large-padding, 1);
  }
}

/**
 * button_color
 */

.button_color_inverted {
  color: $white;
  background: rgba($white, 0.05);
  background-clip: border-box;
  border: $button-border-width solid $button-border-color;

  &:hover,
  &:focus {
    color: $white;
    background-color: rgba($white, 0.1);
    border-color: $button-border-color-hover;
  }
}

.button_color_primary {
  color: $white;
  background: $primary;

  &:hover,
  &:focus {
    color: $white;
    background: darken($primary, 10%);
  }
}

.button_color_secondary {
  color: $white;
  background: $secondary;

  &:hover,
  &:focus {
    color: $white;
    background: darken($secondary, 10%);
  }
}

.button_color_success {
  color: $white;
  background: $success;

  &:hover,
  &:focus {
    color: $white;
    background: darken($success, 10%);
  }
}

.button_color_caution {
  color: $white;
  background: $caution;

  &:hover,
  &:focus {
    color: $white;
    background: darken($caution, 5%);
  }
}

.button_color_danger {
  color: $white;
  background: $danger;

  &:hover,
  &:focus {
    color: $white;
    background: darken($danger, 10%);
  }
}

.button_color_light {
  color: $color;
  background: rgba($white, 0.7);

  &:hover,
  &:focus {
    color: $color;
    background: $white;
  }
}

.button_color_dark {
  color: $white;
  background: $gray-800;

  &:hover,
  &:focus {
    color: $white;
    background: $gray-700;
  }
}

.button_color_fade {
  color: $color-light;
  background: none;

  &:hover,
  &:focus {
    color: $color;
    background: rgba($black, 0.05);
  }
}

/**
 * button_outline
 */

.button_outline {
  background: none;
  border: $button_outline_border-width solid $gray-300;

  &:hover,
  &:focus {
    background: $white;
    border-color: $color;
  }
}

.button_outline_primary {
  color: $primary;
  background: none;
  border: $button_outline_border-width solid $primary;

  &:hover,
  &:focus {
    color: $white;
    background: $primary;
    border-color: $primary;
  }
}

.button_outline_secondary {
  color: $secondary;
  background: none;
  border: $button_outline_border-width solid $secondary;

  &:hover,
  &:focus {
    color: $white;
    background: $secondary;
    border-color: $secondary;
  }
}

.button_outline_success {
  color: $success;
  background: none;
  border: $button_outline_border-width solid $success;

  &:hover,
  &:focus {
    color: $white;
    background: $success;
    border-color: $success;
  }
}

.button_outline_caution {
  color: $caution;
  background: none;
  border: $button_outline_border-width solid $caution;

  &:hover,
  &:focus {
    color: $white;
    background: $caution;
    border-color: $caution;
  }
}

.button_outline_danger {
  color: $danger;
  background: none;
  border: $button_outline_border-width solid $danger;

  &:hover,
  &:focus {
    color: $white;
    background: $danger;
    border-color: $danger;
  }
}

.button_outline_light {
  color: $white;
  background: none;
  border: $button_outline_border-width solid $white;

  &:hover,
  &:focus {
    color: $color;
    background: $white;
    border-color: $white;
  }
}

.button_outline_dark {
  color: $gray-800;
  background: none;
  border: $button_outline_border-width solid $gray-800;

  &:hover,
  &:focus {
    color: $white;
    background: $gray-800;
    border-color: $gray-800;
  }
}

.button_outline_fade {
  color: $color-light;
  background: none;
  border: $button_outline_border-width solid $gray-300;

  &:hover,
  &:focus {
    color: $color;
    background: none;
    border-color: $color;
  }
}
