@import 'vrem-core';
@include add-comment('chip');

$chip-color: $white !default;
$chip-padding: px-to-rem(3px) !default;
$chip-font-size: px-to-rem(18px) !default;
$chip-background: rgba($black, 0.25) !default;
$chip-background-hover: rgba($black, 0.5) !default;
$chip-border: 1px solid transparent !default;
$chip-border-hover: 1px solid transparent !default;
$chip-border-radius: 2em !default;

$chip_size_small-padding: px-to-rem(2px) !default;
$chip_size_small-font-size: px-to-em(12px) !default;

$chip_size_large-padding: px-to-em(7px) !default;
$chip_size_large-font-size: px-to-rem(22px) !default;

.chip {
  cursor: pointer;
  vertical-align: top;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: $chip-padding;
  color: $chip-color;
  font-size: $chip-font-size;
  background: $chip-background;
  border: $chip-border;
  border-radius: $chip-border-radius;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $white;
    background: $chip-background-hover;
    border: $chip-border-hover;
  }

  &:focus {
    outline: none;
  }

  .icon {
    margin: 0;
    font-size: 1em;
  }
}

.chip_size_small {
  padding: $chip_size_small-padding;
  font-size: $chip_size_small-font-size;

  .icon {
    stroke-width: 3px;
  }
}

.chip_size_large {
  padding: $chip_size_large-padding;
  font-size: $chip_size_large-font-size;
}

.chip_color_fade {
  color: $color-light;
  background: none;

  &:hover,
  &:focus {
    color: $color;
    background: none;
  }
}

.chip_color_light {
  color: $color;
  background: rgba($white, 0.5);

  &:hover,
  &:focus {
    color: $color;
    background: rgba($white, 1);
  }
}

.chip_color_danger {
  background: $danger;

  &:hover,
  &:focus {
    background: darken($danger, 10%);
  }
}

.chip_color_caution {
  background: $caution;

  &:hover,
  &:focus {
    background: darken($caution, 10%);
  }
}

.chip_color_success {
  background: $success;

  &:hover,
  &:focus {
    background: darken($success, 10%);
  }
}
