@import 'vrem-core';
@include add-comment('notice');

$notice-margin: 1em 0 !default;
$notice-padding: 0.75em 1em !default;
$notice-background: rgba($black, 0.05) !default;
$notice-border-width: 1px !default;
$notice-border-color: rgba($black, 0.1) !default;
$notice-border-radius: $border-radius !default;

.notice {
  position: relative;
  margin: $notice-margin;
  padding: $notice-padding;
  background: $notice-background;
  border: $notice-border-width solid $notice-border-color;
  border-radius: $notice-border-radius;
}

.notice__close {
  float: right;
  margin: -1px -0.25em 0.5em 1em;
}

.notice__content {
  > * {
    margin: 0;
  }

  > * + * {
    margin-top: 1em;
  }
}

.notice_outline {
  background: none;
}

.notice_type_info {
  background: rgba($primary, 0.2);
}

.notice_type_success {
  background: rgba($success, 0.2);
}

.notice_type_caution {
  background: rgba($caution, 0.2);
}

.notice_type_danger {
  background: rgba($danger, 0.2);
}
