.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__header {
  flex: 0 0 auto;
}

.page__main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.page__aside {
  flex: 0 0 16em;
  padding: 3em 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

.page__content {
  flex: 1 1 auto;
  padding: 3em 2em;
  overflow-x: hidden;
  overflow-y: auto;
}
