@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;

:root {
  --popover-offset: #{core.strip-unit(var.$offset)};
  --popover-offset-overflow: #{core.strip-unit(var.$offset-overflow)};
}

.#{$_b}popover {
  position: relative;
  z-index: var.$z-index;
  display: none;
  width: var.$width;
  margin: var.$offset 0 0;
  padding: var.$padding;
  border: var.$border;
  border-radius: var.$border-radius;
  background: var.$background;
  background-clip: padding-box;
  box-shadow: var.$box-shadow;
  font-size: var.$font-size;
  line-height: var.$line-height;

  &::before {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: (var.$offset * 1px);
  }

  &.is-active {
    z-index: (var.$z-index + 1);
    display: block;
  }
}
