@import 'variables';

.typography {
  @include add-clearfix();
  font-family: $type-font-family;
  font-size: $type-font-size;
  line-height: $type-line-height;

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin: $type-heading-margin;
    line-height: 1.25;
    font-weight: $type-heading-font-weight;

    a {
      @include add-anchor();
    }

    code {
      padding: 0 0.25em;
      font-size: 1rem;
      word-break: break-word;
      background: rgba($yellow, 0.5);
    }
  }

  > h1 {
    font-size: 2em;
  }

  > h2 {
    font-size: 1.5em;
  }

  > h3 {
    font-size: 1.25em;
  }

  > h4 {
    font-size: 1em;
  }

  > h5 {
    font-size: 0.875em;
  }

  > h6 {
    font-size: 0.85em;
    color: $color-light;
  }

  > p {
    margin-bottom: 1em;

    a {
      @include add-anchor();
    }

    code {
      padding: 0 0.25em;
      background: rgba($yellow, 0.5);
      word-break: break-word;
    }
  }

  > pre {
    padding: 1em;
    background: $background-color;
    border-radius: $border-radius;
  }

  > pre code {
    padding: 0;
    background: none;
    word-break: normal;
  }

  > blockquote {
    padding: $type-blockquote-padding;
    background: $type-blockquote-background;
    border-left: $type-blockquote-border;

    > * + * {
      margin-top: 1em;
    }
  }

  > hr {
    display: block;
    height: 1px;
    margin: 1.5em 0;
    background: $border-color;
    border: none;
  }

  > ul {
    list-style: disc;
  }

  > ol {
    list-style: decimal;

    ol {
      list-style: lower-alpha;
    }
  }

  > ul,
  > ol {
    margin: 1em 0;
    padding-left: 1.5em;

    & ul,
    & ol {
      padding-left: 1.5em;
    }

    > li + li {
      margin-top: 0.5em;
    }
  }
}
