////
/// Colophon library variables
/// @author Sebastian Nitu
/// @access public
////

$project: 'Vrembem' !default;
$description: 'A BEM powered CSS component library.' !default;
$version: '0.1.3' !default;
$author: 'Sebastian Nitu' !default;
$repo: 'https://github.com/sebnitu/vrembem.git' !default;
$url: 'http://sebnitu.com' !default;
$year: '2017' !default;
$license: 'MIT' !default;
