@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$width: 18em !default;
$max-width: 100% !default;
$border: null !default;
$sep-border: null !default;
$background: core.$shade !default;
$box-shadow: none !default;
$transition-duration: core.$transition-duration !default;
$transition-timing-function: core.$transition-timing-function !default;

$frame-height: 100vh !default;

$modal-z-index: 900 !default;
$modal-width: $width !default;
$modal-max-width: 80% !default;
$modal-sep-border: null !default;
$modal-background: core.$white !default;
$modal-box-shadow: core.$box-shadow-24dp !default;
$modal-screen-background: core.$night !default;
$modal-screen-background-alpha: 0.8 !default;
