@use "@vrembem/core";

.slide-up {
  position: relative;
  transition: transform, opacity;
  transition-duration: core.$transition-duration;
  transition-timing-function: core.$transition-timing-function;

  opacity: 0;
  transform: translateY(1rem);

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}
