@use "@vrembem/core/css";
@use "@vrembem/core/palette";

.badge {
  background-color: css.get("background-darker");
  border-radius: css.get("border-radius-circle");
  color: css.get("foreground-lighter");
  display: inline-block;
  font-size: css.get("font-size-sm");
  padding: 0 0.75em;
  position: relative;
  z-index: 1;

  + h1 {
    margin-top: -1rem;
  }
}

a.badge:hover {
  color: palette.get("primary", 30);
  background-color: palette.get("primary", 90);
}
