@use "@vrembem/core/css";

.badge {
  display: inline-block;
  padding: 0 0.75em;
  border-radius: css.get("border-radius-circle");
  background-color: css.get("background-darker");
  color: css.get("foreground-lighter");
  font-size: css.get("font-size-sm");
}
