@use "@vrembem/core/css";
@use "@vrembem/core/palette";

.brand {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.brand__icon {
  color: palette.get("primary");
}

.brand__version {
  color: css.get("foreground-lighter");
}

.brand:hover,
.brand:focus {
  .brand__version {
    color: palette.get("primary");
  }
}
