@use "@vrembem/core/tokens";

.brand {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

.brand__icon {
  color: tokens.get("palette", "primary");
}

.brand__name {
  color: tokens.get("foreground-strong");
}

.brand__version {
  color: tokens.get("foreground-subtle");
}

.brand:hover,
.brand:focus {
  .brand__version {
    color: tokens.get("foreground-accent");
  }
}

/**
 * Vrembem Logo with Gradient Animation
 */

// prettier-ignore
.vrembem-logo {
  --background-size: 12; // This should be a multiplier value (5 = 500%)
  --gradient-color-1: #{tokens.get("palette", "primary")};
  --gradient-color-2: #{tokens.get("palette", "secondary")};
  --gradient-color-3: #{tokens.get("palette", "important")};

  display: inline-block;
  aspect-ratio: 780 / 234;
  width: 100%;
  max-width: 780px;
  background: linear-gradient(
    90deg, 
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3),
    var(--gradient-color-2),
    var(--gradient-color-1)
  );
  background-repeat:repeat-x;
  background-size: calc(var(--background-size) * 100%) 100%;
  mask-image: url("/vrembem-logo.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  animation: logo-gradient 20s linear infinite;
}

@keyframes logo-gradient {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: calc((var(--background-size) * 100%) / (var(--background-size) - 1)) center;
  }
}
