@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

.brand {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.brand__icon {
  color: palette.get("primary");
}

.brand__name {
  color: tokens.get("foreground-strong");
}

.brand__version {
  color: tokens.get("foreground-subtle");
}

.brand:hover,
.brand:focus {
  .brand__version {
    color: tokens.get("foreground-accent");
  }
}
