@use "@vrembem/core/tokens";

.card--feature {
  padding: tokens.get("home", "card-padding");
  border: none;
  border-radius: tokens.get("border-radius-lg");

  .card__title {
    flex-grow: 0;
  }
}
