@use "@vrembem/core/css";

.card_reference {
  .card__header {
    @include css.override("card", "padding", 0.75em 1em);

    display: flex;
    flex-wrap: wrap;
    gap: css.get("spacing-md");
    align-items: center;
  }

  .card__title {
    @include css.override("link", "decoration-thickness", 1.5px);

    padding: 0;
    font-size: 1rem;
    color: css.get("foreground-strong");
    background: transparent;
  }
}
