@use "@vrembem/core/tokens";

.card--feature {
  gap: tokens.get("spacing-sm");
  padding: tokens.get("padding-dynamic");
  border-radius: tokens.get("border-radius-lg");
  text-wrap: pretty;

  &:not(a) {
    box-shadow: none;
  }
}
