@use "@vrembem/core";
@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

.code-example {
  overflow: hidden;
  border: tokens.get("border");
  border-radius: tokens.get("border-radius");

  * {
    scroll-margin-top: initial;
  }

  > * + * {
    border-top: tokens.get("border");
  }

  @include core.media-max("xs") {
    margin: 2rem calc(tokens.get("layout", "padding") * -1) !important;
    border-right: none;
    border-left: none;
    border-radius: 0;

    .pre {
      margin: 0;
    }
  }
}

.code-example__input {
  position: relative;

  .code-block {
    position: static;

    .pre {
      max-height: 34rem;
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .code-block__copy-button {
    top: -2.5rem;
    right: 0.5rem;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

.code-example__output {
  overflow: auto;
  font-size: tokens.get("font-size");

  iframe {
    width: 100%;
    height: tokens.get("core", "iframe-height", 24rem);
    border: 0;
  }

  &.updated {
    animation: 0.6s linear updated;
  }

  .drawer-frame {
    height: 100%;
  }
}

.code-example__inner {
  width: fit-content;
  min-width: 100%;
  padding: 2rem;

  @include core.media-max("xs") {
    padding: 1rem;
  }

  > *:not(.popover) {
    transition: all tokens.get("transition-duration") tokens.get("transition-timing-function");
  }
}

.code-example__demo {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: tokens.get("font-size");
}

.code-example__toolbar {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  font-size: tokens.get("font-size");
  color: tokens.get("foreground-subtle");

  [data-reset] {
    margin: -2px 0;
  }
}

@keyframes updated {
  from {
    box-shadow: 0 0 0 3px palette.get("primary", $a: 100%) inset;
  }

  to {
    box-shadow: 0 0 0 3px palette.get("primary", $a: 0%) inset;
  }
}
