@use "@vrembem/core/palette";
@use "@vrembem/core/theme";
@use "@vrembem/core";
@use "./root";

.code-block {
  position: relative;
  font-size: core.$font-size;
  line-height: core.$line-height;
  text-align: left;

  .pre {
    padding-right: 4em;
    border: core.$border;
    background-color: theme.get("background-dark");
  }
  
  .popover {
    --vb-popover-event: click;
    --vb-popover-placement: left;
    --vb-background: #{palette.get("primary", 100)};
    --vb-foreground: #{palette.get("primary")};
  }

  @include core.media-max(root.$bp-code) {
    .pre {
      margin: auto calc(var(--layout-padding) * -1);
      border-right: none;
      border-left: none;
      border-radius: 0;
    }
  }
}

// Icons and copy button

.code-block__prompt,
.code-block__copy-button {
  position: absolute;
  top: 0.8rem;
  display: flex;
  padding: 0.5rem;
  border-radius: core.$border-radius;
  background-color: theme.get("background-dark");
}

.code-block__prompt {
  left: 0.5rem;
}

.code-block__copy-button {
  right: 1rem;
  color: theme.get("foreground-lighter");

  &:hover {
    color: theme.get("foreground-light");
  }

  @include core.media-max(root.$bp-code) {
    right: 0;
  }
}

/**
 * Modifier: inline
 */

.code-block_inline {  
  .pre {
    padding: 0.75em 4em 0.75em 2.5em;
  }

  .code-block__prompt,
  .code-block__copy-button {
    top: 0.6rem;
  }

  .popover {
    --vb-popover-offset: 24;
    --vb-popover-placement: bottom;
  }

  @include core.media-max(root.$bp-code) {
    .pre {
      margin: 0;
      border-radius: var(--vb-border-radius);
    }
  }
}
