@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "./variables" as var;

.code-block {
  font-size: core.$font-size;
  line-height: css.get("line-height");
  position: relative;
  text-align: left;

  .pre {
    background-color: css.get("background-dark");
    border: css.get("border");
    padding-right: 4em;
  }

  &.has-icon .pre {
    padding-left: 4em;
  }

  .popover {
    @include css.override(
      "popover",
      (
        "placement": left,
        "width": auto,
        "padding": 0.5rem 0.75rem,
        "background": palette.get("primary"),
        "foreground": white
      )
    );
  }

  @include core.media-max(var.$bp-code) {
    .pre {
      border-left: none;
      border-radius: 0;
      border-right: none;
      margin: auto calc(css.get("layout", "padding") * -1);
    }
  }
}

// Icons and copy button

.code-block__icon,
.code-block__copy-button {
  align-items: center;
  background-color: css.get("background-dark");
  border-radius: css.get("border-radius");
  color: css.get("foreground-lighter");
  display: flex;
  inset: 0.8rem;
  padding: 0.5rem;
  position: absolute;
}

.code-block__icon {
  bottom: auto;
  right: auto;

  @include core.media-max(var.$bp-code) {
    left: 0;
  }
}

.code-block__copy-button {
  bottom: auto;
  left: auto;

  &:hover {
    color: css.get("foreground-light");
  }

  @include core.media-max(var.$bp-code) {
    right: 0;
  }
}

/**
 * Modifier: inline
 */

.code-block_inline {
  .pre {
    padding: 0.75em 3.5em 0.75em 1em;
  }

  &.has-icon .pre {
    padding-left: 3.5em;
  }

  .code-block__icon,
  .code-block__copy-button {
    inset: 1px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .code-block__icon {
    right: auto;
  }

  .code-block__copy-button {
    left: auto;
  }

  @include core.media-max(var.$bp-code) {
    .pre {
      border: css.get("border");
      border-radius: css.get("border-radius");
      margin: 0;
    }

    .code-block__icon {
      left: 1rem;
    }

    .code-block__copy-button {
      right: 1rem;
    }
  }
}
