@use "@vrembem/core";
@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

.compare {
  position: relative;
  container-type: inline-size;
  display: flex;
  flex-wrap: nowrap;
  gap: 2em;

  > * {
    flex: 1 1 auto;
  }
}

.compare__list {
  ul {
    list-style: none;
  }

  li {
    position: relative;
    margin: 0.5em 0;
    padding-left: 2em;

    &::before {
      content: "";
      position: absolute;
      inset: 0 auto auto 0;
      display: block;
      width: 1em;
      height: 1em;
      margin: 0.25em;
      background-color: palette.get("primary");
      mask-image: url(core.svg("check"));
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100%;
    }
  }
}

.compare__vs {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0.5em auto 0.5em calc(50% - 2px);
    width: 4px;
    border-radius: 2px;
    background-color: palette.get("neutral", "75");
  }

  &::after {
    content: "vs";
    position: relative;
    z-index: 2;
    display: block;
    box-sizing: content-box;
    width: 2em;
    height: 2em;
    border: 8px solid tokens.get("background");
    border-radius: tokens.get("border-radius-circle");
    color: tokens.get("foreground-strong");
    background-color: palette.get("neutral", "75");
  }
}

@container content (width < 600px) {
  .compare {
    flex-direction: column;
    gap: 0;
  }

  .compare__vs::before {
    inset: calc(50% - 2px) 0 auto;
    width: auto;
    height: 4px;
  }
}
