// Import core to bootstrap all modules
@use "@vrembem/core";

// Import modules to configure
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

// Set config options
@include config.set(
  "prefix-cssvar",
  (
    "default": "vb",
    "astro": ""
  )
);

// Set CSS variables
@include css.set("core", "font-family", #{'"Barlow", sans-serif'});
@include css.set(
  "type",
  (
    "font-size": css.get("font-size-lg"),
    "line-height": 1.7778
  )
);
@include css.set(
  "layout",
  (
    "width": 80rem,
    "padding": 1rem,
    "navibar-height": 5.25rem,
    "toolbar-height": 4.75rem,
    "footer-height": 6rem,
    "drawer-width": 16rem,
    "drawer-padding": 1rem,
    "gap": 6rem,
    "aside-width": 12rem,
    // aside-padding: used to prevent cutoff of focus outline styles
    "aside-padding": 0.25rem,
    "content-width": 42rem
  )
);

// Set CSS variable themes
@include theme.set("light", "background-glass", palette.get("neutral", 100, 90%));
@include theme.set("dark", "background-glass", palette.get("neutral", 10, 90%));
@include theme.set(
  "astro",
  "light",
  (
    "code": (
      "background": css.get("background-dark"),
      "foreground": css.get("foreground"),
      "color-text": css.get("foreground"),
      "token": (
        "comment": css.get("foreground-lighter"),
        "constant": #1b6bc6,
        "string": #1b6bc6,
        "keyword": css.get("foreground"),
        "parameter": #df7a32,
        "function": #794bcf,
        "string-expression": #309b4a,
        "punctuation": #ce3b4a,
        "link": #ce3b4a
      )
    )
  )
);
@include theme.set(
  "astro",
  "dark",
  (
    "code": (
      "background": css.get("background-dark"),
      "foreground": css.get("foreground"),
      "color-text": css.get("foreground"),
      "token": (
        "comment": css.get("foreground-lighter"),
        "constant": #79b8ff,
        "string": #79b8ff,
        "keyword": css.get("foreground"),
        "parameter": #ffab70,
        "function": #b392f0,
        "string-expression": #85e89d,
        "punctuation": #f97583,
        "link": #f97583
      )
    )
  )
);
