@use "@vrembem/core";
@use "@vrembem/core/tokens";

.content {
  scroll-margin-top: calc(tokens.get("layout", "toolbar-height") + 2rem);

  @include core.media-min("sidebar") {
    scroll-margin-top: calc(tokens.get("layout", "navibar-height") + 2rem);
  }

  * {
    scroll-margin-top: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    outline: none;
  }

  h3 {
    font-weight: 500;
  }

  h4 {
    font-size: 1.25em;
  }
}

.content__prepend {
  margin-bottom: 2rem;

  @include core.media-min("md") {
    margin-bottom: 3rem;
  }

  @include core.media-min("lg") {
    margin-bottom: 4rem;
  }
}

.content__append {
  margin-top: 2rem;

  > * + * {
    margin-top: 2rem;
  }

  @include core.media-min("md") {
    margin-top: 3rem;
  }

  @include core.media-min("lg") {
    margin-top: 4rem;
  }
}
