@use "@vrembem/core/theme";
@use "@vrembem/core";
@use "@vrembem/base";
@use "./root";

.doc-block {
  margin: 2rem 0 !important;
  border: core.$border;
  border-radius: core.$border-radius;
  font-size: core.$font-size;
  line-height: core.$line-height;

  & + & {
    margin-top: -1rem !important;
  }

  @include core.media-max(root.$bp-code) {
    margin: 2rem calc(var(--layout-padding) * -1) !important;
    border-right: none;
    border-left: none;
    border-radius: 0;

    .doc-block__file .pre {
      margin: 0;
    }
  }
}

.doc-block__header {
  padding: 0.5rem 1rem 0.5rem 0.5rem;

  .header-anchor {
    @include base.link();
    position: static;
    margin: 0 0.25rem 0 -0.25rem;
    opacity: 1;
  }
}

.doc-block__content {
  position: relative;
  border-top: core.$border;
}

.doc-block__intro,
.doc-block__arguments,
.doc-block__example {
  @include core.gap(1rem, "y");
  padding: 1rem;
}

.doc-block__file .pre {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
