@use "@vrembem/core/palette";
@use "@vrembem/core";
@use "./root";

.doc-block {
  margin: 2rem 0 !important;
  transition: core.$transition-duration core.$transition-timing-function;
  transition-property: border-color, box-shadow;
  border: core.$border;
  border-radius: core.$border-radius;
  box-shadow: 0 0 0 0 palette.get("primary", 90);
  font-size: core.$font-size;
  line-height: core.$line-height;

  & + & {
    margin-top: -1rem !important;
  }

  &.is-active {
    border-color: palette.get("primary");
    box-shadow: 0 0 0 0.2rem palette.get("primary", 50%, 20%);
  }

  @include core.media-max(root.$bp-code) {
    margin: 2rem calc(var(--layout-padding) * -1) !important;
    border-right: none;
    border-left: none;
    border-radius: 0;

    .doc-block__file .pre {
      margin: 0;
    }
  }

  .type {
    font-size: core.$font-size;
    line-height: core.$line-height;

    > * + * {
      margin-top: 1rem;
    }
  }
}

.doc-block__header {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.doc-block__title {
  flex-grow: 1;
  font-weight: normal;
}

.doc-block__content {
  position: relative;
  border-top: core.$border;
}

.doc-block__meta {
  display: flex;
  gap: 0.5rem 2rem;
  flex-wrap: wrap;
}

.doc-block__intro,
.doc-block__arguments,
.doc-block__example {
  padding: 1rem;

  > * + * {
    margin-top: 1rem;
  }
}

.doc-block__file .pre {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
