@use "@vrembem/core";
@use "@vrembem/core/css";

.drawer_sidebar {
  position: fixed;
  visibility: hidden;

  .drawer__dialog {
    background-color: css.get("background-shift");
    outline: none;
  }

  .drawer__container {
    overscroll-behavior: contain;
    padding: css.get("layout", "padding");
  }
}

/**
 * Inline sidebar
 */

@include core.media-min("sidebar") {
  .drawer_sidebar {
    z-index: 2;
    box-sizing: content-box;
    width: calc(css.get("layout", "sidebar-width") + css.get("layout", "padding"));
    padding-left: max(0px, calc((100% - (css.get("layout", "width") + (css.get("layout", "padding") * 2))) / 2));
    visibility: visible;
    background-color: css.get("background-shift");

    // Fold shadow
    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      z-index: 2;
      inset: 0 0 auto auto;
      width: 2rem;
      height: 100%;
      background: linear-gradient(268deg, rgb(0 0 0 / 8%) 0, rgb(0 0 0 / 0%) 2rem);
    }

    .drawer__dialog {
      inset: 0 0 0 auto;
      width: calc(css.get("layout", "sidebar-width") + css.get("layout", "padding"));
      background-color: transparent;
    }

    .drawer__container {
      padding: css.get("layout", "navibar-height") css.get("layout", "padding") css.get("layout", "padding");
    }

    // Scrolling mask
    .drawer__mask {
      position: sticky;
      z-index: 2;
      inset: calc((css.get("layout", "navibar-height") + css.get("layout", "padding")) * -1) 0 auto 0;
      flex-shrink: 0;
      height: calc(css.get("layout", "navibar-height") + css.get("layout", "padding"));
      margin: calc((css.get("layout", "navibar-height") + css.get("layout", "padding")) * -1) calc(css.get("layout", "padding") * -1) css.get("layout", "padding") calc(css.get("layout", "padding") * -1);
      background-color: css.get("background-shift");

      &::after {
        content: "";
        position: absolute;
        inset: 100% 0 auto;
        margin: 0 css.get("layout", "padding");
        border-bottom: 1px solid css.get("border-color");
      }
    }
  }
}
