@use "@vrembem/core/theme";
@use "@vrembem/core";
@use "@vrembem/base";
@use "./root";

.file-reference {
  margin: 2rem 0 !important;
  border: core.$border;
  border-radius: core.$border-radius;
  font-size: core.$font-size;
  line-height: core.$line-height;

  & + & {
    margin-top: -1rem !important;
  }

  @include core.media-max(root.$bp-code) {
    margin: 2rem calc(var(--layout-padding) * -1) !important;
    border-right: none;
    border-left: none;
    border-radius: 0;

    .pre {
      margin: 0;
    }
  }
}

.file-reference__header {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  color: theme.get("foreground-lighter");

  .header-anchor {
    @include base.link();
    position: static;
    margin: 0 0.25rem 0 -0.25rem;
    opacity: 1;
  }
}

.file-reference__toggle {
  .icon {
    transform: rotate(0);
    transition-property: transform;
    transition-duration: core.$transition-duration;
    transition-timing-function: core.$transition-timing-function;
  }

  &[aria-expanded="true"] .icon {
    transform: rotate(90deg);
  }
}

.file-reference__content {
  position: relative;
  display: none;
  border-top: core.$border;

  .code-block {
    .pre {
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &[aria-hidden="false"] {
    display: block;
  }
}
