@use "@vrembem/core";
@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: start center;
}

.footer__copy {
  width: 100%;
  max-width: calc(tokens.get("main", "content-width") + tokens.get("main", "content-padding-x"));
  padding: 3em tokens.get("main", "content-padding-x");
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 3em tokens.get("main", "aside-padding");
  color: palette.get("primary");

  @include core.media-min("aside") {
    width: tokens.get("main", "aside-width");
  }
}
