@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

:root {
  // Shiki light theme
  --astro-code-background: #{css.get("background-dark")};
  --astro-code-foreground: #{css.get("foreground")};
  --astro-code-color-text: #{css.get("foreground")};
  --astro-code-token-comment: #{css.get("foreground-lighter")};
  --astro-code-token-constant: #1b6bc6;
  --astro-code-token-string: #1b6bc6;
  --astro-code-token-keyword: #{css.get("foreground")};
  --astro-code-token-parameter: #df7a32;
  --astro-code-token-function: #794bcf;
  --astro-code-token-string-expression: #309b4a;
  --astro-code-token-punctuation: #ce3b4a;
  --astro-code-token-link: #ce3b4a;

  // Shiki dark theme
  &#{theme.class("dark")} {
    --astro-code-background: #{css.get("background-dark")};
    --astro-code-foreground: #{css.get("foreground")};
    --astro-code-color-text: #{css.get("foreground")};
    --astro-code-token-comment: #{css.get("foreground-lighter")};
    --astro-code-token-constant: #79b8ff;
    --astro-code-token-string: #79b8ff;
    --astro-code-token-keyword: #{css.get("foreground")};
    --astro-code-token-parameter: #ffab70;
    --astro-code-token-function: #b392f0;
    --astro-code-token-string-expression: #85e89d;
    --astro-code-token-punctuation: #f97583;
    --astro-code-token-link: #f97583;
  }
}

astro-island {
  display: block !important;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: palette.get("primary", 50, 50%) transparent;
  text-wrap: pretty;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.main {
  min-height: 100vh;
}

[tabindex="-1"] {
  outline: none;
}

.icon_inline {
  vertical-align: text-bottom;
}

.slide-up {
  opacity: 0;
  position: relative;
  transform: translateY(1rem);
  transition: css.get("transition");
  transition-property: transform, opacity;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * CodeExample
 * These are styles used specifically in code example blocks
 */

// Source: sass-utilities.mdx

@include css.register("focus-ring-example");

.focus-ring-example {
  @include core.focus-ring-base;
  @include core.focus-ring("focus-ring-example", pink);

  &:hover {
    @include core.focus-ring("focus-ring-example", green, 80%);
  }
}
