@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/button";

astro-island {
  display: block !important;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: palette.get("primary", 50, 50%) transparent;
  text-wrap: pretty;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.main {
  min-height: 100vh;
}

.icon_inline {
  vertical-align: text-bottom;
}

.slide-up {
  opacity: 0;
  position: relative;
  transform: translateY(1rem);
  transition: css.get("transition");
  transition-property: transform, opacity;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * CodeExample
 * These are styles used specifically in code example blocks
 */

// Source: sass-utilities.mdx ## focus-ring-color

@include css.register("focus-ring-example");

.focus-ring-example {
  @include core.focus-ring-base;
  @include core.focus-ring-color(pink);

  &:hover {
    @include core.focus-ring-color(green, 80%);
  }
}

// Source: sass-utilities.mdx ## svg

.svg-icon {
  @include core.size(1rem);

  background-color: salmon;
  display: inline-block;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;

  &.svg-check {
    mask-image: url(core.svg("check"));
  }

  &.svg-chevron {
    mask-image: url(core.svg("chevron"));
  }

  &.svg-expand {
    mask-image: url(core.svg("expand"));
  }

  &.svg-plus {
    mask-image: url(core.svg("+"));
  }

  &.svg-minus {
    mask-image: url(core.svg("-"));
  }

  &.svg-alert {
    mask-image: url(core.svg("!"));
  }

  &.svg-help {
    mask-image: url(core.svg("?"));
  }

  &.svg-x {
    mask-image: url(core.svg("x"));
  }
}

// Source: button.mdx

.button_color_custom {
  @include button.variant(salmon);
}
