@use "@vrembem/core/css";
@use "@vrembem/core/palette";

astro-island {
  display: block !important;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: palette.get("primary", 50, 50%) transparent;
  text-wrap: pretty;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.main {
  min-height: 100vh;
}

[tabindex="-1"] {
  outline: none;
}

.argument-list {
  > li {
    border-top: css.get("border");
    padding: 0.5em 0;
  }

  > li:first-child {
    border-top: none;
  }
}

.icon_inline {
  vertical-align: text-bottom;
}
