@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

astro-island {
  display: block !important;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: palette.get("primary", 50, 50%) transparent;
  text-wrap: pretty;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.main {
  min-height: 100vh;
}

[tabindex="-1"] {
  outline: none;
}

.icon_inline {
  vertical-align: text-bottom;
}

.slide-up {
  opacity: 0;
  position: relative;
  transform: translateY(1rem);
  transition: transform, opacity;
  transition-duration: core.$transition-duration;
  transition-timing-function: core.$transition-timing-function;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * CodeExample
 * These are styles used specifically in code example blocks
 */

// Source: sass-utilities.mdx

@include css.register("focus-ring-example");

.focus-ring-example {
  @include core.focus-ring-base;
  @include core.focus-ring("focus-ring-example", pink);

  &:hover {
    @include core.focus-ring("focus-ring-example", green, 80%);
  }
}
