@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/base";
@use "@vrembem/button";
@use "./variables" as var;

.heading-anchor {
  @include css.override("core", "form-control-border-width", 0);

  align-items: center;
  background-color: palette.get("primary", 50%, 0%);
  border-radius: core.$border-radius-circle;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  margin-left: 0.5rem;
  opacity: 0;
  padding: css.get("form-control-padding-y");
  text-decoration: none !important;
  transition:
    color css.get("transition-duration"),
    opacity css.get("transition-duration");
  transition-timing-function: css.get("transition-timing-function");
  user-select: none;

  &:focus,
  &:hover {
    background-color: palette.get("primary", 50%, 20%);
  }

  &:hover,
  h1:hover &,
  h2:hover &,
  h3:hover &,
  h4:hover &,
  h5:hover &,
  h6:hover & {
    opacity: 1;
  }

  @include core.media-min(var.$bp-code) {
    position: absolute;
    right: calc(100% + 0.5rem);
    top: calc(60% - calc(css.get("form-control-size") / 2));
  }
}
