@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/base";
@use "@vrembem/button";
@use "./variables" as var;

.heading-anchor {
  @include css.override("core", "form-control-border-width", 0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: css.get("form-control-padding-y");
  transition:
    color 0.25s,
    opacity 0.25s;
  border-radius: core.$border-radius-circle;
  background-color: palette.get("primary", 50%, 0%);
  opacity: 0;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none !important;
  user-select: none;

  &:hover,
  &:focus {
    background-color: palette.get("primary", 50%, 20%);
  }

  h1:hover &,
  h2:hover &,
  h3:hover &,
  h4:hover &,
  h5:hover &,
  h6:hover &,
  h1:focus &,
  h2:focus &,
  h3:focus &,
  h4:focus &,
  h5:focus &,
  h6:focus &,
  &:focus {
    opacity: 1;
  }

  @include core.media-min(var.$bp-code) {
    position: absolute;
    top: calc(58% - calc(css.get("form-control-size") / 2));
    right: calc(100% + calc(css.get("form-control-size") / 2));
  }
}
