@use "@vrembem/core";
@use "@vrembem/core/tokens";

.header {
  position: relative;
  z-index: 5;
  width: 100%;

  @include core.media-min("sidebar") {
    position: fixed;
  }

  .is-home & {
    background-color: tokens.get("background-glass");
    backdrop-filter: blur(8px);
  }
}

.header__container {
  display: flex;
  width: 100%;
  max-width: tokens.get("layout", "width");
  margin: auto;
}

.header__title,
.header__menu {
  display: flex;
  align-items: center;
  padding: 1em;

  @include core.media-min("sidebar") {
    padding: 1.5em;
  }
}

.header__title {
  position: relative;
  width: tokens.get("layout", "sidebar-width");
}

.header__skip {
  position: absolute;
  z-index: 100;
  top: -100%;
  width: calc(100% - 1em);
  margin-right: 1em;
  opacity: 0;
  transition-timing-function: tokens.get("transition-timing-function");
  transition-duration: tokens.get("transition-duration");
  transition-property: top, opacity;

  &:focus {
    top: calc(calc(tokens.get("layout", "header-height") - tokens.get("form-control-size-calc")) / 2);
    opacity: 1;
  }
}

.header__menu {
  flex-grow: 1;
  justify-content: flex-end;

  .menu__action {
    justify-content: flex-start;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    &.is-active {
      text-decoration: none;
    }
  }
}

.header-spacer {
  height: 0;

  @include core.media-min("sidebar") {
    height: tokens.get("layout", "header-height");
  }
}
