@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

.heading-anchor {
  @include css.override("core", "form-control-border-width", 0);

  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  padding: css.get("form-control-padding-y");
  border-radius: css.get("border-radius-circle");
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none !important;
  vertical-align: middle;
  opacity: 0;
  background-color: palette.get("primary", $a: 0%);
  transition-timing-function: css.get("transition-timing-function");
  transition-duration: css.get("transition-duration");
  transition-property: color, opacity;

  &:hover,
  &:focus {
    background-color: palette.get("primary", $a: 20%);
  }

  &:hover,
  &:focus,
  h1:hover &,
  h2:hover &,
  h3:hover &,
  h4:hover &,
  h5:hover &,
  h6:hover & {
    opacity: 1;
  }

  @include core.media-min("sm") {
    position: absolute;
    top: calc(60% - calc(css.get("form-control-size-calc") / 2));
    right: calc(100% + 0.5rem);
    margin-left: 0;
  }
}
