@use "@vrembem/core";
@use "@vrembem/core/tokens";

.hero-actions {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  justify-content: center;

  .code-block {
    text-align: center;
  }

  @include core.media-min("xs") {
    flex-direction: row;
    max-width: 24rem;
    margin-inline: auto;

    .button {
      flex-grow: 1;
    }

    .code-block {
      flex-basis: 100%;
    }
  }

  @include core.media-min("md") {
    @include tokens.override("button", "size", tokens.get("form-control-size-lg"));

    max-width: none;

    .button {
      flex-grow: 0;
    }

    .code-block {
      flex-basis: 0;
    }
  }
}
