@use "@vrembem/core/css";
@use "@vrembem/core/theme";
@include theme.set(
  "light",
  "layout",
  (
    "background-color": oklch(from magenta l c h / 5%),
    "background-stripe": oklch(from magenta l c h / 10%)
  )
);
@include theme.set(
  "dark",
  "layout",
  (
    "background-color": oklch(from magenta l c h / 10%),
    "background-stripe": oklch(from magenta l c h / 20%)
  )
);

.layout-demo {
  background-color: css.get("layout", "background-color");
  background-image: linear-gradient(135deg, css.get("layout", "background-stripe") 10%, rgb(0 0 0 / 0%) 0, rgb(0 0 0 / 0%) 50%, css.get("layout", "background-stripe") 0, css.get("layout", "background-stripe") 60%, rgb(0 0 0 / 0%) 0, rgb(0 0 0 / 0%));
  background-size: 8px 8px;
}
