@use "@vrembem/drawer";
@use "./root";

/**
 * Modal drawer
 */

.layout-drawer {
  position: fixed;
  z-index: 100;
  width: calc(100% - 4rem);
  max-width: var(--vb-drawer-width);
  padding: var(--vb-drawer-padding);
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-100%);
  transition: opacity .5s, transform .25s ease;
  outline: none;
  background-color: var(--vb-background-darker);
  box-shadow: drawer.$modal-shadow;
  opacity: 0;
  inset: 0 auto 0 0;
  overscroll-behavior: contain;
  scroll-behavior: smooth;

  &.is-opened,
  &.is-opening {
    visibility: visible;
    transform: translate(0);
    transition: opacity .25s, transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;
  }
}

.layout-drawer__screen {
  position: fixed;
  z-index: 99;
  transition: opacity .25s;
  background-color: var(--vb-neutral-10);
  opacity: 0;
  inset: auto;

  .layout-drawer.is-opened ~ &,
  .layout-drawer.is-opening ~ & {
    opacity: 0.8;
  }

  .layout-drawer.is-opened ~ &,
  .layout-drawer.is-opening ~ &,
  .layout-drawer.is-closing ~ & {
    inset: 0;
  }
}

/**
 * Inline drawer
 */

@media (min-width: root.$bp-drawer) {
  .layout-drawer {
    z-index: 2;
    box-sizing: content-box;
    width: 100%;
    max-width: calc(var(--vb-drawer-width) - var(--vb-drawer-padding));
    padding: calc(var(--vb-drawer-padding) + var(--vb-navibar-height)) var(--vb-drawer-padding) var(--vb-drawer-padding);
    padding-left: max(var(--vb-drawer-padding), calc((100% - var(--vb-layout-width)) / 2));
    transform: translate(0);
    box-shadow: none;
    opacity: 1;

    * > * {
      box-sizing: border-box;
    }

    // Fold shadow
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 2rem;
      height: 100%;
      background: linear-gradient(268deg, rgba(0,0,0,8%) 0, rgba(0,0,0,0%) 2rem);
      inset: 0 0 auto auto;
    }
  }

  .layout-drawer__mask {
    position: sticky;
    z-index: 2;
    top: calc((var(--vb-navibar-height) + var(--vb-drawer-padding)) * -1);
    height: var(--vb-navibar-height);
    margin: calc((var(--vb-navibar-height) + var(--vb-drawer-padding)) * -1) calc(var(--vb-drawer-padding) * -1) var(--vb-drawer-padding) calc(var(--vb-drawer-padding) * -1);
    background-color: var(--vb-background-darker);

    &::after {
      content: "";
      position: absolute;
      margin: 0 var(--vb-drawer-padding);
      border-bottom: 1px solid var(--vb-border-color);
      inset: 100% 0 auto;
    }
  }

  .layout-drawer__screen {
    display: none;
  }
}

/**
 * Layout drawer toggle
 */

.layout-drawer-toggle {
  @media (min-width: root.$bp-drawer) {
    display: none;
  }
}
