@use "./root";

.layout-aside {
  position: relative;
  display: none;
  width: var(--vb-aside-width);

  @media (min-width: root.$bp-aside) {
    display: block;
  }
}

.layout-aside__container {
  position: fixed;
  top: 0;
  width: var(--vb-aside-width);
  height: 100vh;
  padding: calc(var(--vb-navibar-height) + 4rem) 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/**
 * Aside toggle
 */

 .layout-aside-toggle {
  @media (min-width: root.$bp-aside) {
    display: none;
  }
}
