@use "@vrembem/core";
@use "@vrembem/drawer";
@use "./root";

/**
 * Modal drawer
 */

.layout-drawer {
  position: fixed;
  z-index: 100;
  visibility: hidden;
  width: calc(100% - 4rem);
  max-width: var(--layout-drawer-width);
  padding: var(--layout-drawer-padding);
  overflow: hidden auto;
  transform: translate(-100%);
  transition: opacity .5s, transform .25s ease;
  outline: none;
  background-color: core.css("background-darker");
  box-shadow: drawer.$modal-shadow;
  opacity: 0;
  inset: 0 auto 0 0;
  overscroll-behavior: contain;
  scroll-behavior: smooth;

  &.is-opened,
  &.is-opening {
    visibility: visible;
    transform: translate(0);
    transition: opacity .25s, transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;
  }

  &.is-closing {
    visibility: visible;
  }

  &.is-closed {
    visibility: hidden;
  }
}

/**
 * Inline drawer
 */

@media (min-width: root.$bp-drawer) {
  .layout-drawer {
    z-index: 2;
    visibility: visible;
    box-sizing: content-box;
    width: 100%;
    max-width: calc(var(--layout-drawer-width) - var(--layout-drawer-padding));
    padding: calc(var(--layout-drawer-padding) + var(--layout-navibar-height)) var(--layout-drawer-padding) var(--layout-drawer-padding);
    padding-left: max(var(--layout-drawer-padding), calc((100% - var(--layout-width)) / 2));
    transform: translate(0);
    box-shadow: none;
    opacity: 1;

    * > * {
      box-sizing: border-box;
    }

    // Fold shadow
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 2rem;
      height: 100%;
      background: linear-gradient(268deg, rgb(0 0 0 / 8%) 0, rgb(0 0 0 / 0%) 2rem);
      inset: 0 0 auto auto;
    }
  }

  .layout-drawer__mask {
    position: sticky;
    z-index: 2;
    top: calc((var(--layout-navibar-height) + var(--layout-drawer-padding)) * -1);
    height: var(--layout-navibar-height);
    margin: calc((var(--layout-navibar-height) + var(--layout-drawer-padding)) * -1) calc(var(--layout-drawer-padding) * -1) var(--layout-drawer-padding) calc(var(--layout-drawer-padding) * -1);
    background-color: core.css("background-darker");

    &::after {
      content: "";
      position: absolute;
      margin: 0 var(--layout-drawer-padding);
      border-bottom: 1px solid core.css("border-color");
      inset: 100% 0 auto;
    }
  }
}
