@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

.layout {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 css.get("layout", "padding");

  @include core.media-min("xs") {
    @include css.override("layout", "content-padding-x", 1rem);
    @include css.override("layout", "content-padding-y", 1rem);
  }

  @include core.media-min("sm") {
    @include css.override("layout", "content-padding-x", 3rem);
    @include css.override("layout", "content-padding-y", 2rem);
  }

  @include core.media-min("sidebar") {
    @include css.override("layout", "content-padding-x", 4rem);
    @include css.override("layout", "content-padding-y", 3rem);
    @include css.override("layout", "padding", 1.5rem);

    &.has-sidebar .layout__main {
      padding-left: css.get("layout", "sidebar-width");
    }

    &.has-aside .layout__main {
      padding-right: css.get("form-control-size-calc");
    }
  }

  @include core.media-min("aside") {
    &.has-aside .layout__main {
      padding-right: css.get("layout", "aside-width");
    }
  }
}

.layout__main {
  position: relative;
  width: 100%;
  max-width: css.get("layout", "width");
  margin: auto;
  outline: none;

  @include core.media-min("sidebar") {
    padding-top: css.get("layout", "navibar-height");

    &::before {
      content: "";
      position: fixed;
      z-index: 4;
      top: 0;
      width: 100%;
      height: css.get("layout", "navibar-height");
      background-color: css.get("background-glass");
      backdrop-filter: blur(8px);
    }
  }
}

.layout__container {
  width: 100%;
  max-width: calc(css.get("layout", "content-width"));
  margin: auto;
  padding: css.get("layout", "content-padding-y") css.get("layout", "content-padding-x") 0;

  > * + * {
    margin-top: calc(css.get("spacing") * 12) !important;
  }
}
