@use "@vrembem/core/css";
@use "@vrembem/core/theme";
@use "@vrembem/drawer";
@use "./root";

/**
 * Modal aside
 */

.layout-aside {
  position: fixed;
  z-index: 100;
  visibility: hidden;
  width: calc(100% - 4rem);
  max-width: css.get("layout", "drawer-width");
  padding: css.get("layout", "drawer-padding");
  overflow: hidden auto;
  transform: translate(100%);
  transition: opacity .5s, transform .25s ease;
  outline: none;
  background-color: theme.get("background-darker");
  box-shadow: drawer.$modal-shadow;
  opacity: 0;
  inset: 0 0 0 auto;
  overscroll-behavior: contain;
  scroll-behavior: smooth;

  &.is-opened,
  &.is-opening {
    visibility: visible;
    transform: translate(0);
    transition: opacity .25s, transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;
  }

  &.is-closing {
    visibility: visible;
  }

  &.is-closed {
    visibility: hidden;
  }
}

/**
 * Inline aside
 */

@media (min-width: root.$bp-aside) {
  .layout-aside {
    position: fixed;
    z-index: 2;
    visibility: visible;
    width: css.get("layout", "aside-width");
    height: 100vh;
    padding: 0;
    transform: translate(0);
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    inset: 0 auto auto;
  }
  
  .layout-aside__container {
    position: fixed;
    top: 0;
    width: css.get("layout", "aside-width");
    height: 100vh;
    padding: calc(css.get("layout", "navibar-height") + 2rem) css.get("layout", "aside-padding") calc(css.get("layout", "footer-height") + 8rem);
    overflow: hidden auto;
    scroll-behavior: smooth;
  }
}
