@use "@vrembem/core";
@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

@include tokens.set(
  "layout",
  (
    "width": 80em,
    "padding": 1em,
    "header-height": 3.5em,
    "sidebar-width": 18em
  )
);

.layout {
  max-width: tokens.get("layout", "width");
  margin: auto;
  padding-top: tokens.get("layout", "header-height");
  display: flex;
  align-items: flex-start;
}

.layout__main {
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  min-height: calc(100vh - tokens.get("layout", "header-height"));
}

.layout__sidebar {
  position: fixed;
  visibility: hidden;
  width: tokens.get("layout", "sidebar-width");

  .drawer__dialog {
    background-color: tokens.get("background-shift");
    outline: none;
  }

  .drawer__container {
    overscroll-behavior: contain;
    padding: tokens.get("layout", "padding");
  }
}

@include core.media-min("sidebar") {
  .layout__sidebar {
    z-index: 1;
    position: sticky;
    inset: unset;
    top: tokens.get("layout", "header-height");
    width: tokens.get("layout", "sidebar-width");
    height: calc(100vh - tokens.get("layout", "header-height"));
    overflow: auto;
    flex: 0 0 auto;
    visibility: visible;

    // Styles for infinite background
    &::before {
      background-color: tokens.get("background-shift");
      box-sizing: content-box;
      content: "";
      z-index: -2;
      position: fixed;
      inset: 0 auto 0 0;
      width: tokens.get("layout", "sidebar-width");
      padding-left: max(0px, calc((100% - tokens.get("layout", "width")) / 2));
    }

    // Styles for fold shadow
    &::after {
      box-sizing: content-box;
      pointer-events: none;
      content: "";
      z-index: -1;
      position: fixed;
      inset: 0 auto 0 calc(max(0px, calc((100% - tokens.get("layout", "width")) / 2)) + (tokens.get("layout", "sidebar-width") - 2rem));
      width: 2rem;
      height: 100%;
      background: linear-gradient(268deg, tokens.get("fold-shadow-start") 0, tokens.get("fold-shadow-end") 2rem);
    }

    .drawer__dialog {
      inset: 0 0 0 auto;
      width: calc(tokens.get("layout", "sidebar-width") + tokens.get("layout", "padding"));
      background-color: transparent;
    }

    .drawer__container {
      padding: tokens.get("layout", "header-height") tokens.get("layout", "padding") tokens.get("layout", "padding");
    }
  }
}
