@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

.layout {
  display: flex;
  justify-content: center;
  padding: 0 css.get("layout", "padding");
  position: relative;
  width: 100%;

  @include core.media-min("xs") {
    @include css.override("layout", "content-padding", 1rem);
  }

  @include core.media-min("sidebar") {
    @include css.override("layout", "content-padding", 3rem);

    &.has-sidebar .layout__main {
      padding-left: css.get("layout", "sidebar-width");
    }

    &.has-aside .layout__main {
      padding-right: css.get("form-control-size-calc");
    }
  }

  @include core.media-min("aside") {
    &.has-aside .layout__main {
      padding-right: css.get("layout", "aside-width");
    }
  }
}

.layout__main {
  margin: auto;
  max-width: css.get("layout", "width");
  position: relative;
  width: 100%;

  @include core.media-min("sidebar") {
    padding-top: css.get("layout", "navibar-height");

    &::before {
      backdrop-filter: blur(8px);
      background-color: css.get("background-glass");
      content: "";
      height: css.get("layout", "navibar-height");
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 3;
    }
  }
}

.layout__container {
  margin: auto;
  max-width: calc(css.get("layout", "content-width") + (css.get("layout", "content-padding") * 2));
  padding: css.get("layout", "content-padding") css.get("layout", "content-padding") 0;
  width: 100%;

  > * + * {
    margin-top: calc(css.get("spacing") * 12) !important;
  }
}
