@use "@vrembem/core/theme";

@include theme.set("light", "layout", (
  "background-color": hsl(from magenta h s l / 5%),
  "background-stripe": hsl(from magenta h s l / 10%)
));

@include theme.set("dark", "layout", (
  "background-color": hsl(from magenta h s l / 10%),
  "background-stripe": hsl(from magenta h s l / 20%)
));

@include theme.output("layout");

.layout-demo {
  background-color: theme.get("layout", "background-color");
  background-image: linear-gradient(
    135deg, 
    theme.get("layout", "background-stripe") 10%, 
    rgb(0 0 0 / 0%) 0, 
    rgb(0 0 0 / 0%) 50%, 
    theme.get("layout", "background-stripe") 0, 
    theme.get("layout", "background-stripe") 60%, 
    rgb(0 0 0 / 0%) 0, 
    rgb(0 0 0 / 0%)
  );
  background-size: 8px 8px;
}
