@use "@vrembem/core";
@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";
@include tokens.set(
  "main",
  (
    "content-width": 42em,
    "content-padding-x": 4em,
    "content-padding-y": 2em,
    "aside-width": 14em,
    "aside-padding": 1em
  )
);

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (tokens.get("layout", "header-height")));
  outline: none;
}

.main__grid {
  display: grid;
  grid-template-columns: 1fr;
  flex: 1 1 auto;
  place-items: start center;

  @include core.media-min("aside") {
    grid-template-columns: 1fr auto;
  }
}

.main__content {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-width: 0;
  max-width: calc(tokens.get("main", "content-width") + tokens.get("main", "content-padding-x"));
  padding: tokens.get("main", "content-padding-y") tokens.get("main", "content-padding-x");
}

.main__aside {
  .drawer__dialog {
    background-color: tokens.get("background-shift");
    outline: none;
  }

  .drawer__container {
    padding: tokens.get("layout", "padding");
  }
}

@include core.media-min("aside") {
  .main__aside {
    position: sticky;
    z-index: 1;
    top: tokens.get("layout", "header-height");
    overflow: auto;
    display: block;
    grid-column: 2;
    grid-row: 1;
    width: tokens.get("main", "aside-width");
    max-width: unset;
    max-height: calc(100vh - tokens.get("layout", "header-height"));

    .drawer__dialog {
      position: static;
      inset: unset;
      background-color: transparent;
    }
  }
}
