@use "@vrembem/core/css";
@use "@vrembem/core/palette";

.menu_collection {
  @include css.override("menu", "gap", 0);

  margin-top: 0.5rem;

  .menu__action.is-active,
  .menu__action.is-parent {
    background: css.get("background");
    color: palette.get("primary");
  }
}
