@use "@vrembem/core/css";
@use "@vrembem/core/palette";

.menu_modules {
  @include css.override(
    "menu",
    (
      "gap": 0
    )
  );

  margin: 0.5rem 0 0.5rem 1.25rem;

  .menu__action {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    &::before {
      background: css.get("border-color");
      border-radius: 2px;
      content: "";
      inset: 8px auto 8px 0;
      position: absolute;
      width: 2px;
    }

    &:hover {
      background-color: transparent;
      text-decoration: none;

      &::before {
        background: css.get("foreground");
      }
    }

    &:active,
    &:focus,
    &:focus-visible {
      background-color: transparent;
    }

    &.is-active {
      background-color: transparent;
      text-decoration: none;

      &::before {
        background: palette.get("primary");
      }
    }
  }
}
