@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

.menu_minimal {
  @include tokens.override(
    "menu",
    (
      "gap": 0,
      "size": tokens.get("font-size-sm")
    )
  );

  .menu__action {
    scroll-margin-top: 14rem;
    scroll-margin-bottom: 20rem;

    &::before {
      content: "";
      position: absolute;
      inset: 8px auto 8px 0;
      width: 2px;
      border-radius: 2px;
      background: transparent;
    }

    &:hover,
    &:active,
    &:focus,
    &:focus-visible,
    &.is-active {
      background-color: transparent;
    }

    &:hover::before {
      background: tokens.get("foreground-strong");
    }

    &.is-active::before {
      background: palette.get("primary");
    }
  }

  .menu {
    margin-left: 1rem;
  }
}
