@use "@vrembem/core/palette";

.menu_otp {
  .menu__action {
    display: block;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;

    &.is-active::before {
      background: palette.get("primary");
      border-radius: 1rem;
      content: "";
      height: 6px;
      left: 0;
      position: absolute;
      top: calc(50% - 3px);
      width: 6px;
    }
  }

  .menu {
    margin-left: 1rem;
  }
}
