@use "@vrembem/core";
@use "@vrembem/core/tokens";

// TODO: Maybe re-write this into a different format, for example:
//   "property": (
//     "type": "theme",
//     "light": "light-value",
//     "dark": "dark-value",
//   )
@include tokens.set(
  "menu",
  (
    "light": (
      "type": "theme",
      "collection-active-foreground": tokens.get("palette", "primary"),
      "collection-active-background": tokens.get("background")
    ),
    "dark": (
      "type": "theme",
      "collection-active-foreground": tokens.get("background"),
      "collection-active-background": tokens.get("palette", "primary")
    )
  )
);

.menu_collection {
  @include tokens.override("menu", "gap", 0);

  .menu {
    margin: tokens.get("focus-ring-width") 0;
  }

  .menu__action.is-active {
    color: tokens.get("menu", "collection-active-foreground");
    background: tokens.get("menu", "collection-active-background");
  }

  details details {
    margin-left: tokens.get("form-control-padding-x");
  }

  summary {
    cursor: pointer;
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    gap: 0.75em;
    align-items: center;
    padding: tokens.get("form-control-padding-y") 0;
    font-weight: tokens.get("font-weight-bold");
    color: tokens.get("foreground-strong");
    background-color: tokens.get("background-shift");

    &:hover,
    &:focus {
      .spacer {
        background-color: tokens.get("border-color-stronger");
      }
    }
  }

  .spacer {
    flex-grow: 1;
    height: 1px;
    background-color: tokens.get("border-color");
  }

  .caret {
    @include core.size(0.8em);

    position: relative;
    inset: 0;
    transform: rotate(-90deg);
    display: block;
    background-color: currentcolor;
    mask: url(core.svg("chevron")) center / 100% no-repeat;
    transition: transform tokens.get("transition-short");
  }

  details[open] > summary .caret {
    transform: rotate(0);
  }
}
