@use "@vrembem/core/tokens";

.menu_collection {
  @include tokens.override("menu", "gap", 0);

  margin-top: 0.5rem;

  .menu__action.is-active,
  .menu__action.is-parent {
    color: tokens.get("foreground-accent");
    background: tokens.get("background");
  }

  .menu {
    margin: 0.5rem 0 0.5rem 1.25rem;
  }
}
