@use "@vrembem/core";
@use "@vrembem/core/theme";
@use "./root";

.navibar {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 0 var(--layout-padding);
  background-color: theme.get("background-glass");
  backdrop-filter: blur(8px);

  @media (min-width: root.$bp-drawer) {
    position: fixed;

    .has-drawer & {
      background-color: transparent;
      backdrop-filter: unset;
    }
  }
}

.navibar__container {
  display: flex;
  width: 100%;
  max-width: var(--layout-width);
  margin: auto;
}

.navibar__title,
.navibar__menu {
  display: flex;
  align-items: center;
  height: var(--layout-navibar-height);
}

.navibar__title {
  position: relative;
  width: var(--layout-drawer-width);
}

.navibar__skip {
  position: absolute;
  z-index: 100;
  top: -100%;
  width: calc(100% - 1em);
  margin-right: 1em;
  transition-property: top, opacity;
  transition-duration: core.$transition-duration;
  transition-timing-function: core.$transition-timing-function;
  opacity: 0;

  &:focus {
    top: calc(calc(var(--layout-navibar-height) - core.css("button-size")) / 2);
    opacity: 1;
  }
}

.navibar__menu {
  flex-grow: 1;
  justify-content: flex-end;

  .menu__action {
    justify-content: flex-start;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    &.is-active {
      text-decoration: none;
    }
  }

  @media (min-width: root.$bp-drawer) {
    .has-drawer & {
      background-color: theme.get("background-glass");
      backdrop-filter: blur(8px);
    }
  }
}

.navibar-spacer {
  height: 0;
  
  @media (min-width: root.$bp-drawer) {
    height: var(--layout-navibar-height);
  }
}
