@use "@vrembem/core/theme";
@use "./root";

.navibar {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 0 var(--vb-layout-padding);
  background-color: theme.get("background-glass");
  backdrop-filter: blur(8px);

  @media (min-width: root.$bp-drawer) {
    position: fixed;

    .has-drawer & {
      background-color: transparent;
      backdrop-filter: unset;
    }
  }
}

.navibar__container {
  display: flex;
  width: 100%;
  max-width: var(--vb-layout-width);
  margin: auto;
}

.navibar__title,
.navibar__menu {
  display: flex;
  align-items: center;
  height: var(--vb-navibar-height);
}

.navibar__title {
  width: var(--vb-drawer-width);
}

.navibar__menu {
  flex-grow: 1;
  justify-content: flex-end;

  .menu__action {
    justify-content: flex-start;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    &.is-active {
      text-decoration: none;
    }
  }

  @media (min-width: root.$bp-drawer) {
    .has-drawer & {
      background-color: theme.get("background-glass");
      backdrop-filter: blur(8px);
    }
  }
}

.navibar-spacer {
  height: var(--vb-navibar-height);
}
