.otp__heading {
  padding: 0.35rem 0.7rem;
}

.otp__link {
  display: block;
  padding: 0.35rem 0.7rem;
  border-radius: var(--vb-border-radius);

  &:hover {
    background-color: var(--vb-background-darker);
  }
}
