@use "@vrembem/core";
@use "@vrembem/core/tokens";

.pagi {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include core.media-min("xs") {
    flex-direction: row;
  }
}

.pagi__prev,
.pagi__next {
  flex-basis: calc(50% - (1rem / 2));
  align-content: stretch;
}

.pagi__prev {
  text-align: left;
}

.pagi__next {
  text-align: right;
}

.pagi__link {
  display: block;
  padding: 1rem;
  border: 1px solid tokens.get("border-color");
  border-radius: tokens.get("border-radius");
  transition: border-color;
  transition-timing-function: tokens.get("transition-timing-function");
  transition-duration: tokens.get("transition-duration");

  &:hover {
    border-color: tokens.get("foreground-accent");
  }
}

.pagi__label {
  font-size: tokens.get("font-size-sm");
  color: tokens.get("foreground-subtle");
}

.pagi__title {
  font-size: tokens.get("font-size-lg");
  color: tokens.get("foreground-accent");
}
