@use "@vrembem/core/css";

.reference-bar {
  display: flex;
  flex-wrap: wrap;
  gap: css.get("spacing-sm") css.get("spacing-md");
  align-items: center;
  justify-content: space-between;
  color: css.get("foreground-strong");

  .link_hash {
    display: flex;
    gap: css.get("spacing-sm");
    align-items: center;
  }
}

.reference-bar__item {
  display: flex;
  flex-wrap: nowrap;
  gap: css.get("spacing-sm");
  align-items: center;
}
