@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

.reference-table {
  scroll-margin-top: 84px; // Magic number found using JS: `this.el.getBoundingClientRect().top;`
  width: 100%;
  font-size: css.get("font-size");
  transition: max-height css.get("transition-duration") css.get("transition-timing-function");

  table {
    position: relative;
    table-layout: fixed;
    background-color: transparent;
  }

  thead {
    border-bottom: 1px solid css.get("border-color");
  }

  tr {
    scroll-margin-top: calc(css.get("layout", "toolbar-height") + 81px);
    position: relative;
    border-top: 1px solid css.get("border-color");
    border-radius: css.get("border-radius");
    box-shadow:
      0 0 0 0 palette.get("primary"),
      0 0 0 0 palette.get("primary", $a: 20%);

    @include core.media-min("sidebar") {
      scroll-margin-top: calc(css.get("layout", "navibar-height") + 82px);
    }

    &.is-active {
      z-index: 1;
      box-shadow:
        0 0 0 1px palette.get("primary"),
        0 0 0 0.2rem palette.get("primary", $a: 20%);

      .table-anchor {
        display: none;
      }

      .table-anchor-clear {
        display: block;
      }
    }

    &:first-child {
      border-top: none;
    }
  }

  td {
    position: relative;
    padding: 0;

    &:first-child {
      @include css.override("pre", "foreground", css.get("foreground-accent-alt"));

      text-wrap: nowrap;
    }

    &:last-child {
      @include css.override("pre", "foreground", css.get("foreground-accent"));
    }
  }

  .code-block {
    width: 100%;
    min-width: 0; // Fixes overflow issue

    pre {
      margin: 0;
      border: 0 none;
      background-color: transparent;
    }

    .code-block__icon {
      padding: 0.5em;
      background-color: transparent;

      .icon {
        @include css.override("icon", "size", 1em);
      }
    }

    .code-block__copy-button {
      right: 0;
      opacity: 0;
      background-color: css.get("background");

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    .code-block__copy-button.is-copied,
    &:hover .code-block__copy-button {
      opacity: 1;
    }

    &.has-icon .pre {
      margin-left: 2.5rem;
      padding-left: 0;
    }
  }

  .notice {
    margin-top: css.get("spacing-md");
    border-radius: css.get("border-radius");
    font-size: css.get("font-size");
  }

  &.is-expandable {
    overflow: hidden;
    max-height: 28rem;
  }

  &.is-expanded {
    overflow: visible;

    thead {
      top: calc(css.get("layout", "toolbar-height") - 1px);

      @include core.media-min("sidebar") {
        top: calc(css.get("layout", "navibar-height") - 1px);
      }
    }
  }
}

.reference-table__header {
  position: sticky;
  z-index: 2;
  top: calc(css.get("layout", "toolbar-height") - 1px);
  padding: css.get("spacing-md") 0;
  background: css.get("background");

  @include core.media-min("sidebar") {
    top: css.get("layout", "navibar-height");
  }

  .is-expandable:not(.is-expanded) & {
    top: 0;
  }

  .input-group {
    position: relative;
  }

  .input-icon,
  .input-clear {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    inset: 0 auto 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75em;
    color: css.get("foreground-subtle");

    &:hover {
      color: palette.get("primary");
    }
  }

  .input-clear {
    inset: 0 0 0 auto;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  .input {
    @include css.override(
      "input",
      (
        "padding": 0.75rem,
        "size": css.get("font-size-sm")
      )
    );

    padding-left: 3.5em;
    font-family: css.get("font-family-mono");

    &:focus ~ .input-icon {
      color: palette.get("primary");
    }
  }
}

.table-anchor,
.table-anchor-clear {
  @include css.override("core", "form-control-border-width", 0);

  user-select: none;
  position: absolute;
  top: calc(50% - calc(34px / 2));
  right: calc(100% + 0.5rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  padding: css.get("form-control-padding-y");
  border-radius: css.get("border-radius-circle");
  font-size: 1rem;
  font-weight: 500;
  line-height: 1em;
  text-decoration: none !important;
  opacity: 0;
  background-color: palette.get("primary", $a: 0%);
  transition:
    color 0.25s,
    opacity 0.25s;

  &:focus,
  &:hover {
    opacity: 1;
    background-color: palette.get("primary", $a: 20%);
  }

  tr:hover & {
    opacity: 1;
  }
}

.table-anchor-clear {
  display: none;
  color: palette.get("important");
  background-color: palette.get("important", $a: 0%);

  &:focus,
  &:hover {
    background-color: palette.get("important", $a: 10%);
  }
}

@include core.media-max("xs") {
  .table-anchor,
  .table-anchor-clear {
    right: auto;
    left: 3.75rem;
  }
}

.reference-table__footer {
  position: sticky;
  bottom: 0;
  padding: 1.5em 0;
  text-align: center;
  background: linear-gradient(to bottom, transparent, css.reference("core", "background") 70%);
}
