@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core";

.reference-table {
  background: css.get("background-dark");
  border-radius: css.get("border-radius-lg");
  border: 3px solid css.get("background-darker");
  width: 100%;

  table {
    background-color: transparent;
    position: relative;
    table-layout: fixed;
  }

  tr {
    position: relative;
    border-top: css.get("table", "border");
    box-shadow:
      0 0 0 0 palette.get("primary"),
      0 0 0 0 palette.get("primary", 50%, 20%);

    &.is-active {
      box-shadow:
        0 0 0 1px palette.get("primary"),
        0 0 0 0.2rem palette.get("primary", 50%, 20%);
      z-index: 1;
    }

    &:first-child {
      border-top: none;
    }
  }

  td {
    position: relative;
    padding: 0;

    &:first-child {
      text-wrap: nowrap;
    }

    &:hover {
      background-color: css.get("background");
    }
  }

  .code-block {
    width: 100%;

    pre {
      padding: 0.75em calc(34px + 0.5em) 0.75em 0.5em;
      border: 0 none;
      background-color: transparent;
    }

    .code-block__copy-button {
      inset: 0 0 0 auto;
      align-items: center;
      background-color: css.get("background");
      opacity: 0;
      transition: opacity css.get("transition-duration") css.get("transition-timing-function");

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    &:hover .code-block__copy-button {
      opacity: 1;
    }
  }
}

.table-anchor {
  @include css.override("core", "form-control-border-width", 0);
  position: absolute;
  align-items: center;
  background-color: palette.get("primary", 50%, 0%);
  border-radius: core.$border-radius-circle;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  margin-left: 0.5rem;
  opacity: 0;
  padding: css.get("form-control-padding-y");
  text-decoration: none !important;
  transition:
    color 0.25s,
    opacity 0.25s;
  user-select: none;
  right: calc(100% + 0.5rem);
  top: calc(50% - calc(34px / 2));

  &:focus,
  &:hover {
    background-color: palette.get("primary", 50%, 20%);
    opacity: 1;
  }

  tr:hover & {
    opacity: 1;
  }
}
