@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core";
@use "./variables" as var;

.reference-table {
  background: css.get("background-dark");
  border-radius: css.get("border-radius-lg");
  border: 3px solid css.get("background-darker");
  width: 100%;

  table {
    background-color: transparent;
    position: relative;
    table-layout: fixed;
  }

  thead {
    border-bottom: css.get("table", "border");
  }

  tr {
    position: relative;
    border-top: css.get("table", "border");
    box-shadow:
      0 0 0 0 palette.get("primary"),
      0 0 0 0 palette.get("primary", 50%, 20%);

    &.is-active {
      background-color: css.get("background");
      box-shadow:
        0 0 0 1px palette.get("primary"),
        0 0 0 0.2rem palette.get("primary", 50%, 20%);
      z-index: 1;

      .table-anchor {
        display: none;
      }
      .table-anchor-clear {
        display: block;
      }
    }

    &:first-child {
      border-top: none;
    }
  }

  td {
    position: relative;
    padding: 0;

    &:first-child {
      text-wrap: nowrap;
    }

    &:hover {
      background-color: css.get("background");
    }
  }

  .code-block {
    width: 100%;

    pre {
      margin: 0;
      border: 0 none;
      background-color: transparent;
    }

    .code-block__icon {
      background-color: transparent;
      padding: 0.5em;

      .icon {
        @include css.override("icon", "size", 1em);
      }
    }

    .code-block__copy-button {
      background-color: css.get("background");
      opacity: 0;
      transition: opacity css.get("transition-duration") css.get("transition-timing-function");

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    &:hover .code-block__copy-button {
      opacity: 1;
    }

    &.has-icon .pre {
      margin-left: 2.5rem;
      padding-left: 0;
    }
  }
}

.table-anchor,
.table-anchor-clear {
  @include css.override("core", "form-control-border-width", 0);
  position: absolute;
  align-items: center;
  background-color: palette.get("primary", 50%, 0%);
  border-radius: core.$border-radius-circle;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1em;
  justify-content: center;
  margin-left: 0.5rem;
  opacity: 0;
  padding: css.get("form-control-padding-y");
  text-decoration: none !important;
  transition:
    color 0.25s,
    opacity 0.25s;
  user-select: none;
  right: calc(100% + 0.5rem);
  top: calc(50% - calc(34px / 2));

  &:focus,
  &:hover {
    background-color: palette.get("primary", 50%, 20%);
    opacity: 1;
  }

  tr:hover & {
    opacity: 1;
  }
}

.table-anchor-clear {
  display: none;
  color: palette.get("important");
  background-color: palette.get("important", 50%, 0%);

  &:focus,
  &:hover {
    background-color: palette.get("important", 50%, 10%);
  }
}

@include core.media-max(var.$bp-code) {
  .table-anchor,
  .table-anchor-clear {
    left: 3.75rem;
    right: auto;
  }
}
