@use "@vrembem/core/config";
@use "@vrembem/core/css";

:root {
  // Shiki light theme
  --astro-code-color-text: #{css.get("foreground")};
  --astro-code-token-comment: #{css.get("foreground-lighter")};
  --astro-code-token-constant: #1b6bc6;
  --astro-code-token-string: #1b6bc6;
  --astro-code-token-keyword: #{css.get("foreground")};
  --astro-code-token-parameter: #df7a32;
  --astro-code-token-function: #794bcf;
  --astro-code-token-string-expression: #309b4a;
  --astro-code-token-punctuation: #ce3b4a;
  --astro-code-token-link: #ce3b4a;

  // Shiki dark theme
  &.#{config.get("theme-prefix")}dark {
    --astro-code-color-text: #{css.get("foreground")};
    --astro-code-token-comment: #{css.get("foreground-lighter")};
    --astro-code-token-constant: #79b8ff;
    --astro-code-token-string: #79b8ff;
    --astro-code-token-keyword: #{css.get("foreground")};
    --astro-code-token-parameter: #ffab70;
    --astro-code-token-function: #b392f0;
    --astro-code-token-string-expression: #85e89d;
    --astro-code-token-punctuation: #f97583;
    --astro-code-token-link: #f97583;
  }
}
