$bp-drawer: 72rem;
$bp-aside: 90rem;

:root {
  --vb-navibar-height: 4.5rem;
  --vb-layout-width: 70rem;
  --vb-layout-padding: 1rem;
  --vb-drawer-width: 16rem;
  --vb-drawer-padding: 1rem;
  --vb-content-padding: 2rem 2rem 8rem;
  --vb-content-width: 42rem;
}
