@use "@vrembem/core/theme";
@use "@vrembem/core";

$bp-code: 44rem;
$bp-drawer: 60rem;
$bp-aside: 76rem;

:root {
  // Layout variables
  --layout-width: 74rem;
  --layout-padding: 1rem;
  --layout-navibar-height: 4.5rem;
  --layout-drawer-width: 14rem;
  --layout-drawer-padding: 1rem;
  --layout-aside-width: 14rem;
  --layout-aside-padding: 0.5rem;
  --layout-content-width: 42rem;
  --layout-content-padding: 2rem 2rem 8rem;

 // Shiki light theme
  --astro-code-color-text: #{theme.get("foreground")};
  --astro-code-token-comment: #{theme.get("foreground-lighter")};
  --astro-code-token-constant: #1b6bc6;
  --astro-code-token-string: #1b6bc6;
  --astro-code-token-keyword: #{theme.get("foreground")};
  --astro-code-token-parameter: #df7a32;
  --astro-code-token-function: #794bcf;
  --astro-code-token-string-expression: #309b4a;
  --astro-code-token-punctuation: #ce3b4a;
  --astro-code-token-link: #ce3b4a;

  // Shiki dark theme
  &.#{core.$prefix-theme}dark {
    --astro-code-color-text: #{theme.get("foreground")};
    --astro-code-token-comment: #{theme.get("foreground-lighter")};
    --astro-code-token-constant: #79B8FF;
    --astro-code-token-string: #79B8FF;
    --astro-code-token-keyword: #{theme.get("foreground")};
    --astro-code-token-parameter: #FFAB70;
    --astro-code-token-function: #B392F0;
    --astro-code-token-string-expression: #85E89D;
    --astro-code-token-punctuation: #F97583;
    --astro-code-token-link: #F97583;
  }
}
