@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/tokens";
@include tokens.set(
  "hero",
  "padding",
  (
    "type": "breakpoints",
    "initial": 1rem,
    "xs": 3rem 1.5rem,
    "sidebar": 6rem 1.5rem,
    "aside": 9rem 1.5rem
  )
);

.section--hero {
  @include tokens.override("layout", "padding", tokens.get("hero", "padding"));

  text-align: center;
}

.hero-actions {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 24rem;
  margin-inline: auto;

  .button {
    flex-grow: 1;
  }

  .code-block {
    flex-basis: 100%;
    text-align: center;
  }

  @include core.media-min("md") {
    @include tokens.override("button", "size", config.get("button-size", "lg"));

    max-width: none;

    .button {
      flex-grow: 0;
    }

    .code-block {
      flex-basis: 0;
    }
  }
}
