@use "@vrembem/core" with (
  $font-family: #{'"Barlow", sans-serif'}
);
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";
@include css.set(
  "layout",
  (
    "width": 80rem,
    "padding": 1rem,
    "navibar-height": 5.25rem,
    "toolbar-height": 4.75rem,
    "footer-height": 6rem,
    "drawer-width": 16rem,
    "drawer-padding": 1rem,
    "gap": 6rem,
    "aside-width": 12rem,
    // aside-padding: used to prevent cutoff of focus outline styles
    "aside-padding": 0.25rem,
    "content-width": 42rem
  )
);
@include theme.set("light", "background-glass", palette.get("neutral", 100, 90%));
@include theme.set("dark", "background-glass", palette.get("neutral", 10, 90%));
