@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

[role="tablist"] {
  display: flex;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 0.5rem;
  color: tokens.get("foreground-subtle");

  &::after {
    content: "";
    position: absolute;
    inset: auto 0 -1px;
    height: 3px;
    background: transparent;
  }

  &:hover {
    color: tokens.get("foreground-strong");
  }

  &[aria-selected="true"] {
    color: palette.get("primary");

    &::after {
      background: palette.get("primary");
    }
  }
}

[role="tabpanel"] {
  display: none;

  &.is-active {
    display: block;
  }
}
