@use "@vrembem/core/css";
@use "@vrembem/core/theme";
@use "@vrembem/core/palette";

.test-1,
.test-2,
.test-3 {
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

/**
 * Test 1
 */

.test-1 {
  border-color: theme.get("border-color");
  background: theme.get("background");
  color: theme.get("foreground");
}

/**
 * Test 2
 */

@include css.set("test-2", (
  "background": theme.get("background"),
  "foreground": theme.get("foreground"),
  "border-color": theme.get("border-color")
));

.test-2 {
  border-color: css.get("test-2", "border-color");
  background: css.get("test-2", "background");
  color: css.get("test-2", "foreground");
}

:root {
  // Output needs to come after the property has been referenced.
  @include css.output("test-2");
}

/**
 * Test 3
 */

$theme-light: (
  "background": theme.get("background"),
  "foreground": theme.get("foreground"),
  "border-color": theme.get("border-color"),
);

$theme-dark: (
  "background": theme.get("background"),
  "foreground": theme.get("foreground"),
  "border-color": theme.get("border-color"),
);

@include theme.set("test-3", "light", $theme-light);
@include theme.set("test-3", "dark", $theme-dark);

.test-3 {
  border-color: theme.get("test-3", "border-color");
  background: theme.get("test-3", "background");
  color: theme.get("test-3", "foreground");
}

// Output needs to come after the property has been referenced.
@include theme.output("test-3");
