@use "@vrembem/core/css";
@use "@vrembem/core/theme";
@use "@vrembem/core/palette";

.test-1,
.test-2,
.test-3 {
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

/**
 * Test 1
 */

.test-1 {
  border-color: theme.get("border-color");
  background: theme.get("background");
  color: theme.get("foreground");
}

/**
 * Test 2
 */

:root {
  @include css.define("background", theme.get("background"), "test-2");
  @include css.define("foreground", theme.get("foreground"), "test-2");
  @include css.define("border-color", theme.get("border-color"), "test-2");
}

.test-2 {
  border-color: css.reference("border-color", $module: "test-2");
  background: css.reference("background", $module: "test-2");
  color: css.reference("foreground", $module: "test-2");
}

/**
 * Test 3
 */

$theme-light: (
  "background": theme.get("background"),
  "foreground": theme.get("foreground"),
  "border-color": theme.get("border-color"),
);

$theme-dark: (
  "background": theme.get("background"),
  "foreground": theme.get("foreground"),
  "border-color": theme.get("border-color"),
);

@include theme.set("test-3", "light", $theme-light);
@include theme.set("test-3", "dark", $theme-dark);
@include theme.output("test-3");

.test-3 {
  border-color: css.reference("border-color", $module: "test-3");
  background: css.reference("background", $module: "test-3");
  color: css.reference("foreground", $module: "test-3");
}
