@use "@vrembem/core/css";
@use "@vrembem/core/theme";
@use "@vrembem/core/palette";

.test-1,
.test-2,
.test-3 {
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

// TEST 1
// ---
// Using core theme properties directly.

.test-1 {
  border-color: css.get("border-color");
  background: css.get("background");
  color: css.get("foreground");
}

// TEST 2
// ---
// Using core theme properties as values of new properties. These end up being
// completely to the values set in :root of these custom property definitions
// and do not change based on the presence of theme classes.

@include css.set(
  "test-2",
  (
    "background": css.get("background"),
    "foreground": css.get("foreground"),
    "border-color": css.get("border-color")
  )
);

.test-2 {
  border-color: css.get("test-2", "border-color");
  background: css.get("test-2", "background");
  color: css.get("test-2", "foreground");
}

// TEST 3
// ---
// Using core theme properties as values of new themes.

@include theme.set(
  "test-3",
  "default",
  (
    "background": css.get("background"),
    "foreground": css.get("foreground"),
    "border-color": css.get("border-color")
  )
);

@include theme.set("test-3", "dark");

.test-3 {
  border-color: css.get("test-3", "border-color");
  background: css.get("test-3", "background");
  color: css.get("test-3", "foreground");
}
