@use "@vrembem/core";
@use "@vrembem/core/config";

.form-control-size {
  @include core.form-control-size(null, "min");
}

.theme-icon {
  left: 0.5rem;
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  transform: translateY(calc(100% + 0.5rem));
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  transition-timing-function: ease;
}

.#{config.get("theme-prefix")}root {
  .theme-icon_root {
    opacity: 1;
    transform: translateY(0);
  }
}

.#{config.get("theme-prefix")}light {
  .theme-icon_light {
    opacity: 1;
    transform: translateY(0);
  }
}

.#{config.get("theme-prefix")}dark {
  .theme-icon_dark {
    opacity: 1;
    transform: translateY(0);
  }
}
