@use "@vrembem/core";

.form-control-size {
  @include core.form-control-size("min");
}

.theme-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transform: translateY(calc(100% + 0.5rem));
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

[data-mode="auto"] {
  .theme-icon--auto {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-mode="light"] {
  .theme-icon--light {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-mode="dark"] {
  .theme-icon--dark {
    transform: translateY(0);
    opacity: 1;
  }
}
