@use "@vrembem/core";
@use "@vrembem/core/css";

.toggle-trigger {
  .icon {
    transform: rotate(0);
    transition: transform css.get("transition");
  }

  &[aria-expanded="true"] .icon {
    transform: rotate(90deg);
  }
}

.toggle-content {
  display: none;

  &[aria-hidden="false"] {
    display: block;
  }
}
