@use "@vrembem/core";

.toggle-trigger {
  .icon {
    transform: rotate(0);
    transition-duration: core.$transition-duration;
    transition-property: transform;
    transition-timing-function: core.$transition-timing-function;
  }

  &[aria-expanded="true"] .icon {
    transform: rotate(90deg);
  }
}

.toggle-content {
  display: none;

  &[aria-hidden="false"] {
    display: block;
  }
}
