@use "@vrembem/core";
@use "@vrembem/core/css";

.toolbar {
  position: sticky;
  z-index: 4;
  top: -1px;
  display: block;
  padding: css.get("layout", "padding");
  border-top: 1px solid css.get("border-color");
  border-bottom: 1px solid css.get("border-color");
  background-color: css.get("background-glass");
  background-clip: padding-box;
  backdrop-filter: blur(8px);

  @include core.media-min("sidebar") {
    display: none;
  }
}

/**
 * Mini toolbar
 * This component is displayed between the drawer and aside breakpoints.
 */

.toolbar-mini {
  position: fixed;
  z-index: 6;
  top: css.get("layout", "navibar-height");
  right: css.get("layout", "padding");
  transform: translate(100%);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s,
    transform 0.25s ease;

  @include core.media-min("sidebar") {
    transform: translate(0);
    visibility: visible;
    opacity: 1;
  }

  @include core.media-min("aside") {
    transform: translate(100%);
    visibility: hidden;
    opacity: 0;
  }
}
