@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

.toolbar {
  backdrop-filter: blur(8px);
  background-clip: padding-box;
  background-color: css.get("background-glass");
  border-bottom: 1px solid css.get("border-color");
  border-top: 1px solid css.get("border-color");
  display: block;
  padding: css.get("layout", "padding");
  position: sticky;
  top: -1px;
  z-index: 4;

  @include core.media-min(var.$bp-drawer) {
    display: none;
  }
}

/**
 * Mini toolbar
 * This component is displayed between the drawer and aside breakpoints.
 */

.toolbar-mini {
  opacity: 0;
  position: fixed;
  right: css.get("layout", "padding");
  top: calc(css.get("layout", "navibar-height") + css.get("layout", "padding"));
  transform: translate(100%);
  transition:
    opacity 0.5s,
    transform 0.25s ease;
  visibility: hidden;

  @include core.media-min(var.$bp-drawer) {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
  }

  @include core.media-min(var.$bp-aside) {
    opacity: 0;
    transform: translate(100%);
    visibility: hidden;
  }
}
