@use "./root";

.toolbar {
  position: sticky;
  top: 0;
  z-index: 4;
  padding: var(--vb-layout-padding);
  background-color: var(--vb-background);

  @media (min-width: root.$bp-drawer) {
    display: none;
  }
}
