@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

@include css.set("utility-table", "max-height", 30rem);

.utility-table {
  overflow: hidden;
  max-height: css.get("utility-table", "max-height");
  transition: max-height css.get("transition-duration") css.get("transition-timing-function");

  thead {
    background-color: css.get("background");

    tr {
      border-top: none;
    }
  }

  &.is-expanded {
    overflow: visible;

    thead {
      position: sticky;
      top: calc(css.get("layout", "toolbar-height"));

      @include core.media-min(var.$bp-drawer) {
        top: calc(css.get("layout", "toolbar-height"));
      }
    }
  }
}

.utility-table__footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 1.5em 0;
  background: linear-gradient(to bottom, transparent, css.reference("core", "background") 70%);
}
