@use "./setup";
@use "vrembem/base";
@use "./root";
@use "./global";
@use "./brand";
@use "./navibar";
@use "./toolbar";
@use "./layout";
@use "./layout-drawer";
@use "./layout-aside";
@use "./animations";
@use "./badge";
@use "./box";
@use "./code-block";
@use "./code-example";
@use "./doc-block";
@use "./floats";
@use "./fold-shadow";
@use "./heading-anchor";
@use "./icon_external";
@use "./layout-demo";
@use "./menu_collection";
@use "./menu_otp";
@use "./menu_themes";
@use "./pagi";
@use "./swatch";
@use "./tabs";
@use "./theme-icons";
@use "./toggle";

// Important!
// Include this last to catch all custom property references.
@forward "vrembem/root";
