// Configure Vrembem
@forward "./config";

// Import all Vrembem components
@forward "vrembem/base";

// Miscellaneous global styles
@forward "./global";

// Layout
@forward "./brand";
@forward "./navibar";
@forward "./toolbar";
@forward "./layout";
@forward "./layout-drawer";
@forward "./layout-aside";

// Components
@forward "./badge";
@forward "./box";
@forward "./card_reference";
@forward "./code-block";
@forward "./code-example";
@forward "./code-expander";
@forward "./doc-block";
@forward "./floats";
@forward "./fold-shadow";
@forward "./heading-anchor";
@forward "./icon_external";
@forward "./layout-demo";
@forward "./menu_collection";
@forward "./menu_otp";
@forward "./menu_themes";
@forward "./pagi";
@forward "./reference-bar";
@forward "./reference-table";
@forward "./swatch";
@forward "./tabs";
@forward "./theme-icons";
@forward "./tictactoe";
@forward "./toggle";
@forward "./utility-table";

// Important!
// Include this last to catch all custom property references.
// Output all CSS custom properties
@forward "vrembem/root";
