@use "./setup";
@use "vrembem" with (
  $base-font-family: #{'"Barlow", sans-serif'}
);

@use "./root";
@use "./brand";
@use "./navibar";
@use "./toolbar";
@use "./layout";
@use "./layout-drawer";
@use "./layout-aside";

@use "./animations";
@use "./badge";
@use "./box";
@use "./code-block";
@use "./code-example";
@use "./doc-block";
@use "./floats";
@use "./fold-shadow";
@use "./header-anchor";
@use "./icon_external";
@use "./layout-demo";
@use "./menu_collection";
@use "./menu_otp";
@use "./pagi";
@use "./swatch";
@use "./tabs";
@use "./theme-icons";
@use "./toggle";

@use "./test";

astro-island {
  display: block !important;
}

html {
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.main {
  min-height: 100vh;
  outline: none;
}
