@use "vrembem" with (
  $core-palette-seeds: (
    "primary": hsl(152, 60%, 50%),
    "secondary": hsl(214, 50%, 50%),
    "neutral": hsl(30, 8%, 50%),
    "important": hsl(0, 80%, 50%),
  ),
  $base-body-background: var(--vb-background-darker),
  $base-font-family: #{'"Barlow", sans-serif'}
);

@use "./swatch";
