@use "vrembem" with (
  $core-palette-seeds: (
    "primary": hsl(152, 60%, 50%),
    "secondary": hsl(214, 50%, 50%),
    "neutral": hsl(30, 8%, 50%),
    "important": hsl(0, 80%, 50%),
  ),
  $base-font-family: #{'"Barlow", sans-serif'}
);

@use "./root";
@use "./navibar";
@use "./layout";
@use "./layout-drawer";
@use "./layout-aside";

@use "./fold-shadow";
@use "./header-anchor";
@use "./icon_external";
@use "./swatch";

astro-island {
  display: block !important;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.main {
  min-height: 100vh;
}
