/* @use "@vrembem/core" with (
  $prefix-block: "vb-",
  $prefix-element: "__",
  $prefix-modifier: "--",
  $prefix-modifier-value: "-"
); */

@forward "./src/variables";
@forward "./src/arrow";
@forward "./src/arrow_dir";
