@use "../modules/css";

@include css.register("arrow");

/// Output the styles for an arrow or caret.
/// @param {string} $direction
///   The direction the arrow should point (e.g: "up", "down", "left", "right").
@mixin arrow($direction: "down") {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 0;
  height: 0;
  transform-origin: center;
  border-width: css.get("arrow", "size", 6px 4px);
  border-bottom-width: 0;
  border-style: solid;
  border-radius: css.get("arrow", "radius", 2px);
  border-color: css.get("arrow", "color", currentcolor) transparent transparent;
  pointer-events: none;

  @if $direction == "up" {
    transform: rotate(180deg);
  }

  @else if $direction == "left" {
    transform: rotate(90deg);
  }

  @else if $direction == "right" {
    transform: rotate(-90deg);
  }
}
