@use "../modules/tokens";
@include tokens.register("arrow");

/// Outputs the styles for an arrow or caret.
///
/// @param {string} $direction ("down")
///   The direction the arrow should point.
///   Valid options: "up", "down", "left", "right".
///
@mixin arrow($direction: "down") {
  pointer-events: none;
  transform-origin: center;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 0;
  height: 0;
  border-color: tokens.get("arrow", "color", currentcolor) transparent transparent;
  border-style: solid;
  border-width: tokens.get("arrow", "size", 6px 4px);
  border-bottom-width: 0;
  border-radius: tokens.get("arrow", "radius", 2px);

  @if $direction == "up" {
    transform: rotate(180deg);
  } @else if $direction == "left" {
    transform: rotate(90deg);
  } @else if $direction == "right" {
    transform: rotate(-90deg);
  }
}
