@use "../modules/tokens";
@include tokens.register("arrow");

/// Outputs the styles for an arrow or caret.
///
/// @param {string} $direction ("down")
///   The direction the arrow should point.
///   Valid options: "up", "down", "left", "right".
///
/// @param {list} $size (6px 4px)
///   The size of the arrow as a two-value list (width height).
///
/// @param {number} $radius (2px)
///   The border-radius applied to the arrow tip.
///
@mixin arrow($direction: "down", $size: 6px 4px, $radius: 2px) {
  pointer-events: none;
  transform-origin: center;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 0;
  height: 0;
  border-color: tokens.get("arrow", "color", currentcolor) transparent transparent;
  border-style: solid;
  border-width: tokens.get("arrow", "size", $size);
  border-bottom-width: 0;
  border-radius: tokens.get("arrow", "radius", $radius);

  @if $direction == "up" {
    transform: rotate(180deg);
  } @else if $direction == "left" {
    transform: rotate(90deg);
  } @else if $direction == "right" {
    transform: rotate(-90deg);
  }
}
