@use "../modules/css";

@mixin backdrop($component) {
  @if $component {
    background-color: css.get($component, "backdrop-color", css.get("backdrop-color"));
  } @else {
    background-color: css.get("backdrop-color");
  }

  content: "";
  height: 100%;
  inset: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}
