@use "../modules/tokens";

/// Output the styles for a backdrop pseudo element.
///
/// @param {string} $component
///   The component specific override option to add in the CSS variable chain.
///
@mixin backdrop($component) {
  content: "";
  position: fixed;
  inset: 0;
  opacity: 0;
  background-color: tokens.get($component, "backdrop-color", tokens.get("backdrop-color"));
}
