@use "sass:string";
@use "../utilities/escape-colon" as *;
@use "../modules/config";

/// Output a valid BEM class selector using core prefixes and the provided
/// parameters; block, element, modifier and modifier-value.
///
/// @param {string} $b
///   The block name.
/// @param {string} $e (null)
///   The element name.
/// @param {string} $m (null)
///   The modifier name.
/// @param {string} $v (null)
///   The modifier value name.
/// @param {string} $bp (null)
///   A breakpoint modifier to prepend to the BEM class.
///   Example values: "xs", "sm", "md", "lg", "xl", etc.
///
/// @return {selector}
///   A valid BEM CSS selector using the provided parameters.
///
@function bem($b, $e: null, $m: null, $v: null, $bp: null) {
  $prefix: config.get("prefix-block");

  @if $prefix and $prefix != "" {
    $prefix: "#{$prefix}-";
  }

  $class: "#{$prefix}#{$b}";

  @if $e {
    $class: '#{$class}#{config.get("prefix-element")}#{$e}';
  }

  @if $m {
    $class: '#{$class}#{config.get("prefix-modifier")}#{$m}';
  }

  @if $v {
    $class: '#{$class}#{config.get("prefix-modifier-value")}#{$v}';
  }

  @if $bp {
    // Add the colon if it doesn't exist
    @if not string.index($bp, ":") {
      $bp: "#{$bp}:";
    }

    // Escape the colon
    $bp: escape-colon($bp);

    // Prepend the breakpoint modifier to class
    $class: "#{$bp}#{$class}";
  }

  // Return the constructed BEM class selector
  @return ".#{$class}";
}
