@use "../variables/prefix";

/// Output a valid BEM class selector using core prefixes and the provided
/// parameters; block, element, modifier and modifier-value.
/// @param {string} $block
///   The block name.
/// @param {string} $element [null]
///   The element name.
/// @param {string} $modifier [null]
///   The modifier name.
/// @param {string} $modifier-value [null]
///   The modifier value name.
/// @return {selector}
///   A valid BEM CSS selector using the provided parameters.
@function bem($block, $element: null, $modifier: null, $modifier-value: null) {
  $class: '.#{prefix.$block}#{$block}';
  @if ($element) {
    $class: '#{$class}#{prefix.$element}#{$element}';
  }
  @if ($modifier) {
    $class: '#{$class}#{prefix.$modifier}#{$modifier}';
  }
  @if ($modifier-value) {
    $class: '#{$class}#{prefix.$modifier-value}#{$modifier-value}';
  }
  @return $class;
}
