@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../modules/config";
@use "../modules/css";
@use "./media-min" as *;

/// Define a dynamic CSS variable using maps and breakpoints.
///
/// @param {string} $component
///   The component name to create the CSS variable for.
/// @param {string} $prop
///   The custom property name.
/// @param {map|any} $value
///   The value of the custom property or a map of valid variables with
///   breakpoints as the key.
/// @param {map} $breakpoints
///   A breakpoints map (e.g., config.get("breakpoints")).
///
@mixin css-query($component, $prop, $value, $breakpoints: config.get("breakpoints")) {
  // If padding is not a map, set the CSS var
  @if meta.type-of($value) != "map" {
    @include css.override($component, $prop, $value);
  }

  // Else padding is a map, loop through the breakpoints and output CSS var
  @else {
    // Get the first item from breakpoints
    $first-key: list.nth(list.nth($value, 1), 1);

    // Output the fist padding value in the map as the base CSS var
    @include css.override($component, $prop, map.get($value, $first-key));

    // Loop through the breakpoints
    @each $key, $bpValue in $breakpoints {
      // If key matches padding first key, skip it. We already output it
      @if $key != $first-key {
        // If the breakpoint key exists in the padding map...
        @if map.has-key($value, $key) {
          // Output the media query with new CSS variable value
          @include media-min($bpValue) {
            @include css.override($component, $prop, map.get($value, $key));
          }
        }
      }
    }
  }
}
