@use "../modules/css";

/// Apply the base styles for focus-ring using the outline properties.
@mixin focus-ring-base() {
  outline: css.get("focus-ring-width") css.get("focus-ring-style") transparent;
  outline-offset: css.get("focus-ring-offset");
}

/// Builds the focus ring styles by applying a number of custom property values
/// and optional component overrides using the outline property.
/// @param {string} $module
///   The module to allow component specific overrides for.
/// @param {string} $color
///   The color to use as the fallback value.
@mixin focus-ring($module, $color) {
  $_focus-ring-opacity: css.get("core", "focus-ring-opacity");
  $_focus-ring-color: css.get("core", "focus-ring-color", $color);
  @if ($module) {
    $_focus-ring-opacity: css.get($module, "focus-ring-opacity", $_focus-ring-opacity);
    $_focus-ring-color: css.get($module, "focus-ring-color", $_focus-ring-color);
  }
  outline: css.get("focus-ring-width") css.get("focus-ring-style") hsl(from $_focus-ring-color h s l / $_focus-ring-opacity);
}
