@use "../modules/tokens";
@use "./size" as mix;

/// Output the shared form-control properties with the component specific CSS
/// variable and the form-control CSS variable as the fallback.
///
/// @param {string} $component
///   The component value to prefix CSS variable references.
///
@mixin form-control-properties($component) {
  // These styles are not needed by menu actions (button) elements because
  // they're set on the root menu component directly and are inherited.
  @if $component != "menu" {
    font-size: tokens.get($component, "size", tokens.get("form-control-size"));
    line-height: tokens.get($component, "line-height", tokens.get("form-control-line-height"));
  }

  @if $component == "input" {
    padding: tokens.get($component, "padding", tokens.get("form-control-padding-y"));
  } @else {
    padding: tokens.get($component, "padding", tokens.get("form-control-padding"));
  }

  border-width: tokens.get($component, "border-width", tokens.get("form-control-border-width"));
  border-radius: tokens.get($component, "border-radius", tokens.get("form-control-border-radius"));
  transition-timing-function: tokens.get($component, "transition-timing-function", tokens.get("form-control-transition-timing-function"));
  transition-duration: tokens.get($component, "transition-duration", tokens.get("form-control-transition-duration"));
  transition-property: tokens.get($component, "transition-property", tokens.get("form-control-transition-property"));
}

/// Output the width and height with the form-control-size CSS variable value.
///
/// @param {string} $prefix (null)
///   The prefix to apply to the width and height CSS property. Size prefixes
///   include `"min"` and `"max"`.
///
@mixin form-control-size($prefix: null) {
  @include mix.size(tokens.get("form-control-size-calc"), tokens.get("form-control-size-calc"), $prefix);
}
