@use "../modules/css";
@use "./size" as *;

$_set-custom-property: true;

/// Sets the form-control-size css custom property.
/// Size is calculated using the line-height and vertical padding. This is used 
/// to set the minimum height and width of form controls.
/// TODO: Add documentation
@mixin form-control-size($module: null, $prefix: null) {
  @if ($_set-custom-property) {
    $_set-custom-property: false !global;
    $_line-height: css.get("form-control-line-height");
    $_padding: css.get("form-control-padding-y");
    $_border-width: css.get("form-control-border-width");
    $_size: calc(calc(1em * $_line-height) + calc(calc($_padding + $_border-width) * 2)) !default;
    @include css.set("core", "form-control-size", $_size);
  }
  @if ($module) {
    @include size(
      css.get($module, "size", css.get("form-control-size")),
      css.get($module, "size", css.get("form-control-size")),
      $prefix
    );
  } @else {
    @include size(
      css.get("form-control-size"),
      css.get("form-control-size"),
      $prefix
    );
  }
}
