@use "../modules/css";

$_set-custom-property: true;

// Sets the form-control-size css custom property.
// Size is calculated using the line-height and vertical padding. This is used 
// to set the minimum height and width of form controls.
@mixin form-control-size() {
  @if ($_set-custom-property) {
    $_line-height: css.get("form-control-line-height");
    $_padding: css.get("form-control-padding-y");
    $_size: calc(calc(1em * $_line-height) + calc($_padding * 2)) !default;
    @include css.set("core", "form-control-size", $_size);
    $_set-custom-property: false !global;
  }
}
