@use "../modules/css";
@use "../variables/border" as *;
@use "./size" as *;

$-output-spin-animation: true;

@include css.register("loading");

/// Output the styles for a loading spinner. If a position argument is provided
/// with a value of "absolute" or "fixed" the spinner will be centered to its
/// nearest relative parent.
///
/// @param {keyword} $position (absolute)
///   The value of the position property to use.
///
@mixin loading-spinner($position: absolute) {
  @include size(css.get("loading", "size", 1em));

  @if $position == absolute or $position == fixed {
    left: calc(50% - calc(css.get("loading", "size", 1em) * 0.5));
    top: calc(50% - calc(css.get("loading", "size", 1em) * 0.5));
  }

  animation: spin css.get("loading", "duration", 0.6s) infinite linear;
  border: css.get("loading", "border", 2px solid);
  border-color: css.get("loading", "color", currentcolor) css.get("loading", "color", currentcolor) transparent transparent;
  border-radius: css.get("border-radius-circle");
  display: inline-block;
  position: $position;

  // Only output the spin animation once
  @if $-output-spin-animation {
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    $-output-spin-animation: false !global;
  }
}
