@use "sass:map";
@use "sass:meta";
@use "../modules/config";

/// A media query mixin that defines a query using min-width. You can pass in a
/// key to the `config.get("breakpoints")` map to access that value, or pass a
/// value to create your media query.
///
/// @content Content to output in media query.
///
/// @param {number|string} $point
///   A breakpoint screen width or `core.$breakpoint` map key.
///
@mixin media-min($point) {
  $breakpoints: config.get("breakpoints");

  @if map.has-key($breakpoints, $point) {
    @media (min-width: map.get($breakpoints, $point)) {
      @content;
    }
  } @else {
    @if meta.type-of($point) == number {
      @media (min-width: $point) {
        @content;
      }
    }
  }
}
