@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

$padding: 0.5em !default;
$background: core.$shade !default;
$adjust: 1px !default;
$border: 1px solid var.$sep-background !default;
$border-radius: var.$border-radius !default;
$link-padding: null !default;

.#{$_b}menu#{$_m}theme#{$_v}tabs {
  padding: $padding $padding 0 $padding;
  border-bottom: $border;
  background-color: $background;

  .#{$_b}menu#{$_e}item + .#{$_b}menu#{$_e}item {
    margin-left: ($padding * 0.5);
  }

  .#{$_b}menu#{$_e}link {
    padding: $link-padding;
    border-bottom: 0;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @if ($adjust) {
      margin-bottom: ($adjust * -1);
    }

    &.is-active {
      border: $border;
      border-bottom: 0;
      background: core.$white;
      background-clip: padding-box;
    }
  }
}

.#{$_b}menu#{$_m}stack.#{$_b}menu#{$_m}theme#{$_v}tabs {
  padding: $padding 0 $padding $padding;
  border-right: $border;
  border-bottom: 0;

  .#{$_b}menu#{$_e}item + .#{$_b}menu#{$_e}item {
    margin-top: ($padding * 0.5);
    margin-left: inherit;
  }

  .#{$_b}menu#{$_e}link {
    border-right: 0;
    border-bottom: inherit;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @if ($adjust) {
      margin-right: ($adjust * -1);
      margin-bottom: inherit;
    }

    &.is-active {
      border: $border;
      border-right: 0;
      background: core.$white;
      background-clip: padding-box;
    }
  }
}
