@use "@vrembem/core";

#{core.bem("menu")} {
  display: flex;
  gap: core.css("menu-gap");
  flex-direction: column;
  align-items: stretch;
  font-size: core.css("menu-font-size");
  line-height: core.css("menu-line-height");
  list-style: none;
}

#{core.bem("menu", "sep")} {
  flex-shrink: 0;
  align-self: stretch;
  width: auto;
  height: core.css("menu-sep-size");
  margin: core.css("menu-sep-gap") 0;
  background: core.css("menu-sep-background");

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

#{core.bem("menu", "action")} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: core.css("menu-size");
  min-height: core.css("menu-size");
  padding: core.css("menu-padding");
  outline: none;
  border-radius: core.css("menu-border-radius");
  background: core.css("menu-background");
  color: core.css("menu-foreground");
  white-space: normal;
  gap: core.css("menu-action-gap");

  > * {
    flex: 0 0 auto;
  }

  &:hover {
    background: core.css("menu-background-hover");
    color: core.css("menu-foreground-hover");
  }

  &:focus-visible {
    z-index: 1;
    outline: core.css("menu-outline-focus");
    background: core.css("menu-background-focus");
    color: core.css("menu-foreground-focus");
  }

  &:active {
    background: core.css("menu-background-active");
    color: core.css("menu-foreground-active");
  }

  &.is-active,
  &.is-active:hover,
  &.is-active:focus,
  &.is-active:active,
  &.is-active[disabled] {
    background: core.css("menu-active-background");
    color: core.css("menu-active-foreground");
    cursor: pointer;
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &.is-disabled:active,
  &[disabled] {
    background: core.css("menu-disabled-background");
    color: core.css("menu-disabled-foreground");
    cursor: default;
  }
}

#{core.bem("menu", "action", "icon")} {
  padding: core.css("menu-padding-x");
}
