@use "@vrembem/core";

#{core.bem("menu", null, "inline")} {
  flex-direction: row;
  align-items: center;

  #{core.bem("menu", "sep")} {
    width: core.css("menu-sep-size");
    height: auto;
    margin: 0 core.css("menu-sep-gap");
  }

  #{core.bem("menu", "action")} {
    justify-content: center;
    white-space: nowrap;
  }
}
