@use "@vrembem/core";
@use "./variables";

$padding: 0.5em !default;
$background: core.$shade !default;
$adjust: 1px !default;
$border: 1px solid variables.$sep-background !default;
$border-radius: variables.$border-radius !default;
$menu__link-padding: null !default;

.menu_theme_tabs {
  padding: $padding $padding 0 $padding;
  border-bottom: $border;
  background-color: $background;

  .menu__item + .menu__item {
    margin-left: ($padding * 0.5);
  }

  .menu__link {
    padding: $menu__link-padding;
    border-bottom: 0;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @if ($adjust) {
      margin-bottom: ($adjust * -1);
    }

    &.is-active {
      border: $border;
      border-bottom: 0;
      background: core.$white;
      background-clip: padding-box;
    }
  }
}

.menu_stack.menu_theme_tabs {
  padding: $padding 0 $padding $padding;
  border-right: $border;
  border-bottom: 0;

  .menu__item + .menu__item {
    margin-top: ($padding * 0.5);
    margin-left: inherit;
  }

  .menu__link {
    border-right: 0;
    border-bottom: inherit;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @if ($adjust) {
      margin-right: ($adjust * -1);
      margin-bottom: inherit;
    }

    &.is-active {
      border: $border;
      border-right: 0;
      background: core.$white;
      background-clip: padding-box;
    }
  }
}
