@use "@vrembem/core";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

$color: core.$white !default;
$color-hover: null !default;
$color-focus: null !default;
$color-active: null !default;
$color-is-active: core.$primary !default;
$color-is-disabled: rgba(core.$white, 0.5) !default;

$background: null !default;
$background-hover: rgba(core.$white, 0.06) !default;
$background-focus: rgba(core.$white, 0.09) !default;
$background-active: rgba(core.$white, 0.12) !default;
$background-is-active: none !default;
$background-is-disabled: none !default;

$text-color: core.$white !default;
$sep-background: core.$border-color-invert !default;

.#{$_b}menu#{$_m}theme#{$_v}invert {
  .#{$_b}menu#{$_e}sep {
    background: $sep-background;
  }

  .#{$_b}menu#{$_e}link {
    background: $background;
    color: $color;

    &:hover {
      background: $background-hover;
      color: $color-hover;
    }

    &:focus {
      background: $background-focus;
      color: $color-focus;
    }

    &:active {
      background: $background-active;
      color: $color-active;
    }

    &.is-active {
      background: $background-is-active;
      color: $color-is-active;

      &:hover,
      &:focus,
      &:active {
        background: $background-is-active;
        color: $color-is-active;
      }
    }

    &.is-disabled {
      background: $background-is-disabled;
      color: $color-is-disabled;

      &:hover,
      &:focus,
      &:active {
        background: $background-is-disabled;
        color: $color-is-disabled;
      }
    }
  }

  .#{$_b}menu#{$_e}text {
    background: $background;
    color: $text-color;
  }
}
