@use "sass:list";
@use "@vrembem/core";
@use "./variables" as var;

#{core.bem("menu", null, "size", "sm")} {
  font-size: var.$size-sm-font-size;
  line-height: var.$size-sm-line-height;

  #{core.bem("menu", "action")} {
    min-width: var.$size-sm;
    min-height: var.$size-sm;
    padding: var.$size-sm-padding;
  }

  #{core.bem("menu", "action", "icon")} {
    padding: list.nth(var.$size-sm-padding, 1);
  }
}

#{core.bem("menu", null, "size", "lg")} {
  font-size: var.$size-lg-font-size;
  line-height: var.$size-lg-line-height;

  #{core.bem("menu", "action")} {
    min-width: var.$size-lg;
    min-height: var.$size-lg;
    padding: var.$size-lg-padding;
  }

  #{core.bem("menu", "action", "icon")} {
    padding: list.nth(var.$size-lg-padding, 1);
  }
}
