@use "sass:list";
@use "@vrembem/core/theme";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

.#{$_b}menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: var.$font-size;
  line-height: var.$line-height;
  list-style: none;
}

.#{$_b}menu#{$_e}item + .#{$_b}menu#{$_e}item {
  margin-top: var.$gap;
}

.#{$_b}menu#{$_e}sep {
  flex-shrink: 0;
  align-self: stretch;
  width: auto;
  height: var.$sep-size;
  margin: var.$sep-gap 0;
  background: var.$sep-background;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.#{$_b}menu#{$_e}action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: var.$size;
  min-height: var.$size;
  padding: var.$padding;
  border-radius: var.$border-radius;
  background: var.$background;
  color: var.$foreground;
  white-space: normal;

  > * {
    flex: 0 0 auto;
  }

  > * + * {
    margin-left: var.$inner-gap;
  }

  &_icon {
    padding: list.nth(var.$padding, 1);
  }

  &:hover {
    background: var.$background-hover;
    color: var.$foreground-hover;
  }

  &:focus {
    outline: none;
    background: var.$background-focus;
    color: var.$foreground-focus;
  }

  &:focus-visible {
    z-index: 1;
    outline: 2px solid theme.get("focus-visible");
  }

  &:active {
    background: var.$background-active;
    color: var.$foreground-active;
  }

  &.is-active,
  &.is-active[disabled] {
    background: var.$active-background;
    color: var.$active-foreground;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background: var.$active-background;
      color: var.$active-foreground;
    }
  }

  &.is-disabled,
  &[disabled] {
    background: var.$disabled-background;
    color: var.$disabled-foreground;
    cursor: default;

    &:hover,
    &:focus,
    &:active {
      background: var.$disabled-background;
      color: var.$disabled-foreground;
    }
  }
}

.#{$_b}menu#{$_e}text {
  flex: 1 1 auto;
}
