@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;

@mixin menu-full() {
  .#{$_b}menu#{$_e}item {
    flex: 1 1 auto;
  }

  .#{$_b}menu#{$_e}action {
    justify-content: center;
  }
}

@mixin menu-inline() {
  flex-direction: row;
  align-items: center;

  .#{$_b}menu#{$_e}item + .#{$_b}menu#{$_e}item {
    margin-top: 0;
    margin-left: var.$gap;
  }

  .#{$_b}menu#{$_e}sep {
    width: var.$sep-width;
    height: auto;
    margin: 0 var.$sep-spacing;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .#{$_b}menu#{$_e}action,
  .#{$_b}menu#{$_e}text {
    justify-content: center;
    white-space: nowrap;
  }
}

@mixin menu-stack() {
  flex-direction: column;
  align-items: stretch;
  overflow: visible;

  .#{$_b}menu#{$_e}item + .#{$_b}menu#{$_e}item {
    margin-top: var.$gap;
    margin-left: 0;
  }

  .#{$_b}menu#{$_e}sep {
    width: auto;
    height: var.$sep-width;
    margin: var.$sep-spacing 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .#{$_b}menu#{$_e}action,
  .#{$_b}menu#{$_e}text {
    justify-content: flex-start;
    white-space: normal;
  }
}
