@use "@vrembem/core";
@use "@vrembem/core/css";

/// Output the base styles for a menu action component element.
/// - Setup of menu specific CSS variables with shared form-control fallbacks.
/// - Setup of focus-ring CSS variables and initial state.
/// - Flex layout styles for child elements and consistent gap spacing.
@mixin action-base {
  @include core.form-control-properties("menu");
  @include core.focus-ring-base;

  cursor: pointer;
  position: relative;
  display: flex;
  gap: css.get("menu", "action-gap", 0.5em);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-style: solid;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  white-space: normal;
  background-clip: border-box;
}
