@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

$size: css.get("form-control", "size") !default;
$padding: css.get("form-control", "padding") !default;
$gap: 1px !default;
$border-radius: css.get("border-radius") !default;
$background: null !default;
$background-hover: null !default;
$background-focus: null !default;
$background-active: null !default;
$foreground: null !default;
$foreground-hover: null !default;
$foreground-focus: null !default;
$foreground-active: null !default;
$outline-focus: 2px solid theme.get("focus-visible") !default;
$font-size: 1em !default;
$line-height: 1.5 !default;

// menu__action
$action-gap: 0.5em !default;

// menu__sep
$sep-size: 1px !default;
$sep-gap: 0.5em !default;
$sep-background: theme.get("border-color") !default;

// is-active
$active-background: none !default;
$active-foreground: palette.get("primary") !default;

// is-disabled
$disabled-background: none !default;
$disabled-foreground: theme.get("foreground-lighter") !default;

// menu_size_sm
$size-sm: css.get("form-control", "size-sm") !default;
$size-sm-padding: css.get("form-control", "padding-sm") !default;
$size-sm-font-size: css.get("font-size-sm") !default;
$size-sm-line-height: css.get("line-height-sm") !default;

// menu_size_sm
$size-lg: css.get("form-control", "size-lg") !default;
$size-lg-padding: css.get("form-control", "padding-lg") !default;
$size-lg-font-size: css.get("font-size-lg") !default;
$size-lg-line-height: css.get("line-height-lg") !default;

// Custom properties
@include css.set("menu", (
  "size": $size,
  "padding": $padding,
  "padding-x": core.get-side($padding, top),
  "gap": $gap,
  "border-radius": $border-radius,
  "background": $background,
  "background-hover": $background-hover,
  "background-focus": $background-focus,
  "background-active": $background-active,
  "foreground": $foreground,
  "foreground-hover": $foreground-hover,
  "foreground-focus": $foreground-focus,
  "foreground-active": $foreground-active,
  "outline-focus": $outline-focus,
  "font-size": $font-size,
  "line-height": $line-height,
  "action-gap": $action-gap,
  "sep-size": $sep-size,
  "sep-gap": $sep-gap,
  "sep-background": $sep-background,
  "active-background": $active-background,
  "active-foreground": $active-foreground,
  "disabled-background": $disabled-background,
  "disabled-foreground": $disabled-foreground
));

// Theme maps
$theme-shared: (
  "background": none,
  "background-hover": theme.get("background-hover"),
  "background-focus": theme.get("background-focus"),
  "background-active": theme.get("background-active"),
  "foreground": theme.get("foreground"),
) !default;

@include theme.set("light", "menu", $theme-shared);
@include theme.set("dark", "menu", $theme-shared);
