@use "@vrembem/core";

$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$breakpoints: core.$breakpoints !default;
$min-size: 2.5rem !default;
$gap: 1px !default;
$padding: core.$padding !default;
$icon-padding: 0.1em !default;
$inner-spacing: 0.5em !default;
$font-size: 1em !default;
$line-height: 1.5 !default;
$border-radius: core.$border-radius !default;
$outline-focus: none !default;
$outline-focus-offset: null !default;

$background: none !default;
$background-hover: rgba(core.$black, 0.06) !default;
$background-focus: rgba(core.$black, 0.06) !default;
$background-active: rgba(core.$black, 0.09) !default;
$background-is-active: none !default;
$background-is-disabled: none !default;

$box-shadow: null !default;
$box-shadow-hover: null !default;
$box-shadow-focus: null !default;
$box-shadow-active: null !default;

$color: core.$color !default;
$color-hover: null !default;
$color-focus: null !default;
$color-active: null !default;
$color-is-active: core.$primary !default;
$color-is-disabled: core.$color-subtle !default;

$text-background: null !default;
$text-color: core.$color !default;

$sep-spacing: 0.5em !default;
$sep-width: 1px !default;
$sep-background: core.$border-color !default;
