@import "@vrembem/core/index";

$menu-min-size: 2.5rem !default;
$menu-gap: 1px !default;
$menu-padding: $padding !default;
$menu-icon-padding: 0.1em !default;
$menu-inner-spacing: 0.5em !default;
$menu-font-size: 1em !default;
$menu-line-height: 1.5 !default;
$menu-border-radius: $border-radius !default;
$menu-outline-focus: none !default;
$menu-outline-focus-offset: null !default;

$menu-background: none !default;
$menu-background-hover: rgba($black, 0.06) !default;
$menu-background-focus: rgba($black, 0.09) !default;
$menu-background-active: rgba($black, 0.12) !default;
$menu-background-is-active: none !default;
$menu-background-is-disabled: none !default;

$menu-color: $color !default;
$menu-color-hover: null !default;
$menu-color-focus: null !default;
$menu-color-active: null !default;
$menu-color-is-active: $primary !default;
$menu-color-is-disabled: $color-subtle !default;

$menu__text-background: null !default;
$menu__text-color: $color !default;

$menu__sep-spacing: 0.5em !default;
$menu__sep-width: 1px !default;
$menu__sep-background: $border-color !default;
