@import "./variables";

.menu {
  display: flex;
  align-items: center;
  font-size: $menu-font-size;
  line-height: $menu-line-height;
  list-style: none;
}

.menu__item {
  position: relative;

  & + & {
    margin-left: $menu-gap;
  }
}

.menu__sep {
  flex-shrink: 0;
  align-self: stretch;
  width: $menu__sep-width;
  height: auto;
  margin: 0 $menu__sep-spacing;
  background: $menu__sep-background;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link,
.menu__text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $menu-min-size;
  min-height: $menu-min-size;
  padding: $menu-padding;
  border-radius: $menu-border-radius;
  white-space: nowrap;

  > * + * {
    margin-left: $menu-inner-spacing;
  }
}

.menu__link {
  background: $menu-background;
  box-shadow: $menu-box-shadow;
  color: $menu-color;

  &_icon {
    padding: nth($menu-padding, 1);
  }

  &:hover {
    background: $menu-background-hover;
    box-shadow: $menu-box-shadow-hover;
    color: $menu-color-hover;
  }

  &:focus {
    outline: $menu-outline-focus;
    outline-offset: $menu-outline-focus-offset;
    background: $menu-background-focus;
    box-shadow: $menu-box-shadow-focus;
    color: $menu-color-focus;
  }

  &:active {
    background: $menu-background-active;
    box-shadow: $menu-box-shadow-active;
    color: $menu-color-active;
  }

  &.is-active {
    background: $menu-background-is-active;
    color: $menu-color-is-active;

    &:hover,
    &:focus,
    &:active {
      background: $menu-background-is-active;
      color: $menu-color-is-active;
    }
  }

  &.is-disabled {
    background: $menu-background-is-disabled;
    color: $menu-color-is-disabled;
    cursor: default;

    &:hover,
    &:focus,
    &:active {
      background: $menu-background-is-disabled;
      color: $menu-color-is-disabled;
    }
  }
}

.menu__text {
  background: $menu__text-background;
  color: $menu__text-color;
  text-decoration: none;
}
