@import "./variables";

$menu_theme_tabs-padding: 0.5em !default;
$menu_theme_tabs-background: $shade !default;
$menu_theme_tabs-adjust: 1px !default;
$menu_theme_tabs-border: 1px solid $menu__sep-background !default;
$menu_theme_tabs-border-radius: $menu-border-radius !default;
$menu_theme_tabs-menu__link-padding: null !default;

.menu_theme_tabs {
  background-color: $menu_theme_tabs-background;
  border-bottom: $menu_theme_tabs-border;
  padding: $menu_theme_tabs-padding $menu_theme_tabs-padding 0 $menu_theme_tabs-padding;

  .menu__item + .menu__item {
    margin-left: ($menu_theme_tabs-padding * 0.5);
  }

  .menu__link {
    border-bottom: 0;
    border-radius: $menu_theme_tabs-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: $menu_theme_tabs-menu__link-padding;
    @if ($menu_theme_tabs-adjust) {
      margin-bottom: ($menu_theme_tabs-adjust * -1);
    }

    &.is-active {
      background: $white;
      background-clip: padding-box;
      border: $menu_theme_tabs-border;
      border-bottom: 0;
    }
  }
}

.menu_stack.menu_theme_tabs {
  border-bottom: 0;
  border-right: $menu_theme_tabs-border;
  padding: $menu_theme_tabs-padding 0 $menu_theme_tabs-padding $menu_theme_tabs-padding;

  .menu__item + .menu__item {
    margin-left: inherit;
    margin-top: ($menu_theme_tabs-padding * 0.5);
  }

  .menu__link {
    border-bottom: inherit;
    border-radius: $menu_theme_tabs-border-radius;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
    @if ($menu_theme_tabs-adjust) {
      margin-bottom: inherit;
      margin-right: ($menu_theme_tabs-adjust * -1);
    }

    &.is-active {
      background: $white;
      background-clip: padding-box;
      border: $menu_theme_tabs-border;
      border-right: 0;
    }
  }
}
