@import "./variables";

.menu {
  align-items: center;
  display: flex;
  font-size: $menu-font-size;
  line-height: $menu-line-height;
  list-style: none;

  .menu__item + .menu__item {
    margin-left: $menu-spacing;
  }

  .icon {
    padding: $menu-icon-padding;
  }
}

.menu__link {
  align-items: center;
  background: $menu-background;
  border: $menu-border-width solid $menu-border-color;
  border-radius: $menu-border-radius;
  color: $menu-color;
  display: flex;
  padding: $menu-padding;
  position: relative;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: $menu-background_hover;
    border-color: $menu-border-color_hover;
    color: $menu-color_hover;
    outline: none;
  }

  > * + * {
    margin-left: $menu-inner-spacing;
  }

  &.is-active,
  &.is-parent {
    background: $menu-background_active;
    border-color: $menu-border-color_active;
    color: $menu-color_active;

    &:hover,
    &:focus {
      background: $menu-background_active;
      border-color: $menu-border-color_active;
      color: $menu-color_active;
    }
  }

  &.is-disabled {
    background: $menu-background_disabled;
    border-color: $menu-border-color_disabled;
    color: $menu-color_disabled;
    cursor: default;

    &:hover,
    &:focus {
      background: $menu-background_disabled;
      border-color: $menu-border-color_disabled;
      color: $menu-color_disabled;
    }
  }
}

.menu__link_icon {
  padding: nth($menu-padding, 1);
}

.menu__sep {
  align-self: stretch;
  background: $menu__sep-background;
  height: auto;
  margin: 0 $menu__sep-spacing;
  width: $menu__sep-width;
}

.menu__text {
  align-items: center;
  background: $menu-background;
  border: $menu-border-width solid $menu-border-color;
  border-radius: $menu-border-radius;
  color: $menu__text-color;
  display: flex;
  padding: $menu-padding;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  > * + * {
    margin-left: $menu-inner-spacing;
  }
}
