@use "@vrembem/core";
@use "./variables";

$color: core.$white !default;
$color-hover: null !default;
$color-focus: null !default;
$color-active: null !default;
$color-is-active: core.$primary !default;
$color-is-disabled: rgba(core.$white, 0.5) !default;

$background: null !default;
$background-hover: rgba(core.$white, 0.06) !default;
$background-focus: rgba(core.$white, 0.09) !default;
$background-active: rgba(core.$white, 0.12) !default;
$background-is-active: none !default;
$background-is-disabled: none !default;

$theme__sep-background: core.$border-color-invert !default;
$theme__text-color: core.$white !default;

.menu_theme_invert {
  .menu__sep {
    background: $theme__sep-background;
  }

  .menu__link {
    background: $background;
    color: $color;

    &:hover {
      background: $background-hover;
      color: $color-hover;
    }

    &:focus {
      background: $background-focus;
      color: $color-focus;
    }

    &:active {
      background: $background-active;
      color: $color-active;
    }

    &.is-active {
      background: $background-is-active;
      color: $color-is-active;

      &:hover,
      &:focus,
      &:active {
        background: $background-is-active;
        color: $color-is-active;
      }
    }

    &.is-disabled {
      background: $background-is-disabled;
      color: $color-is-disabled;

      &:hover,
      &:focus,
      &:active {
        background: $background-is-disabled;
        color: $color-is-disabled;
      }
    }
  }

  .menu__text {
    background: $background;
    color: $theme__text-color;
  }
}
