@import "variables";

$menu_theme_invert-color: $white !default;
$menu_theme_invert-color_hover: $white !default;
$menu_theme_invert-background: null !default;
$menu_theme_invert-background_hover: rgba($white, 0.1) !default;
$menu_theme_invert-color_active: $primary !default;
$menu_theme_invert-color_active_hover: null !default;
$menu_theme_invert-background_active: null !default;
$menu_theme_invert-background_active_hover: none !default;
$menu_theme_invert-color_disabled: rgba($white, 0.5) !default;
$menu_theme_invert-color_disabled_hover: rgba($white, 0.5) !default;
$menu_theme_invert-background_disabled: none !default;
$menu_theme_invert-background_disabled_hover: none !default;

$menu_theme_invert__sep-background: rgba($white, 0.1) !default;
$menu_theme_invert__text-color: $white !default;

.menu_theme_invert {
  .menu__link {
    color: $menu_theme_invert-color;
    background: $menu_theme_invert-background;

    &:hover,
    &:focus {
      color: $menu_theme_invert-color_hover;
      background: $menu_theme_invert-background_hover;
    }

    &.is-active,
    &.is-parent {
      color: $menu_theme_invert-color_active;
      background: $menu_theme_invert-background_active;

      &:hover,
      &:focus {
        color: $menu_theme_invert-color_active_hover;
        background: $menu_theme_invert-background_active_hover;
      }
    }

    &.is-disabled {
      color: $menu_theme_invert-color_disabled;
      background: $menu_theme_invert-background_disabled;

      &:hover,
      &:focus {
        color: $menu_theme_invert-color_disabled_hover;
        background: $menu_theme_invert-background_disabled_hover;
      }
    }
  }

  .menu__text {
    color: $menu_theme_invert__text-color;
    background: $menu_theme_invert-background;
  }

  .menu__sep {
    background: $menu_theme_invert__sep-background;
  }
}
