@import "variables";

@each $menu_name, $menu_value in $menu-spacing-scale {
  .menu_spacing_#{$menu_name} {
    .menu__sep {
      height: 0;
      margin: 0 $menu_value;
      width: $menu__sep-width;
    }

    .menu__item + .menu__item {
      margin-left: $menu_value;
    }
  }

  .menu_spacing_#{$menu_name}.menu_wrap {
    margin: -($menu_value * 0.5);

    .menu__item,
    .menu__item + .menu__item {
      margin: ($menu_value * 0.5);
    }
  }

  .menu_spacing_#{$menu_name}.menu_stack {
    .menu__sep {
      height: $menu__sep-width;
      margin: $menu_value 0;
      width: 0;
    }

    .menu__item + .menu__item {
      margin-left: 0;
      margin-top: $menu_value;
    }
  }

  @each $key, $value in $breakpoints {
    .menu_spacing_#{$menu_name}.menu_stack_#{$key} {
      .menu__sep {
        height: $menu__sep-width;
        margin: $menu_value 0;
        width: 0;
      }

      .menu__item + .menu__item {
        margin-left: 0;
        margin-top: $menu_value;
      }
    }

    @include media-min($key) {
      .menu_spacing_#{$menu_name}.menu_stack_#{$key} {
        .menu__sep {
          height: 0;
          margin: 0 $menu_value;
          width: $menu__sep-width;
        }

        .menu__item + .menu__item {
          margin-left: $menu_value;
          margin-top: 0;
        }
      }
    }
  }
}
