@use '@vrembem/core';

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: core.palette-get('secondary', 60);
}

.token.keyword,
.token.punctuation {
	color: #89DDFF;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #F07178;
}

.token.attr-name,
.token.boolean,
.token.number {
	color: #bd93f9;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #F78C6C;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: #FFCB6B;
}

.token.atrule,
.token.attr-value,
.token.class-name {
	color: #C3E88D;
}

.token.function {
  color: #82AAFF;
}

.token.regex,
.token.important {
	color: #ffb86c;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.namespace {
	opacity: .7;
}
