$notice-padding: 0.75em 1em !default;
$notice-spacing: 0.5rem !default;
$notice-background: $background-color !default;
$notice-box-shadow: 0 1px 6px rgba($black, 0.05) !default;
$notice-border-width: 1px !default;
$notice-border-color: rgba($black, 0.2) !default;
$notice-border-radius: $border-radius !default;
$notice-heading-font-size: 1.2em !default;
