@import 'variables';

/**
 * Notice type modifiers
 */

.notice_type_primary {
  background-color: $primary;
  color: $white;
}

.notice_type_secondary {
  background-color: $secondary;
  color: $white;
}

.notice_type_dark {
  background-color: $color;
  color: $white;
}

.notice_type_light {
  background-color: $white;
  box-shadow: 0 0 20px rgba($black, 0.1);
}

/**
 * Semantic type modifiers
 */

.notice_type_info {
  background-color: rgba($info, 0.1);
  color: darken($info, 10%);
}

.notice_type_success {
  background-color: rgba($success, 0.1);
  color: darken($success, 10%);
}

.notice_type_caution {
  background-color: rgba($caution, 0.1);
  color: darken($caution, 15%);
}

.notice_type_danger {
  background-color: rgba($danger, 0.1);
  color: darken($danger, 10%);
}
