@import 'vrem-core';
@include add-comment-subtle('menu_theme_tabs');

$menu_theme_tabs-background: $white !default;
$menu_theme_tabs-border-color: $gray-300 !default;

.menu_theme_tabs {
  padding: 0;
  border-bottom: 1px solid $menu_theme_tabs-border-color;

  .menu__item + .menu__item {
    margin-left: 0.25em;
  }

  .menu__link {
    position: relative;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &.is-active {
      background: $menu_theme_tabs-background;
      border: 1px solid $menu_theme_tabs-border-color;
      border-bottom: 1px solid transparent;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        top: 100%;
        left: 0;
        right: 0;
        background: $menu_theme_tabs-background;
      }

      &:hover {
        background: none;
      }
    }
  }
}
