@import 'vrem-core';
@include add-comment('menu');

$menu-font-size: 1em !default;
$menu-indent: 1em !default;

$menu__item-spacing: 1px !default;

$menu-padding: $padding !default;

$menu-color: $color !default;
$menu-color_hover: $color !default;
$menu-color_active: $blue !default;
$menu-color_disabled: $color-light !default;

$menu-border-width: 1px !default;
$menu-border-color: transparent !default;
$menu-border-color_hover: transparent !default;
$menu-border-radius: $border-radius !default;

$menu-background: none !default;
$menu-background_hover: rgba($black, 0.05) !default;
$menu-background_active: none !default;
$menu-background_disabled: none !default;

$menu__text-spacing: 0.5em !default;

$menu__title-font-size: 0.9em !default;

$menu__sep-spacing: 0.5em !default;
$menu__sep-border-width: 1px !default;
$menu__sep-border-color: rgba($black, 0.1) !default;

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: $menu-font-size;
  list-style: none;
}

.menu__item {
  margin: 0;

  + .menu__item {
    margin-left: $menu__item-spacing;
  }
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: $menu-padding;
  color: $menu-color;
  white-space: nowrap;
  text-decoration: none;
  background: $menu-background;
  border: $menu-border-width solid $menu-border-color;
  border-radius: $menu-border-radius;

  &:hover,
  &:focus {
    outline: none;
    color: $menu-color_hover;
    background: $menu-background_hover;
    border-color: $menu-border-color_hover;
  }

  &.is-active {
    background: $menu-background_active;
    color: $menu-color_active;

    &:hover,
    &:focus {
      background: $menu-background_active;
      color: $menu-color_active;
    }
  }

  &.is-disabled {
    background: $menu-background_disabled;
    color: $menu-color_disabled;

    &:hover,
    &:focus {
      background: $menu-background_disabled;
      color: $menu-color_disabled;
    }
  }
}

.menu__text {
  margin: 0 $menu__text-spacing;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__title {
  display: block;
  padding: $menu-padding;
  font-size: $menu__title-font-size;
  font-weight: font-weight('semi-bold');
  text-transform: uppercase;
  color: $color-light;
  white-space: nowrap;
}

.menu__sep {
  align-self: stretch;
  margin: 0 $menu__sep-spacing;
  border-right: $menu__sep-border-width solid $menu__sep-border-color;
}
