$panel-padding: 1em !default;
$panel-background: $white !default;
$panel-border: $border-dark !default;
$panel-sep-border: $border-dark !default;
$panel-border-radius: $border-radius !default;
$panel-box-shadow: null !default;

$panel__title-font-size: 1.2em !default;
$panel__title-font-weight: font-weight("semi-bold") !default;

$panel_size_sm-padding: 1em !default;
$panel_size_lg-padding: 2em !default;
