@use "@vrembem/core";

$padding: 1em !default;
$background: core.$white !default;
$border: core.$border !default;
$sep-border: core.$border !default;
$border-radius: core.$border-radius !default;
$box-shadow: null !default;

$title-font-size: core.$font-size-lg !default;
$title-line-height: core.$line-height-lg !default;
$title-font-weight: core.font-weight("semi-bold") !default;
