@import "./variables";

.panel_theme_dark {
  background: $night;
  box-shadow: none;
  color: color-switch($night);

  @if (is-dark($night)) {
    .panel__header,
    .panel__footer {
      border-color: $border-color-invert;
    }
  }

  .panel__screen {
    background: $night;
  }
}
