@import "./variables";

$panel_theme_bordered-background: rgba($shade, 0) !default;
$panel_theme_bordered-border: 2px solid $shade !default;
$panel_theme_bordered-box-shadow: none !default;

$panel_theme_bordered-background-hover: rgba($shade, 0.75) !default;
$panel_theme_bordered-border-color-hover: darken($shade, 5%) !default;
$panel_theme_bordered-box-shadow-hover: none !default;

.panel_theme_bordered {
  border: $panel_theme_bordered-border;
  background: $panel_theme_bordered-background;
  box-shadow: $panel_theme_bordered-box-shadow;
  color: color-switch($panel_theme_bordered-background);

  @if (is-dark($panel_theme_bordered-background)) {
    .panel__header,
    .panel__footer {
      border-color: $border-color-invert;
    }
  }
}
