@use "./variables";

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: variables.$border;
  border-radius: variables.$border-radius;
  background: variables.$background;
  box-shadow: variables.$box-shadow;
  color: color-switch(variables.$background);
}

.panel__section,
.panel__header,
.panel__footer {
  position: relative;
  z-index: 3;
  padding: variables.$padding;
}

.panel__section {
  flex: 1 1 auto;

  & + & {
    border-top: variables.$sep-border;
  }
}

.panel__header {
  border-bottom: variables.$sep-border;

  &:first-child {
    border-top-left-radius: variables.$border-radius;
    border-top-right-radius: variables.$border-radius;
  }
}

.panel__footer {
  border-top: variables.$sep-border;

  &:last-child {
    border-bottom-left-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
  }
}

.panel__title {
  flex-grow: 1;
  font-size: variables.$title-font-size;
  font-weight: variables.$title-font-weight;
  line-height: variables.$title-line-height;
}
