/**
 * Cover
 */

.cover {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

@include media-min('medium') {
  .cover {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
}

/**
 * Header and Content
 */

.cover__header,
.cover__content {
  @include add-scrollable();
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.cover__content {
  flex: 1 1 auto;
}

.cover__header {
  flex: 0 0 auto;
  display: flex;
  color: $white;
  background: $brown-900;
}

@include media-min('medium') {
  .cover__header,
  .cover__content {
    flex: 1 0 0;
  }

  .cover__header {
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
  }
}

/**
 * Inner
 */

.cover__inner {
  padding: 1.5em;
}

@include media-min('tiny') {
  .cover__inner {
    padding: 2em;
  }
}

@include media-min('medium') {
  .cover__inner {
    max-width: 42em;
    padding: 4em;
  }
}

/**
 * Title, description and version
 */

.cover__title {
  font-family: $font-family-serif;
  font-size: 2.5em;
  line-height: 1.325em;
  font-weight: normal;
  margin-bottom: 1rem;
}

.cover__desc {
  line-height: 1.6em;
  margin-bottom: 1rem;
}

.cover__version {
  color: rgba($white, 0.25);
}

@include media-min('medium') {
  .cover__title {
    font-size: 5em;
  }

  .cover__desc {
    font-size: 1.4em;
  }
}
