.jumbo-filter {
  position: relative;
  padding: 0.5em;
}

@include media-min('tiny') {
  .jumbo-filter {
    padding: 1em;
  }
}

.jumbo-filter__search {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  line-height: 1.5em;
  color: $blue;
  background: $background-color;
  background-clip: padding-box;
  border-radius: $border-radius;
  border: none;
  transition: background-color 0.5s linear;

  &::placeholder {
    color: rgba($black, 0.5);
  }

  &:focus {
    outline: none;
    background: $blue-50;
    transition: background-color 0s linear;
  }
}

/**
 * Sort Button
 */

.jumbo-filter__sort  {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  background: none;
}

.jumbo-filter__sort {
  right: 1.25rem;

  &:hover,
  &:focus {
    background-color: $white;
  }
}

@include media-min('tiny') {
  .jumbo-filter__sort {
    right: 1.75rem;
  }
}
