.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__header {
  flex: 0 0 auto;
  padding: 0.5em;
  background: $brown-900;
  color: $white;

  .container {
    max-width: 60rem;
  }
}

@include media-min('medium') {
  .page__header {
    padding: 1em;
  }
}

.page__main {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.page__section {
  padding: 1.5em;
}

@include media-min('medium') {
  .page__section {
    padding: 2em;
  }
}

.page__container {
  max-width: 60rem;
}
