.typography {
  @include add-clearfix();
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.25;
    font-weight: font-weight('semi-bold');

    @include add-anchor();

    code {
      font-size: 1rem;
    }
  }

  > h1 {
    font-size: 2em;
  }

  > h2 {
    font-size: 1.5em;
  }

  > h3 {
    font-size: 1.25em;
  }

  > h4 {
    font-size: 1em;
  }

  > h5 {
    font-size: 0.875em;
  }

  > h6 {
    font-size: 0.85em;
    color: $color-light;
  }

  > p {
    margin-bottom: 1em;

    @include add-anchor();
  }

  code {
    padding: 0 0.25em;
    background: rgba($yellow, 0.5);
    word-break: break-word;
  }

  pre code {
    padding: 0;
    background: none;
    word-break: normal;
  }

  > hr {
    display: block;
    height: 1px;
    margin: 1.5em 0;
    background: $border-color;
    border: none;
  }

  > ul {
    list-style: disc;
  }

  > ol {
    list-style: decimal;
  }

  > ul,
  > ol {
    margin: 1em 0;
    padding-left: 1.5em;

    & ul,
    & ol {
      padding-left: 1.5em;
    }

    > li + li {
      margin-top: 0.5em;
    }
  }
}
