
.jumbo-list {
  position: relative;
  list-style: none;
}

.jumbo-list__item {
  position: relative;
}

/**
 * Menu Link
 */

.jumbo-list__link {
  display: block;
  padding: 1.25em 1.5em;
  line-height: 1.325em;
  background-color: $white;
  transition: background-color 0.5s linear;

  &:hover,
  &:focus {
    outline: none;
    background-color: $blue-50;
    transition: background-color 0s linear;
  }
}

@include media-min('tiny') {
  .jumbo-list__link {
    padding: 1.5em 2em;
  }
}
