@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../utilities/debug-map" as *;

/// Stores all library wide configuration options.
/// @type map
/// @access private
$-config: (
  "prefix-block": "",
  "prefix-element": "__",
  "prefix-modifier": "_",
  "prefix-modifier-value": "_",
  "prefix-utility": ""
);

/// Helper function that checks if a value should be set in the config map.
///
/// @param {map} $map
///   The configuration map to update.
/// @param {string} $key
///   The key to set in the map.
/// @param {any} $value
///   The value to set for the key.
/// @param {boolean} $default
///   If true, only set the value if the key does not already exist in the map.
///   If false, always set the value.
///
/// @return {map}
///   The updated configuration map.
///
/// @access private
@function -maybe-set($map, $key, $value, $default) {
  @if not $default or not map.has-key($map, $key) {
    @return map.set($map, $key, $value);
  }

  @return $map;
}

/// Returns the value of an option in the configuration map.
///
/// @param {string} $keys...
///   A key or list of keys to follow in the configuration map and return.
///
@function get($keys...) {
  @return map.get($-config, $keys...);
}

/// Set an option in the configuration map by providing a key and value to
/// store, or pass a map to store multiple key/value pairs.
///
/// @param {string} $key
///   The key in the map to set. Can be passed a map of key/value pairs.
///   - ("key": "value")
/// @param {any} $value (null)
///   The value to be stored.
/// @param {boolean} $default (false)
///   Whether or not the value being set is a default value.
///
@mixin set($key, $value: null, $default: false) {
  $result: $-config;

  @if meta.type-of($key) == "map" {
    @each $key, $value in $key {
      $result: -maybe-set($result, $key, $value, $default);
    }
  } @else {
    $result: -maybe-set($result, $key, $value, $default);
  }

  $-config: $result !global;
}

/// An alias mixin for `config.set()` with predefined default argument to
/// `true`. Running this will not override a previously set value.
///
/// @param {string} $key
///   The key in the map to set. Can be passed a map of key/value pairs.
///   - ("key": "value")
/// @param {any} $value (null)
///   The value to be stored.
///
@mixin set-default($key, $value: null) {
  @include set($key, $value, $default: true);
}

/// Remove an option from the configuration map.
///
/// @param {string} $keys...
///   The list of keys to follow and remove from the configuration map.
///
@mixin remove($keys...) {
  $-config: map.deep-remove($-config, $keys...) !global;
}

/// Apply a configuration map prefixing all keys with the provided prefix value.
/// The provided configuration map must match the signature list or map. This
/// mixin is typically used by components to allow providing default values
/// using the Sass `with` clause.
///
/// @param {string} $prefix
///   The value to prefix all keys with. This is typically the name of the
///   component or module. Set to `null` for no prefix.
/// @param {map} $config
///   The config map to set in the global config object.
/// @param {map | list} $default
///   The valid map signature and default config map values, or a list of valid
///   configuration options. Set map values to `null` to prevent them from being
///   set as the config default.
///
@mixin apply($prefix, $config, $default) {
  @if $prefix {
    $prefix: "#{$prefix}-";
  }

  @each $key, $value in $config {
    $valid-m: meta.type-of($default) == "map" and map.has-key($default, $key);
    $valid-l: meta.type-of($default) == "list" and list.index($default, $key);

    @if $valid-m or $valid-l {
      @include set("#{$prefix}#{$key}", $value);
    } @else {
      @error '"#{$key}" is not a valid configuration option';
    }
  }

  @if meta.type-of($default) == "map" {
    @each $key, $value in $default {
      @if $value {
        @include set-default("#{$prefix}#{$key}", $value);
      }
    }
  }
}

/// Log to console the entire configuration map.
@mixin log($value: "*") {
  @if $value == "*" or $value == "all" {
    @include debug-map($-config, "Config options map");
  } @else {
    @if map.has-key($-config, $value) {
      @include debug-map(map.get($-config, $value), "Config > #{$value}");
    } @else {
      @debug 'Config "#{$value}" has not been set!';
    }
  }
}
