@use "sass:map";
@use "sass:meta";
@use "../utilities/debug-map" as *;

/// Stores all library wide configuration options.
/// @type map
/// @access private
$-config: (
  "prefix-block": null,
  "prefix-element": "__",
  "prefix-modifier": "_",
  "prefix-modifier-value": "_",
  "prefix-utility": null
);

/// Helper function that checks if a value should be set in the config map.
///
/// @param {map} $map
///   The configuration map to update.
/// @param {string} $key
///   The key to set in the map.
/// @param {any} $value
///   The value to set for the key.
/// @param {boolean} $default
///   If true, only set the value if the key does not already exist in the map.
///   If false, always set the value.
///
/// @return {map}
///   The updated configuration map.
///
/// @access private
@function -maybe-set($map, $key, $value, $default) {
  @if not $default or not map.has-key($map, $key) {
    @return map.set($map, $key, $value);
  }
  @return $map;
}

/// Returns the value of an option in the configuration map.
///
/// @param {string} $keys...
///   A key or list of keys to follow in the configuration map and return.
///
@function get($keys...) {
  @return map.get($-config, $keys...);
}

/// Set an option in the configuration map in various ways.
///
/// @param {string} $key
///   The key in the map to set. Can be passed a map of key/value pairs.
///   - ("key": "value"), null
///   - ("key": ("key": "value")), null
/// @param {any} $value (null)
///   The value to be stored. Can be passed a map of key/value pairs where key
///   will be suffixed with the provided map keys.
///   - "key", "value"
///   - "key", ("key": "value")
/// @param {boolean} $default (false)
///   Whether or not the value being set is a default value.
///
@mixin set($key, $value: null, $default: false) {
  $result: $-config;

  @if meta.type-of($key) == "map" {
    @each $keyKey, $keyValue in $key {
      @if meta.type-of($keyValue) == "map" {
        @each $subKey, $subValue in $keyValue {
          $result: -maybe-set($result, "#{$keyKey}-#{$subKey}", $subValue, $default);
        }
      } @else {
        $result: -maybe-set($result, $keyKey, $keyValue, $default);
      }
    }
  } @else if meta.type-of($value) == "map" {
    @each $valueKey, $subValue in $value {
      $result: -maybe-set($result, "#{$key}-#{$valueKey}", $subValue, $default);
    }
  } @else {
    $result: -maybe-set($result, $key, $value, $default);
  }

  $-config: $result !global;
}

/// An alias mixin for `config.set()` that predefines the default argument to
/// `true`. Running this will not override a previously set value.
///
/// @param {string} $key
///   The key in the map to set. Can be passed a map of key/value pairs.
///   - ("key": "value"), null
///   - ("key": ("key": "value")), null
/// @param {any} $value (null)
///   The value to be stored. Can be passed a map of key/value pairs where key
///   will be suffixed with the provided map keys.
///   - "key", "value"
///   - "key", ("key": "value")
///
@mixin set-default($key, $value: null) {
  @include set($key, $value, $default: true);
}

/// Remove an option from the configuration map.
///
/// @param {string} $keys...
///   The list of keys to follow and remove from the configuration map.
///
@mixin remove($keys...) {
  $-config: map.deep-remove($-config, $keys...) !global;
}

/// Log to console the entire configuration map.
@mixin log() {
  @include debug-map($-config, "Config options map");
}
