@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../utilities/debug-map" as *;

/// Stores all library wide configuration options.
/// @type map
/// @access private
$-config: ();

/// Stores config property watchers.
/// @type map
/// @access private
$-watchers: ();

/// Helper function that checks if a value should be set in the config map.
///
/// @param {map} $map
///   The configuration map to update.
/// @param {string} $key
///   The key to set in the map.
/// @param {any} $value
///   The value to set for the key.
/// @param {boolean} $default
///   If true, only set the value if the key does not already exist in the map.
///   If false, always set the value.
///
/// @return {map}
///   The updated configuration map.
///
/// @access private
@function -maybe-set($map, $key, $value, $default) {
  @if not $default or not map.has-key($map, $key) {
    $map: map.set($map, $key, $value);
  }

  @return $map;
}

/// Run all property watchers of a specific property. Passes along the name of
/// the action to the applied mixin.
///
/// @param {string} $key
///   The name of the property that has been changed.
/// @param {string} $action
///   The name of the action taking place, e.g.: "set", "remove", etc.
///
/// @access private
@mixin -run-watchers($key, $action) {
  @if map.has-key($-watchers, $key) {
    $mixins: map.get($-watchers, $key);

    @each $key, $mixin in $mixins {
      @include meta.apply($mixin, $action);
    }
  }
}

/// Function to returns the value of an option in the configuration map.
///
/// @param {string} $keys...
///   A key or list of keys to follow in the configuration map and return.
///
@function get($keys...) {
  @return map.get($-config, $keys...);
}

/// Set an option in the configuration map by providing a key and value to
/// store, or pass a map to store multiple key/value pairs.
///
/// @param {string} $key
///   The key in the map to set. Can be passed a map of key/value pairs.
///   - ("key": "value")
/// @param {any} $value (null)
///   The value to be stored.
/// @param {boolean} $default (false)
///   Whether or not the value being set is a default value.
///
@mixin set($key, $value: null, $default: false) {
  $result: $-config;

  @if meta.type-of($key) == "map" {
    @each $key, $value in $key {
      $result: -maybe-set($result, $key, $value, $default);
    }
  } @else {
    $result: -maybe-set($result, $key, $value, $default);
  }

  $-config: $result !global;

  @include -run-watchers($key, "set");
}

/// Merges a map value of the configuration object with a provided map value.
///
/// @param {string} $key
///   The name of the property to merge maps with.
/// @param {map} $map
///   The map to be merged with the existing map value.
///
@mixin merge($key, $map) {
  $map: map.merge(map.get($-config, $key), $map);
  $-config: map.set($-config, $key, $map) !global;

  @include -run-watchers($key, "merge");
}

/// An alias mixin for `config.set()` with predefined default argument to
/// `true`. Running this will not override a previously set value.
///
/// @param {string} $key
///   The key in the map to set. Can be passed a map of key/value pairs.
///   - ("key": "value")
/// @param {any} $value (null)
///   The value to be stored.
///
@mixin set-default($key, $value: null) {
  @include set($key, $value, $default: true);
}

/// Remove an option from the configuration map.
///
/// @param {string} $key
///   The first key to follow or remove if no other keys are provided.
/// @param {string} $keys...
///   The list of keys to follow and remove from the configuration map.
///
@mixin remove($key, $keys...) {
  $-config: map.deep-remove($-config, $key, $keys...) !global;

  @include -run-watchers($key, "remove");
}

/// Apply a configuration map prefixing all keys with the provided prefix value.
/// The provided configuration map must match the signature list or map. This
/// mixin is typically used by components to allow providing default values
/// using the Sass `with` clause.
///
/// @param {map} $config
///   The config map to set in the global config object.
/// @param {map | list} $default
///   The valid map signature and default config map values, or a list of valid
///   configuration options. Set map values to `null` to prevent them from being
///   set as the config default.
///
@mixin apply($config, $default) {
  @each $key, $value in $config {
    $valid-m: meta.type-of($default) == "map" and map.has-key($default, $key);
    $valid-l: meta.type-of($default) == "list" and list.index($default, $key);

    @if $valid-m or $valid-l {
      // If the value is a map, merge it with the default value
      @if meta.type-of($value) == "map" {
        $value: map.deep-merge(map.get($default, $key), $value);
      }

      @include set($key, $value);
    } @else {
      @error '"#{$key}" is not a valid configuration option';
    }
  }

  @if meta.type-of($default) == "map" {
    @each $key, $value in $default {
      @if $value {
        @include set-default($key, $value);
      }
    }
  }
}

/// Set a watcher to a specific property of the configuration object.
///
/// @param {string} $prop
///   The name of the property to watch for changes.
/// @param {string} $id
///   A unique ID to store the watcher under.
/// @param {mixin} $mixin
///   The mixin reference to run when the watched property has changed.
///
@mixin watch($prop, $id, $mixin) {
  $-watchers: map.set($-watchers, $prop, $id, $mixin) !global;
}

/// Remove a watcher to a specific property of the configuration object.
///
/// @param {string} $prop
///   The name of the property to stop watching.
/// @param {string} $id
///   The unique ID of the watcher to remove.
///
@mixin unwatch($prop, $id) {
  $-watchers: map.deep-remove($-watchers, $prop, $id) !global;
}

/// Log to console the entire configuration map.
@mixin log($value: "*") {
  @if $value == "*" or $value == "all" {
    @include debug-map($-config, "Config options map");
  } @else {
    @if map.has-key($-config, $value) {
      @include debug-map(map.get($-config, $value), "Config > #{$value}");
    } @else {
      @debug 'Config "#{$value}" has not been set!';
    }
  }
}
