@use "sass:list";
@use "sass:map";
@use "sass:meta";

@use "../utilities/reverse" as *;
@use "../utilities/debug-map" as *;
@use "./config";
@use "./usage";

/// The variables map where all custom properties are stored. These are stored
/// under module keys with maps of their custom property key/value pairs.
/// @type map
/// @access private
$_variables: (
  "core": (
    "prefix": config.get("prefix-variables")
  )
);

/// Function for setting the prefix on custom properties (CSS variables).
///   - Applies "--" prefix.
///   - Applies "vb-" vrembem prefix.
///   - Applies "[module]" string. Omitted for "core" or "palette" modules.
///   - Result: "--vb-[module]-"
/// @param {string} $module
///   The module name to use as part of the prefix. The "core" and "palette"
///   modules are not prefixed with their module names.
/// @return {string} 
///   The custom property prefix string.
/// @access private
@function _prefix($module) {
  @if ($module and $module != "core" and $module != "palette") {
    @return "--#{config.get("prefix-variables")}#{$module}-";
  } @else {
    @return "--#{config.get("prefix-variables")}";
  }
}

/// Function to create reference to a custom property using the provided module
/// name, property and optional fallback. Automatically applies the necessary 
/// custom property prefix and module name.
/// @param {string} $module
///   The module name to use as part of the prefix. The "core" and "palette"
///   modules are not prefixed with their module names.
/// @param {string} $prop
///   The custom property name to use in the reference.
/// @param {any} $fallback [null]
///   The fallback value to use in the var() declaration.
/// @return {function} 
///   Custom property variable reference using var().
/// 
/// @example scss
///   css.reference("core", "background");
///   // CSS Output
///   var(--vb-background);
/// 
/// @example scss
///   css.reference("button", "background-hover", "background");
///   // CSS Output
///   var(--vb-button-background-hover, var(--vb-button-background));
///
@function reference($module, $prop, $fallback: null) {
  $do: usage.set($module, $prop, "ref");
  @if ($fallback) {
    @return var(#{_prefix($module)}#{$prop}, $fallback);
  } @else {
    @return var(#{_prefix($module)}#{$prop});
  }
}

/// Mixin to define custom property using the provided property name and value.
/// Automatically applies with prefix and module name if provided.
/// @param {string} $module
///   The module name to use as part of the prefix. The "core" and "palette"
///   modules are not prefixed with their module names.
/// @param {string} $prop
///   The custom property name to use in the definition.
/// @param {any} $value [null]
///   The value of the custom property.
/// 
/// @example scss
///   css.define("core", "background", #000);
///   // CSS Output
///   --vb-background: #000;
/// 
/// @example scss
///   css.define("button", "background", #fff);
///   // CSS Output
///   --vb-button-background: #fff;
///
@mixin define($module, $prop, $value: null) {
  @if ($value) {
    $do: usage.set($module, $prop, "def");
    #{_prefix($module)}#{$prop}: #{$value};
  }
}

/// Function to return a custom property reference that has been stored in the 
/// `$_variables` map using set().
/// @param {string} $module
///   The module name to get the stored custom property from. Can be omitted if
///   searching a property in the core module.
/// @param {string} $props...
///   The custom property name to return. Can be a list of props for returning 
///   var() with fallbacks.
/// @return {function | error} 
///   Custom property variable reference using var().
/// 
/// @example scss
///   css.get("background");
///   // CSS Output
///   var(--vb-background);
/// 
/// @example scss
///   css.get("button", "background");
///   // CSS Output
///   var(--vb-button-background);
/// 
/// @example scss
///   css.get("button", "background-hover", "background");
///   // CSS Output
///   var(--vb-button-background-hover, var(--vb-button-background));
///
@function get($module, $props...) {
  @if (list.length($props) == 0) {
    $props: $module;
    $module: "core";
  }

  @if not map.has-key($_variables, $module) {
    @error "Module map has not been set: \"#{$module}\"";
  }

  $props: reverse($props);
  $result: null;

  @each $prop in $props {
    @if not map.has-key($_variables, $module, $prop) {
      @error "Custom property has not been set: \"#{$module}\" > \"#{$prop}\"";
    }
    
    $result: reference($module, $prop, $result);
  }
  
  @return $result;
}

/// Mixin to store custom properties for later definition and reference.
/// @param {string} $module
///   The module name to store the custom property under.
/// @param {string | map} $prop
///   The custom property name to store. Can be a map containing property and 
///   value pairs. Values can also contain map of property/value pairs.
/// @param {any} $value [null]
///   The custom property value to store. Can be a map containing property and 
///   value pairs. Map keys are appended to provided `$prop` parameter.
/// @param {boolean} $required [false]
///   Whether or not this property is required to be output. Setting this value
///   to `true` will output the variable regardless if it's referenced.
/// 
/// @example scss
///   @include css.set("button", "background", #000);
/// 
///   // Result in `$_variables` map:
///   $_variables: (
///     "button": (
///       "background": #000
///     )
///   );
/// 
/// @example scss
///   @include css.set("button", (
///     "background": #000,
///     "foreground": #fff,
///   ));
/// 
///   // Result in `$_variables` map:
///   $_variables: (
///     "button": (
///       "background": #000,
///       "foreground": #fff
///     )
///   );
/// 
/// @example scss
///   @include css.set("button", (
///     "background": (
///       "hover": #000,
///       "focus": #555,
///       "active": #fff,
///     )
///   ));
/// 
///   // Result in `$_variables` map:
///   $_variables: (
///     "button": (
///       "background-hover": #000,
///       "background-focus": #555,
///       "background-active": #fff
///     )
///   );
///
@mixin set($module, $prop, $value: null, $required: false) {
  @if (meta.type-of($prop) == "map") {
    $required: $value;
    @each $propKey, $propValue in $prop {
      @if (meta.type-of($propValue) == "map") {
        @each $key, $value in $propValue {
          @if ($required) { $do: usage.set($module, "#{$propKey}-#{$key}") };
          $_variables: map.set($_variables, $module, "#{$propKey}-#{$key}", $value) !global;
        }
      } @else {
        @if ($required) { $do: usage.set($module, $propKey) };
        $_variables: map.set($_variables, $module, $propKey, $propValue) !global;
      }
    }
  }

  @else if (meta.type-of($value) == "map") {
    @each $key, $value in $value {
      @if ($required) { $do: usage.set($module, "#{$prop}-#{$key}") };
      $_variables: map.set($_variables, $module, "#{$prop}-#{$key}", $value) !global;
    }
  }

  @else {
    @if ($required) { $do: usage.set($module, $prop) };
    $_variables: map.set($_variables, $module, $prop, $value) !global;
  }
}

/// Mixin to remove items from the `$_variables` custom properties map.
/// @param {string} $keys...
///   The list of keys to follow and remove from the custom properties map.
@mixin remove($keys...) {
  @include usage.remove($keys...);
  $_variables: map.deep-remove($_variables, $keys...) !global;
}

/// Mixin to override a previously defined custom property. This is primarily 
/// used in the context of a modifier. Provided module and property must exist
/// in the `$_variables` custom properties map.
/// @param {string} $module
///   The module name to check the custom property under.
/// @param {string | map} $prop
///   The custom property name to override. Can be a map containing property and 
///   value pairs
/// @param {any} $value [null]
///   The property value to override with.
/// 
/// @example scss
///   @include css.override("core", "background", #000);
/// 
///   // CSS Output
///   --vb-background: #000;
/// 
/// @example scss
///   @include css.override("button", "background", #fff);
/// 
///   // CSS Output
///   --vb-button-background: #fff;
/// 
/// @example scss
///   @include css.override("button", (
///     "background": #000,
///     "foreground": #fff
///   ));
/// 
///   // CSS Output
///   --vb-button-background: #000;
///   --vb-button-foreground: #fff;
///
@mixin override($module, $prop, $value: null) {
  @if not map.has-key($_variables, $module) {
    @error "Module map has not been set: \"#{$module}\"";
  }

  @if (meta.type-of($prop) == "map") {
    @each $key, $value in $prop {
      @if not map.has-key($_variables, $module, $key) {
        @error "Custom property has not been set: \"#{$module}\" > \"#{$key}\"";
      }

      @if ($value) {
        $do: usage.set($module, $key, "override");
        @include define($module, $key, $value);
      }
    }
  }

  @else {
    @if not map.has-key($_variables, $module, $prop) {
      @error "Custom property has not been set: \"#{$module}\" > \"#{$prop}\"";
    }

    @if ($value) {
      $do: usage.set($module, $prop, "override");
      @include define($module, $prop, $value);
    }
  }
}

/// Output custom properties based on the provided strategy. This can either be
/// all (via "*" or "all" values) or "used" meaning only the custom properties
/// that have been referenced get output.
/// @param {string} $module
///   The name of the module being output.
/// @param {map} $moduleMap
///   A map of containing property/value pairs to output.
/// @param {string} $strategy
///   The strategy to use for output. Possible values: "*", "all" or "used".
///   - "*" and "all" will output all stored custom properties.
///   - "used" will only output custom properties that have been referenced.
@mixin maybeOutput($module, $moduleMap, $strategy) {
  // If strategy is set to all, output everything in the map.
  @if ($strategy == "*" or $strategy == "all") {
    @each $prop, $value in $moduleMap {
      @include define($module, $prop, $value);
    }
  }
  // Else, only output variable that were referenced.
  @else {
    @each $prop, $value in $moduleMap {
      @if map.has-key(usage.get(), $module, $prop) {
        @include define($module, $prop, $value);
      }
    }
  }
}

/// Output all the stored custom properties of a provided module. Provided 
/// module must exist in the `$_variables` custom properties map.
/// @param {string} $module ["core"]
///   The module to output all stored custom properties from.
/// @param {string} $strategy ["used"]
///   The strategy to use for output. Possible values: "*", "all" or "used".
///   - "*" and "all" will output all stored custom properties.
///   - "used" will only output custom properties that have been referenced.
/// 
/// @example scss
///   // Example value in `$_variables` map:
///   $_variables: (
///     "button": (
///       "background": #555,
///       "foreground": #fff,
///       "border": 1px solid #000
///     )
///   );
///   
///   // SCSS input
///   :root {
///     @include css.output("button");
///   }
/// 
///   // CSS output
///   :root {
///     --vb-button-background: #555;
///     --vb-button-foreground: #fff;
///     --vb-button-border: 1px solid #000;
///   }
///
@mixin output($module: "core", $strategy: config.get("output-strategy")) {
  @if not map.has-key($_variables, $module) {
    @error "Module map has not been set: \"#{$module}\"";
  }
  @include maybeOutput($module, map.get($_variables, $module), $strategy);
}

/// Log to console either the entire `$_variables` custom properties map or a 
/// specific module contained within. Provided module must exist in the 
/// `$_variables` custom properties map.
/// @param {string} $module [null]
///   A module within the custom properties map to log. Leaving as `null` will
///   log the entire map.
@mixin log($module: null) {
  @if not $module {
    @include debug-map($_variables, "Custom properties");
  }
  
  @else {
    @if not map.has-key($_variables, $module) {
      @error "Module map has not been set: \"#{$module}\"";
    }

    @include debug-map(map.get($_variables, $module), "Custom properties of \"#{$module}\"");
  }
}
