@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../utilities/debug-map" as *;
@use "../utilities/empty-map" as *;
@use "../utilities/remove-nth" as *;
@use "../utilities/reverse" as *;
@use "./config";

/// The custom properties map where all custom properties are stored. These are
/// stored under component keys with maps of their custom property.
/// @type map
/// @access private
$-css-vars: (
  "core": (
    "prefix": (
      "config": (
        "prefix-cssvar",
        "default"
      )
    ),
    "breakpoint": (
      "config": "breakpoints"
    )
  )
);

/// Function to check whether a component has been registered in the custom
/// properties map. Will throw an error if the component was not found and is
/// required.
///
/// @param {string} $component
///   The component to check for its existence.
///
/// @param {boolean} $required (true)
///   Whether or not the component is required. If set to `true`, will throw an
///   error when it's not found, otherwise will return false.
///
/// @return {boolean|error}
///   If component exists in map, returns true. Otherwise, will throw error.
///
/// @access private
///
@function -component-exists($component, $required: true) {
  @if not map.has-key($-css-vars, $component) {
    @if $required {
      @error "Component `#{$component}` has not been registered in custom properties map.";
    } @else {
      @return false;
    }
  } @else {
    @return true;
  }
}

/// Function for setting the prefix on custom properties (CSS variables).
///   - Applies "--" prefix.
///   - Applies "vb-" vrembem prefix.
///   - Applies "[component]" string. Omitted for "core" or "palette"
///     components.
///   - Result: "--vb-[component]-"
///
/// @param {string} $component
///   The component name to use as part of the prefix. The "core" and
///   "palette" components are not prefixed with their component names.
///
/// @return {string}
///   The custom property prefix string.
///
/// @access private
///
@function -prefix($component) {
  $prefix: config.get("prefix-cssvar");

  @if meta.type-of($prefix) == "map" {
    // Get the prefix if a custom component prefix is defined
    @if map.has-key($prefix, $component) {
      $prefix: map.get($prefix, $component);
    }

    // Else, get the default prefix
    @else {
      $prefix: map.get($prefix, "default");
    }
  }

  @if $prefix and $prefix != "" {
    $prefix: "#{$prefix}-";
  }

  @if $component and $component != "core" and $component != "palette" {
    @return "--#{$prefix}#{$component}-";
  } @else {
    @return "--#{$prefix}";
  }
}

/// Function to check if custom properties map has a specific component
/// property.
///
/// @param {string} $keys...
///   The keys to traverse in the custom properties map.
///
@function has($keys...) {
  @return map.has-key($-css-vars, $keys...);
}

/// Register a component in the custom properties map. This is used when a
/// component is needed to be available for later use but without setting any
/// custom properties.
///
/// @param {string} $component
///   The component to register.
///
@mixin register($component) {
  @if not(has($component)) {
    $-css-vars: map.set($-css-vars, $component, empty-map()) !global;
  }
}

/// Function to create reference to a custom property using the provided
/// component name, property and optional fallback. Automatically applies the
/// necessary custom property prefix and component name.
///
/// @param {string} $component
///   The component name to use as part of the prefix. The "core" and "palette"
///   components are not prefixed with their component names.
/// @param {string} $prop
///   The custom property name to use in the reference.
/// @param {any} $fallback (null)
///   The fallback value to use in the var() declaration.
///
/// @return {function}
///   Custom property variable reference using var().
///
/// @example scss
///   css.reference("core", "background");
///   // CSS Output
///   var(--vb-background);
///
/// @example scss
///   css.reference("button", "background-hover", "background");
///   // CSS Output
///   var(--vb-button-background-hover, var(--vb-button-background));
///
@function reference($component, $prop, $fallback: null) {
  @if $fallback {
    @return var(#{-prefix($component)}#{$prop}, $fallback);
  } @else {
    @return var(#{-prefix($component)}#{$prop});
  }
}

/// Mixin to define custom property using the provided property name and value.
/// Automatically applied with prefix and component name if provided.
///
/// @param {string} $component
///   The component name to use as part of the prefix. The "core" and "palette"
///   components are not prefixed with their component names.
/// @param {string} $prop
///   The custom property name to use in the definition.
/// @param {any} $value (null)
///   The value of the custom property.
///
/// @example scss
///   css.define("core", "background", #000);
///   // CSS Output
///   --vb-background: #000;
///
/// @example scss
///   css.define("button", "background", #fff);
///   // CSS Output
///   --vb-button-background: #fff;
///
@mixin define($component, $prop, $value: null) {
  @if $value {
    // If the value is not a map, output the custom property
    @if meta.type-of($value) != "map" {
      #{-prefix($component)}#{$prop}: #{$value};
    }

    // If the map has a key of config, get the value from config directly
    @if meta.type-of($value) == "map" and map.has-key($value, "config") {
      // Store the config path and the initial config value
      $config-path: map.get($value, "config");
      $config-value: config.get(list.nth($config-path, 1));

      // If the config path is more specific and the returned config value is a map
      @if list.length($config-path) > 1 and meta.type-of($config-value) == "map" {
        // Return the specific value based on the provided config path
        $config-value: config.get($config-path...);
      }

      @if meta.type-of($config-value) == "map" {
        @each $key, $value in $config-value {
          @include define($component, "#{$prop}-#{$key}", $value);
        }
      } @else {
        @include define($component, $prop, $config-value);
      }
    }
  }
}

/// Function to return a custom property reference that has been stored in the
/// custom properties map using set(). Can also return the entire custom
/// properties map or one of the stored component maps.
///
/// @param {string} $component
///   The component name to get the stored custom property from. Can be omitted
///   if searching a property in the core component.
/// @param {string} $props...
///   The custom property name to return. Can be a list of props for returning
///   var() with fallbacks. Set to "*" to return the entire component map.
///
/// @return {function|error}
///   Custom property variable reference using var().
///
/// @example scss
///   css.get("background");
///   // CSS Output
///   var(--vb-background);
///
/// @example scss
///   css.get("button", "background");
///   // CSS Output
///   var(--vb-button-background);
///
/// @example scss
///   css.get("button", "background-hover", "background");
///   // CSS Output
///   var(--vb-button-background-hover, var(--vb-button-background));
///
/// @example scss
///   css.get("button", "background-hover", "background", pink);
///   // CSS Output
///   var(--vb-button-background-hover, var(--vb-button-background, pink));
///
@function get($component, $props...) {
  // Return custom properties map if component is set to "*" value
  @if $component == "*" or $component == "all" {
    @return $-css-vars;
  }

  // Return a nested map in custom properties map if props contains "*" value
  @if list.index($props, "*") {
    // Throw error if the component doesn't exist in the map
    @if -component-exists($component) {
      $props: remove-nth($props, list.index($props, "*"));

      @return map.get($-css-vars, $component, $props...);
    }
  }

  // If no props are provided, shift the values and set component to "core"
  @if list.length($props) == 0 {
    $props: $component;
    $component: "core";
  }

  // Check if component exists
  @if -component-exists($component) {
    // Reverse the props list and initialize our result
    $props: reverse($props);
    $result: null;

    // Get the props count
    $count: list.length($props);

    // Loop through the props and append them to results as nested fallbacks
    @for $i from 1 through $count {
      $prop: list.nth($props, $i);
      $value: map.get($-css-vars, $component, $prop);

      // Check if the property exists in the component or its default theme
      @if map.has-key($-css-vars, $component, $prop) or map.has-key($-css-vars, $component, config.get("theme-default"), $prop) {
        // store the reference in our result
        $result: reference($component, $prop, $result);
      }

      // All other cases depend on the property count and its position
      @else {
        @if $count > 1 and $i == 1 {
          // First prop of the props list, store the raw value as our fallback
          $result: $prop;
        } @else if $count > 1 {
          // If there are more than one props, reference the undefined variable
          $result: reference($component, $prop, $result);
        } @else {
          // Else, it should exist in our component map, throw error
          @error "Property `#{$prop}` does not exist in `#{$component}` custom properties map.";
        }
      }
    }

    @return $result;
  }
}

/// Mixin to store custom properties for later definition and reference. Can
/// also update the entire custom properties map or a stored component map by
/// passing "*" value to `$component` or `$prop` respectively.
///
/// @param {string} $component
///   The component name to store the custom property under. Set to "*" to
///   replace the entire map with the value of `$prop` (must be a map).
/// @param {string|map} $prop
///   The custom property name to store. Can be a map containing property and
///   value pairs. Values can also contain map of property/value pairs. Set to
///   "*" to merge a component map with the value of `$value` (must be a map).
/// @param {any} $value (null)
///   The custom property value to store. Can be a map containing property and
///   value pairs. Map keys are appended to provided `$prop` parameter.
/// @param {boolean} $deep (true)
///   Whether or not to use `merge` or `deep-merge` when combining maps.
///
/// @example scss
///   @include css.set("button", "background", #000);
///
///   // Result in custom properties map:
///   $-css-vars: (
///     "button": (
///       "background": #000
///     )
///   );
///
/// @example scss
///   @include css.set("button", (
///     "background": #000,
///     "foreground": #fff,
///   ));
///
///   // Result in custom properties map:
///   $-css-vars: (
///     "button": (
///       "background": #000,
///       "foreground": #fff
///     )
///   );
///
/// @example scss
///   @include css.set("button", (
///     "background": (
///       "hover": #000,
///       "focus": #555,
///       "active": #fff,
///     )
///   ));
///
///   // Result in custom properties map:
///   $-css-vars: (
///     "button": (
///       "background-hover": #000,
///       "background-focus": #555,
///       "background-active": #fff
///     )
///   );
///
@mixin set($component, $prop, $value: null, $deep: true) {
  // If component is set to "*", update the entire custom properties map
  @if $component == "*" or $component == "all" {
    $-css-vars: $prop !global;
  }

  // If prop is set to "*", update the component map in custom properties map
  @else if $prop == "*" or $prop == "all" {
    @if $deep != true {
      $-css-vars: map.merge(
        $-css-vars,
        (
          $component: $value
        )
      ) !global;
    } @else {
      $-css-vars: map.deep-merge(
        $-css-vars,
        (
          $component: $value
        )
      ) !global;
    }
  }

  // If the provided prop is a map
  @else if meta.type-of($prop) == "map" {
    // Loop through the prop map
    @each $propKey, $propValue in $prop {
      // Scenario: ("prop": ("prop": "value"))
      @if meta.type-of($propValue) == "map" {
        @each $key, $value in $propValue {
          $-css-vars: map.set($-css-vars, $component, "#{$propKey}-#{$key}", $value) !global;
        }
      }

      // Scenario: ("prop": "value")
      @else {
        $-css-vars: map.set($-css-vars, $component, $propKey, $propValue) !global;
      }
    }
  }

  // Scenario: "prop", ("prop": "value")
  @else if meta.type-of($value) == "map" {
    @each $key, $value in $value {
      // If the map has the value of "config", store the entire map directly
      @if $component == "core" and $key == "config" {
        $-css-vars: map.set(
          $-css-vars,
          $component,
          $prop,
          (
            $key: $value
          )
        ) !global;
      }

      // Else, suffix the custom property with the key
      @else {
        $new-key: "#{$prop}-#{$key}";

        @if $key == "" {
          $new-key: $prop;
        }

        $-css-vars: map.set($-css-vars, $component, $new-key, $value) !global;
      }
    }
  }

  // Scenario: "prop", "value"
  @else {
    $-css-vars: map.set($-css-vars, $component, $prop, $value) !global;
  }
}

/// Mixin to remove items from the custom properties map.
///
/// @param {string} $keys...
///   The list of keys to follow and remove from the custom properties map.
///
@mixin remove($keys...) {
  $-css-vars: map.deep-remove($-css-vars, $keys...) !global;
}

/// Mixin to override previously defined custom properties. This is primarily
/// used in the context of a modifier. Provided component must exist in the
/// custom properties map.
///
/// @param {string} $component
///   The component to override.
/// @param {string|map} $prop
///   The custom property name to override. Can be a map containing property and
///   value pairs.
/// @param {any} $value (null)
///   The property value to override with.
///
/// @example scss
///   @include css.override("core", "background", #000);
///
///   // CSS Output
///   --vb-background: #000;
///
/// @example scss
///   @include css.override("button", "background", #fff);
///
///   // CSS Output
///   --vb-button-background: #fff;
///
/// @example scss
///   @include css.override("button", (
///     "background": #000,
///     "foreground": #fff
///   ));
///
///   // CSS Output
///   --vb-button-background: #000;
///   --vb-button-foreground: #fff;
///
@mixin override($component, $prop, $value: null) {
  @if -component-exists($component) {
    @if meta.type-of($prop) == "map" {
      @each $key, $value in $prop {
        @if $value {
          @include define($component, $key, $value);
        }
      }
    } @else {
      @if $value {
        @include define($component, $prop, $value);
      }
    }
  }
}

/// Output all custom properties of a provided component. Or output all custom
/// properties from all components by passing "*" as the argument.
///
/// @param {string} $component ("*")
///   The component to output all custom properties from. If no component is
///   passed or set to "*" or "all", will output all custom properties for all
///   components.
///
/// @example scss
///   // Example value in custom properties map:
///   $-css-vars: (
///     "button": (
///       "background": #555,
///       "foreground": #fff,
///       "border": 1px solid #000
///     )
///   );
///
///   // SCSS input
///   :root {
///     @include css.output("button");
///   }
///
///   // CSS output
///   :root {
///     --vb-button-background: #555;
///     --vb-button-foreground: #fff;
///     --vb-button-border: 1px solid #000;
///   }
///
@mixin output($component: "*") {
  @if $component == "*" or $component == "all" {
    // Call output() for every component in $-css-vars
    @each $component in map.keys($-css-vars) {
      @include output($component);
    }
  } @else if -component-exists($component, false) {
    // Get the component's property map
    $property-map: map.get($-css-vars, $component);

    // Loop through the property map
    @each $prop, $value in $property-map {
      @include define($component, $prop, $value);
    }
  }
}

/// Log to console all custom properties, a component map or component theme.
/// Provided component must be registered in the custom properties map.
///
/// @param {string} $component ("*")
///   Optionally output a specific component within the custom properties map.
/// @param {string} $props...
///   Optionally search for more specific properties in the custom
///   properties map.
///
@mixin log($component: "*", $props...) {
  @if $component == "*" or $component == "all" {
    @include debug-map($-css-vars, 'Custom properties of "*"');
  } @else if -component-exists($component) {
    @if list.length($props) > 0 {
      @include debug-map(map.get($-css-vars, $component, $props...), 'Custom properties of "#{$component}" > "#{$props}"');
    } @else {
      @include debug-map(map.get($-css-vars, $component), 'Custom properties of "#{$component}"');
    }
  }
}
