@use "sass:list";
@use "sass:map";
@use "sass:meta";

@use "../variables/prefix";
@use "../utilities/reverse" as *;
@use "../utilities/debug-map" as *;

/// The variables map where all custom properties are stored. These are stored
/// under module keys with maps of their custom property key/value pairs.
/// @type map
/// @access private
$_variables: (
  "core": (
    "prefix": prefix.$variable
  )
);

/// Stores all references of custom properties and their meta information.
/// @type map
/// @access private
$_meta: (
  "core": (
    "prefix": 1
  )
);

/// Defines the default output strategy for output mixins.
/// @type string
$output-strategy: "used";

/// Function for setting the prefix on custom properties (CSS variables).
///   - Applies "--" prefix.
///   - Applies "vb-" vrembem prefix (via prefix.$variable).
///   - Applies "[module]" string. Omitted if "core" module is passed.
///   - Result: "--vb-[module]-"
/// @require {variable} prefix.$variable
/// @param {string} $module
///   The module name to use as part of the prefix. The "core" module is not
///   used in the prefix.
/// @return {string} 
///   The custom property prefix string.
/// @access private
@function _prefix($module) {
  @if ($module and $module != "core" and $module != "palette") {
    @return "--#{prefix.$variable}#{$module}-";
  } @else {
    @return "--#{prefix.$variable}";
  }
}

/// TODO: Documentation
@function set-meta($module, $prop, $action: "set") {
  $data: $_meta;
  @if (map.has-key($_meta, $module, $prop)) {
    $n: map.get($_meta, $module, $prop, $action);
    $_meta: map.set($_meta, $module, $prop, $action, $n + 1) !global;
  } @else {
    $_meta: map.set($_meta, $module, $prop, init-action-map($action)) !global;
  }
  @return true;
}

/// TODO: Documentation
@function init-action-map($action) {
  $def: 0; $ref: 0; $override: 0;
  @if ($action == "def") { $def: 1; }
  @if ($action == "ref") { $ref: 1; }
  @if ($action == "override") { $override: 1; }
  @return ( "def": $def, "ref": $ref, "override": $override );
}

/// Function to create reference to a custom property using the provided 
/// property name and optional fallback. Automatically applies with prefix and
/// module name if provided.
/// @param {string} $prop
///   The custom property name to use in the reference.
/// @param {any} $fallback [null]
///   The fallback value to use in the var() declaration.
/// @param {string} $module ["core"]
///   The module name to use as part of the prefix ("core" module is omitted).
/// @return {function} 
///   Custom property variable reference using var().
/// 
/// @example scss
///   css.reference("core", "background");
///   // CSS Output
///   var(--vb-background);
/// 
/// @example scss
///   css.reference("button", "background-hover", "background");
///   // CSS Output
///   var(--vb-button-background-hover, var(--vb-button-background));
///
@function reference($prop, $fallback: null, $module: "core") {
  $do: set-meta($module, $prop, "ref");
  @if ($fallback) {
    @return var(#{_prefix($module)}#{$prop}, $fallback);
  } @else {
    @return var(#{_prefix($module)}#{$prop});
  }
}

/// Mixin to define custom property using the provided property name and value.
/// Automatically applies with prefix and module name if provided.
/// @param {string} $prop
///   The custom property name to use in the definition.
/// @param {any} $value [null]
///   The value of the custom property.
/// @param {string} $module ["core"]
///   The module name to use as part of the prefix ("core" module is omitted).
/// 
/// @example scss
///   css.define("core", "background", #000);
///   // CSS Output
///   --vb-background: #000;
/// 
/// @example scss
///   css.define("button", "background", #fff);
///   // CSS Output
///   --vb-button-background: #fff;
///
@mixin define($prop, $value: null, $module: "core") {
  @if ($value) {
    $do: set-meta($module, $prop, "def");
    #{_prefix($module)}#{$prop}: #{$value};
  }
}

/// Function to return a custom property reference that has been stored in the 
/// `$_variables` map using set().
/// @param {string} $module
///   The module name to get the stored custom property from. Can be omitted if
///   searching a property in the core module.
/// @param {string} $props...
///   The custom property name to return. Can be a list of props for returning 
///   var() with fallbacks.
/// @return {function | error} 
///   Custom property variable reference using var().
/// 
/// @example scss
///   css.get("background");
///   // CSS Output
///   var(--vb-background);
/// 
/// @example scss
///   css.get("button", "background");
///   // CSS Output
///   var(--vb-button-background);
/// 
/// @example scss
///   css.get("button", "background-hover", "background");
///   // CSS Output
///   var(--vb-button-background-hover, var(--vb-button-background));
///
@function get($module, $props...) {
  @if (list.length($props) == 0) {
    $props: $module;
    $module: "core";
  }

  @if not map.has-key($_variables, $module) {
    @error "Module map has not been set: \"#{$module}\"";
  }

  $props: reverse($props);
  $result: null;

  @each $prop in $props {
    @if not map.has-key($_variables, $module, $prop) {
      @error "Custom property has not been set: \"#{$module}\" > \"#{$prop}\"";
    }
    
    $result: reference($prop, $result, $module);
  }
  
  @return $result;
}

/// Mixin to store custom properties for later definition and reference.
/// @param {string} $module
///   The module name to store the custom property under.
/// @param {string | map} $prop
///   The custom property name to store. Can be a map containing property and 
///   value pairs. Values can also contain map of property/value pairs.
/// @param {any} $value [null]
///   The custom property value to store. Can be a map containing property and 
///   value pairs. Map keys are appended to provided `$prop` parameter.
/// @param {boolean} $required [false]
/// 
/// @example scss
///   @include css.set("button", "background", #000);
/// 
///   // Result in `$_variables` map:
///   $_variables: (
///     "button": (
///       "background": #000
///     )
///   );
/// 
/// @example scss
///   @include css.set("button", (
///     "background": #000,
///     "foreground": #fff,
///   ));
/// 
///   // Result in `$_variables` map:
///   $_variables: (
///     "button": (
///       "background": #000,
///       "foreground": #fff
///     )
///   );
/// 
/// @example scss
///   @include css.set("button", (
///     "background": (
///       "hover": #000,
///       "focus": #555,
///       "active": #fff,
///     )
///   ));
/// 
///   // Result in `$_variables` map:
///   $_variables: (
///     "button": (
///       "background-hover": #000,
///       "background-focus": #555,
///       "background-active": #fff
///     )
///   );
///
/// TODO: Update documentation
@mixin set($module, $prop, $value: null, $required: false) {
  @if (meta.type-of($prop) == "map") {
    $required: $value;
    @each $propKey, $propValue in $prop {
      @if (meta.type-of($propValue) == "map") {
        @each $key, $value in $propValue {
          @if ($required) { $do: set-meta($module, "#{$propKey}-#{$key}") };
          $_variables: map.set($_variables, $module, "#{$propKey}-#{$key}", $value) !global;
        }
      } @else {
        @if ($required) { $do: set-meta($module, $propKey) };
        $_variables: map.set($_variables, $module, $propKey, $propValue) !global;
      }
    }
  }

  @else if (meta.type-of($value) == "map") {
    @each $key, $value in $value {
      @if ($required) { $do: set-meta($module, "#{$prop}-#{$key}") };
      $_variables: map.set($_variables, $module, "#{$prop}-#{$key}", $value) !global;
    }
  }

  @else {
    @if ($required) { $do: set-meta($module, $prop) };
    $_variables: map.set($_variables, $module, $prop, $value) !global;
  }
}

/// Mixin to remove items from the `$_variables` custom properties map.
/// @param {string} $keys
///   The list of keys to follow and remove from the custom properties map.
@mixin remove($keys...) {
  // TODO: Also remove value from $_meta map.
  $_variables: map.deep-remove($_variables, $keys...) !global;
}

/// Mixin to override a previously defined custom property. This is primarily 
/// used in the context of a modifier. Provided module and property must exist
/// in the `$_variables` custom properties map.
/// @param {string} $module
///   The module name to check the custom property under.
/// @param {string | map} $prop
///   The custom property name to override. Can be a map containing property and 
///   value pairs
/// @param {any} $value [null]
///   The property value to override with.
/// 
/// @example scss
///   @include css.override("core", "background", #000);
/// 
///   // CSS Output
///   --vb-background: #000;
/// 
/// @example scss
///   @include css.override("button", "background", #fff);
/// 
///   // CSS Output
///   --vb-button-background: #fff;
/// 
/// @example scss
///   @include css.override("button", (
///     "background": #000,
///     "foreground": #fff
///   ));
/// 
///   // CSS Output
///   --vb-button-background: #000;
///   --vb-button-foreground: #fff;
///
@mixin override($module, $prop, $value: null) {
  @if not map.has-key($_variables, $module) {
    @error "Module map has not been set: \"#{$module}\"";
  }

  @if (meta.type-of($prop) == "map") {
    @each $key, $value in $prop {
      @if not map.has-key($_variables, $module, $key) {
        @error "Custom property has not been set: \"#{$module}\" > \"#{$key}\"";
      }

      @if ($value) {
        $do: set-meta($module, $key, "override");
        @include define($key, $value, $module);
      }
    }
  }

  @else {
    @if not map.has-key($_variables, $module, $prop) {
      @error "Custom property has not been set: \"#{$module}\" > \"#{$prop}\"";
    }

    @if ($value) {
      $do: set-meta($module, $prop, "override");
      @include define($prop, $value, $module);
    }
  }
}

/// Output all the stored custom properties of a provided module. Provided 
/// module must exist in the `$_variables` custom properties map.
/// @param {string} $module ["core"]
///   The module to output all stored custom properties from.
/// @param {string} $strategy ["used"]
/// 
/// @example scss
///   // Example value in `$_variables` map:
///   $_variables: (
///     "button": (
///       "background": #555,
///       "foreground": #fff,
///       "border": 1px solid #000
///     )
///   );
///   
///   // SCSS input
///   :root {
///     @include css.output("button");
///   }
/// 
///   // CSS output
///   :root {
///     --vb-button-background: #555;
///     --vb-button-foreground: #fff;
///     --vb-button-border: 1px solid #000;
///   }
///
/// TODO: Update documentation
@mixin output($module: "core", $strategy: $output-strategy) {
  @if not map.has-key($_variables, $module) {
    @error "Module map has not been set: \"#{$module}\"";
  }
  @include maybeOutput(map.get($_variables, $module), $module, $strategy);
}

/// TODO: Documentation
@mixin maybeOutput($moduleMap, $module, $strategy) {
  // If strategy is set to all, output everything in the map.
  @if ($strategy == "*" or $strategy == "all") {
    @each $prop, $value in $moduleMap {
      @include define($prop, $value, $module);
    }
  }

  // Else, only output variable that were referenced based on `$_meta`.
  @else {
    @each $prop, $value in $moduleMap {
      @if map.has-key($_meta, $module, $prop) {
        @include define($prop, $value, $module);
      }
    }
  }
}

/// Log to console either the entire `$_variables` custom properties map or a 
/// specific module contained within. Provided module must exist in the 
/// `$_variables` custom properties map.
/// @param {string} $module [null]
///   A module within the custom properties map to log. Leaving as `null` will
///   log the entire map.
@mixin log($module: null) {
  @if not $module {
    @include debug-map($_variables, "Custom properties");
  }
  
  @else {
    @if not map.has-key($_variables, $module) {
      @error "Module map has not been set: \"#{$module}\"";
    }

    @include debug-map(map.get($_variables, $module), "Custom properties of \"#{$module}\"");
  }
}

/// TODO: Documentation
@mixin log-meta($filters: (), $module: null) {
  // Initial filtered map is just inherited from meta map.
  $filtered: $_meta;

  // Do a module check and error if one is passed that hasn't been set.
  @if ($module) {
    @if (map.has-key($_meta, $module)) {
      $filtered: map.get($_meta, $module);
    } @else {
      @error "Module map has not been set: \"#{$module}\"";
    }
  }

  // Loop through the provided filters
  @each $filterKey, $filterValue in $filters {
    // If a module was passed.
    @if ($module) {
      @each $prop, $meta in $filtered {
        @if (map.has-key($meta, $filterKey) and (map.get($meta, $filterKey) != $filterValue)) {
          $filtered: map.remove($filtered, $module, $prop);
        }
      }
    }
    // If a module was not passed.
    @else {
      @each $module, $props in $filtered {
        @each $prop, $meta in $props {
          @if (map.has-key($meta, $filterKey) and (map.get($meta, $filterKey) != $filterValue)) {
            $filtered: map.deep-remove($filtered, $module, $prop);
            // Remove empty maps if they exist.
            @if (map.get($filtered, $module) == ()) {
              $filtered: map.remove($filtered, $module);
            }
          }
        }
      }
    }
  }

  // Log the filtered map.
  @if ($module) {
    @include debug-map($filtered, "Filtered custom properties of \"#{$module}\"");
  } @else if ($filters == ()) {
    @include debug-map($filtered, "All custom properties");
  } @else {
    @include debug-map($filtered, "Filtered custom properties");
  }
}
