@use "sass:map";
@use "sass:meta";
@use "../utilities/get-hs" as *;
@use "../utilities/debug-map" as *;
@use "./config";
@use "./css";

/// The map of colors used to build the palette
/// @type map
/// @access private
$-seeds: (
  "primary": hsl(152deg 60% 50%),
  "secondary": hsl(214deg 50% 50%),
  "neutral": hsl(214deg 20% 50%),
  "important": hsl(0deg 80% 50%)
);

/// The default color lightness to use when referencing a color
/// @type number
$lightness-default: 50 !default;

/// The range of lightness values to build for each color in the palette
/// @type list
$lightness-range: 0, 5, 10, 12, 15, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98, 100 !default;

/// Builds a palette map using values set in `$-seeds` and `$lightness-range`.
/// Is run automatically whenever seeds map is modified.
///
/// @param {map} $seeds ($-seeds)
///   The seeds to generate a palette map from.
///
/// @param {list} $range ($lightness-range)
///   A list of lightness values to generate the palette map from.
///
/// @param {number} $default ($lightness-default)
///   The default lightness value. Used to generate the shorthand property.
///
/// @access private
///
@mixin -build($seeds: $-seeds, $range: $lightness-range, $default: $lightness-default) {
  // Remove the palette module before building
  @include css.remove("palette");

  // Loop through the seeds and set the variables for each item in $seeds
  @each $name, $value in $seeds {
    @include css.set("palette", "#{$name}-hs", get-hs($value));

    @each $value in $range {
      @include css.set("palette", "#{$name}-#{$value}", hsl(#{css.get("palette", "#{$name}-hs") $value + "%"}));
    }

    @if $default {
      @include css.set("palette", "#{$name}", css.get("palette", "#{$name}-#{$default}"));
    }
  }
}

/// Function to return a palette color. If called with no color name, the entire
/// palette map is returned.
///
/// @param {string} $name (null)
///   The color name to return a value for.
/// @param {any} $query ($lightness-default)
///   The type of value to return. Can be "seed" to return the initial seed
///   value or a specific lightness value.
/// @param {number (alpha-value)} $alpha (null)
///   The alpha value of the requested color.
///
/// @return {Color}
///   Return format depends on the requested value.
///
@function get($name: null, $query: $lightness-default, $alpha: null) {
  // Return the palette map if no name is provided
  @if not($name) {
    @return css.get("palette", "*");
  }

  // If name is passed as "seeds", return the seed value
  @else if $name == "seeds" {
    @return $-seeds;
  }

  // If query is passed as "seed", return the seed value
  @else if $query == "seed" {
    @return map.get($-seeds, $name);
  }

  // If an alpha value is passed, return hsl with the alpha
  @else if $alpha {
    @return hsl(#{css.get("palette", "#{$name}-hs") $query + " / " + $alpha});
  }

  // If the specified query value exists in the palette map, return its value
  @else if css.has("palette", "#{$name}-#{$query}") {
    @return css.get("palette", "#{$name}-#{$query}");
  }

  // Else return hsl using the provided query value
  @else {
    @return hsl(#{css.get("palette", "#{$name}-hs") $query});
  }
}

/// Set a color to the `$-seeds` map. Can receive single entries of key/value
/// color pairs or a map containing multiple key/value pairs.
///
/// @param {string|map} $name
///   A name to associate with the provided color, or a map containing key/value
///   color pairs.
/// @param {color} $value (null)
///   The color to associate with the provided key.
///
@mixin set($name, $value: null) {
  @if meta.type-of($name) == "map" {
    $-seeds: map.merge($-seeds, $name) !global;
  } @else {
    $-seeds: map.set($-seeds, $name, $value) !global;
  }

  // Run build since `$-seeds` has been modified
  @include -build;
}

/// Removes colors from the `$-seeds` map.
///
/// @param {string} $names...
///   A string or list of strings to remove from `$-seeds` map.
///
@mixin remove($names...) {
  $-seeds: map.remove($-seeds, $names...) !global;

  // Run build since `$-seeds` has been modified
  @include -build;
}

// Run initial build for palette map
@include -build;
