@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../utilities/args-to-map" as *;
@use "../utilities/empty-map" as *;
@use "../utilities/remove-nth" as *;
@use "./config";
@use "./css";
@use "./palette";

// Add to custom properties map for output as a config output
@include css.set(
  "core",
  "theme-prefix",
  (
    "config": "theme-prefix"
  )
);

/// Used to track theme keys that get added to the `css.$-css-vars` map.
/// @type list
/// @access private
$-theme-keys: "light", "dark";

/// Add a theme key to the `$-theme-keys` map if it doesn't already exist.
/// @param {string} $theme
///   The name of the key to add.
/// @access private
@mixin -add-theme-key($theme) {
  @if not list.index($-theme-keys, $theme) {
    $-theme-keys: list.append($-theme-keys, $theme) !global;
  }
}

/// Remove a theme key from the `$-theme-keys` map if it exists.
/// @param {string} $theme
///   The name of the key to remove.
/// @access private
@mixin -remove-theme-key($theme) {
  $index: list.index($-theme-keys, $theme);

  @if $index {
    $-theme-keys: remove-nth($-theme-keys, $index) !global;
  }
}

/// Function for outputting a theme class.
///
/// @param {string} $theme
///   The name of the theme.
///
/// @return {string}
///   The theme class with appropriate prefix.
///
@function class($theme) {
  $prefix: config.get("theme-prefix");

  @if $prefix and $prefix != "" {
    $prefix: "#{$prefix}-";
  }

  @return ".#{$prefix}#{$theme}";
}

/// Set a new or modify existing theme properties. These are stored as custom
/// properties in the `core/css` module.
///
/// @param {string} $component
///   The component to set a property value for.
/// @param {string} $theme
///   The theme to set a property value for.
/// @param {string|map} $prop (null)
///   The property value to set for the theme. Can be a map containing
///   prop/value pairs.
/// @param {any} $value (null)
///   The value to set for the respective property.
///
/// @example scss
///   // Set the foreground custom property for the card dark theme.
///   @include theme.set("card", "dark", "foreground", blue);
///
/// @example scss
///   // Set the background and foreground custom properties for the card light
///   // theme using a map of property/value pairs.
///   @include theme.set("card", "light", (
///     "background": blue,
///     "foreground": white,
///   ));
///
/// @example scss
///   // Create an empty theme by not passing a property or value. This will
///   // take the properties of the default theme once output.
///   @include theme.set("card", "dark");
///
@mixin set($component, $theme, $prop: null, $value: null) {
  // Set theme to default if the value "default" is passed
  @if $theme == "default" {
    $theme: config.get("theme-default");
  }

  // Shift the values of arguments if component was not passed and sets
  // component to "core" as the default.
  @if not($value) and ($prop) and (meta.type-of($prop) != "map") {
    $value: $prop;
    $prop: $theme;
    $theme: $component;
    $component: "core";
  }

  // Initialize the results var with the custom properties map
  $result: css.get("*");

  // If no property or value are provided, create a theme with an empty map
  @if not $prop and not $value {
    $result: map.set($result, $component, $theme, empty-map());
  }

  // Handle this as a normal theme.set
  @else {
    // Build the theme map using the prop and value arguments
    $theme-map: (
      $theme: args-to-map($prop, $value)
    );

    // Assign the theme map to the appropriate component as a map
    $component-theme-map: (
      $component: $theme-map
    );

    $result: map.deep-merge($result, $component-theme-map);
  }

  @include -add-theme-key($theme);
  @include css.set("*", $result);
}

/// Remove a custom property from themes in a variety of ways.
///
/// @param {string} $component
///   The component name to search under. Set to "*" for the following `$theme`
///   and `$prop` arguments to apply to all component themes.
/// @param {string} $theme
///   The component theme to search under or remove. Set to "*" to remove all
///   themes from the specified component or if a `$prop` is provided, all the
///   property from all component themes.
/// @param {string} $prop ("*")
///   The property name to remove. Set to "*" to remove the entire theme from
///   the specified component.
///
/// @example scss
///   // Remove the dark theme from buttons component
///   @include theme.remove("button", "dark");
///
/// @example scss
///   // Remove the border-color property from all button themes
///   @include theme.remove("button", "*", "border-color");
///
/// @example scss
///   // Remove the background property from the button light theme
///   @include theme.remove("button", "light", "border-color");
///
/// @example scss
///   // Remove all themes from all components
///   @include theme.remove("*", "*");
///
@mixin remove($component, $theme, $prop: "*") {
  @if $component == "*" {
    // Call remove() for every component in `css.$-css-vars`
    @each $component in map.keys(css.get("*")) {
      @include remove($component, $theme, $prop);
    }

    // Remove the theme from theme-keys
    @include -remove-theme-key($theme);
  } @else {
    // Initialize the result with the component map
    $result: css.get($component, "*");

    // Remove all themes from component
    // Example: theme.remove("component", "*")
    @if $theme == "*" and $prop == "*" {
      @each $key in $-theme-keys {
        $result: map.remove($result, $key);
      }
    }

    // Remove the theme from component
    // Example: theme.remove("component", "light", "*")
    @else if $theme != "*" and $prop == "*" {
      $result: map.deep-remove($result, $theme);
    }

    // Remove the prop from all themes
    // Example: theme.remove("component", "*", "prop")
    @else if $theme == "*" and $prop != "*" {
      @each $key in $-theme-keys {
        $result: map.deep-remove($result, $key, $prop);
      }
    }

    // Remove the prop from the component theme
    // Example: theme.remove("component", "dark", "prop")
    @else {
      $result: map.deep-remove($result, $theme, $prop);
    }

    // Save the results to `css.$-css-vars`
    @include css.set($component, "*", $result, $deep: false);
  }
}

/// Output all the custom properties and values of a component theme or output a
/// specific theme from all components. The root selector or theme class is not
/// included in the output.
///
/// @param {string} $component ("*")
///   The component to output. Use "*" to output a theme from all
///   components.
/// @param {string} $theme
///   The theme to output.
///
/// @example scss
///   // Output the custom properties for the button light theme
///   .vb-theme-light {
///     @include theme.output-theme("button", "light");
///   }
///
/// @example scss
///   // Output the custom properties for the light theme from all components
///   .vb-theme-light {
///     @include theme.output-theme("*", "light");
///   }
///
@mixin output-theme($component: "*", $theme) {
  @if $component == "*" {
    // Call output-theme() for every component in `css.$-css-vars`
    @each $component in map.keys(css.get("*")) {
      @include output-theme($component, $theme);
    }
  } @else {
    // Initialize the component map
    $component-map: css.get($component, "*");

    // Check if the theme exists for the component map
    @if map.has-key($component-map, $theme) {
      // Save a copy of the component map from variables
      $component-theme-map: map.get($component-map, $theme);

      // Merge the values of the default theme with all other themes
      @if $theme != config.get("theme-default") {
        $component-theme-map: map.merge(map.get($component-map, config.get("theme-default")), $component-theme-map);
      }

      // Output custom properties
      @each $prop, $value in $component-theme-map {
        // Don't output the color-scheme property
        @if $prop != "color-scheme" {
          @include css.define($component, $prop, $value);
        }
      }

      // Get a reference of the color scheme property and remove it from the map
      $color-scheme: map.get($component-theme-map, "color-scheme");

      // If a color scheme was stored, output it below everything else
      @if $color-scheme {
        color-scheme: #{$color-scheme};
      }
    }
  }
}

/// Output all the themes for a specific component. Each theme will be wrapped
/// in their own appropriate root selector and theme class. Themes named "light"
/// or "dark" will have a `prefers-color-scheme` media query applied.
///
/// @param {string} $component ("*")
///   The component to output all applied themes. If no component is passed or
///   set to "*" will output all applied themes for all component.
///
/// @example scss
///   // Output all themes of all components
///   @include theme.output();
///
///   // Output all themes of the notice component
///   @include theme.output("notice");
///
@mixin output($component: "*") {
  // Output the default theme and system preference media query under the using
  // the root selector. This should come before the theme class output.
  :root,
  #{class("root")} {
    // Output the default theme
    @include output-theme($component, config.get("theme-default"));

    // If the default them is not light mode, output the prefers light media query
    @if config.get("theme-default") != "light" {
      @media (prefers-color-scheme: light) {
        @include output-theme($component, "light");
      }
    }

    // If the default them is not dark mode, output the prefers dark media query
    @if config.get("theme-default") != "dark" {
      @media (prefers-color-scheme: dark) {
        @include output-theme($component, "dark");
      }
    }
  }

  // This outputs all custom themes using their theme class
  @each $key in $-theme-keys {
    #{class($key)} {
      @include output-theme($component, $key);
    }
  }
}

/// Initialize the core light theme.
@include set(
  "core",
  "light",
  (
    "background": palette.get("neutral", 100%),
    "background-dark": palette.get("neutral", 98%),
    "background-darker": palette.get("neutral", 95%),
    "background-alt": palette.get("secondary", 60%, 10%),
    "background-hover": rgb(0 0 0 / 5%),
    "background-focus": rgb(0 0 0 / 5%),
    "background-active": rgb(0 0 0 / 10%),
    "foreground": palette.get("neutral", 20%),
    "foreground-light": palette.get("neutral", 40%),
    "foreground-lighter": palette.get("neutral", 60%),
    "foreground-alt": palette.get("secondary", 50%),
    "border-color": rgb(0 0 0 / 10%),
    "border-color-dark": rgb(0 0 0 / 20%),
    "border-color-darker": rgb(0 0 0 / 30%),
    "shadow-color": palette.get("neutral", 20%, 20%),
    "color-scheme": light
  )
);

/// Initialize the core dark theme.
@include set(
  "core",
  "dark",
  (
    "background": palette.get("neutral", 10%),
    "background-dark": palette.get("neutral", 12%),
    "background-darker": palette.get("neutral", 15%),
    "background-alt": palette.get("secondary", 70%, 10%),
    "background-hover": rgb(255 255 255 / 5%),
    "background-focus": rgb(255 255 255 / 5%),
    "background-active": rgb(255 255 255 / 1%),
    "foreground": palette.get("neutral", 90%),
    "foreground-light": palette.get("neutral", 70%),
    "foreground-lighter": palette.get("neutral", 50%),
    "foreground-alt": palette.get("secondary", 60%),
    "border-color": rgb(255 255 255 / 10%),
    "border-color-dark": rgb(255 255 255 / 20%),
    "border-color-darker": rgb(255 255 255 / 30%),
    "shadow-color": palette.get("neutral", 0%, 20%),
    "color-scheme": dark
  )
);
