@use "sass:map";
@use "sass:meta";
@use "../library/media-min" as *;
@use "../utilities/empty-map" as *;
@use "../utilities/li" as *;
@use "./config";
@use "./tokens";

// TODO: Add documentation
// TODO: Add a set mixin

// prettier-ignore
@function type-transform-breakpoints($prop, $value) {
  $result: ();
  $default: map.get($value, "default");

  // Build the breakpoints map (excluding "type" and "default")
  @each $bp, $bp-value in map.remove($value, "type", "default") {
    $result: map.deep-merge($result, ($bp: ($prop: $bp-value)));
  }

  // Return the default as a flat prop + breakpoints nested
  $output: ("breakpoints": $result);
  @if $default {
    $output: map.merge($output, ($prop: $default));
  }

  @return $output;
}

// Add the breakpoints type transformer
@include tokens.add-transformer("breakpoints", meta.get-function("type-transform-breakpoints"));

@mixin output-breakpoint-tokens($args...) {
  $breakpoints: config.get(li("breakpoints"), empty-map());
  $tokens: tokens.get("*");

  @each $bp-key, $bp-value in $breakpoints {
    @include media-min($bp-value) {
      :root {
        @each $component in map.keys($tokens) {
          @if map.has-key($tokens, $component, "breakpoints", $bp-key) {
            $props: map.get($tokens, $component, "breakpoints", $bp-key);
            @each $prop, $value in $props {
              @include tokens.define($component, $prop, $value);
            }
          }
        }
      }
    }
  }
}

// Add tokens event listener that runs whenever a breakpoint token is defined
@include tokens.on("output", "output-breakpoint-tokens", meta.get-mixin("output-breakpoint-tokens"));
