$tooltip-max-width: 30em !default;
$tooltip-padding: $padding !default;
$tooltip-font-size: 0.85rem !default;
$tooltip-background: rgba($color, 0.95) !default;
$tooltip-border-radius: $border-radius !default;
