@import 'variables';

/**
 * Level wrap modifier
 * ---
 * Allows level items to wrap when they can no longer fill their container.
 */

.level_wrap {
  flex-wrap: wrap;
  margin: (-$level-spacing * 0.5);

  > * {
    margin: ($level-spacing * 0.5);
  }
}
