@import 'variables';

/**
 * Level
 * ---
 * A component that enables flexbox to center it's children horizontally.
 */

.level {
  display: flex;
  align-items: center;
  vertical-align: middle;

  > * + * {
    margin-left: $level-spacing;
  }
}
