@import 'variables';

/**
 * Level spacing modifiers
 */

@each $key, $value in $level-spacing-scale {
  .level_spacing_#{$key} {
    > * + * {
      margin-left: $value;
    }

    &.level_wrap {
      margin-top: ($value * 0.5);

      > * {
        margin: ($value * 0.5);
      }
    }
  }
}