@use "../functions" as fun;

@if fun.maybe-output("align") {
  #{fun.selector("align", "content", "start")} {
    align-content: start !important;
  }

  #{fun.selector("align", "content", "center")} {
    align-content: center !important;
  }

  #{fun.selector("align", "content", "end")} {
    align-content: end !important;
  }

  #{fun.selector("align", "content", "between")} {
    align-content: space-between !important;
  }

  #{fun.selector("align", "content", "around")} {
    align-content: space-around !important;
  }

  #{fun.selector("align", "content", "evenly")} {
    align-content: space-evenly !important;
  }

  #{fun.selector("align", "content", "stretch")} {
    align-content: stretch !important;
  }

  #{fun.selector("align", "items", "start")} {
    align-items: start !important;
  }

  #{fun.selector("align", "items", "center")} {
    align-items: center !important;
  }

  #{fun.selector("align", "items", "end")} {
    align-items: end !important;
  }

  #{fun.selector("align", "items", "stretch")} {
    align-items: stretch !important;
  }

  #{fun.selector("align", "self", "start")} {
    align-self: start !important;
  }

  #{fun.selector("align", "self", "center")} {
    align-self: center !important;
  }

  #{fun.selector("align", "self", "end")} {
    align-self: end !important;
  }

  #{fun.selector("align", "self", "stretch")} {
    align-self: stretch !important;
  }
}
