@use "../functions" as fun;

@if fun.maybe-output("align") {
  #{fun.selector("align", "content", "start")} {
    align-content: fun.maybe-important(start);
  }

  #{fun.selector("align", "content", "center")} {
    align-content: fun.maybe-important(center);
  }

  #{fun.selector("align", "content", "end")} {
    align-content: fun.maybe-important(end);
  }

  #{fun.selector("align", "content", "between")} {
    align-content: fun.maybe-important(space-between);
  }

  #{fun.selector("align", "content", "around")} {
    align-content: fun.maybe-important(space-around);
  }

  #{fun.selector("align", "content", "evenly")} {
    align-content: fun.maybe-important(space-evenly);
  }

  #{fun.selector("align", "content", "stretch")} {
    align-content: fun.maybe-important(stretch);
  }

  #{fun.selector("align", "items", "start")} {
    align-items: fun.maybe-important(start);
  }

  #{fun.selector("align", "items", "center")} {
    align-items: fun.maybe-important(center);
  }

  #{fun.selector("align", "items", "end")} {
    align-items: fun.maybe-important(end);
  }

  #{fun.selector("align", "items", "stretch")} {
    align-items: fun.maybe-important(stretch);
  }

  #{fun.selector("align", "self", "start")} {
    align-self: fun.maybe-important(start);
  }

  #{fun.selector("align", "self", "center")} {
    align-self: fun.maybe-important(center);
  }

  #{fun.selector("align", "self", "end")} {
    align-self: fun.maybe-important(end);
  }

  #{fun.selector("align", "self", "stretch")} {
    align-self: fun.maybe-important(stretch);
  }
}
