@use "sass:map";
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "../functions" as fun;

@if fun.maybe-output("background") {
  #{fun.selector("background", "clip-border")} {
    background-clip: fun.maybe-important(border-box);
  }

  #{fun.selector("background", "clip-content")} {
    background-clip: fun.maybe-important(content-box);
  }

  #{fun.selector("background", "clip-padding")} {
    background-clip: fun.maybe-important(padding-box);
  }

  #{fun.selector("background", "black")} {
    background-color: fun.maybe-important(black);
  }

  #{fun.selector("background", "white")} {
    background-color: fun.maybe-important(white);
  }

  #{fun.selector("background", "transparent")} {
    background-color: fun.maybe-important(transparent);
  }

  // Theme CSS Variable output

  #{fun.selector("background")} {
    background-color: fun.maybe-important(css.get("background"));
  }

  #{fun.selector("background", "dark")} {
    background-color: fun.maybe-important(css.get("background-dark"));
  }

  #{fun.selector("background", "darker")} {
    background-color: fun.maybe-important(css.get("background-darker"));
  }

  // Palette CSS Variable output

  @each $name in map.keys(config.get("palette")) {
    #{fun.selector("background", $name)} {
      background-color: fun.maybe-important(palette.get($name));
    }

    @each $value in config.get("utility-palette-range") {
      #{fun.selector("background", $name, $value)} {
        background-color: fun.maybe-important(palette.get($name, $value));
      }
    }
  }
}
