@use "sass:map";
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("background") {
  #{fun.selector("background", "clip-border")} {
    background-clip: border-box !important;
  }

  #{fun.selector("background", "clip-content")} {
    background-clip: content-box !important;
  }

  #{fun.selector("background", "clip-padding")} {
    background-clip: padding-box !important;
  }

  #{fun.selector("background", "clip-text")} {
    background-clip: text !important;
  }

  #{fun.selector("background", "black")} {
    background-color: black !important;
  }

  #{fun.selector("background", "white")} {
    background-color: white !important;
  }

  #{fun.selector("background", "transparent")} {
    background-color: transparent !important;
  }

  // Theme CSS Variable output

  #{fun.selector("background")} {
    background-color: css.get("background") !important;
  }

  #{fun.selector("background", "dark")} {
    background-color: css.get("background-dark") !important;
  }

  #{fun.selector("background", "darker")} {
    background-color: css.get("background-darker") !important;
  }

  // Palette CSS Variable output

  @each $name in map.keys(config.get("palette")) {
    #{fun.selector("background", $name)} {
      background-color: palette.get($name) !important;
    }

    // TODO: Either add a range config in utilities, or remove this
    // @each $value in config.get("palette-range") {
    //   #{fun.selector("background", $name, $value)} {
    //     background-color: palette.get($name, $value) !important;
    //   }
    // }
  }
}
