@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("border") {
  #{fun.selector("border")} {
    border: #{css.get("border")}#{fun.maybe-important()};
  }

  #{fun.selector("border", "top")} {
    border-top: #{css.get("border")}#{fun.maybe-important()};
  }

  #{fun.selector("border", "bottom")} {
    border-bottom: #{css.get("border")}#{fun.maybe-important()};
  }

  #{fun.selector("border", "left")} {
    border-left: #{css.get("border")}#{fun.maybe-important()};
  }

  #{fun.selector("border", "right")} {
    border-right: #{css.get("border")}#{fun.maybe-important()};
  }

  #{fun.selector("border", "none")} {
    border: #{0}#{fun.maybe-important()};
  }

  #{fun.selector("border", "top-none")} {
    border-top: #{0}#{fun.maybe-important()};
  }

  #{fun.selector("border", "bottom-none")} {
    border-bottom: #{0}#{fun.maybe-important()};
  }

  #{fun.selector("border", "left-none")} {
    border-left: #{0}#{fun.maybe-important()};
  }

  #{fun.selector("border", "right-none")} {
    border-right: #{0}#{fun.maybe-important()};
  }

  #{fun.selector("border", "color-dark")} {
    border-color: #{css.get("border-color-dark")}#{fun.maybe-important()};
  }

  #{fun.selector("border", "color-darker")} {
    border-color: #{css.get("border-color-darker")}#{fun.maybe-important()};
  }

  #{fun.selector("border", "color-transparent")} {
    border-color: transparent#{fun.maybe-important()};
  }

  #{fun.selector("border", "color-current")} {
    border-color: currentcolor#{fun.maybe-important()};
  }
}
