@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("border") {
  #{fun.selector("border")} {
    border: fun.maybe-important(css.get("border"));
  }

  #{fun.selector("border", "top")} {
    border-top: fun.maybe-important(css.get("border"));
  }

  #{fun.selector("border", "bottom")} {
    border-bottom: fun.maybe-important(css.get("border"));
  }

  #{fun.selector("border", "left")} {
    border-left: fun.maybe-important(css.get("border"));
  }

  #{fun.selector("border", "right")} {
    border-right: fun.maybe-important(css.get("border"));
  }

  #{fun.selector("border", "none")} {
    border: fun.maybe-important(0);
  }

  #{fun.selector("border", "top-none")} {
    border-top: fun.maybe-important(0);
  }

  #{fun.selector("border", "bottom-none")} {
    border-bottom: fun.maybe-important(0);
  }

  #{fun.selector("border", "left-none")} {
    border-left: fun.maybe-important(0);
  }

  #{fun.selector("border", "right-none")} {
    border-right: fun.maybe-important(0);
  }

  #{fun.selector("border", "color-dark")} {
    border-color: fun.maybe-important(css.get("border-color-dark"));
  }

  #{fun.selector("border", "color-darker")} {
    border-color: fun.maybe-important(css.get("border-color-darker"));
  }

  #{fun.selector("border", "color-transparent")} {
    border-color: fun.maybe-important(transparent);
  }

  #{fun.selector("border", "color-current")} {
    border-color: fun.maybe-important(currentcolor);
  }
}
