@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("border-radius") {
  @each $key, $value in var.$border-radius-map {
    #{fun.selector("border-radius", $key)} {
      border-radius: $value !important;
    }

    #{fun.selector("border-radius", $key, "top")},
    #{fun.selector("border-radius", $key, "left")},
    #{fun.selector("border-radius", $key, "top-left")} {
      border-top-left-radius: $value !important;
    }

    #{fun.selector("border-radius", $key, "top")},
    #{fun.selector("border-radius", $key, "right")},
    #{fun.selector("border-radius", $key, "top-right")} {
      border-top-right-radius: $value !important;
    }

    #{fun.selector("border-radius", $key, "bottom")},
    #{fun.selector("border-radius", $key, "right")},
    #{fun.selector("border-radius", $key, "bottom-right")} {
      border-bottom-right-radius: $value !important;
    }

    #{fun.selector("border-radius", $key, "bottom")},
    #{fun.selector("border-radius", $key, "left")},
    #{fun.selector("border-radius", $key, "bottom-left")} {
      border-bottom-left-radius: $value !important;
    }
  }
}
