@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("box-shadow") {
  #{fun.selector("box-shadow")} {
    box-shadow: fun.maybe-important(css.get("box-shadow"));
  }

  #{fun.selector("box-shadow", "flat")} {
    box-shadow: fun.maybe-important(0 0 0 0 transparent);
  }

  #{fun.selector("box-shadow", "1")} {
    box-shadow: fun.maybe-important(css.get("box-shadow-1"));
  }

  #{fun.selector("box-shadow", "2")} {
    box-shadow: fun.maybe-important(css.get("box-shadow-2"));
  }

  #{fun.selector("box-shadow", "3")} {
    box-shadow: fun.maybe-important(css.get("box-shadow-3"));
  }

  #{fun.selector("box-shadow", "4")} {
    box-shadow: fun.maybe-important(css.get("box-shadow-4"));
  }

  #{fun.selector("box-shadow", "5")} {
    box-shadow: fun.maybe-important(css.get("box-shadow-5"));
  }
}
