@use "@vrembem/core/tokens";
@use "../functions" as fun;

@if fun.maybe-output("box-shadow") {
  #{fun.selector("box-shadow", "none")} {
    box-shadow: fun.maybe-important(0 0 0 0 transparent);
  }

  #{fun.selector("box-shadow", "outline")} {
    box-shadow: fun.maybe-important(tokens.get("box-shadow-0"));
  }

  #{fun.selector("box-shadow", "xs")} {
    box-shadow: fun.maybe-important(tokens.get("box-shadow-xs"));
  }

  #{fun.selector("box-shadow", "sm")} {
    box-shadow: fun.maybe-important(tokens.get("box-shadow-sm"));
  }

  #{fun.selector("box-shadow", "md")} {
    box-shadow: fun.maybe-important(tokens.get("box-shadow-md"));
  }

  #{fun.selector("box-shadow", "lg")} {
    box-shadow: fun.maybe-important(tokens.get("box-shadow-lg"));
  }

  #{fun.selector("box-shadow", "xl")} {
    box-shadow: fun.maybe-important(tokens.get("box-shadow-xl"));
  }
}
