@use "@vrembem/core";
@use "@vrembem/core/config";
@use "../functions" as fun;

$-utility-display: config.get("utility-display", "variants");

@if fun.maybe-output("display") {
  @each $key, $value in $-utility-display {
    #{fun.selector("display", $key)} {
      display: fun.maybe-important($value);
    }
  }

  @each $bp, $value in config.get("utility-display", "breakpoints") {
    @include core.media-min($value) {
      @each $key, $value in $-utility-display {
        #{fun.selector("display", $key, "#{$bp}:")} {
          display: fun.maybe-important($value);
        }
      }
    }
  }
}
