@use "@vrembem/core";
@use "../variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-display;

@if (var.$output-display) {
  @each $property in var.$display-properties {
    .#{$_u}#{$_c}-#{$property} {
      display: $property !important;
    }
  }

  @each $key, $value in var.$breakpoints {
    @include core.media-min($value) {
      @each $property in var.$display-properties {
        .#{$_u}#{$_c}-#{$property}-#{$key} {
          display: $property !important;
        }
      }
    }
  }
}
