@use "@vrembem/core";
@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("display") {
  @each $property in config.get("utility-display") {
    #{fun.selector("display", $property)} {
      display: #{$property}#{fun.maybe-important()};
    }
  }

  @each $bp, $value in config.get("breakpoints") {
    @include core.media-min($value) {
      @each $property in config.get("utility-display") {
        #{fun.selector("display", $property, "#{$bp}:")} {
          display: #{$property}#{fun.maybe-important()};
        }
      }
    }
  }
}
