@use "@vrembem/core";
@use "../config" as var;
@use "../functions" as fun;

@if fun.maybe-output("display") {
  @each $property in var.$display-properties {
    #{fun.selector("display", $property)} {
      display: $property !important;
    }
  }

  @each $bp, $value in core.$breakpoints {
    @include core.media-min($value) {
      @each $property in var.$display-properties {
        #{fun.selector("display", $property, "#{$bp}:")} {
          display: $property !important;
        }
      }
    }
  }
}
