@use "@vrembem/core";
@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("font") {
  #{fun.selector("font", "family", "sans")} {
    font-family: css.get("font-family-sans") !important;
  }

  #{fun.selector("font", "family", "serif")} {
    font-family: css.get("font-family-serif") !important;
  }

  #{fun.selector("font", "family", "mono")} {
    font-family: css.get("font-family-mono") !important;
  }

  #{fun.selector("font", "size", "base")} {
    font-size: 1rem !important;
  }

  #{fun.selector("font", "size", "sm")} {
    font-size: css.get("font-size-sm") !important;
  }

  #{fun.selector("font", "size", "lg")} {
    font-size: css.get("font-size-lg") !important;
  }

  #{fun.selector("font", "line-height")} {
    line-height: css.get("line-height") !important;
  }

  @each $key, $value in core.$font-weight-map {
    #{fun.selector("font", "weight", $key)} {
      font-weight: $value !important;
    }
  }

  #{fun.selector("font", "weight", "lighter")} {
    font-weight: lighter !important;
  }

  #{fun.selector("font", "weight", "bolder")} {
    font-weight: bolder !important;
  }

  #{fun.selector("font", "style", "normal")} {
    font-style: normal !important;
  }

  #{fun.selector("font", "style", "italic")} {
    font-style: italic !important;
  }
}
