@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("font") {
  #{fun.selector("font", "family", "sans")} {
    font-family: fun.maybe-important(css.get("font-family-sans"));
  }

  #{fun.selector("font", "family", "serif")} {
    font-family: fun.maybe-important(css.get("font-family-serif"));
  }

  #{fun.selector("font", "family", "mono")} {
    font-family: fun.maybe-important(css.get("font-family-mono"));
  }

  #{fun.selector("font", "size", "base")} {
    font-size: fun.maybe-important(1rem);
  }

  #{fun.selector("font", "size", "sm")} {
    font-size: fun.maybe-important(css.get("font-size-sm"));
  }

  #{fun.selector("font", "size", "lg")} {
    font-size: fun.maybe-important(css.get("font-size-lg"));
  }

  #{fun.selector("font", "line-height")} {
    line-height: fun.maybe-important(css.get("line-height"));
  }

  @each $key, $value in config.get("utility-font-weight") {
    #{fun.selector("font", "weight", $key)} {
      font-weight: fun.maybe-important($value);
    }
  }

  #{fun.selector("font", "style", "normal")} {
    font-style: fun.maybe-important(normal);
  }

  #{fun.selector("font", "style", "italic")} {
    font-style: fun.maybe-important(italic);
  }
}
