@use "@vrembem/core";
@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("font") {
  #{fun.selector("font", "family", "sans")} {
    font-family: #{css.get("font-family-sans")}#{fun.maybe-important()};
  }

  #{fun.selector("font", "family", "serif")} {
    font-family: #{css.get("font-family-serif")}#{fun.maybe-important()};
  }

  #{fun.selector("font", "family", "mono")} {
    font-family: #{css.get("font-family-mono")}#{fun.maybe-important()};
  }

  #{fun.selector("font", "size", "base")} {
    font-size: #{1rem}#{fun.maybe-important()};
  }

  #{fun.selector("font", "size", "sm")} {
    font-size: #{css.get("font-size-sm")}#{fun.maybe-important()};
  }

  #{fun.selector("font", "size", "lg")} {
    font-size: #{css.get("font-size-lg")}#{fun.maybe-important()};
  }

  #{fun.selector("font", "line-height")} {
    line-height: #{css.get("line-height")}#{fun.maybe-important()};
  }

  @each $key, $value in core.$font-weight-map {
    #{fun.selector("font", "weight", $key)} {
      font-weight: #{$value}#{fun.maybe-important()};
    }
  }

  #{fun.selector("font", "weight", "lighter")} {
    font-weight: lighter#{fun.maybe-important()};
  }

  #{fun.selector("font", "weight", "bolder")} {
    font-weight: bolder#{fun.maybe-important()};
  }

  #{fun.selector("font", "style", "normal")} {
    font-style: normal#{fun.maybe-important()};
  }

  #{fun.selector("font", "style", "italic")} {
    font-style: italic#{fun.maybe-important()};
  }
}
