@use "sass:map";
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "../functions" as fun;

@if fun.maybe-output("foreground") {
  #{fun.selector("foreground", "black")} {
    color: fun.maybe-important(black);
  }

  #{fun.selector("foreground", "white")} {
    color: fun.maybe-important(white);
  }

  #{fun.selector("foreground", "transparent")} {
    color: fun.maybe-important(transparent);
  }

  // Theme CSS Variable output

  #{fun.selector("foreground")} {
    color: fun.maybe-important(css.get("foreground"));
  }

  #{fun.selector("foreground", "light")} {
    color: fun.maybe-important(css.get("foreground-light"));
  }

  #{fun.selector("foreground", "lighter")} {
    color: fun.maybe-important(css.get("foreground-lighter"));
  }

  // Palette CSS Variable output

  @each $name in map.keys(config.get("palette")) {
    #{fun.selector("foreground", $name)} {
      color: fun.maybe-important(palette.get($name));
    }

    @each $value in config.get("utility-palette-range") {
      #{fun.selector("foreground", $name, $value)} {
        color: fun.maybe-important(palette.get($name, $value));
      }
    }
  }
}
