@use "sass:map";
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("foreground") {
  #{fun.selector("foreground", "black")} {
    color: black !important;
  }

  #{fun.selector("foreground", "white")} {
    color: white !important;
  }

  #{fun.selector("foreground", "transparent")} {
    color: transparent !important;
  }

  // Theme CSS Variable output

  #{fun.selector("foreground")} {
    color: css.get("foreground") !important;
  }

  #{fun.selector("foreground", "light")} {
    color: css.get("foreground-light") !important;
  }

  #{fun.selector("foreground", "lighter")} {
    color: css.get("foreground-lighter") !important;
  }

  // Palette CSS Variable output

  @each $name in map.keys(config.get("palette")) {
    #{fun.selector("foreground", $name)} {
      color: palette.get($name) !important;
    }

    // TODO: Either add a range config in utilities, or remove this
    // @each $value in config.get("palette-range") {
    //   #{fun.selector("foreground", $name, $value)} {
    //     color: palette.get($name, $value) !important;
    //   }
    // }
  }
}
