@use "sass:map";
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";
@use "../functions" as fun;

@if fun.maybe-output("foreground") {
  #{fun.selector("foreground", "black")} {
    color: black#{fun.maybe-important()};
  }

  #{fun.selector("foreground", "white")} {
    color: white#{fun.maybe-important()};
  }

  #{fun.selector("foreground", "transparent")} {
    color: transparent#{fun.maybe-important()};
  }

  // Theme CSS Variable output

  #{fun.selector("foreground")} {
    color: #{css.get("foreground")}#{fun.maybe-important()};
  }

  #{fun.selector("foreground", "light")} {
    color: #{css.get("foreground-light")}#{fun.maybe-important()};
  }

  #{fun.selector("foreground", "lighter")} {
    color: #{css.get("foreground-lighter")}#{fun.maybe-important()};
  }

  // Palette CSS Variable output

  @each $name in map.keys(config.get("palette")) {
    #{fun.selector("foreground", $name)} {
      color: #{palette.get($name)}#{fun.maybe-important()};
    }

    @each $value in config.get("utility-palette-range") {
      #{fun.selector("foreground", $name, $value)} {
        color: #{palette.get($name, $value)}#{fun.maybe-important()};
      }
    }
  }
}
