@use "@vrembem/core";
@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("gap") {
  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("gap", $key)} {
      gap: fun.maybe-important($value);
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("gap", "x", $key)} {
      column-gap: fun.maybe-important($value);
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("gap", "y", $key)} {
      row-gap: fun.maybe-important($value);
    }
  }
}
