@use "@vrembem/core";
@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("gap") {
  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("gap", $key)} {
      gap: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("gap", "x", $key)} {
      column-gap: $value !important;
    }

    #{fun.selector("gap", "y", $key)} {
      row-gap: $value !important;
    }
  }

  @each $bp, $value in config.get("breakpoints") {
    @include core.media-min($value) {
      @each $key, $value in config.get("utility-gap") {
        #{fun.selector("gap", $key, "#{$bp}:")} {
          gap: $value !important;
        }
      }

      @each $key, $value in config.get("utility-gap") {
        #{fun.selector("gap", "x", $key, "#{$bp}:")} {
          column-gap: $value !important;
        }

        #{fun.selector("gap", "y", $key, "#{$bp}:")} {
          row-gap: $value !important;
        }
      }
    }
  }
}
