@use "@vrembem/core";
@use "../variables" as var;

.gap {
  gap: var.$gap !important;
}

.gap-x {
  column-gap: var.$gap !important;
}

.gap-y {
  row-gap: var.$gap !important;
}

@each $key, $value in var.$gap-map {
  .gap-#{$key} {
    gap: $value !important;
  }
}

@each $key, $value in var.$gap-map {
  .gap-x-#{$key} {
    column-gap: $value !important;
  }

  .gap-y-#{$key} {
    row-gap: $value !important;
  }
}

@each $bp, $value in var.$breakpoints {
  @include core.media-min($value) {
    .#{$bp}\:gap {
      gap: var.$gap !important;
    }
    
    .#{$bp}\:gap-x {
      column-gap: var.$gap !important;
    }
    
    .#{$bp}\:gap-y {
      row-gap: var.$gap !important;
    }
    
    @each $key, $value in var.$gap-map {
      .#{$bp}\:gap-#{$key} {
        gap: $value !important;
      }
    }
    
    @each $key, $value in var.$gap-map {
      .#{$bp}\:gap-x-#{$key} {
        column-gap: $value !important;
      }
    
      .#{$bp}\:gap-y-#{$key} {
        row-gap: $value !important;
      }
    }
  }
}
