@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("justify") {
  #{fun.selector("justify", "content", "start")} {
    justify-content: start !important;
  }

  #{fun.selector("justify", "content", "center")} {
    justify-content: center !important;
  }

  #{fun.selector("justify", "content", "end")} {
    justify-content: end !important;
  }

  #{fun.selector("justify", "content", "between")} {
    justify-content: space-between !important;
  }

  #{fun.selector("justify", "content", "around")} {
    justify-content: space-around !important;
  }

  #{fun.selector("justify", "content", "evenly")} {
    justify-content: space-evenly !important;
  }

  #{fun.selector("justify", "content", "stretch")} {
    justify-content: stretch !important;
  }

  #{fun.selector("justify", "items", "start")} {
    justify-items: start !important;
  }

  #{fun.selector("justify", "items", "center")} {
    justify-items: center !important;
  }

  #{fun.selector("justify", "items", "end")} {
    justify-items: end !important;
  }

  #{fun.selector("justify", "items", "stretch")} {
    justify-items: stretch !important;
  }

  #{fun.selector("justify", "self", "start")} {
    justify-self: start !important;
  }

  #{fun.selector("justify", "self", "center")} {
    justify-self: center !important;
  }

  #{fun.selector("justify", "self", "end")} {
    justify-self: end !important;
  }

  #{fun.selector("justify", "self", "stretch")} {
    justify-self: stretch !important;
  }
}
