@use "../functions" as fun;

@if fun.maybe-output("justify") {
  #{fun.selector("justify", "content", "start")} {
    justify-content: fun.maybe-important(start);
  }

  #{fun.selector("justify", "content", "center")} {
    justify-content: fun.maybe-important(center);
  }

  #{fun.selector("justify", "content", "end")} {
    justify-content: fun.maybe-important(end);
  }

  #{fun.selector("justify", "content", "between")} {
    justify-content: fun.maybe-important(space-between);
  }

  #{fun.selector("justify", "content", "around")} {
    justify-content: fun.maybe-important(space-around);
  }

  #{fun.selector("justify", "content", "evenly")} {
    justify-content: fun.maybe-important(space-evenly);
  }

  #{fun.selector("justify", "content", "stretch")} {
    justify-content: fun.maybe-important(stretch);
  }

  #{fun.selector("justify", "items", "start")} {
    justify-items: fun.maybe-important(start);
  }

  #{fun.selector("justify", "items", "center")} {
    justify-items: fun.maybe-important(center);
  }

  #{fun.selector("justify", "items", "end")} {
    justify-items: fun.maybe-important(end);
  }

  #{fun.selector("justify", "items", "stretch")} {
    justify-items: fun.maybe-important(stretch);
  }

  #{fun.selector("justify", "self", "start")} {
    justify-self: fun.maybe-important(start);
  }

  #{fun.selector("justify", "self", "center")} {
    justify-self: fun.maybe-important(center);
  }

  #{fun.selector("justify", "self", "end")} {
    justify-self: fun.maybe-important(end);
  }

  #{fun.selector("justify", "self", "stretch")} {
    justify-self: fun.maybe-important(stretch);
  }
}
