@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("margin") {
  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", $key)} {
      margin: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "top", $key)} {
      margin-top: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "bottom", $key)} {
      margin-bottom: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "left", $key)} {
      margin-left: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "right", $key)} {
      margin-right: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "x", $key)} {
      margin-left: $value !important;
      margin-right: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "y", $key)} {
      margin-bottom: $value !important;
      margin-top: $value !important;
    }
  }

  #{fun.selector("margin", "auto")} {
    margin: auto !important;
  }

  #{fun.selector("margin", "top", "auto")} {
    margin-top: auto !important;
  }

  #{fun.selector("margin", "bottom", "auto")} {
    margin-bottom: auto !important;
  }

  #{fun.selector("margin", "left", "auto")} {
    margin-left: auto !important;
  }

  #{fun.selector("margin", "right", "auto")} {
    margin-right: auto !important;
  }

  #{fun.selector("margin", "x", "auto")} {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #{fun.selector("margin", "y", "auto")} {
    margin-bottom: auto !important;
    margin-top: auto !important;
  }
}
