@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("margin") {
  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", $key)} {
      margin: fun.maybe-important($value);
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "top", $key)} {
      margin-top: fun.maybe-important($value);
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "bottom", $key)} {
      margin-bottom: fun.maybe-important($value);
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "left", $key)} {
      margin-left: fun.maybe-important($value);
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "right", $key)} {
      margin-right: fun.maybe-important($value);
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "x", $key)} {
      margin-left: fun.maybe-important($value);
      margin-right: fun.maybe-important($value);
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("margin", "y", $key)} {
      margin-bottom: fun.maybe-important($value);
      margin-top: fun.maybe-important($value);
    }
  }

  #{fun.selector("margin", "auto")} {
    margin: fun.maybe-important(auto);
  }

  #{fun.selector("margin", "top", "auto")} {
    margin-top: fun.maybe-important(auto);
  }

  #{fun.selector("margin", "bottom", "auto")} {
    margin-bottom: fun.maybe-important(auto);
  }

  #{fun.selector("margin", "left", "auto")} {
    margin-left: fun.maybe-important(auto);
  }

  #{fun.selector("margin", "right", "auto")} {
    margin-right: fun.maybe-important(auto);
  }

  #{fun.selector("margin", "x", "auto")} {
    margin-left: fun.maybe-important(auto);
    margin-right: fun.maybe-important(auto);
  }

  #{fun.selector("margin", "y", "auto")} {
    margin-bottom: fun.maybe-important(auto);
    margin-top: fun.maybe-important(auto);
  }
}
