@use "../variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-margin;

@if (var.$output-margin) {
  .#{$_u}#{$_c} {
    margin: var.$gap !important;
  }

  .#{$_u}#{$_c}-top {
    margin-top: var.$gap !important;
  }

  .#{$_u}#{$_c}-bottom {
    margin-bottom: var.$gap !important;
  }

  .#{$_u}#{$_c}-left {
    margin-left: var.$gap !important;
  }

  .#{$_u}#{$_c}-right {
    margin-right: var.$gap !important;
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_c}-#{$key} {
      margin: $value !important;
    }
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_c}-top-#{$key} {
      margin-top: $value !important;
    }
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_c}-bottom-#{$key} {
      margin-bottom: $value !important;
    }
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_c}-left-#{$key} {
      margin-left: $value !important;
    }
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_c}-right-#{$key} {
      margin-right: $value !important;
    }
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_c}-x-#{$key} {
      margin-right: $value !important;
      margin-left: $value !important;
    }
  }

  @each $key, $value in var.$gap-map {
    .#{$_u}#{$_c}-y-#{$key} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }
  }

  .#{$_u}#{$_c}-auto {
    margin: auto !important;
  }

  .#{$_u}#{$_c}-top-auto {
    margin-top: auto !important;
  }

  .#{$_u}#{$_c}-bottom-auto {
    margin-bottom: auto !important;
  }

  .#{$_u}#{$_c}-left-auto {
    margin-left: auto !important;
  }

  .#{$_u}#{$_c}-right-auto {
    margin-right: auto !important;
  }

  .#{$_u}#{$_c}-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .#{$_u}#{$_c}-y-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}
