@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("max-width") {
  @each $key, $value in config.get("utility-max-width") {
    #{fun.selector("max-width", $key)} {
      max-width: #{$value}#{fun.maybe-important()};
    }
  }
}
