@use "../config" as var;
@use "../functions" as fun;

@if fun.maybe-output("max-width") {
  #{fun.selector("max-width")} {
    max-width: var.$max-width !important;
  }

  @each $key, $value in var.$max-width-scale {
    #{fun.selector("max-width", $key)} {
      max-width: $value !important;
    }
  }
}
