@use "../variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-max-width;

@if (var.$output-max-width) {
  .#{$_u}#{$_c} {
    max-width: var.$max-width !important;
  }

  @each $key, $value in var.$max-width-scale {
    .#{$_u}#{$_c}-#{$key} {
      max-width: $value !important;
    }
  }
}
