@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("order") {
  #{fun.selector("order", "first")} {
    order: fun.maybe-important(-99);
  }

  #{fun.selector("order", "last")} {
    order: fun.maybe-important(99);
  }

  @for $i from 0 through 6 {
    #{fun.selector("order", $i)} {
      order: fun.maybe-important($i);
    }
  }
}
