@use "../config" as var;
@use "../functions" as fun;

@if fun.maybe-output("order") {
  #{fun.selector("order", "first")} {
    order: -99 !important;
  }

  #{fun.selector("order", "last")} {
    order: 99 !important;
  }

  @for $i from 0 through var.$order-count {
    #{fun.selector("order", $i)} {
      order: $i !important;
    }
  }
}
