@use "../variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-overflow;

@if (var.$output-overflow) {
  @each $property in var.$overflow-properties {
    .#{$_u}#{$_c}-#{$property} {
      overflow: $property !important;
    }

    .#{$_u}#{$_c}-x-#{$property} {
      overflow-x: $property !important;
    }

    .#{$_u}#{$_c}-y-#{$property} {
      overflow-y: $property !important;
    }
  }
}
