@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("overflow") {
  @each $property in (visible, hidden, clip, scroll, auto) {
    #{fun.selector("overflow", $property)} {
      overflow: #{$property}#{fun.maybe-important()};
    }

    #{fun.selector("overflow", "x", $property)} {
      overflow-x: #{$property}#{fun.maybe-important()};
    }

    #{fun.selector("overflow", "y", $property)} {
      overflow-y: #{$property}#{fun.maybe-important()};
    }
  }
}
