@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("overflow") {
  @each $property in config.get("utility-overflow") {
    #{fun.selector("overflow", $property)} {
      overflow: $property !important;
    }

    #{fun.selector("overflow", "x", $property)} {
      overflow-x: $property !important;
    }

    #{fun.selector("overflow", "y", $property)} {
      overflow-y: $property !important;
    }
  }
}
