@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("overflow") {
  @each $property in (visible, hidden, clip, scroll, auto) {
    #{fun.selector("overflow", $property)} {
      overflow: fun.maybe-important($property);
    }

    #{fun.selector("overflow", "x", $property)} {
      overflow-x: fun.maybe-important($property);
    }

    #{fun.selector("overflow", "y", $property)} {
      overflow-y: fun.maybe-important($property);
    }
  }
}
