@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("overflow") {
  @each $property in var.$overflow-properties {
    #{fun.utility("overflow", $property)} {
      overflow: $property !important;
    }

    #{fun.utility("overflow", "x", $property)} {
      overflow-x: $property !important;
    }

    #{fun.utility("overflow", "y", $property)} {
      overflow-y: $property !important;
    }
  }
}
