@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("padding") {
  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("padding", $key)} {
      padding: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("padding", "top", $key)} {
      padding-top: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("padding", "bottom", $key)} {
      padding-bottom: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("padding", "left", $key)} {
      padding-left: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("padding", "right", $key)} {
      padding-right: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("padding", "x", $key)} {
      padding-left: $value !important;
      padding-right: $value !important;
    }
  }

  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("padding", "y", $key)} {
      padding-top: $value !important;
      padding-bottom: $value !important;
    }
  }
}
