@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("place") {
  #{fun.selector("place", "content", "start")} {
    place-content: start !important;
  }

  #{fun.selector("place", "content", "center")} {
    place-content: center !important;
  }

  #{fun.selector("place", "content", "end")} {
    place-content: end !important;
  }

  #{fun.selector("place", "content", "between")} {
    place-content: space-between !important;
  }

  #{fun.selector("place", "content", "around")} {
    place-content: space-around !important;
  }

  #{fun.selector("place", "content", "evenly")} {
    place-content: space-evenly !important;
  }

  #{fun.selector("place", "content", "stretch")} {
    place-content: stretch !important;
  }

  #{fun.selector("place", "items", "start")} {
    place-items: start !important;
  }

  #{fun.selector("place", "items", "center")} {
    place-items: center !important;
  }

  #{fun.selector("place", "items", "end")} {
    place-items: end !important;
  }

  #{fun.selector("place", "items", "stretch")} {
    place-items: stretch !important;
  }

  #{fun.selector("place", "self", "start")} {
    place-self: start !important;
  }

  #{fun.selector("place", "self", "center")} {
    place-self: center !important;
  }

  #{fun.selector("place", "self", "end")} {
    place-self: end !important;
  }

  #{fun.selector("place", "self", "stretch")} {
    place-self: stretch !important;
  }
}
