@use "../config" as var;
@use "../functions" as fun;

@if fun.maybe-output("place") {
  #{fun.selector("place", "content", "start")} {
    place-content: fun.maybe-important(start);
  }

  #{fun.selector("place", "content", "center")} {
    place-content: fun.maybe-important(center);
  }

  #{fun.selector("place", "content", "end")} {
    place-content: fun.maybe-important(end);
  }

  #{fun.selector("place", "content", "between")} {
    place-content: fun.maybe-important(space-between);
  }

  #{fun.selector("place", "content", "around")} {
    place-content: fun.maybe-important(space-around);
  }

  #{fun.selector("place", "content", "evenly")} {
    place-content: fun.maybe-important(space-evenly);
  }

  #{fun.selector("place", "content", "stretch")} {
    place-content: fun.maybe-important(stretch);
  }

  #{fun.selector("place", "items", "start")} {
    place-items: fun.maybe-important(start);
  }

  #{fun.selector("place", "items", "center")} {
    place-items: fun.maybe-important(center);
  }

  #{fun.selector("place", "items", "end")} {
    place-items: fun.maybe-important(end);
  }

  #{fun.selector("place", "items", "stretch")} {
    place-items: fun.maybe-important(stretch);
  }

  #{fun.selector("place", "self", "start")} {
    place-self: fun.maybe-important(start);
  }

  #{fun.selector("place", "self", "center")} {
    place-self: fun.maybe-important(center);
  }

  #{fun.selector("place", "self", "end")} {
    place-self: fun.maybe-important(end);
  }

  #{fun.selector("place", "self", "stretch")} {
    place-self: fun.maybe-important(stretch);
  }
}
