.place-content-start {
  place-content: start !important;
}

.place-content-center {
  place-content: center !important;
}

.place-content-end {
  place-content: end !important;
}

.place-content-between {
  place-content: space-between !important;
}

.place-content-around {
  place-content: space-around !important;
}

.place-content-evenly {
  place-content: space-evenly !important;
}

.place-content-stretch {
  place-content: stretch !important;
}

.place-items-start {
  place-items: start !important;
}

.place-items-center {
  place-items: center !important;
}

.place-items-end {
  place-items: end !important;
}

.place-items-stretch {
  place-items: stretch !important;
}

.place-self-start {
  place-self: start !important;
}

.place-self-center {
  place-self: center !important;
}

.place-self-end {
  place-self: end !important;
}

.place-self-stretch {
  place-self: stretch !important;
}
