@use "../functions" as fun;

@if fun.maybe-output("position") {
  #{fun.selector("position", "absolute")} {
    position: absolute#{fun.maybe-important()};
  }

  #{fun.selector("position", "fixed")} {
    position: fixed#{fun.maybe-important()};
  }

  #{fun.selector("position", "relative")} {
    position: relative#{fun.maybe-important()};
  }

  #{fun.selector("position", "static")} {
    position: static#{fun.maybe-important()};
  }

  #{fun.selector("position", "sticky")} {
    position: sticky#{fun.maybe-important()};
  }
}
