@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("position") {
  #{fun.selector("position", "absolute")} {
    position: absolute !important;
  }

  #{fun.selector("position", "fixed")} {
    position: fixed !important;
  }

  #{fun.selector("position", "relative")} {
    position: relative !important;
  }

  #{fun.selector("position", "static")} {
    position: static !important;
  }

  #{fun.selector("position", "sticky")} {
    position: sticky !important;
  }
}
