@use "../variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-position;

@if (var.$output-position) {
  .#{$_u}#{$_c}-absolute {
    position: absolute !important;
  }

  .#{$_u}#{$_c}-fixed {
    position: fixed !important;
  }

  .#{$_u}#{$_c}-relative {
    position: relative !important;
  }

  .#{$_u}#{$_c}-static {
    position: static !important;
  }

  .#{$_u}#{$_c}-sticky {
    position: sticky !important;
  }
}
