@use "../functions" as fun;

@if fun.maybe-output("position") {
  #{fun.selector("position", "absolute")} {
    position: fun.maybe-important(absolute);
  }

  #{fun.selector("position", "fixed")} {
    position: fun.maybe-important(fixed);
  }

  #{fun.selector("position", "relative")} {
    position: fun.maybe-important(relative);
  }

  #{fun.selector("position", "static")} {
    position: fun.maybe-important(static);
  }

  #{fun.selector("position", "sticky")} {
    position: fun.maybe-important(sticky);
  }
}
