@use "@vrembem/core";
@use "@vrembem/core/css";
@use "../variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-shadow;

@if (var.$output-shadow) {
  .#{$_u}#{$_c} {
    box-shadow: css.get("box-shadow") !important;
  }

  .#{$_u}#{$_c}-flat {
    box-shadow: 0 0 0 0 transparent !important;
  }

  .#{$_u}#{$_c}-1 {
    box-shadow: css.get("box-shadow-1") !important;
  }

  .#{$_u}#{$_c}-2 {
    box-shadow: css.get("box-shadow-2") !important;
  }

  .#{$_u}#{$_c}-3 {
    box-shadow: css.get("box-shadow-3") !important;
  }

  .#{$_u}#{$_c}-4 {
    box-shadow: css.get("box-shadow-4") !important;
  }

  .#{$_u}#{$_c}-5 {
    box-shadow: css.get("box-shadow-5") !important;
  }
}
