@use "../config" as var;
@use "../functions" as fun;

@if fun.maybe-output("spacing") {
  #{fun.selector("spacing")} {
    > * + * {
      margin-top: var.$gap !important;
    }
  }

  @each $key, $value in var.$gap-map {
    #{fun.selector("spacing", $key)} {
      > * + * {
        margin-top: $value !important;
      }
    }
  }
}
