@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("spacing") {
  @each $key, $value in config.get("utility-gap") {
    #{fun.selector("spacing", $key)} {
      > * + * {
        margin-top: #{$value}#{fun.maybe-important()};
      }
    }
  }
}
