@use "../functions" as fun;

@if fun.maybe-output("text") {
  #{fun.selector("text", "capitalize")} {
    text-transform: fun.maybe-important(capitalize);
  }

  #{fun.selector("text", "lowercase")} {
    text-transform: fun.maybe-important(lowercase);
  }

  #{fun.selector("text", "uppercase")} {
    text-transform: fun.maybe-important(uppercase);
  }

  #{fun.selector("text", "align", "left")} {
    text-align: fun.maybe-important(left);
  }

  #{fun.selector("text", "align", "center")} {
    text-align: fun.maybe-important(center);
  }

  #{fun.selector("text", "align", "right")} {
    text-align: fun.maybe-important(right);
  }

  #{fun.selector("text", "strike")} {
    text-decoration: fun.maybe-important(line-through);
  }

  #{fun.selector("text", "underline")} {
    text-decoration: fun.maybe-important(underline);
  }

  #{fun.selector("text", "underline", "dotted")} {
    text-decoration: fun.maybe-important(underline);
    text-decoration-style: fun.maybe-important(dotted);
  }

  #{fun.selector("text", "underline", "dashed")} {
    text-decoration: fun.maybe-important(underline);
    text-decoration-style: fun.maybe-important(dashed);
  }

  #{fun.selector("text", "wrap")} {
    text-wrap: fun.maybe-important(normal);
  }

  #{fun.selector("text", "nowrap")} {
    text-wrap: fun.maybe-important(nowrap);
  }

  #{fun.selector("text", "wrap", "balance")} {
    text-wrap: fun.maybe-important(balance);
  }

  #{fun.selector("text", "wrap", "pretty")} {
    text-wrap: fun.maybe-important(pretty);
  }

  #{fun.selector("text", "wrap", "stable")} {
    text-wrap: fun.maybe-important(stable);
  }

  #{fun.selector("text", "overflow", "ellipsis")} {
    overflow: fun.maybe-important(hidden);
    text-overflow: fun.maybe-important(ellipsis);
    text-wrap: fun.maybe-important(nowrap);
  }
}
