@use "../functions" as fun;

@if fun.maybe-output("text") {
  #{fun.selector("text", "capitalize")} {
    text-transform: capitalize !important;
  }

  #{fun.selector("text", "lowercase")} {
    text-transform: lowercase !important;
  }

  #{fun.selector("text", "uppercase")} {
    text-transform: uppercase !important;
  }

  #{fun.selector("text", "align", "left")} {
    text-align: left !important;
  }

  #{fun.selector("text", "align", "center")} {
    text-align: center !important;
  }

  #{fun.selector("text", "align", "right")} {
    text-align: right !important;
  }

  #{fun.selector("text", "strike")} {
    text-decoration: line-through !important;
  }

  #{fun.selector("text", "underline")} {
    text-decoration: underline !important;
  }

  #{fun.selector("text", "underline", "dotted")} {
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
  }

  #{fun.selector("text", "underline", "dashed")} {
    text-decoration: underline !important;
    text-decoration-style: dashed !important;
  }

  #{fun.selector("text", "wrap")} {
    text-wrap: normal !important;
  }

  #{fun.selector("text", "nowrap")} {
    text-wrap: nowrap !important;
  }

  #{fun.selector("text", "wrap", "balance")} {
    text-wrap: balance !important;
  }

  #{fun.selector("text", "wrap", "pretty")} {
    text-wrap: pretty !important;
  }

  #{fun.selector("text", "wrap", "stable")} {
    text-wrap: stable !important;
  }

  #{fun.selector("text", "overflow", "ellipsis")} {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-wrap: nowrap !important;
  }
}
