@use "@vrembem/core";
@use "../variables" as var;

$_u: var.$prefix-utility;
$_c: var.$class-text;

@if (var.$output-text) {
  .#{$_u}#{$_c}-capitalize {
    text-transform: capitalize !important;
  }

  .#{$_u}#{$_c}-lowercase {
    text-transform: lowercase !important;
  }

  .#{$_u}#{$_c}-uppercase {
    text-transform: uppercase !important;
  }

  .#{$_u}#{$_c}-align-left {
    text-align: left !important;
  }

  .#{$_u}#{$_c}-align-center {
    text-align: center !important;
  }

  .#{$_u}#{$_c}-align-right {
    text-align: right !important;
  }

  .#{$_u}#{$_c}-strike {
    text-decoration: line-through !important;
  }

  .#{$_u}#{$_c}-underline {
    text-decoration: underline !important;
  }

  .#{$_u}#{$_c}-underline-dotted {
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
  }

  .#{$_u}#{$_c}-underline-dashed {
    text-decoration: underline !important;
    text-decoration-style: dashed !important;
  }

  .#{$_u}#{$_c}-wrap {
    white-space: normal !important;
  }

  .#{$_u}#{$_c}-nowrap {
    white-space: nowrap !important;
  }

  .#{$_u}#{$_c}-overflow-ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
}
