@use "@vrembem/core/css";
@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("transition") {
  #{fun.selector("transition")} {
    transition: all css.get("transition-duration") css.get("transition-timing-function") !important;
  }

  #{fun.selector("transition", "none")} {
    transition: none !important;
  }

  #{fun.selector("transition", "duration-short")} {
    transition-duration: css.get("transition-duration-short") !important;
  }

  #{fun.selector("transition", "duration-long")} {
    transition-duration: css.get("transition-duration-long") !important;
  }
}
