@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("transition") {
  #{fun.selector("transition")} {
    transition: fun.maybe-important(all #{css.get("transition-duration")} #{css.get("transition-timing-function")});
  }

  #{fun.selector("transition", "none")} {
    transition: fun.maybe-important(none);
  }

  #{fun.selector("transition", "duration-short")} {
    transition-duration: fun.maybe-important(css.get("transition-duration-short"));
  }

  #{fun.selector("transition", "duration-long")} {
    transition-duration: fun.maybe-important(css.get("transition-duration-long"));
  }
}
