@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("transition") {
  #{fun.selector("transition")} {
    transition: all #{css.get("transition-duration")} #{css.get("transition-timing-function")}#{fun.maybe-important()};
  }

  #{fun.selector("transition", "none")} {
    transition: none#{fun.maybe-important()};
  }

  #{fun.selector("transition", "duration-short")} {
    transition-duration: #{css.get("transition-duration-short")}#{fun.maybe-important()};
  }

  #{fun.selector("transition", "duration-long")} {
    transition-duration: #{css.get("transition-duration-long")}#{fun.maybe-important()};
  }
}
