@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/tokens";

$-attr: config.get("table-mobile", "attr");
$-border: tokens.get("table", "border-width", tokens.get("border-width")) tokens.get("table", "border-style", tokens.get("border-style")) tokens.get("table", "border-color", tokens.get("border-color"));

@mixin mobile-styles {
  thead,
  tbody,
  tr,
  th,
  td {
    display: block;
  }

  colgroup {
    display: none;
  }

  thead,
  [rowspan] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  [#{$-attr}] {
    position: relative;
    padding-left: calc(tokens.get("table", "mobile-label-width", 8em) + tokens.get("table", "mobile-label-spacing", 0.75em));
    white-space: normal;

    &::before {
      content: attr(#{$-attr});
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      width: tokens.get("table", "mobile-label-width", 8em);
      padding: tokens.get("table", "padding", 0.5em 0.75em);
      font-weight: tokens.get("font-weight-bold");
      color: tokens.get("table", "mobile-label-foreground", inherit);
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: tokens.get("table", "mobile-label-background", transparent);
    }
  }

  &#{core.bem("table", null, "style", "bordered")} {
    border: $-border;

    td {
      border: none;
    }

    td + td,
    th + td {
      border-top: 1px dotted tokens.get("table", "border-color", tokens.get("border-color"));
    }

    [#{$-attr}]::before {
      border-right: $-border;
    }

    tr + tr {
      border-top: $-border;
    }
  }
}
