@use "sass:list";
@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

@mixin table-responsive-styles() {
  thead,
  tbody,
  tr,
  th,
  td {
    display: block;
  }

  thead,
  [rowspan] {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  [#{var.$mobile-label-attr}] {
    padding-left: calc(css.get("table", "mobile-label-width") + css.get("table", "mobile-label-spacing"));
    position: relative;
    white-space: normal;

    &::before {
      background-color: css.get("table", "mobile-label-background");
      bottom: 0;
      color: css.get("table", "mobile-label-foreground");
      content: attr(#{var.$mobile-label-attr});
      font-weight: css.get("font-weight-bold");
      left: 0;
      overflow: hidden;
      padding: css.get("table", "padding");
      position: absolute;
      text-overflow: ellipsis;
      top: 0;
      white-space: nowrap;
      width: css.get("table", "mobile-label-width");
    }
  }

  &#{core.bem("table", null, "style", "bordered")} {
    border: css.get("table", "border");

    td {
      border: none;
    }

    td + td,
    th + td {
      border-top: css.get("table", "border-alt");
    }

    [#{var.$mobile-label-attr}]::before {
      border-right: css.get("table", "border");
    }

    tr + tr {
      border-top: css.get("table", "border");
    }
  }
}
