@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("table", null, "hover")} {
  tr {
    position: relative;
    z-index: 1;
  }

  tbody tr:hover,
  tbody tr:focus {
    z-index: 2;
    background-color: css.get("table", "background-hover");
    color: css.get("table", "foreground-hover");
  }
}
