@use "@vrembem/core";

#{core.bem("table", null, "zebra")} {
  thead tr {
    background-color: core.css("table-background-zebra");
  }

  tr:nth-child(even) {
    background-color: core.css("table-background-zebra");
  }
}
