@use "@vrembem/core";
@use "@vrembem/core/theme";

#{core.bem("table", null, "zebra")} {
  thead tr {
    background-color: theme.get("table", "background-zebra");
  }

  tr:nth-child(even) {
    background-color: theme.get("table", "background-zebra");
  }
}
