@use "@vrembem/core";
@use "./variables" as var;

#{core.bem("table")} {
  width: 100%;
  background-color: core.css("table-background");
  color: var.$color;
  text-align: left;

  th,
  td,
  caption {
    padding: var.$padding;
    vertical-align: top;
  }

  th {
    background-color: var.$th-background;
    font-weight: var.$th-font-weight;
  }

  td {
    background-color: var.$td-background;
  }
}

#{core.bem("table", "auto")} {
  width: 0;
  white-space: nowrap;
}
