@use "@vrembem/core";

#{core.bem("table", null, "hover")} {
  tr {
    position: relative;
    z-index: 1;
  }

  tbody tr:hover,
  tbody tr:focus {
    z-index: 2;
    background-color: core.css("table-background-hover");
    box-shadow: core.css("table-shadow-hover");
    color: core.css("table-color-hover");
  }
}
