@use "@vrembem/core";
@use "./variables" as var;

#{core.bem("table", null, "zebra")} {
  thead tr {
    background-color: var.$background-zebra;
  }

  tr:nth-child(even) {
    background-color: var.$background-zebra;
  }
}
