@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("table")} {
  width: 100%;
  color: css.get("table", "foreground", inherit);
  text-align: left;
  background-color: css.get("table", "background", css.get("background"));

  th,
  td,
  caption {
    padding: css.get("table", "padding", 0.5em 0.75em);
    vertical-align: top;
  }

  th {
    font-weight: css.get("font-weight-bold");
  }

  caption {
    caption-side: bottom;
    color: css.get("foreground-lighter");
    text-align: left;
  }

  .hug-content {
    width: 0;
    white-space: nowrap;
  }
}
