@use "@vrembem/core";
@use "@vrembem/core/tokens";

#{core.bem("table", null, "striped")} {
  thead tr {
    background-color: tokens.get("table", "background-striped", tokens.get("background-alt"));
  }

  tr:nth-child(even) {
    background-color: tokens.get("table", "background-striped", tokens.get("background-alt"));
  }
}
