@use "./variables" as var;

$_b: var.$prefix-block;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

.#{$_b}table#{$_m}style#{$_v}rowed {
  border-bottom: var.$border;

  tr {
    border-top: var.$border;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }
}

.#{$_b}table#{$_m}style#{$_v}bordered {
  th,
  td {
    border: var.$border;
  }
}
