@use "@vrembem/core";
@use "@vrembem/core/tokens";

$-border: tokens.get("table", "border-width", tokens.get("border-width")) tokens.get("table", "border-style", tokens.get("border-style")) tokens.get("table", "border-color", tokens.get("border-color"));

#{core.bem("table", null, "style", "rowed")} {
  border-bottom: $-border;

  tr {
    border-top: $-border;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }
}

#{core.bem("table", null, "style", "bordered")} {
  th,
  td {
    border: $-border;
  }
}
