@use "@vrembem/core";
@use "@vrembem/core/tokens";

#{core.bem("table", null, "hover")} {
  tr {
    position: relative;
    z-index: 1;
  }

  tbody tr:hover,
  tbody tr:focus,
  tbody tr:focus-within {
    z-index: 2;
    color: tokens.get("table", "foreground-hover", inherit);
    background-color: tokens.get("table", "background-hover", tokens.get("palette", "primary", $a: 15%));
  }
}
