@use "@vrembem/core";
@use "@vrembem/core/css";

$-border: css.get("table", "border-width", css.get("border-width")) css.get("table", "border-style", css.get("border-style")) css.get("table", "border-color", css.get("border-color"));

#{core.bem("table", null, "style", "rowed")} {
  border-bottom: css.get("table", "border", $-border);

  tr {
    border-top: css.get("table", "border", $-border);
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }
}

#{core.bem("table", null, "style", "bordered")} {
  th,
  td {
    border: css.get("table", "border", $-border);
  }
}
