@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/tokens";

#{core.bem("table")} {
  width: 100%;
  color: tokens.get("table", "foreground", inherit);
  text-align: left;
  background-color: tokens.get("table", "background", tokens.get("background"));

  th,
  td,
  caption {
    padding: tokens.get("table", "padding", config.get("table-padding", "default"));
    vertical-align: tokens.get("table", "vertical-align", top);
  }

  th {
    font-weight: tokens.get("font-weight-bold");
    color: tokens.get("table", "header-foreground", tokens.get("foreground-strong"));
  }

  caption {
    caption-side: bottom;
    color: tokens.get("foreground-subtle");
    text-align: left;
  }

  .hug-content {
    width: 0;
    white-space: nowrap;
  }
}
