@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

#{core.bem("table", null, "hover")} {
  tr {
    position: relative;
    z-index: 1;
  }

  tbody tr:hover,
  tbody tr:focus {
    z-index: 2;
    color: css.get("table", "foreground-hover", inherit);
    background-color: css.get("table", "background-hover", palette.get("primary", 50%, 15%));
  }
}
