@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/palette";
@use "@vrembem/core/theme";

$breakpoints: core.$breakpoints !default;
$padding: core.$padding !default;
$padding-sm: core.$padding-sm !default;
$padding-lg: core.$padding-lg !default;
$background: transparent !default;
$background-zebra: palette.get("neutral", 50%, 5%) !default;
$background-hover: palette.get("primary", 50%, 10%) !default;
$border: 1px solid theme.get("border-color") !default;
$border-alt: 1px dotted theme.get("border-color") !default;
$shadow-hover: null !default;
$color: null !default;
$color-hover: null !default;
$th-font-weight: core.$font-weight-bold !default;
$th-background: null !default;
$td-background: null !default;
$mobile-label-attr: "data-mobile-label" !default;
$mobile-label-width: 8rem !default;
$mobile-label-background: null !default;
$mobile-label-color: null !default;
$mobile-label-font-weight: core.$font-weight-semi-bold !default;
