@use "./variables";

.table_style_rowed {
  border-bottom: variables.$border;

  tr {
    border-top: variables.$border;
  }
}

.table_style_bordered {
  th,
  td {
    border: variables.$border;
  }
}
