@use "./variables";

.table {
  width: 100%;
  background-color: variables.$background;
  color: variables.$color;
  text-align: left;

  th,
  td,
  caption {
    padding: variables.$padding;
    vertical-align: top;
  }

  th {
    background-color: variables.$th-background;
    font-weight: variables.$th-font-weight;
  }

  td {
    background-color: variables.$td-background;
  }
}

.col_auto {
  width: 0;
  white-space: nowrap;
}
