@use "./variables";

.table_hover {
  tr {
    position: relative;
    z-index: 1;
  }

  tbody tr:hover {
    z-index: 2;
    background-color: variables.$background-hover;
    box-shadow: variables.$box-shadow-hover;
    color: variables.$color-hover;
  }
}
