@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

$config: () !default;

$defaults: (
  "flex-wrap": wrap,
  "flex-gap": (
    "none": 0,
    "xs": 1px,
    "sm": 0.5em,
    "md": 1em,
    "lg": 1.5em,
    "xl": 2em
  ),
  "flex-grow-count": 6,
  "flex-shrink-count": 6
);

@include config.apply($config, $defaults);
@include css.set(
  "flex",
  (
    "gap": 1em,
    "wrap": config.get("flex-wrap")
  )
);
