@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

$config: () !default;

// prettier-ignore
$defaults: (
  // Map for outputting the flex_gap_[keu] modifiers. Use the "default" key for 
  // setting the default value. Default values are not output as modifiers.
  // @type map
  "flex-gap": (
    "default": 1em,
    "0": 0,
    "xs": 1px,
    "sm": 0.5em,
    "lg": 1.5em,
    "xl": 2em
  ),

  // Map for outputting the flex_wrap_[key] modifiers. Use the "default" key for 
  // setting the default value. Default values are not output as modifiers.
  // @type map
  "flex-wrap": (
    "default": wrap,
    "no": nowrap,
    "reverse": wrap-reverse
  ),

  // Map for outputting the flex_direction_[key] modifiers. Use the "default" 
  // key for setting the default value. Default values are not output as
  // modifiers.
  // @type map
  "flex-direction": (
    "default": row,
    "row": row,
    "row-reverse": row-reverse,
    "column": column,
    "column-reverse": column-reverse
  ),

  // The range of flex-grow classes to output
  // @type number
  "flex-grow-count": 6,

  // The range of flex-shrink classes to output
  // @type number
  "flex-shrink-count": 6
);

@include config.apply($config, $defaults);
@include css.register("flex");
