@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

$config: () !default;

// prettier-ignore
$defaults: (
  // A map of gap modifiers to output. Use the "default" key for a default value.
  // Default values are not output as modifiers.
  // @type map
  "flex-gap": (
    "default": 1em,
    "none": 0,
    "xs": 1px,
    "sm": 0.5em,
    "lg": 1.5em,
    "xl": 2em
  ),

  // The range of flex-grow classes to output
  // @type number
  "flex-grow-count": 6,

  // The range of flex-shrink classes to output
  // @type number
  "flex-shrink-count": 6
);

@include config.apply($config, $defaults);
@include css.register("flex");
