@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

$-flex-direction-map: map.remove(config.get("flex-direction"), "default");

@each $key, $value in $-flex-direction-map {
  #{core.bem("flex", null, "direction", $key)} {
    @include css.override("flex", "direction", $value);
  }
}

@each $bp, $value in config.get("breakpoints") {
  @include core.media-min($value) {
    @each $key, $value in $-flex-direction-map {
      #{core.bem("flex", null, "direction", $key, $bp)} {
        @include css.override("flex", "direction", $value);
      }
    }
  }
}
