@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

#{core.bem("flex")} {
  display: flex;
  flex-wrap: css.get("flex", "wrap", config.get("flex-wrap", "default"));
  gap: css.get("flex", "gap-y", "gap", config.get("flex-gap", "default")) css.get("flex", "gap-x", "gap", config.get("flex-gap", "default"));
}

#{core.bem("flex", null, "inline")} {
  display: inline-flex;
}
