@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("flex")} {
  display: flex;
  flex-wrap: css.get("flex", "wrap");
  gap: css.get("flex", "gap-y", "gap") css.get("flex", "gap-x", "gap");
}

#{core.bem("flex", null, "inline")} {
  display: inline-flex;
}
