@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

@each $key, $value in map.remove(config.get("flex-wrap"), "default") {
  #{core.bem("flex", null, "wrap", $key)} {
    @include css.override("flex", "wrap", $value);
  }
}
