@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

.flex,
.flex-inline {
  display: flex;
  gap: css.get("flex", "gap-y", "gap") css.get("flex", "gap-x", "gap");
  flex-wrap: css.get("flex", "wrap");
}

.flex-inline {
  display: inline-flex;
}
