@use "@vrembem/core";
@use "./variables" as var;

#{core.bem("flex", null, "items", "initial")} {
  > * {
    flex: initial; // Equivalent to setting flex: 0 1 auto.
  }
}

#{core.bem("flex", null, "items", "auto")} {
  > * {
    flex: auto; // Equivalent to setting flex: 1 1 auto.
  }
}

#{core.bem("flex", null, "items", "none")} {
  > * {
    flex: none; // Equivalent to setting flex: 0 0 auto.
  }
}

#{core.bem("flex", null, "items", "equal")} {
  > * {
    flex: 1 1 0;
  }
}

#{core.bem("flex", null, "items", "fill")} {
  > * {
    flex: 1 0 auto;
  }
}

#{core.bem("flex", null, "items", "full")} {
  flex-wrap: wrap;
  
  > * {
    flex: 1 0 100%;
  }
}

.flex-initial {
  flex: initial; // Equivalent to setting flex: 0 1 auto.
}

.flex-auto {
  flex: auto; // Equivalent to setting flex: 1 1 auto.
}

.flex-none {
  flex: none; // Equivalent to setting flex: 0 0 auto.
}

.flex-equal {
  flex: 1 1 0;
}

.flex-fill {
  flex: 1 0 auto;
}

.flex-full {
  flex: 1 0 100%;
}

@each $key, $value in var.$breakpoints {
  @include core.media-max($value) {
    .#{$key}\:flex-full {
      flex: 1 0 100%;
    }
  }
}
