@use "@vrembem/core";
@use "./variables" as var;

.flex-children-initial {
  > * {
    flex: 0 1 auto;
  }
}

.flex-children-auto {
  > * {
    flex: 1 1 auto;
  }
}

.flex-children-none {
  > * {
    flex: 0 0 auto;
  }
}

.flex-children-equal {
  > * {
    flex: 1 1 0;
  }
}

.flex-children-fill {
  > * {
    flex: 1 0 auto;
  }
}

.flex-children-full {
  flex-wrap: wrap;
  
  > * {
    flex: 1 0 100%;
  }
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto !important;
}

.flex-none {
  flex: 0 0 auto !important;
}

.flex-equal {
  flex: 1 1 0 !important;
}

.flex-fill {
  flex: 1 0 auto !important;
}

.flex-full {
  flex: 1 0 100% !important;
}

@each $key, $value in var.$breakpoints {
  @include core.media-max($value) {
    .#{$key}\:flex-full {
      flex: 1 0 100% !important;
    }
  }
}
