@use "@vrembem/core";
@use "@vrembem/core/config";

#{core.bem("flex-shrink")} {
  flex-shrink: 1;
}

@for $i from 0 through config.get("flex-shrink-count") {
  #{core.bem("flex-shrink-#{$i}")} {
    flex-shrink: $i;
  }
}
