@use "@vrembem/core";
@use "./variables" as var;

.flex-children-initial {
  > * {
    flex: 0 1 auto;
  }
}

.flex-children-auto {
  > * {
    flex: 1 1 auto;
  }
}

.flex-children-none {
  > * {
    flex: 0 0 auto;
  }
}

.flex-children-equal {
  > * {
    flex: 1 1 0;
  }
}

.flex-children-fill {
  > * {
    flex: 1 0 auto;
  }
}

.flex-children-full {
  flex-wrap: wrap;
  
  > * {
    flex: 1 0 100%;
  }
}
