@use "@vrembem/core";
@use "@vrembem/core/config";

#{core.bem("flex", null, "direction", "row")} {
  flex-direction: row;
}

#{core.bem("flex", null, "direction", "row-reverse")} {
  flex-direction: row-reverse;
}

#{core.bem("flex", null, "direction", "col")} {
  flex-direction: column;
}

#{core.bem("flex", null, "direction", "col-reverse")} {
  flex-direction: column-reverse;
}

@each $bp, $value in config.get("breakpoints") {
  @include core.media-min($value) {
    #{core.bem("flex", null, "direction", "row", $bp)} {
      flex-direction: row;
    }

    #{core.bem("flex", null, "direction", "row-reverse", $bp)} {
      flex-direction: row-reverse;
    }

    #{core.bem("flex", null, "direction", "col", $bp)} {
      flex-direction: column;
    }

    #{core.bem("flex", null, "direction", "col-reverse", $bp)} {
      flex-direction: column-reverse;
    }
  }
}
