@use "sass:map";
@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

$-flex-items: map.remove(config.get("flex-items"), "default", "breakpoints");

@each $key, $value in $-flex-items {
  #{core.bem("flex", null, "items", $key)} {
    @if $key == "full" {
      @include css.override("flex", "wrap", wrap);
    }

    > * {
      flex: $value;
    }
  }
}

@each $bp, $value in config.get("flex-items", "breakpoints") {
  @include core.media-min($value) {
    @each $key, $value in $-flex-items {
      #{core.bem("flex", null, "items", $key, $bp)} {
        @if $key == "full" {
          @include css.override("flex", "wrap", wrap);
        }

        > * {
          flex: $value;
        }
      }
    }
  }
}
