.flex-align-start {
  align-items: flex-start !important;
}

.flex-align-center {
  align-items: center !important;
}

.flex-align-end {
  align-items: flex-end !important;
}

.flex-align-stretch {
  align-items: stretch !important;
}

.flex-align-baseline {
  align-items: baseline !important;
}
