@use "@vrembem/core";
@use "./variables" as var;

.flex-direction-row {
  flex-direction: row !important;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse !important;
}

@each $key, $value in var.$breakpoints {
  @include core.media-min($value) {
    .#{$key}\:flex-direction-row {
      flex-direction: row !important;
    }
    
    .#{$key}\:flex-direction-row-reverse {
      flex-direction: row-reverse !important;
    }
    
    .#{$key}\:flex-direction-column {
      flex-direction: column !important;
    }
    
    .#{$key}\:flex-direction-column-reverse {
      flex-direction: column-reverse !important;
    }
  }
}
