@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

$breakpoints: config.get("breakpoints") !default;
$gap: 1em !default;
$gap-map: (
  "none": 0,
  "xs": 1px,
  "sm": 0.5em,
  "md": 1em,
  "lg": 1.5em,
  "xl": 2em
) !default;
$wrap: wrap !default;
$grow-count: 6 !default;
$shrink-count: 6 !default;

@include css.set(
  "flex",
  (
    "gap": $gap,
    "gap-x": null,
    "gap-y": null,
    "wrap": $wrap
  )
);
