@import 'variables';

.grid {
  display: flex;
  margin: -($grid-spacing * 0.5);
}

.grid_split {
  justify-content: space-between;
}

.grid__item {
  flex: 1 1 0;
  padding: ($grid-spacing * 0.5);
}
