@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

$_offset: calc(calc(css.get("popover", "offset") + 1) * 1px);

#{core.bem("popover")} {
  position: absolute;
  z-index: css.get("popover", "z-index", var.$z-index);
  top: 100%;
  left: 0;
  display: block;
  width: css.get("popover", "width", var.$width);
  max-width: css.get("popover", "max-width", var.$max-width);
  margin: 0;
  padding: css.get("popover", "padding", var.$padding);
  transition-property: css.get("popover", "transition-property", var.$transition-property);
  transition-duration: css.get("popover", "transition-duration", var.$transition-duration);
  transition-timing-function: css.get("popover", "transition-timing-function", var.$transition-timing-function);
  border: css.get("popover", "border", var.$border);
  border-radius: css.get("popover", "border-radius", var.$border-radius);
  background: css.get("popover", "background", var.$background);
  background-clip: padding-box;
  box-shadow: css.get("popover", "box-shadow", var.$box-shadow);
  opacity: 0;
  color: css.get("popover", "foreground", var.$foreground);
  font-size: css.get("popover", "font-size", var.$font-size);
  line-height: css.get("popover", "line-height", var.$line-height);
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    inset: auto 0 100%;
    width: 100%;
    height: $_offset;
  }

  &.is-active {
    z-index: calc(css.get("popover", "z-index", var.$z-index) + 1);
    opacity: 1;
    pointer-events: auto;
  }

  &:hover,
  &:focus,
  &:focus-within {
    z-index: calc(css.get("popover", "z-index", var.$z-index) + 2);
  }
}

#{core.bem("popover")}[data-floating-placement^="top"]::before {
  inset: 100% 0 auto;
  width: 100%;
  height: $_offset;
}

#{core.bem("popover")}[data-floating-placement^="bottom"]::before {
  inset: auto 0 100%;
  width: 100%;
  height: $_offset;
}

#{core.bem("popover")}[data-floating-placement^="left"]::before {
  inset: 0 auto 0 100%;
  width: $_offset;
  height: 100%;
}

#{core.bem("popover")}[data-floating-placement^="right"]::before {
  inset: 0 100% 0 auto;
  width: $_offset;
  height: 100%;
}
