@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

$_v: var.$prefix-variable;
$_b: var.$prefix-block;
$_offset: calc(calc(var(--#{$_v}popover-offset) + 1) * 1px);

.#{$_b}popover {
  position: absolute;
  z-index: var.$z-index;
  top: 100%;
  left: 0;
  display: block;
  width: var.$width;
  max-width: var.$max-width;
  margin: calc(var(--#{$_v}popover-offset) * 1px) 0 0;
  padding: var.$padding;
  border: var.$border;
  border-radius: var.$border-radius;
  background: var.$background;
  background-clip: var.$background-clip;
  box-shadow: var.$shadow;
  color: var.$foreground;
  font-size: var.$font-size;
  line-height: var.$line-height;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity; // Adding transform transition causes too many issues with popper.
  transition-duration: css.get("transition-duration-short");
  transition-timing-function: css.get("transition-timing-function");

  &::before {
    content: "";
    position: absolute;
    inset: auto 0 100%;
    width: 100%;
    height: $_offset;
  }

  &.is-active {
    z-index: (var.$z-index + 1);
    opacity: 1;
    pointer-events: auto;
  }

  &:hover,
  &:focus,
  &:focus-within {
    z-index: (var.$z-index + 2);
  }
}

.#{$_b}popover[data-popper-placement^="top"] {
  margin: 0 0 calc(var(--#{$_v}popover-offset) * 1px) 0;

  &::before {
    inset: 100% 0 auto;
    width: 100%;
    height: $_offset;
  }
}

.#{$_b}popover[data-popper-placement^="bottom"] {
  margin: calc(var(--#{$_v}popover-offset) * 1px) 0 0 0;

  &::before {
    inset: auto 0 100%;
    width: 100%;
    height: $_offset;
  }
}

.#{$_b}popover[data-popper-placement^="left"] {
  margin: 0 calc(var(--#{$_v}popover-offset) * 1px) 0 0;

  &::before {
    inset: 0 auto 0 100%;
    width: $_offset;
    height: 100%;
  }
}

.#{$_b}popover[data-popper-placement^="right"] {
  margin: 0 0 0 calc(var(--#{$_v}popover-offset) * 1px);

  &::before {
    inset: 0 100% 0 auto;
    width: $_offset;
    height: 100%;
  }
}
