@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

#{core.bem("popover", "arrow")},
#{core.bem("popover", "arrow")}::after {
  @include core.size(css.get("popover", "arrow-size", var.$arrow-size));

  background-color: inherit;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

#{core.bem("popover", "arrow")}::after {
  background-clip: padding-box;
  content: "";
  transform: rotate(45deg);
  visibility: visible;
}

[data-floating-placement^="top"] > #{core.bem("popover", "arrow")} {
  bottom: calc(css.get("popover", "arrow-size", var.$arrow-size) * -0.5);

  &::after {
    transform: rotate(-135deg);
  }
}

[data-floating-placement^="bottom"] > #{core.bem("popover", "arrow")} {
  top: calc(css.get("popover", "arrow-size", var.$arrow-size) * -0.5);

  &::after {
    transform: rotate(45deg);
  }
}

[data-floating-placement^="left"] > #{core.bem("popover", "arrow")} {
  right: calc(css.get("popover", "arrow-size", var.$arrow-size) * -0.5);

  &::after {
    transform: rotate(135deg);
  }
}

[data-floating-placement^="right"] > #{core.bem("popover", "arrow")} {
  left: calc(css.get("popover", "arrow-size", var.$arrow-size) * -0.5);

  &::after {
    transform: rotate(-45deg);
  }
}
