@use "@vrembem/core";
@use "@vrembem/core/tokens";

// TODO: Use anchored container queries to add arrows to popovers
// - https://developer.chrome.com/blog/anchored-container-queries
// - https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Anchor_positioning/Anchored_container_queries

#{core.bem("popover", null, "arrow")} {
  container-type: anchored;
  overflow: visible;

  &::before {
    @include core.arrow("up", 0.6rem 0.5rem);
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 0.5rem);
  }

  @container anchored(fallback: flip-block) {
    &::before {
      rotate: 180deg;
      bottom: auto;
      top: 100%;
    }
  }
}
