@use "@vrembem/core";
@use "./variables" as var;

$_v: var.$prefix-variable;
$_b: var.$prefix-block;
$_e: var.$prefix-element;

.#{$_b}popover#{$_e}arrow,
.#{$_b}popover#{$_e}arrow::after {
  @include core.size(var(--#{$_v}popover-arrow-size, var.$arrow-size));
  position: absolute;
  z-index: -1;
  visibility: hidden;
  background-color: inherit;
}

.#{$_b}popover#{$_e}arrow::after {
  content: "";
  visibility: visible;
  transform: rotate(45deg);
  background-clip: padding-box;
}

[data-popper-placement^="top"] > .#{$_b}popover#{$_e}arrow {
  bottom: calc(var(--#{$_v}popover-arrow-size, var.$arrow-size) * -0.5);

  &::after {
    transform: rotate(-135deg);
  }
}

[data-popper-placement^="bottom"] > .#{$_b}popover#{$_e}arrow {
  top: calc(var(--#{$_v}popover-arrow-size, var.$arrow-size) * -0.5);

  &::after {
    transform: rotate(45deg);
  }
}

[data-popper-placement^="left"] > .#{$_b}popover#{$_e}arrow {
  right: calc(var(--#{$_v}popover-arrow-size, var.$arrow-size) * -0.5);

  &::after {
    transform: rotate(135deg);
  }
}

[data-popper-placement^="right"] > .#{$_b}popover#{$_e}arrow {
  left: calc(var(--#{$_v}popover-arrow-size, var.$arrow-size) * -0.5);

  &::after {
    transform: rotate(-45deg);
  }
}
