@use "@vrembem/core";
@use "./variables" as var;

$_v: var.$prefix-variable;
$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;

.#{$_b}popover#{$_m}tooltip {
  --#{$_v}event: hover;
  --#{$_v}placement: top;
  --#{$_v}arrow-size: #{core.vars($_v, "popover-tooltip-arrow-size", var.$tooltip-arrow-size)};
  --#{$_v}arrow-border: none;
  width: auto;
  max-width: core.vars($_v, "popover-tooltip-max-width", var.$tooltip-max-width);
  padding: core.vars($_v, "popover-tooltip-padding", var.$tooltip-padding);
  background: core.vars($_v, "popover-tooltip-background", var.$tooltip-background);
  color: core.vars($_v, "popover-tooltip-color", var.$tooltip-color);
  font-size: core.vars($_v, "popover-tooltip-font-size", var.$tooltip-font-size);
}
