@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/usage";
@use "@vrembem/core/css";

$event: null !default;
$placement: null !default;
$offset: 8 !default;
$overflow-padding: 10 !default;
$flip-padding: 10 !default;

$z-index: 10 !default;
$width: 16em !default;
$max-width: calc(100vw - 20px) !default;
$padding: 0.5em !default;
$border: null !default;
$border-radius: core.$border-radius !default;
$foreground: css.get("foreground") !default;
$background: css.get("background") !default;
$background-clip: padding-box !default;
$shadow: css.get("box-shadow-2") !default;
$font-size: core.$font-size-sm !default;
$line-height: null !default;

$arrow-size: 12px !default;
$arrow-padding: 10 !default;

$size-sm-width: 12em !default;
$size-lg-width: 20em !default;

// Custom properties
// TODO: Test that required custom props are working as expected.
@include css.set("popover", (
  "event": $event,
  "placement": $placement,
  "offset": $offset,
  "overflow-padding": $overflow-padding,
  "flip-padding": $flip-padding,
  "arrow-padding": $arrow-padding
), "required");

// Required custom properties for JavaScript.
@include usage.set("core", "prefix", "required");
