@use "@vrembem/core";
@use "@vrembem/core/css";

$event: null !default;
$placement: null !default;
$offset: 8 !default;
$flip-padding: 10 !default;
$shift-padding: 10 !default;
$z-index: 10 !default;
$width: 16em !default;
$max-width: calc(100vw - 20px) !default;
$padding: 0.5em !default;
$border: null !default;
$border-radius: css.get("border-radius") !default;
$foreground: css.get("foreground") !default;
$background: css.get("background") !default;
$box-shadow: css.get("box-shadow-2") !default;
$font-size: css.get("font-size-sm") !default;
$line-height: null !default;
$transition-property: opacity !default;
$transition-duration: css.get("transition-duration-short") !default;
$transition-timing-function: css.get("transition-timing-function") !default;
$arrow-size: 8px !default;
$arrow-padding: 10 !default;
$size-sm-width: 12em !default;
$size-lg-width: 20em !default;

// Custom properties
@include css.set(
  "popover",
  (
    "event": $event,
    "placement": $placement,
    "offset": $offset,
    "flip-padding": $flip-padding,
    "shift-padding": $shift-padding,
    "arrow-padding": $arrow-padding
  ),
  "required"
);
