@use "@vrembem/core";
@use "@vrembem/core/css";
@use "@vrembem/core/theme";

$prefix-variable: core.$prefix-variable !default;
$prefix-block: core.$prefix-block !default;
$prefix-element: core.$prefix-element !default;
$prefix-modifier: core.$prefix-modifier !default;
$prefix-modifier-value: core.$prefix-modifier-value !default;

$event: null !default;
$placement: null !default;
$offset: 8 !default;
$overflow-padding: 10 !default;
$flip-padding: 10 !default;

$z-index: 10 !default;
$width: 16em !default;
$max-width: calc(100vw - 20px) !default;
$padding: 0.5em !default;
$border: null !default;
$border-radius: core.$border-radius !default;
$foreground: theme.get("foreground") !default;
$background: theme.get("background") !default;
$background-clip: padding-box !default;
$shadow: css.get("box-shadow-2") !default;
$font-size: core.$font-size-sm !default;
$line-height: null !default;

$arrow-size: 12px !default;
$arrow-padding: 10 !default;
$arrow-border: core.$border !default;

$size-sm-width: 12em !default;
$size-lg-width: 20em !default;
