@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;

.#{$_b}drawer#{$_m}modal {
  position: fixed;
  z-index: var.$modal-zindex;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(var.$modal-background, 0);

  .#{$_b}drawer#{$_e}item {
    position: relative;
    z-index: (var.$modal-zindex + 1);
    background-color: var.$modal-item-background;
    box-shadow: var.$modal-item-box-shadow;
  }
}

.#{$_b}drawer#{$_m}modal.is-opening,
.#{$_b}drawer#{$_m}modal.is-opened,
.#{$_b}drawer#{$_m}modal.is-closing {
  width: 100%;
  height: 100%;
}

.#{$_b}drawer#{$_m}modal.is-opening,
.#{$_b}drawer#{$_m}modal.is-closing {
  transition: background-color var.$transition-duration var.$transition-timing-function;
}

.#{$_b}drawer#{$_m}modal.is-opening,
.#{$_b}drawer#{$_m}modal.is-opened {
  background-color: rgba(var.$modal-background, var.$modal-background-alpha);
}

.#{$_b}drawer#{$_m}modal.is-closing {
  background-color: rgba(var.$modal-background, 0);
}
