$drawer-width: 16em !default;
$drawer-travel: 5em !default;
$drawer-transition-duration: $transition-duration !default;

$drawer__dialog-background: $shade !default;
$drawer__dialog-border: null !default;
$drawer__dialog-box-shadow: none !default;
$drawer__dialog-sep-border-color: $border-color-light !default;
