@import "./variables";

.drawer__item_pos_left,
.drawer__item_pos_right {
  position: absolute;
  top: 0;
}

.drawer__item_pos_left {
  left: 0;

  .drawer__dialog {
    transform: translateX(-100%);
    border-right: $drawer__dialog-border;
  }
}

.drawer__item_pos_right {
  right: 0;

  .drawer__dialog {
    transform: translateX(100%);
    border-left: $drawer__dialog-border;
  }
}

.drawer__item_pos_left.is-active {
  .drawer__dialog {
    transform: translateX(0);
  }

  ~ .drawer__main {
    margin-left: $drawer-width;
  }
}

.drawer__item_pos_right.is-active {
  .drawer__dialog {
    transform: translateX(0);
  }

  ~ .drawer__main {
    margin-right: $drawer-width;
  }
}
