@import "variables";

.drawer {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.drawer__main {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.drawer__dialog {
  background: $drawer__dialog-background;
  border-radius: 0;
  box-shadow: $drawer__dialog-box-shadow;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  width: $drawer-width;

  .dialog__header,
  .dialog__footer {
    background: $drawer__dialog-background;
    border-color: $drawer__dialog-sep-border-color;
  }

  .dialog__body {
    background: $drawer__dialog-background;
  }
}

.drawer__item {
  align-content: stretch;
  align-items: stretch;
  bottom: 0;
  display: flex;
  flex: 0 0 0;
  flex-direction: column;
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
  transition: width 0s $drawer-transition-duration;
  width: 0;
}

.drawer__item.is-active {
  flex: 0 0 auto;
  transition: none;
  width: $drawer-width;

  .drawer__dialog {
    opacity: 1;
    visibility: visible;
  }
}
