@use "../variables" as var;
@use "../mixins" as mix;

$_b: var.$prefix-block;
$_c: var.$class-arrow;

@if (var.$output-arrow) {
  .#{$_b}#{$_c},
  .#{$_b}#{$_c}-up,
  .#{$_b}#{$_c}-down,
  .#{$_b}#{$_c}-left,
  .#{$_b}#{$_c}-right {
    @include mix.arrow();
  }

  .#{$_b}#{$_c}-up {
    transform: rotate(180deg);
  }

  .#{$_b}#{$_c}-left {
    transform: rotate(90deg);
  }

  .#{$_b}#{$_c}-right {
    transform: rotate(-90deg);
  }
}
