@use "../variables" as var;
@use "../functions" as fun;

@if (fun.maybe-output("arrow")) {
  #{fun.selector("arrow")},
  #{fun.selector("arrow", "up")},
  #{fun.selector("arrow", "down")},
  #{fun.selector("arrow", "left")},
  #{fun.selector("arrow", "right")} {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    width: 0;
    height: 0;
    transform-origin: center;
    border-top: var.$arrow-size-height solid var.$arrow-color;
    border-right: (var.$arrow-size-width * 0.5) solid transparent;
    border-left: (var.$arrow-size-width * 0.5) solid transparent;
    border-radius: var.$arrow-radius;
    pointer-events: none;
  }

  #{fun.selector("arrow", "up")} {
    transform: rotate(180deg);
  }

  #{fun.selector("arrow", "left")} {
    transform: rotate(90deg);
  }

  #{fun.selector("arrow", "right")} {
    transform: rotate(-90deg);
  }
}
