@use "@vrembem/core/css";
@use "../variables" as var;
@use "../functions" as fun;

@if (fun.maybe-output("arrow")) {
  #{fun.selector("arrow")},
  #{fun.selector("arrow", "up")},
  #{fun.selector("arrow", "down")},
  #{fun.selector("arrow", "left")},
  #{fun.selector("arrow", "right")} {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    width: 0;
    height: 0;
    transform-origin: center;
    border-width: css.get("arrow", "size", var.$arrow-size);
    border-bottom-width: 0;
    border-style: solid;
    border-radius: css.get("arrow", "radius", var.$arrow-radius);
    border-color: css.get("arrow", "color", currentcolor) transparent transparent;
    pointer-events: none;
  }

  #{fun.selector("arrow", "up")} {
    transform: rotate(180deg);
  }

  #{fun.selector("arrow", "left")} {
    transform: rotate(90deg);
  }

  #{fun.selector("arrow", "right")} {
    transform: rotate(-90deg);
  }
}
