@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("blockquote") {
  @include css.register("blockquote");

  #{fun.selector("blockquote")} {
    position: relative;
    padding: css.get("blockquote", "padding", 1em);
    border: css.get("blockquote", "border", css.get("border"));
    border-radius: css.get(
      "blockquote",
      "border-radius",
      css.get("border-radius")
    );
    background: css.get("blockquote", "background", transparent);
    color: css.get("blockquote", "foreground", currentcolor);

    > * + * {
      margin-top: css.get("blockquote", "gap", 1em);
    }
  }
}
