@use "@vrembem/core/tokens";
@use "../functions" as fun;

@if fun.maybe-output("blockquote") {
  @include tokens.register("blockquote");

  #{fun.selector("blockquote")} {
    position: relative;
    padding: tokens.get("blockquote", "padding", tokens.get("spacing-md"));
    border: tokens.get("blockquote", "border", tokens.get("border"));
    border-radius: tokens.get("blockquote", "border-radius", tokens.get("border-radius"));
    color: tokens.get("blockquote", "foreground", currentcolor);
    background: tokens.get("blockquote", "background", transparent);

    > * + * {
      margin-top: tokens.get("blockquote", "spacing", tokens.get("spacing-md"));
    }
  }
}
