@use "sass:list";
@use "@vrembem/core/css";
@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("code") {
  #{fun.selector("code")} {
    margin-block: -(list.nth(var.$code-padding, 1));
    padding: var.$code-padding;
    border: var.$code-border;
    border-radius: var.$code-border-radius;
    background: var.$code-background;
    color: var.$code-foreground;
    font-family: css.get("font-family-mono");
    font-size: var.$code-font-size;
    word-break: break-word;
  }
}
