@use "sass:list";
@use "sass:meta";
@use "@vrembem/core/tokens";
@use "@vrembem/core/config";
@use "../functions" as fun;

@if fun.maybe-output("headings") {
  @include tokens.register("headings");

  #{fun.selector(config.get("base-headings"))} {
    font-family: tokens.get("headings", "font-family", inherit);
    font-size: tokens.get("headings", "font-size", 1em);
    font-weight: tokens.get("headings", "font-weight", tokens.get("font-weight-semi-bold"));
    line-height: tokens.get("headings", "line-height", inherit);
    color: tokens.get("headings", "foreground", tokens.get("foreground-strong"));
  }

  @each $key, $value in config.get("base-headings") {
    $font-size: $value;
    $line-height: null;

    @if meta.type-of($value) == list {
      $font-size: list.nth($value, 1);
      $line-height: list.nth($value, 2);
    }

    #{fun.selector($key)} {
      @include tokens.override("headings", "font-size", $font-size);
      @include tokens.override("headings", "line-height", $line-height);
    }
  }
}
