@use "@vrembem/core/css";
@use "../functions" as fun;
@use "../mixins" as mix;

@if fun.maybe-output("heading") {
  @include css.register("heading");

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: css.get("heading", "foreground", css.get("foreground"));
    font-family: css.get("heading", "font-family", inherit);
    font-size: css.get("heading", "font-size", 1em);
    font-weight: css.get("heading", "font-weight", css.get("font-weight-semi-bold"));
    line-height: css.get("heading", "line-height", inherit);
  }

  @include mix.heading-levels;
}
