@use "../variables" as var;
@use "../mixins" as mix;

$_b: var.$prefix-block;
$_c: var.$class-type;

@if (var.$output-heading) {
  .#{$_b}h1,
  .#{$_b}h2,
  .#{$_b}h3,
  .#{$_b}h4,
  .#{$_b}h5,
  .#{$_b}h6 {
    @include mix.heading-base();
  }
  @include mix.heading-levels($prefix: ".#{$_b}");
}

@if (var.$output-type) {
  .#{$_b}#{$_c} {
    @include mix.heading-levels($prefix: ".#{$_b}");
  }
}
