@use "sass:list";
@use "sass:meta";
@use "@vrembem/core/css";
@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("heading") {
  @include css.register("heading");

  #{fun.selector(var.$heading-scale)} {
    color: css.get("heading", "foreground", css.get("foreground"));
    font-family: css.get("heading", "font-family", inherit);
    font-size: css.get("heading", "font-size", 1em);
    font-weight: css.get("heading", "font-weight", css.get("font-weight-semi-bold"));
    line-height: css.get("heading", "line-height", inherit);
  }

  @each $key, $value in var.$heading-scale {
    $font-size: $value;
    $line-height: null;

    @if meta.type-of($value) == list {
      $font-size: list.nth($value, 1);
      $line-height: list.nth($value, 2);
    }

    #{fun.selector($key)} {
      @include css.override("heading", "font-size", $font-size);
      @include css.override("heading", "line-height", $line-height);
    }
  }
}
