@use "@vrembem/core/tokens";
@use "../functions" as fun;

@if fun.maybe-output("list") {
  @include tokens.register("list");

  #{fun.selector("list")} {
    margin-left: tokens.get("list", "indent", tokens.get("spacing-lg"));

    ul,
    ol {
      margin-left: tokens.get("list", "indent", tokens.get("spacing-lg"));
    }

    li li,
    li + li {
      margin-top: tokens.get("list", "spacing", tokens.get("spacing-sm"));
    }
  }

  #{fun.selector("list-style-none")} {
    list-style: none !important;
  }
}
