@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("list") {
  #{fun.selector("list")} {
    margin-left: var.$list-indent;

    ul,
    ol {
      margin-left: var.$list-indent;
    }

    li li,
    li + li {
      margin-top: var.$list-item-gap;
    }
  }

  #{fun.selector("list-style-none")} {
    list-style: none !important;
  }
}
