@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("normalize") {
  @include css.register("base");

  // Remove margin, padding and inherit box-sizing on everything
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  // Default html (root) and body styles
  html,
  body {
    height: css.get("base", "height", 100%);
  }

  html {
    box-sizing: border-box;
    font-size: css.get("base", "font-size", 16px);
    -moz-osx-font-smoothing: grayscale;
    line-height: css.get("base", "line-height", css.get("line-height"));
    text-size-adjust: 100%;
  }

  body {
    background: css.get("base", "background", css.get("background"));
    color: css.get("base", "foreground", css.get("foreground"));
    font-family: css.get("font-family");
  }

  // Reset font-size for headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
  }

  // Better default styles for images
  img {
    border: 0;
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  // Global font weight for Chrome, Edge, and Safari
  b,
  strong {
    font-weight: bold;
  }

  // Default anchor and button styles
  a,
  button {
    color: inherit;
  }

  a {
    text-decoration: none;
  }

  // Default font family and font size for code and pre elements
  code,
  pre {
    font-family: css.get("font-family-mono");
    font-size: 1em;
  }

  // Default small element font-size
  small {
    font-size: css.get("font-size-sm");
  }

  // Better default table styles
  table {
    border-collapse: collapse;
  }

  // Better default caption styles
  caption {
    caption-side: bottom;
    color: css.get("foreground-lighter");
    text-align: left;
  }

  // Default form input element styles
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
  }

  button,
  input {
    overflow: visible;
  }

  button {
    background: none;
    border: 0;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-transform: none;
  }

  // Correct the inability to style clickable types in iOS and Safari
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    appearance: auto;
  }
}
