@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("pre") {
  @include css.register("pre");

  #{fun.selector("pre")} {
    background: css.get("pre", "background", css.get("background-dark"));
    border: css.get("pre", "padding", null);
    border-radius: css.get("pre", "padding", css.get("border-radius"));
    color: css.get("pre", "foreground", css.get("foreground"));
    font-family: css.get("font-family-mono");
    overflow: auto;
    padding: css.get("pre", "padding", 1em);

    code {
      background: none;
      border: none;
      color: inherit;
      font-size: css.get("pre", "font-size", css.get("font-size-sm"));
      padding: 0;
    }
  }
}
