@use "@vrembem/core/css";
@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("pre") {
  #{fun.selector("pre")} {
    padding: var.$pre-padding;
    overflow: auto;
    border: var.$pre-border;
    border-radius: var.$pre-border-radius;
    background: var.$pre-background;
    color: var.$pre-foreground;
    font-family: css.get("font-family-mono");

    code {
      padding: 0;
      border: none;
      background: none;
      color: inherit;
      font-size: var.$pre-font-size;
    }
  }
}
