@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("separator") {
  @include css.register("separator");

  #{fun.selector("separator")} {
    border: none;
    border-top: css.get("separator", "border", css.get("border"));
    display: block;
    height: 0;
  }
}
