@use "../variables" as var;
@use "../functions" as fun;

@if fun.maybe-output("separator") {
  #{fun.selector("separator")} {
    display: block;
    height: 0;
    border: none;
    border-top: var.$separator-border;
  }
}
