@use "../variables" as var;
@use "../mixins" as mix;

$_b: var.$prefix-block;
$_c: var.$class-separator;

@if (var.$output-separator) {
  .#{$_b}#{$_c} {
    @include mix.separator(var.$separator-border);
  }
}
