@use "@vrembem/core/css";
@use "../functions" as fun;

@if fun.maybe-output("type") {
  @include css.register("type");
  @include css.register("heading");

  #{fun.selector("type")} {
    color: css.get("type", "foreground", css.get("foreground-light"));
    font-family: css.get("type", "font-family", inherit);
    font-size: css.get("type", "font-size", inherit);
    line-height: css.get("type", "line-height", inherit);

    > * + * {
      margin-top: css.get("type", "gap", null);
    }
  }
}
