@use "@vrembem/core/css";
@use "../functions" as fun;
@use "../mixins" as mix;

@if fun.maybe-output("type") {
  @include css.register("type");
  @include css.register("heading");

  #{fun.selector("type")} {
    color: css.get("type", "foreground", css.get("foreground-light"));
    font-family: css.get("type", "font-family", inherit);
    font-size: css.get("type", "font-size", inherit);
    line-height: css.get("type", "line-height", inherit);

    > * + * {
      margin-top: css.get("type", "gap", null);
    }

    > {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: css.get("heading", "foreground", css.get("foreground"));
        font-family: css.get("heading", "font-family", inherit);
        font-size: css.get("heading", "font-size", 1em);
        font-weight: css.get("heading", "font-weight", css.get("font-weight-semi-bold"));
        line-height: css.get("heading", "line-height", inherit);
      }

      @include mix.heading-levels($prefix: null);
    }
  }
}
