@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

#{core.bem("modal", null, "pos", "top")} {
  justify-content: flex-start;
}

#{core.bem("modal", null, "pos", "bottom")} {
  justify-content: flex-end;

  #{core.bem("modal", "dialog")} {
    transform: translateY(css.get("modal", "travel", var.$travel));
  }

  &.is-closing {
    #{core.bem("modal", "dialog")} {
      transform: translateY(css.get("modal", "travel", var.$travel));
    }
  }
}

#{core.bem("modal", null, "pos", "left")},
#{core.bem("modal", null, "pos", "right")} {
  #{core.bem("modal", "dialog")} {
    @include css.override("modal", "width", var.$aside-width);
    @include css.override("modal", "max-width", var.$aside-max-width);
    height: 100%;
  }
}

#{core.bem("modal", null, "pos", "left")} {
  align-items: flex-start;

  #{core.bem("modal", "dialog")} {
    left: 0;
    transform: translateX(-100%);
  }

  &.is-closing {
    #{core.bem("modal", "dialog")} {
      transform: translateX(-100%);
    }
  }
}

#{core.bem("modal", null, "pos", "right")} {
  align-items: flex-end;

  #{core.bem("modal", "dialog")} {
    right: 0;
    transform: translateX(100%);
  }

  &.is-closing {
    #{core.bem("modal", "dialog")} {
      transform: translateX(100%);
    }
  }
}
