@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";

#{core.bem("modal")} {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 0;
  z-index: css.get("modal", "z-index", 1000);

  &::before {
    content: "";
    background-color: css.get("modal", "backdrop-color", css.get("backdrop-color"));
    inset: 0;
    opacity: 0;
    position: fixed;
  }
}

#{core.bem("modal", "dialog")} {
  @include css.override("dialog", config.get("modal-dialog-override"));

  max-width: css.get("modal", "width", config.get("modal-size", "default"));
  opacity: 0;
  overflow: auto;
  transform: translateY(calc(css.get("modal", "travel", 5em) * -1));
  transition-duration: css.get("modal", "transition-duration", css.get("transition-duration"));
  transition-timing-function: css.get("modal", "transition-timing-function", css.get("transition-timing-function"));
  width: css.get("modal", "max-width", 100%);
}

#{core.bem("modal")}.is-closed {
  visibility: hidden;
}

#{core.bem("modal")}.is-opening,
#{core.bem("modal")}.is-opened,
#{core.bem("modal")}.is-closing {
  height: 100%;
  padding: css.get("modal", "backdrop-padding", 1em);
  visibility: visible;
  width: 100%;
}

#{core.bem("modal")}.is-opening,
#{core.bem("modal")}.is-closing {
  &::before {
    transition: opacity css.get("modal", "transition-duration", css.get("transition-duration")) css.get("modal", "transition-timing-function", css.get("transition-timing-function"));
  }

  #{core.bem("modal", "dialog")} {
    transition-duration: css.get("modal", "transition-duration", css.get("transition-duration"));
    transition-property: opacity, transform;
    transition-timing-function: css.get("modal", "transition-timing-function", css.get("transition-timing-function"));
  }
}

#{core.bem("modal")}.is-opening,
#{core.bem("modal")}.is-opened {
  &::before {
    opacity: css.get("modal", "backdrop-opacity", css.get("backdrop-opacity"));
  }

  #{core.bem("modal", "dialog")} {
    opacity: 1;
    transform: translateY(0);
  }
}

#{core.bem("modal")}.is-closing #{core.bem("modal", "dialog")} {
  transform: translateY(calc(css.get("modal", "travel", 5em) * -1));
}
