@use "@vrembem/core/css";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;
$_v: var.$prefix-modifier-value;

@each $key, $value in var.$size-scale {
  .#{$_b}modal#{$_m}size#{$_v}#{$key} .#{$_b}modal#{$_e}dialog {
    @include css.override("modal", "width", $value);
  }
}
