@use "@vrembem/core/css";
@use "./variables" as var;

$_b: var.$prefix-block;
$_e: var.$prefix-element;
$_m: var.$prefix-modifier;

.#{$_b}modal#{$_m}full {
  .#{$_b}modal#{$_e}dialog {
    width: 100%;
    height: 100%;
    transform: scale(css.get("modal", "full-scale", var.$full-scale));
  }

  &.is-opened .#{$_b}modal#{$_e}dialog,
  &.is-opening .#{$_b}modal#{$_e}dialog {
    transform: scale(1);
  }

  &.is-closing .#{$_b}modal#{$_e}dialog {
    transform: scale(css.get("modal", "full-scale", var.$full-scale));
  }
}
