@use "@vrembem/core";
@use "@vrembem/core/tokens";

#{core.bem("modal", null, "full")} {
  #{core.bem("modal", "dialog")} {
    transform: scale(tokens.get("modal", "full-scale", 0.75));
    width: 100%;
    max-width: none;
    height: 100%;
  }

  &.is-opening #{core.bem("modal", "dialog")},
  &.is-opened #{core.bem("modal", "dialog")} {
    transform: scale(1);
  }
}
