@use "@vrembem/core";
@use "@vrembem/core/css";
@use "./variables" as var;

#{core.bem("modal", null, "full")} {
  #{core.bem("modal", "dialog")} {
    height: 100%;
    transform: scale(css.get("modal", "full-scale", var.$full-scale));
    width: 100%;
  }

  &.is-opened #{core.bem("modal", "dialog")},
  &.is-opening #{core.bem("modal", "dialog")} {
    transform: scale(1);
  }

  &.is-closing #{core.bem("modal", "dialog")} {
    transform: scale(css.get("modal", "full-scale", var.$full-scale));
  }
}
