@use "@vrembem/core";
@use "@vrembem/core/css";

#{core.bem("modal", null, "pos", "top")} {
  justify-content: flex-start;
}

#{core.bem("modal", null, "pos", "bottom")} {
  justify-content: flex-end;

  #{core.bem("modal", "dialog")} {
    transform: translateY(css.get("modal", "travel", 5em));
  }
}

#{core.bem("modal", null, "pos", "left")},
#{core.bem("modal", null, "pos", "right")} {
  #{core.bem("modal", "dialog")} {
    @include css.override("modal", "width", 16em);
    @include css.override("modal", "max-width", 90%);

    height: 100%;
  }
}

#{core.bem("modal", null, "pos", "left")} {
  align-items: flex-start;

  #{core.bem("modal", "dialog")} {
    left: 0;
    transform: translateX(-100%);
  }
}

#{core.bem("modal", null, "pos", "right")} {
  align-items: flex-end;

  #{core.bem("modal", "dialog")} {
    right: 0;
    transform: translateX(100%);
  }
}
