@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

// Register the dialog component for overrides later
@include css.register("dialog");

$z-index: 1000 !default;
$width: 36em !default;
$max-width: 100% !default;
$travel: 5em !default;
$transition-duration: css.get("dialog", "transition-duration", css.get("transition-duration")) !default;
$transition-timing-function: css.get("dialog", "transition-timing-function", css.get("transition-timing-function")) !default;

// Dialog override map is used to override `dialog` custom properties
$dialog-override: () !default;

// modal_pos_[value]
$aside-width: 16em !default;
$aside-max-width: 90% !default;

// modal_full
$full-scale: 0.75 !default;

// modal_size_[key]
$size-scale: (
  "xs": 20em,
  // 288px
  "sm": 24em,
  // 384px
  "md": 36em,
  // 576px
  "lg": 48em,
  // 768px
  "xl": 60em // 960px
) !default;

// Custom properties
@include css.set(
  "modal",
  (
    "transition-duration": $transition-duration,
    "transition-timing-function": $transition-timing-function
  ),
  "required"
);
