@use "@vrembem/core";
@use "@vrembem/core/config";
@use "@vrembem/core/usage";
@use "@vrembem/core/css";
@use "@vrembem/core/palette";

$prefix-variable: config.get("prefix-variables") !default;
$prefix-block: config.get("prefix-blocks") !default;
$prefix-element: config.get("prefix-elements") !default;
$prefix-modifier: config.get("prefix-modifiers") !default;
$prefix-modifier-value: config.get("prefix-modifier-values") !default;

$z-index: 1000 !default;
$width: 36em !default;
$travel: 5em !default;
$transition-duration: css.get("transition", "duration") !default;
$transition-timing-function: css.get("transition", "timing-function") !default;
$shadow: css.get("box-shadow-5") !default;

$screen-background: palette.get("neutral", 10) !default;
$screen-opacity: 0.8 !default;

$outline: 0 solid transparent !default;
$outline-focus: 4px solid palette.get("primary") !default;
$outline-focus-alert: 4px solid palette.get("important") !default;

// modal_pos_[value]
$aside-width: 16em !default;
$aside-max-width: 90% !default;

// modal_size_[key]
$size-scale: (
  "xs": 20em, // 288px
  "sm": 24em, // 384px
  "md": 36em, // 576px
  "lg": 48em, // 768px
  "xl": 60em  // 960px
) !default;

@include css.set("modal", (
  "transition-duration": $transition-duration,
  "transition-timing-function": $transition-timing-function
), "required");

// Required custom properties for JavaScript.
@include usage.set("core", "prefix", "required");
